{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/androidenterprise": {
          "description": "Manage corporate Android devices"
        }
      }
    }
  },
  "basePath": "",
  "baseUrl": "https://www.googleapis.com/",
  "batchPath": "batch/androidenterprise/v1",
  "canonicalName": "Android Enterprise",
  "description": "Manages the deployment of apps to Android Enterprise devices.",
  "discoveryVersion": "v1",
  "documentationLink": "https://developers.google.com/android/work/play/emm-api",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "id": "androidenterprise:v1",
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://www.mtls.googleapis.com/",
  "name": "androidenterprise",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "parameters": {
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "protocol": "rest",
  "resources": {
    "devices": {
      "methods": {
        "forceReportUpload": {
          "description": "Uploads a report containing any changes in app states on the device since\nthe last report was generated. You can call this method up to 3 times every\n24 hours for a given device.\nIf you exceed the quota, then the Google Play EMM API returns <code>HTTP\n429 Too Many Requests</code>.",
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/forceReportUpload",
          "httpMethod": "POST",
          "id": "androidenterprise.devices.forceReportUpload",
          "parameterOrder": [
            "enterpriseId",
            "userId",
            "deviceId"
          ],
          "parameters": {
            "deviceId": {
              "description": "The ID of the device.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "userId": {
              "description": "The ID of the user.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/forceReportUpload",
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "get": {
          "description": "Retrieves the details of a device.",
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}",
          "httpMethod": "GET",
          "id": "androidenterprise.devices.get",
          "parameterOrder": [
            "enterpriseId",
            "userId",
            "deviceId"
          ],
          "parameters": {
            "deviceId": {
              "description": "The ID of the device.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "userId": {
              "description": "The ID of the user.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}",
          "response": {
            "$ref": "Device"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "getState": {
          "description": "Retrieves whether a device's access to Google services is enabled or\ndisabled.\nThe device state takes effect only if enforcing EMM policies on Android\ndevices is enabled in the Google Admin Console.\nOtherwise, the device state is ignored and all devices are allowed access\nto Google services.\nThis is only supported for Google-managed users.",
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/state",
          "httpMethod": "GET",
          "id": "androidenterprise.devices.getState",
          "parameterOrder": [
            "enterpriseId",
            "userId",
            "deviceId"
          ],
          "parameters": {
            "deviceId": {
              "description": "The ID of the device.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "userId": {
              "description": "The ID of the user.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/state",
          "response": {
            "$ref": "DeviceState"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "list": {
          "description": "Retrieves the IDs of all of a user's devices.",
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/devices",
          "httpMethod": "GET",
          "id": "androidenterprise.devices.list",
          "parameterOrder": [
            "enterpriseId",
            "userId"
          ],
          "parameters": {
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "userId": {
              "description": "The ID of the user.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/devices",
          "response": {
            "$ref": "DevicesListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "setState": {
          "description": "Sets whether a device's access to Google services is enabled or disabled.\nThe device state takes effect only if enforcing EMM policies on Android\ndevices is enabled in the Google Admin Console.\nOtherwise, the device state is ignored and all devices are allowed access\nto Google services.\nThis is only supported for Google-managed users.",
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/state",
          "httpMethod": "PUT",
          "id": "androidenterprise.devices.setState",
          "parameterOrder": [
            "enterpriseId",
            "userId",
            "deviceId"
          ],
          "parameters": {
            "deviceId": {
              "description": "The ID of the device.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "userId": {
              "description": "The ID of the user.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/state",
          "request": {
            "$ref": "DeviceState"
          },
          "response": {
            "$ref": "DeviceState"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "update": {
          "description": "Updates the device policy",
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}",
          "httpMethod": "PUT",
          "id": "androidenterprise.devices.update",
          "parameterOrder": [
            "enterpriseId",
            "userId",
            "deviceId"
          ],
          "parameters": {
            "deviceId": {
              "description": "The ID of the device.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "updateMask": {
              "description": "Mask that identifies which fields to update. If not set, all modifiable\nfields will be modified.\n\nWhen set in a query parameter, this field should be specified as\n<code>updateMask=&lt;field1&gt;,&lt;field2&gt;,...</code>",
              "location": "query",
              "type": "string"
            },
            "userId": {
              "description": "The ID of the user.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}",
          "request": {
            "$ref": "Device"
          },
          "response": {
            "$ref": "Device"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        }
      }
    },
    "enterprises": {
      "methods": {
        "acknowledgeNotificationSet": {
          "description": "Acknowledges notifications that were received from\nEnterprises.PullNotificationSet to prevent subsequent calls from returning\nthe same notifications.",
          "flatPath": "androidenterprise/v1/enterprises/acknowledgeNotificationSet",
          "httpMethod": "POST",
          "id": "androidenterprise.enterprises.acknowledgeNotificationSet",
          "parameterOrder": [],
          "parameters": {
            "notificationSetId": {
              "description": "The notification set ID as returned by Enterprises.PullNotificationSet.\nThis must be provided.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "androidenterprise/v1/enterprises/acknowledgeNotificationSet",
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "completeSignup": {
          "description": "Completes the signup flow, by specifying the Completion token and\nEnterprise token.\nThis request must not be called multiple times for a given Enterprise\nToken.",
          "flatPath": "androidenterprise/v1/enterprises/completeSignup",
          "httpMethod": "POST",
          "id": "androidenterprise.enterprises.completeSignup",
          "parameterOrder": [],
          "parameters": {
            "completionToken": {
              "description": "The Completion token initially returned by GenerateSignupUrl.",
              "location": "query",
              "type": "string"
            },
            "enterpriseToken": {
              "description": "The Enterprise token appended to the Callback URL.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "androidenterprise/v1/enterprises/completeSignup",
          "response": {
            "$ref": "Enterprise"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "createWebToken": {
          "description": "Returns a unique token to access an embeddable UI. To generate a\nweb UI, pass the generated token into the managed Google Play javascript\nAPI. Each token may only be used to start one UI session. See the\njavascript API documentation for further information.",
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/createWebToken",
          "httpMethod": "POST",
          "id": "androidenterprise.enterprises.createWebToken",
          "parameterOrder": [
            "enterpriseId"
          ],
          "parameters": {
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/createWebToken",
          "request": {
            "$ref": "AdministratorWebTokenSpec"
          },
          "response": {
            "$ref": "AdministratorWebToken"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "enroll": {
          "description": "Enrolls an enterprise with the calling EMM.",
          "flatPath": "androidenterprise/v1/enterprises/enroll",
          "httpMethod": "POST",
          "id": "androidenterprise.enterprises.enroll",
          "parameterOrder": [
            "token"
          ],
          "parameters": {
            "token": {
              "description": "Required. The token provided by the enterprise to register the EMM.",
              "location": "query",
              "required": true,
              "type": "string"
            }
          },
          "path": "androidenterprise/v1/enterprises/enroll",
          "request": {
            "$ref": "Enterprise"
          },
          "response": {
            "$ref": "Enterprise"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "generateSignupUrl": {
          "description": "Generates a sign-up URL.",
          "flatPath": "androidenterprise/v1/enterprises/signupUrl",
          "httpMethod": "POST",
          "id": "androidenterprise.enterprises.generateSignupUrl",
          "parameterOrder": [],
          "parameters": {
            "callbackUrl": {
              "description": "The callback URL to which the Admin will be redirected after successfully\ncreating an enterprise. Before redirecting there the system will add a\nsingle query parameter to this URL named \"enterpriseToken\" which will\ncontain an opaque token to be used for the CompleteSignup request.<br>\nBeware that this means that the URL will be parsed, the parameter added\nand then a new URL formatted, i.e. there may be some minor formatting\nchanges and, more importantly, the URL must be well-formed so that it can\nbe parsed.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "androidenterprise/v1/enterprises/signupUrl",
          "response": {
            "$ref": "SignupInfo"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "get": {
          "description": "Retrieves the name and domain of an enterprise.",
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}",
          "httpMethod": "GET",
          "id": "androidenterprise.enterprises.get",
          "parameterOrder": [
            "enterpriseId"
          ],
          "parameters": {
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "androidenterprise/v1/enterprises/{enterpriseId}",
          "response": {
            "$ref": "Enterprise"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "getServiceAccount": {
          "description": "Returns a service account and credentials. The service account\ncan be bound to the enterprise by calling setAccount. The service account\nis unique to this enterprise and EMM, and will be deleted if the enterprise\nis unbound. The credentials contain private key data and are not stored\nserver-side.\n<br> <br>\nThis method can only be called after calling\nEnterprises.Enroll or Enterprises.CompleteSignup, and before\nEnterprises.SetAccount; at other times it will return an error.\n<br> <br>\nSubsequent calls after the first will generate a new, unique set of\ncredentials, and invalidate the previously generated credentials.\n<br> <br>\nOnce the service account is bound to the enterprise, it can be managed\nusing the serviceAccountKeys resource.",
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/serviceAccount",
          "httpMethod": "GET",
          "id": "androidenterprise.enterprises.getServiceAccount",
          "parameterOrder": [
            "enterpriseId"
          ],
          "parameters": {
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "keyType": {
              "description": "The type of credential to return with the service account. Required.",
              "enum": [
                "GOOGLE_CREDENTIALS",
                "PKCS12"
              ],
              "location": "query",
              "type": "string"
            }
          },
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/serviceAccount",
          "response": {
            "$ref": "ServiceAccount"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "getStoreLayout": {
          "description": "Returns the store layout for the enterprise. If the store layout\nhas not been set, returns \"basic\" as the store layout type and no\nhomepage.",
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/storeLayout",
          "httpMethod": "GET",
          "id": "androidenterprise.enterprises.getStoreLayout",
          "parameterOrder": [
            "enterpriseId"
          ],
          "parameters": {
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/storeLayout",
          "response": {
            "$ref": "StoreLayout"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "list": {
          "description": "Looks up an enterprise by domain name.\nThis is only supported for enterprises created via the Google-initiated\ncreation flow.  Lookup of the id is not needed for enterprises created via\nthe EMM-initiated flow since the EMM learns the enterprise ID in the\ncallback specified in the Enterprises.generateSignupUrl call.",
          "flatPath": "androidenterprise/v1/enterprises",
          "httpMethod": "GET",
          "id": "androidenterprise.enterprises.list",
          "parameterOrder": [
            "domain"
          ],
          "parameters": {
            "domain": {
              "description": "Required. The exact primary domain name of the enterprise to look up.",
              "location": "query",
              "required": true,
              "type": "string"
            }
          },
          "path": "androidenterprise/v1/enterprises",
          "response": {
            "$ref": "EnterprisesListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "pullNotificationSet": {
          "description": "Pulls and returns a notification set for the enterprises associated with\nthe service account authenticated for the request. The notification set may\nbe empty if no notification are pending.\n<br>\nA notification set returned needs to be acknowledged within 20 seconds\nby calling Enterprises.AcknowledgeNotificationSet, unless the\nnotification set is empty.\n<br>\nNotifications that are not acknowledged within the 20 seconds will\neventually be included again in the response to another PullNotificationSet\nrequest, and those that are never acknowledged will ultimately be deleted\naccording to the Google Cloud Platform Pub/Sub system policy.\n<br>\nMultiple requests might be performed concurrently to retrieve\nnotifications, in which case the pending notifications (if any) will be\nsplit among each caller, if any are pending.\n<br>\nIf no notifications are present, an empty notification list is returned.\nSubsequent requests may return more notifications once they become\navailable.",
          "flatPath": "androidenterprise/v1/enterprises/pullNotificationSet",
          "httpMethod": "POST",
          "id": "androidenterprise.enterprises.pullNotificationSet",
          "parameterOrder": [],
          "parameters": {
            "requestMode": {
              "description": "The request mode for pulling notifications.\n<br>\nSpecifying <code>waitForNotifications</code> will cause the request to\nblock and wait until one or more notifications are present, or return an\nempty notification list if no notifications are present after some time.\n<br>\nSpeciying <code>returnImmediately</code> will cause the request to\nimmediately return the pending notifications, or an empty list if no\nnotifications are present.\n<br>\nIf omitted, defaults to <code>waitForNotifications</code>.",
              "enum": [
                "WAIT_FOR_NOTIFICATIONS",
                "RETURN_IMMEDIATELY"
              ],
              "location": "query",
              "type": "string"
            }
          },
          "path": "androidenterprise/v1/enterprises/pullNotificationSet",
          "response": {
            "$ref": "NotificationSet"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "sendTestPushNotification": {
          "description": "Sends a test notification to validate the EMM integration with\nthe Google Cloud Pub/Sub service for this enterprise.",
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/sendTestPushNotification",
          "httpMethod": "POST",
          "id": "androidenterprise.enterprises.sendTestPushNotification",
          "parameterOrder": [
            "enterpriseId"
          ],
          "parameters": {
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/sendTestPushNotification",
          "response": {
            "$ref": "EnterprisesSendTestPushNotificationResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "setAccount": {
          "description": "Sets the account that will be used to authenticate to the API as the\nenterprise.",
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/account",
          "httpMethod": "PUT",
          "id": "androidenterprise.enterprises.setAccount",
          "parameterOrder": [
            "enterpriseId"
          ],
          "parameters": {
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/account",
          "request": {
            "$ref": "EnterpriseAccount"
          },
          "response": {
            "$ref": "EnterpriseAccount"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "setStoreLayout": {
          "description": "Sets the store layout for the enterprise. By default, storeLayoutType\nis set to \"basic\" and the basic store layout is enabled. The basic\nlayout only contains apps approved by the admin, and that have\nbeen added to the available product set for a user (using the\n<a href=\"/android/work/play/emm-api/v1/users/setAvailableProductSet\">\nsetAvailableProductSet</a> call). Apps on the page are sorted in order of\ntheir product ID value. If you create a custom store layout (by setting\nstoreLayoutType = \"custom\" and setting a homepage), the basic store\nlayout is disabled.",
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/storeLayout",
          "httpMethod": "PUT",
          "id": "androidenterprise.enterprises.setStoreLayout",
          "parameterOrder": [
            "enterpriseId"
          ],
          "parameters": {
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/storeLayout",
          "request": {
            "$ref": "StoreLayout"
          },
          "response": {
            "$ref": "StoreLayout"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "unenroll": {
          "description": "Unenrolls an enterprise from the calling EMM.",
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/unenroll",
          "httpMethod": "POST",
          "id": "androidenterprise.enterprises.unenroll",
          "parameterOrder": [
            "enterpriseId"
          ],
          "parameters": {
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/unenroll",
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        }
      }
    },
    "entitlements": {
      "methods": {
        "delete": {
          "description": "Removes an entitlement to an app for a user.",
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/entitlements/{entitlementId}",
          "httpMethod": "DELETE",
          "id": "androidenterprise.entitlements.delete",
          "parameterOrder": [
            "enterpriseId",
            "userId",
            "entitlementId"
          ],
          "parameters": {
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "entitlementId": {
              "description": "The ID of the entitlement (a product ID), e.g. \"app:com.google.android.gm\".",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "userId": {
              "description": "The ID of the user.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/entitlements/{entitlementId}",
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "get": {
          "description": "Retrieves details of an entitlement.",
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/entitlements/{entitlementId}",
          "httpMethod": "GET",
          "id": "androidenterprise.entitlements.get",
          "parameterOrder": [
            "enterpriseId",
            "userId",
            "entitlementId"
          ],
          "parameters": {
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "entitlementId": {
              "description": "The ID of the entitlement (a product ID), e.g. \"app:com.google.android.gm\".",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "userId": {
              "description": "The ID of the user.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/entitlements/{entitlementId}",
          "response": {
            "$ref": "Entitlement"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "list": {
          "description": "Lists all entitlements for the specified user. Only the ID is set.",
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/entitlements",
          "httpMethod": "GET",
          "id": "androidenterprise.entitlements.list",
          "parameterOrder": [
            "enterpriseId",
            "userId"
          ],
          "parameters": {
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "userId": {
              "description": "The ID of the user.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/entitlements",
          "response": {
            "$ref": "EntitlementsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "update": {
          "description": "Adds or updates an entitlement to an app for a user.",
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/entitlements/{entitlementId}",
          "httpMethod": "PUT",
          "id": "androidenterprise.entitlements.update",
          "parameterOrder": [
            "enterpriseId",
            "userId",
            "entitlementId"
          ],
          "parameters": {
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "entitlementId": {
              "description": "The ID of the entitlement (a product ID), e.g. \"app:com.google.android.gm\".",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "install": {
              "description": "Set to true to also install the product on all the user's devices where\npossible. Failure to install on one or more devices will not prevent\nthis operation from returning successfully, as long as the entitlement\nwas successfully assigned to the user.",
              "location": "query",
              "type": "boolean"
            },
            "userId": {
              "description": "The ID of the user.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/entitlements/{entitlementId}",
          "request": {
            "$ref": "Entitlement"
          },
          "response": {
            "$ref": "Entitlement"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        }
      }
    },
    "grouplicenses": {
      "methods": {
        "get": {
          "description": "Retrieves details of an enterprise's group license for a product.",
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/groupLicenses/{groupLicenseId}",
          "httpMethod": "GET",
          "id": "androidenterprise.grouplicenses.get",
          "parameterOrder": [
            "enterpriseId",
            "groupLicenseId"
          ],
          "parameters": {
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "groupLicenseId": {
              "description": "The ID of the product the group license is for, e.g.\n\"app:com.google.android.gm\".",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/groupLicenses/{groupLicenseId}",
          "response": {
            "$ref": "GroupLicense"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "list": {
          "description": "Retrieves IDs of all products for which the enterprise has a group license.",
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/groupLicenses",
          "httpMethod": "GET",
          "id": "androidenterprise.grouplicenses.list",
          "parameterOrder": [
            "enterpriseId"
          ],
          "parameters": {
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/groupLicenses",
          "response": {
            "$ref": "GroupLicensesListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        }
      }
    },
    "grouplicenseusers": {
      "methods": {
        "list": {
          "description": "Retrieves the IDs of the users who have been granted entitlements\nunder the license.",
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/groupLicenses/{groupLicenseId}/users",
          "httpMethod": "GET",
          "id": "androidenterprise.grouplicenseusers.list",
          "parameterOrder": [
            "enterpriseId",
            "groupLicenseId"
          ],
          "parameters": {
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "groupLicenseId": {
              "description": "The ID of the product the group license is for, e.g.\n\"app:com.google.android.gm\".",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/groupLicenses/{groupLicenseId}/users",
          "response": {
            "$ref": "GroupLicenseUsersListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        }
      }
    },
    "installs": {
      "methods": {
        "delete": {
          "description": "Requests to remove an app from a device. A call to <code>get</code> or\n<code>list</code> will still show the app as installed on the device until\nit is actually removed.",
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/installs/{installId}",
          "httpMethod": "DELETE",
          "id": "androidenterprise.installs.delete",
          "parameterOrder": [
            "enterpriseId",
            "userId",
            "deviceId",
            "installId"
          ],
          "parameters": {
            "deviceId": {
              "description": "The Android ID of the device.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "installId": {
              "description": "The ID of the product represented by the install, e.g.\n\"app:com.google.android.gm\".",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "userId": {
              "description": "The ID of the user.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/installs/{installId}",
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "get": {
          "description": "Retrieves details of an installation of an app on a device.",
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/installs/{installId}",
          "httpMethod": "GET",
          "id": "androidenterprise.installs.get",
          "parameterOrder": [
            "enterpriseId",
            "userId",
            "deviceId",
            "installId"
          ],
          "parameters": {
            "deviceId": {
              "description": "The Android ID of the device.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "installId": {
              "description": "The ID of the product represented by the install, e.g.\n\"app:com.google.android.gm\".",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "userId": {
              "description": "The ID of the user.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/installs/{installId}",
          "response": {
            "$ref": "Install"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "list": {
          "description": "Retrieves the details of all apps installed on the specified device.",
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/installs",
          "httpMethod": "GET",
          "id": "androidenterprise.installs.list",
          "parameterOrder": [
            "enterpriseId",
            "userId",
            "deviceId"
          ],
          "parameters": {
            "deviceId": {
              "description": "The Android ID of the device.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "userId": {
              "description": "The ID of the user.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/installs",
          "response": {
            "$ref": "InstallsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "update": {
          "description": "Requests to install the latest version of an app to a device. If the app\nis already installed, then it is updated to the latest version if\nnecessary.",
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/installs/{installId}",
          "httpMethod": "PUT",
          "id": "androidenterprise.installs.update",
          "parameterOrder": [
            "enterpriseId",
            "userId",
            "deviceId",
            "installId"
          ],
          "parameters": {
            "deviceId": {
              "description": "The Android ID of the device.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "installId": {
              "description": "The ID of the product represented by the install, e.g.\n\"app:com.google.android.gm\".",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "userId": {
              "description": "The ID of the user.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/installs/{installId}",
          "request": {
            "$ref": "Install"
          },
          "response": {
            "$ref": "Install"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        }
      }
    },
    "managedconfigurationsfordevice": {
      "methods": {
        "delete": {
          "description": "Removes a per-device managed configuration for an app for the specified\ndevice.",
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/managedConfigurationsForDevice/{managedConfigurationForDeviceId}",
          "httpMethod": "DELETE",
          "id": "androidenterprise.managedconfigurationsfordevice.delete",
          "parameterOrder": [
            "enterpriseId",
            "userId",
            "deviceId",
            "managedConfigurationForDeviceId"
          ],
          "parameters": {
            "deviceId": {
              "description": "The Android ID of the device.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "managedConfigurationForDeviceId": {
              "description": "The ID of the managed configuration (a product ID), e.g.\n\"app:com.google.android.gm\".",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "userId": {
              "description": "The ID of the user.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/managedConfigurationsForDevice/{managedConfigurationForDeviceId}",
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "get": {
          "description": "Retrieves details of a per-device managed configuration.",
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/managedConfigurationsForDevice/{managedConfigurationForDeviceId}",
          "httpMethod": "GET",
          "id": "androidenterprise.managedconfigurationsfordevice.get",
          "parameterOrder": [
            "enterpriseId",
            "userId",
            "deviceId",
            "managedConfigurationForDeviceId"
          ],
          "parameters": {
            "deviceId": {
              "description": "The Android ID of the device.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "managedConfigurationForDeviceId": {
              "description": "The ID of the managed configuration (a product ID), e.g.\n\"app:com.google.android.gm\".",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "userId": {
              "description": "The ID of the user.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/managedConfigurationsForDevice/{managedConfigurationForDeviceId}",
          "response": {
            "$ref": "ManagedConfiguration"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "list": {
          "description": "Lists all the per-device managed configurations for the specified device.\nOnly the ID is set.",
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/managedConfigurationsForDevice",
          "httpMethod": "GET",
          "id": "androidenterprise.managedconfigurationsfordevice.list",
          "parameterOrder": [
            "enterpriseId",
            "userId",
            "deviceId"
          ],
          "parameters": {
            "deviceId": {
              "description": "The Android ID of the device.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "userId": {
              "description": "The ID of the user.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/managedConfigurationsForDevice",
          "response": {
            "$ref": "ManagedConfigurationsForDeviceListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "update": {
          "description": "Adds or updates a per-device managed configuration for an app for the\nspecified device.",
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/managedConfigurationsForDevice/{managedConfigurationForDeviceId}",
          "httpMethod": "PUT",
          "id": "androidenterprise.managedconfigurationsfordevice.update",
          "parameterOrder": [
            "enterpriseId",
            "userId",
            "deviceId",
            "managedConfigurationForDeviceId"
          ],
          "parameters": {
            "deviceId": {
              "description": "The Android ID of the device.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "managedConfigurationForDeviceId": {
              "description": "The ID of the managed configuration (a product ID), e.g.\n\"app:com.google.android.gm\".",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "userId": {
              "description": "The ID of the user.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/managedConfigurationsForDevice/{managedConfigurationForDeviceId}",
          "request": {
            "$ref": "ManagedConfiguration"
          },
          "response": {
            "$ref": "ManagedConfiguration"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        }
      }
    },
    "managedconfigurationsforuser": {
      "methods": {
        "delete": {
          "description": "Removes a per-user managed configuration for an app for the specified user.",
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/managedConfigurationsForUser/{managedConfigurationForUserId}",
          "httpMethod": "DELETE",
          "id": "androidenterprise.managedconfigurationsforuser.delete",
          "parameterOrder": [
            "enterpriseId",
            "userId",
            "managedConfigurationForUserId"
          ],
          "parameters": {
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "managedConfigurationForUserId": {
              "description": "The ID of the managed configuration (a product ID), e.g.\n\"app:com.google.android.gm\".",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "userId": {
              "description": "The ID of the user.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/managedConfigurationsForUser/{managedConfigurationForUserId}",
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "get": {
          "description": "Retrieves details of a per-user managed configuration for an app for the\nspecified user.",
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/managedConfigurationsForUser/{managedConfigurationForUserId}",
          "httpMethod": "GET",
          "id": "androidenterprise.managedconfigurationsforuser.get",
          "parameterOrder": [
            "enterpriseId",
            "userId",
            "managedConfigurationForUserId"
          ],
          "parameters": {
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "managedConfigurationForUserId": {
              "description": "The ID of the managed configuration (a product ID), e.g.\n\"app:com.google.android.gm\".",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "userId": {
              "description": "The ID of the user.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/managedConfigurationsForUser/{managedConfigurationForUserId}",
          "response": {
            "$ref": "ManagedConfiguration"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "list": {
          "description": "Lists all the per-user managed configurations for the specified user. Only\nthe ID is set.",
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/managedConfigurationsForUser",
          "httpMethod": "GET",
          "id": "androidenterprise.managedconfigurationsforuser.list",
          "parameterOrder": [
            "enterpriseId",
            "userId"
          ],
          "parameters": {
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "userId": {
              "description": "The ID of the user.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/managedConfigurationsForUser",
          "response": {
            "$ref": "ManagedConfigurationsForUserListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "update": {
          "description": "Adds or updates the managed configuration settings for an app for the\nspecified user.\nIf you support the <a\nhref=\"https://developers.google.com/android/work/play/emm-api/managed-configurations-iframe\">Managed\nconfigurations iframe</a>,\nyou can apply managed configurations to a user by specifying an\n<code>mcmId</code>\nand its associated configuration variables (if any) in the request.\nAlternatively,\nall EMMs can apply managed configurations by passing a list of managed\nproperties.",
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/managedConfigurationsForUser/{managedConfigurationForUserId}",
          "httpMethod": "PUT",
          "id": "androidenterprise.managedconfigurationsforuser.update",
          "parameterOrder": [
            "enterpriseId",
            "userId",
            "managedConfigurationForUserId"
          ],
          "parameters": {
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "managedConfigurationForUserId": {
              "description": "The ID of the managed configuration (a product ID), e.g.\n\"app:com.google.android.gm\".",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "userId": {
              "description": "The ID of the user.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/managedConfigurationsForUser/{managedConfigurationForUserId}",
          "request": {
            "$ref": "ManagedConfiguration"
          },
          "response": {
            "$ref": "ManagedConfiguration"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        }
      }
    },
    "managedconfigurationssettings": {
      "methods": {
        "list": {
          "description": "Lists all the managed configurations settings for the specified app.",
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/products/{productId}/managedConfigurationsSettings",
          "httpMethod": "GET",
          "id": "androidenterprise.managedconfigurationssettings.list",
          "parameterOrder": [
            "enterpriseId",
            "productId"
          ],
          "parameters": {
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "productId": {
              "description": "The ID of the product for which the managed configurations settings applies\nto.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/products/{productId}/managedConfigurationsSettings",
          "response": {
            "$ref": "ManagedConfigurationsSettingsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        }
      }
    },
    "permissions": {
      "methods": {
        "get": {
          "description": "Retrieves details of an Android app permission for display to an enterprise\nadmin.",
          "flatPath": "androidenterprise/v1/permissions/{permissionId}",
          "httpMethod": "GET",
          "id": "androidenterprise.permissions.get",
          "parameterOrder": [
            "permissionId"
          ],
          "parameters": {
            "language": {
              "description": "The BCP47 tag for the user's preferred language (e.g. \"en-US\", \"de\")",
              "location": "query",
              "type": "string"
            },
            "permissionId": {
              "description": "The ID of the permission.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "androidenterprise/v1/permissions/{permissionId}",
          "response": {
            "$ref": "Permission"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        }
      }
    },
    "products": {
      "methods": {
        "approve": {
          "description": "<p>Approves the specified product and the relevant app permissions, if any.\nThe maximum number of products that you can approve per enterprise customer\nis 1,000.</p>\n<p>To learn how to use managed Google Play to design and create a store\nlayout to display approved products to your users,\nsee <a href=\"/android/work/play/emm-api/store-layout\">Store Layout\nDesign</a>.</p>",
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/products/{productId}/approve",
          "httpMethod": "POST",
          "id": "androidenterprise.products.approve",
          "parameterOrder": [
            "enterpriseId",
            "productId"
          ],
          "parameters": {
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "productId": {
              "description": "The ID of the product.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/products/{productId}/approve",
          "request": {
            "$ref": "ProductsApproveRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "generateApprovalUrl": {
          "description": "Generates a URL that can be rendered in an iframe to display the\npermissions (if any) of a product. An enterprise admin must view these\npermissions and accept them on behalf of their organization in order to\napprove that product. <br><br>\nAdmins should accept the displayed permissions by\ninteracting with a separate UI element in the EMM console, which in turn\nshould trigger the use of this URL as the\n<code>approvalUrlInfo.approvalUrl</code> property in a\n<code>Products.approve</code> call to approve the product.\nThis URL can only be used to display permissions for up to 1 day.",
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/products/{productId}/generateApprovalUrl",
          "httpMethod": "POST",
          "id": "androidenterprise.products.generateApprovalUrl",
          "parameterOrder": [
            "enterpriseId",
            "productId"
          ],
          "parameters": {
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "languageCode": {
              "description": "The BCP 47 language code used for permission names and descriptions in\nthe returned iframe, for instance \"en-US\".",
              "location": "query",
              "type": "string"
            },
            "productId": {
              "description": "The ID of the product.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/products/{productId}/generateApprovalUrl",
          "response": {
            "$ref": "ProductsGenerateApprovalUrlResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "get": {
          "description": "Retrieves details of a product for display to an enterprise admin.",
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/products/{productId}",
          "httpMethod": "GET",
          "id": "androidenterprise.products.get",
          "parameterOrder": [
            "enterpriseId",
            "productId"
          ],
          "parameters": {
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "language": {
              "description": "The BCP47 tag for the user's preferred language (e.g. \"en-US\", \"de\").",
              "location": "query",
              "type": "string"
            },
            "productId": {
              "description": "The ID of the product, e.g. \"app:com.google.android.gm\".",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/products/{productId}",
          "response": {
            "$ref": "Product"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "getAppRestrictionsSchema": {
          "description": "Retrieves the schema that defines the configurable properties for this\nproduct. All products have a schema, but this schema may be empty if no\nmanaged configurations have been defined. This schema can be used to\npopulate a UI that allows an admin to configure the product.\nTo apply a managed configuration based on the schema obtained using this\nAPI, see\n<a href=\"/android/work/play/emm-api/managed-configurations\">Managed\nConfigurations through Play</a>.",
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/products/{productId}/appRestrictionsSchema",
          "httpMethod": "GET",
          "id": "androidenterprise.products.getAppRestrictionsSchema",
          "parameterOrder": [
            "enterpriseId",
            "productId"
          ],
          "parameters": {
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "language": {
              "description": "The BCP47 tag for the user's preferred language (e.g. \"en-US\", \"de\").",
              "location": "query",
              "type": "string"
            },
            "productId": {
              "description": "The ID of the product.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/products/{productId}/appRestrictionsSchema",
          "response": {
            "$ref": "AppRestrictionsSchema"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "getPermissions": {
          "description": "Retrieves the Android app permissions required by this app.",
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/products/{productId}/permissions",
          "httpMethod": "GET",
          "id": "androidenterprise.products.getPermissions",
          "parameterOrder": [
            "enterpriseId",
            "productId"
          ],
          "parameters": {
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "productId": {
              "description": "The ID of the product.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/products/{productId}/permissions",
          "response": {
            "$ref": "ProductPermissions"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "list": {
          "description": "Finds approved products that match a query, or all approved products\nif there is no query.",
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/products",
          "httpMethod": "GET",
          "id": "androidenterprise.products.list",
          "parameterOrder": [
            "enterpriseId"
          ],
          "parameters": {
            "approved": {
              "description": "Specifies whether to search among all products (false) or among\nonly products that have been approved (true). Only \"true\" is\nsupported, and should be specified.",
              "location": "query",
              "type": "boolean"
            },
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "language": {
              "description": "The BCP47 tag for the user's preferred language (e.g. \"en-US\", \"de\").\nResults are returned in the language best matching the preferred\nlanguage.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "description": "Defines how many results the list operation should return.\nThe default number depends on the resource collection.",
              "format": "uint32",
              "location": "query",
              "type": "integer"
            },
            "query": {
              "description": "The search query as typed in the Google Play store search box.\nIf omitted, all approved apps will be returned (using the pagination\nparameters), including apps that are not available in the store\n(e.g. unpublished apps).",
              "location": "query",
              "type": "string"
            },
            "token": {
              "description": "Defines the token of the page to return, usually taken from\nTokenPagination.\nThis can only be used if token paging is enabled.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/products",
          "response": {
            "$ref": "ProductsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "unapprove": {
          "description": "Unapproves the specified product (and the relevant app permissions, if any)",
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/products/{productId}/unapprove",
          "httpMethod": "POST",
          "id": "androidenterprise.products.unapprove",
          "parameterOrder": [
            "enterpriseId",
            "productId"
          ],
          "parameters": {
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "productId": {
              "description": "The ID of the product.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/products/{productId}/unapprove",
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        }
      }
    },
    "serviceaccountkeys": {
      "methods": {
        "delete": {
          "description": "Removes and invalidates the specified credentials for the service account\nassociated with this enterprise. The calling service account must have been\nretrieved by calling Enterprises.GetServiceAccount and must have been set\nas the enterprise service account by calling Enterprises.SetAccount.",
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/serviceAccountKeys/{keyId}",
          "httpMethod": "DELETE",
          "id": "androidenterprise.serviceaccountkeys.delete",
          "parameterOrder": [
            "enterpriseId",
            "keyId"
          ],
          "parameters": {
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "keyId": {
              "description": "The ID of the key.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/serviceAccountKeys/{keyId}",
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "insert": {
          "description": "Generates new credentials for the service account associated with this\nenterprise. The calling service account must have been retrieved by calling\nEnterprises.GetServiceAccount and must have been set as the enterprise\nservice account by calling Enterprises.SetAccount. <br><br>\nOnly the type of the key should be populated in the resource to be\ninserted.",
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/serviceAccountKeys",
          "httpMethod": "POST",
          "id": "androidenterprise.serviceaccountkeys.insert",
          "parameterOrder": [
            "enterpriseId"
          ],
          "parameters": {
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/serviceAccountKeys",
          "request": {
            "$ref": "ServiceAccountKey"
          },
          "response": {
            "$ref": "ServiceAccountKey"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "list": {
          "description": "Lists all active credentials for the service account associated with this\nenterprise. Only the ID and key type are returned. The calling service\naccount must have been retrieved by calling Enterprises.GetServiceAccount\nand must have been set as the enterprise service account by calling\nEnterprises.SetAccount.",
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/serviceAccountKeys",
          "httpMethod": "GET",
          "id": "androidenterprise.serviceaccountkeys.list",
          "parameterOrder": [
            "enterpriseId"
          ],
          "parameters": {
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/serviceAccountKeys",
          "response": {
            "$ref": "ServiceAccountKeysListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        }
      }
    },
    "storelayoutclusters": {
      "methods": {
        "delete": {
          "description": "Deletes a cluster.",
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/storeLayout/pages/{pageId}/clusters/{clusterId}",
          "httpMethod": "DELETE",
          "id": "androidenterprise.storelayoutclusters.delete",
          "parameterOrder": [
            "enterpriseId",
            "pageId",
            "clusterId"
          ],
          "parameters": {
            "clusterId": {
              "description": "The ID of the cluster.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "pageId": {
              "description": "The ID of the page.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/storeLayout/pages/{pageId}/clusters/{clusterId}",
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "get": {
          "description": "Retrieves details of a cluster.",
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/storeLayout/pages/{pageId}/clusters/{clusterId}",
          "httpMethod": "GET",
          "id": "androidenterprise.storelayoutclusters.get",
          "parameterOrder": [
            "enterpriseId",
            "pageId",
            "clusterId"
          ],
          "parameters": {
            "clusterId": {
              "description": "The ID of the cluster.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "pageId": {
              "description": "The ID of the page.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/storeLayout/pages/{pageId}/clusters/{clusterId}",
          "response": {
            "$ref": "StoreCluster"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "insert": {
          "description": "Inserts a new cluster in a page.",
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/storeLayout/pages/{pageId}/clusters",
          "httpMethod": "POST",
          "id": "androidenterprise.storelayoutclusters.insert",
          "parameterOrder": [
            "enterpriseId",
            "pageId"
          ],
          "parameters": {
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "pageId": {
              "description": "The ID of the page.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/storeLayout/pages/{pageId}/clusters",
          "request": {
            "$ref": "StoreCluster"
          },
          "response": {
            "$ref": "StoreCluster"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "list": {
          "description": "Retrieves the details of all clusters on the specified page.",
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/storeLayout/pages/{pageId}/clusters",
          "httpMethod": "GET",
          "id": "androidenterprise.storelayoutclusters.list",
          "parameterOrder": [
            "enterpriseId",
            "pageId"
          ],
          "parameters": {
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "pageId": {
              "description": "The ID of the page.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/storeLayout/pages/{pageId}/clusters",
          "response": {
            "$ref": "StoreLayoutClustersListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "update": {
          "description": "Updates a cluster.",
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/storeLayout/pages/{pageId}/clusters/{clusterId}",
          "httpMethod": "PUT",
          "id": "androidenterprise.storelayoutclusters.update",
          "parameterOrder": [
            "enterpriseId",
            "pageId",
            "clusterId"
          ],
          "parameters": {
            "clusterId": {
              "description": "The ID of the cluster.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "pageId": {
              "description": "The ID of the page.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/storeLayout/pages/{pageId}/clusters/{clusterId}",
          "request": {
            "$ref": "StoreCluster"
          },
          "response": {
            "$ref": "StoreCluster"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        }
      }
    },
    "storelayoutpages": {
      "methods": {
        "delete": {
          "description": "Deletes a store page.",
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/storeLayout/pages/{pageId}",
          "httpMethod": "DELETE",
          "id": "androidenterprise.storelayoutpages.delete",
          "parameterOrder": [
            "enterpriseId",
            "pageId"
          ],
          "parameters": {
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "pageId": {
              "description": "The ID of the page.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/storeLayout/pages/{pageId}",
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "get": {
          "description": "Retrieves details of a store page.",
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/storeLayout/pages/{pageId}",
          "httpMethod": "GET",
          "id": "androidenterprise.storelayoutpages.get",
          "parameterOrder": [
            "enterpriseId",
            "pageId"
          ],
          "parameters": {
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "pageId": {
              "description": "The ID of the page.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/storeLayout/pages/{pageId}",
          "response": {
            "$ref": "StorePage"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "insert": {
          "description": "Inserts a new store page.",
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/storeLayout/pages",
          "httpMethod": "POST",
          "id": "androidenterprise.storelayoutpages.insert",
          "parameterOrder": [
            "enterpriseId"
          ],
          "parameters": {
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/storeLayout/pages",
          "request": {
            "$ref": "StorePage"
          },
          "response": {
            "$ref": "StorePage"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "list": {
          "description": "Retrieves the details of all pages in the store.",
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/storeLayout/pages",
          "httpMethod": "GET",
          "id": "androidenterprise.storelayoutpages.list",
          "parameterOrder": [
            "enterpriseId"
          ],
          "parameters": {
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/storeLayout/pages",
          "response": {
            "$ref": "StoreLayoutPagesListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "update": {
          "description": "Updates the content of a store page.",
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/storeLayout/pages/{pageId}",
          "httpMethod": "PUT",
          "id": "androidenterprise.storelayoutpages.update",
          "parameterOrder": [
            "enterpriseId",
            "pageId"
          ],
          "parameters": {
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "pageId": {
              "description": "The ID of the page.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/storeLayout/pages/{pageId}",
          "request": {
            "$ref": "StorePage"
          },
          "response": {
            "$ref": "StorePage"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        }
      }
    },
    "users": {
      "methods": {
        "delete": {
          "description": "Deleted an EMM-managed user.",
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}",
          "httpMethod": "DELETE",
          "id": "androidenterprise.users.delete",
          "parameterOrder": [
            "enterpriseId",
            "userId"
          ],
          "parameters": {
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "userId": {
              "description": "The ID of the user.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}",
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "generateAuthenticationToken": {
          "description": "Generates an authentication token which the device policy client can use to\nprovision the given EMM-managed user account on a device.\nThe generated token is single-use and expires after a few minutes.\n\nYou can provision a maximum of 10 devices per user.\n\nThis call only works with EMM-managed accounts.",
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/authenticationToken",
          "httpMethod": "POST",
          "id": "androidenterprise.users.generateAuthenticationToken",
          "parameterOrder": [
            "enterpriseId",
            "userId"
          ],
          "parameters": {
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "userId": {
              "description": "The ID of the user.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/authenticationToken",
          "response": {
            "$ref": "AuthenticationToken"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "get": {
          "description": "Retrieves a user's details.",
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}",
          "httpMethod": "GET",
          "id": "androidenterprise.users.get",
          "parameterOrder": [
            "enterpriseId",
            "userId"
          ],
          "parameters": {
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "userId": {
              "description": "The ID of the user.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}",
          "response": {
            "$ref": "User"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "getAvailableProductSet": {
          "description": "Retrieves the set of products a user is entitled to access.",
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/availableProductSet",
          "httpMethod": "GET",
          "id": "androidenterprise.users.getAvailableProductSet",
          "parameterOrder": [
            "enterpriseId",
            "userId"
          ],
          "parameters": {
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "userId": {
              "description": "The ID of the user.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/availableProductSet",
          "response": {
            "$ref": "ProductSet"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "insert": {
          "description": "Creates a new EMM-managed user.\n\nThe <a href=\"/android/work/play/emm-api/v1/users.html\">Users</a> resource\npassed in the body of the request should include an\n<code>accountIdentifier</code> and an <code>accountType</code>.\n<p>If a corresponding user already exists with the same account identifier,\nthe user will be updated with the resource. In this case only the\n<code>displayName</code> field can be changed.",
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/users",
          "httpMethod": "POST",
          "id": "androidenterprise.users.insert",
          "parameterOrder": [
            "enterpriseId"
          ],
          "parameters": {
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/users",
          "request": {
            "$ref": "User"
          },
          "response": {
            "$ref": "User"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "list": {
          "description": "Looks up a user by primary email address.\nThis is only supported for Google-managed users.  Lookup of the id is not\nneeded for EMM-managed users because the id is already returned in the\nresult of the Users.insert call.",
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/users",
          "httpMethod": "GET",
          "id": "androidenterprise.users.list",
          "parameterOrder": [
            "enterpriseId",
            "email"
          ],
          "parameters": {
            "email": {
              "description": "Required. The exact primary email address of the user to look up.",
              "location": "query",
              "required": true,
              "type": "string"
            },
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/users",
          "response": {
            "$ref": "UsersListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "revokeDeviceAccess": {
          "description": "Revokes access to all devices currently provisioned to the user. The user\nwill no longer be able to use the managed Play store on any of their\nmanaged devices.\n\nThis call only works with EMM-managed accounts.",
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/deviceAccess",
          "httpMethod": "DELETE",
          "id": "androidenterprise.users.revokeDeviceAccess",
          "parameterOrder": [
            "enterpriseId",
            "userId"
          ],
          "parameters": {
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "userId": {
              "description": "The ID of the user.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/deviceAccess",
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "setAvailableProductSet": {
          "description": "Modifies the set of products that a user is entitled to access (referred to\nas <em>whitelisted</em> products). Only products that are\n<a href=\"/android/work/play/emm-api/v1/products/approve\">approved</a>\nor products that were previously approved (products with revoked approval)\ncan be whitelisted.",
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/availableProductSet",
          "httpMethod": "PUT",
          "id": "androidenterprise.users.setAvailableProductSet",
          "parameterOrder": [
            "enterpriseId",
            "userId"
          ],
          "parameters": {
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "userId": {
              "description": "The ID of the user.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/availableProductSet",
          "request": {
            "$ref": "ProductSet"
          },
          "response": {
            "$ref": "ProductSet"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "update": {
          "description": "Updates the details of an EMM-managed user.\n\nCan be used with EMM-managed users only (not Google managed users).\nPass the new details in the\n<a href=\"/android/work/play/emm-api/v1/users.html\">Users</a>\nresource in the request body. Only the <code>displayName</code> field\ncan be changed. Other fields must either be unset or have the\ncurrently active value.",
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}",
          "httpMethod": "PUT",
          "id": "androidenterprise.users.update",
          "parameterOrder": [
            "enterpriseId",
            "userId"
          ],
          "parameters": {
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "userId": {
              "description": "The ID of the user.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}",
          "request": {
            "$ref": "User"
          },
          "response": {
            "$ref": "User"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        }
      }
    },
    "webapps": {
      "methods": {
        "delete": {
          "description": "Deletes an existing web app.",
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/webApps/{webAppId}",
          "httpMethod": "DELETE",
          "id": "androidenterprise.webapps.delete",
          "parameterOrder": [
            "enterpriseId",
            "webAppId"
          ],
          "parameters": {
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "webAppId": {
              "description": "The ID of the web app.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/webApps/{webAppId}",
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "get": {
          "description": "Gets an existing web app.",
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/webApps/{webAppId}",
          "httpMethod": "GET",
          "id": "androidenterprise.webapps.get",
          "parameterOrder": [
            "enterpriseId",
            "webAppId"
          ],
          "parameters": {
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "webAppId": {
              "description": "The ID of the web app.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/webApps/{webAppId}",
          "response": {
            "$ref": "WebApp"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "insert": {
          "description": "Creates a new web app for the enterprise.",
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/webApps",
          "httpMethod": "POST",
          "id": "androidenterprise.webapps.insert",
          "parameterOrder": [
            "enterpriseId"
          ],
          "parameters": {
            "enterpriseId": {
[...]
