{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/androidpublisher": {
          "description": "View and manage your Google Play Developer account"
        }
      }
    }
  },
  "basePath": "",
  "baseUrl": "https://www.googleapis.com/",
  "batchPath": "batch/androidpublisher",
  "canonicalName": "Android Publisher",
  "description": "Lets Android application developers access their Google Play accounts.",
  "discoveryVersion": "v1",
  "documentationLink": "https://developers.google.com/android-publisher",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "id": "androidpublisher:v3",
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://www.mtls.googleapis.com/",
  "name": "androidpublisher",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "parameters": {
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "protocol": "rest",
  "resources": {
    "edits": {
      "methods": {
        "commit": {
          "description": "Commits an app edit.",
          "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}:commit",
          "httpMethod": "POST",
          "id": "androidpublisher.edits.commit",
          "parameterOrder": [
            "packageName",
            "editId"
          ],
          "parameters": {
            "editId": {
              "description": "Identifier of the edit.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "packageName": {
              "description": "Package name of the app.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}:commit",
          "response": {
            "$ref": "AppEdit"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        },
        "delete": {
          "description": "Deletes an app edit.",
          "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}",
          "httpMethod": "DELETE",
          "id": "androidpublisher.edits.delete",
          "parameterOrder": [
            "packageName",
            "editId"
          ],
          "parameters": {
            "editId": {
              "description": "Identifier of the edit.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "packageName": {
              "description": "Package name of the app.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        },
        "get": {
          "description": "Gets an app edit.",
          "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}",
          "httpMethod": "GET",
          "id": "androidpublisher.edits.get",
          "parameterOrder": [
            "packageName",
            "editId"
          ],
          "parameters": {
            "editId": {
              "description": "Identifier of the edit.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "packageName": {
              "description": "Package name of the app.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}",
          "response": {
            "$ref": "AppEdit"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        },
        "insert": {
          "description": "Creates a new edit for an app.",
          "flatPath": "androidpublisher/v3/applications/{packageName}/edits",
          "httpMethod": "POST",
          "id": "androidpublisher.edits.insert",
          "parameterOrder": [
            "packageName"
          ],
          "parameters": {
            "packageName": {
              "description": "Package name of the app.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "androidpublisher/v3/applications/{packageName}/edits",
          "request": {
            "$ref": "AppEdit"
          },
          "response": {
            "$ref": "AppEdit"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        },
        "validate": {
          "description": "Validates an app edit.",
          "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}:validate",
          "httpMethod": "POST",
          "id": "androidpublisher.edits.validate",
          "parameterOrder": [
            "packageName",
            "editId"
          ],
          "parameters": {
            "editId": {
              "description": "Identifier of the edit.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "packageName": {
              "description": "Package name of the app.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}:validate",
          "response": {
            "$ref": "AppEdit"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        }
      },
      "resources": {
        "apks": {
          "methods": {
            "addexternallyhosted": {
              "description": "Creates a new APK without uploading the APK itself to Google Play, instead\nhosting the APK at a specified URL. This function is only available to\norganizations using Managed Play whose application is configured to\nrestrict distribution to the organizations.",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/externallyHosted",
              "httpMethod": "POST",
              "id": "androidpublisher.edits.apks.addexternallyhosted",
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "parameters": {
                "editId": {
                  "description": "Identifier of the edit.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "packageName": {
                  "description": "Package name of the app.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/externallyHosted",
              "request": {
                "$ref": "ApksAddExternallyHostedRequest"
              },
              "response": {
                "$ref": "ApksAddExternallyHostedResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "list": {
              "description": "Lists all current APKs of the app and edit.",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks",
              "httpMethod": "GET",
              "id": "androidpublisher.edits.apks.list",
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "parameters": {
                "editId": {
                  "description": "Identifier of the edit.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "packageName": {
                  "description": "Package name of the app.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks",
              "response": {
                "$ref": "ApksListResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "upload": {
              "description": "Uploads an APK and adds to the current edit.",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks",
              "httpMethod": "POST",
              "id": "androidpublisher.edits.apks.upload",
              "mediaUpload": {
                "accept": [
                  "application/octet-stream",
                  "application/vnd.android.package-archive"
                ],
                "maxSize": "10737418240",
                "protocols": {
                  "simple": {
                    "multipart": true,
                    "path": "/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/apks"
                  }
                }
              },
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "parameters": {
                "editId": {
                  "description": "Identifier of the edit.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "packageName": {
                  "description": "Package name of the app.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks",
              "response": {
                "$ref": "Apk"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "supportsMediaUpload": true
            }
          }
        },
        "bundles": {
          "methods": {
            "list": {
              "description": "Lists all current Android App Bundles of the app and edit.",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/bundles",
              "httpMethod": "GET",
              "id": "androidpublisher.edits.bundles.list",
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "parameters": {
                "editId": {
                  "description": "Identifier of the edit.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "packageName": {
                  "description": "Package name of the app.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/bundles",
              "response": {
                "$ref": "BundlesListResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "upload": {
              "description": "Uploads a new Android App Bundle to this edit.\nIf you are using the Google API client libraries, please increase the\ntimeout of the http request before calling this endpoint\n(a timeout of 2 minutes is recommended).\nSee [Timeouts and\nErrors](https://developers.google.com/api-client-library/java/google-api-java-client/errors)\nfor an example in java.",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/bundles",
              "httpMethod": "POST",
              "id": "androidpublisher.edits.bundles.upload",
              "mediaUpload": {
                "accept": [
                  "application/octet-stream"
                ],
                "maxSize": "10737418240",
                "protocols": {
                  "simple": {
                    "multipart": true,
                    "path": "/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/bundles"
                  }
                }
              },
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "parameters": {
                "ackBundleInstallationWarning": {
                  "description": "Must be set to true if the bundle installation may trigger a warning on\nuser devices (for example, if installation size may be over a threshold,\ntypically 100 MB).",
                  "location": "query",
                  "type": "boolean"
                },
                "editId": {
                  "description": "Identifier of the edit.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "packageName": {
                  "description": "Package name of the app.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/bundles",
              "response": {
                "$ref": "Bundle"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "supportsMediaUpload": true
            }
          }
        },
        "deobfuscationfiles": {
          "methods": {
            "upload": {
              "description": "Uploads a new deobfuscation file and attaches to the specified APK.",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/deobfuscationFiles/{deobfuscationFileType}",
              "httpMethod": "POST",
              "id": "androidpublisher.edits.deobfuscationfiles.upload",
              "mediaUpload": {
                "accept": [
                  "application/octet-stream"
                ],
                "maxSize": "314572800",
                "protocols": {
                  "simple": {
                    "multipart": true,
                    "path": "/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/deobfuscationFiles/{deobfuscationFileType}"
                  }
                }
              },
              "parameterOrder": [
                "packageName",
                "editId",
                "apkVersionCode",
                "deobfuscationFileType"
              ],
              "parameters": {
                "apkVersionCode": {
                  "description": "The version code of the APK whose Deobfuscation File is being\nuploaded.",
                  "format": "int32",
                  "location": "path",
                  "required": true,
                  "type": "integer"
                },
                "deobfuscationFileType": {
                  "description": "The type of the deobfuscation file.",
                  "enum": [
                    "deobfuscationFileTypeUnspecified",
                    "proguard",
                    "nativeCode"
                  ],
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "editId": {
                  "description": "Unique identifier for this edit.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "packageName": {
                  "description": "Unique identifier for the Android app.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/deobfuscationFiles/{deobfuscationFileType}",
              "response": {
                "$ref": "DeobfuscationFilesUploadResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "supportsMediaUpload": true
            }
          }
        },
        "details": {
          "methods": {
            "get": {
              "description": "Gets details of an app.",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/details",
              "httpMethod": "GET",
              "id": "androidpublisher.edits.details.get",
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "parameters": {
                "editId": {
                  "description": "Identifier of the edit.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "packageName": {
                  "description": "Package name of the app.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/details",
              "response": {
                "$ref": "AppDetails"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "patch": {
              "description": "Patches details of an app.",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/details",
              "httpMethod": "PATCH",
              "id": "androidpublisher.edits.details.patch",
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "parameters": {
                "editId": {
                  "description": "Identifier of the edit.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "packageName": {
                  "description": "Package name of the app.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/details",
              "request": {
                "$ref": "AppDetails"
              },
              "response": {
                "$ref": "AppDetails"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "update": {
              "description": "Updates details of an app.",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/details",
              "httpMethod": "PUT",
              "id": "androidpublisher.edits.details.update",
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "parameters": {
                "editId": {
                  "description": "Identifier of the edit.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "packageName": {
                  "description": "Package name of the app.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/details",
              "request": {
                "$ref": "AppDetails"
              },
              "response": {
                "$ref": "AppDetails"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            }
          }
        },
        "expansionfiles": {
          "methods": {
            "get": {
              "description": "Fetches the expansion file configuration for the specified APK.",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
              "httpMethod": "GET",
              "id": "androidpublisher.edits.expansionfiles.get",
              "parameterOrder": [
                "packageName",
                "editId",
                "apkVersionCode",
                "expansionFileType"
              ],
              "parameters": {
                "apkVersionCode": {
                  "description": "The version code of the APK whose expansion file configuration is being\nread or modified.",
                  "format": "int32",
                  "location": "path",
                  "required": true,
                  "type": "integer"
                },
                "editId": {
                  "description": "Identifier of the edit.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "expansionFileType": {
                  "description": "The file type of the file configuration which is being read or modified.",
                  "enum": [
                    "expansionFileTypeUnspecified",
                    "main",
                    "patch"
                  ],
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "packageName": {
                  "description": "Package name of the app.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
              "response": {
                "$ref": "ExpansionFile"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "patch": {
              "description": "Patches the APK's expansion file configuration to reference another APK's\nexpansion file.\nTo add a new expansion file use the Upload method.",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
              "httpMethod": "PATCH",
              "id": "androidpublisher.edits.expansionfiles.patch",
              "parameterOrder": [
                "packageName",
                "editId",
                "apkVersionCode",
                "expansionFileType"
              ],
              "parameters": {
                "apkVersionCode": {
                  "description": "The version code of the APK whose expansion file configuration is being\nread or modified.",
                  "format": "int32",
                  "location": "path",
                  "required": true,
                  "type": "integer"
                },
                "editId": {
                  "description": "Identifier of the edit.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "expansionFileType": {
                  "description": "The file type of the expansion file configuration which is being updated.",
                  "enum": [
                    "expansionFileTypeUnspecified",
                    "main",
                    "patch"
                  ],
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "packageName": {
                  "description": "Package name of the app.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
              "request": {
                "$ref": "ExpansionFile"
              },
              "response": {
                "$ref": "ExpansionFile"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "update": {
              "description": "Updates the APK's expansion file configuration to reference another APK's\nexpansion file.\nTo add a new expansion file use the Upload method.",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
              "httpMethod": "PUT",
              "id": "androidpublisher.edits.expansionfiles.update",
              "parameterOrder": [
                "packageName",
                "editId",
                "apkVersionCode",
                "expansionFileType"
              ],
              "parameters": {
                "apkVersionCode": {
                  "description": "The version code of the APK whose expansion file configuration is being\nread or modified.",
                  "format": "int32",
                  "location": "path",
                  "required": true,
                  "type": "integer"
                },
                "editId": {
                  "description": "Identifier of the edit.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "expansionFileType": {
                  "description": "The file type of the file configuration which is being read or modified.",
                  "enum": [
                    "expansionFileTypeUnspecified",
                    "main",
                    "patch"
                  ],
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "packageName": {
                  "description": "Package name of the app.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
              "request": {
                "$ref": "ExpansionFile"
              },
              "response": {
                "$ref": "ExpansionFile"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "upload": {
              "description": "Uploads a new expansion file and attaches to the specified APK.",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
              "httpMethod": "POST",
              "id": "androidpublisher.edits.expansionfiles.upload",
              "mediaUpload": {
                "accept": [
                  "application/octet-stream"
                ],
                "maxSize": "2147483648",
                "protocols": {
                  "simple": {
                    "multipart": true,
                    "path": "/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}"
                  }
                }
              },
              "parameterOrder": [
                "packageName",
                "editId",
                "apkVersionCode",
                "expansionFileType"
              ],
              "parameters": {
                "apkVersionCode": {
                  "description": "The version code of the APK whose expansion file configuration is being\nread or modified.",
                  "format": "int32",
                  "location": "path",
                  "required": true,
                  "type": "integer"
                },
                "editId": {
                  "description": "Identifier of the edit.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "expansionFileType": {
                  "description": "The file type of the expansion file configuration which is being updated.",
                  "enum": [
                    "expansionFileTypeUnspecified",
                    "main",
                    "patch"
                  ],
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "packageName": {
                  "description": "Package name of the app.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
              "response": {
                "$ref": "ExpansionFilesUploadResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "supportsMediaUpload": true
            }
          }
        },
        "images": {
          "methods": {
            "delete": {
              "description": "Deletes the image (specified by id) from the edit.",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}/{imageId}",
              "httpMethod": "DELETE",
              "id": "androidpublisher.edits.images.delete",
              "parameterOrder": [
                "packageName",
                "editId",
                "language",
                "imageType",
                "imageId"
              ],
              "parameters": {
                "editId": {
                  "description": "Identifier of the edit.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "imageId": {
                  "description": "Unique identifier an image within the set of images attached to this edit.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "imageType": {
                  "description": "Type of the Image.",
                  "enum": [
                    "appImageTypeUnspecified",
                    "phoneScreenshots",
                    "sevenInchScreenshots",
                    "tenInchScreenshots",
                    "tvScreenshots",
                    "wearScreenshots",
                    "icon",
                    "featureGraphic",
                    "promoGraphic",
                    "tvBanner"
                  ],
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "language": {
                  "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\"\nfor Austrian German).",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "packageName": {
                  "description": "Package name of the app.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}/{imageId}",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "deleteall": {
              "description": "Deletes all images for the specified language and image type.\nReturns an empty response if no images are found.",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}",
              "httpMethod": "DELETE",
              "id": "androidpublisher.edits.images.deleteall",
              "parameterOrder": [
                "packageName",
                "editId",
                "language",
                "imageType"
              ],
              "parameters": {
                "editId": {
                  "description": "Identifier of the edit.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "imageType": {
                  "description": "Type of the Image.\nProviding an image type that refers to no images is a no-op.",
                  "enum": [
                    "appImageTypeUnspecified",
                    "phoneScreenshots",
                    "sevenInchScreenshots",
                    "tenInchScreenshots",
                    "tvScreenshots",
                    "wearScreenshots",
                    "icon",
                    "featureGraphic",
                    "promoGraphic",
                    "tvBanner"
                  ],
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "language": {
                  "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\"\nfor Austrian German).\nProviding a language that is not supported by the App is a no-op.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "packageName": {
                  "description": "Package name of the app.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}",
              "response": {
                "$ref": "ImagesDeleteAllResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "list": {
              "description": "Lists all images. The response may be empty.",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}",
              "httpMethod": "GET",
              "id": "androidpublisher.edits.images.list",
              "parameterOrder": [
                "packageName",
                "editId",
                "language",
                "imageType"
              ],
              "parameters": {
                "editId": {
                  "description": "Identifier of the edit.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "imageType": {
                  "description": "Type of the Image. Providing an image type that refers to no images will\nreturn an empty response.",
                  "enum": [
                    "appImageTypeUnspecified",
                    "phoneScreenshots",
                    "sevenInchScreenshots",
                    "tenInchScreenshots",
                    "tvScreenshots",
                    "wearScreenshots",
                    "icon",
                    "featureGraphic",
                    "promoGraphic",
                    "tvBanner"
                  ],
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "language": {
                  "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\"\nfor Austrian German).\nThere must be a store listing for the specified language.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "packageName": {
                  "description": "Package name of the app.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}",
              "response": {
                "$ref": "ImagesListResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "upload": {
              "description": "Uploads an image of the specified language and image type, and adds to the\nedit.",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}",
              "httpMethod": "POST",
              "id": "androidpublisher.edits.images.upload",
              "mediaUpload": {
                "accept": [
                  "image/*"
                ],
                "maxSize": "15728640",
                "protocols": {
                  "simple": {
                    "multipart": true,
                    "path": "/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}"
                  }
                }
              },
              "parameterOrder": [
                "packageName",
                "editId",
                "language",
                "imageType"
              ],
              "parameters": {
                "editId": {
                  "description": "Identifier of the edit.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "imageType": {
                  "description": "Type of the Image.",
                  "enum": [
                    "appImageTypeUnspecified",
                    "phoneScreenshots",
                    "sevenInchScreenshots",
                    "tenInchScreenshots",
                    "tvScreenshots",
                    "wearScreenshots",
                    "icon",
                    "featureGraphic",
                    "promoGraphic",
                    "tvBanner"
                  ],
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "language": {
                  "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\"\nfor Austrian German).\nProviding a language that is not supported by the App is a no-op.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "packageName": {
                  "description": "Package name of the app.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}",
              "response": {
                "$ref": "ImagesUploadResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "supportsMediaUpload": true
            }
          }
        },
        "listings": {
          "methods": {
            "delete": {
              "description": "Deletes a localized store listing.",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}",
              "httpMethod": "DELETE",
              "id": "androidpublisher.edits.listings.delete",
              "parameterOrder": [
                "packageName",
                "editId",
                "language"
              ],
              "parameters": {
                "editId": {
                  "description": "Identifier of the edit.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "language": {
                  "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\"\nfor Austrian German).",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "packageName": {
                  "description": "Package name of the app.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "deleteall": {
              "description": "Deletes all store listings.",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings",
              "httpMethod": "DELETE",
              "id": "androidpublisher.edits.listings.deleteall",
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "parameters": {
                "editId": {
                  "description": "Identifier of the edit.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "packageName": {
                  "description": "Package name of the app.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "get": {
              "description": "Gets a localized store listing.",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}",
              "httpMethod": "GET",
              "id": "androidpublisher.edits.listings.get",
              "parameterOrder": [
                "packageName",
                "editId",
                "language"
              ],
              "parameters": {
                "editId": {
                  "description": "Identifier of the edit.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "language": {
                  "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\"\nfor Austrian German).",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "packageName": {
                  "description": "Package name of the app.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}",
              "response": {
                "$ref": "Listing"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "list": {
              "description": "Lists all localized store listings.",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings",
              "httpMethod": "GET",
              "id": "androidpublisher.edits.listings.list",
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "parameters": {
                "editId": {
                  "description": "Identifier of the edit.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "packageName": {
                  "description": "Package name of the app.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings",
              "response": {
                "$ref": "ListingsListResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "patch": {
              "description": "Patches a localized store listing.",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}",
              "httpMethod": "PATCH",
              "id": "androidpublisher.edits.listings.patch",
              "parameterOrder": [
                "packageName",
                "editId",
                "language"
              ],
              "parameters": {
                "editId": {
                  "description": "Identifier of the edit.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "language": {
                  "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\"\nfor Austrian German).",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "packageName": {
                  "description": "Package name of the app.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}",
              "request": {
                "$ref": "Listing"
              },
              "response": {
                "$ref": "Listing"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "update": {
              "description": "Creates or updates a localized store listing.",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}",
              "httpMethod": "PUT",
              "id": "androidpublisher.edits.listings.update",
              "parameterOrder": [
                "packageName",
                "editId",
                "language"
              ],
              "parameters": {
                "editId": {
                  "description": "Identifier of the edit.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "language": {
                  "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\"\nfor Austrian German).",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "packageName": {
                  "description": "Package name of the app.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}",
              "request": {
                "$ref": "Listing"
              },
              "response": {
                "$ref": "Listing"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            }
          }
        },
        "testers": {
          "methods": {
            "get": {
              "description": "Gets testers.",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/testers/{track}",
              "httpMethod": "GET",
              "id": "androidpublisher.edits.testers.get",
              "parameterOrder": [
                "packageName",
                "editId",
                "track"
              ],
              "parameters": {
                "editId": {
                  "description": "Identifier of the edit.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "packageName": {
                  "description": "Package name of the app.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "track": {
                  "description": "The track to read from.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/testers/{track}",
              "response": {
                "$ref": "Testers"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "patch": {
              "description": "Patches testers.",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/testers/{track}",
              "httpMethod": "PATCH",
              "id": "androidpublisher.edits.testers.patch",
              "parameterOrder": [
                "packageName",
                "editId",
                "track"
              ],
              "parameters": {
                "editId": {
                  "description": "Identifier of the edit.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "packageName": {
                  "description": "Package name of the app.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "track": {
                  "description": "The track to update.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/testers/{track}",
              "request": {
                "$ref": "Testers"
              },
              "response": {
                "$ref": "Testers"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "update": {
              "description": "Updates testers.",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/testers/{track}",
              "httpMethod": "PUT",
              "id": "androidpublisher.edits.testers.update",
              "parameterOrder": [
                "packageName",
                "editId",
                "track"
              ],
              "parameters": {
                "editId": {
                  "description": "Identifier of the edit.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "packageName": {
                  "description": "Package name of the app.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "track": {
                  "description": "The track to update.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/testers/{track}",
              "request": {
                "$ref": "Testers"
              },
              "response": {
                "$ref": "Testers"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            }
          }
        },
        "tracks": {
          "methods": {
            "get": {
              "description": "Gets a track.",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks/{track}",
              "httpMethod": "GET",
              "id": "androidpublisher.edits.tracks.get",
              "parameterOrder": [
                "packageName",
                "editId",
                "track"
              ],
              "parameters": {
                "editId": {
                  "description": "Identifier of the edit.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "packageName": {
                  "description": "Package name of the app.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "track": {
                  "description": "Identifier of the track.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks/{track}",
              "response": {
                "$ref": "Track"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "list": {
              "description": "Lists all tracks.",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks",
              "httpMethod": "GET",
              "id": "androidpublisher.edits.tracks.list",
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "parameters": {
                "editId": {
                  "description": "Identifier of the edit.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "packageName": {
                  "description": "Package name of the app.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks",
              "response": {
                "$ref": "TracksListResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "patch": {
              "description": "Patches a track.",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks/{track}",
              "httpMethod": "PATCH",
              "id": "androidpublisher.edits.tracks.patch",
              "parameterOrder": [
                "packageName",
                "editId",
                "track"
              ],
              "parameters": {
                "editId": {
                  "description": "Identifier of the edit.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "packageName": {
                  "description": "Package name of the app.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "track": {
                  "description": "Identifier of the track.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks/{track}",
              "request": {
                "$ref": "Track"
              },
              "response": {
                "$ref": "Track"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "update": {
              "description": "Updates a track.",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks/{track}",
              "httpMethod": "PUT",
              "id": "androidpublisher.edits.tracks.update",
              "parameterOrder": [
                "packageName",
                "editId",
                "track"
              ],
              "parameters": {
                "editId": {
                  "description": "Identifier of the edit.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "packageName": {
                  "description": "Package name of the app.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "track": {
                  "description": "Identifier of the track.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks/{track}",
              "request": {
                "$ref": "Track"
              },
              "response": {
                "$ref": "Track"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            }
          }
        }
      }
    },
    "inappproducts": {
      "methods": {
        "delete": {
          "description": "Deletes an in-app product (i.e. a managed product or a subscriptions).",
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "httpMethod": "DELETE",
          "id": "androidpublisher.inappproducts.delete",
          "parameterOrder": [
            "packageName",
            "sku"
          ],
          "parameters": {
            "packageName": {
              "description": "Package name of the app.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "sku": {
              "description": "Unique identifier for the in-app product.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        },
        "get": {
          "description": "Gets an in-app product, which can be a managed product or a subscription.",
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "httpMethod": "GET",
          "id": "androidpublisher.inappproducts.get",
          "parameterOrder": [
            "packageName",
            "sku"
          ],
          "parameters": {
            "packageName": {
              "description": "Package name of the app.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "sku": {
              "description": "Unique identifier for the in-app product.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "response": {
            "$ref": "InAppProduct"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        },
        "insert": {
          "description": "Creates an in-app product (i.e. a managed product or a subscriptions).",
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts",
          "httpMethod": "POST",
          "id": "androidpublisher.inappproducts.insert",
          "parameterOrder": [
            "packageName"
          ],
          "parameters": {
            "autoConvertMissingPrices": {
              "description": "If true the prices for all regions targeted by the parent app that don't\nhave a price specified for this in-app product will be auto converted to\nthe target currency based on the default price. Defaults to false.",
              "location": "query",
              "type": "boolean"
            },
            "packageName": {
              "description": "Package name of the app.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts",
          "request": {
            "$ref": "InAppProduct"
          },
          "response": {
            "$ref": "InAppProduct"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        },
        "list": {
          "description": "Lists all in-app products - both managed products and subscriptions.",
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts",
          "httpMethod": "GET",
          "id": "androidpublisher.inappproducts.list",
          "parameterOrder": [
            "packageName"
          ],
          "parameters": {
            "maxResults": {
              "description": "How many results the list operation should return.",
              "format": "uint32",
              "location": "query",
              "type": "integer"
            },
            "packageName": {
              "description": "Package name of the app.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "startIndex": {
              "description": "The index of the first element to return.",
              "format": "uint32",
              "location": "query",
              "type": "integer"
            },
            "token": {
              "description": "Pagination token. If empty, list starts at the first product.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts",
          "response": {
            "$ref": "InappproductsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        },
        "patch": {
          "description": "Patches an in-app product (i.e. a managed product or a subscriptions).",
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "httpMethod": "PATCH",
          "id": "androidpublisher.inappproducts.patch",
          "parameterOrder": [
            "packageName",
            "sku"
          ],
          "parameters": {
            "autoConvertMissingPrices": {
              "description": "If true the prices for all regions targeted by the parent app that don't\nhave a price specified for this in-app product will be auto converted to\nthe target currency based on the default price. Defaults to false.",
              "location": "query",
              "type": "boolean"
            },
            "packageName": {
              "description": "Package name of the app.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "sku": {
              "description": "Unique identifier for the in-app product.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "request": {
            "$ref": "InAppProduct"
          },
          "response": {
            "$ref": "InAppProduct"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        },
        "update": {
          "description": "Updates an in-app product (i.e. a managed product or a subscriptions).",
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "httpMethod": "PUT",
          "id": "androidpublisher.inappproducts.update",
          "parameterOrder": [
            "packageName",
            "sku"
          ],
          "parameters": {
            "autoConvertMissingPrices": {
              "description": "If true the prices for all regions targeted by the parent app that don't\nhave a price specified for this in-app product will be auto converted to\nthe target currency based on the default price. Defaults to false.",
              "location": "query",
              "type": "boolean"
            },
            "packageName": {
              "description": "Package name of the app.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "sku": {
              "description": "Unique identifier for the in-app product.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "request": {
            "$ref": "InAppProduct"
          },
          "response": {
            "$ref": "InAppProduct"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        }
      }
    },
    "internalappsharingartifacts": {
      "methods": {
        "uploadapk": {
          "description": "Uploads an APK to internal app sharing.\nIf you are using the Google API client libraries, please increase the\ntimeout of the http request before calling this endpoint\n(a timeout of 2 minutes is recommended).\n\nSee [Timeouts and\nErrors](https://developers.google.com/api-client-library/java/google-api-java-client/errors)\nfor an example in java.",
          "flatPath": "androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/apk",
          "httpMethod": "POST",
          "id": "androidpublisher.internalappsharingartifacts.uploadapk",
          "mediaUpload": {
            "accept": [
              "application/octet-stream",
              "application/vnd.android.package-archive"
            ],
            "maxSize": "1073741824",
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/apk"
              }
            }
          },
          "parameterOrder": [
            "packageName"
          ],
          "parameters": {
            "packageName": {
              "description": "Package name of the app.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/apk",
          "response": {
            "$ref": "InternalAppSharingArtifact"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "supportsMediaUpload": true
        },
        "uploadbundle": {
          "description": "Uploads an app bundle to internal app sharing.\nIf you are using the Google API client libraries, please increase the\ntimeout of the http request before calling this endpoint\n(a timeout of 2 minutes is recommended).\n\nSee [Timeouts and\nErrors](https://developers.google.com/api-client-library/java/google-api-java-client/errors)\nfor an example in java.",
          "flatPath": "androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/bundle",
          "httpMethod": "POST",
          "id": "androidpublisher.internalappsharingartifacts.uploadbundle",
          "mediaUpload": {
            "accept": [
              "application/octet-stream"
            ],
            "maxSize": "10737418240",
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/bundle"
              }
            }
          },
          "parameterOrder": [
            "packageName"
          ],
          "parameters": {
            "packageName": {
              "description": "Package name of the app.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/bundle",
          "response": {
            "$ref": "InternalAppSharingArtifact"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "supportsMediaUpload": true
        }
      }
    },
    "orders": {
      "methods": {
        "refund": {
          "description": "Refund a user's subscription or in-app purchase order.",
          "flatPath": "androidpublisher/v3/applications/{packageName}/orders/{orderId}:refund",
          "httpMethod": "POST",
          "id": "androidpublisher.orders.refund",
          "parameterOrder": [
            "packageName",
            "orderId"
          ],
          "parameters": {
            "orderId": {
              "description": "The order ID provided to the user when the subscription or in-app order was\npurchased.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "packageName": {
              "description": "The package name of the application for which this subscription or in-app\nitem was purchased (for example, 'com.some.thing').",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "revoke": {
              "description": "Whether to revoke the purchased item. If set to true, access to the\nsubscription or in-app item will be terminated immediately. If the item is\na recurring subscription, all future payments will also be terminated.\nConsumed in-app items need to be handled by developer's app. (optional).",
              "location": "query",
              "type": "boolean"
            }
          },
          "path": "androidpublisher/v3/applications/{packageName}/orders/{orderId}:refund",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        }
      }
    },
    "purchases": {
      "resources": {
        "products": {
          "methods": {
            "acknowledge": {
              "description": "Acknowledges a purchase of an inapp item.",
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/products/{productId}/tokens/{token}:acknowledge",
              "httpMethod": "POST",
              "id": "androidpublisher.purchases.products.acknowledge",
              "parameterOrder": [
                "packageName",
                "productId",
                "token"
              ],
              "parameters": {
                "packageName": {
                  "description": "The package name of the application the inapp product was sold in (for\nexample, 'com.some.thing').",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "productId": {
                  "description": "The inapp product SKU (for example, 'com.some.thing.inapp1').",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "token": {
                  "description": "The token provided to the user's device when the inapp product was\npurchased.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/purchases/products/{productId}/tokens/{token}:acknowledge",
              "request": {
                "$ref": "ProductPurchasesAcknowledgeRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "get": {
              "description": "Checks the purchase and consumption status of an inapp item.",
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/products/{productId}/tokens/{token}",
              "httpMethod": "GET",
              "id": "androidpublisher.purchases.products.get",
              "parameterOrder": [
                "packageName",
                "productId",
                "token"
              ],
              "parameters": {
                "packageName": {
                  "description": "The package name of the application the inapp product was sold in (for\nexample, 'com.some.thing').",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "productId": {
                  "description": "The inapp product SKU (for example, 'com.some.thing.inapp1').",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "token": {
                  "description": "The token provided to the user's device when the inapp product was\npurchased.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/purchases/products/{productId}/tokens/{token}",
              "response": {
                "$ref": "ProductPurchase"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            }
          }
        },
        "subscriptions": {
          "methods": {
            "acknowledge": {
              "description": "Acknowledges a subscription purchase.",
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:acknowledge",
              "httpMethod": "POST",
              "id": "androidpublisher.purchases.subscriptions.acknowledge",
              "parameterOrder": [
                "packageName",
                "subscriptionId",
                "token"
              ],
              "parameters": {
                "packageName": {
                  "description": "The package name of the application for which this subscription was\npurchased (for example, 'com.some.thing').",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "subscriptionId": {
                  "description": "The purchased subscription ID (for example, 'monthly001').",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "token": {
                  "description": "The token provided to the user's device when the subscription was\npurchased.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:acknowledge",
              "request": {
                "$ref": "SubscriptionPurchasesAcknowledgeRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "cancel": {
              "description": "Cancels a user's subscription purchase. The subscription remains valid\nuntil its expiration time.",
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:cancel",
              "httpMethod": "POST",
              "id": "androidpublisher.purchases.subscriptions.cancel",
              "parameterOrder": [
                "packageName",
                "subscriptionId",
                "token"
              ],
              "parameters": {
                "packageName": {
                  "description": "The package name of the application for which this subscription was\npurchased (for example, 'com.some.thing').",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "subscriptionId": {
                  "description": "The purchased subscription ID (for example, 'monthly001').",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "token": {
                  "description": "The token provided to the user's device when the subscription was\npurchased.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:cancel",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "defer": {
              "description": "Defers a user's subscription purchase until a specified future expiration\ntime.",
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:defer",
              "httpMethod": "POST",
              "id": "androidpublisher.purchases.subscriptions.defer",
              "parameterOrder": [
                "packageName",
                "subscriptionId",
                "token"
              ],
              "parameters": {
                "packageName": {
                  "description": "The package name of the application for which this subscription was\npurchased (for example, 'com.some.thing').",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "subscriptionId": {
                  "description": "The purchased subscription ID (for example, 'monthly001').",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "token": {
                  "description": "The token provided to the user's device when the subscription was\npurchased.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:defer",
              "request": {
                "$ref": "SubscriptionPurchasesDeferRequest"
              },
              "response": {
                "$ref": "SubscriptionPurchasesDeferResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "get": {
              "description": "Checks whether a user's subscription purchase is valid and returns its\nexpiry time.",
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}",
              "httpMethod": "GET",
              "id": "androidpublisher.purchases.subscriptions.get",
              "parameterOrder": [
                "packageName",
                "subscriptionId",
                "token"
              ],
              "parameters": {
                "packageName": {
                  "description": "The package name of the application for which this subscription was\npurchased (for example, 'com.some.thing').",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "subscriptionId": {
                  "description": "The purchased subscription ID (for example, 'monthly001').",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "token": {
                  "description": "The token provided to the user's device when the subscription was\npurchased.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}",
              "response": {
                "$ref": "SubscriptionPurchase"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "refund": {
              "description": "Refunds a user's subscription purchase, but the subscription remains valid\nuntil its expiration time and it will continue to recur.",
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:refund",
              "httpMethod": "POST",
              "id": "androidpublisher.purchases.subscriptions.refund",
              "parameterOrder": [
                "packageName",
                "subscriptionId",
                "token"
              ],
              "parameters": {
                "packageName": {
                  "description": "The package name of the application for which this subscription was\npurchased (for example, 'com.some.thing').",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "subscriptionId": {
                  "description": "\"The purchased subscription ID (for example, 'monthly001').",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "token": {
                  "description": "The token provided to the user's device when the subscription was\npurchased.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:refund",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "revoke": {
              "description": "Refunds and immediately revokes a user's subscription purchase. Access to\nthe subscription will be terminated immediately and it will stop recurring.",
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:revoke",
              "httpMethod": "POST",
              "id": "androidpublisher.purchases.subscriptions.revoke",
              "parameterOrder": [
                "packageName",
                "subscriptionId",
                "token"
              ],
              "parameters": {
                "packageName": {
                  "description": "The package name of the application for which this subscription was\npurchased (for example, 'com.some.thing').",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "subscriptionId": {
                  "description": "The purchased subscription ID (for example, 'monthly001').",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "token": {
                  "description": "The token provided to the user's device when the subscription was\npurchased.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:revoke",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            }
          }
        },
        "voidedpurchases": {
          "methods": {
            "list": {
              "description": "Lists the purchases that were canceled, refunded or charged-back.",
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/voidedpurchases",
              "httpMethod": "GET",
              "id": "androidpublisher.purchases.voidedpurchases.list",
              "parameterOrder": [
                "packageName"
              ],
              "parameters": {
                "endTime": {
                  "description": "The time, in milliseconds since the Epoch, of the newest voided purchase\nthat you want to see in the response. The value of this parameter cannot\nbe greater than the current time and is ignored if a pagination token is\nset. Default value is current time.\nNote: This filter is applied on the time at which the record is seen as\nvoided by our systems and not the actual voided time returned in the\nresponse.",
                  "format": "int64",
                  "location": "query",
                  "type": "string"
                },
                "maxResults": {
                  "description": "Defines how many results the list operation should return.\nThe default number depends on the resource collection.",
                  "format": "uint32",
                  "location": "query",
                  "type": "integer"
                },
                "packageName": {
                  "description": "The package name of the application for which voided purchases need to be\nreturned (for example, 'com.some.thing').",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "startIndex": {
                  "description": "Defines the index of the first element to return.\nThis can only be used if indexed paging is enabled.",
                  "format": "uint32",
                  "location": "query",
                  "type": "integer"
                },
                "startTime": {
                  "description": "The time, in milliseconds since the Epoch, of the oldest voided purchase\nthat you want to see in the response. The value of this parameter cannot\nbe older than 30 days and is ignored if a pagination token is set.\nDefault value is current time minus 30 days.\nNote: This filter is applied on the time at which the record is seen as\nvoided by our systems and not the actual voided time returned in the\nresponse.",
                  "format": "int64",
                  "location": "query",
                  "type": "string"
                },
                "token": {
                  "description": "Defines the token of the page to return, usually taken from\nTokenPagination.\nThis can only be used if token paging is enabled.",
                  "location": "query",
                  "type": "string"
                },
                "type": {
                  "description": "The type of voided purchases that you want to see in the response.\nPossible values are:\n0. Only voided in-app product purchases will be returned in the\n   response. This is the default value.\n1. Both voided in-app purchases and voided subscription purchases\n   will be returned in the response.\n\nNote: Before requesting to receive voided subscription purchases, you\nmust switch to use orderId in the response which uniquely identifies\none-time purchases and subscriptions. Otherwise, you will receive multiple\nsubscription orders with the same PurchaseToken, because subscription\nrenewal orders share the same PurchaseToken.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/purchases/voidedpurchases",
              "response": {
                "$ref": "VoidedPurchasesListResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            }
          }
        }
      }
    },
    "reviews": {
      "methods": {
        "get": {
          "description": "Gets a single review.",
          "flatPath": "androidpublisher/v3/applications/{packageName}/reviews/{reviewId}",
          "httpMethod": "GET",
          "id": "androidpublisher.reviews.get",
          "parameterOrder": [
            "packageName",
            "reviewId"
          ],
          "parameters": {
            "packageName": {
              "description": "Package name of the app.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "reviewId": {
              "description": "Unique identifier for a review.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "translationLanguage": {
              "description": "Language localization code.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "androidpublisher/v3/applications/{packageName}/reviews/{reviewId}",
          "response": {
            "$ref": "Review"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        },
        "list": {
          "description": "Lists all reviews.",
          "flatPath": "androidpublisher/v3/applications/{packageName}/reviews",
          "httpMethod": "GET",
          "id": "androidpublisher.reviews.list",
          "parameterOrder": [
            "packageName"
          ],
          "parameters": {
            "maxResults": {
              "description": "How many results the list operation should return.",
              "format": "uint32",
              "location": "query",
              "type": "integer"
            },
            "packageName": {
              "description": "Package name of the app.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "startIndex": {
              "description": "The index of the first element to return.",
              "format": "uint32",
              "location": "query",
              "type": "integer"
            },
            "token": {
              "description": "Pagination token. If empty, list starts at the first review.",
              "location": "query",
              "type": "string"
            },
            "translationLanguage": {
              "description": "Language localization code.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "androidpublisher/v3/applications/{packageName}/reviews",
          "response": {
            "$ref": "ReviewsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        },
        "reply": {
          "description": "Replies to a single review, or updates an existing reply.",
          "flatPath": "androidpublisher/v3/applications/{packageName}/reviews/{reviewId}:reply",
          "httpMethod": "POST",
          "id": "androidpublisher.reviews.reply",
          "parameterOrder": [
            "packageName",
            "reviewId"
          ],
          "parameters": {
            "packageName": {
              "description": "Package name of the app.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "reviewId": {
              "description": "Unique identifier for a review.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "androidpublisher/v3/applications/{packageName}/reviews/{reviewId}:reply",
          "request": {
            "$ref": "ReviewsReplyRequest"
          },
          "response": {
            "$ref": "ReviewsReplyResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        }
      }
    }
  },
  "revision": "20200618",
  "rootUrl": "https://www.googleapis.com/",
  "schemas": {
    "Apk": {
      "description": "Information about an APK. The resource for ApksService.",
      "id": "Apk",
      "properties": {
        "binary": {
          "$ref": "ApkBinary",
          "description": "Information about the binary payload of this APK."
        },
        "versionCode": {
          "description": "The version code of the APK, as specified in the manifest file.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "ApkBinary": {
      "description": "Represents the binary payload of an APK.",
      "id": "ApkBinary",
      "properties": {
        "sha1": {
          "description": "A sha1 hash of the APK payload, encoded as a hex string and matching the\noutput of the sha1sum command.",
          "type": "string"
        },
        "sha256": {
          "description": "A sha256 hash of the APK payload, encoded as a hex string and matching\nthe output of the sha256sum command.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ApksAddExternallyHostedRequest": {
      "description": "Request to create a new externally hosted APK.",
      "id": "ApksAddExternallyHostedRequest",
      "properties": {
        "externallyHostedApk": {
          "$ref": "ExternallyHostedApk",
          "description": "The definition of the externally-hosted APK and where it is located."
        }
      },
      "type": "object"
    },
    "ApksAddExternallyHostedResponse": {
      "description": "Response for creating a new externally hosted APK.",
      "id": "ApksAddExternallyHostedResponse",
      "properties": {
        "externallyHostedApk": {
          "$ref": "ExternallyHostedApk",
          "description": "The definition of the externally-hosted APK and where it is located."
        }
      },
      "type": "object"
    },
    "ApksListResponse": {
      "description": "Response listing all APKs.",
      "id": "ApksListResponse",
      "properties": {
        "apks": {
          "description": "All APKs.",
          "items": {
            "$ref": "Apk"
          },
          "type": "array"
        },
        "kind": {
          "description": "The kind of this response (\"androidpublisher#apksListResponse\").",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AppDetails": {
      "description": "The app details. The resource for DetailsService.",
      "id": "AppDetails",
      "properties": {
        "contactEmail": {
          "description": "The user-visible support email for this app.",
          "type": "string"
        },
        "contactPhone": {
          "description": "The user-visible support telephone number for this app.",
          "type": "string"
        },
        "contactWebsite": {
          "description": "The user-visible website for this app.",
          "type": "string"
        },
        "defaultLanguage": {
          "description": "Default language code, in BCP 47 format (eg \"en-US\").",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AppEdit": {
      "description": "An app edit. The resource for EditsService.",
      "id": "AppEdit",
      "properties": {
        "expiryTimeSeconds": {
          "description": "Output only. The time (as seconds since Epoch) at which the edit will expire and\nwill be no longer valid for use.",
          "type": "string"
        },
        "id": {
[...]
