{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/authorized-buyers-marketplace": {
          "description": "See, create, edit, and delete your Authorized Buyers Marketplace entities."
        }
      }
    }
  },
  "basePath": "",
  "baseUrl": "https://authorizedbuyersmarketplace.googleapis.com/",
  "batchPath": "batch",
  "canonicalName": "Authorized Buyers Marketplace",
  "description": "The Authorized Buyers Marketplace API lets buyers programmatically discover inventory; propose, retrieve and negotiate deals with publishers.",
  "discoveryVersion": "v1",
  "documentationLink": "https://developers.google.com/authorized-buyers/apis/marketplace/reference/rest/",
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "id": "authorizedbuyersmarketplace:v1alpha",
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://authorizedbuyersmarketplace.mtls.googleapis.com/",
  "name": "authorizedbuyersmarketplace",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "parameters": {
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "protocol": "rest",
  "resources": {
    "bidders": {
      "resources": {
        "auctionPackages": {
          "methods": {
            "list": {
              "description": "List the auction packages. Buyers can use the URL path \"/v1alpha/buyers/{accountId}/auctionPackages\" to list auction packages for the current buyer and its clients. Bidders can use the URL path \"/v1alpha/bidders/{accountId}/auctionPackages\" to list auction packages for the bidder, its media planners, its buyers, and all their clients.",
              "flatPath": "v1alpha/bidders/{biddersId}/auctionPackages",
              "httpMethod": "GET",
              "id": "authorizedbuyersmarketplace.bidders.auctionPackages.list",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "filter": {
                  "description": "Optional. Optional query string using the [Cloud API list filtering syntax](/authorized-buyers/apis/guides/list-filters). Only supported when parent is bidder. Supported columns for filtering are: * displayName * createTime * updateTime * eligibleSeatIds",
                  "location": "query",
                  "type": "string"
                },
                "orderBy": {
                  "description": "Optional. An optional query string to sort auction packages using the [Cloud API sorting syntax](https://cloud.google.com/apis/design/design_patterns#sorting_order). If no sort order is specified, results will be returned in an arbitrary order. Only supported when parent is bidder. Supported columns for sorting are: * displayName * createTime * updateTime",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Requested page size. The server may return fewer results than requested. Max allowed page size is 500.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "The page token as returned. ListAuctionPackagesResponse.nextPageToken",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "description": "Required. Name of the parent buyer that can access the auction package. Format: `buyers/{accountId}`. When used with a bidder account, the auction packages that the bidder, its media planners, its buyers and clients are subscribed to will be listed, in the format `bidders/{accountId}`.",
                  "location": "path",
                  "pattern": "^bidders/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1alpha/{+parent}/auctionPackages",
              "response": {
                "$ref": "ListAuctionPackagesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ]
            }
          }
        },
        "finalizedDeals": {
          "methods": {
            "list": {
              "description": "Lists finalized deals. Use the URL path \"/v1alpha/buyers/{accountId}/finalizedDeals\" to list finalized deals for the current buyer and its clients. Bidders can use the URL path \"/v1alpha/bidders/{accountId}/finalizedDeals\" to list finalized deals for the bidder, its buyers and all their clients.",
              "flatPath": "v1alpha/bidders/{biddersId}/finalizedDeals",
              "httpMethod": "GET",
              "id": "authorizedbuyersmarketplace.bidders.finalizedDeals.list",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "filter": {
                  "description": "Optional query string using the [Cloud API list filtering syntax](https://developers.google.com/authorized-buyers/apis/guides/list-filters) Supported columns for filtering are: * deal.displayName * deal.dealType * deal.createTime * deal.updateTime * deal.flightStartTime * deal.flightEndTime * deal.eligibleSeatIds * dealServingStatus",
                  "location": "query",
                  "type": "string"
                },
                "orderBy": {
                  "description": "An optional query string to sort finalized deals using the [Cloud API sorting syntax](https://cloud.google.com/apis/design/design_patterns#sorting_order). If no sort order is specified, results will be returned in an arbitrary order. Supported columns for sorting are: * deal.displayName * deal.createTime * deal.updateTime * deal.flightStartTime * deal.flightEndTime * rtbMetrics.bidRequests7Days * rtbMetrics.bids7Days * rtbMetrics.adImpressions7Days * rtbMetrics.bidRate7Days * rtbMetrics.filteredBidRate7Days * rtbMetrics.mustBidRateCurrentMonth",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Requested page size. The server may return fewer results than requested. If requested more than 500, the server will return 500 results per page. If unspecified, the server will pick a default page size of 100.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "The page token as returned from ListFinalizedDealsResponse.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "description": "Required. The buyer to list the finalized deals for, in the format: `buyers/{accountId}`. When used to list finalized deals for a bidder, its buyers and clients, in the format `bidders/{accountId}`.",
                  "location": "path",
                  "pattern": "^bidders/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1alpha/{+parent}/finalizedDeals",
              "response": {
                "$ref": "ListFinalizedDealsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ]
            },
            "setReadyToServe": {
              "description": "Sets the given finalized deal as ready to serve. By default, deals are set as ready to serve as soon as they're finalized. If you want to opt out of the default behavior, and manually indicate that deals are ready to serve, ask your Technical Account Manager to add you to the allowlist. If you choose to use this method, finalized deals belonging to the bidder and its child seats don't start serving until after you call `setReadyToServe`, and after the deals become active. For example, you can use this method to delay receiving bid requests until your creative is ready. In addition, bidders can use the URL path \"/v1alpha/bidders/{accountId}/finalizedDeals/{dealId}\" to set ready to serve for the finalized deals belong to itself, its child seats and all their clients. This method only applies to programmatic guaranteed deals.",
              "flatPath": "v1alpha/bidders/{biddersId}/finalizedDeals/{finalizedDealsId}:setReadyToServe",
              "httpMethod": "POST",
              "id": "authorizedbuyersmarketplace.bidders.finalizedDeals.setReadyToServe",
              "parameterOrder": [
                "deal"
              ],
              "parameters": {
                "deal": {
                  "description": "Required. Format: `buyers/{accountId}/finalizedDeals/{dealId}` or `bidders/{accountId}/finalizedDeals/{dealId}`",
                  "location": "path",
                  "pattern": "^bidders/[^/]+/finalizedDeals/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1alpha/{+deal}:setReadyToServe",
              "request": {
                "$ref": "SetReadyToServeRequest"
              },
              "response": {
                "$ref": "FinalizedDeal"
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ]
            }
          }
        }
      }
    },
    "buyers": {
      "resources": {
        "auctionPackages": {
          "methods": {
            "get": {
              "description": "Gets an auction package given its name.",
              "flatPath": "v1alpha/buyers/{buyersId}/auctionPackages/{auctionPackagesId}",
              "httpMethod": "GET",
              "id": "authorizedbuyersmarketplace.buyers.auctionPackages.get",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. Name of auction package to get. Format: `buyers/{accountId}/auctionPackages/{auctionPackageId}`",
                  "location": "path",
                  "pattern": "^buyers/[^/]+/auctionPackages/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1alpha/{+name}",
              "response": {
                "$ref": "AuctionPackage"
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ]
            },
            "list": {
              "description": "List the auction packages. Buyers can use the URL path \"/v1alpha/buyers/{accountId}/auctionPackages\" to list auction packages for the current buyer and its clients. Bidders can use the URL path \"/v1alpha/bidders/{accountId}/auctionPackages\" to list auction packages for the bidder, its media planners, its buyers, and all their clients.",
              "flatPath": "v1alpha/buyers/{buyersId}/auctionPackages",
              "httpMethod": "GET",
              "id": "authorizedbuyersmarketplace.buyers.auctionPackages.list",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "filter": {
                  "description": "Optional. Optional query string using the [Cloud API list filtering syntax](/authorized-buyers/apis/guides/list-filters). Only supported when parent is bidder. Supported columns for filtering are: * displayName * createTime * updateTime * eligibleSeatIds",
                  "location": "query",
                  "type": "string"
                },
                "orderBy": {
                  "description": "Optional. An optional query string to sort auction packages using the [Cloud API sorting syntax](https://cloud.google.com/apis/design/design_patterns#sorting_order). If no sort order is specified, results will be returned in an arbitrary order. Only supported when parent is bidder. Supported columns for sorting are: * displayName * createTime * updateTime",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Requested page size. The server may return fewer results than requested. Max allowed page size is 500.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "The page token as returned. ListAuctionPackagesResponse.nextPageToken",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "description": "Required. Name of the parent buyer that can access the auction package. Format: `buyers/{accountId}`. When used with a bidder account, the auction packages that the bidder, its media planners, its buyers and clients are subscribed to will be listed, in the format `bidders/{accountId}`.",
                  "location": "path",
                  "pattern": "^buyers/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1alpha/{+parent}/auctionPackages",
              "response": {
                "$ref": "ListAuctionPackagesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ]
            },
            "subscribe": {
              "description": "Subscribe to the auction package for the specified buyer. Once subscribed, the bidder will receive a call out for inventory matching the auction package targeting criteria with the auction package deal ID and the specified buyer.",
              "flatPath": "v1alpha/buyers/{buyersId}/auctionPackages/{auctionPackagesId}:subscribe",
              "httpMethod": "POST",
              "id": "authorizedbuyersmarketplace.buyers.auctionPackages.subscribe",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. Name of the auction package. Format: `buyers/{accountId}/auctionPackages/{auctionPackageId}`",
                  "location": "path",
                  "pattern": "^buyers/[^/]+/auctionPackages/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1alpha/{+name}:subscribe",
              "request": {
                "$ref": "SubscribeAuctionPackageRequest"
              },
              "response": {
                "$ref": "AuctionPackage"
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ]
            },
            "subscribeClients": {
              "description": "Subscribe the specified clients of the buyer to the auction package. If a client in the list does not belong to the buyer, an error response will be returned, and all of the following clients in the list will not be subscribed. Subscribing an already subscribed client will have no effect.",
              "flatPath": "v1alpha/buyers/{buyersId}/auctionPackages/{auctionPackagesId}:subscribeClients",
              "httpMethod": "POST",
              "id": "authorizedbuyersmarketplace.buyers.auctionPackages.subscribeClients",
              "parameterOrder": [
                "auctionPackage"
              ],
              "parameters": {
                "auctionPackage": {
                  "description": "Required. Name of the auction package. Format: `buyers/{accountId}/auctionPackages/{auctionPackageId}`",
                  "location": "path",
                  "pattern": "^buyers/[^/]+/auctionPackages/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1alpha/{+auctionPackage}:subscribeClients",
              "request": {
                "$ref": "SubscribeClientsRequest"
              },
              "response": {
                "$ref": "AuctionPackage"
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ]
            },
            "unsubscribe": {
              "description": "Unsubscribe from the auction package for the specified buyer. Once unsubscribed, the bidder will no longer receive a call out for the auction package deal ID and the specified buyer.",
              "flatPath": "v1alpha/buyers/{buyersId}/auctionPackages/{auctionPackagesId}:unsubscribe",
              "httpMethod": "POST",
              "id": "authorizedbuyersmarketplace.buyers.auctionPackages.unsubscribe",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. Name of the auction package. Format: `buyers/{accountId}/auctionPackages/{auctionPackageId}`",
                  "location": "path",
                  "pattern": "^buyers/[^/]+/auctionPackages/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1alpha/{+name}:unsubscribe",
              "request": {
                "$ref": "UnsubscribeAuctionPackageRequest"
              },
              "response": {
                "$ref": "AuctionPackage"
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ]
            },
            "unsubscribeClients": {
              "description": "Unsubscribe from the auction package for the specified clients of the buyer. Unsubscribing a client that is not subscribed will have no effect.",
              "flatPath": "v1alpha/buyers/{buyersId}/auctionPackages/{auctionPackagesId}:unsubscribeClients",
              "httpMethod": "POST",
              "id": "authorizedbuyersmarketplace.buyers.auctionPackages.unsubscribeClients",
              "parameterOrder": [
                "auctionPackage"
              ],
              "parameters": {
                "auctionPackage": {
                  "description": "Required. Name of the auction package. Format: `buyers/{accountId}/auctionPackages/{auctionPackageId}`",
                  "location": "path",
                  "pattern": "^buyers/[^/]+/auctionPackages/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1alpha/{+auctionPackage}:unsubscribeClients",
              "request": {
                "$ref": "UnsubscribeClientsRequest"
              },
              "response": {
                "$ref": "AuctionPackage"
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ]
            }
          }
        },
        "clients": {
          "methods": {
            "activate": {
              "description": "Activates an existing client. The state of the client will be updated to \"ACTIVE\". This method has no effect if the client is already in \"ACTIVE\" state.",
              "flatPath": "v1alpha/buyers/{buyersId}/clients/{clientsId}:activate",
              "httpMethod": "POST",
              "id": "authorizedbuyersmarketplace.buyers.clients.activate",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. Format: `buyers/{buyerAccountId}/clients/{clientAccountId}`",
                  "location": "path",
                  "pattern": "^buyers/[^/]+/clients/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1alpha/{+name}:activate",
              "request": {
                "$ref": "ActivateClientRequest"
              },
              "response": {
                "$ref": "Client"
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ]
            },
            "create": {
              "description": "Creates a new client.",
              "flatPath": "v1alpha/buyers/{buyersId}/clients",
              "httpMethod": "POST",
              "id": "authorizedbuyersmarketplace.buyers.clients.create",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "description": "Required. The name of the buyer. Format: `buyers/{accountId}`",
                  "location": "path",
                  "pattern": "^buyers/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1alpha/{+parent}/clients",
              "request": {
                "$ref": "Client"
              },
              "response": {
                "$ref": "Client"
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ]
            },
            "deactivate": {
              "description": "Deactivates an existing client. The state of the client will be updated to \"INACTIVE\". This method has no effect if the client is already in \"INACTIVE\" state.",
              "flatPath": "v1alpha/buyers/{buyersId}/clients/{clientsId}:deactivate",
              "httpMethod": "POST",
              "id": "authorizedbuyersmarketplace.buyers.clients.deactivate",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. Format: `buyers/{buyerAccountId}/clients/{clientAccountId}`",
                  "location": "path",
                  "pattern": "^buyers/[^/]+/clients/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1alpha/{+name}:deactivate",
              "request": {
                "$ref": "DeactivateClientRequest"
              },
              "response": {
                "$ref": "Client"
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ]
            },
            "get": {
              "description": "Gets a client with a given resource name.",
              "flatPath": "v1alpha/buyers/{buyersId}/clients/{clientsId}",
              "httpMethod": "GET",
              "id": "authorizedbuyersmarketplace.buyers.clients.get",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. Format: `buyers/{accountId}/clients/{clientAccountId}`",
                  "location": "path",
                  "pattern": "^buyers/[^/]+/clients/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1alpha/{+name}",
              "response": {
                "$ref": "Client"
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ]
            },
            "list": {
              "description": "Lists all the clients for the current buyer.",
              "flatPath": "v1alpha/buyers/{buyersId}/clients",
              "httpMethod": "GET",
              "id": "authorizedbuyersmarketplace.buyers.clients.list",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "filter": {
                  "description": "Query string using the [Filtering Syntax](https://developers.google.com/authorized-buyers/apis/guides/list-filters) Supported fields for filtering are: * partnerClientId Use this field to filter the clients by the partnerClientId. For example, if the partnerClientId of the client is \"1234\", the value of this field should be `partnerClientId = \"1234\"`, in order to get only the client whose partnerClientId is \"1234\" in the response.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Requested page size. If left blank, a default page size of 500 will be applied.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "A token identifying a page of results the server should return. Typically, this is the value of ListClientsResponse.nextPageToken returned from the previous call to the list method.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "description": "Required. The name of the buyer. Format: `buyers/{accountId}`",
                  "location": "path",
                  "pattern": "^buyers/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1alpha/{+parent}/clients",
              "response": {
                "$ref": "ListClientsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ]
            },
            "patch": {
              "description": "Updates an existing client.",
              "flatPath": "v1alpha/buyers/{buyersId}/clients/{clientsId}",
              "httpMethod": "PATCH",
              "id": "authorizedbuyersmarketplace.buyers.clients.patch",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Output only. The resource name of the client. Format: `buyers/{accountId}/clients/{clientAccountId}`",
                  "location": "path",
                  "pattern": "^buyers/[^/]+/clients/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "updateMask": {
                  "description": "List of fields to be updated. If empty or unspecified, the service will update all fields populated in the update request excluding the output only fields and primitive fields with default value. Note that explicit field mask is required in order to reset a primitive field back to its default value, for example, false for boolean fields, 0 for integer fields. A special field mask consisting of a single path \"*\" can be used to indicate full replacement(the equivalent of PUT method), updatable fields unset or unspecified in the input will be cleared or set to default value. Output only fields will be ignored regardless of the value of updateMask.",
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v1alpha/{+name}",
              "request": {
                "$ref": "Client"
              },
              "response": {
                "$ref": "Client"
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ]
            }
          },
          "resources": {
            "users": {
              "methods": {
                "activate": {
                  "description": "Activates an existing client user. The state of the client user will be updated from \"INACTIVE\" to \"ACTIVE\". This method has no effect if the client user is already in \"ACTIVE\" state. An error will be returned if the client user to activate is still in \"INVITED\" state.",
                  "flatPath": "v1alpha/buyers/{buyersId}/clients/{clientsId}/users/{usersId}:activate",
                  "httpMethod": "POST",
                  "id": "authorizedbuyersmarketplace.buyers.clients.users.activate",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. Format: `buyers/{buyerAccountId}/clients/{clientAccountId}/clientUsers/{userId}`",
                      "location": "path",
                      "pattern": "^buyers/[^/]+/clients/[^/]+/users/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1alpha/{+name}:activate",
                  "request": {
                    "$ref": "ActivateClientUserRequest"
                  },
                  "response": {
                    "$ref": "ClientUser"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/authorized-buyers-marketplace"
                  ]
                },
                "create": {
                  "description": "Creates a new client user in \"INVITED\" state. An email invitation will be sent to the new user, once accepted the user will become active.",
                  "flatPath": "v1alpha/buyers/{buyersId}/clients/{clientsId}/users",
                  "httpMethod": "POST",
                  "id": "authorizedbuyersmarketplace.buyers.clients.users.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "Required. The name of the client. Format: `buyers/{accountId}/clients/{clientAccountId}`",
                      "location": "path",
                      "pattern": "^buyers/[^/]+/clients/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1alpha/{+parent}/users",
                  "request": {
                    "$ref": "ClientUser"
                  },
                  "response": {
                    "$ref": "ClientUser"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/authorized-buyers-marketplace"
                  ]
                },
                "deactivate": {
                  "description": "Deactivates an existing client user. The state of the client user will be updated from \"ACTIVE\" to \"INACTIVE\". This method has no effect if the client user is already in \"INACTIVE\" state. An error will be returned if the client user to deactivate is still in \"INVITED\" state.",
                  "flatPath": "v1alpha/buyers/{buyersId}/clients/{clientsId}/users/{usersId}:deactivate",
                  "httpMethod": "POST",
                  "id": "authorizedbuyersmarketplace.buyers.clients.users.deactivate",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. Format: `buyers/{buyerAccountId}/clients/{clientAccountId}/clientUsers/{userId}`",
                      "location": "path",
                      "pattern": "^buyers/[^/]+/clients/[^/]+/users/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1alpha/{+name}:deactivate",
                  "request": {
                    "$ref": "DeactivateClientUserRequest"
                  },
                  "response": {
                    "$ref": "ClientUser"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/authorized-buyers-marketplace"
                  ]
                },
                "delete": {
                  "description": "Deletes an existing client user. The client user will lose access to the Authorized Buyers UI. Note that if a client user is deleted, the user's access to the UI can't be restored unless a new client user is created and activated.",
                  "flatPath": "v1alpha/buyers/{buyersId}/clients/{clientsId}/users/{usersId}",
                  "httpMethod": "DELETE",
                  "id": "authorizedbuyersmarketplace.buyers.clients.users.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. Format: `buyers/{buyerAccountId}/clients/{clientAccountId}/clientUsers/{userId}`",
                      "location": "path",
                      "pattern": "^buyers/[^/]+/clients/[^/]+/users/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1alpha/{+name}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/authorized-buyers-marketplace"
                  ]
                },
                "get": {
                  "description": "Retrieves an existing client user.",
                  "flatPath": "v1alpha/buyers/{buyersId}/clients/{clientsId}/users/{usersId}",
                  "httpMethod": "GET",
                  "id": "authorizedbuyersmarketplace.buyers.clients.users.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. Format: `buyers/{buyerAccountId}/clients/{clientAccountId}/clientUsers/{userId}`",
                      "location": "path",
                      "pattern": "^buyers/[^/]+/clients/[^/]+/users/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1alpha/{+name}",
                  "response": {
                    "$ref": "ClientUser"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/authorized-buyers-marketplace"
                  ]
                },
                "list": {
                  "description": "Lists all client users for a specified client.",
                  "flatPath": "v1alpha/buyers/{buyersId}/clients/{clientsId}/users",
                  "httpMethod": "GET",
                  "id": "authorizedbuyersmarketplace.buyers.clients.users.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "pageSize": {
                      "description": "Requested page size. If left blank, a default page size of 500 will be applied.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "description": "A token identifying a page of results the server should return. Typically, this is the value of ListClientUsersResponse.nextPageToken returned from the previous call to the list method.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. The name of the client. Format: `buyers/{buyerAccountId}/clients/{clientAccountId}`",
                      "location": "path",
                      "pattern": "^buyers/[^/]+/clients/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1alpha/{+parent}/users",
                  "response": {
                    "$ref": "ListClientUsersResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/authorized-buyers-marketplace"
                  ]
                }
              }
            }
          }
        },
        "dataSegments": {
          "methods": {
            "activate": {
              "description": "Activates a data segment.",
              "flatPath": "v1alpha/buyers/{buyersId}/dataSegments/{dataSegmentsId}:activate",
              "httpMethod": "POST",
              "id": "authorizedbuyersmarketplace.buyers.dataSegments.activate",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. Name of data segment to activate. v1alpha format: `buyers/{accountId}/dataSegments/{curatorDataSegmentId}` v1beta format: `curators/{accountId}/dataSegments/{curatorDataSegmentId}`",
                  "location": "path",
                  "pattern": "^buyers/[^/]+/dataSegments/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1alpha/{+name}:activate",
              "request": {
                "$ref": "ActivateDataSegmentRequest"
              },
              "response": {
                "$ref": "DataSegment"
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ]
            },
            "create": {
              "description": "Creates a data segment owned by the listed curator. The data segment will be created in the `ACTIVE` state, meaning it will be immediately available for buyers to use in preferred deals, private auction deals, and auction packages.",
              "flatPath": "v1alpha/buyers/{buyersId}/dataSegments",
              "httpMethod": "POST",
              "id": "authorizedbuyersmarketplace.buyers.dataSegments.create",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "description": "Required. The parent resource where this data segment will be created. v1alpha format: `buyers/{accountId}` v1beta format: `curators/{accountId}`",
                  "location": "path",
                  "pattern": "^buyers/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1alpha/{+parent}/dataSegments",
              "request": {
                "$ref": "DataSegment"
              },
              "response": {
                "$ref": "DataSegment"
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ]
            },
            "deactivate": {
              "description": "Deactivates a data segment.",
              "flatPath": "v1alpha/buyers/{buyersId}/dataSegments/{dataSegmentsId}:deactivate",
              "httpMethod": "POST",
              "id": "authorizedbuyersmarketplace.buyers.dataSegments.deactivate",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. Name of data segment to deactivate. v1alpha format: `buyers/{accountId}/dataSegments/{curatorDataSegmentId}` v1beta format: `curators/{accountId}/dataSegments/{curatorDataSegmentId}`",
                  "location": "path",
                  "pattern": "^buyers/[^/]+/dataSegments/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1alpha/{+name}:deactivate",
              "request": {
                "$ref": "DeactivateDataSegmentRequest"
              },
              "response": {
                "$ref": "DataSegment"
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ]
            },
            "get": {
              "description": "Gets a data segment given its name.",
              "flatPath": "v1alpha/buyers/{buyersId}/dataSegments/{dataSegmentsId}",
              "httpMethod": "GET",
              "id": "authorizedbuyersmarketplace.buyers.dataSegments.get",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. Name of data segment to get. v1alpha format: `buyers/{accountId}/dataSegments/{curatorDataSegmentId}` v1beta format: `curators/{accountId}/dataSegments/{curatorDataSegmentId}`",
                  "location": "path",
                  "pattern": "^buyers/[^/]+/dataSegments/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1alpha/{+name}",
              "response": {
                "$ref": "DataSegment"
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ]
            },
            "list": {
              "description": "List the data segments owned by a curator.",
              "flatPath": "v1alpha/buyers/{buyersId}/dataSegments",
              "httpMethod": "GET",
              "id": "authorizedbuyersmarketplace.buyers.dataSegments.list",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "pageSize": {
                  "description": "Optional. Requested page size. The server may return fewer results than requested. Max allowed page size is 500. If unspecified, the server will default to 500.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "Optional. The page token as returned. ListDataSegmentsResponse.nextPageToken",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "description": "Required. Name of the parent curator that can access the data segment. v1alpha format: `buyers/{accountId}` v1beta format: `curators/{accountId}`",
                  "location": "path",
                  "pattern": "^buyers/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1alpha/{+parent}/dataSegments",
              "response": {
                "$ref": "ListDataSegmentsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ]
            },
            "patch": {
              "description": "Updates a data segment.",
              "flatPath": "v1alpha/buyers/{buyersId}/dataSegments/{dataSegmentsId}",
              "httpMethod": "PATCH",
              "id": "authorizedbuyersmarketplace.buyers.dataSegments.patch",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Immutable. Identifier. The unique identifier for the data segment. Account ID corresponds to the account ID that created the segment. v1alpha format: `buyers/{accountId}/dataSegments/{curatorDataSegmentId}` v1beta format: `curators/{curatorAccountId}/dataSegments/{curatorDataSegmentId}`",
                  "location": "path",
                  "pattern": "^buyers/[^/]+/dataSegments/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "updateMask": {
                  "description": "Optional. List of fields to be updated. If empty or unspecified, the service will update all fields populated in the update request excluding the output only fields and primitive fields with default value. Note that explicit field mask is required in order to reset a primitive field back to its default value, for example, false for boolean fields, 0 for integer fields. A special field mask consisting of a single path \"*\" can be used to indicate full replacement(the equivalent of PUT method), updatable fields unset or unspecified in the input will be cleared or set to default value. Output only fields will be ignored regardless of the value of updateMask.",
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v1alpha/{+name}",
              "request": {
                "$ref": "DataSegment"
              },
              "response": {
                "$ref": "DataSegment"
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ]
            }
          }
        },
        "finalizedDeals": {
          "methods": {
            "addCreative": {
              "description": "Add creative to be used in the bidding process for a finalized deal. For programmatic guaranteed deals, it's recommended that you associate at least one approved creative with the deal before calling SetReadyToServe, to help reduce the number of bid responses filtered because they don't contain approved creatives. Creatives successfully added to a deal can be found in the Realtime-bidding Creatives API creative.deal_ids. This method only applies to programmatic guaranteed deals. Maximum number of 1000 creatives can be added to a finalized deal.",
              "flatPath": "v1alpha/buyers/{buyersId}/finalizedDeals/{finalizedDealsId}:addCreative",
              "httpMethod": "POST",
              "id": "authorizedbuyersmarketplace.buyers.finalizedDeals.addCreative",
              "parameterOrder": [
                "deal"
              ],
              "parameters": {
                "deal": {
                  "description": "Required. Name of the finalized deal in the format of: `buyers/{accountId}/finalizedDeals/{dealId}`",
                  "location": "path",
                  "pattern": "^buyers/[^/]+/finalizedDeals/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1alpha/{+deal}:addCreative",
              "request": {
                "$ref": "AddCreativeRequest"
              },
              "response": {
                "$ref": "FinalizedDeal"
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ]
            },
            "get": {
              "description": "Gets a finalized deal given its name.",
              "flatPath": "v1alpha/buyers/{buyersId}/finalizedDeals/{finalizedDealsId}",
              "httpMethod": "GET",
              "id": "authorizedbuyersmarketplace.buyers.finalizedDeals.get",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. Format: `buyers/{accountId}/finalizedDeals/{dealId}`",
                  "location": "path",
                  "pattern": "^buyers/[^/]+/finalizedDeals/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1alpha/{+name}",
              "response": {
                "$ref": "FinalizedDeal"
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ]
            },
            "list": {
              "description": "Lists finalized deals. Use the URL path \"/v1alpha/buyers/{accountId}/finalizedDeals\" to list finalized deals for the current buyer and its clients. Bidders can use the URL path \"/v1alpha/bidders/{accountId}/finalizedDeals\" to list finalized deals for the bidder, its buyers and all their clients.",
              "flatPath": "v1alpha/buyers/{buyersId}/finalizedDeals",
              "httpMethod": "GET",
              "id": "authorizedbuyersmarketplace.buyers.finalizedDeals.list",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "filter": {
                  "description": "Optional query string using the [Cloud API list filtering syntax](https://developers.google.com/authorized-buyers/apis/guides/list-filters) Supported columns for filtering are: * deal.displayName * deal.dealType * deal.createTime * deal.updateTime * deal.flightStartTime * deal.flightEndTime * deal.eligibleSeatIds * dealServingStatus",
                  "location": "query",
                  "type": "string"
                },
                "orderBy": {
                  "description": "An optional query string to sort finalized deals using the [Cloud API sorting syntax](https://cloud.google.com/apis/design/design_patterns#sorting_order). If no sort order is specified, results will be returned in an arbitrary order. Supported columns for sorting are: * deal.displayName * deal.createTime * deal.updateTime * deal.flightStartTime * deal.flightEndTime * rtbMetrics.bidRequests7Days * rtbMetrics.bids7Days * rtbMetrics.adImpressions7Days * rtbMetrics.bidRate7Days * rtbMetrics.filteredBidRate7Days * rtbMetrics.mustBidRateCurrentMonth",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Requested page size. The server may return fewer results than requested. If requested more than 500, the server will return 500 results per page. If unspecified, the server will pick a default page size of 100.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "The page token as returned from ListFinalizedDealsResponse.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "description": "Required. The buyer to list the finalized deals for, in the format: `buyers/{accountId}`. When used to list finalized deals for a bidder, its buyers and clients, in the format `bidders/{accountId}`.",
                  "location": "path",
                  "pattern": "^buyers/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1alpha/{+parent}/finalizedDeals",
              "response": {
                "$ref": "ListFinalizedDealsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ]
            },
            "pause": {
              "description": "Pauses serving of the given finalized deal. This call only pauses the serving status, and does not affect other fields of the finalized deal. Calling this method for an already paused deal has no effect. This method only applies to programmatic guaranteed deals and preferred deals.",
              "flatPath": "v1alpha/buyers/{buyersId}/finalizedDeals/{finalizedDealsId}:pause",
              "httpMethod": "POST",
              "id": "authorizedbuyersmarketplace.buyers.finalizedDeals.pause",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. Format: `buyers/{accountId}/finalizedDeals/{dealId}`",
                  "location": "path",
                  "pattern": "^buyers/[^/]+/finalizedDeals/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1alpha/{+name}:pause",
              "request": {
                "$ref": "PauseFinalizedDealRequest"
              },
              "response": {
                "$ref": "FinalizedDeal"
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ]
            },
            "resume": {
              "description": "Resumes serving of the given finalized deal. Calling this method for an running deal has no effect. If a deal is initially paused by the seller, calling this method will not resume serving of the deal until the seller also resumes the deal. This method only applies to programmatic guaranteed deals and preferred deals.",
              "flatPath": "v1alpha/buyers/{buyersId}/finalizedDeals/{finalizedDealsId}:resume",
              "httpMethod": "POST",
              "id": "authorizedbuyersmarketplace.buyers.finalizedDeals.resume",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. Format: `buyers/{accountId}/finalizedDeals/{dealId}`",
                  "location": "path",
                  "pattern": "^buyers/[^/]+/finalizedDeals/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1alpha/{+name}:resume",
              "request": {
                "$ref": "ResumeFinalizedDealRequest"
              },
              "response": {
                "$ref": "FinalizedDeal"
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ]
            },
            "setReadyToServe": {
              "description": "Sets the given finalized deal as ready to serve. By default, deals are set as ready to serve as soon as they're finalized. If you want to opt out of the default behavior, and manually indicate that deals are ready to serve, ask your Technical Account Manager to add you to the allowlist. If you choose to use this method, finalized deals belonging to the bidder and its child seats don't start serving until after you call `setReadyToServe`, and after the deals become active. For example, you can use this method to delay receiving bid requests until your creative is ready. In addition, bidders can use the URL path \"/v1alpha/bidders/{accountId}/finalizedDeals/{dealId}\" to set ready to serve for the finalized deals belong to itself, its child seats and all their clients. This method only applies to programmatic guaranteed deals.",
              "flatPath": "v1alpha/buyers/{buyersId}/finalizedDeals/{finalizedDealsId}:setReadyToServe",
              "httpMethod": "POST",
              "id": "authorizedbuyersmarketplace.buyers.finalizedDeals.setReadyToServe",
              "parameterOrder": [
                "deal"
              ],
              "parameters": {
                "deal": {
                  "description": "Required. Format: `buyers/{accountId}/finalizedDeals/{dealId}` or `bidders/{accountId}/finalizedDeals/{dealId}`",
                  "location": "path",
                  "pattern": "^buyers/[^/]+/finalizedDeals/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1alpha/{+deal}:setReadyToServe",
              "request": {
                "$ref": "SetReadyToServeRequest"
              },
              "response": {
                "$ref": "FinalizedDeal"
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ]
            }
          }
        },
        "proposals": {
          "methods": {
            "accept": {
              "description": "Accepts the proposal at the given revision number. If the revision number in the request is behind the latest from the server, an error message will be returned. This call updates the Proposal.state from `BUYER_ACCEPTANCE_REQUESTED` to `FINALIZED`; it has no side effect if the Proposal.state is already `FINALIZED` and throws exception if the Proposal.state is not either `BUYER_ACCEPTANCE_REQUESTED` or `FINALIZED`. Accepting a proposal means the buyer understands and accepts the Proposal.terms_and_conditions proposed by the seller.",
              "flatPath": "v1alpha/buyers/{buyersId}/proposals/{proposalsId}:accept",
              "httpMethod": "POST",
              "id": "authorizedbuyersmarketplace.buyers.proposals.accept",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Name of the proposal. Format: `buyers/{accountId}/proposals/{proposalId}`",
                  "location": "path",
                  "pattern": "^buyers/[^/]+/proposals/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1alpha/{+name}:accept",
              "request": {
                "$ref": "AcceptProposalRequest"
              },
              "response": {
                "$ref": "Proposal"
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ]
            },
            "addNote": {
              "description": "Creates a note for this proposal and sends to the seller. This method is not supported for proposals with DealType set to 'PRIVATE_AUCTION'.",
              "flatPath": "v1alpha/buyers/{buyersId}/proposals/{proposalsId}:addNote",
              "httpMethod": "POST",
              "id": "authorizedbuyersmarketplace.buyers.proposals.addNote",
              "parameterOrder": [
                "proposal"
              ],
              "parameters": {
                "proposal": {
                  "description": "Name of the proposal. Format: `buyers/{accountId}/proposals/{proposalId}`",
                  "location": "path",
                  "pattern": "^buyers/[^/]+/proposals/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1alpha/{+proposal}:addNote",
              "request": {
                "$ref": "AddNoteRequest"
              },
              "response": {
                "$ref": "Proposal"
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ]
            },
            "cancelNegotiation": {
              "description": "Cancels an ongoing negotiation on a proposal. This does not cancel or end serving for the deals if the proposal has been finalized. If the proposal has not been finalized before, calling this method will set the Proposal.state to `TERMINATED` and increment the Proposal.proposal_revision. If the proposal has been finalized before and is under renegotiation now, calling this method will reset the Proposal.state to `FINALIZED` and increment the Proposal.proposal_revision. This method does not support private auction proposals whose Proposal.deal_type is 'PRIVATE_AUCTION'.",
              "flatPath": "v1alpha/buyers/{buyersId}/proposals/{proposalsId}:cancelNegotiation",
              "httpMethod": "POST",
              "id": "authorizedbuyersmarketplace.buyers.proposals.cancelNegotiation",
              "parameterOrder": [
                "proposal"
              ],
              "parameters": {
                "proposal": {
                  "description": "Name of the proposal. Format: `buyers/{accountId}/proposals/{proposalId}`",
                  "location": "path",
                  "pattern": "^buyers/[^/]+/proposals/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1alpha/{+proposal}:cancelNegotiation",
              "request": {
                "$ref": "CancelNegotiationRequest"
              },
              "response": {
                "$ref": "Proposal"
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ]
            },
            "get": {
              "description": "Gets a proposal using its resource name. The proposal is returned at the latest revision.",
              "flatPath": "v1alpha/buyers/{buyersId}/proposals/{proposalsId}",
              "httpMethod": "GET",
              "id": "authorizedbuyersmarketplace.buyers.proposals.get",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. Name of the proposal. Format: `buyers/{accountId}/proposals/{proposalId}`",
                  "location": "path",
                  "pattern": "^buyers/[^/]+/proposals/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1alpha/{+name}",
              "response": {
                "$ref": "Proposal"
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ]
            },
            "list": {
              "description": "Lists proposals. A filter expression using [Cloud API list filtering syntax](https://developers.google.com/authorized-buyers/apis/guides/list-filters) may be specified to filter the results.",
              "flatPath": "v1alpha/buyers/{buyersId}/proposals",
              "httpMethod": "GET",
              "id": "authorizedbuyersmarketplace.buyers.proposals.list",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "filter": {
                  "description": "Optional query string using the [Cloud API list filtering syntax](https://developers.google.com/authorized-buyers/apis/guides/list-filters) Supported columns for filtering are: * displayName * dealType * updateTime * state",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will put a size of 500.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "The page token as returned from ListProposalsResponse.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "description": "Required. Parent that owns the collection of proposals Format: `buyers/{accountId}`",
                  "location": "path",
                  "pattern": "^buyers/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1alpha/{+parent}/proposals",
              "response": {
                "$ref": "ListProposalsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ]
            },
            "patch": {
              "description": "Updates the proposal at the given revision number. If the revision number in the request is behind the latest one kept in the server, an error message will be returned. See FieldMask for how to use FieldMask. Only fields specified in the UpdateProposalRequest.update_mask will be updated; Fields noted as 'Immutable' or 'Output only' yet specified in the UpdateProposalRequest.update_mask will be ignored and left unchanged. Updating a private auction proposal is only allowed for buyer private data, all other fields are immutable.",
              "flatPath": "v1alpha/buyers/{buyersId}/proposals/{proposalsId}",
              "httpMethod": "PATCH",
              "id": "authorizedbuyersmarketplace.buyers.proposals.patch",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Immutable. The name of the proposal serving as a unique identifier. Format: buyers/{accountId}/proposals/{proposalId}",
                  "location": "path",
                  "pattern": "^buyers/[^/]+/proposals/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "updateMask": {
                  "description": "List of fields to be updated. If empty or unspecified, the service will update all fields populated in the update request excluding the output only fields and primitive fields with default value. Note that explicit field mask is required in order to reset a primitive field back to its default value, for example, false for boolean fields, 0 for integer fields. A special field mask consisting of a single path \"*\" can be used to indicate full replacement(the equivalent of PUT method), updatable fields unset or unspecified in the input will be cleared or set to default value. Output only fields will be ignored regardless of the value of updateMask.",
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v1alpha/{+name}",
              "request": {
                "$ref": "Proposal"
              },
              "response": {
                "$ref": "Proposal"
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ]
            },
            "sendRfp": {
              "description": "Sends a request for proposal (RFP) to a publisher to initiate the negotiation regarding certain inventory. In the RFP, buyers can specify the deal type, deal terms, start and end dates, targeting, and a message to the publisher. Once the RFP is sent, a proposal in `SELLER_REVIEW_REQUESTED` state will be created and returned in the response. The publisher may review your request and respond with detailed deals in the proposal.",
              "flatPath": "v1alpha/buyers/{buyersId}/proposals:sendRfp",
              "httpMethod": "POST",
              "id": "authorizedbuyersmarketplace.buyers.proposals.sendRfp",
              "parameterOrder": [
                "buyer"
              ],
              "parameters": {
                "buyer": {
                  "description": "Required. The current buyer who is sending the RFP in the format: `buyers/{accountId}`.",
                  "location": "path",
                  "pattern": "^buyers/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1alpha/{+buyer}/proposals:sendRfp",
              "request": {
                "$ref": "SendRfpRequest"
              },
              "response": {
                "$ref": "Proposal"
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ]
            }
          },
          "resources": {
            "deals": {
              "methods": {
                "batchUpdate": {
                  "description": "Batch updates multiple deals in the same proposal.",
                  "flatPath": "v1alpha/buyers/{buyersId}/proposals/{proposalsId}/deals:batchUpdate",
                  "httpMethod": "POST",
                  "id": "authorizedbuyersmarketplace.buyers.proposals.deals.batchUpdate",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "Required. The name of the proposal containing the deals to batch update. Format: buyers/{accountId}/proposals/{proposalId}",
                      "location": "path",
                      "pattern": "^buyers/[^/]+/proposals/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1alpha/{+parent}/deals:batchUpdate",
                  "request": {
                    "$ref": "BatchUpdateDealsRequest"
                  },
                  "response": {
                    "$ref": "BatchUpdateDealsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/authorized-buyers-marketplace"
                  ]
                },
                "get": {
                  "description": "Gets a deal given its name. The deal is returned at its head revision.",
                  "flatPath": "v1alpha/buyers/{buyersId}/proposals/{proposalsId}/deals/{dealsId}",
                  "httpMethod": "GET",
                  "id": "authorizedbuyersmarketplace.buyers.proposals.deals.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. Format: buyers/{accountId}/proposals/{proposalId}/deals/{dealId}",
                      "location": "path",
                      "pattern": "^buyers/[^/]+/proposals/[^/]+/deals/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1alpha/{+name}",
                  "response": {
                    "$ref": "Deal"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/authorized-buyers-marketplace"
                  ]
                },
                "list": {
                  "description": "Lists all deals in a proposal. To retrieve only the finalized revision deals regardless if a deal is being renegotiated, see the FinalizedDeals resource.",
                  "flatPath": "v1alpha/buyers/{buyersId}/proposals/{proposalsId}/deals",
                  "httpMethod": "GET",
                  "id": "authorizedbuyersmarketplace.buyers.proposals.deals.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "pageSize": {
                      "description": "Requested page size. The server may return fewer results than requested. If requested more than 500, the server will return 500 results per page. If unspecified, the server will pick a default page size of 100.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "description": "The page token as returned from ListDealsResponse.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. The name of the proposal containing the deals to retrieve. Format: buyers/{accountId}/proposals/{proposalId}",
                      "location": "path",
                      "pattern": "^buyers/[^/]+/proposals/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1alpha/{+parent}/deals",
                  "response": {
                    "$ref": "ListDealsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/authorized-buyers-marketplace"
                  ]
                },
                "patch": {
                  "description": "Updates the given deal at the buyer known revision number. If the server revision has advanced since the passed-in proposal.proposal_revision an ABORTED error message will be returned. The revision number is incremented by the server whenever the proposal or its constituent deals are updated. Note: The revision number is kept at a proposal level. The buyer of the API is expected to keep track of the revision number after the last update operation and send it in as part of the next update request. This way, if there are further changes on the server (for example, seller making new updates), then the server can detect conflicts and reject the proposed changes.",
                  "flatPath": "v1alpha/buyers/{buyersId}/proposals/{proposalsId}/deals/{dealsId}",
                  "httpMethod": "PATCH",
                  "id": "authorizedbuyersmarketplace.buyers.proposals.deals.patch",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Immutable. The unique identifier of the deal. Auto-generated by the server when a deal is created. Format: buyers/{accountId}/proposals/{proposalId}/deals/{dealId}",
                      "location": "path",
                      "pattern": "^buyers/[^/]+/proposals/[^/]+/deals/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "updateMask": {
                      "description": "List of fields to be updated. If empty or unspecified, the service will update all fields populated in the update request excluding the output only fields and primitive fields with default value. Note that explicit field mask is required in order to reset a primitive field back to its default value, for example, false for boolean fields, 0 for integer fields. A special field mask consisting of a single path \"*\" can be used to indicate full replacement(the equivalent of PUT method), updatable fields unset or unspecified in the input will be cleared or set to default value. Output only fields will be ignored regardless of the value of updateMask.",
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v1alpha/{+name}",
                  "request": {
                    "$ref": "Deal"
                  },
                  "response": {
                    "$ref": "Deal"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/authorized-buyers-marketplace"
                  ]
                }
              }
            }
          }
        },
        "publisherProfiles": {
          "methods": {
            "get": {
              "description": "Gets the requested publisher profile by name.",
              "flatPath": "v1alpha/buyers/{buyersId}/publisherProfiles/{publisherProfilesId}",
              "httpMethod": "GET",
              "id": "authorizedbuyersmarketplace.buyers.publisherProfiles.get",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. Name of the publisher profile. Format: `buyers/{buyerId}/publisherProfiles/{publisherProfileId}`",
                  "location": "path",
                  "pattern": "^buyers/[^/]+/publisherProfiles/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1alpha/{+name}",
              "response": {
                "$ref": "PublisherProfile"
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ]
            },
            "list": {
              "description": "Lists publisher profiles. The returned publisher profiles aren't in any defined order. The order of the results might change. A new publisher profile can appear in any place in the list of returned results.",
              "flatPath": "v1alpha/buyers/{buyersId}/publisherProfiles",
              "httpMethod": "GET",
              "id": "authorizedbuyersmarketplace.buyers.publisherProfiles.list",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "filter": {
                  "description": "Optional query string using the [Cloud API list filtering] (https://developers.google.com/authorized-buyers/apis/guides/list-filters) syntax.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Requested page size. The server may return fewer results than requested. If requested more than 500, the server will return 500 results per page. If unspecified, the server will pick a default page size of 100.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "The page token as returned from a previous ListPublisherProfilesResponse.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "description": "Required. Parent that owns the collection of publisher profiles Format: `buyers/{buyerId}`",
                  "location": "path",
                  "pattern": "^buyers/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1alpha/{+parent}/publisherProfiles",
              "response": {
                "$ref": "ListPublisherProfilesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ]
            }
          }
        }
      }
    },
    "curators": {
      "resources": {
        "curatedPackages": {
          "methods": {
            "activate": {
              "description": "Activates an existing curated package.",
              "flatPath": "v1alpha/curators/{curatorsId}/curatedPackages/{curatedPackagesId}:activate",
              "httpMethod": "POST",
              "id": "authorizedbuyersmarketplace.curators.curatedPackages.activate",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. The name of the curated package to activate. Format: `curators/{accountId}/curatedPackages/{curatedPackageId}`",
                  "location": "path",
                  "pattern": "^curators/[^/]+/curatedPackages/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1alpha/{+name}:activate",
              "request": {
                "$ref": "ActivateCuratedPackageRequest"
              },
              "response": {
                "$ref": "CuratedPackage"
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ]
            },
            "create": {
              "description": "Creates a new curated package.",
              "flatPath": "v1alpha/curators/{curatorsId}/curatedPackages",
              "httpMethod": "POST",
              "id": "authorizedbuyersmarketplace.curators.curatedPackages.create",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "description": "Required. The parent curator account where this curated package will be created. Format: `curators/{accountId}`",
                  "location": "path",
                  "pattern": "^curators/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1alpha/{+parent}/curatedPackages",
              "request": {
                "$ref": "CuratedPackage"
              },
              "response": {
                "$ref": "CuratedPackage"
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ]
            },
            "deactivate": {
              "description": "Deactivates an existing curated package.",
              "flatPath": "v1alpha/curators/{curatorsId}/curatedPackages/{curatedPackagesId}:deactivate",
              "httpMethod": "POST",
              "id": "authorizedbuyersmarketplace.curators.curatedPackages.deactivate",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. The name of the curated package to deactivate. Format: `curators/{accountId}/curatedPackages/{curatedPackageId}`",
                  "location": "path",
                  "pattern": "^curators/[^/]+/curatedPackages/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1alpha/{+name}:deactivate",
              "request": {
                "$ref": "DeactivateCuratedPackageRequest"
              },
              "response": {
                "$ref": "CuratedPackage"
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ]
            },
            "get": {
              "description": "Gets a curated package given its resource name.",
              "flatPath": "v1alpha/curators/{curatorsId}/curatedPackages/{curatedPackagesId}",
              "httpMethod": "GET",
              "id": "authorizedbuyersmarketplace.curators.curatedPackages.get",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. The name of the curated package to retrieve. Format: `curators/{accountId}/curatedPackages/{curatedPackageId}`",
                  "location": "path",
                  "pattern": "^curators/[^/]+/curatedPackages/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1alpha/{+name}",
              "response": {
                "$ref": "CuratedPackage"
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ]
            },
            "list": {
              "description": "Lists curated packages owned by the specified curator.",
              "flatPath": "v1alpha/curators/{curatorsId}/curatedPackages",
              "httpMethod": "GET",
              "id": "authorizedbuyersmarketplace.curators.curatedPackages.list",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "filter": {
                  "description": "Optional. Optional query string using the [Cloud API list filtering syntax](/authorized-buyers/apis/guides/list-filters). Supported columns for filtering are: * displayName * createTime * updateTime * state * feeCpm.currencyCode * feeCpm.units * feeCpm.nanos * floorPriceCpm.currencyCode * floorPriceCpm.units * floorPriceCpm.nanos",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Optional. Requested page size. The server may return fewer results than requested. Max allowed page size is 500. If unspecified, the server will default to 500.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "Optional. A page token, received from a previous `ListCuratedPackages` call. Provide this to retrieve the subsequent page.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "description": "Required. The parent curator account which owns this collection of curated packages. Format: `curators/{accountId}`",
                  "location": "path",
                  "pattern": "^curators/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1alpha/{+parent}/curatedPackages",
              "response": {
                "$ref": "ListCuratedPackagesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ]
            },
            "patch": {
              "description": "Updates an existing curated package.",
              "flatPath": "v1alpha/curators/{curatorsId}/curatedPackages/{curatedPackagesId}",
              "httpMethod": "PATCH",
              "id": "authorizedbuyersmarketplace.curators.curatedPackages.patch",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Identifier. The unique resource name for the curated package. Format: `curators/{accountId}/curatedPackages/{curatedPackageId}`",
                  "location": "path",
                  "pattern": "^curators/[^/]+/curatedPackages/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "updateMask": {
                  "description": "Optional. List of fields to be updated. If empty or unspecified, the service will update all fields populated in the update request excluding the output only fields and primitive fields with default value. Note that explicit field mask is required in order to reset a primitive field back to its default value, for example, false for boolean fields, 0 for integer fields. A special field mask consisting of a single path \"*\" can be used to indicate full replacement (the equivalent of PUT method), updatable fields unset or unspecified in the input will be cleared or set to default value. Output only fields will be ignored regardless of the value of updateMask.",
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v1alpha/{+name}",
              "request": {
                "$ref": "CuratedPackage"
              },
              "response": {
                "$ref": "CuratedPackage"
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ]
            }
          }
        }
      }
    },
    "mediaPlanners": {
      "methods": {
        "list": {
          "description": "Lists all media planner accounts that the caller has access to. For curators, this will return all media planners that have accepted curator terms. For other accounts, attempting to list media planners will return an error.",
          "flatPath": "v1alpha/mediaPlanners",
          "httpMethod": "GET",
          "id": "authorizedbuyersmarketplace.mediaPlanners.list",
          "parameterOrder": [],
          "parameters": {
            "filter": {
              "description": "Optional query string using the [Cloud API list filtering syntax](/authorized-buyers/apis/guides/list-filters). Supported columns for filtering are: * `name` * `displayName` * `ancestorNames`",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "description": "The maximum number of media planners to return. If unspecified, at most 100 media planners will be returned. The maximum value is 500; values above 500 will be coerced to 500.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "pageToken": {
              "description": "A token identifying a page of results the server should return. This value is received from a previous `ListMediaPlanners` call in ListMediaPlannersResponse.nextPageToken.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "v1alpha/mediaPlanners",
          "response": {
            "$ref": "ListMediaPlannersResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/authorized-buyers-marketplace"
          ]
        }
      }
    }
  },
  "revision": "20251211",
  "rootUrl": "https://authorizedbuyersmarketplace.googleapis.com/",
  "schemas": {
    "AcceptProposalRequest": {
      "description": "Request to accept a proposal. Accepting a proposal implies acceptance of the publisher terms_and_conditions, if any.",
      "id": "AcceptProposalRequest",
      "properties": {
        "proposalRevision": {
          "description": "The last known client revision number of the proposal.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AccessControlSettings": {
      "description": "Settings for controlling access to a curated package.",
      "id": "AccessControlSettings",
      "properties": {
        "allowlistedMediaPlanners": {
          "description": "Required. Immutable. The list of media planners that are explicitly granted access to the curated package. Eligible media planners can be found in the mediaPlanners.list method. Only a single media planner may be allowlisted at this time. Format: `mediaPlanners/{mediaPlannerAccountId}`",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "ActivateClientRequest": {
      "description": "Request message for activating a client.",
      "id": "ActivateClientRequest",
      "properties": {},
      "type": "object"
    },
    "ActivateClientUserRequest": {
      "description": "Request message for activating a client user.",
      "id": "ActivateClientUserRequest",
      "properties": {},
      "type": "object"
    },
    "ActivateCuratedPackageRequest": {
      "description": "Request message for ActivateCuratedPackage.",
      "id": "ActivateCuratedPackageRequest",
      "properties": {},
      "type": "object"
    },
    "ActivateDataSegmentRequest": {
      "description": "Request message for activating a data segment",
      "id": "ActivateDataSegmentRequest",
      "properties": {},
      "type": "object"
    },
    "AdSize": {
      "description": "Represents size of a single ad slot, or a creative.",
      "id": "AdSize",
      "properties": {
        "height": {
          "description": "The height of the ad slot in pixels. This field will be present only when size type is `PIXEL`.",
          "format": "int64",
          "type": "string"
        },
        "type": {
          "description": "The type of the ad slot size.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "PIXEL",
            "INTERSTITIAL",
            "NATIVE",
            "FLUID"
          ],
          "enumDescriptions": [
            "A placeholder for an undefined size type.",
            "Ad slot with size specified by height and width in pixels.",
            "Special size to describe an interstitial ad slot.",
            "Native (mobile) ads rendered by the publisher.",
            "Fluid size (responsive size) can be resized automatically with the change of outside environment."
          ],
          "type": "string"
        },
        "width": {
          "description": "The width of the ad slot in pixels. This field will be present only when size type is `PIXEL`.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AddCreativeRequest": {
      "description": "Request message for adding creative to be used in the bidding process for the finalized deal.",
      "id": "AddCreativeRequest",
      "properties": {
        "creative": {
          "description": "Name of the creative to add to the finalized deal, in the format `buyers/{buyerAccountId}/creatives/{creativeId}`. See creative.name.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AddNoteRequest": {
      "description": "Request to add a note.",
      "id": "AddNoteRequest",
      "properties": {
        "note": {
          "$ref": "Note",
          "description": "The note to add."
        }
      },
      "type": "object"
    },
    "AuctionPackage": {
      "description": "Defines a segment of inventory that buyer wants to buy. It's created by buyer and could be shared with multiple buyers.",
      "id": "AuctionPackage",
      "properties": {
        "createTime": {
          "description": "Output only. Time the auction package was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "creator": {
          "description": "Output only. The buyer that created this auction package. Format: `buyers/{buyerAccountId}`",
          "readOnly": true,
          "type": "string"
        },
        "dealOwnerSeatId": {
          "description": "Output only. If set, this field contains the DSP specific seat id set by the media planner account that is considered the owner of this deal. The seat ID is in the calling DSP's namespace.",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "description": "Output only. A description of the auction package.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "The display_name assigned to the auction package.",
          "type": "string"
        },
        "eligibleSeatIds": {
          "description": "Output only. If set, this field identifies a seat that the media planner selected as the owner of this auction package. This is a seat ID in the DSP's namespace that was provided to the media planner.",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        },
        "floorPriceCpm": {
          "$ref": "Money",
          "description": "Output only. The minimum price a buyer has to bid to compete in this auction package. If this is field is not populated, there is no floor price.",
          "readOnly": true
        },
        "name": {
          "description": "Immutable. The unique identifier for the auction package. Format: `buyers/{accountId}/auctionPackages/{auctionPackageId}` The auction_package_id part of name is sent in the BidRequest to all RTB bidders and is returned as deal_id by the bidder in the BidResponse.",
          "type": "string"
        },
        "subscribedBuyers": {
          "description": "Output only. The list of buyers that are subscribed to the AuctionPackage. This field is only populated when calling as a bidder. Format: `buyers/{buyerAccountId}`",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        },
        "subscribedClients": {
          "description": "Output only. When calling as a buyer, the list of clients of the current buyer that are subscribed to the AuctionPackage. When calling as a bidder, the list of clients that are subscribed to the AuctionPackage owned by the bidder or its buyers. Format: `buyers/{buyerAccountId}/clients/{clientAccountId}`",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        },
        "subscribedMediaPlanners": {
          "description": "Output only. The list of media planners that are subscribed to the AuctionPackage. This field is only populated when calling as a bidder.",
          "items": {
            "$ref": "MediaPlanner"
          },
          "readOnly": true,
          "type": "array"
        },
        "updateTime": {
          "description": "Output only. Time the auction package was last updated. This value is only increased when this auction package is updated but never when a buyer subscribed.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "BatchUpdateDealsRequest": {
      "description": "Request message for batch updating deals.",
      "id": "BatchUpdateDealsRequest",
      "properties": {
        "requests": {
          "description": "Required. List of request messages to update deals.",
          "items": {
            "$ref": "UpdateDealRequest"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "BatchUpdateDealsResponse": {
      "description": "Response message for batch updating deals.",
      "id": "BatchUpdateDealsResponse",
      "properties": {
        "deals": {
          "description": "Deals updated.",
          "items": {
            "$ref": "Deal"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "CancelNegotiationRequest": {
[...]
