{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/content": {
          "description": "Manage your product listings and accounts for Google Shopping"
        }
      }
    }
  },
  "basePath": "",
  "baseUrl": "https://shoppingcontent.googleapis.com/",
  "batchPath": "batch",
  "canonicalName": "Shopping Content",
  "description": "Manage your product listings and accounts for Google Shopping",
  "discoveryVersion": "v1",
  "documentationLink": "https://developers.google.com/shopping-content/v2/",
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "id": "content:v2.1",
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://shoppingcontent.mtls.googleapis.com/",
  "name": "content",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "parameters": {
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "protocol": "rest",
  "resources": {
    "accounts": {
      "methods": {
        "authinfo": {
          "description": "Returns information about the authenticated user.",
          "flatPath": "content/v2.1/accounts/authinfo",
          "httpMethod": "GET",
          "id": "content.accounts.authinfo",
          "parameterOrder": [],
          "parameters": {},
          "path": "content/v2.1/accounts/authinfo",
          "response": {
            "$ref": "AccountsAuthInfoResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "claimwebsite": {
          "description": "Claims the website of a Merchant Center sub-account.",
          "flatPath": "content/v2.1/{merchantId}/accounts/{accountId}/claimwebsite",
          "httpMethod": "POST",
          "id": "content.accounts.claimwebsite",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "parameters": {
            "accountId": {
              "description": "The ID of the account whose website is claimed.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "merchantId": {
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "overwrite": {
              "description": "Only available to selected merchants. When set to `True`, this flag removes any existing claim on the requested website by another account and replaces it with a claim from this account.",
              "location": "query",
              "type": "boolean"
            }
          },
          "path": "content/v2.1/{merchantId}/accounts/{accountId}/claimwebsite",
          "response": {
            "$ref": "AccountsClaimWebsiteResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "custombatch": {
          "description": "Retrieves, inserts, updates, and deletes multiple Merchant Center (sub-)accounts in a single request.",
          "flatPath": "content/v2.1/accounts/batch",
          "httpMethod": "POST",
          "id": "content.accounts.custombatch",
          "parameterOrder": [],
          "parameters": {},
          "path": "content/v2.1/accounts/batch",
          "request": {
            "$ref": "AccountsCustomBatchRequest"
          },
          "response": {
            "$ref": "AccountsCustomBatchResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "delete": {
          "description": "Deletes a Merchant Center sub-account.",
          "flatPath": "content/v2.1/{merchantId}/accounts/{accountId}",
          "httpMethod": "DELETE",
          "id": "content.accounts.delete",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "parameters": {
            "accountId": {
              "description": "The ID of the account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "force": {
              "default": "false",
              "description": "Flag to delete sub-accounts with products. The default value is false.",
              "location": "query",
              "type": "boolean"
            },
            "merchantId": {
              "description": "The ID of the managing account. This must be a multi-client account, and accountId must be the ID of a sub-account of this account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "content/v2.1/{merchantId}/accounts/{accountId}",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "get": {
          "description": "Retrieves a Merchant Center account.",
          "flatPath": "content/v2.1/{merchantId}/accounts/{accountId}",
          "httpMethod": "GET",
          "id": "content.accounts.get",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "parameters": {
            "accountId": {
              "description": "The ID of the account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "merchantId": {
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "view": {
              "description": "Controls which fields will be populated. Acceptable values are: \"merchant\" and \"css\". The default value is \"merchant\".",
              "enum": [
                "MERCHANT",
                "CSS"
              ],
              "enumDescriptions": [
                "",
                ""
              ],
              "location": "query",
              "type": "string"
            }
          },
          "path": "content/v2.1/{merchantId}/accounts/{accountId}",
          "response": {
            "$ref": "Account"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "insert": {
          "description": "Creates a Merchant Center sub-account.",
          "flatPath": "content/v2.1/{merchantId}/accounts",
          "httpMethod": "POST",
          "id": "content.accounts.insert",
          "parameterOrder": [
            "merchantId"
          ],
          "parameters": {
            "merchantId": {
              "description": "The ID of the managing account. This must be a multi-client account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "content/v2.1/{merchantId}/accounts",
          "request": {
            "$ref": "Account"
          },
          "response": {
            "$ref": "Account"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "link": {
          "description": "Performs an action on a link between two Merchant Center accounts, namely accountId and linkedAccountId.",
          "flatPath": "content/v2.1/{merchantId}/accounts/{accountId}/link",
          "httpMethod": "POST",
          "id": "content.accounts.link",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "parameters": {
            "accountId": {
              "description": "The ID of the account that should be linked.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "merchantId": {
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "content/v2.1/{merchantId}/accounts/{accountId}/link",
          "request": {
            "$ref": "AccountsLinkRequest"
          },
          "response": {
            "$ref": "AccountsLinkResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "list": {
          "description": "Lists the sub-accounts in your Merchant Center account.",
          "flatPath": "content/v2.1/{merchantId}/accounts",
          "httpMethod": "GET",
          "id": "content.accounts.list",
          "parameterOrder": [
            "merchantId"
          ],
          "parameters": {
            "label": {
              "description": "If view is set to \"css\", only return accounts that are assigned label with given ID.",
              "format": "uint64",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "description": "The maximum number of accounts to return in the response, used for paging.",
              "format": "uint32",
              "location": "query",
              "type": "integer"
            },
            "merchantId": {
              "description": "The ID of the managing account. This must be a multi-client account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "location": "query",
              "type": "string"
            },
            "view": {
              "description": "Controls which fields will be populated. Acceptable values are: \"merchant\" and \"css\". The default value is \"merchant\".",
              "enum": [
                "MERCHANT",
                "CSS"
              ],
              "enumDescriptions": [
                "",
                ""
              ],
              "location": "query",
              "type": "string"
            }
          },
          "path": "content/v2.1/{merchantId}/accounts",
          "response": {
            "$ref": "AccountsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "listlinks": {
          "description": "Returns the list of accounts linked to your Merchant Center account.",
          "flatPath": "content/v2.1/{merchantId}/accounts/{accountId}/listlinks",
          "httpMethod": "GET",
          "id": "content.accounts.listlinks",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "parameters": {
            "accountId": {
              "description": "The ID of the account for which to list links.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "maxResults": {
              "description": "The maximum number of links to return in the response, used for pagination.",
              "format": "uint32",
              "location": "query",
              "type": "integer"
            },
            "merchantId": {
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "content/v2.1/{merchantId}/accounts/{accountId}/listlinks",
          "response": {
            "$ref": "AccountsListLinksResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "update": {
          "description": "Updates a Merchant Center account. Any fields that are not provided are deleted from the resource.",
          "flatPath": "content/v2.1/{merchantId}/accounts/{accountId}",
          "httpMethod": "PUT",
          "id": "content.accounts.update",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "parameters": {
            "accountId": {
              "description": "The ID of the account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "merchantId": {
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "content/v2.1/{merchantId}/accounts/{accountId}",
          "request": {
            "$ref": "Account"
          },
          "response": {
            "$ref": "Account"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "updatelabels": {
          "description": "Updates labels that are assigned to the Merchant Center account by CSS user.",
          "flatPath": "content/v2.1/{merchantId}/accounts/{accountId}/updatelabels",
          "httpMethod": "POST",
          "id": "content.accounts.updatelabels",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "parameters": {
            "accountId": {
              "description": "The ID of the account whose labels are updated.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "merchantId": {
              "description": "The ID of the managing account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "content/v2.1/{merchantId}/accounts/{accountId}/updatelabels",
          "request": {
            "$ref": "AccountsUpdateLabelsRequest"
          },
          "response": {
            "$ref": "AccountsUpdateLabelsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        }
      },
      "resources": {
        "labels": {
          "methods": {
            "create": {
              "description": "Creates a new label, not assigned to any account.",
              "flatPath": "content/v2.1/accounts/{accountId}/labels",
              "httpMethod": "POST",
              "id": "content.accounts.labels.create",
              "parameterOrder": [
                "accountId"
              ],
              "parameters": {
                "accountId": {
                  "description": "Required. The id of the account this label belongs to.",
                  "format": "int64",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "content/v2.1/accounts/{accountId}/labels",
              "request": {
                "$ref": "AccountLabel"
              },
              "response": {
                "$ref": "AccountLabel"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ]
            },
            "delete": {
              "description": "Deletes a label and removes it from all accounts to which it was assigned.",
              "flatPath": "content/v2.1/accounts/{accountId}/labels/{labelId}",
              "httpMethod": "DELETE",
              "id": "content.accounts.labels.delete",
              "parameterOrder": [
                "accountId",
                "labelId"
              ],
              "parameters": {
                "accountId": {
                  "description": "Required. The id of the account that owns the label.",
                  "format": "int64",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "labelId": {
                  "description": "Required. The id of the label to delete.",
                  "format": "int64",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "content/v2.1/accounts/{accountId}/labels/{labelId}",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ]
            },
            "list": {
              "description": "Lists the labels assigned to an account.",
              "flatPath": "content/v2.1/accounts/{accountId}/labels",
              "httpMethod": "GET",
              "id": "content.accounts.labels.list",
              "parameterOrder": [
                "accountId"
              ],
              "parameters": {
                "accountId": {
                  "description": "Required. The account id for whose labels are to be listed.",
                  "format": "int64",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "pageSize": {
                  "description": "The maximum number of labels to return. The service may return fewer than this value. If unspecified, at most 50 labels will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "A page token, received from a previous `ListAccountLabels` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAccountLabels` must match the call that provided the page token.",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "content/v2.1/accounts/{accountId}/labels",
              "response": {
                "$ref": "ListAccountLabelsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ]
            },
            "patch": {
              "description": "Updates a label.",
              "flatPath": "content/v2.1/accounts/{accountId}/labels/{labelId}",
              "httpMethod": "PATCH",
              "id": "content.accounts.labels.patch",
              "parameterOrder": [
                "accountId",
                "labelId"
              ],
              "parameters": {
                "accountId": {
                  "description": "Required. The id of the account this label belongs to.",
                  "format": "int64",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "labelId": {
                  "description": "Required. The id of the label to update.",
                  "format": "int64",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "content/v2.1/accounts/{accountId}/labels/{labelId}",
              "request": {
                "$ref": "AccountLabel"
              },
              "response": {
                "$ref": "AccountLabel"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ]
            }
          }
        }
      }
    },
    "accountstatuses": {
      "methods": {
        "custombatch": {
          "description": "Retrieves multiple Merchant Center account statuses in a single request.",
          "flatPath": "content/v2.1/accountstatuses/batch",
          "httpMethod": "POST",
          "id": "content.accountstatuses.custombatch",
          "parameterOrder": [],
          "parameters": {},
          "path": "content/v2.1/accountstatuses/batch",
          "request": {
            "$ref": "AccountstatusesCustomBatchRequest"
          },
          "response": {
            "$ref": "AccountstatusesCustomBatchResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "get": {
          "description": "Retrieves the status of a Merchant Center account. No itemLevelIssues are returned for multi-client accounts.",
          "flatPath": "content/v2.1/{merchantId}/accountstatuses/{accountId}",
          "httpMethod": "GET",
          "id": "content.accountstatuses.get",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "parameters": {
            "accountId": {
              "description": "The ID of the account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "destinations": {
              "description": "If set, only issues for the specified destinations are returned, otherwise only issues for the Shopping destination.",
              "location": "query",
              "repeated": true,
              "type": "string"
            },
            "merchantId": {
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "content/v2.1/{merchantId}/accountstatuses/{accountId}",
          "response": {
            "$ref": "AccountStatus"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "list": {
          "description": "Lists the statuses of the sub-accounts in your Merchant Center account.",
          "flatPath": "content/v2.1/{merchantId}/accountstatuses",
          "httpMethod": "GET",
          "id": "content.accountstatuses.list",
          "parameterOrder": [
            "merchantId"
          ],
          "parameters": {
            "destinations": {
              "description": "If set, only issues for the specified destinations are returned, otherwise only issues for the Shopping destination.",
              "location": "query",
              "repeated": true,
              "type": "string"
            },
            "maxResults": {
              "description": "The maximum number of account statuses to return in the response, used for paging.",
              "format": "uint32",
              "location": "query",
              "type": "integer"
            },
            "merchantId": {
              "description": "The ID of the managing account. This must be a multi-client account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "content/v2.1/{merchantId}/accountstatuses",
          "response": {
            "$ref": "AccountstatusesListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        }
      }
    },
    "accounttax": {
      "methods": {
        "custombatch": {
          "description": "Retrieves and updates tax settings of multiple accounts in a single request.",
          "flatPath": "content/v2.1/accounttax/batch",
          "httpMethod": "POST",
          "id": "content.accounttax.custombatch",
          "parameterOrder": [],
          "parameters": {},
          "path": "content/v2.1/accounttax/batch",
          "request": {
            "$ref": "AccounttaxCustomBatchRequest"
          },
          "response": {
            "$ref": "AccounttaxCustomBatchResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "get": {
          "description": "Retrieves the tax settings of the account.",
          "flatPath": "content/v2.1/{merchantId}/accounttax/{accountId}",
          "httpMethod": "GET",
          "id": "content.accounttax.get",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "parameters": {
            "accountId": {
              "description": "The ID of the account for which to get/update account tax settings.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "merchantId": {
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "content/v2.1/{merchantId}/accounttax/{accountId}",
          "response": {
            "$ref": "AccountTax"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "list": {
          "description": "Lists the tax settings of the sub-accounts in your Merchant Center account.",
          "flatPath": "content/v2.1/{merchantId}/accounttax",
          "httpMethod": "GET",
          "id": "content.accounttax.list",
          "parameterOrder": [
            "merchantId"
          ],
          "parameters": {
            "maxResults": {
              "description": "The maximum number of tax settings to return in the response, used for paging.",
              "format": "uint32",
              "location": "query",
              "type": "integer"
            },
            "merchantId": {
              "description": "The ID of the managing account. This must be a multi-client account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "content/v2.1/{merchantId}/accounttax",
          "response": {
            "$ref": "AccounttaxListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "update": {
          "description": "Updates the tax settings of the account. Any fields that are not provided are deleted from the resource.",
          "flatPath": "content/v2.1/{merchantId}/accounttax/{accountId}",
          "httpMethod": "PUT",
          "id": "content.accounttax.update",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "parameters": {
            "accountId": {
              "description": "The ID of the account for which to get/update account tax settings.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "merchantId": {
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "content/v2.1/{merchantId}/accounttax/{accountId}",
          "request": {
            "$ref": "AccountTax"
          },
          "response": {
            "$ref": "AccountTax"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        }
      }
    },
    "csses": {
      "methods": {
        "get": {
          "description": "Retrieves a single CSS domain by ID.",
          "flatPath": "content/v2.1/{cssGroupId}/csses/{cssDomainId}",
          "httpMethod": "GET",
          "id": "content.csses.get",
          "parameterOrder": [
            "cssGroupId",
            "cssDomainId"
          ],
          "parameters": {
            "cssDomainId": {
              "description": "Required. The ID of the CSS domain to return.",
              "format": "int64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "cssGroupId": {
              "description": "Required. The ID of the managing account. If this parameter is not the same as [cssDomainId](#cssDomainId), then this ID must be a CSS group ID and `cssDomainId` must be the ID of a CSS domain affiliated with this group.",
              "format": "int64",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "content/v2.1/{cssGroupId}/csses/{cssDomainId}",
          "response": {
            "$ref": "Css"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "list": {
          "description": "Lists CSS domains affiliated with a CSS group.",
          "flatPath": "content/v2.1/{cssGroupId}/csses",
          "httpMethod": "GET",
          "id": "content.csses.list",
          "parameterOrder": [
            "cssGroupId"
          ],
          "parameters": {
            "cssGroupId": {
              "description": "Required. The CSS group ID of CSS domains to be listed.",
              "format": "int64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "pageSize": {
              "description": "The maximum number of CSS domains to return. The service may return fewer than this value. If unspecified, at most 50 CSS domains will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "pageToken": {
              "description": "A page token, received from a previous `ListCsses` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListCsses` must match the call that provided the page token.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "content/v2.1/{cssGroupId}/csses",
          "response": {
            "$ref": "ListCssesResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "updatelabels": {
          "description": "Updates labels that are assigned to a CSS domain by its CSS group.",
          "flatPath": "content/v2.1/{cssGroupId}/csses/{cssDomainId}/updatelabels",
          "httpMethod": "POST",
          "id": "content.csses.updatelabels",
          "parameterOrder": [
            "cssGroupId",
            "cssDomainId"
          ],
          "parameters": {
            "cssDomainId": {
              "description": "Required. The ID of the updated CSS domain.",
              "format": "int64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "cssGroupId": {
              "description": "Required. The CSS group ID of the updated CSS domain.",
              "format": "int64",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "content/v2.1/{cssGroupId}/csses/{cssDomainId}/updatelabels",
          "request": {
            "$ref": "LabelIds"
          },
          "response": {
            "$ref": "Css"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        }
      }
    },
    "datafeeds": {
      "methods": {
        "custombatch": {
          "description": "Deletes, fetches, gets, inserts and updates multiple datafeeds in a single request.",
          "flatPath": "content/v2.1/datafeeds/batch",
          "httpMethod": "POST",
          "id": "content.datafeeds.custombatch",
          "parameterOrder": [],
          "parameters": {},
          "path": "content/v2.1/datafeeds/batch",
          "request": {
            "$ref": "DatafeedsCustomBatchRequest"
          },
          "response": {
            "$ref": "DatafeedsCustomBatchResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "delete": {
          "description": "Deletes a datafeed configuration from your Merchant Center account.",
          "flatPath": "content/v2.1/{merchantId}/datafeeds/{datafeedId}",
          "httpMethod": "DELETE",
          "id": "content.datafeeds.delete",
          "parameterOrder": [
            "merchantId",
            "datafeedId"
          ],
          "parameters": {
            "datafeedId": {
              "description": "The ID of the datafeed.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "merchantId": {
              "description": "The ID of the account that manages the datafeed. This account cannot be a multi-client account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "content/v2.1/{merchantId}/datafeeds/{datafeedId}",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "fetchnow": {
          "description": "Invokes a fetch for the datafeed in your Merchant Center account. If you need to call this method more than once per day, we recommend you use the Products service to update your product data.",
          "flatPath": "content/v2.1/{merchantId}/datafeeds/{datafeedId}/fetchNow",
          "httpMethod": "POST",
          "id": "content.datafeeds.fetchnow",
          "parameterOrder": [
            "merchantId",
            "datafeedId"
          ],
          "parameters": {
            "datafeedId": {
              "description": "The ID of the datafeed to be fetched.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "merchantId": {
              "description": "The ID of the account that manages the datafeed. This account cannot be a multi-client account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "content/v2.1/{merchantId}/datafeeds/{datafeedId}/fetchNow",
          "response": {
            "$ref": "DatafeedsFetchNowResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "get": {
          "description": "Retrieves a datafeed configuration from your Merchant Center account.",
          "flatPath": "content/v2.1/{merchantId}/datafeeds/{datafeedId}",
          "httpMethod": "GET",
          "id": "content.datafeeds.get",
          "parameterOrder": [
            "merchantId",
            "datafeedId"
          ],
          "parameters": {
            "datafeedId": {
              "description": "The ID of the datafeed.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "merchantId": {
              "description": "The ID of the account that manages the datafeed. This account cannot be a multi-client account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "content/v2.1/{merchantId}/datafeeds/{datafeedId}",
          "response": {
            "$ref": "Datafeed"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "insert": {
          "description": "Registers a datafeed configuration with your Merchant Center account.",
          "flatPath": "content/v2.1/{merchantId}/datafeeds",
          "httpMethod": "POST",
          "id": "content.datafeeds.insert",
          "parameterOrder": [
            "merchantId"
          ],
          "parameters": {
            "merchantId": {
              "description": "The ID of the account that manages the datafeed. This account cannot be a multi-client account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "content/v2.1/{merchantId}/datafeeds",
          "request": {
            "$ref": "Datafeed"
          },
          "response": {
            "$ref": "Datafeed"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "list": {
          "description": "Lists the configurations for datafeeds in your Merchant Center account.",
          "flatPath": "content/v2.1/{merchantId}/datafeeds",
          "httpMethod": "GET",
          "id": "content.datafeeds.list",
          "parameterOrder": [
            "merchantId"
          ],
          "parameters": {
            "maxResults": {
              "description": "The maximum number of products to return in the response, used for paging.",
              "format": "uint32",
              "location": "query",
              "type": "integer"
            },
            "merchantId": {
              "description": "The ID of the account that manages the datafeeds. This account cannot be a multi-client account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "content/v2.1/{merchantId}/datafeeds",
          "response": {
            "$ref": "DatafeedsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "update": {
          "description": "Updates a datafeed configuration of your Merchant Center account. Any fields that are not provided are deleted from the resource.",
          "flatPath": "content/v2.1/{merchantId}/datafeeds/{datafeedId}",
          "httpMethod": "PUT",
          "id": "content.datafeeds.update",
          "parameterOrder": [
            "merchantId",
            "datafeedId"
          ],
          "parameters": {
            "datafeedId": {
              "description": "The ID of the datafeed.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "merchantId": {
              "description": "The ID of the account that manages the datafeed. This account cannot be a multi-client account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "content/v2.1/{merchantId}/datafeeds/{datafeedId}",
          "request": {
            "$ref": "Datafeed"
          },
          "response": {
            "$ref": "Datafeed"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        }
      }
    },
    "datafeedstatuses": {
      "methods": {
        "custombatch": {
          "description": "Gets multiple Merchant Center datafeed statuses in a single request.",
          "flatPath": "content/v2.1/datafeedstatuses/batch",
          "httpMethod": "POST",
          "id": "content.datafeedstatuses.custombatch",
          "parameterOrder": [],
          "parameters": {},
          "path": "content/v2.1/datafeedstatuses/batch",
          "request": {
            "$ref": "DatafeedstatusesCustomBatchRequest"
          },
          "response": {
            "$ref": "DatafeedstatusesCustomBatchResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "get": {
          "description": "Retrieves the status of a datafeed from your Merchant Center account.",
          "flatPath": "content/v2.1/{merchantId}/datafeedstatuses/{datafeedId}",
          "httpMethod": "GET",
          "id": "content.datafeedstatuses.get",
          "parameterOrder": [
            "merchantId",
            "datafeedId"
          ],
          "parameters": {
            "country": {
              "description": "The country for which to get the datafeed status. If this parameter is provided then language must also be provided. Note that this parameter is required for feeds targeting multiple countries and languages, since a feed may have a different status for each target.",
              "location": "query",
              "type": "string"
            },
            "datafeedId": {
              "description": "The ID of the datafeed.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "language": {
              "description": "The language for which to get the datafeed status. If this parameter is provided then country must also be provided. Note that this parameter is required for feeds targeting multiple countries and languages, since a feed may have a different status for each target.",
              "location": "query",
              "type": "string"
            },
            "merchantId": {
              "description": "The ID of the account that manages the datafeed. This account cannot be a multi-client account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "content/v2.1/{merchantId}/datafeedstatuses/{datafeedId}",
          "response": {
            "$ref": "DatafeedStatus"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "list": {
          "description": "Lists the statuses of the datafeeds in your Merchant Center account.",
          "flatPath": "content/v2.1/{merchantId}/datafeedstatuses",
          "httpMethod": "GET",
          "id": "content.datafeedstatuses.list",
          "parameterOrder": [
            "merchantId"
          ],
          "parameters": {
            "maxResults": {
              "description": "The maximum number of products to return in the response, used for paging.",
              "format": "uint32",
              "location": "query",
              "type": "integer"
            },
            "merchantId": {
              "description": "The ID of the account that manages the datafeeds. This account cannot be a multi-client account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "content/v2.1/{merchantId}/datafeedstatuses",
          "response": {
            "$ref": "DatafeedstatusesListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        }
      }
    },
    "liasettings": {
      "methods": {
        "custombatch": {
          "description": "Retrieves and/or updates the LIA settings of multiple accounts in a single request.",
          "flatPath": "content/v2.1/liasettings/batch",
          "httpMethod": "POST",
          "id": "content.liasettings.custombatch",
          "parameterOrder": [],
          "parameters": {},
          "path": "content/v2.1/liasettings/batch",
          "request": {
            "$ref": "LiasettingsCustomBatchRequest"
          },
          "response": {
            "$ref": "LiasettingsCustomBatchResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "get": {
          "description": "Retrieves the LIA settings of the account.",
          "flatPath": "content/v2.1/{merchantId}/liasettings/{accountId}",
          "httpMethod": "GET",
          "id": "content.liasettings.get",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "parameters": {
            "accountId": {
              "description": "The ID of the account for which to get or update LIA settings.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "merchantId": {
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "content/v2.1/{merchantId}/liasettings/{accountId}",
          "response": {
            "$ref": "LiaSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "getaccessiblegmbaccounts": {
          "description": "Retrieves the list of accessible Google My Business accounts.",
          "flatPath": "content/v2.1/{merchantId}/liasettings/{accountId}/accessiblegmbaccounts",
          "httpMethod": "GET",
          "id": "content.liasettings.getaccessiblegmbaccounts",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "parameters": {
            "accountId": {
              "description": "The ID of the account for which to retrieve accessible Google My Business accounts.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "merchantId": {
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "content/v2.1/{merchantId}/liasettings/{accountId}/accessiblegmbaccounts",
          "response": {
            "$ref": "LiasettingsGetAccessibleGmbAccountsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "list": {
          "description": "Lists the LIA settings of the sub-accounts in your Merchant Center account.",
          "flatPath": "content/v2.1/{merchantId}/liasettings",
          "httpMethod": "GET",
          "id": "content.liasettings.list",
          "parameterOrder": [
            "merchantId"
          ],
          "parameters": {
            "maxResults": {
              "description": "The maximum number of LIA settings to return in the response, used for paging.",
              "format": "uint32",
              "location": "query",
              "type": "integer"
            },
            "merchantId": {
              "description": "The ID of the managing account. This must be a multi-client account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "content/v2.1/{merchantId}/liasettings",
          "response": {
            "$ref": "LiasettingsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "listposdataproviders": {
          "description": "Retrieves the list of POS data providers that have active settings for the all eiligible countries.",
          "flatPath": "content/v2.1/liasettings/posdataproviders",
          "httpMethod": "GET",
          "id": "content.liasettings.listposdataproviders",
          "parameterOrder": [],
          "parameters": {},
          "path": "content/v2.1/liasettings/posdataproviders",
          "response": {
            "$ref": "LiasettingsListPosDataProvidersResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "requestgmbaccess": {
          "description": "Requests access to a specified Google My Business account.",
          "flatPath": "content/v2.1/{merchantId}/liasettings/{accountId}/requestgmbaccess",
          "httpMethod": "POST",
          "id": "content.liasettings.requestgmbaccess",
          "parameterOrder": [
            "merchantId",
            "accountId",
            "gmbEmail"
          ],
          "parameters": {
            "accountId": {
              "description": "The ID of the account for which GMB access is requested.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "gmbEmail": {
              "description": "The email of the Google My Business account.",
              "location": "query",
              "required": true,
              "type": "string"
            },
            "merchantId": {
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "content/v2.1/{merchantId}/liasettings/{accountId}/requestgmbaccess",
          "response": {
            "$ref": "LiasettingsRequestGmbAccessResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "requestinventoryverification": {
          "description": "Requests inventory validation for the specified country.",
          "flatPath": "content/v2.1/{merchantId}/liasettings/{accountId}/requestinventoryverification/{country}",
          "httpMethod": "POST",
          "id": "content.liasettings.requestinventoryverification",
          "parameterOrder": [
            "merchantId",
            "accountId",
            "country"
          ],
          "parameters": {
            "accountId": {
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "country": {
              "description": "The country for which inventory validation is requested.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "merchantId": {
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "content/v2.1/{merchantId}/liasettings/{accountId}/requestinventoryverification/{country}",
          "response": {
            "$ref": "LiasettingsRequestInventoryVerificationResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "setinventoryverificationcontact": {
          "description": "Sets the inventory verification contract for the specified country.",
          "flatPath": "content/v2.1/{merchantId}/liasettings/{accountId}/setinventoryverificationcontact",
          "httpMethod": "POST",
          "id": "content.liasettings.setinventoryverificationcontact",
          "parameterOrder": [
            "merchantId",
            "accountId",
            "country",
            "language",
            "contactName",
            "contactEmail"
          ],
          "parameters": {
            "accountId": {
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "contactEmail": {
              "description": "The email of the inventory verification contact.",
              "location": "query",
              "required": true,
              "type": "string"
            },
            "contactName": {
              "description": "The name of the inventory verification contact.",
              "location": "query",
              "required": true,
              "type": "string"
            },
            "country": {
              "description": "The country for which inventory verification is requested.",
              "location": "query",
              "required": true,
              "type": "string"
            },
            "language": {
              "description": "The language for which inventory verification is requested.",
              "location": "query",
              "required": true,
              "type": "string"
            },
            "merchantId": {
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "content/v2.1/{merchantId}/liasettings/{accountId}/setinventoryverificationcontact",
          "response": {
            "$ref": "LiasettingsSetInventoryVerificationContactResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "setposdataprovider": {
          "description": "Sets the POS data provider for the specified country.",
          "flatPath": "content/v2.1/{merchantId}/liasettings/{accountId}/setposdataprovider",
          "httpMethod": "POST",
          "id": "content.liasettings.setposdataprovider",
          "parameterOrder": [
            "merchantId",
            "accountId",
            "country"
          ],
          "parameters": {
            "accountId": {
              "description": "The ID of the account for which to retrieve accessible Google My Business accounts.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "country": {
              "description": "The country for which the POS data provider is selected.",
              "location": "query",
              "required": true,
              "type": "string"
            },
            "merchantId": {
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "posDataProviderId": {
              "description": "The ID of POS data provider.",
              "format": "uint64",
              "location": "query",
              "type": "string"
            },
            "posExternalAccountId": {
              "description": "The account ID by which this merchant is known to the POS data provider.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "content/v2.1/{merchantId}/liasettings/{accountId}/setposdataprovider",
          "response": {
            "$ref": "LiasettingsSetPosDataProviderResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "update": {
          "description": "Updates the LIA settings of the account. Any fields that are not provided are deleted from the resource.",
          "flatPath": "content/v2.1/{merchantId}/liasettings/{accountId}",
          "httpMethod": "PUT",
          "id": "content.liasettings.update",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "parameters": {
            "accountId": {
              "description": "The ID of the account for which to get or update LIA settings.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "merchantId": {
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "content/v2.1/{merchantId}/liasettings/{accountId}",
          "request": {
            "$ref": "LiaSettings"
          },
          "response": {
            "$ref": "LiaSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        }
      }
    },
    "localinventory": {
      "methods": {
        "custombatch": {
          "description": "Updates local inventory for multiple products or stores in a single request.",
          "flatPath": "content/v2.1/localinventory/batch",
          "httpMethod": "POST",
          "id": "content.localinventory.custombatch",
          "parameterOrder": [],
          "parameters": {},
          "path": "content/v2.1/localinventory/batch",
          "request": {
            "$ref": "LocalinventoryCustomBatchRequest"
          },
          "response": {
            "$ref": "LocalinventoryCustomBatchResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "insert": {
          "description": "Updates the local inventory of a product in your Merchant Center account.",
          "flatPath": "content/v2.1/{merchantId}/products/{productId}/localinventory",
          "httpMethod": "POST",
          "id": "content.localinventory.insert",
          "parameterOrder": [
            "merchantId",
            "productId"
          ],
          "parameters": {
            "merchantId": {
              "description": "The ID of the account that contains the product. This account cannot be a multi-client account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "productId": {
              "description": "The REST ID of the product for which to update local inventory.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "content/v2.1/{merchantId}/products/{productId}/localinventory",
          "request": {
            "$ref": "LocalInventory"
          },
          "response": {
            "$ref": "LocalInventory"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        }
      }
    },
    "orderinvoices": {
      "methods": {
        "createchargeinvoice": {
          "description": "Creates a charge invoice for a shipment group, and triggers a charge capture for orderinvoice enabled orders.",
          "flatPath": "content/v2.1/{merchantId}/orderinvoices/{orderId}/createChargeInvoice",
          "httpMethod": "POST",
          "id": "content.orderinvoices.createchargeinvoice",
          "parameterOrder": [
            "merchantId",
            "orderId"
          ],
          "parameters": {
            "merchantId": {
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "orderId": {
              "description": "The ID of the order.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "content/v2.1/{merchantId}/orderinvoices/{orderId}/createChargeInvoice",
          "request": {
            "$ref": "OrderinvoicesCreateChargeInvoiceRequest"
          },
          "response": {
            "$ref": "OrderinvoicesCreateChargeInvoiceResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "createrefundinvoice": {
          "description": "Creates a refund invoice for one or more shipment groups, and triggers a refund for orderinvoice enabled orders. This can only be used for line items that have previously been charged using `createChargeInvoice`. All amounts (except for the summary) are incremental with respect to the previous invoice.",
          "flatPath": "content/v2.1/{merchantId}/orderinvoices/{orderId}/createRefundInvoice",
          "httpMethod": "POST",
          "id": "content.orderinvoices.createrefundinvoice",
          "parameterOrder": [
            "merchantId",
            "orderId"
          ],
          "parameters": {
            "merchantId": {
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "orderId": {
              "description": "The ID of the order.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "content/v2.1/{merchantId}/orderinvoices/{orderId}/createRefundInvoice",
          "request": {
            "$ref": "OrderinvoicesCreateRefundInvoiceRequest"
          },
          "response": {
            "$ref": "OrderinvoicesCreateRefundInvoiceResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        }
      }
    },
    "orderreports": {
      "methods": {
        "listdisbursements": {
          "description": "Retrieves a report for disbursements from your Merchant Center account.",
          "flatPath": "content/v2.1/{merchantId}/orderreports/disbursements",
          "httpMethod": "GET",
          "id": "content.orderreports.listdisbursements",
          "parameterOrder": [
            "merchantId"
          ],
          "parameters": {
            "disbursementEndDate": {
              "description": "The last date which disbursements occurred. In ISO 8601 format. Default: current date.",
              "location": "query",
              "type": "string"
            },
            "disbursementStartDate": {
              "description": "The first date which disbursements occurred. In ISO 8601 format.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "description": "The maximum number of disbursements to return in the response, used for paging.",
              "format": "uint32",
              "location": "query",
              "type": "integer"
            },
            "merchantId": {
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "content/v2.1/{merchantId}/orderreports/disbursements",
          "response": {
            "$ref": "OrderreportsListDisbursementsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "listtransactions": {
          "description": "Retrieves a list of transactions for a disbursement from your Merchant Center account.",
          "flatPath": "content/v2.1/{merchantId}/orderreports/disbursements/{disbursementId}/transactions",
          "httpMethod": "GET",
          "id": "content.orderreports.listtransactions",
          "parameterOrder": [
            "merchantId",
            "disbursementId"
          ],
          "parameters": {
            "disbursementId": {
              "description": "The Google-provided ID of the disbursement (found in Wallet).",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "maxResults": {
              "description": "The maximum number of disbursements to return in the response, used for paging.",
              "format": "uint32",
              "location": "query",
              "type": "integer"
            },
            "merchantId": {
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "location": "query",
              "type": "string"
            },
            "transactionEndDate": {
              "description": "The last date in which transaction occurred. In ISO 8601 format. Default: current date.",
              "location": "query",
              "type": "string"
            },
            "transactionStartDate": {
              "description": "The first date in which transaction occurred. In ISO 8601 format.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "content/v2.1/{merchantId}/orderreports/disbursements/{disbursementId}/transactions",
          "response": {
            "$ref": "OrderreportsListTransactionsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        }
      }
    },
    "orderreturns": {
      "methods": {
        "acknowledge": {
          "description": "Acks an order return in your Merchant Center account.",
          "flatPath": "content/v2.1/{merchantId}/orderreturns/{returnId}/acknowledge",
          "httpMethod": "POST",
          "id": "content.orderreturns.acknowledge",
          "parameterOrder": [
            "merchantId",
            "returnId"
          ],
          "parameters": {
            "merchantId": {
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "returnId": {
              "description": "The ID of the return.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "content/v2.1/{merchantId}/orderreturns/{returnId}/acknowledge",
          "request": {
            "$ref": "OrderreturnsAcknowledgeRequest"
          },
          "response": {
            "$ref": "OrderreturnsAcknowledgeResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "createorderreturn": {
          "description": "Create return in your Merchant Center account.",
          "flatPath": "content/v2.1/{merchantId}/orderreturns/createOrderReturn",
          "httpMethod": "POST",
          "id": "content.orderreturns.createorderreturn",
          "parameterOrder": [
            "merchantId"
          ],
          "parameters": {
            "merchantId": {
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "content/v2.1/{merchantId}/orderreturns/createOrderReturn",
          "request": {
            "$ref": "OrderreturnsCreateOrderReturnRequest"
          },
          "response": {
            "$ref": "OrderreturnsCreateOrderReturnResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "get": {
          "description": "Retrieves an order return from your Merchant Center account.",
          "flatPath": "content/v2.1/{merchantId}/orderreturns/{returnId}",
          "httpMethod": "GET",
          "id": "content.orderreturns.get",
          "parameterOrder": [
            "merchantId",
            "returnId"
          ],
          "parameters": {
            "merchantId": {
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "returnId": {
              "description": "Merchant order return ID generated by Google.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "content/v2.1/{merchantId}/orderreturns/{returnId}",
          "response": {
            "$ref": "MerchantOrderReturn"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "list": {
          "description": "Lists order returns in your Merchant Center account.",
          "flatPath": "content/v2.1/{merchantId}/orderreturns",
          "httpMethod": "GET",
          "id": "content.orderreturns.list",
          "parameterOrder": [
            "merchantId"
          ],
          "parameters": {
            "acknowledged": {
              "description": "Obtains order returns that match the acknowledgement status. When set to true, obtains order returns that have been acknowledged. When false, obtains order returns that have not been acknowledged. When not provided, obtains order returns regardless of their acknowledgement status. We recommend using this filter set to `false`, in conjunction with the `acknowledge` call, such that only un-acknowledged order returns are returned. ",
              "location": "query",
              "type": "boolean"
            },
            "createdEndDate": {
              "description": "Obtains order returns created before this date (inclusively), in ISO 8601 format.",
              "location": "query",
              "type": "string"
            },
            "createdStartDate": {
              "description": "Obtains order returns created after this date (inclusively), in ISO 8601 format.",
              "location": "query",
              "type": "string"
            },
            "googleOrderIds": {
              "description": "Obtains order returns with the specified order ids. If this parameter is provided, createdStartDate, createdEndDate, shipmentType, shipmentStatus, shipmentState and acknowledged parameters must be not set. Note: if googleOrderId and shipmentTrackingNumber parameters are provided, the obtained results will include all order returns that either match the specified order id or the specified tracking number.",
              "location": "query",
              "repeated": true,
              "type": "string"
            },
            "maxResults": {
              "description": "The maximum number of order returns to return in the response, used for paging. The default value is 25 returns per page, and the maximum allowed value is 250 returns per page.",
              "format": "uint32",
              "location": "query",
              "type": "integer"
            },
            "merchantId": {
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "orderBy": {
              "description": "Return the results in the specified order.",
              "enum": [
                "RETURN_CREATION_TIME_DESC",
                "RETURN_CREATION_TIME_ASC"
              ],
              "enumDescriptions": [
                "",
                ""
              ],
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "location": "query",
              "type": "string"
            },
            "shipmentStates": {
              "description": "Obtains order returns that match any shipment state provided in this parameter. When this parameter is not provided, order returns are obtained regardless of their shipment states.",
              "enum": [
                "NEW",
                "SHIPPED",
                "COMPLETED",
                "UNDELIVERABLE",
                "PENDING"
              ],
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                ""
              ],
              "location": "query",
              "repeated": true,
              "type": "string"
            },
            "shipmentStatus": {
              "description": "Obtains order returns that match any shipment status provided in this parameter. When this parameter is not provided, order returns are obtained regardless of their shipment statuses.",
              "enum": [
                "NEW",
                "IN_PROGRESS",
                "PROCESSED"
              ],
              "enumDescriptions": [
                "",
                "",
                ""
              ],
              "location": "query",
              "repeated": true,
              "type": "string"
            },
            "shipmentTrackingNumbers": {
              "description": "Obtains order returns with the specified tracking numbers. If this parameter is provided, createdStartDate, createdEndDate, shipmentType, shipmentStatus, shipmentState and acknowledged parameters must be not set. Note: if googleOrderId and shipmentTrackingNumber parameters are provided, the obtained results will include all order returns that either match the specified order id or the specified tracking number.",
              "location": "query",
              "repeated": true,
              "type": "string"
            },
            "shipmentTypes": {
              "description": "Obtains order returns that match any shipment type provided in this parameter. When this parameter is not provided, order returns are obtained regardless of their shipment types.",
              "enum": [
                "BY_MAIL",
                "RETURNLESS",
                "CONTACT_CUSTOMER_SUPPORT"
              ],
              "enumDescriptions": [
                "",
                "",
                ""
              ],
              "location": "query",
              "repeated": true,
              "type": "string"
            }
          },
          "path": "content/v2.1/{merchantId}/orderreturns",
          "response": {
            "$ref": "OrderreturnsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "process": {
          "description": "Processes return in your Merchant Center account.",
          "flatPath": "content/v2.1/{merchantId}/orderreturns/{returnId}/process",
          "httpMethod": "POST",
          "id": "content.orderreturns.process",
          "parameterOrder": [
            "merchantId",
            "returnId"
          ],
          "parameters": {
            "merchantId": {
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "returnId": {
              "description": "The ID of the return.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "content/v2.1/{merchantId}/orderreturns/{returnId}/process",
          "request": {
            "$ref": "OrderreturnsProcessRequest"
          },
          "response": {
            "$ref": "OrderreturnsProcessResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        }
      }
    },
    "orders": {
      "methods": {
        "acknowledge": {
          "description": "Marks an order as acknowledged.",
          "flatPath": "content/v2.1/{merchantId}/orders/{orderId}/acknowledge",
          "httpMethod": "POST",
          "id": "content.orders.acknowledge",
          "parameterOrder": [
            "merchantId",
            "orderId"
          ],
          "parameters": {
            "merchantId": {
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "orderId": {
              "description": "The ID of the order.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "content/v2.1/{merchantId}/orders/{orderId}/acknowledge",
          "request": {
            "$ref": "OrdersAcknowledgeRequest"
          },
          "response": {
            "$ref": "OrdersAcknowledgeResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "advancetestorder": {
          "description": "Sandbox only. Moves a test order from state \"`inProgress`\" to state \"`pendingShipment`\".",
          "flatPath": "content/v2.1/{merchantId}/testorders/{orderId}/advance",
          "httpMethod": "POST",
          "id": "content.orders.advancetestorder",
          "parameterOrder": [
            "merchantId",
            "orderId"
          ],
          "parameters": {
            "merchantId": {
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "orderId": {
              "description": "The ID of the test order to modify.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "content/v2.1/{merchantId}/testorders/{orderId}/advance",
          "response": {
            "$ref": "OrdersAdvanceTestOrderResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "cancel": {
          "description": "Cancels all line items in an order, making a full refund.",
          "flatPath": "content/v2.1/{merchantId}/orders/{orderId}/cancel",
          "httpMethod": "POST",
          "id": "content.orders.cancel",
          "parameterOrder": [
            "merchantId",
            "orderId"
          ],
          "parameters": {
            "merchantId": {
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "orderId": {
              "description": "The ID of the order to cancel.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "content/v2.1/{merchantId}/orders/{orderId}/cancel",
          "request": {
            "$ref": "OrdersCancelRequest"
          },
          "response": {
            "$ref": "OrdersCancelResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "cancellineitem": {
          "description": "Cancels a line item, making a full refund.",
          "flatPath": "content/v2.1/{merchantId}/orders/{orderId}/cancelLineItem",
          "httpMethod": "POST",
          "id": "content.orders.cancellineitem",
          "parameterOrder": [
            "merchantId",
            "orderId"
          ],
          "parameters": {
            "merchantId": {
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "orderId": {
              "description": "The ID of the order.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "content/v2.1/{merchantId}/orders/{orderId}/cancelLineItem",
          "request": {
            "$ref": "OrdersCancelLineItemRequest"
          },
          "response": {
            "$ref": "OrdersCancelLineItemResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "canceltestorderbycustomer": {
          "description": "Sandbox only. Cancels a test order for customer-initiated cancellation.",
          "flatPath": "content/v2.1/{merchantId}/testorders/{orderId}/cancelByCustomer",
          "httpMethod": "POST",
          "id": "content.orders.canceltestorderbycustomer",
          "parameterOrder": [
            "merchantId",
            "orderId"
          ],
          "parameters": {
            "merchantId": {
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "orderId": {
              "description": "The ID of the test order to cancel.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "content/v2.1/{merchantId}/testorders/{orderId}/cancelByCustomer",
          "request": {
            "$ref": "OrdersCancelTestOrderByCustomerRequest"
          },
          "response": {
            "$ref": "OrdersCancelTestOrderByCustomerResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "createtestorder": {
          "description": "Sandbox only. Creates a test order.",
          "flatPath": "content/v2.1/{merchantId}/testorders",
          "httpMethod": "POST",
          "id": "content.orders.createtestorder",
          "parameterOrder": [
            "merchantId"
          ],
          "parameters": {
            "merchantId": {
              "description": "The ID of the account that should manage the order. This cannot be a multi-client account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "content/v2.1/{merchantId}/testorders",
          "request": {
            "$ref": "OrdersCreateTestOrderRequest"
          },
          "response": {
            "$ref": "OrdersCreateTestOrderResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "createtestreturn": {
          "description": "Sandbox only. Creates a test return.",
          "flatPath": "content/v2.1/{merchantId}/orders/{orderId}/testreturn",
          "httpMethod": "POST",
          "id": "content.orders.createtestreturn",
          "parameterOrder": [
            "merchantId",
            "orderId"
          ],
          "parameters": {
            "merchantId": {
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "orderId": {
              "description": "The ID of the order.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "content/v2.1/{merchantId}/orders/{orderId}/testreturn",
          "request": {
            "$ref": "OrdersCreateTestReturnRequest"
          },
          "response": {
            "$ref": "OrdersCreateTestReturnResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "get": {
          "description": "Retrieves an order from your Merchant Center account.",
          "flatPath": "content/v2.1/{merchantId}/orders/{orderId}",
          "httpMethod": "GET",
          "id": "content.orders.get",
          "parameterOrder": [
            "merchantId",
            "orderId"
          ],
          "parameters": {
            "merchantId": {
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "orderId": {
              "description": "The ID of the order.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "content/v2.1/{merchantId}/orders/{orderId}",
          "response": {
            "$ref": "Order"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "getbymerchantorderid": {
          "description": "Retrieves an order using merchant order ID.",
          "flatPath": "content/v2.1/{merchantId}/ordersbymerchantid/{merchantOrderId}",
          "httpMethod": "GET",
          "id": "content.orders.getbymerchantorderid",
          "parameterOrder": [
            "merchantId",
            "merchantOrderId"
          ],
          "parameters": {
            "merchantId": {
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "merchantOrderId": {
              "description": "The merchant order ID to be looked for.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "content/v2.1/{merchantId}/ordersbymerchantid/{merchantOrderId}",
          "response": {
            "$ref": "OrdersGetByMerchantOrderIdResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "gettestordertemplate": {
          "description": "Sandbox only. Retrieves an order template that can be used to quickly create a new order in sandbox.",
          "flatPath": "content/v2.1/{merchantId}/testordertemplates/{templateName}",
          "httpMethod": "GET",
          "id": "content.orders.gettestordertemplate",
          "parameterOrder": [
            "merchantId",
            "templateName"
          ],
          "parameters": {
            "country": {
              "description": "The country of the template to retrieve. Defaults to `US`.",
              "location": "query",
              "type": "string"
            },
            "merchantId": {
              "description": "The ID of the account that should manage the order. This cannot be a multi-client account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "templateName": {
              "description": "The name of the template to retrieve.",
              "enum": [
                "TEMPLATE1",
                "TEMPLATE2",
                "TEMPLATE1A",
                "TEMPLATE1B",
                "TEMPLATE3",
                "TEMPLATE4"
              ],
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                "",
                ""
              ],
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "content/v2.1/{merchantId}/testordertemplates/{templateName}",
          "response": {
            "$ref": "OrdersGetTestOrderTemplateResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "instorerefundlineitem": {
          "description": "Deprecated. Notifies that item return and refund was handled directly by merchant outside of Google payments processing (e.g. cash refund done in store). Note: We recommend calling the returnrefundlineitem method to refund in-store returns. We will issue the refund directly to the customer. This helps to prevent possible differences arising between merchant and Google transaction records. We also recommend having the point of sale system communicate with Google to ensure that customers do not receive a double refund by first refunding via Google then via an in-store return.",
          "flatPath": "content/v2.1/{merchantId}/orders/{orderId}/inStoreRefundLineItem",
          "httpMethod": "POST",
          "id": "content.orders.instorerefundlineitem",
          "parameterOrder": [
            "merchantId",
            "orderId"
          ],
          "parameters": {
            "merchantId": {
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "orderId": {
              "description": "The ID of the order.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "content/v2.1/{merchantId}/orders/{orderId}/inStoreRefundLineItem",
          "request": {
            "$ref": "OrdersInStoreRefundLineItemRequest"
          },
          "response": {
            "$ref": "OrdersInStoreRefundLineItemResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "list": {
          "description": "Lists the orders in your Merchant Center account.",
          "flatPath": "content/v2.1/{merchantId}/orders",
          "httpMethod": "GET",
          "id": "content.orders.list",
          "parameterOrder": [
            "merchantId"
          ],
          "parameters": {
            "acknowledged": {
              "description": "Obtains orders that match the acknowledgement status. When set to true, obtains orders that have been acknowledged. When false, obtains orders that have not been acknowledged. We recommend using this filter set to `false`, in conjunction with the `acknowledge` call, such that only un-acknowledged orders are returned. ",
              "location": "query",
              "type": "boolean"
            },
            "maxResults": {
              "description": "The maximum number of orders to return in the response, used for paging. The default value is 25 orders per page, and the maximum allowed value is 250 orders per page.",
              "format": "uint32",
              "location": "query",
              "type": "integer"
            },
            "merchantId": {
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "orderBy": {
              "description": "Order results by placement date in descending or ascending order. Acceptable values are: - placedDateAsc - placedDateDesc ",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "location": "query",
              "type": "string"
            },
            "placedDateEnd": {
              "description": "Obtains orders placed before this date (exclusively), in ISO 8601 format.",
              "location": "query",
              "type": "string"
            },
            "placedDateStart": {
              "description": "Obtains orders placed after this date (inclusively), in ISO 8601 format.",
              "location": "query",
              "type": "string"
            },
            "statuses": {
              "description": "Obtains orders that match any of the specified statuses. Please note that `active` is a shortcut for `pendingShipment` and `partiallyShipped`, and `completed` is a shortcut for `shipped`, `partiallyDelivered`, `delivered`, `partiallyReturned`, `returned`, and `canceled`.",
              "enum": [
                "ACTIVE",
                "COMPLETED",
                "CANCELED",
                "IN_PROGRESS",
                "PENDING_SHIPMENT",
                "PARTIALLY_SHIPPED",
                "SHIPPED",
                "PARTIALLY_DELIVERED",
                "DELIVERED",
                "PARTIALLY_RETURNED",
                "RETURNED"
              ],
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
[...]
