{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/curation-partners": {
          "description": "See, create, edit, and delete data entities in your Curation account."
        }
      }
    }
  },
  "basePath": "",
  "baseUrl": "https://curationpartners.googleapis.com/",
  "batchPath": "batch",
  "canonicalName": "CurationPartners",
  "description": "Curation partners API is an externally available HTTP API for curators to programmatically manage their data segments and curated packages used by ad agencies.",
  "discoveryVersion": "v1",
  "documentationLink": "https://developers.google.com/authorized-buyers/curation/apis/guides/curationpartners/overview",
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "id": "curationpartners:v1",
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://curationpartners.mtls.googleapis.com/",
  "name": "curationpartners",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "parameters": {
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "protocol": "rest",
  "resources": {
    "curators": {
      "resources": {
        "curatedPackages": {
          "methods": {
            "activate": {
              "description": "Activates an existing curated package.",
              "flatPath": "v1/curators/{curatorsId}/curatedPackages/{curatedPackagesId}:activate",
              "httpMethod": "POST",
              "id": "curationpartners.curators.curatedPackages.activate",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. The name of the curated package to activate. Format: `curators/{accountId}/curatedPackages/{curatedPackageId}`",
                  "location": "path",
                  "pattern": "^curators/[^/]+/curatedPackages/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/{+name}:activate",
              "request": {
                "$ref": "ActivateCuratedPackageRequest"
              },
              "response": {
                "$ref": "CuratedPackage"
              },
              "scopes": [
                "https://www.googleapis.com/auth/curation-partners"
              ]
            },
            "create": {
              "description": "Creates a new curated package.",
              "flatPath": "v1/curators/{curatorsId}/curatedPackages",
              "httpMethod": "POST",
              "id": "curationpartners.curators.curatedPackages.create",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "description": "Required. The parent curator account where this curated package will be created. Format: `curators/{accountId}`",
                  "location": "path",
                  "pattern": "^curators/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/{+parent}/curatedPackages",
              "request": {
                "$ref": "CuratedPackage"
              },
              "response": {
                "$ref": "CuratedPackage"
              },
              "scopes": [
                "https://www.googleapis.com/auth/curation-partners"
              ]
            },
            "deactivate": {
              "description": "Deactivates an existing curated package.",
              "flatPath": "v1/curators/{curatorsId}/curatedPackages/{curatedPackagesId}:deactivate",
              "httpMethod": "POST",
              "id": "curationpartners.curators.curatedPackages.deactivate",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. The name of the curated package to deactivate. Format: `curators/{accountId}/curatedPackages/{curatedPackageId}`",
                  "location": "path",
                  "pattern": "^curators/[^/]+/curatedPackages/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/{+name}:deactivate",
              "request": {
                "$ref": "DeactivateCuratedPackageRequest"
              },
              "response": {
                "$ref": "CuratedPackage"
              },
              "scopes": [
                "https://www.googleapis.com/auth/curation-partners"
              ]
            },
            "get": {
              "description": "Gets a curated package given its resource name.",
              "flatPath": "v1/curators/{curatorsId}/curatedPackages/{curatedPackagesId}",
              "httpMethod": "GET",
              "id": "curationpartners.curators.curatedPackages.get",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. The name of the curated package to retrieve. Format: `curators/{accountId}/curatedPackages/{curatedPackageId}`",
                  "location": "path",
                  "pattern": "^curators/[^/]+/curatedPackages/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/{+name}",
              "response": {
                "$ref": "CuratedPackage"
              },
              "scopes": [
                "https://www.googleapis.com/auth/curation-partners"
              ]
            },
            "list": {
              "description": "Lists curated packages owned by the specified curator.",
              "flatPath": "v1/curators/{curatorsId}/curatedPackages",
              "httpMethod": "GET",
              "id": "curationpartners.curators.curatedPackages.list",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "filter": {
                  "description": "Optional. Optional query string using the [Cloud API list filtering syntax](/authorized-buyers/apis/guides/list-filters). Supported columns for filtering are: * displayName * createTime * updateTime * state * feeCpm.currencyCode * feeCpm.units * feeCpm.nanos * floorPriceCpm.currencyCode * floorPriceCpm.units * floorPriceCpm.nanos",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Optional. Requested page size. The server may return fewer results than requested. Max allowed page size is 500. If unspecified, the server will default to 500.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "Optional. A page token, received from a previous `ListCuratedPackages` call. Provide this to retrieve the subsequent page.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "description": "Required. The parent curator account which owns this collection of curated packages. Format: `curators/{accountId}`",
                  "location": "path",
                  "pattern": "^curators/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/{+parent}/curatedPackages",
              "response": {
                "$ref": "ListCuratedPackagesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/curation-partners"
              ]
            },
            "patch": {
              "description": "Updates an existing curated package.",
              "flatPath": "v1/curators/{curatorsId}/curatedPackages/{curatedPackagesId}",
              "httpMethod": "PATCH",
              "id": "curationpartners.curators.curatedPackages.patch",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Identifier. The unique resource name for the curated package. Format: `curators/{accountId}/curatedPackages/{curatedPackageId}`",
                  "location": "path",
                  "pattern": "^curators/[^/]+/curatedPackages/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "updateMask": {
                  "description": "Optional. List of fields to be updated. If empty or unspecified, the service will update all fields populated in the update request excluding the output only fields and primitive fields with default value. Note that explicit field mask is required in order to reset a primitive field back to its default value, for example, false for boolean fields, 0 for integer fields. A special field mask consisting of a single path \"*\" can be used to indicate full replacement (the equivalent of PUT method), updatable fields unset or unspecified in the input will be cleared or set to default value. Output only fields will be ignored regardless of the value of updateMask.",
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v1/{+name}",
              "request": {
                "$ref": "CuratedPackage"
              },
              "response": {
                "$ref": "CuratedPackage"
              },
              "scopes": [
                "https://www.googleapis.com/auth/curation-partners"
              ]
            }
          }
        },
        "dataSegments": {
          "methods": {
            "activate": {
              "description": "Activates a data segment.",
              "flatPath": "v1/curators/{curatorsId}/dataSegments/{dataSegmentsId}:activate",
              "httpMethod": "POST",
              "id": "curationpartners.curators.dataSegments.activate",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. Name of data segment to activate. Format: `curators/{accountId}/dataSegments/{curatorDataSegmentId}`",
                  "location": "path",
                  "pattern": "^curators/[^/]+/dataSegments/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/{+name}:activate",
              "request": {
                "$ref": "ActivateDataSegmentRequest"
              },
              "response": {
                "$ref": "DataSegment"
              },
              "scopes": [
                "https://www.googleapis.com/auth/curation-partners"
              ]
            },
            "create": {
              "description": "Creates a data segment owned by the listed curator. The data segment will be created in the `ACTIVE` state, meaning it will be immediately available for buyers to use in preferred deals, private auction deals, and auction packages.",
              "flatPath": "v1/curators/{curatorsId}/dataSegments",
              "httpMethod": "POST",
              "id": "curationpartners.curators.dataSegments.create",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "description": "Required. The parent resource where this data segment will be created. Format: `curators/{accountId}`",
                  "location": "path",
                  "pattern": "^curators/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/{+parent}/dataSegments",
              "request": {
                "$ref": "DataSegment"
              },
              "response": {
                "$ref": "DataSegment"
              },
              "scopes": [
                "https://www.googleapis.com/auth/curation-partners"
              ]
            },
            "deactivate": {
              "description": "Deactivates a data segment.",
              "flatPath": "v1/curators/{curatorsId}/dataSegments/{dataSegmentsId}:deactivate",
              "httpMethod": "POST",
              "id": "curationpartners.curators.dataSegments.deactivate",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. Name of data segment to deactivate. Format: `curators/{accountId}/dataSegments/{curatorDataSegmentId}`",
                  "location": "path",
                  "pattern": "^curators/[^/]+/dataSegments/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/{+name}:deactivate",
              "request": {
                "$ref": "DeactivateDataSegmentRequest"
              },
              "response": {
                "$ref": "DataSegment"
              },
              "scopes": [
                "https://www.googleapis.com/auth/curation-partners"
              ]
            },
            "get": {
              "description": "Gets a data segment given its name.",
              "flatPath": "v1/curators/{curatorsId}/dataSegments/{dataSegmentsId}",
              "httpMethod": "GET",
              "id": "curationpartners.curators.dataSegments.get",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. Name of data segment to get. Format: `curators/{accountId}/dataSegments/{curatorDataSegmentId}`",
                  "location": "path",
                  "pattern": "^curators/[^/]+/dataSegments/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/{+name}",
              "response": {
                "$ref": "DataSegment"
              },
              "scopes": [
                "https://www.googleapis.com/auth/curation-partners"
              ]
            },
            "list": {
              "description": "List the data segments owned by a curator.",
              "flatPath": "v1/curators/{curatorsId}/dataSegments",
              "httpMethod": "GET",
              "id": "curationpartners.curators.dataSegments.list",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "pageSize": {
                  "description": "Optional. Requested page size. The server may return fewer results than requested. Max allowed page size is 500. If unspecified, the server will default to 500.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "Optional. The page token as returned. ListDataSegmentsResponse.nextPageToken",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "description": "Required. Name of the parent curator that can access the data segment. Format: `curators/{accountId}`",
                  "location": "path",
                  "pattern": "^curators/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/{+parent}/dataSegments",
              "response": {
                "$ref": "ListDataSegmentsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/curation-partners"
              ]
            },
            "patch": {
              "description": "Updates a data segment.",
              "flatPath": "v1/curators/{curatorsId}/dataSegments/{dataSegmentsId}",
              "httpMethod": "PATCH",
              "id": "curationpartners.curators.dataSegments.patch",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Immutable. Identifier. The unique identifier for the data segment. Account ID corresponds to the account ID that created the segment. Format: `curators/{curatorAccountId}/dataSegments/{curatorDataSegmentId}`",
                  "location": "path",
                  "pattern": "^curators/[^/]+/dataSegments/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "updateMask": {
                  "description": "Optional. List of fields to be updated. If empty or unspecified, the service will update all fields populated in the update request excluding the output only fields and primitive fields with default value. Note that explicit field mask is required in order to reset a primitive field back to its default value, for example, false for boolean fields, 0 for integer fields. A special field mask consisting of a single path \"*\" can be used to indicate full replacement(the equivalent of PUT method), updatable fields unset or unspecified in the input will be cleared or set to default value. Output only fields will be ignored regardless of the value of updateMask.",
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v1/{+name}",
              "request": {
                "$ref": "DataSegment"
              },
              "response": {
                "$ref": "DataSegment"
              },
              "scopes": [
                "https://www.googleapis.com/auth/curation-partners"
              ]
            }
          }
        },
        "reports": {
          "methods": {
            "create": {
              "description": "Creates a `Report` object.",
              "flatPath": "v1/curators/{curatorsId}/reports",
              "httpMethod": "POST",
              "id": "curationpartners.curators.reports.create",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "description": "Required. The parent resource where this `Report` will be created. Format: `curators/{account_id}`",
                  "location": "path",
                  "pattern": "^curators/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/{+parent}/reports",
              "request": {
                "$ref": "Report"
              },
              "response": {
                "$ref": "Report"
              },
              "scopes": [
                "https://www.googleapis.com/auth/curation-partners"
              ]
            },
            "delete": {
              "description": "Deletes a `Report` object.",
              "flatPath": "v1/curators/{curatorsId}/reports/{reportsId}",
              "httpMethod": "DELETE",
              "id": "curationpartners.curators.reports.delete",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. Resource name of the report to delete. Format: `curators/{account_id}/reports/{report_id}`",
                  "location": "path",
                  "pattern": "^curators/[^/]+/reports/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/{+name}",
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/curation-partners"
              ]
            },
            "get": {
              "description": "Retrieves a `Report` object.",
              "flatPath": "v1/curators/{curatorsId}/reports/{reportsId}",
              "httpMethod": "GET",
              "id": "curationpartners.curators.reports.get",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. The resource name of the report. Format: `curators/{account_id}/reports/{report_id}`",
                  "location": "path",
                  "pattern": "^curators/[^/]+/reports/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/{+name}",
              "response": {
                "$ref": "Report"
              },
              "scopes": [
                "https://www.googleapis.com/auth/curation-partners"
              ]
            },
            "list": {
              "description": "Lists `Report` objects.",
              "flatPath": "v1/curators/{curatorsId}/reports",
              "httpMethod": "GET",
              "id": "curationpartners.curators.reports.list",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "filter": {
                  "description": "Optional. Expression to filter the response. See syntax details at https://developers.google.com/ad-manager/api/beta/filters",
                  "location": "query",
                  "type": "string"
                },
                "orderBy": {
                  "description": "Optional. Expression to specify sorting order. See syntax details at https://developers.google.com/ad-manager/api/beta/filters#order",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Optional. The maximum number of `Reports` to return. The service may return fewer than this value. If unspecified, at most 50 `Reports` will be returned. The maximum value is 1000; values greater than 1000 will be coerced to 1000.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "Optional. A page token, received from a previous `ListReports` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListReports` must match the call that provided the page token.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "description": "Required. The parent, which owns this collection of reports. Format: `curators/{account_id}`",
                  "location": "path",
                  "pattern": "^curators/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "skip": {
                  "description": "Optional. Number of individual resources to skip while paginating.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                }
              },
              "path": "v1/{+parent}/reports",
              "response": {
                "$ref": "ListReportsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/curation-partners"
              ]
            },
            "patch": {
              "description": "Updates a `Report` object.",
              "flatPath": "v1/curators/{curatorsId}/reports/{reportsId}",
              "httpMethod": "PATCH",
              "id": "curationpartners.curators.reports.patch",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Identifier. The resource name of the report. Report resource name have the form: `curators/{account_id}/reports/{report_id}`",
                  "location": "path",
                  "pattern": "^curators/[^/]+/reports/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "updateMask": {
                  "description": "Optional. The list of fields to update.",
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v1/{+name}",
              "request": {
                "$ref": "Report"
              },
              "response": {
                "$ref": "Report"
              },
              "scopes": [
                "https://www.googleapis.com/auth/curation-partners"
              ]
            },
            "run": {
              "description": "Initiates the execution of an existing report asynchronously. Users can get the report by polling this operation using `OperationsService.GetOperation`. Poll every 5 seconds initially, with an exponential backoff. Once a report is complete, the operation will contain a `RunReportResponse` in its response field containing a report_result that can be passed to the `FetchReportResultRows` method to retrieve the report data.",
              "flatPath": "v1/curators/{curatorsId}/reports/{reportsId}:run",
              "httpMethod": "POST",
              "id": "curationpartners.curators.reports.run",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. The report to run. Format: `curators/{account_id}/reports/{report_id}`",
                  "location": "path",
                  "pattern": "^curators/[^/]+/reports/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/{+name}:run",
              "request": {
                "$ref": "RunReportRequest"
              },
              "response": {
                "$ref": "Operation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/curation-partners"
              ]
            }
          },
          "resources": {
            "operations": {
              "methods": {
                "get": {
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "flatPath": "v1/curators/{curatorsId}/reports/{reportsId}/operations/{operationsId}",
                  "httpMethod": "GET",
                  "id": "curationpartners.curators.reports.operations.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource.",
                      "location": "path",
                      "pattern": "^curators/[^/]+/reports/[^/]+/operations/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/curation-partners"
                  ]
                }
              }
            },
            "results": {
              "methods": {
                "fetchRows": {
                  "description": "Returns the result rows from a completed report. The caller must have previously called `RunReport` and waited for that operation to complete. The rows will be returned according to the order specified by the `sorts` member of the report definition.",
                  "flatPath": "v1/curators/{curatorsId}/reports/{reportsId}/results/{resultsId}:fetchRows",
                  "httpMethod": "GET",
                  "id": "curationpartners.curators.reports.results.fetchRows",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "The report result being fetched. Format: `curators/{account_id}/reports/{report_id}/results/{report_result_id}`",
                      "location": "path",
                      "pattern": "^curators/[^/]+/reports/[^/]+/results/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Optional. The maximum number of rows to return. The service may return fewer than this value. If unspecified, at most 1,000 rows will be returned. The maximum value is 10,000; values greater than 10,000 will be reduced to 10,000.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous `FetchReportResultRows` call. Provide this to retrieve the second and subsequent batches of rows.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}:fetchRows",
                  "response": {
                    "$ref": "FetchReportResultRowsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/curation-partners"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "mediaPlanners": {
      "methods": {
        "list": {
          "description": "Lists all media planner accounts that the caller has access to. For curators, this will return all media planners that have accepted curator terms. For other accounts, attempting to list media planners will return an error.",
          "flatPath": "v1/mediaPlanners",
          "httpMethod": "GET",
          "id": "curationpartners.mediaPlanners.list",
          "parameterOrder": [],
          "parameters": {
            "filter": {
              "description": "Optional query string using the [Cloud API list filtering syntax](/authorized-buyers/apis/guides/list-filters). Supported columns for filtering are: * `name` * `displayName` * `ancestorNames`",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "description": "The maximum number of media planners to return. If unspecified, at most 100 media planners will be returned. The maximum value is 500; values above 500 will be coerced to 500.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "pageToken": {
              "description": "Optional. A token identifying a page of results the server should return.This value is received from a previous `ListMediaPlanners` call in ListMediaPlannersResponse.nextPageToken.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "v1/mediaPlanners",
          "response": {
            "$ref": "ListMediaPlannersResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/curation-partners"
          ]
        }
      }
    }
  },
  "revision": "20260828",
  "rootUrl": "https://curationpartners.googleapis.com/",
  "schemas": {
    "AccessControlSettings": {
      "description": "Settings for controlling access to a curated package.",
      "id": "AccessControlSettings",
      "properties": {
        "allowlistedMediaPlanners": {
          "description": "Required. Immutable. The list of media planners that are explicitly granted access to the curated package. Eligible media planners can be found in the mediaPlanners.list method. Only a single media planner may be allowlisted at this time. Format: `mediaPlanners/{mediaPlannerAccountId}`",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "ActivateCuratedPackageRequest": {
      "description": "Request message for ActivateCuratedPackage.",
      "id": "ActivateCuratedPackageRequest",
      "properties": {},
      "type": "object"
    },
    "ActivateDataSegmentRequest": {
      "description": "Request message for activating a data segment",
      "id": "ActivateDataSegmentRequest",
      "properties": {},
      "type": "object"
    },
    "AdSize": {
      "description": "Represents size of a single ad slot, or a creative.",
      "id": "AdSize",
      "properties": {
        "height": {
          "description": "The height of the ad slot in pixels. This field will be present only when size type is `PIXEL`.",
          "format": "int64",
          "type": "string"
        },
        "type": {
          "description": "The type of the ad slot size.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "PIXEL",
            "INTERSTITIAL",
            "NATIVE",
            "FLUID"
          ],
          "enumDescriptions": [
            "A placeholder for an undefined size type.",
            "Ad slot with size specified by height and width in pixels.",
            "Special size to describe an interstitial ad slot.",
            "Native (mobile) ads rendered by the publisher.",
            "Fluid size (responsive size) can be resized automatically with the change of outside environment."
          ],
          "type": "string"
        },
        "width": {
          "description": "The width of the ad slot in pixels. This field will be present only when size type is `PIXEL`.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CriteriaTargeting": {
      "description": "Generic targeting used for targeting dimensions that contains a list of included and excluded numeric IDs. This cannot be filtered using list filter syntax.",
      "id": "CriteriaTargeting",
      "properties": {
        "excludedCriteriaIds": {
          "description": "A list of numeric IDs to be excluded.",
          "items": {
            "format": "int64",
            "type": "string"
          },
          "type": "array"
        },
        "targetedCriteriaIds": {
          "description": "A list of numeric IDs to be included.",
          "items": {
            "format": "int64",
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "CuratedPackage": {
      "description": "Represents a curated package of inventory created and managed by a Curator.",
      "id": "CuratedPackage",
      "properties": {
        "accessSettings": {
          "$ref": "AccessControlSettings",
          "description": "Required. Settings for controlling access to the curated package. Access to this curated package is limited to the allowlisted media planners and the creator. Buyers and bidders can not be allowlisted for or have direct access to this resource."
        },
        "createTime": {
          "description": "Output only. The timestamp when the curated package was created. Can be used to filter the response of the curatedPackages.list method.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "curationFeeVisibility": {
          "description": "Optional. Immutable. The visibility of the combined curation package fee and data segment fees (the total curation fee).",
          "enum": [
            "CURATION_FEE_VISIBILITY_UNSPECIFIED",
            "DISCLOSED",
            "NON_DISCLOSED"
          ],
          "enumDescriptions": [
            "The total curation fee visibility is unspecified.",
            "The total curation fee is visible to all buyers. This is the default value if not set.",
            "The total curation fee is not visible to all buyers."
          ],
          "type": "string"
        },
        "description": {
          "description": "Optional. A description of the curated package, provided by the curator.",
          "type": "string"
        },
        "displayName": {
          "description": "Required. The display name assigned to the curated package by the curator. Can be used to filter the response of the curatedPackages.list method.",
          "type": "string"
        },
        "feeCpm": {
          "$ref": "Money",
          "description": "Optional. The CPM fee charged by the curator to buyers using this curated package. Can be used to filter the response of the curatedPackages.list method."
        },
        "floorPriceCpm": {
          "$ref": "Money",
          "description": "Optional. The minimum CPM a buyer has to bid to participate in auctions for inventory in this curated package. Can be used to filter the response of the curatedPackages.list method."
        },
        "millipercentOfMediaFee": {
          "description": "Optional. The fee will be charged as a percentage of the impression cost, represented in millipercent. For example, 1% is represented as 1000.",
          "format": "int64",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The unique resource name for the curated package. Format: `curators/{accountId}/curatedPackages/{curatedPackageId}`",
          "type": "string"
        },
        "state": {
          "description": "Output only. The state of the curated package. Can be used to filter the response of the curatedPackages.list method.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ],
          "enumDescriptions": [
            "Default value.",
            "The curated package is active.",
            "The curated package is inactive."
          ],
          "readOnly": true,
          "type": "string"
        },
        "targeting": {
          "$ref": "PackageTargeting",
          "description": "Optional. Targeting criteria for the curated package."
        },
        "updateTime": {
          "description": "Output only. The timestamp when the curated package was last updated. Can be used to filter the response of the curatedPackages.list method.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "DataSegment": {
      "description": "Defines an identifier for a segment of inventory that can be targeted by curators or media planners in the deals or auction packages UI. Curation of inventory is done by curators on external platforms. -- Next ID: 9 --",
      "id": "DataSegment",
      "properties": {
        "cpmFee": {
          "$ref": "Money",
          "description": "Optional. A fixed fee charged per thousand impressions. Once set, the currency code cannot be changed."
        },
        "createTime": {
          "description": "Output only. Time the data segment was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "millipercentOfMediaFee": {
          "description": "Optional. The fee will be charged as a percentage of the impression cost, represented in millipercent. For example, 1% is represented as 1000.",
          "format": "int64",
          "type": "string"
        },
        "name": {
          "description": "Immutable. Identifier. The unique identifier for the data segment. Account ID corresponds to the account ID that created the segment. Format: `curators/{curatorAccountId}/dataSegments/{curatorDataSegmentId}`",
          "type": "string"
        },
        "state": {
          "description": "Output only. The state of the data segment.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE",
            "SUSPENDED"
          ],
          "enumDescriptions": [
            "Default value.",
            "The data segment is active.",
            "The data segment is inactive.",
            "The data segment is suspended and cannot be activated."
          ],
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. Time the data segment was last updated.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "userListId": {
          "description": "Optional. Immutable. The ID of the User List wrapped by this Data Segment. Curators with a linked Data Partner account can create a data segment that wraps a user list owned by the linked Data Partner account. User lists can be uploaded and managed using the [Data Manager API](https://developers.google.com/data-manager/api/data-partners/audiences). Linking a user list to a data segment lets you define a segment of inventory that is based on an audience you create.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Date": {
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "id": "Date",
      "properties": {
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "format": "int32",
          "type": "integer"
        },
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "format": "int32",
          "type": "integer"
        },
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "DateRange": {
      "description": "A date range for a report.",
      "id": "DateRange",
      "properties": {
        "fixed": {
          "$ref": "FixedDateRange",
          "description": "A fixed date range."
        },
        "relative": {
          "description": "A relative date range.",
          "enum": [
            "RELATIVE_DATE_RANGE_UNSPECIFIED",
            "TODAY",
            "YESTERDAY",
            "THIS_WEEK_TO_DATE",
            "THIS_WEEK_TO_YESTERDAY",
            "THIS_MONTH_TO_DATE",
            "THIS_MONTH_TO_YESTERDAY",
            "THIS_QUARTER_TO_DATE",
            "THIS_QUARTER_TO_YESTERDAY",
            "THIS_YEAR_TO_DATE",
            "THIS_YEAR_TO_YESTERDAY",
            "LAST_WEEK",
            "LAST_WEEK_STARTING_SUNDAY",
            "LAST_MONTH",
            "LAST_QUARTER",
            "LAST_YEAR",
            "LAST_7_DAYS",
            "LAST_30_DAYS",
            "LAST_60_DAYS",
            "LAST_90_DAYS",
            "LAST_93_DAYS",
            "LAST_180_DAYS",
            "LAST_360_DAYS",
            "LAST_365_DAYS",
            "LAST_3_MONTHS",
            "LAST_6_MONTHS",
            "LAST_12_MONTHS",
            "ALL_AVAILABLE"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The date the report is run.",
            "The date a day before the date that the report is run.",
            "From the beginning of the calendar week in which the up to and including the day the report is run.",
            "From the beginning of the calendar week in which the report is run, up to and including the day before the report is run.",
            "From the beginning of the calendar month in which the report is run, to up to and including the day the report is run.",
            "From the beginning of the calendar month in which the report is run, up to and including the day before the report is run.",
            "From the beginning of the calendar quarter in which the report is run, up to and including the day the report is run.",
            "From the beginning of the calendar quarter in which the report is run, up to and including the day before the report is run.",
            "From the beginning of the calendar year in which the report is run, to up to and including the day the report is run.",
            "From the beginning of the calendar year in which the report is run, to up to and including the day before the report is run.",
            "The entire previous calendar week, Monday to Sunday (inclusive), preceding the calendar week the report is run.",
            "The entire previous calendar week, Sunday to Saturday (inclusive), preceding the calendar week the report is run.",
            "The entire previous calendar month preceding the calendar month the report is run.",
            "The entire previous calendar quarter preceding the calendar quarter the report is run.",
            "The entire previous calendar year preceding the calendar year the report is run.",
            "The 7 days preceding the day the report is run.",
            "The 30 days preceding the day the report is run.",
            "The 60 days preceding the day the report is run.",
            "The 90 days preceding the day the report is run.",
            "The 93 days preceding the day the report is run.",
            "The 180 days preceding the day the report is run.",
            "The 360 days preceding the day the report is run.",
            "The 365 days preceding the day the report is run.",
            "The entire previous 3 calendar months preceding the calendar month the report is run.",
            "The entire previous 6 calendar months preceding the calendar month the report is run.",
            "The entire previous 12 calendar months preceding the calendar month the report is run.",
            "From 3 years before the report is run, to the day before the report is run, inclusive."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "DeactivateCuratedPackageRequest": {
      "description": "Request message for DeactivateCuratedPackage.",
      "id": "DeactivateCuratedPackageRequest",
      "properties": {},
      "type": "object"
    },
    "DeactivateDataSegmentRequest": {
      "description": "Request message for deactivating a data segment",
      "id": "DeactivateDataSegmentRequest",
      "properties": {},
      "type": "object"
    },
    "DoubleList": {
      "description": "A list of double values.",
      "id": "DoubleList",
      "properties": {
        "values": {
          "description": "The values",
          "items": {
            "format": "double",
            "type": "number"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "properties": {},
      "type": "object"
    },
    "FetchReportResultRowsResponse": {
      "description": "The response message for the fetch report result rows endpoint.",
      "id": "FetchReportResultRowsResponse",
      "properties": {
        "dateRanges": {
          "description": "The computed fixed date ranges this report includes. Only returned with the first page of results (when page_token is not included in the request).",
          "items": {
            "$ref": "FixedDateRange"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "rows": {
          "description": "Up to `page_size` rows of report data.",
          "items": {
            "$ref": "Row"
          },
          "type": "array"
        },
        "runTime": {
          "description": "The time at which the report was scheduled to run. For non-scheduled reports, this is the time at which the report was requested to be run.",
          "format": "google-datetime",
          "type": "string"
        },
        "totalRowCount": {
          "description": "The total number of rows available from this report. Useful for pagination. Only returned with the first page of results (when page_token is not included in the request).",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "Field": {
      "description": "A dimension or a metric in a report.",
      "id": "Field",
      "properties": {
        "dimension": {
          "description": "The dimension this field represents.",
          "enum": [
            "DIMENSION_UNSPECIFIED",
            "ADVERTISER_DOMAIN",
            "COUNTRY",
            "CURATION_DATA_SEGMENT_ID",
            "CURATION_DATA_SEGMENT_RESPONSE_STATUS",
            "CURATION_DATA_SEGMENT_RESPONSE_STATUS_NAME",
            "CURATOR_FEE_TYPE",
            "DATE",
            "DEAL_ID",
            "DEAL_NAME",
            "DETECTED_ADVERTISER_NAME",
            "DSP_NAME",
            "DSP_SEAT_ID",
            "ENVIRONMENT",
            "ENVIRONMENT_NAME",
            "HOLDING_COMPANY_NAME",
            "HOUR",
            "MOBILE_APP_ID",
            "MOBILE_APP_NAME",
            "MOBILE_OS",
            "MONTH",
            "PACKAGE_FEE_VISIBILITY",
            "PLATFORM",
            "PUBLISHER_DOMAIN",
            "PUBLISHER_ID",
            "PUBLISHER_NAME",
            "WEEK"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The domain of the advertiser.",
            "Display name of a country.",
            "The ID of the data segment created by a curator.",
            "The response status of the data segment requests in the Real-time curation. Refer to https://developers.google.com/authorized-buyers/curation/get-started/start for details.",
            "The localized display name of the response status of the data segment requests in the Real-time curation. Refer to https://developers.google.com/authorized-buyers/curation/get-started/start for details.",
            "The type of curation service (e.g. packaging or data segment).",
            "Date.",
            "Deal ID.",
            "Deal name.",
            "Display name of the detected advertiser.",
            "Display name of the DSP.",
            "DSP Seat ID.",
            "The user device and container environment where the impression originates. Supported values are \"app\" and \"web\".",
            "The localized display name of the user device and container environment where the impression originates. Supported values are \"app\" and \"web\".",
            "Display name of the holding company.",
            "Hour.",
            "Mobile App ID.",
            "Mobile App Name.",
            "Mobile operating system.",
            "Month.",
            "The visibility of the package fee (e.g. disclosed or non-disclosed).",
            "Platform, e.g. \"desktop\" vs. \"mobile\".",
            "Publisher domain.",
            "Publisher identifier.",
            "Publisher name.",
            "Week."
          ],
          "type": "string"
        },
        "metric": {
          "description": "The metric this field represents.",
          "enum": [
            "METRIC_UNSPECIFIED",
            "ACTIVE_VIEW_MEASURABILITY_RATE",
            "ACTIVE_VIEW_MEASURABLE",
            "ACTIVE_VIEW_VIEWABILITY_RATE",
            "ACTIVE_VIEW_VIEWABLE",
            "AUCTIONS_WON",
            "BIDS",
            "BIDS_IN_AUCTION",
            "BID_REQUESTS",
            "CLICKS",
            "CURATION_PARTNER_FEE",
            "DATA_SEGMENT_REQUESTS",
            "IMPRESSIONS",
            "SPEND"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Active View measurability rate.",
            "Active View measurable.",
            "Active view viewability rate.",
            "Active View viewable imps.",
            "Auctions won.",
            "Bids.",
            "Bids in auction.",
            "Bid requests.",
            "Clicks.",
            "Curator fee.",
            "Number of data segment requests sent in the Real-time curation.",
            "Impressions.",
            "Spend in reporting currency specified in the request. Defaults to USD."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "FieldFilter": {
      "description": "A filter on a specific field.",
      "id": "FieldFilter",
      "properties": {
        "field": {
          "$ref": "Field",
          "description": "Required. The field to filter on."
        },
        "operation": {
          "description": "Required. The operation of this filter.",
          "enum": [
            "IN",
            "NOT_IN",
            "CONTAINS",
            "NOT_CONTAINS",
            "LESS_THAN",
            "LESS_THAN_EQUALS",
            "GREATER_THAN",
            "GREATER_THAN_EQUALS",
            "BETWEEN",
            "MATCHES",
            "NOT_MATCHES"
          ],
          "enumDescriptions": [
            "For scalar operands, checks if the operand is in the set of provided filter values. For list operands, checks if any element in the operand is in the set of provided filter values. Default value.",
            "For scalar operands, checks that the operand is not in the set of provided filter values. For list operands, checks that none of the elements in the operand is in the set of provided filter values.",
            "For scalar string operands, checks if the operand contains any of the provided filter substrings. For string list operands, checks if any string in the operand contains any of the provided filter substrings.",
            "For scalar string operands, checks that the operand contains none of the provided filter substrings. For string list operands, checks that none of the strings in the operand contain none of the provided filter substrings.",
            "Operand is less than the provided filter value.",
            "Operand is less than or equal to provided filter value.",
            "Operand is greater than provided filter value.",
            "Operand is greater than or equal to provided filter value.",
            "Operand is between provided filter values.",
            "Operand matches against a regular expression or set of regular expressions (one must match).",
            "Operand negative matches against a regular expression or set of regular expressions (none must match)."
          ],
          "type": "string"
        },
        "values": {
          "description": "Required. Values to filter to.",
          "items": {
            "$ref": "ReportValue"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "Filter": {
      "description": "A filter over one or more fields.",
      "id": "Filter",
      "properties": {
        "andFilter": {
          "$ref": "FilterList",
          "description": "A list of filters whose results are AND-ed."
        },
        "fieldFilter": {
          "$ref": "FieldFilter",
          "description": "A filter on a single field."
        },
        "notFilter": {
          "$ref": "Filter",
          "description": "A filter whose result is negated."
        },
        "orFilter": {
          "$ref": "FilterList",
          "description": "A list of filters whose results are OR-ed."
        }
      },
      "type": "object"
    },
    "FilterList": {
      "description": "A list of filters.",
      "id": "FilterList",
      "properties": {
        "filters": {
          "description": "Required. A list of filters.",
          "items": {
            "$ref": "Filter"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "FixedDateRange": {
      "description": "A date range between two fixed dates (inclusive of end date).",
      "id": "FixedDateRange",
      "properties": {
        "endDate": {
          "$ref": "Date",
          "description": "Required. The end date (inclusive) of this date range."
        },
        "startDate": {
          "$ref": "Date",
          "description": "Required. The start date of this date range."
        }
      },
      "type": "object"
    },
    "IntList": {
      "description": "A list of integer values.",
      "id": "IntList",
      "properties": {
        "values": {
          "description": "The values",
          "items": {
            "format": "int64",
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "ListCuratedPackagesResponse": {
      "description": "Response message for ListCuratedPackages.",
      "id": "ListCuratedPackagesResponse",
      "properties": {
        "curatedPackages": {
          "description": "The list of curated packages.",
          "items": {
            "$ref": "CuratedPackage"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the ListCuratedPackagesRequest.pageToken field in the subsequent call to `ListCuratedPackages` method to retrieve the next page of results. If empty, then there are no more results.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListDataSegmentsResponse": {
      "description": "Response message for listing data segments.",
      "id": "ListDataSegmentsResponse",
      "properties": {
        "dataSegments": {
          "description": "The list of data segments.",
          "items": {
            "$ref": "DataSegment"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results. Pass this value in the ListDataSegmentsRequest.pageToken field in the subsequent call to the `ListDataSegments` method to retrieve the next page of results.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListMediaPlannersResponse": {
      "description": "A response containing media planner account information.",
      "id": "ListMediaPlannersResponse",
      "properties": {
        "mediaPlanners": {
          "description": "List of media planners.",
          "items": {
            "$ref": "MediaPlanner"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token which can be passed to a subsequent call to the ListMediaPlanners method to retrieve the next page of results in ListMediaPlannersRequest.page_token.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListReportsResponse": {
      "description": "Response object for `ListReportsResponse` containing matching `Report` objects.",
      "id": "ListReportsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "reports": {
          "description": "The `Report` objects from the specified network.",
          "items": {
            "$ref": "Report"
          },
          "type": "array"
        },
        "totalSize": {
          "description": "Total number of `Report` objects. If a filter was included in the request, this reflects the total number after the filtering is applied. `total_size` won't be calculated in the response unless it has been included in a response field mask. The response field mask can be provided to the method by using the URL parameter `$fields` or `fields`, or by using the HTTP/gRPC header `X-Goog-FieldMask`. For more information, see https://developers.google.com/ad-manager/api/beta/field-masks",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "MediaPlanner": {
      "description": "Represents a media planner account.",
      "id": "MediaPlanner",
      "properties": {
        "accountId": {
          "deprecated": true,
          "description": "Output only. Account ID of the media planner.",
          "readOnly": true,
          "type": "string"
        },
        "ancestorNames": {
          "description": "Output only. The ancestor names of the media planner. Format: `mediaPlanners/{mediaPlannerAccountId}`. Can be used to filter the response of the mediaPlanners.list method.",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        },
        "displayName": {
          "description": "Output only. The display name of the media planner. Can be used to filter the response of the mediaPlanners.list method.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Identifier. The unique resource name of the media planner. Format: `mediaPlanners/{mediaPlannerAccountId}`. Can be used to filter the response of the mediaPlanners.list method.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "MetricValueGroup": {
      "description": "Contains all metric values requested for a single date range and set of column dimension values (returned in the columns field of the response). The order of the metrics in each field corresponds to the order of the metrics specified in the request.",
      "id": "MetricValueGroup",
      "properties": {
        "primaryValues": {
          "description": "Data for the PRIMARY MetricValueType.",
          "items": {
            "$ref": "ReportValue"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "Money": {
      "description": "Represents an amount of money with its currency type.",
      "id": "Money",
      "properties": {
        "currencyCode": {
          "description": "The three-letter currency code defined in ISO 4217.",
          "type": "string"
        },
        "nanos": {
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000.",
          "format": "int32",
          "type": "integer"
        },
        "units": {
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation",
      "properties": {
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "response": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object"
        }
      },
      "type": "object"
    },
    "PackagePlacementTargeting": {
      "description": "Represents targeting about where the ads can appear, for example, certain sites or mobile applications. Different placement targeting types will be logically OR'ed.",
      "id": "PackagePlacementTargeting",
      "properties": {
        "includedMobileAppCategoryTargeting": {
          "description": "Optional. The list of targeted mobile app categories.",
          "items": {
            "format": "int64",
            "type": "string"
          },
          "type": "array"
        },
        "mobileAppTargeting": {
          "$ref": "StringTargetingDimension",
          "description": "Optional. The list of targeted or excluded mobile application IDs that publishers own. Currently, only Android and Apple apps are supported. Android App ID, for example, com.google.android.apps.maps, can be found in Google Play Store URL. iOS App ID (which is a number) can be found at the end of iTunes store URL. First party mobile applications is either included or excluded."
        },
        "uriTargeting": {
          "$ref": "StringTargetingDimension",
          "description": "Optional. The list of targeted or excluded URLs. The domains should have the http/https stripped (for example, google.com), and can contain a max of 5 paths per url."
        }
      },
      "type": "object"
    },
    "PackagePublisherProvidedSignalsTargeting": {
      "description": "Represents targeting about publisher provided signals. Different publisher provided signals types will be logically OR'ed.",
      "id": "PackagePublisherProvidedSignalsTargeting",
      "properties": {
        "audienceTargeting": {
          "$ref": "TaxonomyTargeting",
          "description": "Optional. The list of targeted or excluded audience IDs. Based off of IAB Audience Taxonomy version 1.1 (https://github.com/InteractiveAdvertisingBureau/Taxonomies/blob/main/Audience%20Taxonomies/Audience%20Taxonomy%201.1.tsv)"
        },
        "contentTargeting": {
          "$ref": "TaxonomyTargeting",
          "description": "Optional. The list of targeted or excluded content IDs. Based off of IAB Content Taxonomy version 2.2 (https://github.com/InteractiveAdvertisingBureau/Taxonomies/blob/main/Content%20Taxonomies/Content%20Taxonomy%202.2.tsv)"
        },
        "videoAndAudioSignalsTargeting": {
          "$ref": "StringTargetingDimension",
          "description": "Optional. The list of targeted and excluded video and audio signals IDs. These are additional signals supported by publisher provided signals."
        }
      },
      "type": "object"
    },
    "PackageTargeting": {
      "description": "Targeting criteria for curated and auction packages.",
      "id": "PackageTargeting",
      "properties": {
        "geoTargeting": {
          "$ref": "CriteriaTargeting",
          "description": "Optional. The geo criteria IDs to be included or excluded as defined in https://storage.googleapis.com/adx-rtb-dictionaries/geo-table.csv. If unset, inventory will be targeted regardless of geo."
        },
        "includedAcceleratedMobilePageType": {
          "description": "Optional. The targeted accelerated mobile page type. If unset, inventory will be targeted regardless of AMP status.",
          "enum": [
            "ACCELERATED_MOBILE_PAGE_TYPE_UNSPECIFIED",
            "ACCELERATED_MOBILE_PAGE_TYPE_NON_AMP",
            "ACCELERATED_MOBILE_PAGE_TYPE_AMP",
            "ACCELERATED_MOBILE_PAGE_TYPE_AMP_STORY"
          ],
          "enumDescriptions": [
            "Default value. Should not be used in targeting specifications.",
            "Targets inventory on standard web pages not using any AMP framework.",
            "Targets inventory on pages built using the core AMP HTML framework.",
            "Targets inventory on pages using the AMP Story (STAMP) format, which is optimized for visual storytelling (e.g., tappable full-screen experiences)."
          ],
          "type": "string"
        },
        "includedAdSizes": {
          "description": "Optional. The list of ad sizes to target. If unset, inventory will be targeted regardless of ad size. Curated packages supports `PIXEL` and `INTERSTITIAL` ad sizes.",
          "items": {
            "$ref": "AdSize"
          },
          "type": "array"
        },
        "includedAuthorizedSellerStatuses": {
          "description": "Optional. The included list of targeted authorized seller statuses. If empty, inventory will be targeted regardless of seller status.",
          "items": {
            "enum": [
              "AUTHORIZED_SELLER_STATUS_UNSPECIFIED",
              "AUTHORIZED_SELLER_STATUS_DIRECT",
              "AUTHORIZED_SELLER_STATUS_RESELLER"
            ],
            "enumDescriptions": [
              "Default value. Should not be used in targeting specifications.",
              "Targets inventory where the seller is declared as 'DIRECT'. This indicates the publisher (content owner) directly controls the seller account and has a direct business contract with the advertising system for this account.",
              "Targets inventory where the seller is declared as 'RESELLER'. This indicates the publisher has authorized another entity to operate the listed seller account and resell their ad space."
            ],
            "type": "string"
          },
          "type": "array"
        },
        "includedCreativeFormat": {
          "description": "Optional. The creative format to target. If unset, all creative markup types are targeted.",
          "enum": [
            "CREATIVE_FORMAT_UNSPECIFIED",
            "CREATIVE_FORMAT_DISPLAY",
            "CREATIVE_FORMAT_VIDEO",
            "CREATIVE_FORMAT_AUDIO"
          ],
          "enumDescriptions": [
            "Default value. Should not be used in targeting specifications.",
            "Targets ad slots intended for HTML display creatives.",
            "Targets ad slots intended for video creatives.",
            "Targets ad slots intended for audio creatives."
          ],
          "type": "string"
        },
        "includedDataSegments": {
          "description": "Optional. The active data segments to be targeted. If unset, inventory will be targeted regardless of data segments. Format: `curators/{account_id}/dataSegments/{data_segment_id}`",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "includedDeviceTypes": {
          "description": "Optional. The list of included device types to target. If empty, all device types are targeted.",
          "items": {
            "enum": [
              "DEVICE_TYPE_UNSPECIFIED",
              "DEVICE_TYPE_PERSONAL_COMPUTER",
              "DEVICE_TYPE_CONNECTED_TV",
              "DEVICE_TYPE_PHONE",
              "DEVICE_TYPE_TABLET"
            ],
            "enumDescriptions": [
              "Default value. Should not be used in targeting specifications.",
              "Targets desktop or laptop computers.",
              "Targets connected TVs: devices that stream TV content, including smart TVs, gaming consoles, and streaming boxes/sticks.",
              "Targets high-end mobile devices.",
              "Targets tablet devices."
            ],
            "type": "string"
          },
          "type": "array"
        },
        "includedEnvironment": {
          "description": "Optional. The environment to target. If unspecified, all environments are targeted.",
          "enum": [
            "ENVIRONMENT_UNSPECIFIED",
            "ENVIRONMENT_SITE",
            "ENVIRONMENT_APP"
          ],
          "enumDescriptions": [
            "Default value. Should not be used in targeting specifications.",
            "Targets inventory rendered within an ad-supported website.",
            "Targets inventory within a mobile application."
          ],
          "type": "string"
        },
        "includedNativeInventoryTypes": {
          "description": "Optional. The targeted native inventory types. If empty, inventory will be targeted regardless of native inventory type.",
          "items": {
            "enum": [
              "NATIVE_INVENTORY_TYPE_UNSPECIFIED",
              "NATIVE_INVENTORY_TYPE_NATIVE_ONLY",
              "NATIVE_INVENTORY_TYPE_NATIVE_OR_BANNER"
            ],
            "enumDescriptions": [
              "Default value. Should not be used in targeting specifications.",
              "Targets ad slots that *only* accept and render native ads.",
              "Targets ad slots that accept and render either native or banner ads."
            ],
            "type": "string"
          },
          "type": "array"
        },
        "includedOpenMeasurementTypes": {
          "description": "Optional. The list of targeted open measurement types. If empty, inventory will be targeted regardless of Open Measurement support.",
          "items": {
            "enum": [
              "OPEN_MEASUREMENT_TYPE_UNSPECIFIED",
              "OPEN_MEASUREMENT_TYPE_OMID_V1"
            ],
            "enumDescriptions": [
              "Default value. Should not be used in targeting specifications.",
              "Targets inventory that supports the v1 Open Measurement Interface Definition (OMID)."
            ],
            "type": "string"
          },
          "type": "array"
        },
        "includedRestrictedCategories": {
          "description": "Optional. The list of targeted restricted categories. If empty, inventory will be targeted regardless of restricted categories.",
          "items": {
            "enum": [
              "RESTRICTED_CATEGORY_UNSPECIFIED",
              "RESTRICTED_CATEGORY_ALCOHOL",
              "RESTRICTED_CATEGORY_GAMBLING"
            ],
            "enumDescriptions": [
              "Default value. Should not be used in targeting specifications.",
              "Targets inventory where alcohol ads are allowed by the publisher.",
              "Targets inventory where gambling ads are allowed by the publisher."
            ],
            "type": "string"
          },
          "type": "array"
        },
        "includedRewardedType": {
          "description": "Optional. The targeted rewarded type. If unset, inventory will be targeted regardless of rewarded type.",
          "enum": [
            "REWARDED_TYPE_UNSPECIFIED",
            "REWARDED_TYPE_NON_REWARDED",
            "REWARDED_TYPE_REWARDED"
          ],
          "enumDescriptions": [
            "Default value. Should not be used in targeting specifications.",
            "Targets inventory that does NOT offer an explicit reward to the user for watching or interacting with the ad.",
            "Targets inventory that offers a reward to the user in exchange for watching or engaging with the ad."
          ],
          "type": "string"
        },
        "languageTargeting": {
          "$ref": "StringTargetingDimension",
          "description": "Optional. The languages to target. If unset, inventory will be targeted regardless of language. See https://developers.google.com/google-ads/api/data/codes-formats#languages for the list of supported language codes."
        },
        "minimumPredictedClickThroughRatePercentageMillis": {
          "description": "Optional. The targeted minimum predicted click through rate, ranging in values [10, 10000] (0.01% - 10%). A value of 50 means that the configuration will only match adslots for which we predict at least 0.05% click through rate. An unset value indicates inventory will be targeted regardless of predicted click through rate.",
          "format": "int64",
          "type": "string"
        },
        "minimumPredictedViewabilityPercentage": {
          "description": "Optional. The targeted minimum predicted viewability percentage. This value must be a multiple of 10 between 10 and 90 (inclusive). For example, 10 is valid, but 0, 15, and 100 are not. A value of 10 means that the configuration will only match adslots for which we predict at least 10% viewability. An unset value indicates inventory will be targeted regardless of predicted viewability.",
          "format": "int64",
          "type": "string"
        },
        "placementTargeting": {
          "$ref": "PackagePlacementTargeting",
          "description": "Optional. Placement targeting information, for example, URL, mobile applications."
        },
        "publisherProvidedSignalsTargeting": {
          "$ref": "PackagePublisherProvidedSignalsTargeting",
          "description": "Optional. The publisher provided signals to target. If unset, inventory will be targeted regardless of publisher provided signals."
        },
        "publisherTargeting": {
          "$ref": "StringTargetingDimension",
          "description": "Optional. The targeted publishers. If unset, inventory will be targeted regardless of publisher. Publishers are identified by their publisher ID from ads.txt / app-ads.txt. See https://iabtechlab.com/ads-txt/ and https://iabtechlab.com/app-ads-txt/ for more details."
        },
        "verticalTargeting": {
          "$ref": "CriteriaTargeting",
          "description": "Optional. The verticals included or excluded as defined in https://developers.google.com/authorized-buyers/rtb/downloads/publisher-verticals. If unset, inventory will be targeted regardless of vertical."
        },
        "videoTargeting": {
          "$ref": "PackageVideoTargeting",
          "description": "Optional. Video specific targeting criteria."
        }
      },
      "type": "object"
    },
    "PackageVideoTargeting": {
      "description": "Video specific targeting criteria.",
      "id": "PackageVideoTargeting",
      "properties": {
        "includedContentDeliveryMethod": {
          "description": "Optional. The targeted video delivery method. If unset, inventory will be targeted regardless of video delivery method.",
          "enum": [
            "CONTENT_DELIVERY_METHOD_UNSPECIFIED",
            "CONTENT_DELIVERY_METHOD_STREAMING",
            "CONTENT_DELIVERY_METHOD_PROGRESSIVE"
          ],
          "enumDescriptions": [
            "Default value. Should not be used in targeting specifications.",
            "Targets video content that is being broadcast live.",
            "Targets video content that is transferred incrementally as client's playback requires."
          ],
          "type": "string"
        },
        "includedMaximumAdDurationTargeting": {
          "description": "Optional. The targeted maximum video ad duration. If unset, inventory will be targeted regardless of maximum video ad duration.",
          "enum": [
            "MAXIMUM_VIDEO_AD_DURATION_UNSPECIFIED",
            "MAXIMUM_VIDEO_AD_DURATION_FIFTEEN_SECONDS",
            "MAXIMUM_VIDEO_AD_DURATION_TWENTY_SECONDS",
            "MAXIMUM_VIDEO_AD_DURATION_THIRTY_SECONDS",
            "MAXIMUM_VIDEO_AD_DURATION_SIXTY_SECONDS",
            "MAXIMUM_VIDEO_AD_DURATION_NINETY_SECONDS",
            "MAXIMUM_VIDEO_AD_DURATION_ONE_HUNDRED_TWENTY_SECONDS"
          ],
          "enumDescriptions": [
            "Default value. Should not be used in targeting specifications.",
            "Applies to video ads with a duration up to 15 seconds (0 < duration <= 15s).",
            "Applies to video ads with a duration up to 20 seconds (0 < duration <= 20s).",
            "Applies to video ads with a duration up to 30 seconds (0 < duration <= 30s).",
            "Applies to video ads with a duration up to 60 seconds (0 < duration <= 60s).",
            "Applies to video ads with a duration up to 90 seconds (0 < duration <= 90s).",
            "Applies to video ads with a duration up to 120 seconds (0 < duration <= 120s)."
          ],
          "type": "string"
        },
        "includedMimeTypes": {
          "description": "Optional. The list of targeted video mime types using the IANA published MIME type strings (https://www.iana.org/assignments/media-types/media-types.xhtml). If empty, inventory will be targeted regardless of video mime type.",
          "items": {
            "enum": [
              "VIDEO_MIME_TYPE_UNSPECIFIED",
              "VIDEO_MIME_TYPE_THREEGPP",
              "VIDEO_MIME_TYPE_APPLICATION_MPEGURL",
              "VIDEO_MIME_TYPE_MP4",
              "VIDEO_MIME_TYPE_APPLICATION_MPEGDASH",
              "VIDEO_MIME_TYPE_APPLICATION_JAVASCRIPT",
              "VIDEO_MIME_TYPE_WEBM"
            ],
            "enumDescriptions": [
              "Default value. Should not be used in targeting specifications.",
              "3GPP container format used on 3G phones.",
              "HLS/M3U8",
              "MPEG-4 container typically with H.264 codec.",
              "DASH.",
              "JavaScript (used for VPAID ads).",
              "WebM container assuming VP9 codec."
            ],
            "type": "string"
          },
          "type": "array"
        },
        "includedPlaybackMethods": {
          "description": "Optional. The list of targeted video playback methods. If empty, inventory will be targeted regardless of video playback method.",
          "items": {
            "enum": [
              "PLAYBACK_METHOD_UNSPECIFIED",
              "PLAYBACK_METHOD_AUTO_PLAY_SOUND_ON",
              "PLAYBACK_METHOD_AUTO_PLAY_SOUND_OFF",
              "PLAYBACK_METHOD_CLICK_TO_PLAY"
            ],
            "enumDescriptions": [
              "Unspecified video playback method. Should not be used.",
              "Playback starts automatically when the page/content loads.",
              "Playback starts automatically when the page/content loads, but with sound off.",
              "Playback is initiated by a user action (e.g., clicking a play button)."
            ],
            "type": "string"
          },
          "type": "array"
        },
        "includedPlayerSizeTargeting": {
          "$ref": "VideoPlayerSizeTargeting",
          "description": "Optional. The targeted video player size. If unset, inventory will be targeted regardless of video player size."
        },
        "includedPositionTypes": {
          "description": "Optional. The targeted video ad position types. If empty, inventory will be targeted regardless of video ad position type.",
          "items": {
            "enum": [
              "POSITION_TYPE_UNSPECIFIED",
              "POSITION_TYPE_MIDROLL",
              "POSITION_TYPE_POSTROLL",
              "POSITION_TYPE_PREROLL"
            ],
            "enumDescriptions": [
              "Default value. Should not be used in targeting specifications.",
              "The ad is played in the middle of the video content.",
              "The ad is played after the video content.",
              "The ad is played before the video content."
            ],
            "type": "string"
          },
          "type": "array"
        },
        "minimumPredictedCompletionRatePercentage": {
          "description": "Optional. The targeted minimum predicted completion rate percentage. This value must be a multiple of 10 between 10 and 90 (inclusive). For example, 10 is valid, but 0, 15, and 100 are not. A value of 10 means that the configuration will only match adslots for which we predict at least 10% completion rate. An unset value indicates inventory will be targeted regardless of predicted completion rate.",
          "format": "int64",
          "type": "string"
        },
        "plcmtTargeting": {
          "$ref": "VideoPlcmtTargeting",
          "description": "Optional. The targeted video plcmt types. If unset, inventory will be targeted regardless of video plcmt type."
        }
      },
      "type": "object"
    },
    "Report": {
      "description": "The `Report` resource.",
      "id": "Report",
      "properties": {
        "createTime": {
          "description": "Output only. The instant this report was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "Optional. Display name for the report.",
          "type": "string"
        },
        "locale": {
          "description": "Output only. The locale of this report. Locale is set from the user's locale at the time of the request. Locale can't be modified.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of the report. Report resource name have the form: `curators/{account_id}/reports/{report_id}`",
          "type": "string"
        },
        "reportDefinition": {
          "$ref": "ReportDefinition",
          "description": "Required. The report definition of the report."
        },
        "reportId": {
          "description": "Output only. Report ID.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The instant this report was last modified.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "ReportDefinition": {
      "description": "The definition of how a report should be run.",
      "id": "ReportDefinition",
      "properties": {
        "currencyCode": {
          "description": "Optional. The ISO 4217 currency code for this report. Defaults to account currency code if not specified.",
          "type": "string"
        },
        "dateRange": {
          "$ref": "DateRange",
          "description": "Required. The primary date range of this report."
        },
        "dimensions": {
          "description": "Required. The list of dimensions to report on. If empty, the report will have no dimensions, and any metrics will be totals.",
          "items": {
            "enum": [
              "DIMENSION_UNSPECIFIED",
              "ADVERTISER_DOMAIN",
              "COUNTRY",
              "CURATION_DATA_SEGMENT_ID",
              "CURATION_DATA_SEGMENT_RESPONSE_STATUS",
              "CURATION_DATA_SEGMENT_RESPONSE_STATUS_NAME",
              "CURATOR_FEE_TYPE",
              "DATE",
              "DEAL_ID",
              "DEAL_NAME",
              "DETECTED_ADVERTISER_NAME",
              "DSP_NAME",
              "DSP_SEAT_ID",
              "ENVIRONMENT",
              "ENVIRONMENT_NAME",
              "HOLDING_COMPANY_NAME",
              "HOUR",
              "MOBILE_APP_ID",
              "MOBILE_APP_NAME",
              "MOBILE_OS",
              "MONTH",
              "PACKAGE_FEE_VISIBILITY",
              "PLATFORM",
              "PUBLISHER_DOMAIN",
              "PUBLISHER_ID",
              "PUBLISHER_NAME",
              "WEEK"
            ],
            "enumDescriptions": [
              "Default value. This value is unused.",
              "The domain of the advertiser.",
              "Display name of a country.",
              "The ID of the data segment created by a curator.",
              "The response status of the data segment requests in the Real-time curation. Refer to https://developers.google.com/authorized-buyers/curation/get-started/start for details.",
              "The localized display name of the response status of the data segment requests in the Real-time curation. Refer to https://developers.google.com/authorized-buyers/curation/get-started/start for details.",
              "The type of curation service (e.g. packaging or data segment).",
              "Date.",
              "Deal ID.",
              "Deal name.",
              "Display name of the detected advertiser.",
              "Display name of the DSP.",
              "DSP Seat ID.",
              "The user device and container environment where the impression originates. Supported values are \"app\" and \"web\".",
              "The localized display name of the user device and container environment where the impression originates. Supported values are \"app\" and \"web\".",
              "Display name of the holding company.",
              "Hour.",
              "Mobile App ID.",
              "Mobile App Name.",
              "Mobile operating system.",
              "Month.",
              "The visibility of the package fee (e.g. disclosed or non-disclosed).",
              "Platform, e.g. \"desktop\" vs. \"mobile\".",
              "Publisher domain.",
              "Publisher identifier.",
              "Publisher name.",
              "Week."
            ],
            "type": "string"
          },
          "type": "array"
        },
        "filters": {
          "description": "Optional. The filters for this report.",
          "items": {
            "$ref": "Filter"
          },
          "type": "array"
        },
        "metrics": {
          "description": "Required. The list of metrics to report on. If empty, the report will have no metrics.",
          "items": {
            "enum": [
              "METRIC_UNSPECIFIED",
              "ACTIVE_VIEW_MEASURABILITY_RATE",
              "ACTIVE_VIEW_MEASURABLE",
              "ACTIVE_VIEW_VIEWABILITY_RATE",
              "ACTIVE_VIEW_VIEWABLE",
              "AUCTIONS_WON",
              "BIDS",
              "BIDS_IN_AUCTION",
              "BID_REQUESTS",
              "CLICKS",
              "CURATION_PARTNER_FEE",
              "DATA_SEGMENT_REQUESTS",
              "IMPRESSIONS",
              "SPEND"
            ],
            "enumDescriptions": [
              "Default value. This value is unused.",
              "Active View measurability rate.",
              "Active View measurable.",
              "Active view viewability rate.",
              "Active View viewable imps.",
              "Auctions won.",
              "Bids.",
              "Bids in auction.",
              "Bid requests.",
              "Clicks.",
              "Curator fee.",
              "Number of data segment requests sent in the Real-time curation.",
              "Impressions.",
              "Spend in reporting currency specified in the request. Defaults to USD."
            ],
            "type": "string"
          },
          "type": "array"
        },
        "sorts": {
          "description": "Optional. Default sorts to apply to this report.",
          "items": {
            "$ref": "Sort"
          },
          "type": "array"
        },
        "timeZone": {
          "description": "Optional. If time_zone_source is PROVIDED, this is the time zone to use for this report. Leave empty for any other time zone source. Time zone in IANA format. For example, \"America/New_York\".",
          "type": "string"
        },
        "timeZoneSource": {
          "description": "Optional. Where to get the time zone for this report. Defaults to using the Pacific time zone (PT). If source is PROVIDED, the time_zone field in the report definition must also set a time zone.",
          "enum": [
            "TIME_ZONE_SOURCE_UNSPECIFIED",
            "AD_EXCHANGE",
            "UTC",
            "PROVIDED"
          ],
          "enumDescriptions": [
            "Unspecified default value.",
            "Use the Pacific time zone(PT).",
            "Use UTC time zone.",
            "Use the time zone provided in the ReportDefinition.time_zone field. Reports may take longer to run since the dates are dynamically calculated at request time."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "ReportValue": {
      "description": "Represents a single value in a report.",
      "id": "ReportValue",
      "properties": {
        "boolValue": {
          "description": "For boolean values.",
          "type": "boolean"
        },
        "bytesValue": {
          "description": "For bytes values.",
          "format": "byte",
          "type": "string"
        },
        "doubleListValue": {
          "$ref": "DoubleList",
          "description": "For lists of double values."
        },
        "doubleValue": {
          "description": "For double values.",
          "format": "double",
          "type": "number"
        },
        "intListValue": {
          "$ref": "IntList",
          "description": "For lists of integer values."
        },
        "intValue": {
          "description": "For integer values.",
          "format": "int64",
          "type": "string"
        },
        "stringListValue": {
          "$ref": "StringList",
          "description": "For lists of string values."
        },
        "stringValue": {
          "description": "For string values.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Row": {
      "description": "A row of report data.",
      "id": "Row",
      "properties": {
        "dimensionValues": {
          "description": "The order of the dimension values is the same as the order of the dimensions specified in the request.",
          "items": {
            "$ref": "ReportValue"
          },
          "type": "array"
        },
        "metricValueGroups": {
          "description": " The length of the metric_value_groups field will be equal to the length of the date_ranges field in the fetch response. The metric_value_groups field is ordered such that each index corresponds to the date_range at the same index. For example, given date_ranges [x, y], metric_value_groups will have a length of two. The first entry in metric_value_groups represents the metrics for date x and the second entry in metric_value_groups represents the metrics for date y.",
          "items": {
            "$ref": "MetricValueGroup"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "RunReportMetadata": {
      "description": "`RunReport` operation metadata.",
      "id": "RunReportMetadata",
      "properties": {
        "percentComplete": {
          "description": "An estimate of how close this report is to being completed. Will always be 100 for failed and completed reports.",
          "format": "int32",
          "type": "integer"
        },
        "report": {
          "description": "The result's parent report.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "RunReportRequest": {
      "description": "Request message for a running a report.",
      "id": "RunReportRequest",
      "properties": {},
      "type": "object"
    },
    "RunReportResponse": {
      "description": "Response message for a completed `RunReport` operation.",
      "id": "RunReportResponse",
      "properties": {
        "reportResult": {
          "description": "The unique name of the generated result. Use with `FetchReportResultRows` to retrieve data.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Sort": {
      "description": "Represents a sorting in a report.",
      "id": "Sort",
      "properties": {
        "descending": {
          "description": "Optional. The sort order. If true the sort will be descending.",
          "type": "boolean"
        },
        "field": {
          "$ref": "Field",
          "description": "Required. A field (dimension or metric) to sort by."
        }
      },
      "type": "object"
    },
    "Status": {
[...]
