{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "basePath": "",
  "baseUrl": "https://developerknowledge.googleapis.com/",
  "batchPath": "batch",
  "canonicalName": "Developer Knowledge",
  "description": "The Developer Knowledge API provides access to Google's developer knowledge.",
  "discoveryVersion": "v1",
  "documentationLink": "https://developers.google.com/knowledge",
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "id": "developerknowledge:v1alpha",
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://developerknowledge.mtls.googleapis.com/",
  "name": "developerknowledge",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "parameters": {
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "protocol": "rest",
  "resources": {
    "documents": {
      "methods": {
        "batchGet": {
          "description": "Retrieves multiple documents, each with its full Markdown content.",
          "flatPath": "v1alpha/documents:batchGet",
          "httpMethod": "GET",
          "id": "developerknowledge.documents.batchGet",
          "parameterOrder": [],
          "parameters": {
            "names": {
              "description": "Required. Specifies the names of the documents to retrieve. A maximum of 20 documents can be retrieved in a batch. The documents are returned in the same order as the `names` in the request. Format: `documents/{uri_without_scheme}` Example: `documents/docs.cloud.google.com/storage/docs/creating-buckets` ",
              "location": "query",
              "repeated": true,
              "type": "string"
            },
            "view": {
              "description": "Optional. Specifies the DocumentView of the document. If unspecified, DeveloperKnowledge.BatchGetDocuments defaults to `DOCUMENT_VIEW_CONTENT`.",
              "enum": [
                "DOCUMENT_VIEW_UNSPECIFIED",
                "DOCUMENT_VIEW_BASIC",
                "DOCUMENT_VIEW_FULL",
                "DOCUMENT_VIEW_CONTENT"
              ],
              "enumDescriptions": [
                "The default / unset value. See each API method for its default value if DocumentView is not specified.",
                "Includes only the basic metadata fields: - `name` - `uri` - `data_source` - `title` - `description` - `update_time` - `view` This is the default of view for DeveloperKnowledge.SearchDocumentChunks.",
                "Includes all Document fields.",
                "Includes the `DOCUMENT_VIEW_BASIC` fields and the `content` field. This is the default of view for DeveloperKnowledge.GetDocument and DeveloperKnowledge.BatchGetDocuments."
              ],
              "location": "query",
              "type": "string"
            }
          },
          "path": "v1alpha/documents:batchGet",
          "response": {
            "$ref": "BatchGetDocumentsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "get": {
          "description": "Retrieves a single document with its full Markdown content.",
          "flatPath": "v1alpha/documents/{documentsId}",
          "httpMethod": "GET",
          "id": "developerknowledge.documents.get",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "description": "Required. Specifies the name of the document to retrieve. Format: `documents/{uri_without_scheme}` Example: `documents/docs.cloud.google.com/storage/docs/creating-buckets`",
              "location": "path",
              "pattern": "^documents/.*$",
              "required": true,
              "type": "string"
            },
            "view": {
              "description": "Optional. Specifies the DocumentView of the document. If unspecified, DeveloperKnowledge.GetDocument defaults to `DOCUMENT_VIEW_CONTENT`.",
              "enum": [
                "DOCUMENT_VIEW_UNSPECIFIED",
                "DOCUMENT_VIEW_BASIC",
                "DOCUMENT_VIEW_FULL",
                "DOCUMENT_VIEW_CONTENT"
              ],
              "enumDescriptions": [
                "The default / unset value. See each API method for its default value if DocumentView is not specified.",
                "Includes only the basic metadata fields: - `name` - `uri` - `data_source` - `title` - `description` - `update_time` - `view` This is the default of view for DeveloperKnowledge.SearchDocumentChunks.",
                "Includes all Document fields.",
                "Includes the `DOCUMENT_VIEW_BASIC` fields and the `content` field. This is the default of view for DeveloperKnowledge.GetDocument and DeveloperKnowledge.BatchGetDocuments."
              ],
              "location": "query",
              "type": "string"
            }
          },
          "path": "v1alpha/{+name}",
          "response": {
            "$ref": "Document"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "searchDocumentChunks": {
          "description": "Searches for developer knowledge across Google's developer documentation. Returns DocumentChunks based on the user's query. There may be many chunks from the same Document. To retrieve full documents, use DeveloperKnowledge.GetDocument or DeveloperKnowledge.BatchGetDocuments with the DocumentChunk.parent returned in the SearchDocumentChunksResponse.results.",
          "flatPath": "v1alpha/documents:searchDocumentChunks",
          "httpMethod": "GET",
          "id": "developerknowledge.documents.searchDocumentChunks",
          "parameterOrder": [],
          "parameters": {
            "filter": {
              "description": "Optional. Applies a strict filter to the search results. The expression supports a subset of the syntax described at https://google.aip.dev/160. While `SearchDocumentChunks` returns DocumentChunks, the filter is applied to `DocumentChunk.document` fields. Supported fields for filtering: * `data_source` (STRING): The source of the document, e.g. `docs.cloud.google.com`. See https://developers.google.com/knowledge/reference/corpus-reference for the complete list of data sources in the corpus. * `update_time` (TIMESTAMP): The timestamp of when the document was last meaningfully updated. A meaningful update is one that changes document's markdown content or metadata. * `uri` (STRING): The document URI, e.g. `https://docs.cloud.google.com/bigquery/docs/tables`. STRING fields support `=` (equals) and `!=` (not equals) operators for **exact match** on the whole string. Partial match, prefix match, and regexp match are not supported. TIMESTAMP fields support `=`, `<`, `<=`, `>`, and `>=` operators. Timestamps must be in RFC-3339 format, e.g., `\"2025-01-01T00:00:00Z\"`. You can combine expressions using `AND`, `OR`, and `NOT` (or `-`) logical operators. `OR` has higher precedence than `AND`. Use parentheses for explicit precedence grouping. Examples: * `data_source = \"docs.cloud.google.com\" OR data_source = \"firebase.google.com\"` * `data_source != \"firebase.google.com\"` * `update_time < \"2024-01-01T00:00:00Z\"` * `update_time >= \"2025-01-22T00:00:00Z\" AND (data_source = \"developer.chrome.com\" OR data_source = \"web.dev\")` * `uri = \"https://docs.cloud.google.com/release-notes\"` The `filter` string must not exceed 500 characters; values longer than 500 characters will result in an `INVALID_ARGUMENT` error.",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "description": "Optional. Specifies the maximum number of results to return. The service may return fewer than this value. If unspecified, at most 5 results will be returned. The maximum value is 20; values above 20 will result in an INVALID_ARGUMENT error.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "pageToken": {
              "description": "Optional. Contains a page token, received from a previous `SearchDocumentChunks` call. Provide this to retrieve the subsequent page.",
              "location": "query",
              "type": "string"
            },
            "query": {
              "description": "Required. Provides the raw query string provided by the user, such as \"How to create a Cloud Storage bucket?\".",
              "location": "query",
              "type": "string"
            }
          },
          "path": "v1alpha/documents:searchDocumentChunks",
          "response": {
            "$ref": "SearchDocumentChunksResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        }
      }
    },
    "v1alpha": {
      "methods": {
        "answerQuery": {
          "description": "Answers a query using grounded generation.",
          "flatPath": "v1alpha:answerQuery",
          "httpMethod": "POST",
          "id": "developerknowledge.answerQuery",
          "parameterOrder": [],
          "parameters": {},
          "path": "v1alpha:answerQuery",
          "request": {
            "$ref": "AnswerQueryRequest"
          },
          "response": {
            "$ref": "AnswerQueryResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        }
      }
    }
  },
  "revision": "20260524",
  "rootUrl": "https://developerknowledge.googleapis.com/",
  "schemas": {
    "Answer": {
      "description": "An answer to a query.",
      "id": "Answer",
      "properties": {
        "answerText": {
          "description": "Contains the text of the answer.",
          "type": "string"
        },
        "citations": {
          "description": "Output only. Contains citations for the answer.",
          "items": {
            "$ref": "AnswerCitation"
          },
          "readOnly": true,
          "type": "array"
        },
        "references": {
          "description": "Output only. Contains references for the answer.",
          "items": {
            "$ref": "AnswerReference"
          },
          "readOnly": true,
          "type": "array"
        }
      },
      "type": "object"
    },
    "AnswerCitation": {
      "description": "Citation info for a segment.",
      "id": "AnswerCitation",
      "properties": {
        "endIndex": {
          "description": "Output only. Indicates the end of the segment, measured in bytes (UTF-8 unicode), exclusive. If there are multi-byte characters, such as non-ASCII characters, the index measurement is longer than the string length.",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        },
        "sources": {
          "description": "Output only. Contains citation sources for the attributed segment.",
          "items": {
            "$ref": "CitationSource"
          },
          "readOnly": true,
          "type": "array"
        },
        "startIndex": {
          "description": "Output only. Indicates the start of the segment, measured in bytes (UTF-8 unicode), inclusive. If there are multi-byte characters, such as non-ASCII characters, the index measurement is longer than the string length.",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        }
      },
      "type": "object"
    },
    "AnswerQueryRequest": {
      "description": "Request message for DeveloperKnowledge.AnswerQuery.",
      "id": "AnswerQueryRequest",
      "properties": {
        "query": {
          "description": "Required. The query to answer.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AnswerQueryResponse": {
      "description": "Response message for DeveloperKnowledge.AnswerQuery.",
      "id": "AnswerQueryResponse",
      "properties": {
        "answer": {
          "$ref": "Answer",
          "description": "The answer to the query."
        }
      },
      "type": "object"
    },
    "AnswerReference": {
      "description": "Represents a reference to a source.",
      "id": "AnswerReference",
      "properties": {
        "documentReference": {
          "$ref": "DocumentReference",
          "description": "Output only. The reference document.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "BatchGetDocumentsResponse": {
      "description": "Response message for DeveloperKnowledge.BatchGetDocuments.",
      "id": "BatchGetDocumentsResponse",
      "properties": {
        "documents": {
          "description": "Contains the documents requested.",
          "items": {
            "$ref": "Document"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "CitationSource": {
      "description": "Citation source.",
      "id": "CitationSource",
      "properties": {
        "referenceIndex": {
          "description": "Output only. Contains the index of the Answer.AnswerReference in the `references` repeated field.",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        }
      },
      "type": "object"
    },
    "Document": {
      "description": "A Document represents a piece of content from the Developer Knowledge corpus.",
      "id": "Document",
      "properties": {
        "content": {
          "description": "Output only. Contains the full content of the document in Markdown format.",
          "readOnly": true,
          "type": "string"
        },
        "dataSource": {
          "description": "Output only. Specifies the data source of the document. Example data source: `firebase.google.com`",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "description": "Output only. Provides a description of the document.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Identifier. Contains the resource name of the document. Format: `documents/{uri_without_scheme}` Example: `documents/docs.cloud.google.com/storage/docs/creating-buckets`",
          "type": "string"
        },
        "title": {
          "description": "Output only. Provides the title of the document.",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. Represents the timestamp when the content or metadata of the document was last updated.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "uri": {
          "description": "Output only. Provides the URI of the content, such as `docs.cloud.google.com/storage/docs/creating-buckets`.",
          "readOnly": true,
          "type": "string"
        },
        "view": {
          "description": "Output only. Specifies the DocumentView of the document.",
          "enum": [
            "DOCUMENT_VIEW_UNSPECIFIED",
            "DOCUMENT_VIEW_BASIC",
            "DOCUMENT_VIEW_FULL",
            "DOCUMENT_VIEW_CONTENT"
          ],
          "enumDescriptions": [
            "The default / unset value. See each API method for its default value if DocumentView is not specified.",
            "Includes only the basic metadata fields: - `name` - `uri` - `data_source` - `title` - `description` - `update_time` - `view` This is the default of view for DeveloperKnowledge.SearchDocumentChunks.",
            "Includes all Document fields.",
            "Includes the `DOCUMENT_VIEW_BASIC` fields and the `content` field. This is the default of view for DeveloperKnowledge.GetDocument and DeveloperKnowledge.BatchGetDocuments."
          ],
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "DocumentChunk": {
      "description": "A DocumentChunk represents a piece of content from a Document in the DeveloperKnowledge corpus. To fetch the entire document content, pass the `parent` to DeveloperKnowledge.GetDocument or DeveloperKnowledge.BatchGetDocuments.",
      "id": "DocumentChunk",
      "properties": {
        "content": {
          "description": "Output only. Contains the content of the document chunk.",
          "readOnly": true,
          "type": "string"
        },
        "document": {
          "$ref": "Document",
          "description": "Output only. Represents metadata about the Document this chunk is from. The DocumentView of this Document message will be set to `DOCUMENT_VIEW_BASIC`. It is included here for convenience so that clients do not need to call DeveloperKnowledge.GetDocument or DeveloperKnowledge.BatchGetDocuments if they only need the metadata fields. Otherwise, clients should use DeveloperKnowledge.GetDocument or DeveloperKnowledge.BatchGetDocuments to fetch the full document content.",
          "readOnly": true
        },
        "id": {
          "description": "Output only. Specifies the ID of this chunk within the document. The chunk ID is unique within a document, but not globally unique across documents. The chunk ID is not stable and may change over time.",
          "readOnly": true,
          "type": "string"
        },
        "parent": {
          "description": "Output only. Contains the resource name of the document this chunk is from. Format: `documents/{uri_without_scheme}` Example: `documents/docs.cloud.google.com/storage/docs/creating-buckets`",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "DocumentReference": {
      "description": "Represents a reference to a document.",
      "id": "DocumentReference",
      "properties": {
        "documentChunk": {
          "$ref": "DocumentChunk",
          "description": "Output only. Contains the document chunk. The `document_chunk.id` field is not set and will be empty.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "SearchDocumentChunksResponse": {
      "description": "Response message for DeveloperKnowledge.SearchDocumentChunks.",
      "id": "SearchDocumentChunksResponse",
      "properties": {
        "nextPageToken": {
          "description": "Optional. Provides a token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "results": {
          "description": "Contains the search results for the given query. Each DocumentChunk in this list contains a snippet of content relevant to the search query. Use the DocumentChunk.parent field of each result with DeveloperKnowledge.GetDocument or DeveloperKnowledge.BatchGetDocuments to retrieve the full document content.",
          "items": {
            "$ref": "DocumentChunk"
          },
          "type": "array"
        }
      },
      "type": "object"
    }
  },
  "servicePath": "",
  "title": "Developer Knowledge API",
  "version": "v1alpha",
  "version_module": true
}