{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "basePath": "",
  "baseUrl": "https://devicerun.googleapis.com/",
  "batchPath": "batch",
  "canonicalName": "Device Run",
  "description": "The Device Run API allows management, scheduling, and execution of automated sessions and workloads across device catalogs.",
  "discoveryVersion": "v1",
  "documentationLink": "https://docs.cloud.google.com/developer-device-platform/device-run",
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "id": "devicerun:v1alpha",
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://devicerun.mtls.googleapis.com/",
  "name": "devicerun",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "parameters": {
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "protocol": "rest",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "get": {
              "description": "Gets information about a location.",
              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}",
              "httpMethod": "GET",
              "id": "devicerun.projects.locations.get",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Resource name for the location.",
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1alpha/{+name}",
              "response": {
                "$ref": "Location"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "flatPath": "v1alpha/projects/{projectsId}/locations",
              "httpMethod": "GET",
              "id": "devicerun.projects.locations.list",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "extraLocationTypes": {
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "location": "query",
                  "repeated": true,
                  "type": "string"
                },
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "description": "The resource that owns the locations collection, if applicable.",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "pageSize": {
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v1alpha/{+name}/locations",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          },
          "resources": {
            "devices": {
              "methods": {
                "get": {
                  "description": "Returns information about a specific device.",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/devices/{devicesId}",
                  "httpMethod": "GET",
                  "id": "devicerun.projects.locations.devices.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the device. Format: `projects/{project}/locations/global/devices/{device}`.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/devices/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1alpha/{+name}",
                  "response": {
                    "$ref": "CatalogDevice"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "description": "Lists all devices.",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/devices",
                  "httpMethod": "GET",
                  "id": "devicerun.projects.locations.devices.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "filter": {
                      "description": "Optional. An AIP-160 (https://google.aip.dev/160) filter expression restricting which devices are returned. An empty filter returns all devices. Filtering is supported over the `Device` fields, including nested fields via dot-path. Enum and string values must be double-quoted. Examples: * `platform = \"ANDROID\"` * `platform = \"ANDROID\" AND os_version = \"34\"` * `hardware_type = \"PHYSICAL\" AND form_factor = \"PHONE\"` * `android_details.build_type = \"userdebug\"` * `availability.capacity = \"HIGH\"`",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Optional. The maximum number of devices to return. The server may return fewer items than this value.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous `ListDevices` call. Provide this to receive the subsequent page. When paginating, all other parameters provided to `ListDevices` must match the call that provided the page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. The parent of the collection of devices. Format: `projects/{project}/locations/global`.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1alpha/{+parent}/devices",
                  "response": {
                    "$ref": "CatalogListDevicesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "operations": {
              "methods": {
                "cancel": {
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "httpMethod": "POST",
                  "id": "devicerun.projects.locations.operations.cancel",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be cancelled.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1alpha/{+name}:cancel",
                  "request": {
                    "$ref": "GoogleLongrunningCancelOperationRequest"
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "httpMethod": "DELETE",
                  "id": "devicerun.projects.locations.operations.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be deleted.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1alpha/{+name}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "httpMethod": "GET",
                  "id": "devicerun.projects.locations.operations.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1alpha/{+name}",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations",
                  "httpMethod": "GET",
                  "id": "devicerun.projects.locations.operations.list",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "filter": {
                      "description": "The standard list filter.",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "description": "The name of the operation's parent resource.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "The standard list page size.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "returnPartialSuccess": {
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "path": "v1alpha/{+name}/operations",
                  "response": {
                    "$ref": "GoogleLongrunningListOperationsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "sessions": {
              "methods": {
                "cancel": {
                  "description": "Cancels an in-progress automation session. This RPC returns immediately and cancellation proceeds asynchronously. If the session is already finished, this RPC will have no effect.",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/sessions/{sessionsId}:cancel",
                  "httpMethod": "POST",
                  "id": "devicerun.projects.locations.sessions.cancel",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the session. Format: \"projects/{project}/locations/{location}/sessions/{session}\"",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/sessions/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1alpha/{+name}:cancel",
                  "request": {
                    "$ref": "CancelSessionRequest"
                  },
                  "response": {
                    "$ref": "CancelSessionResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "create": {
                  "description": "Starts an automation session with the specified configuration. This method returns a long-running `Operation`, awaiting the completion of all jobs in the session.",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/sessions",
                  "httpMethod": "POST",
                  "id": "devicerun.projects.locations.sessions.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent resource where this session will be created. Format: `projects/{project}/locations/{location}`.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "requestId": {
                      "description": "Optional. A unique identifier for this request. This request is only idempotent if a `request_id` is provided, i.e. if a request with the same `request_id` is received, then the previous result will be returned. The server will guarantee that for at least 60 minutes after the first request. The value must be a UUID (e.g., 123e4567-e89b-12d3-a456-426655440000). See github.com/google/uuid for more details.",
                      "location": "query",
                      "type": "string"
                    },
                    "sessionId": {
                      "description": "Optional. The ID to use for the session, which will become the final component of the resource name. If not provided, the server will generate a value for this field. When provided, this value must be between 4 and 63 characters, and match the following regex: ^a-z{2,61}[a-z0-9]$.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v1alpha/{+parent}/sessions",
                  "request": {
                    "$ref": "Session"
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "description": "Deletes a session. This RPC returns immediately and deletion proceeds asynchronously. It will cancel the session at first if it is still running.",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/sessions/{sessionsId}",
                  "httpMethod": "DELETE",
                  "id": "devicerun.projects.locations.sessions.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the session. Format: `projects/{project}/locations/{location}/sessions/{session}`.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/sessions/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "requestId": {
                      "description": "Optional. A unique identifier for this request. This request is only idempotent if a `request_id` is provided, i.e. if a request with the same `request_id` is received, then the previous result will be returned. The server will guarantee that for at least 60 minutes after the first request. The value must be a UUID (e.g., 123e4567-e89b-12d3-a456-426655440000). See github.com/google/uuid for more details.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v1alpha/{+name}",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "description": "Returns information about a previously created automation session.",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/sessions/{sessionsId}",
                  "httpMethod": "GET",
                  "id": "devicerun.projects.locations.sessions.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the session. Format: `projects/{project}/locations/{location}/sessions/{session}`.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/sessions/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "view": {
                      "description": "Optional. The view of the session to return. If not set, the default BASIC view will be returned.",
                      "enum": [
                        "SESSION_VIEW_UNSPECIFIED",
                        "SESSION_VIEW_BASIC",
                        "SESSION_VIEW_FULL"
                      ],
                      "enumDescriptions": [
                        "The default / unset value. The API will default to the BASIC view.",
                        "Include basic view of the session but not the full contents. Only the uid/display_name/status/result of the session and its jobs/executions will be included. This is the default value (for GetSession).",
                        "Include everything."
                      ],
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v1alpha/{+name}",
                  "response": {
                    "$ref": "Session"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "description": "Lists previously created automation sessions. Sessions may still be in-progress, or may have finished successfully, or unsuccessfully.",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/sessions",
                  "httpMethod": "GET",
                  "id": "devicerun.projects.locations.sessions.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "filter": {
                      "description": "Optional. The raw filter text to constrain the results.",
                      "location": "query",
                      "type": "string"
                    },
                    "orderBy": {
                      "description": "Optional. The order to sort results by. Supported values: `name`, `name desc`, `create_time`, `create_time desc`. Values must use the snake_case field name; `createTime` is not accepted. Ordering by `create_time` is not supported when listing across all locations (`locations/-`). If unspecified, results are returned in an unspecified order.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Optional. The maximum number of sessions to return. The server may return fewer items than this value. If unspecified, at most 500 sessions will be returned. The maximum value is 1000, values above will be coerced to 1000.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous `ListSessions` call. Provide this to receive the subsequent page. When paginating, all other parameters provided to `ListSessions` must match the call that provided the page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. Parent value for ListSessionsRequest The parent of the collection of sessions. Format: `projects/{project}/locations/{location}`.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "view": {
                      "description": "Optional. The view of the sessions to return. If not set, the `BASIC` view will be returned.",
                      "enum": [
                        "SESSION_VIEW_UNSPECIFIED",
                        "SESSION_VIEW_BASIC",
                        "SESSION_VIEW_FULL"
                      ],
                      "enumDescriptions": [
                        "The default / unset value. The API will default to the BASIC view.",
                        "Include basic view of the session but not the full contents. Only the uid/display_name/status/result of the session and its jobs/executions will be included. This is the default value (for GetSession).",
                        "Include everything."
                      ],
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v1alpha/{+parent}/sessions",
                  "response": {
                    "$ref": "ListSessionsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "softwareVersions": {
              "methods": {
                "get": {
                  "description": "Returns information about a specific software version.",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/softwareVersions/{softwareVersionsId}",
                  "httpMethod": "GET",
                  "id": "devicerun.projects.locations.softwareVersions.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the software version. Format: `projects/{project}/locations/global/softwareVersions/{software_version}`.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/softwareVersions/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1alpha/{+name}",
                  "response": {
                    "$ref": "CatalogSoftwareVersion"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "description": "Lists all software versions.",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/softwareVersions",
                  "httpMethod": "GET",
                  "id": "devicerun.projects.locations.softwareVersions.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "filter": {
                      "description": "Optional. An AIP-160 (https://google.aip.dev/160) filter expression restricting which software versions are returned. An empty filter returns all software versions. Filtering is supported over the `SoftwareVersion` fields, including nested fields via dot-path. Enum and string values must be double-quoted. Examples: * `software_type = \"ANDROIDX_TEST_ORCHESTRATOR\"` * `software_type = \"ANDROIDX_TEST_ORCHESTRATOR\" AND is_default = true` * `lifecycle.state = \"ACTIVE\"` * `version = \"1.4.1\"`",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Optional. The maximum number of software versions to return. The server may return fewer items than this value.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous `ListSoftwareVersions` call. Provide this to receive the subsequent page. When paginating, all other parameters provided to `ListSoftwareVersions` must match the call that provided the page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. The parent of the collection of software versions. Format: `projects/{project}/locations/global`.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1alpha/{+parent}/softwareVersions",
                  "response": {
                    "$ref": "CatalogListSoftwareVersionsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "revision": "20260923",
  "rootUrl": "https://devicerun.googleapis.com/",
  "schemas": {
    "AllocationConfig": {
      "description": "Allocation config.",
      "id": "AllocationConfig",
      "properties": {
        "deviceConfigs": {
          "description": "Required. At least one device config is required. If more than one device config is required, the multiple devices are allocated to each shard of the OmniLab job to run multi-device-interaction tests.",
          "items": {
            "$ref": "DeviceConfig"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "AndroidBugreportDeviceAction": {
      "description": "Captures a bugreport from the device. The output will be written to a file named `bugreport.zip` in the execution output directory.",
      "id": "AndroidBugreportDeviceAction",
      "properties": {
        "collectOnPass": {
          "description": "Optional. Whether to deliver the bugreport when the test passes. If false, the bugreport is skipped on pass to save time (default behavior). If true, the bugreport is always delivered.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "AndroidDumpsysDeviceAction": {
      "description": "Captures dumpsys output from the device. The output will be written to a file named `dumpsys.log` in the execution output directory.",
      "id": "AndroidDumpsysDeviceAction",
      "properties": {
        "collectOnPass": {
          "description": "Optional. Whether to deliver the dumpsys when the test passes. If false, the dumpsys is skipped on pass to save time (default behavior). If true, the dumpsys is always delivered.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "AndroidInstallPackagesDeviceAction": {
      "description": "Installs Android packages on the device. At least one installable is specified when using this device action. Limits: - A maximum of 20 installables in total are allowed. - A maximum of 100 files are allowed in total across all installables.",
      "id": "AndroidInstallPackagesDeviceAction",
      "properties": {
        "installables": {
          "deprecated": true,
          "description": "Optional. Deprecated: use `pre_target_app_installables`, `target_app` and `post_target_app_installables` instead. The Android packages to install on the device. The installation will be performed in the order specified, before the installables of all other fields.",
          "items": {
            "$ref": "AndroidInstallable"
          },
          "type": "array"
        },
        "postTargetAppInstallables": {
          "description": "Optional. The Android packages to install on the device after `target_app` (if specified) is installed. The installation will be performed in the order specified.",
          "items": {
            "$ref": "AndroidInstallable"
          },
          "type": "array"
        },
        "preTargetAppInstallables": {
          "description": "Optional. The Android packages to install on the device before `target_app` (if specified) is installed. The installation will be performed in the order specified.",
          "items": {
            "$ref": "AndroidInstallable"
          },
          "type": "array"
        },
        "targetApp": {
          "$ref": "AndroidInstallable",
          "description": "Optional. The primary Android package to install, serving as the target package for subsequent actions and as the installation ordering anchor. Whether this package is treated as the application under test depends on the job action: - Actions that require an explicit target package (such as performance metrics collection, or accessibility scans) use this package to identify the application to inspect or drive. - Actions that discover or manage targets independently (such as Android instrumentation tests, where target packages are defined in the test runner manifest) treat this field primarily as an installation order anchor between pre- and post-installables. Optional. If omitted, all packages in `pre_target_app_installables` and `post_target_app_installables` are installed without a designated target package."
        }
      },
      "type": "object"
    },
    "AndroidInstallable": {
      "description": "An Android Installable represents the file(s) for installing an Android package on a device. This can be an APK, an Android App Bundle (AAB), or an APK Set.",
      "id": "AndroidInstallable",
      "properties": {
        "files": {
          "description": "Required. Files that make up the package. Supported formats are distinguished by their file extension: - APK: One or more files with extension `.apk`. - App Bundle: A single file with extension `.aab`. - APK Set: A single file with extension `.apks`.",
          "items": {
            "$ref": "InputFile"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "AndroidInstrumentationTest": {
      "description": "The configuration of an Android instrumentation test. See https://developer.android.com/training/testing/instrumented-tests for more information on Android instrumentation tests.",
      "id": "AndroidInstrumentationTest",
      "properties": {
        "additionalTestOptions": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Additional test options to pass to the test runner. Passed to `am instrument` command as `-e` options, which will be passed to the instrumentation test runner using its `onCreate()` method. Formats supported in test_targets are not allowed to be used here. Limits: - Maximum number of entries: 32. - Maximum key size: 64 bytes (UTF-8). - Maximum value size: 1024 bytes (UTF-8).",
          "type": "object"
        },
        "enableCodeCoverage": {
          "description": "Optional. Whether to enable code coverage collection for the test. A coverage file `coverage.ec` will be uploaded to the results folder. For this to work, your classes have to be instrumented offline (build time) by EMMA/JaCoCo.",
          "type": "boolean"
        },
        "instrumentationTimeout": {
          "description": "Optional. The timeout of the instrumentation test. Default value: 5 min. Range: [1 min, 3 hours].",
          "format": "google-duration",
          "type": "string"
        },
        "orchestratorVersion": {
          "description": "Optional. The version of the Android Test Orchestrator to use for the test. The available orchestrator versions can be retrieved from the catalog service. If set to \"auto\", the default orchestrator is used. If not set, no orchestrator is used.",
          "type": "string"
        },
        "smartSharding": {
          "$ref": "AndroidInstrumentationTestSmartSharding",
          "description": "Optional. Smart sharding strategy to split the job into multiple shards based on the test methods and their execution time."
        },
        "testInstallable": {
          "$ref": "AndroidInstallable",
          "description": "Required. The test package to install and run the test."
        },
        "testRunnerClass": {
          "description": "Optional. Full class name of the test runner class. The class must be `androidx.test.runner.AndroidJUnitRunner` or a subclass of it. The default value is determined by examining the application's manifest. If multiple instrumentations are found, the first one in the manifest will be used.",
          "type": "string"
        },
        "testTargets": {
          "description": "Optional. A list of test targets or target filters to run. Each target must be fully qualified with the package name or class name, in one of these formats: - `package package_name` - `notPackage com.package.to.skip` - `class package_name.class_name` - `class package_name.class_name#method_name` - `notClass com.foo.ClassToSkip` - `notClass com.foo.ClassName#testMethodToSkip` - `annotation com.foo.AnnotationToRun` - `notAnnotation com.foo.AnnotationToSkip` - `size [small|medium|large]` Formats like `testfile` or `notTestfile` won't be supported. If empty, all targets in the module will be run. Limits: - Maximum number of entries: 1024.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "uniformSharding": {
          "$ref": "AndroidInstrumentationTestUniformSharding",
          "description": "Optional. Uniform sharding strategy to split the job into multiple shards with equal number of test methods."
        }
      },
      "type": "object"
    },
    "AndroidInstrumentationTestSmartSharding": {
      "description": "The smart sharding strategy to split the job into multiple shards based on the test methods and their recorded execution time.",
      "id": "AndroidInstrumentationTestSmartSharding",
      "properties": {
        "maxShardCount": {
          "description": "Optional. The maximum number of shards to create. If unset or less than 1, system-defined max limits are used. This limit takes precedence if the targeted_shard_duration cannot be satisfied. Limits: - For physical devices, the number of shards must be <= 20. - For virtual devices, the number of shards must be <= 200.",
          "format": "int32",
          "type": "integer"
        },
        "targetedShardDuration": {
          "description": "Required. The targeted duration of each shard. Limits: - Must be at least 2 minutes. - Must be at most 3 hours. Shard duration is not guaranteed because smart sharding uses test case history and default durations which may not be accurate. Durations are calculated based on the following inputs: - Timing records from previous runs of the same test case. - For new test cases, the average duration of other known test cases. - A system-chosen, default duration if there are no previous timing records available. Because the actual shard duration can exceed the targeted shard duration, we recommend that you set the targeted value at least 5 minutes less than the maximum allowed instrumentation timeout. This approach avoids cancelling the shard before all tests can finish.",
          "format": "google-duration",
          "type": "string"
        },
        "timingRecord": {
          "$ref": "InputFile",
          "description": "Required. The timing record file to use for smart sharding. If the file does not exist, smart sharding will use default test time (30s) for each test method to shard the job into multiple shards. This file will be overwritten with the latest timing record after the job is completed."
        }
      },
      "type": "object"
    },
    "AndroidInstrumentationTestUniformSharding": {
      "description": "Uniformly shards test cases given a total number of shards. It will be translated to `-e numShard` and `-e shardIndex` AndroidJUnitRunner arguments. With uniform sharding enabled, specifying either of these sharding arguments via `environment_variables` is invalid. Based on the sharding mechanism AndroidJUnitRunner uses, there is no guarantee that test cases will be distributed uniformly across all shards.",
      "id": "AndroidInstrumentationTestUniformSharding",
      "properties": {
        "shardCount": {
          "description": "Required. The total number of shards to create. This must always be a positive number that is no greater than the total number of test cases. Limits: - For physical devices, the number of shards must be <= 20. - For virtual devices, the number of shards must be <= 200.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "AndroidLogcatDeviceAction": {
      "description": "Collects logcat output from the device. The output will be written to a file named `logcat.txt` in the execution output directory.",
      "id": "AndroidLogcatDeviceAction",
      "properties": {},
      "type": "object"
    },
    "AndroidMockLocationDeviceAction": {
      "description": "Mocks the location of the Android device.",
      "id": "AndroidMockLocationDeviceAction",
      "properties": {
        "location": {
          "$ref": "LatLng",
          "description": "Required. The mock location to set on the device."
        }
      },
      "type": "object"
    },
    "AndroidNativeBinary": {
      "description": "The configuration of an Android native binary execution.",
      "id": "AndroidNativeBinary",
      "properties": {
        "androidNativeBinary": {
          "$ref": "InputFile",
          "description": "Required. The file path of the Android native binary."
        },
        "args": {
          "description": "Optional. Arguments for running the binary file. The flags will be appended to the command line that invokes the binary. The number of options is limited to 100.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "envVars": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. A map of environment variables to set for the binary process. The keys are the variable names and the values are the variable values. The maximum number of entries is 100. Each key is limited to 128 characters and must conform to POSIX standards. Each value is limited to 2048 characters. The total size of all environment variables must not exceed 16 KiB.",
          "type": "object"
        },
        "executionTimeout": {
          "description": "Optional. The timeout of the execution. Default value: 5 min. Range: [1 min, 3 hours].",
          "format": "google-duration",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AndroidOrientationDeviceAction": {
      "description": "Sets the orientation of the device.",
      "id": "AndroidOrientationDeviceAction",
      "properties": {
        "orientation": {
          "description": "Required. The orientation to set the device to. One of `portrait` or `landscape`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AndroidPullFilesDeviceAction": {
      "description": "Pulls directories and files from the device at the end of the run. Files will be copied to the '/artifacts' directory, with the absolute path structure preserved. Note that: 1. A clean device is provided for the run. 2. Any existing files in the output directory may be overwritten. 3. Pulling files is best effort. Will skip files if they don't exist on the device.",
      "id": "AndroidPullFilesDeviceAction",
      "properties": {
        "paths": {
          "description": "Required. Absolute directory or file paths to pull from the device. Limits: - A maximum of 10 paths are allowed.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "AndroidPushFilesDeviceAction": {
      "description": "Pushes files to the device at the beginning of the run. Files are overwritten if a file with the same path already exists on the device, if device permissions allow.",
      "id": "AndroidPushFilesDeviceAction",
      "properties": {
        "fileConfigs": {
          "description": "Required. Configs of pushing files to the device. Limits: - A maximum of 50 files are allowed.",
          "items": {
            "$ref": "AndroidPushFilesDeviceActionFileConfig"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "AndroidPushFilesDeviceActionFileConfig": {
      "description": "The configuration of pushing a file to the device.",
      "id": "AndroidPushFilesDeviceActionFileConfig",
      "properties": {
        "destinationPath": {
          "description": "Required. The destination path on the device.",
          "type": "string"
        },
        "sourceFile": {
          "$ref": "InputFile",
          "description": "Required. The file to be pushed to the device."
        }
      },
      "type": "object"
    },
    "AndroidRecordVideoDeviceAction": {
      "description": "Records a video of the device screen during the run. The video will be written to a file named `video.mp4` in the execution output directory.",
      "id": "AndroidRecordVideoDeviceAction",
      "properties": {
        "discardOnPass": {
          "description": "Optional. Whether to discard and not upload the recording when the test passes. Default is false.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "AndroidSwitchLocaleDeviceAction": {
      "description": "Switches the locale (language and region) of the device.",
      "id": "AndroidSwitchLocaleDeviceAction",
      "properties": {
        "localeCode": {
          "description": "Required. The locale (language and region) to switch the device to. The format is `language-region`, e.g. \"en-US\", \"zh-CN\", etc. The typical language value is a two or three-letter language code as defined in ISO639. The typical region value is a two-letter ISO 3166 code or a three-digit UN M.49 area code.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CancelSessionRequest": {
      "description": "Request to cancel a session.",
      "id": "CancelSessionRequest",
      "properties": {},
      "type": "object"
    },
    "CancelSessionResponse": {
      "description": "Response of the cancel session request.",
      "id": "CancelSessionResponse",
      "properties": {
        "cancelResult": {
          "description": "The result of the request.",
          "enum": [
            "CANCEL_RESULT_UNSPECIFIED",
            "SESSION_MARKED_AS_CANCELLED",
            "SESSION_FINISHED"
          ],
          "enumDescriptions": [
            "Unspecified cancel result.",
            "The session is marked as cancelled, but has not finished yet.",
            "The session is finished, either by itself or by the cancel request."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "CatalogAndroidDeviceDetails": {
      "description": "Android-specific device attributes.",
      "id": "CatalogAndroidDeviceDetails",
      "properties": {
        "buildType": {
          "description": "Output only. Mirrors the AOSP `ro.build.type` property, e.g. \"user\", \"userdebug\", \"eng\". Empty if unknown.",
          "readOnly": true,
          "type": "string"
        },
        "supportedAbis": {
          "description": "Output only. Lists ABIs supported by the device (android.os.Build.SUPPORTED_ABIS), most preferred first, e.g. \"arm64-v8a\".",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        }
      },
      "type": "object"
    },
    "CatalogAndroidxTestOrchestratorDetails": {
      "description": "AndroidX Test Orchestrator-specific attributes. Reserved for future orchestrator-only fields.",
      "id": "CatalogAndroidxTestOrchestratorDetails",
      "properties": {},
      "type": "object"
    },
    "CatalogAutomationSupport": {
      "description": "Per-product metadata for the Automation (DeviceRun) product.",
      "id": "CatalogAutomationSupport",
      "properties": {},
      "type": "object"
    },
    "CatalogDevice": {
      "description": "A single routable device configuration in the catalog.",
      "id": "CatalogDevice",
      "properties": {
        "accessDeniedReasons": {
          "description": "Output only. Reasons for access denial. This model is accessible/usable if this list is empty, otherwise the model is viewable only.",
          "items": {
            "enum": [
              "ACCESS_DENIED_REASON_UNSPECIFIED",
              "EULA_NOT_ACCEPTED"
            ],
            "enumDescriptions": [
              "Reason not specified.",
              "The device is hosted in a partner lab whose end user license agreement the project has not accepted."
            ],
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        },
        "androidDetails": {
          "$ref": "CatalogAndroidDeviceDetails",
          "description": "Output only. Contains Android-specific attributes (set when platform == ANDROID).",
          "readOnly": true
        },
        "availability": {
          "$ref": "CatalogDeviceAvailability",
          "description": "Output only. Reports the current fleet availability for this device configuration.",
          "readOnly": true
        },
        "displayName": {
          "description": "Output only. Provides a human-readable display name, e.g. \"Pixel 5\".",
          "readOnly": true,
          "type": "string"
        },
        "formFactor": {
          "description": "Output only. Specifies the form factor of the device.",
          "enum": [
            "FORM_FACTOR_UNSPECIFIED",
            "PHONE",
            "TABLET",
            "WEARABLE",
            "TV"
          ],
          "enumDescriptions": [
            "Form factor not specified.",
            "Phone.",
            "Tablet.",
            "Wearable (e.g. watch).",
            "TV."
          ],
          "readOnly": true,
          "type": "string"
        },
        "hardwareType": {
          "description": "Output only. Indicates whether the device is physical or virtual.",
          "enum": [
            "HARDWARE_TYPE_UNSPECIFIED",
            "PHYSICAL",
            "VIRTUAL"
          ],
          "enumDescriptions": [
            "Hardware type not specified.",
            "Physical hardware device.",
            "Virtual device (emulator / simulator)."
          ],
          "readOnly": true,
          "type": "string"
        },
        "iosDetails": {
          "$ref": "CatalogIosDeviceDetails",
          "description": "Output only. Contains iOS-specific attributes (set when platform == IOS).",
          "readOnly": true
        },
        "labInfo": {
          "$ref": "CatalogLabInfo",
          "description": "Output only. The lab hosting this device.",
          "readOnly": true
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Output only. Additional information. Informational only. May change over the lifecycle of a device.",
          "readOnly": true,
          "type": "object"
        },
        "lifecycle": {
          "$ref": "CatalogLifecycle",
          "description": "Output only. The device lifecycle (maturity stage and removal date).",
          "readOnly": true
        },
        "manufacturer": {
          "description": "Output only. Specifies the hardware manufacturer of the device.",
          "readOnly": true,
          "type": "string"
        },
        "modelCode": {
          "description": "Output only. Provides a human-readable model identifier for this device, independent of OS version. May be empty. Platform-dependent: * Android physical: hardware codename (android.os.Build.DEVICE), e.g. \"shiba\". * Android virtual: AVD model identifier, e.g. \"MediumPhone.arm\". * iOS: model identifier, e.g. \"iphone14pro\".",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Identifier. Identifies the device resource. Format: `projects/{project}/locations/{location}/devices/{device}`. The {device} segment is an opaque, stable string. Clients must not parse it to derive or assume device-specific details.",
          "type": "string"
        },
        "osVersion": {
          "description": "Output only. Specifies the OS version, e.g. \"30\" (Android API level) or \"17.4\" (iOS).",
          "readOnly": true,
          "type": "string"
        },
        "platform": {
          "description": "Output only. Specifies the platform of the device.",
          "enum": [
            "PLATFORM_UNSPECIFIED",
            "ANDROID",
            "IOS"
          ],
          "enumDescriptions": [
            "Platform not specified.",
            "Android.",
            "iOS."
          ],
          "readOnly": true,
          "type": "string"
        },
        "primaryScreen": {
          "$ref": "CatalogScreenMetrics",
          "description": "Output only. Measurements of the primary device screen. Informational only. Unset for devices without a screen (e.g. some wearables).",
          "readOnly": true
        },
        "supportedProducts": {
          "description": "Output only. Products/Services supported by this device.",
          "items": {
            "$ref": "CatalogSupportedProduct"
          },
          "readOnly": true,
          "type": "array"
        }
      },
      "type": "object"
    },
    "CatalogDeviceAvailability": {
      "description": "Fleet availability for a device configuration.",
      "id": "CatalogDeviceAvailability",
      "properties": {
        "available": {
          "description": "Output only. Specifies the current availability bucket (idle, immediately allocatable devices) for this device configuration. This is a best-effort snapshot, refreshed periodically. It fluctuates depending on traffic as other requests allocate devices.",
          "enum": [
            "AVAILABILITY_UNSPECIFIED",
            "AVAILABILITY_NONE",
            "AVAILABILITY_LOW",
            "AVAILABILITY_MEDIUM",
            "AVAILABILITY_HIGH"
          ],
          "enumDescriptions": [
            "The value of availability is unknown or unset.",
            "No devices of this configuration are currently idle. A request can still be made, but it will queue until a device frees up. Expect longer wait times, and avoid requesting many devices at once (e.g. high shard counts).",
            "A small number of devices are currently idle. Suitable for a few concurrent requests. Larger bursts (e.g. many shards) may queue until devices free up.",
            "A moderate number of devices are currently idle. Suitable for a moderate number of concurrent requests. Very large bursts may still queue.",
            "Many devices are currently idle. Suitable for a large number of concurrent requests with little to no queueing at the moment of observation."
          ],
          "readOnly": true,
          "type": "string"
        },
        "capacity": {
          "description": "Output only. Specifies the current capacity bucket for this device configuration. Represents the total number of online devices (idle or in use).",
          "enum": [
            "CAPACITY_UNSPECIFIED",
            "CAPACITY_NONE",
            "CAPACITY_LOW",
            "CAPACITY_MEDIUM",
            "CAPACITY_HIGH"
          ],
          "enumDescriptions": [
            "The value of device capacity is unknown or unset.",
            "No online devices of this configuration. These devices are unavailable either temporarily or permanently and should not be requested. If the device is also marked as deprecated, this state is very likely permanent.",
            "Devices that are low in capacity (the lab has a small number of these devices). These devices may be used if users need to test on this specific device model and version. Please note that due to low capacity, the tests may take much longer to finish, especially if a large number of tests are invoked at once. These devices are not suitable for test sharding.",
            "Devices that are medium in capacity (the lab has a decent number of these devices, though not as many as high capacity devices). These devices are suitable for fewer test runs (e.g. fewer than 100 tests) and only for low shard counts (e.g. less than 10 shards).",
            "Devices that are high in capacity (the lab has a large number of these devices). These devices are generally suggested for running a large number of simultaneous tests (e.g. more than 100 tests). Please note that high capacity devices do not guarantee short wait times due to several factors: 1. Traffic (how heavily they are used at any given moment). 2. High capacity devices are prioritized for certain usages, which may cause user tests to be slower than selecting other similar device types."
          ],
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "CatalogDeviceStreamingSupport": {
      "description": "Per-product metadata for the DeviceStreaming product.",
      "id": "CatalogDeviceStreamingSupport",
      "properties": {
        "minimumAndroidStudioVersion": {
          "description": "Output only. Specifies the minimum Android Studio version that supports this device. Optional; only set when the device is known to work only at or above a certain Android Studio version. Expected format \"major.minor.micro.patch\", e.g. \"5921.22.2211.8881706\".",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "CatalogIosDeviceDetails": {
      "description": "iOS-specific device attributes. Reserved for future iOS-only fields.",
      "id": "CatalogIosDeviceDetails",
      "properties": {},
      "type": "object"
    },
    "CatalogLabInfo": {
      "description": "The lab hosting a device.",
      "id": "CatalogLabInfo",
      "properties": {
        "displayName": {
          "description": "Output only. Display name of the lab where the device is hosted. If empty, the device is hosted in a Google owned lab.",
          "readOnly": true,
          "type": "string"
        },
        "regionCode": {
          "description": "Output only. The Unicode country/region code (CLDR) of the lab where the device is hosted, e.g. \"US\" for United States, \"KR\" for South Korea. Empty when the hosting region is not published.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "CatalogLifecycle": {
      "description": "Catalog resource lifecycle: maturity state plus key lifecycle dates.",
      "id": "CatalogLifecycle",
      "properties": {
        "removalDate": {
          "$ref": "Date",
          "description": "Output only. Specifies the date the resource is scheduled to be removed from the catalog. Only set when `state == DEPRECATED`.",
          "readOnly": true
        },
        "state": {
          "description": "Output only. Specifies the current maturity state of the resource.",
          "enum": [
            "STATE_UNSPECIFIED",
            "PREVIEW",
            "ACTIVE",
            "DEPRECATED"
          ],
          "enumDescriptions": [
            "State not specified.",
            "Early access. This resource may have reduced stability and availability.",
            "Generally available.",
            "Still usable, but scheduled for removal."
          ],
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "CatalogListDevicesResponse": {
      "description": "Response including listed devices.",
      "id": "CatalogListDevicesResponse",
      "properties": {
        "devices": {
          "description": "The list of devices.",
          "items": {
            "$ref": "CatalogDevice"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token to receive the next page of devices. This will be absent if the end of the response list has been reached.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CatalogListSoftwareVersionsResponse": {
      "description": "Response including listed software versions.",
      "id": "CatalogListSoftwareVersionsResponse",
      "properties": {
        "nextPageToken": {
          "description": "Token to receive the next page of software versions. This will be absent if the end of the response list has been reached.",
          "type": "string"
        },
        "softwareVersions": {
          "description": "The list of software versions.",
          "items": {
            "$ref": "CatalogSoftwareVersion"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "CatalogScreenMetrics": {
      "description": "Screen measurements of a device.",
      "id": "CatalogScreenMetrics",
      "properties": {
        "densityDpi": {
          "description": "Output only. Pixel density in dots per inch (dpi).",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        },
        "heightPx": {
          "description": "Output only. Height in pixels.",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        },
        "widthPx": {
          "description": "Output only. Width in pixels.",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        }
      },
      "type": "object"
    },
    "CatalogSoftwareVersion": {
      "description": "A single software version in the catalog.",
      "id": "CatalogSoftwareVersion",
      "properties": {
        "androidxTestOrchestratorDetails": {
          "$ref": "CatalogAndroidxTestOrchestratorDetails",
          "description": "Output only. Contains AndroidX Test Orchestrator-specific attributes (set when software_type == ANDROIDX_TEST_ORCHESTRATOR).",
          "readOnly": true
        },
        "displayName": {
          "description": "Output only. Provides a human-readable name for this version, e.g. \"AndroidX Test Orchestrator 1.4.1\".",
          "readOnly": true,
          "type": "string"
        },
        "isDefault": {
          "description": "Output only. Indicates whether the system uses this version when a request does not select one explicitly. Exactly one version per `software_type` is the default, and it may change over time.",
          "readOnly": true,
          "type": "boolean"
        },
        "lifecycle": {
          "$ref": "CatalogLifecycle",
          "description": "Output only. The version lifecycle (maturity stage and removal date).",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. Identifies the software version resource. Format: `projects/{project}/locations/{location}/softwareVersions/{software_version}`. The {software_version} segment is an opaque, stable string. Clients must not parse it to derive or assume the version.",
          "type": "string"
        },
        "softwareType": {
          "description": "Output only. Specifies which software this is a version of. Filter on this field to narrow the collection to a single kind of software, for example `software_type = \"ANDROIDX_TEST_ORCHESTRATOR\"`.",
          "enum": [
            "SOFTWARE_TYPE_UNSPECIFIED",
            "ANDROIDX_TEST_ORCHESTRATOR",
            "XCODE"
          ],
          "enumDescriptions": [
            "Software type not specified.",
            "AndroidX Test Orchestrator, which runs each Android instrumentation test case in its own process.",
            "Apple Xcode, the toolchain that builds and runs iOS XCTests."
          ],
          "readOnly": true,
          "type": "string"
        },
        "version": {
          "description": "Output only. Specifies the version identifier, e.g. \"1.4.1\". Unique within a `software_type`.",
          "readOnly": true,
          "type": "string"
        },
        "xcodeDetails": {
          "$ref": "CatalogXcodeDetails",
          "description": "Output only. Contains Xcode-specific attributes (set when software_type == XCODE).",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "CatalogSupportedProduct": {
      "description": "Declares that a device supports a given Device Cloud product, with optional per-product metadata. Discriminated by which product-specific message is set; adding a new product = new oneof arm + new per-product message.",
      "id": "CatalogSupportedProduct",
      "properties": {
        "automation": {
          "$ref": "CatalogAutomationSupport",
          "description": "Output only. Represents Automation, which is DeviceRun-backed automated test execution.",
          "readOnly": true
        },
        "deviceStreaming": {
          "$ref": "CatalogDeviceStreamingSupport",
          "description": "Output only. Represents DeviceStreaming, which is interactive remote device streaming.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "CatalogXcodeDetails": {
      "description": "Xcode-specific attributes.",
      "id": "CatalogXcodeDetails",
      "properties": {
        "supportedIosVersions": {
          "description": "Output only. Lists the iOS versions this Xcode can run tests against, e.g. \"16.6\". This is a property of the toolchain, so it says nothing about whether a device on that iOS version is available; list the `Device` collection to find out.",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        }
      },
      "type": "object"
    },
    "Date": {
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "id": "Date",
      "properties": {
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "format": "int32",
          "type": "integer"
        },
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "format": "int32",
          "type": "integer"
        },
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "DeviceAction": {
      "description": "The action to be performed on a device.",
      "id": "DeviceAction",
      "properties": {
        "androidBugreport": {
          "$ref": "AndroidBugreportDeviceAction",
          "description": "Captures a bugreport from the device unless the test result is pass."
        },
        "androidDumpsys": {
          "$ref": "AndroidDumpsysDeviceAction",
          "description": "Captures a dumpsys from the device."
        },
        "androidInstallPackages": {
          "$ref": "AndroidInstallPackagesDeviceAction",
          "description": "Installs Android packages on the device."
        },
        "androidLogcat": {
          "$ref": "AndroidLogcatDeviceAction",
          "description": "Collects logcat output from the device."
        },
        "androidMockLocation": {
          "$ref": "AndroidMockLocationDeviceAction",
          "description": "Mocks the location of the device."
        },
        "androidOrientation": {
          "$ref": "AndroidOrientationDeviceAction",
          "description": "Sets the orientation of the device."
        },
        "androidPullFiles": {
          "$ref": "AndroidPullFilesDeviceAction",
          "description": "Pulls directories and files from the device at the end of the run."
        },
        "androidPushFiles": {
          "$ref": "AndroidPushFilesDeviceAction",
          "description": "Pushes files to the device at the beginning of the run."
        },
        "androidRecordVideo": {
          "$ref": "AndroidRecordVideoDeviceAction",
          "description": "Records a video of the device screen during the run."
        },
        "androidSwitchLocale": {
          "$ref": "AndroidSwitchLocaleDeviceAction",
          "description": "Switches the locale (language and region) of the device."
        },
        "iosAppPrivacyReport": {
          "$ref": "IosAppPrivacyReportDeviceAction",
          "description": "Collects the exported iOS App Privacy Report during the run."
        },
        "iosInstallPackages": {
          "$ref": "IosInstallPackagesDeviceAction",
          "description": "Installs additional iOS packages on the device."
        },
        "iosPullFiles": {
          "$ref": "IosPullFilesDeviceAction",
          "description": "Pulls directories and files from the iOS device sandbox at the end of the run."
        },
        "iosPushFiles": {
          "$ref": "IosPushFilesDeviceAction",
          "description": "Pushes files to the iOS device sandbox at the beginning of the run."
        },
        "iosRecordVideo": {
          "$ref": "IosRecordVideoDeviceAction",
          "description": "Records a video of the iOS device screen during the run."
        },
        "iosSwitchLocale": {
          "$ref": "IosSwitchLocaleDeviceAction",
          "description": "Switches the locale (language and region) of the iOS application."
        }
      },
      "type": "object"
    },
    "DeviceConfig": {
      "description": "The configuration of a run on a device.",
      "id": "DeviceConfig",
      "properties": {
        "actions": {
          "description": "Optional. The actions to be performed on the device. Actions will be executed in the order they are specified in the list. Each action type can at most have 1 instance in the list.",
          "items": {
            "$ref": "DeviceAction"
          },
          "type": "array"
        },
        "requirement": {
          "$ref": "DeviceRequirement",
          "description": "Required. The requirement of the device."
        }
      },
      "type": "object"
    },
    "DeviceRequirement": {
      "description": "The requirement of a device.",
      "id": "DeviceRequirement",
      "properties": {
        "deviceId": {
          "description": "The device ID of a device in the catalog. The device ID is the last part of a device's resource name.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "properties": {},
      "type": "object"
    },
    "ExecutionReport": {
      "description": "The runtime information and result report of a single on-device execution attempt.",
      "id": "ExecutionReport",
      "properties": {
        "displayName": {
          "description": "Output only. The display_name set by users in the ExecutionConfig.",
          "readOnly": true,
          "type": "string"
        },
        "endTime": {
          "description": "Output only. The end time of the execution.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "id": {
          "description": "Output only. The unique identifier of the execution.",
          "readOnly": true,
          "type": "string"
        },
        "outputFiles": {
          "description": "Output only. The output files of the execution.",
          "items": {
            "$ref": "OutputFile"
          },
          "readOnly": true,
          "type": "array"
        },
        "result": {
          "$ref": "Result",
          "description": "Output only. The result of the execution.",
          "readOnly": true
        },
        "startTime": {
          "description": "Output only. The start time of the execution.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "status": {
          "$ref": "Status",
          "description": "Output only. The status of the execution.",
          "readOnly": true
        },
        "warnings": {
          "description": "Output only. Non-fatal warnings collected during the execution.",
          "items": {
            "$ref": "Warning"
          },
          "readOnly": true,
          "type": "array"
        }
      },
      "type": "object"
    },
    "GcsPath": {
      "description": "A path to a file or directory in Google Cloud Storage.",
      "id": "GcsPath",
      "properties": {
        "path": {
          "description": "Required. The Google Cloud Storage path of the file or directory. Format: `gs:///`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleLongrunningCancelOperationRequest": {
      "description": "The request message for Operations.CancelOperation.",
      "id": "GoogleLongrunningCancelOperationRequest",
      "properties": {},
      "type": "object"
    },
    "GoogleLongrunningListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "id": "GoogleLongrunningListOperationsResponse",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "GoogleLongrunningOperation"
          },
          "type": "array"
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleLongrunningOperation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "GoogleLongrunningOperation",
      "properties": {
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "$ref": "GoogleRpcStatus",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "response": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object"
        }
      },
      "type": "object"
    },
    "GoogleRpcStatus": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "GoogleRpcStatus",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "type": "array"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "InputFile": {
      "description": "Input file.",
      "id": "InputFile",
      "properties": {
        "gcsInputFile": {
          "$ref": "GcsPath",
          "description": "An input file in Google Cloud Storage."
        }
      },
      "type": "object"
    },
    "IosAppPrivacyReportDeviceAction": {
      "description": "Collects the exported iOS App Privacy Report during the test run. When enabled, the iOS device records application activity (such as network access, domain requests, and sensitive resource access like photos, camera, or location) and exports Apple's official App Privacy Report. The report will be written to a file named `AppActivityReport.ndjson` in the execution output directory.",
      "id": "IosAppPrivacyReportDeviceAction",
      "properties": {},
      "type": "object"
    },
    "IosInstallPackagesDeviceAction": {
      "description": "Installs iOS packages on the device.",
      "id": "IosInstallPackagesDeviceAction",
      "properties": {
        "ipas": {
          "description": "Required. Additional iOS packages (IPAs) to install on the device. Limits: - A maximum of 20 IPAs are allowed.",
          "items": {
            "$ref": "InputFile"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "IosPullFilesDeviceAction": {
      "description": "Pulls directories and files from the iOS device sandbox at the end of the run.",
      "id": "IosPullFilesDeviceAction",
      "properties": {
        "paths": {
          "description": "Required. Absolute directory or file paths to pull from the device. Limits: - A maximum of 10 paths are allowed.",
          "items": {
            "$ref": "IosPullFilesDeviceActionPathConfig"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "IosPullFilesDeviceActionPathConfig": {
      "description": "The configuration of pulling a file or directory from the iOS device.",
      "id": "IosPullFilesDeviceActionPathConfig",
      "properties": {
        "bundleId": {
          "description": "Required. The bundle ID of the application sandbox.",
          "type": "string"
        },
        "devicePath": {
          "description": "Required. The device path relative to the app sandbox, e.g. \"/Documents/output/\".",
          "type": "string"
        }
      },
      "type": "object"
    },
    "IosPushFilesDeviceAction": {
      "description": "Pushes files to the iOS device sandbox at the beginning of the run.",
      "id": "IosPushFilesDeviceAction",
      "properties": {
        "fileConfigs": {
          "description": "Required. Configs of pushing files to the device. Limits: - A maximum of 50 files are allowed.",
          "items": {
            "$ref": "IosPushFilesDeviceActionFileConfig"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "IosPushFilesDeviceActionFileConfig": {
      "description": "The configuration of pushing a file to the iOS device.",
      "id": "IosPushFilesDeviceActionFileConfig",
      "properties": {
        "bundleId": {
          "description": "Required. The bundle ID of the application sandbox.",
          "type": "string"
        },
        "destinationPath": {
          "description": "Required. The destination path relative to the app sandbox, e.g. \"/Documents/file.txt\".",
          "type": "string"
        },
        "sourceFile": {
          "$ref": "InputFile",
          "description": "Required. The file to be pushed."
        }
      },
      "type": "object"
    },
    "IosRecordVideoDeviceAction": {
      "description": "Records a video of the iOS device screen during the run. The video will be written to a file named `video.mp4` in the execution output directory.",
      "id": "IosRecordVideoDeviceAction",
      "properties": {
        "discardOnPass": {
          "description": "Optional. Whether to discard the video if the test passes. If not specified, the default is false (always keep the video).",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "IosSwitchLocaleDeviceAction": {
      "description": "Switches the locale (language and region) of the iOS application.",
      "id": "IosSwitchLocaleDeviceAction",
      "properties": {
        "localeCode": {
          "description": "Required. The locale (language and region) to switch the app to. The format is `language-region` or `language`, e.g. \"en-US\", \"zh-CN\", \"ja\", etc.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "IosXcTest": {
      "description": "The configuration of an iOS XCTest.",
      "id": "IosXcTest",
      "properties": {
        "testsZip": {
          "$ref": "InputFile",
          "description": "Required. The .zip containing the .xctestrun file and the contents of the DerivedData/Build/Products directory."
        },
        "xcTestTimeout": {
          "description": "Optional. The timeout of the test. Default value: 5 min. Range: [1 min, 3 hours].",
          "format": "google-duration",
          "type": "string"
        },
        "xcodeVersion": {
          "description": "Optional. The Xcode version that should be used for the test. If not set, a system-default Xcode version is used. The available Xcode versions can be retrieved from the catalog service.",
          "type": "string"
        },
        "xctestrun": {
          "$ref": "InputFile",
          "description": "Optional. An .xctestrun file that will override the .xctestrun file in the tests zip."
        }
      },
      "type": "object"
    },
    "IssueSummary": {
      "description": "Describes the summary of an issue (error or warning) with structured details.",
      "id": "IssueSummary",
      "properties": {
        "message": {
          "description": "Output only. Human-readable explanation of the issue in English.",
          "readOnly": true,
          "type": "string"
        },
        "reason": {
          "description": "Output only. The reason of the issue. This is a constant value that identifies the proximate cause of the issue. This should be at most 63 characters and match a regular expression of `A-Z*[A-Z0-9]`, which represents UPPER_SNAKE_CASE.",
          "readOnly": true,
          "type": "string"
        },
        "type": {
          "description": "Output only. The issue classification based on responsibility.",
          "enum": [
            "ISSUE_TYPE_UNSPECIFIED",
            "INFRA",
            "CUSTOMER"
          ],
          "enumDescriptions": [
            "Unspecified issue type. This value is unused.",
            "Platform infrastructure or operational execution environment failure.",
            "Customer test script failure, malformed APK, or bad user configuration."
          ],
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "JobAction": {
      "description": "The action to be performed in a job.",
      "id": "JobAction",
      "properties": {
        "androidInstrumentationTest": {
          "$ref": "AndroidInstrumentationTest",
          "description": "Android instrumentation test."
        },
        "androidNativeBinary": {
          "$ref": "AndroidNativeBinary",
          "description": "Android native binary execution."
        },
        "iosXcTest": {
          "$ref": "IosXcTest",
          "description": "iOS XCTest."
        }
      },
      "type": "object"
    },
    "JobConfig": {
      "description": "The configuration of a job.",
      "id": "JobConfig",
      "properties": {
        "action": {
          "$ref": "JobAction",
          "description": "Required. Job action."
        },
        "allocationConfig": {
          "$ref": "AllocationConfig",
          "description": "Required. Allocation config."
        },
        "displayName": {
          "description": "Optional. User-settable, human-readable name for the job. If set, it must be unique within the session. If not set, the display name will default to `job-`, where `` is the 0-based index of the job in the session formatted as three digits (e.g., job-000, job-001, ...). Maximum size is 63 bytes when encoded as UTF-8. If set, must match regex: `^A-Za-z0-9*$`.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. User-defined metadata for tracking or categorization. These labels do not affect job execution and are surfaced in the JobReport. Limits: - Maximum number of entries: 16. - Maximum key size: 32 bytes (UTF-8). - Maximum value size: 1024 bytes (UTF-8).",
          "type": "object"
        },
        "settings": {
          "$ref": "JobSettings",
          "description": "Optional. Job settings."
        }
      },
      "type": "object"
    },
    "JobReport": {
      "description": "The runtime information and result report of a job.",
      "id": "JobReport",
      "properties": {
        "displayName": {
          "description": "Output only. The display_name set by users in the JobConfig.",
          "readOnly": true,
          "type": "string"
        },
        "endTime": {
          "description": "Output only. The end time of the job.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "executionReports": {
          "description": "Output only. Reports of the execution attempts of the job.",
          "items": {
            "$ref": "ExecutionReport"
          },
          "readOnly": true,
          "type": "array"
        },
        "id": {
          "description": "Output only. The unique identifier of the job.",
          "readOnly": true,
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Output only. The original labels provided by the user during job creation.",
          "readOnly": true,
          "type": "object"
        },
        "outputFiles": {
          "description": "Output only. The output files of the job.",
          "items": {
            "$ref": "OutputFile"
          },
          "readOnly": true,
          "type": "array"
        },
        "result": {
          "$ref": "Result",
          "description": "Output only. The result of the job.",
          "readOnly": true
        },
        "startTime": {
          "description": "Output only. The start time of the job.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "status": {
          "$ref": "Status",
          "description": "Output only. The status of the job.",
          "readOnly": true
        },
        "warnings": {
          "description": "Output only. Non-fatal warnings collected during the job.",
          "items": {
            "$ref": "Warning"
          },
          "readOnly": true,
          "type": "array"
        }
      },
      "type": "object"
    },
    "JobSettings": {
      "description": "Job settings to control the job execution.",
      "id": "JobSettings",
      "properties": {
        "retrySettings": {
          "$ref": "RetrySettings",
          "description": "Optional. The retry settings of the job."
        }
      },
      "type": "object"
    },
    "LatLng": {
      "description": "An object that represents a latitude/longitude pair. This is expressed as a pair of doubles to represent degrees latitude and degrees longitude. Unless specified otherwise, this object must conform to the WGS84 standard. Values must be within normalized ranges.",
      "id": "LatLng",
      "properties": {
        "latitude": {
          "description": "The latitude in degrees. It must be in the range [-90.0, +90.0].",
          "format": "double",
          "type": "number"
        },
        "longitude": {
          "description": "The longitude in degrees. It must be in the range [-180.0, +180.0].",
          "format": "double",
          "type": "number"
        }
      },
      "type": "object"
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "id": "ListLocationsResponse",
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListSessionsResponse": {
      "description": "Response including listed sessions.",
      "id": "ListSessionsResponse",
      "properties": {
        "nextPageToken": {
          "description": "Token to receive the next page of sessions. This will be absent if the end of the response list has been reached.",
          "type": "string"
        },
        "sessions": {
          "description": "The list of sessions.",
          "items": {
            "$ref": "Session"
          },
          "type": "array"
        },
        "unreachable": {
          "description": "Unordered list. Sessions that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "Location": {
      "description": "A resource that represents a Google Cloud location.",
      "id": "Location",
      "properties": {
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        }
      },
      "type": "object"
    },
    "OperationMetadata": {
      "description": "Represents the metadata of the long-running operation.",
      "id": "OperationMetadata",
      "properties": {
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true,
          "type": "string"
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "OutputFile": {
      "description": "Output file.",
      "id": "OutputFile",
      "properties": {
        "gcsOutputFile": {
          "$ref": "GcsPath",
          "description": "An output file in Google Cloud Storage."
        }
      },
      "type": "object"
    },
    "Result": {
[...]
