{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        },
        "https://www.googleapis.com/auth/dialogflow": {
          "description": "View, manage and query your Dialogflow agents"
        }
      }
    }
  },
  "basePath": "",
  "baseUrl": "https://dialogflow.googleapis.com/",
  "batchPath": "batch",
  "canonicalName": "Dialogflow",
  "description": "Builds conversational interfaces (for example, chatbots, and voice-powered apps and devices).",
  "discoveryVersion": "v1",
  "documentationLink": "https://cloud.google.com/dialogflow/",
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "id": "dialogflow:v3alpha1",
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://dialogflow.mtls.googleapis.com/",
  "name": "dialogflow",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "parameters": {
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "protocol": "rest",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "operations": {
              "methods": {
                "cancel": {
                  "description": "Starts asynchronous cancellation on a long-running operation.  The server\nmakes a best effort to cancel the operation, but success is not\nguaranteed.  If the server doesn't support this method, it returns\n`google.rpc.Code.UNIMPLEMENTED`.  Clients can use\nOperations.GetOperation or\nother methods to check whether the cancellation succeeded or whether the\noperation completed despite cancellation. On successful cancellation,\nthe operation is not deleted; instead, it becomes an operation with\nan Operation.error value with a google.rpc.Status.code of 1,\ncorresponding to `Code.CANCELLED`.",
                  "flatPath": "v3alpha1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "httpMethod": "POST",
                  "id": "dialogflow.projects.locations.operations.cancel",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be cancelled.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v3alpha1/{+name}:cancel",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ]
                },
                "get": {
                  "description": "Gets the latest state of a long-running operation.  Clients can use this\nmethod to poll the operation result at intervals as recommended by the API\nservice.",
                  "flatPath": "v3alpha1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "httpMethod": "GET",
                  "id": "dialogflow.projects.locations.operations.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v3alpha1/{+name}",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ]
                },
                "list": {
                  "description": "Lists operations that match the specified filter in the request. If the\nserver doesn't support this method, it returns `UNIMPLEMENTED`.\n\nNOTE: the `name` binding allows API services to override the binding\nto use different resource name schemes, such as `users/*/operations`. To\noverride the binding, API services can add a binding such as\n`\"/v1/{name=users/*}/operations\"` to their service configuration.\nFor backwards compatibility, the default name includes the operations\ncollection id, however overriding users must ensure the name binding\nis the parent resource, without the operations collection id.",
                  "flatPath": "v3alpha1/projects/{projectsId}/locations/{locationsId}/operations",
                  "httpMethod": "GET",
                  "id": "dialogflow.projects.locations.operations.list",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "filter": {
                      "description": "The standard list filter.",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "description": "The name of the operation's parent resource.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "The standard list page size.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v3alpha1/{+name}/operations",
                  "response": {
                    "$ref": "GoogleLongrunningListOperationsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ]
                }
              }
            }
          }
        },
        "operations": {
          "methods": {
            "cancel": {
              "description": "Starts asynchronous cancellation on a long-running operation.  The server\nmakes a best effort to cancel the operation, but success is not\nguaranteed.  If the server doesn't support this method, it returns\n`google.rpc.Code.UNIMPLEMENTED`.  Clients can use\nOperations.GetOperation or\nother methods to check whether the cancellation succeeded or whether the\noperation completed despite cancellation. On successful cancellation,\nthe operation is not deleted; instead, it becomes an operation with\nan Operation.error value with a google.rpc.Status.code of 1,\ncorresponding to `Code.CANCELLED`.",
              "flatPath": "v3alpha1/projects/{projectsId}/operations/{operationsId}:cancel",
              "httpMethod": "POST",
              "id": "dialogflow.projects.operations.cancel",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "The name of the operation resource to be cancelled.",
                  "location": "path",
                  "pattern": "^projects/[^/]+/operations/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v3alpha1/{+name}:cancel",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ]
            },
            "get": {
              "description": "Gets the latest state of a long-running operation.  Clients can use this\nmethod to poll the operation result at intervals as recommended by the API\nservice.",
              "flatPath": "v3alpha1/projects/{projectsId}/operations/{operationsId}",
              "httpMethod": "GET",
              "id": "dialogflow.projects.operations.get",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "The name of the operation resource.",
                  "location": "path",
                  "pattern": "^projects/[^/]+/operations/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v3alpha1/{+name}",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ]
            },
            "list": {
              "description": "Lists operations that match the specified filter in the request. If the\nserver doesn't support this method, it returns `UNIMPLEMENTED`.\n\nNOTE: the `name` binding allows API services to override the binding\nto use different resource name schemes, such as `users/*/operations`. To\noverride the binding, API services can add a binding such as\n`\"/v1/{name=users/*}/operations\"` to their service configuration.\nFor backwards compatibility, the default name includes the operations\ncollection id, however overriding users must ensure the name binding\nis the parent resource, without the operations collection id.",
              "flatPath": "v3alpha1/projects/{projectsId}/operations",
              "httpMethod": "GET",
              "id": "dialogflow.projects.operations.list",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "filter": {
                  "description": "The standard list filter.",
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "description": "The name of the operation's parent resource.",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "pageSize": {
                  "description": "The standard list page size.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "The standard list page token.",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v3alpha1/{+name}/operations",
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ]
            }
          }
        }
      }
    }
  },
  "revision": "20200527",
  "rootUrl": "https://dialogflow.googleapis.com/",
  "schemas": {
    "GoogleCloudDialogflowCxV3beta1ExportAgentResponse": {
      "description": "The response message for Agents.ExportAgent.",
      "id": "GoogleCloudDialogflowCxV3beta1ExportAgentResponse",
      "properties": {
        "agentContent": {
          "description": "Uncompressed raw byte content for agent.",
          "format": "byte",
          "type": "string"
        },
        "agentUri": {
          "description": "The URI to a file containing the exported agent. This field is populated\nonly if `agent_uri` is specified in ExportAgentRequest.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1PageInfo": {
      "description": "Represents page information communicated to and from the webhook.",
      "id": "GoogleCloudDialogflowCxV3beta1PageInfo",
      "properties": {
        "currentPage": {
          "description": "Always present for WebhookRequest. Ignored for WebhookResponse.\nThe unique identifier of the current page.\nFormat: `projects/<Project ID>/locations/<Location ID>/agents/<Agent\nID>/flows/<Flow ID>/pages/<Page ID>`.",
          "type": "string"
        },
        "formInfo": {
          "$ref": "GoogleCloudDialogflowCxV3beta1PageInfoFormInfo",
          "description": "Optional for both WebhookRequest and WebhookResponse.\nInformation about the form."
        },
        "nextPage": {
          "description": "Deprecated. Please use WebhookResponse.target_page or\nWebhookResponse.target_flow instead.\n\nOptional for WebhookResponse.\nThe unique identifier of the next page. This field can be set by the\nwebhook to immediately transition to a page different from `current_page`.\nFormat: `projects/<Project ID>/locations/<Location ID>/agents/<Agent\nID>/flows/<Flow ID>/pages/<Page ID>`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1PageInfoFormInfo": {
      "description": "Represents form information.",
      "id": "GoogleCloudDialogflowCxV3beta1PageInfoFormInfo",
      "properties": {
        "parameterInfo": {
          "description": "Optional for both WebhookRequest and WebhookResponse.\nThe parameters contained in the form. Note that the webhook cannot add\nor remove any form parameter.",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1PageInfoFormInfoParameterInfo"
          },
          "type": "array"
        },
        "state": {
          "description": "Always present for WebhookRequest. Ignored for WebhookResponse.\nThe current state of the form.",
          "enum": [
            "FORM_STATE_UNSPECIFIED",
            "INITIALIZING",
            "COLLECTING",
            "FINALIZED"
          ],
          "enumDescriptions": [
            "Not specified. This value should be never used.",
            "The server is initializing the form. The webhook can process the form\nbefore parameter collection begins.",
            "The server is collecting form parameters from the user. The webhook can\nmodify form parameters that have been collected or are to be collected.",
            "The server has collected all required form parameters from the user.\nThe webhook can modify collected form parameters. If any required\nparameter is invalidated by the webhook, the form will return to the\nparameter collection state; otherwise, parameter collection will\nconclude."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1PageInfoFormInfoParameterInfo": {
      "description": "Represents parameter information.",
      "id": "GoogleCloudDialogflowCxV3beta1PageInfoFormInfoParameterInfo",
      "properties": {
        "displayName": {
          "description": "Always present for WebhookRequest. Required for\nWebhookResponse.\nThe human-readable name of the parameter, unique within the form. This\nfield cannot be modified by the webhook.",
          "type": "string"
        },
        "justCollected": {
          "description": "Optional for WebhookRequest. Ignored for WebhookResponse.\nIndicates if the parameter value was just collected on the last\nconversation turn.",
          "type": "boolean"
        },
        "prompt": {
          "description": "Not set for WebhookRequest. Optional for WebhookResponse.\nThe prompt to send to the user to fill a required form parameter. This\nfield can be set by the webhook. If set, this field overrides the\nprompt defined for the form parameter.",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessage"
          },
          "type": "array"
        },
        "required": {
          "description": "Optional for both WebhookRequest and WebhookResponse.\nIndicates whether the parameter is required. Optional parameters will\nnot trigger prompts; however, they are filled if the user specifies\nthem. Required parameters must be filled before form filling concludes.",
          "type": "boolean"
        },
        "state": {
          "description": "Always present for WebhookRequest. Required for\nWebhookResponse. The state of the parameter. This field can be set\nto INVALID by\nthe webhook to invalidate the parameter; other values set by the\nwebhook will be ignored.",
          "enum": [
            "PARAMETER_STATE_UNSPECIFIED",
            "EMPTY",
            "INVALID",
            "FILLED"
          ],
          "enumDescriptions": [
            "Not specified. This value should be never used.",
            "Indicates that the parameter does not have a value.",
            "Indicates that the parameter value is invalid. This field can be used\nby the webhook to invalidate the parameter and ask the server to\ncollect it from the user again.",
            "Indicates that the parameter has a value."
          ],
          "type": "string"
        },
        "value": {
          "description": "Optional for both WebhookRequest and WebhookResponse.\nThe value of the parameter. This field can be set by the webhook to\nchange the parameter value.",
          "type": "any"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessage": {
      "description": "Represents a response message that can be returned by a conversational agent.\n\nResponse messages are also used for output audio synthesis. The approach is\nas follows:\n\n* If at least one OutputAudioText response is present, then all\n  OutputAudioText responses are linearly concatenated, and the result is used\n  for output audio synthesis.\n* If the OutputAudioText responses are a mixture of text and SSML, then the\n  concatenated result is treated as SSML; otherwise, the result is treated as\n  either text or SSML as appropriate. The agent designer should ideally use\n  either text or SSML consistently throughout the bot design.\n* Otherwise, all Text responses are linearly concatenated, and the result is\n  used for output audio synthesis.\n\nThis approach allows for more sophisticated user experience scenarios, where\nthe text displayed to the user may differ from what is heard.",
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessage",
      "properties": {
        "conversationSuccess": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessageConversationSuccess",
          "description": "Indicates that the conversation succeeded."
        },
        "humanAgentHandoff": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessageHumanAgentHandoff",
          "description": "Hands off conversation to a human agent."
        },
        "payload": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Returns a response containing a custom, platform-specific payload.",
          "type": "object"
        },
        "text": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessageText",
          "description": "Returns a text response."
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessageConversationSuccess": {
      "description": "Indicates that the conversation succeeded, i.e., the bot handled the issue\nthat the customer talked to it about.\n\nDialogflow only uses this to determine which conversations should be\ncounted as successful and doesn't process the metadata in this message in\nany way. Note that Dialogflow also considers conversations that get to the\nconversation end page as successful even if they don't return\nConversationSuccess.\n\nYou may set this, for example:\n* In the entry_fulfillment of a Page if\n  entering the page indicates that the conversation succeeded.\n* In a webhook response when you determine that you handled the customer\n  issue.",
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessageConversationSuccess",
      "properties": {
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Custom metadata. Dialogflow doesn't impose any structure on this.",
          "type": "object"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessageHumanAgentHandoff": {
      "description": "Indicates that the conversation should be handed off to a human agent.\n\nDialogflow only uses this to determine which conversations were handed off\nto a human agent for measurement purposes. What else to do with this signal\nis up to you and your handoff procedures.\n\nYou may set this, for example:\n* In the entry_fulfillment of a Page if\n  entering the page indicates something went extremely wrong in the\n  conversation.\n* In a webhook response when you determine that the customer issue can only\n  be handled by a human.",
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessageHumanAgentHandoff",
      "properties": {
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Custom metadata for your handoff procedure. Dialogflow doesn't impose\nany structure on this.",
          "type": "object"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessageText": {
      "description": "The text response message.",
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessageText",
      "properties": {
        "text": {
          "description": "A collection of text responses.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1SessionInfo": {
      "description": "Represents session information communicated to and from the webhook.",
      "id": "GoogleCloudDialogflowCxV3beta1SessionInfo",
      "properties": {
        "parameters": {
          "additionalProperties": {
            "type": "any"
          },
          "description": "Optional for WebhookRequest. Optional for WebhookResponse.\nAll parameters collected from forms and intents during the session.\nParameters can be created, updated, or removed by the webhook. To remove a\nparameter from the session, the webhook should explicitly set the parameter\nvalue to null in WebhookResponse. The map is keyed by parameters'\ndisplay names.",
          "type": "object"
        },
        "session": {
          "description": "Always present for WebhookRequest. Ignored for WebhookResponse.\nThe unique identifier of the session. This\nfield can be used by the webhook to identify a user.\nFormat: `projects/<Project ID>/locations/<Location ID>/agents/<Agent\nID>/sessions/<Session ID>`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1WebhookRequest": {
      "description": "The request message for a webhook call.",
      "id": "GoogleCloudDialogflowCxV3beta1WebhookRequest",
      "properties": {
        "detectIntentResponseId": {
          "description": "Always present. The unique identifier of the DetectIntentResponse that\nwill be returned to the API caller.",
          "type": "string"
        },
        "fulfillmentInfo": {
          "$ref": "GoogleCloudDialogflowCxV3beta1WebhookRequestFulfillmentInfo",
          "description": "Always present. Information about the fulfillment that triggered this\nwebhook call."
        },
        "intentInfo": {
          "$ref": "GoogleCloudDialogflowCxV3beta1WebhookRequestIntentInfo",
          "description": "Information about the last matched intent."
        },
        "messages": {
          "description": "The list of rich message responses to present to the user. Webhook can\nchoose to append or replace this list in\nWebhookResponse.fulfillment_response;",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessage"
          },
          "type": "array"
        },
        "pageInfo": {
          "$ref": "GoogleCloudDialogflowCxV3beta1PageInfo",
          "description": "Information about page status."
        },
        "payload": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Custom data set in QueryParameters.payload.",
          "type": "object"
        },
        "sessionInfo": {
          "$ref": "GoogleCloudDialogflowCxV3beta1SessionInfo",
          "description": "Information about session status."
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1WebhookRequestFulfillmentInfo": {
      "description": "Represents fulfillment information communicated to the webhook.",
      "id": "GoogleCloudDialogflowCxV3beta1WebhookRequestFulfillmentInfo",
      "properties": {
        "tag": {
          "description": "Always present. The tag used to identify which fulfillment is being\ncalled.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1WebhookRequestIntentInfo": {
      "description": "Represents intent information communicated to the webhook.",
      "id": "GoogleCloudDialogflowCxV3beta1WebhookRequestIntentInfo",
      "properties": {
        "lastMatchedIntent": {
          "description": "Always present. The unique identifier of the last matched\nintent. Format: `projects/<Project ID>/locations/<Location\nID>/agents/<Agent ID>/intents/<Intent ID>`.",
          "type": "string"
        },
        "parameters": {
          "additionalProperties": {
            "$ref": "GoogleCloudDialogflowCxV3beta1WebhookRequestIntentInfoIntentParameterValue"
          },
          "description": "Parameters identified as a result of intent matching. This is a map of\nthe name of the identified parameter to the value of the parameter\nidentified from the user's utterance. All parameters defined in the\nmatched intent that are identified will be surfaced here.",
          "type": "object"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1WebhookRequestIntentInfoIntentParameterValue": {
      "description": "Represents a value for an intent parameter.",
      "id": "GoogleCloudDialogflowCxV3beta1WebhookRequestIntentInfoIntentParameterValue",
      "properties": {
        "originalValue": {
          "description": "Always present. Original text value extracted from user utterance.",
          "type": "string"
        },
        "resolvedValue": {
          "description": "Always present. Structured value for the parameter extracted from user\nutterance.",
          "type": "any"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1WebhookResponse": {
      "description": "The response message for a webhook call.",
      "id": "GoogleCloudDialogflowCxV3beta1WebhookResponse",
      "properties": {
        "fulfillmentResponse": {
          "$ref": "GoogleCloudDialogflowCxV3beta1WebhookResponseFulfillmentResponse",
          "description": "The fulfillment response to send to the user. This field can be omitted by\nthe webhook if it does not intend to send any response to the user."
        },
        "pageInfo": {
          "$ref": "GoogleCloudDialogflowCxV3beta1PageInfo",
          "description": "Information about page status. This field can be omitted by the webhook if\nit does not intend to modify page status."
        },
        "payload": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Value to append directly to QueryResult.webhook_payloads.",
          "type": "object"
        },
        "sessionInfo": {
          "$ref": "GoogleCloudDialogflowCxV3beta1SessionInfo",
          "description": "Information about session status. This field can be omitted by the webhook\nif it does not intend to modify session status."
        },
        "targetFlow": {
          "description": "The target flow to transition to.\nFormat: `projects/<Project ID>/locations/<Location ID>/agents/<Agent\nID>/flows/<Flow ID>`.",
          "type": "string"
        },
        "targetPage": {
          "description": "The target page to transition to.\nFormat: `projects/<Project ID>/locations/<Location ID>/agents/<Agent\nID>/flows/<Flow ID>/pages/<Page ID>`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1WebhookResponseFulfillmentResponse": {
      "description": "Represents a fulfillment response to the user.",
      "id": "GoogleCloudDialogflowCxV3beta1WebhookResponseFulfillmentResponse",
      "properties": {
        "mergeBehavior": {
          "description": "Merge behavior for `messages`.",
          "enum": [
            "MERGE_BEHAVIOR_UNSPECIFIED",
            "APPEND",
            "REPLACE"
          ],
          "enumDescriptions": [
            "Not specified. `APPEND` will be used.",
            "`messages` will be appended to the list of messages waiting to be sent\nto the user.",
            "`messages` will replace the list of messages waiting to be sent to the\nuser."
          ],
          "type": "string"
        },
        "messages": {
          "description": "The list of rich message responses to present to the user.",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessage"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2AnnotatedMessagePart": {
      "description": "Represents a part of a message possibly annotated with an entity. The part\ncan be an entity or purely a part of the message between two entities or\nmessage start/end.",
      "id": "GoogleCloudDialogflowV2AnnotatedMessagePart",
      "properties": {
        "entityType": {
          "description": "The [Dialogflow system entity\ntype](https://cloud.google.com/dialogflow/docs/reference/system-entities)\nof this message part. If this is empty, Dialogflow could not annotate the\nphrase part with a system entity.",
          "type": "string"
        },
        "formattedValue": {
          "description": "The [Dialogflow system entity formatted value\n](https://cloud.google.com/dialogflow/docs/reference/system-entities) of\nthis message part. For example for a system entity of type\n`@sys.unit-currency`, this may contain:\n<pre>\n{\n  \"amount\": 5,\n  \"currency\": \"USD\"\n}\n</pre>",
          "type": "any"
        },
        "text": {
          "description": "A part of a message possibly annotated with an entity.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2BatchUpdateEntityTypesResponse": {
      "description": "The response message for EntityTypes.BatchUpdateEntityTypes.",
      "id": "GoogleCloudDialogflowV2BatchUpdateEntityTypesResponse",
      "properties": {
        "entityTypes": {
          "description": "The collection of updated or created entity types.",
          "items": {
            "$ref": "GoogleCloudDialogflowV2EntityType"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2BatchUpdateIntentsResponse": {
      "description": "The response message for Intents.BatchUpdateIntents.",
      "id": "GoogleCloudDialogflowV2BatchUpdateIntentsResponse",
      "properties": {
        "intents": {
          "description": "The collection of updated or created intents.",
          "items": {
            "$ref": "GoogleCloudDialogflowV2Intent"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2Context": {
      "description": "Represents a context.",
      "id": "GoogleCloudDialogflowV2Context",
      "properties": {
        "lifespanCount": {
          "description": "Optional. The number of conversational query requests after which the\ncontext expires. The default is `0`. If set to `0`, the context expires\nimmediately. Contexts expire automatically after 20 minutes if there\nare no matching queries.",
          "format": "int32",
          "type": "integer"
        },
        "name": {
          "description": "Required. The unique identifier of the context. Format:\n`projects/<Project ID>/agent/sessions/<Session ID>/contexts/<Context ID>`,\nor `projects/<Project ID>/agent/environments/<Environment ID>/users/<User\nID>/sessions/<Session ID>/contexts/<Context ID>`.\n\nThe `Context ID` is always converted to lowercase, may only contain\ncharacters in a-zA-Z0-9_-% and may be at most 250 bytes long.\n\nIf `Environment ID` is not specified, we assume default 'draft'\nenvironment. If `User ID` is not specified, we assume default '-' user.\n\nThe following context names are reserved for internal use by Dialogflow.\nYou should not use these contexts or create contexts with these names:\n\n* `__system_counters__`\n* `*_id_dialog_context`\n* `*_dialog_params_size`",
          "type": "string"
        },
        "parameters": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Optional. The collection of parameters associated with this context.\n\nDepending on your protocol or client library language, this is a\nmap, associative array, symbol table, dictionary, or JSON object\ncomposed of a collection of (MapKey, MapValue) pairs:\n\n-   MapKey type: string\n-   MapKey value: parameter name\n-   MapValue type:\n    -   If parameter's entity type is a composite entity: map\n    -   Else: string or number, depending on parameter value type\n-   MapValue value:\n    -   If parameter's entity type is a composite entity:\n        map from composite entity property names to property values\n    -   Else: parameter value",
          "type": "object"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2ConversationEvent": {
      "description": "Represents a notification sent to Cloud Pub/Sub subscribers for conversation\nlifecycle events.",
      "id": "GoogleCloudDialogflowV2ConversationEvent",
      "properties": {
        "conversation": {
          "description": "The unique identifier of the conversation this notification\nrefers to.\nFormat: `projects/<Project ID>/conversations/<Conversation ID>`.",
          "type": "string"
        },
        "errorStatus": {
          "$ref": "GoogleRpcStatus",
          "description": "More detailed information about an error. Only set for type\nUNRECOVERABLE_ERROR_IN_PHONE_CALL."
        },
        "newMessagePayload": {
          "$ref": "GoogleCloudDialogflowV2Message",
          "description": "Payload of NEW_MESSAGE event."
        },
        "type": {
          "description": "The type of the event that this notification refers to.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "CONVERSATION_STARTED",
            "CONVERSATION_FINISHED",
            "HUMAN_INTERVENTION_NEEDED",
            "NEW_MESSAGE",
            "UNRECOVERABLE_ERROR"
          ],
          "enumDescriptions": [
            "Type not set.",
            "A new conversation has been opened. This is fired when a telephone call\nis answered, or a conversation is created via the API.",
            "An existing conversation has closed. This is fired when a telephone call\nis terminated, or a conversation is closed via the API.",
            "An existing conversation has received notification from Dialogflow that\nhuman intervention is required.",
            "An existing conversation has received a new message, either from API or\ntelephony. It is configured in\nConversationProfile.new_message_event_notification_config",
            "Unrecoverable error during a telephone call.\n\nIn general non-recoverable errors only occur if something was\nmisconfigured in the ConversationProfile corresponding to the call. After\na non-recoverable error, Dialogflow may stop responding.\n\nWe don't fire this event:\n* in an API call because we can directly return the error, or,\n* when we can recover from an error."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2EntityType": {
      "description": "Represents an entity type.\nEntity types serve as a tool for extracting parameter values from natural\nlanguage queries.",
      "id": "GoogleCloudDialogflowV2EntityType",
      "properties": {
        "autoExpansionMode": {
          "description": "Optional. Indicates whether the entity type can be automatically\nexpanded.",
          "enum": [
            "AUTO_EXPANSION_MODE_UNSPECIFIED",
            "AUTO_EXPANSION_MODE_DEFAULT"
          ],
          "enumDescriptions": [
            "Auto expansion disabled for the entity.",
            "Allows an agent to recognize values that have not been explicitly\nlisted in the entity."
          ],
          "type": "string"
        },
        "displayName": {
          "description": "Required. The name of the entity type.",
          "type": "string"
        },
        "enableFuzzyExtraction": {
          "description": "Optional. Enables fuzzy entity extraction during classification.",
          "type": "boolean"
        },
        "entities": {
          "description": "Optional. The collection of entity entries associated with the entity type.",
          "items": {
            "$ref": "GoogleCloudDialogflowV2EntityTypeEntity"
          },
          "type": "array"
        },
        "kind": {
          "description": "Required. Indicates the kind of entity type.",
          "enum": [
            "KIND_UNSPECIFIED",
            "KIND_MAP",
            "KIND_LIST",
            "KIND_REGEXP"
          ],
          "enumDescriptions": [
            "Not specified. This value should be never used.",
            "Map entity types allow mapping of a group of synonyms to a reference\nvalue.",
            "List entity types contain a set of entries that do not map to reference\nvalues. However, list entity types can contain references to other entity\ntypes (with or without aliases).",
            "Regexp entity types allow to specify regular expressions in entries\nvalues."
          ],
          "type": "string"
        },
        "name": {
          "description": "The unique identifier of the entity type.\nRequired for EntityTypes.UpdateEntityType and\nEntityTypes.BatchUpdateEntityTypes methods.\nFormat: `projects/<Project ID>/agent/entityTypes/<Entity Type ID>`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2EntityTypeEntity": {
      "description": "An **entity entry** for an associated entity type.",
      "id": "GoogleCloudDialogflowV2EntityTypeEntity",
      "properties": {
        "synonyms": {
          "description": "Required. A collection of value synonyms. For example, if the entity type\nis *vegetable*, and `value` is *scallions*, a synonym could be *green\nonions*.\n\nFor `KIND_LIST` entity types:\n\n*   This collection must contain exactly one synonym equal to `value`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "value": {
          "description": "Required. The primary value associated with this entity entry.\nFor example, if the entity type is *vegetable*, the value could be\n*scallions*.\n\nFor `KIND_MAP` entity types:\n\n*   A reference value to be used in place of synonyms.\n\nFor `KIND_LIST` entity types:\n\n*   A string that can contain references to other entity types (with or\n    without aliases).",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2EventInput": {
      "description": "Events allow for matching intents by event name instead of the natural\nlanguage input. For instance, input `<event: { name: \"welcome_event\",\nparameters: { name: \"Sam\" } }>` can trigger a personalized welcome response.\nThe parameter `name` may be used by the agent in the response:\n`\"Hello #welcome_event.name! What can I do for you today?\"`.",
      "id": "GoogleCloudDialogflowV2EventInput",
      "properties": {
        "languageCode": {
          "description": "Required. The language of this query. See [Language\nSupport](https://cloud.google.com/dialogflow/docs/reference/language)\nfor a list of the currently supported language codes. Note that queries in\nthe same session do not necessarily need to specify the same language.",
          "type": "string"
        },
        "name": {
          "description": "Required. The unique identifier of the event.",
          "type": "string"
        },
        "parameters": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "The collection of parameters associated with the event.\n\nDepending on your protocol or client library language, this is a\nmap, associative array, symbol table, dictionary, or JSON object\ncomposed of a collection of (MapKey, MapValue) pairs:\n\n-   MapKey type: string\n-   MapKey value: parameter name\n-   MapValue type:\n    -   If parameter's entity type is a composite entity: map\n    -   Else: string or number, depending on parameter value type\n-   MapValue value:\n    -   If parameter's entity type is a composite entity:\n        map from composite entity property names to property values\n    -   Else: parameter value",
          "type": "object"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2ExportAgentResponse": {
      "description": "The response message for Agents.ExportAgent.",
      "id": "GoogleCloudDialogflowV2ExportAgentResponse",
      "properties": {
        "agentContent": {
          "description": "Zip compressed raw byte content for agent.",
          "format": "byte",
          "type": "string"
        },
        "agentUri": {
          "description": "The URI to a file containing the exported agent. This field is populated\nonly if `agent_uri` is specified in `ExportAgentRequest`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2Intent": {
      "description": "Represents an intent.\nIntents convert a number of user expressions or patterns into an action. An\naction is an extraction of a user command or sentence semantics.",
      "id": "GoogleCloudDialogflowV2Intent",
      "properties": {
        "action": {
          "description": "Optional. The name of the action associated with the intent.\nNote: The action name must not contain whitespaces.",
          "type": "string"
        },
        "defaultResponsePlatforms": {
          "description": "Optional. The list of platforms for which the first responses will be\ncopied from the messages in PLATFORM_UNSPECIFIED (i.e. default platform).",
          "enumDescriptions": [
            "Default platform.",
            "Facebook.",
            "Slack.",
            "Telegram.",
            "Kik.",
            "Skype.",
            "Line.",
            "Viber.",
            "Google Assistant\nSee [Dialogflow webhook\nformat](https://developers.google.com/assistant/actions/build/json/dialogflow-webhook-json)",
            "Google Hangouts."
          ],
          "items": {
            "enum": [
              "PLATFORM_UNSPECIFIED",
              "FACEBOOK",
              "SLACK",
              "TELEGRAM",
              "KIK",
              "SKYPE",
              "LINE",
              "VIBER",
              "ACTIONS_ON_GOOGLE",
              "GOOGLE_HANGOUTS"
            ],
            "type": "string"
          },
          "type": "array"
        },
        "displayName": {
          "description": "Required. The name of this intent.",
          "type": "string"
        },
        "events": {
          "description": "Optional. The collection of event names that trigger the intent.\nIf the collection of input contexts is not empty, all of the contexts must\nbe present in the active user session for an event to trigger this intent.\nEvent names are limited to 150 characters.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "followupIntentInfo": {
          "description": "Read-only. Information about all followup intents that have this intent as\na direct or indirect parent. We populate this field only in the output.",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentFollowupIntentInfo"
          },
          "type": "array"
        },
        "inputContextNames": {
          "description": "Optional. The list of context names required for this intent to be\ntriggered.\nFormat: `projects/<Project ID>/agent/sessions/-/contexts/<Context ID>`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "isFallback": {
          "description": "Optional. Indicates whether this is a fallback intent.",
          "type": "boolean"
        },
        "messages": {
          "description": "Optional. The collection of rich messages corresponding to the\n`Response` field in the Dialogflow console.",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessage"
          },
          "type": "array"
        },
        "mlDisabled": {
          "description": "Optional. Indicates whether Machine Learning is disabled for the intent.\nNote: If `ml_disabled` setting is set to true, then this intent is not\ntaken into account during inference in `ML ONLY` match mode. Also,\nauto-markup in the UI is turned off.",
          "type": "boolean"
        },
        "name": {
          "description": "Optional. The unique identifier of this intent.\nRequired for Intents.UpdateIntent and Intents.BatchUpdateIntents\nmethods.\nFormat: `projects/<Project ID>/agent/intents/<Intent ID>`.",
          "type": "string"
        },
        "outputContexts": {
          "description": "Optional. The collection of contexts that are activated when the intent\nis matched. Context messages in this collection should not set the\nparameters field. Setting the `lifespan_count` to 0 will reset the context\nwhen the intent is matched.\nFormat: `projects/<Project ID>/agent/sessions/-/contexts/<Context ID>`.",
          "items": {
            "$ref": "GoogleCloudDialogflowV2Context"
          },
          "type": "array"
        },
        "parameters": {
          "description": "Optional. The collection of parameters associated with the intent.",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentParameter"
          },
          "type": "array"
        },
        "parentFollowupIntentName": {
          "description": "Read-only after creation. The unique identifier of the parent intent in the\nchain of followup intents. You can set this field when creating an intent,\nfor example with CreateIntent or\nBatchUpdateIntents, in order to make this\nintent a followup intent.\n\nIt identifies the parent followup intent.\nFormat: `projects/<Project ID>/agent/intents/<Intent ID>`.",
          "type": "string"
        },
        "priority": {
          "description": "Optional. The priority of this intent. Higher numbers represent higher\npriorities.\n\n- If the supplied value is unspecified or 0, the service\n  translates the value to 500,000, which corresponds to the\n  `Normal` priority in the console.\n- If the supplied value is negative, the intent is ignored\n  in runtime detect intent requests.",
          "format": "int32",
          "type": "integer"
        },
        "resetContexts": {
          "description": "Optional. Indicates whether to delete all contexts in the current\nsession when this intent is matched.",
          "type": "boolean"
        },
        "rootFollowupIntentName": {
          "description": "Read-only. The unique identifier of the root intent in the chain of\nfollowup intents. It identifies the correct followup intents chain for\nthis intent. We populate this field only in the output.\n\nFormat: `projects/<Project ID>/agent/intents/<Intent ID>`.",
          "type": "string"
        },
        "trainingPhrases": {
          "description": "Optional. The collection of examples that the agent is\ntrained on.",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentTrainingPhrase"
          },
          "type": "array"
        },
        "webhookState": {
          "description": "Optional. Indicates whether webhooks are enabled for the intent.",
          "enum": [
            "WEBHOOK_STATE_UNSPECIFIED",
            "WEBHOOK_STATE_ENABLED",
            "WEBHOOK_STATE_ENABLED_FOR_SLOT_FILLING"
          ],
          "enumDescriptions": [
            "Webhook is disabled in the agent and in the intent.",
            "Webhook is enabled in the agent and in the intent.",
            "Webhook is enabled in the agent and in the intent. Also, each slot\nfilling prompt is forwarded to the webhook."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentFollowupIntentInfo": {
      "description": "Represents a single followup intent in the chain.",
      "id": "GoogleCloudDialogflowV2IntentFollowupIntentInfo",
      "properties": {
        "followupIntentName": {
          "description": "The unique identifier of the followup intent.\nFormat: `projects/<Project ID>/agent/intents/<Intent ID>`.",
          "type": "string"
        },
        "parentFollowupIntentName": {
          "description": "The unique identifier of the followup intent's parent.\nFormat: `projects/<Project ID>/agent/intents/<Intent ID>`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessage": {
      "description": "A rich response message.\nCorresponds to the intent `Response` field in the Dialogflow console.\nFor more information, see\n[Rich response\nmessages](https://cloud.google.com/dialogflow/docs/intents-rich-messages).",
      "id": "GoogleCloudDialogflowV2IntentMessage",
      "properties": {
        "basicCard": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageBasicCard",
          "description": "The basic card response for Actions on Google."
        },
        "browseCarouselCard": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCard",
          "description": "Browse carousel card for Actions on Google."
        },
        "card": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageCard",
          "description": "The card response."
        },
        "carouselSelect": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageCarouselSelect",
          "description": "The carousel card response for Actions on Google."
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageImage",
          "description": "The image response."
        },
        "linkOutSuggestion": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageLinkOutSuggestion",
          "description": "The link out suggestion chip for Actions on Google."
        },
        "listSelect": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageListSelect",
          "description": "The list card response for Actions on Google."
        },
        "mediaContent": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageMediaContent",
          "description": "The media content card for Actions on Google."
        },
        "payload": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "A custom platform-specific response.",
          "type": "object"
        },
        "platform": {
          "description": "Optional. The platform that this message is intended for.",
          "enum": [
            "PLATFORM_UNSPECIFIED",
            "FACEBOOK",
            "SLACK",
            "TELEGRAM",
            "KIK",
            "SKYPE",
            "LINE",
            "VIBER",
            "ACTIONS_ON_GOOGLE",
            "GOOGLE_HANGOUTS"
          ],
          "enumDescriptions": [
            "Default platform.",
            "Facebook.",
            "Slack.",
            "Telegram.",
            "Kik.",
            "Skype.",
            "Line.",
            "Viber.",
            "Google Assistant\nSee [Dialogflow webhook\nformat](https://developers.google.com/assistant/actions/build/json/dialogflow-webhook-json)",
            "Google Hangouts."
          ],
          "type": "string"
        },
        "quickReplies": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageQuickReplies",
          "description": "The quick replies response."
        },
        "simpleResponses": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageSimpleResponses",
          "description": "The voice and text-only responses for Actions on Google."
        },
        "suggestions": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageSuggestions",
          "description": "The suggestion chips for Actions on Google."
        },
        "tableCard": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageTableCard",
          "description": "Table card for Actions on Google."
        },
        "text": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageText",
          "description": "The text response."
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageBasicCard": {
      "description": "The basic card message. Useful for displaying information.",
      "id": "GoogleCloudDialogflowV2IntentMessageBasicCard",
      "properties": {
        "buttons": {
          "description": "Optional. The collection of card buttons.",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageBasicCardButton"
          },
          "type": "array"
        },
        "formattedText": {
          "description": "Required, unless image is present. The body text of the card.",
          "type": "string"
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageImage",
          "description": "Optional. The image for the card."
        },
        "subtitle": {
          "description": "Optional. The subtitle of the card.",
          "type": "string"
        },
        "title": {
          "description": "Optional. The title of the card.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageBasicCardButton": {
      "description": "The button object that appears at the bottom of a card.",
      "id": "GoogleCloudDialogflowV2IntentMessageBasicCardButton",
      "properties": {
        "openUriAction": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageBasicCardButtonOpenUriAction",
          "description": "Required. Action to take when a user taps on the button."
        },
        "title": {
          "description": "Required. The title of the button.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageBasicCardButtonOpenUriAction": {
      "description": "Opens the given URI.",
      "id": "GoogleCloudDialogflowV2IntentMessageBasicCardButtonOpenUriAction",
      "properties": {
        "uri": {
          "description": "Required. The HTTP or HTTPS scheme URI.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCard": {
      "description": "Browse Carousel Card for Actions on Google.\nhttps://developers.google.com/actions/assistant/responses#browsing_carousel",
      "id": "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCard",
      "properties": {
        "imageDisplayOptions": {
          "description": "Optional. Settings for displaying the image. Applies to every image in\nitems.",
          "enum": [
            "IMAGE_DISPLAY_OPTIONS_UNSPECIFIED",
            "GRAY",
            "WHITE",
            "CROPPED",
            "BLURRED_BACKGROUND"
          ],
          "enumDescriptions": [
            "Fill the gaps between the image and the image container with gray\nbars.",
            "Fill the gaps between the image and the image container with gray\nbars.",
            "Fill the gaps between the image and the image container with white\nbars.",
            "Image is scaled such that the image width and height match or exceed\nthe container dimensions. This may crop the top and bottom of the\nimage if the scaled image height is greater than the container\nheight, or crop the left and right of the image if the scaled image\nwidth is greater than the container width. This is similar to \"Zoom\nMode\" on a widescreen TV when playing a 4:3 video.",
            "Pad the gaps between image and image frame with a blurred copy of the\nsame image."
          ],
          "type": "string"
        },
        "items": {
          "description": "Required. List of items in the Browse Carousel Card. Minimum of two\nitems, maximum of ten.",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItem"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItem": {
      "description": "Browsing carousel tile",
      "id": "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItem",
      "properties": {
        "description": {
          "description": "Optional. Description of the carousel item. Maximum of four lines of\ntext.",
          "type": "string"
        },
        "footer": {
          "description": "Optional. Text that appears at the bottom of the Browse Carousel\nCard. Maximum of one line of text.",
          "type": "string"
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageImage",
          "description": "Optional. Hero image for the carousel item."
        },
        "openUriAction": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlAction",
          "description": "Required. Action to present to the user."
        },
        "title": {
          "description": "Required. Title of the carousel item. Maximum of two lines of text.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlAction": {
      "description": "Actions on Google action to open a given url.",
      "id": "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlAction",
      "properties": {
        "url": {
          "description": "Required. URL",
          "type": "string"
        },
        "urlTypeHint": {
          "description": "Optional. Specifies the type of viewer that is used when opening\nthe URL. Defaults to opening via web browser.",
          "enum": [
            "URL_TYPE_HINT_UNSPECIFIED",
            "AMP_ACTION",
            "AMP_CONTENT"
          ],
          "enumDescriptions": [
            "Unspecified",
            "Url would be an amp action",
            "URL that points directly to AMP content, or to a canonical URL\nwhich refers to AMP content via <link rel=\"amphtml\">."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageCard": {
      "description": "The card response message.",
      "id": "GoogleCloudDialogflowV2IntentMessageCard",
      "properties": {
        "buttons": {
          "description": "Optional. The collection of card buttons.",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageCardButton"
          },
          "type": "array"
        },
        "imageUri": {
          "description": "Optional. The public URI to an image file for the card.",
          "type": "string"
        },
        "subtitle": {
          "description": "Optional. The subtitle of the card.",
          "type": "string"
        },
        "title": {
          "description": "Optional. The title of the card.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageCardButton": {
      "description": "Contains information about a button.",
      "id": "GoogleCloudDialogflowV2IntentMessageCardButton",
      "properties": {
        "postback": {
          "description": "Optional. The text to send back to the Dialogflow API or a URI to\nopen.",
          "type": "string"
        },
        "text": {
          "description": "Optional. The text to show on the button.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageCarouselSelect": {
      "description": "The card for presenting a carousel of options to select from.",
      "id": "GoogleCloudDialogflowV2IntentMessageCarouselSelect",
      "properties": {
        "items": {
          "description": "Required. Carousel items.",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageCarouselSelectItem"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageCarouselSelectItem": {
      "description": "An item in the carousel.",
      "id": "GoogleCloudDialogflowV2IntentMessageCarouselSelectItem",
      "properties": {
        "description": {
          "description": "Optional. The body text of the card.",
          "type": "string"
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageImage",
          "description": "Optional. The image to display."
        },
        "info": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageSelectItemInfo",
          "description": "Required. Additional info about the option item."
        },
        "title": {
          "description": "Required. Title of the carousel item.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageColumnProperties": {
      "description": "Column properties for TableCard.",
      "id": "GoogleCloudDialogflowV2IntentMessageColumnProperties",
      "properties": {
        "header": {
          "description": "Required. Column heading.",
          "type": "string"
        },
        "horizontalAlignment": {
          "description": "Optional. Defines text alignment for all cells in this column.",
          "enum": [
            "HORIZONTAL_ALIGNMENT_UNSPECIFIED",
            "LEADING",
            "CENTER",
            "TRAILING"
          ],
          "enumDescriptions": [
            "Text is aligned to the leading edge of the column.",
            "Text is aligned to the leading edge of the column.",
            "Text is centered in the column.",
            "Text is aligned to the trailing edge of the column."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageImage": {
      "description": "The image response message.",
      "id": "GoogleCloudDialogflowV2IntentMessageImage",
      "properties": {
        "accessibilityText": {
          "description": "Optional. A text description of the image to be used for accessibility,\ne.g., screen readers.",
          "type": "string"
        },
        "imageUri": {
          "description": "Optional. The public URI to an image file.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageLinkOutSuggestion": {
      "description": "The suggestion chip message that allows the user to jump out to the app\nor website associated with this agent.",
      "id": "GoogleCloudDialogflowV2IntentMessageLinkOutSuggestion",
      "properties": {
        "destinationName": {
          "description": "Required. The name of the app or site this chip is linking to.",
          "type": "string"
        },
        "uri": {
          "description": "Required. The URI of the app or site to open when the user taps the\nsuggestion chip.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageListSelect": {
      "description": "The card for presenting a list of options to select from.",
      "id": "GoogleCloudDialogflowV2IntentMessageListSelect",
      "properties": {
        "items": {
          "description": "Required. List items.",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageListSelectItem"
          },
          "type": "array"
        },
        "subtitle": {
          "description": "Optional. Subtitle of the list.",
          "type": "string"
        },
        "title": {
          "description": "Optional. The overall title of the list.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageListSelectItem": {
      "description": "An item in the list.",
      "id": "GoogleCloudDialogflowV2IntentMessageListSelectItem",
      "properties": {
        "description": {
          "description": "Optional. The main text describing the item.",
          "type": "string"
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageImage",
          "description": "Optional. The image to display."
        },
        "info": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageSelectItemInfo",
          "description": "Required. Additional information about this option."
        },
        "title": {
          "description": "Required. The title of the list item.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageMediaContent": {
      "description": "The media content card for Actions on Google.",
      "id": "GoogleCloudDialogflowV2IntentMessageMediaContent",
      "properties": {
        "mediaObjects": {
          "description": "Required. List of media objects.",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageMediaContentResponseMediaObject"
          },
          "type": "array"
        },
        "mediaType": {
          "description": "Optional. What type of media is the content (ie \"audio\").",
          "enum": [
            "RESPONSE_MEDIA_TYPE_UNSPECIFIED",
            "AUDIO"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Response media type is audio."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageMediaContentResponseMediaObject": {
      "description": "Response media object for media content card.",
      "id": "GoogleCloudDialogflowV2IntentMessageMediaContentResponseMediaObject",
      "properties": {
        "contentUrl": {
          "description": "Required. Url where the media is stored.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of media card.",
          "type": "string"
        },
        "icon": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageImage",
          "description": "Optional. Icon to display above media content."
        },
        "largeImage": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageImage",
          "description": "Optional. Image to display above media content."
        },
        "name": {
          "description": "Required. Name of media card.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageQuickReplies": {
      "description": "The quick replies response message.",
      "id": "GoogleCloudDialogflowV2IntentMessageQuickReplies",
      "properties": {
        "quickReplies": {
          "description": "Optional. The collection of quick replies.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "title": {
          "description": "Optional. The title of the collection of quick replies.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageSelectItemInfo": {
      "description": "Additional info about the select item for when it is triggered in a\ndialog.",
      "id": "GoogleCloudDialogflowV2IntentMessageSelectItemInfo",
      "properties": {
        "key": {
          "description": "Required. A unique key that will be sent back to the agent if this\nresponse is given.",
          "type": "string"
        },
        "synonyms": {
          "description": "Optional. A list of synonyms that can also be used to trigger this\nitem in dialog.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageSimpleResponse": {
      "description": "The simple response message containing speech or text.",
      "id": "GoogleCloudDialogflowV2IntentMessageSimpleResponse",
      "properties": {
        "displayText": {
          "description": "Optional. The text to display.",
          "type": "string"
        },
        "ssml": {
          "description": "One of text_to_speech or ssml must be provided. Structured spoken\nresponse to the user in the SSML format. Mutually exclusive with\ntext_to_speech.",
          "type": "string"
        },
        "textToSpeech": {
          "description": "One of text_to_speech or ssml must be provided. The plain text of the\nspeech output. Mutually exclusive with ssml.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageSimpleResponses": {
      "description": "The collection of simple response candidates.\nThis message in `QueryResult.fulfillment_messages` and\n`WebhookResponse.fulfillment_messages` should contain only one\n`SimpleResponse`.",
      "id": "GoogleCloudDialogflowV2IntentMessageSimpleResponses",
      "properties": {
        "simpleResponses": {
          "description": "Required. The list of simple responses.",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageSimpleResponse"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageSuggestion": {
      "description": "The suggestion chip message that the user can tap to quickly post a reply\nto the conversation.",
      "id": "GoogleCloudDialogflowV2IntentMessageSuggestion",
      "properties": {
        "title": {
          "description": "Required. The text shown the in the suggestion chip.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageSuggestions": {
      "description": "The collection of suggestions.",
      "id": "GoogleCloudDialogflowV2IntentMessageSuggestions",
      "properties": {
        "suggestions": {
          "description": "Required. The list of suggested replies.",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageSuggestion"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageTableCard": {
      "description": "Table card for Actions on Google.",
      "id": "GoogleCloudDialogflowV2IntentMessageTableCard",
      "properties": {
        "buttons": {
          "description": "Optional. List of buttons for the card.",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageBasicCardButton"
          },
          "type": "array"
        },
        "columnProperties": {
          "description": "Optional. Display properties for the columns in this table.",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageColumnProperties"
          },
          "type": "array"
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageImage",
          "description": "Optional. Image which should be displayed on the card."
        },
        "rows": {
          "description": "Optional. Rows in this table of data.",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageTableCardRow"
          },
          "type": "array"
        },
        "subtitle": {
          "description": "Optional. Subtitle to the title.",
          "type": "string"
        },
        "title": {
          "description": "Required. Title of the card.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageTableCardCell": {
      "description": "Cell of TableCardRow.",
      "id": "GoogleCloudDialogflowV2IntentMessageTableCardCell",
      "properties": {
        "text": {
          "description": "Required. Text in this cell.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageTableCardRow": {
      "description": "Row of TableCard.",
      "id": "GoogleCloudDialogflowV2IntentMessageTableCardRow",
      "properties": {
        "cells": {
          "description": "Optional. List of cells that make up this row.",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageTableCardCell"
          },
          "type": "array"
        },
        "dividerAfter": {
          "description": "Optional. Whether to add a visual divider after this row.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageText": {
      "description": "The text response message.",
      "id": "GoogleCloudDialogflowV2IntentMessageText",
      "properties": {
        "text": {
          "description": "Optional. The collection of the agent's responses.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentParameter": {
      "description": "Represents intent parameters.",
      "id": "GoogleCloudDialogflowV2IntentParameter",
      "properties": {
        "defaultValue": {
          "description": "Optional. The default value to use when the `value` yields an empty\nresult.\nDefault values can be extracted from contexts by using the following\nsyntax: `#context_name.parameter_name`.",
          "type": "string"
        },
        "displayName": {
          "description": "Required. The name of the parameter.",
          "type": "string"
        },
        "entityTypeDisplayName": {
          "description": "Optional. The name of the entity type, prefixed with `@`, that\ndescribes values of the parameter. If the parameter is\nrequired, this must be provided.",
          "type": "string"
        },
        "isList": {
          "description": "Optional. Indicates whether the parameter represents a list of values.",
          "type": "boolean"
        },
        "mandatory": {
          "description": "Optional. Indicates whether the parameter is required. That is,\nwhether the intent cannot be completed without collecting the parameter\nvalue.",
          "type": "boolean"
        },
        "name": {
          "description": "The unique identifier of this parameter.",
          "type": "string"
        },
        "prompts": {
          "description": "Optional. The collection of prompts that the agent can present to the\nuser in order to collect a value for the parameter.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "value": {
          "description": "Optional. The definition of the parameter value. It can be:\n\n- a constant string,\n- a parameter value defined as `$parameter_name`,\n- an original parameter value defined as `$parameter_name.original`,\n- a parameter value from some context defined as\n  `#context_name.parameter_name`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentTrainingPhrase": {
      "description": "Represents an example that the agent is trained on.",
      "id": "GoogleCloudDialogflowV2IntentTrainingPhrase",
      "properties": {
        "name": {
          "description": "Output only. The unique identifier of this training phrase.",
          "type": "string"
        },
        "parts": {
          "description": "Required. The ordered list of training phrase parts.\nThe parts are concatenated in order to form the training phrase.\n\nNote: The API does not automatically annotate training phrases like the\nDialogflow Console does.\n\nNote: Do not forget to include whitespace at part boundaries,\nso the training phrase is well formatted when the parts are concatenated.\n\nIf the training phrase does not need to be annotated with parameters,\nyou just need a single part with only the Part.text field set.\n\nIf you want to annotate the training phrase, you must create multiple\nparts, where the fields of each part are populated in one of two ways:\n\n-   `Part.text` is set to a part of the phrase that has no parameters.\n-   `Part.text` is set to a part of the phrase that you want to annotate,\n    and the `entity_type`, `alias`, and `user_defined` fields are all\n    set.",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentTrainingPhrasePart"
          },
          "type": "array"
        },
        "timesAddedCount": {
          "description": "Optional. Indicates how many times this example was added to\nthe intent. Each time a developer adds an existing sample by editing an\nintent or training, this counter is increased.",
          "format": "int32",
          "type": "integer"
        },
        "type": {
          "description": "Required. The type of the training phrase.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "EXAMPLE",
            "TEMPLATE"
          ],
          "enumDescriptions": [
            "Not specified. This value should never be used.",
            "Examples do not contain @-prefixed entity type names, but example parts\ncan be annotated with entity types.",
            "Templates are not annotated with entity types, but they can contain\n@-prefixed entity type names as substrings.\nTemplate mode has been deprecated. Example mode is the only supported\nway to create new training phrases. If you have existing training\nphrases that you've created in template mode, those will continue to\nwork."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentTrainingPhrasePart": {
      "description": "Represents a part of a training phrase.",
      "id": "GoogleCloudDialogflowV2IntentTrainingPhrasePart",
      "properties": {
        "alias": {
          "description": "Optional. The parameter name for the value extracted from the\nannotated part of the example.\nThis field is required for annotated parts of the training phrase.",
          "type": "string"
        },
        "entityType": {
          "description": "Optional. The entity type name prefixed with `@`.\nThis field is required for annotated parts of the training phrase.",
          "type": "string"
        },
        "text": {
          "description": "Required. The text for this part.",
          "type": "string"
        },
        "userDefined": {
          "description": "Optional. Indicates whether the text was manually annotated.\nThis field is set to true when the Dialogflow Console is used to\nmanually annotate the part. When creating an annotated part with the\nAPI, you must set this to true.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2Message": {
      "description": "Represents a message posted into a conversation.",
      "id": "GoogleCloudDialogflowV2Message",
      "properties": {
        "content": {
          "description": "Required. The message content.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time when the message was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "languageCode": {
          "description": "Optional. The message language.\nThis should be a [BCP-47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt)\nlanguage tag. Example: \"en-US\".",
          "type": "string"
        },
        "messageAnnotation": {
          "$ref": "GoogleCloudDialogflowV2MessageAnnotation",
          "description": "Output only. The annotation for the message."
        },
        "name": {
          "description": "The unique identifier of the message.\nFormat: `projects/<Project ID>/conversations/<Conversation\nID>/messages/<Message ID>`.",
          "type": "string"
        },
        "participant": {
          "description": "Output only. The participant that sends this message.",
          "type": "string"
        },
        "participantRole": {
          "description": "Output only. The role of the participant.",
          "enum": [
            "ROLE_UNSPECIFIED",
            "HUMAN_AGENT",
            "AUTOMATED_AGENT",
            "END_USER"
          ],
          "enumDescriptions": [
            "Participant role not set.",
            "Participant is a human agent.",
            "Participant is an automated agent, such as a Dialogflow agent.",
            "Participant is an end user that has called or chatted with\nDialogflow services."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2MessageAnnotation": {
      "description": "Represents the result of annotation for the message.",
      "id": "GoogleCloudDialogflowV2MessageAnnotation",
      "properties": {
        "containEntities": {
          "description": "Indicates whether the text message contains entities.",
          "type": "boolean"
        },
        "parts": {
          "description": "The collection of annotated message parts ordered by their\nposition in the message. You can recover the annotated message by\nconcatenating [AnnotatedMessagePart.text].",
          "items": {
            "$ref": "GoogleCloudDialogflowV2AnnotatedMessagePart"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2OriginalDetectIntentRequest": {
      "description": "Represents the contents of the original request that was passed to\nthe `[Streaming]DetectIntent` call.",
      "id": "GoogleCloudDialogflowV2OriginalDetectIntentRequest",
      "properties": {
        "payload": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Optional. This field is set to the value of the `QueryParameters.payload`\nfield passed in the request. Some integrations that query a Dialogflow\nagent may provide additional information in the payload.\n\nIn particular, for the Dialogflow Phone Gateway integration, this field has\nthe form:\n<pre>{\n \"telephony\": {\n   \"caller_id\": \"+18558363987\"\n }\n}</pre>\nNote: The caller ID field (`caller_id`) will be redacted for Standard\nEdition agents and populated with the caller ID in [E.164\nformat](https://en.wikipedia.org/wiki/E.164) for Enterprise Edition agents.",
          "type": "object"
        },
        "source": {
          "description": "The source of this request, e.g., `google`, `facebook`, `slack`. It is set\nby Dialogflow-owned servers.",
          "type": "string"
        },
        "version": {
          "description": "Optional. The version of the protocol used for this request.\nThis field is AoG-specific.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2QueryResult": {
      "description": "Represents the result of conversational query or event processing.",
      "id": "GoogleCloudDialogflowV2QueryResult",
      "properties": {
        "action": {
          "description": "The action name from the matched intent.",
          "type": "string"
        },
        "allRequiredParamsPresent": {
          "description": "This field is set to:\n\n- `false` if the matched intent has required parameters and not all of\n   the required parameter values have been collected.\n- `true` if all required parameter values have been collected, or if the\n   matched intent doesn't contain any required parameters.",
          "type": "boolean"
        },
        "diagnosticInfo": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Free-form diagnostic information for the associated detect intent request.\nThe fields of this data can change without notice, so you should not write\ncode that depends on its structure.\nThe data may contain:\n\n- webhook call latency\n- webhook errors",
          "type": "object"
        },
        "fulfillmentMessages": {
          "description": "The collection of rich messages to present to the user.",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessage"
          },
          "type": "array"
        },
        "fulfillmentText": {
          "description": "The text to be pronounced to the user or shown on the screen.\nNote: This is a legacy field, `fulfillment_messages` should be preferred.",
          "type": "string"
        },
        "intent": {
          "$ref": "GoogleCloudDialogflowV2Intent",
          "description": "The intent that matched the conversational query. Some, not\nall fields are filled in this message, including but not limited to:\n`name`, `display_name`, `end_interaction` and `is_fallback`."
        },
        "intentDetectionConfidence": {
          "description": "The intent detection confidence. Values range from 0.0\n(completely uncertain) to 1.0 (completely certain).\nThis value is for informational purpose only and is only used to\nhelp match the best intent within the classification threshold.\nThis value may change for the same end-user expression at any time due to a\nmodel retraining or change in implementation.\nIf there are `multiple knowledge_answers` messages, this value is set to\nthe greatest `knowledgeAnswers.match_confidence` value in the list.",
          "format": "float",
          "type": "number"
        },
        "languageCode": {
          "description": "The language that was triggered during intent detection.\nSee [Language\nSupport](https://cloud.google.com/dialogflow/docs/reference/language)\nfor a list of the currently supported language codes.",
          "type": "string"
        },
        "outputContexts": {
          "description": "The collection of output contexts. If applicable,\n`output_contexts.parameters` contains entries with name\n`<parameter name>.original` containing the original parameter values\nbefore the query.",
          "items": {
            "$ref": "GoogleCloudDialogflowV2Context"
          },
          "type": "array"
        },
        "parameters": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "The collection of extracted parameters.\n\nDepending on your protocol or client library language, this is a\nmap, associative array, symbol table, dictionary, or JSON object\ncomposed of a collection of (MapKey, MapValue) pairs:\n\n-   MapKey type: string\n-   MapKey value: parameter name\n-   MapValue type:\n    -   If parameter's entity type is a composite entity: map\n    -   Else: string or number, depending on parameter value type\n-   MapValue value:\n    -   If parameter's entity type is a composite entity:\n        map from composite entity property names to property values\n    -   Else: parameter value",
          "type": "object"
        },
        "queryText": {
          "description": "The original conversational query text:\n\n- If natural language text was provided as input, `query_text` contains\n  a copy of the input.\n- If natural language speech audio was provided as input, `query_text`\n  contains the speech recognition result. If speech recognizer produced\n  multiple alternatives, a particular one is picked.\n- If automatic spell correction is enabled, `query_text` will contain the\n  corrected user input.",
          "type": "string"
        },
        "sentimentAnalysisResult": {
          "$ref": "GoogleCloudDialogflowV2SentimentAnalysisResult",
          "description": "The sentiment analysis result, which depends on the\n`sentiment_analysis_request_config` specified in the request."
        },
        "speechRecognitionConfidence": {
          "description": "The Speech recognition confidence between 0.0 and 1.0. A higher number\nindicates an estimated greater likelihood that the recognized words are\ncorrect. The default of 0.0 is a sentinel value indicating that confidence\nwas not set.\n\nThis field is not guaranteed to be accurate or set. In particular this\nfield isn't set for StreamingDetectIntent since the streaming endpoint has\nseparate confidence estimates per portion of the audio in\nStreamingRecognitionResult.",
          "format": "float",
          "type": "number"
        },
        "webhookPayload": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "If the query was fulfilled by a webhook call, this field is set to the\nvalue of the `payload` field returned in the webhook response.",
          "type": "object"
        },
        "webhookSource": {
          "description": "If the query was fulfilled by a webhook call, this field is set to the\nvalue of the `source` field returned in the webhook response.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2Sentiment": {
      "description": "The sentiment, such as positive/negative feeling or association, for a unit\nof analysis, such as the query text.",
      "id": "GoogleCloudDialogflowV2Sentiment",
      "properties": {
        "magnitude": {
          "description": "A non-negative number in the [0, +inf) range, which represents the absolute\nmagnitude of sentiment, regardless of score (positive or negative).",
          "format": "float",
          "type": "number"
        },
        "score": {
          "description": "Sentiment score between -1.0 (negative sentiment) and 1.0 (positive\nsentiment).",
          "format": "float",
          "type": "number"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2SentimentAnalysisResult": {
      "description": "The result of sentiment analysis as configured by\n`sentiment_analysis_request_config`.",
      "id": "GoogleCloudDialogflowV2SentimentAnalysisResult",
      "properties": {
        "queryTextSentiment": {
          "$ref": "GoogleCloudDialogflowV2Sentiment",
          "description": "The sentiment analysis result for `query_text`."
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2SessionEntityType": {
      "description": "Represents a session entity type.\n\nExtends or replaces a custom entity type at the user session level (we\nrefer to the entity types defined at the agent level as \"custom entity\ntypes\").\n\nNote: session entity types apply to all queries, regardless of the language.",
      "id": "GoogleCloudDialogflowV2SessionEntityType",
      "properties": {
        "entities": {
          "description": "Required. The collection of entities associated with this session entity\ntype.",
          "items": {
            "$ref": "GoogleCloudDialogflowV2EntityTypeEntity"
          },
          "type": "array"
        },
        "entityOverrideMode": {
          "description": "Required. Indicates whether the additional data should override or\nsupplement the custom entity type definition.",
          "enum": [
            "ENTITY_OVERRIDE_MODE_UNSPECIFIED",
            "ENTITY_OVERRIDE_MODE_OVERRIDE",
            "ENTITY_OVERRIDE_MODE_SUPPLEMENT"
          ],
          "enumDescriptions": [
            "Not specified. This value should be never used.",
            "The collection of session entities overrides the collection of entities\nin the corresponding custom entity type.",
            "The collection of session entities extends the collection of entities in\nthe corresponding custom entity type.\n\nNote: Even in this override mode calls to `ListSessionEntityTypes`,\n`GetSessionEntityType`, `CreateSessionEntityType` and\n`UpdateSessionEntityType` only return the additional entities added in\nthis session entity type. If you want to get the supplemented list,\nplease call EntityTypes.GetEntityType on the custom entity type\nand merge."
          ],
          "type": "string"
        },
        "name": {
          "description": "Required. The unique identifier of this session entity type. Format:\n`projects/<Project ID>/agent/sessions/<Session ID>/entityTypes/<Entity Type\nDisplay Name>`, or `projects/<Project ID>/agent/environments/<Environment\nID>/users/<User ID>/sessions/<Session ID>/entityTypes/<Entity Type Display\nName>`.\nIf `Environment ID` is not specified, we assume default 'draft'\nenvironment. If `User ID` is not specified, we assume default '-' user.\n\n`<Entity Type Display Name>` must be the display name of an existing entity\ntype in the same agent that will be overridden or supplemented.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2WebhookRequest": {
      "description": "The request message for a webhook call.",
      "id": "GoogleCloudDialogflowV2WebhookRequest",
      "properties": {
        "originalDetectIntentRequest": {
          "$ref": "GoogleCloudDialogflowV2OriginalDetectIntentRequest",
          "description": "Optional. The contents of the original request that was passed to\n`[Streaming]DetectIntent` call."
        },
        "queryResult": {
          "$ref": "GoogleCloudDialogflowV2QueryResult",
          "description": "The result of the conversational query or event processing. Contains the\nsame value as `[Streaming]DetectIntentResponse.query_result`."
        },
        "responseId": {
          "description": "The unique identifier of the response. Contains the same value as\n`[Streaming]DetectIntentResponse.response_id`.",
          "type": "string"
        },
        "session": {
          "description": "The unique identifier of detectIntent request session.\nCan be used to identify end-user inside webhook implementation.\nFormat: `projects/<Project ID>/agent/sessions/<Session ID>`, or\n`projects/<Project ID>/agent/environments/<Environment ID>/users/<User\nID>/sessions/<Session ID>`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2WebhookResponse": {
      "description": "The response message for a webhook call.\n\nThis response is validated by the Dialogflow server. If validation fails,\nan error will be returned in the QueryResult.diagnostic_info field.\nSetting JSON fields to an empty value with the wrong type is a common error.\nTo avoid this error:\n\n- Use `\"\"` for empty strings\n- Use `{}` or `null` for empty objects\n- Use `[]` or `null` for empty arrays\n\nFor more information, see the\n[Protocol Buffers Language\nGuide](https://developers.google.com/protocol-buffers/docs/proto3#json).",
      "id": "GoogleCloudDialogflowV2WebhookResponse",
      "properties": {
        "followupEventInput": {
          "$ref": "GoogleCloudDialogflowV2EventInput",
          "description": "Optional. Invokes the supplied events.\nWhen this field is set, Dialogflow ignores the `fulfillment_text`,\n`fulfillment_messages`, and `payload` fields."
        },
        "fulfillmentMessages": {
          "description": "Optional. The rich response messages intended for the end-user.\nWhen provided, Dialogflow uses this field to populate\nQueryResult.fulfillment_messages sent to the integration or API caller.",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessage"
          },
          "type": "array"
        },
        "fulfillmentText": {
[...]
