{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/display-video": {
          "description": "Create, see, edit, and permanently delete your Display & Video 360 entities and reports"
        },
        "https://www.googleapis.com/auth/doubleclickbidmanager": {
          "description": "View and manage your reports in DoubleClick Bid Manager"
        }
      }
    }
  },
  "basePath": "",
  "baseUrl": "https://displayvideo.googleapis.com/",
  "batchPath": "batch",
  "canonicalName": "Display Video",
  "description": "Display & Video 360 API allows users to manage and create campaigns and reports.",
  "discoveryVersion": "v1",
  "documentationLink": "https://developers.google.com/display-video/",
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "id": "displayvideo:v1",
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://displayvideo.mtls.googleapis.com/",
  "name": "displayvideo",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "parameters": {
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "protocol": "rest",
  "resources": {
    "advertisers": {
      "methods": {
        "bulkEditAdvertiserAssignedTargetingOptions": {
          "description": "Bulk edits targeting options under a single advertiser.\nThe operation will delete the assigned targeting options provided in\nBulkEditAdvertiserAssignedTargetingOptionsRequest.delete_requests and\nthen create the assigned targeting options provided in\nBulkEditAdvertiserAssignedTargetingOptionsRequest.create_requests .",
          "flatPath": "v1/advertisers/{advertisersId}:bulkEditAdvertiserAssignedTargetingOptions",
          "httpMethod": "POST",
          "id": "displayvideo.advertisers.bulkEditAdvertiserAssignedTargetingOptions",
          "parameterOrder": [
            "advertiserId"
          ],
          "parameters": {
            "advertiserId": {
              "description": "Required. The ID of the advertiser.",
              "format": "int64",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "path": "v1/advertisers/{+advertiserId}:bulkEditAdvertiserAssignedTargetingOptions",
          "request": {
            "$ref": "BulkEditAdvertiserAssignedTargetingOptionsRequest"
          },
          "response": {
            "$ref": "BulkEditAdvertiserAssignedTargetingOptionsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ]
        },
        "bulkListAdvertiserAssignedTargetingOptions": {
          "description": "Lists assigned targeting options of an advertiser across targeting types.",
          "flatPath": "v1/advertisers/{advertisersId}:bulkListAdvertiserAssignedTargetingOptions",
          "httpMethod": "GET",
          "id": "displayvideo.advertisers.bulkListAdvertiserAssignedTargetingOptions",
          "parameterOrder": [
            "advertiserId"
          ],
          "parameters": {
            "advertiserId": {
              "description": "Required. The ID of the advertiser the line item belongs to.",
              "format": "int64",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string"
            },
            "filter": {
              "description": "Allows filtering by assigned targeting option properties.\nSupported syntax:\n\n* Filter expressions are made up of one or more restrictions.\n* Restrictions can be combined by the logical operator `OR`..\n* A restriction has the form of `{field} {operator} {value}`.\n* The operator must be `EQUALS (=)`.\n* Supported fields:\n    - `targetingType`\n\nExamples:\n\n* targetingType with value TARGETING_TYPE_CHANNEL\n`targetingType=\"TARGETING_TYPE_CHANNEL\"`\n\nThe length of this field should be no more than 500 characters.",
              "location": "query",
              "type": "string"
            },
            "orderBy": {
              "description": "Field by which to sort the list.\nAcceptable values are:\n\n* `targetingType` (default)\n\nThe default sorting order is ascending. To specify descending order for\na field, a suffix \"desc\" should be added to the field name. Example:\n`targetingType desc`.",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "description": "Requested page size.\nThe size must be an integer between `1` and `5000`. If unspecified,\nthe default is '5000'. Returns error code `INVALID_ARGUMENT` if an invalid\nvalue is specified.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "pageToken": {
              "description": "A token that lets the client fetch the next page of results.\nTypically, this is the value of\nnext_page_token\nreturned from the previous call to\n`BulkListAdvertiserAssignedTargetingOptions` method.\nIf not specified, the first page of results will be returned.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "v1/advertisers/{+advertiserId}:bulkListAdvertiserAssignedTargetingOptions",
          "response": {
            "$ref": "BulkListAdvertiserAssignedTargetingOptionsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ]
        },
        "create": {
          "description": "Creates a new advertiser.\nReturns the newly created advertiser if successful.\nThis method can take up to 180 seconds to complete.",
          "flatPath": "v1/advertisers",
          "httpMethod": "POST",
          "id": "displayvideo.advertisers.create",
          "parameterOrder": [],
          "parameters": {},
          "path": "v1/advertisers",
          "request": {
            "$ref": "Advertiser"
          },
          "response": {
            "$ref": "Advertiser"
          },
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ]
        },
        "delete": {
          "description": "Deletes an advertiser.\nDeleting an advertiser will delete all of its child resources, for example,\ncampaigns, insertion orders and line items.\nA deleted advertiser cannot be recovered.",
          "flatPath": "v1/advertisers/{advertisersId}",
          "httpMethod": "DELETE",
          "id": "displayvideo.advertisers.delete",
          "parameterOrder": [
            "advertiserId"
          ],
          "parameters": {
            "advertiserId": {
              "description": "The ID of the advertiser we need to delete.",
              "format": "int64",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "path": "v1/advertisers/{+advertiserId}",
          "response": {
            "$ref": "Empty"
          },
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ]
        },
        "get": {
          "description": "Gets an advertiser.",
          "flatPath": "v1/advertisers/{advertisersId}",
          "httpMethod": "GET",
          "id": "displayvideo.advertisers.get",
          "parameterOrder": [
            "advertiserId"
          ],
          "parameters": {
            "advertiserId": {
              "description": "Required. The ID of the advertiser to fetch.",
              "format": "int64",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "path": "v1/advertisers/{+advertiserId}",
          "response": {
            "$ref": "Advertiser"
          },
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ]
        },
        "list": {
          "description": "Lists advertisers that are accessible to the current user.\n\nThe order is defined by the order_by\nparameter.\n\nA single partner_id is required.\nCross-partner listing is not supported.",
          "flatPath": "v1/advertisers",
          "httpMethod": "GET",
          "id": "displayvideo.advertisers.list",
          "parameterOrder": [],
          "parameters": {
            "filter": {
              "description": "Allows filtering by advertiser properties.\n\nSupported syntax:\n\n* Filter expressions are made up of one or more restrictions.\n* Restrictions can be combined by `AND` or `OR` logical operators. A\nsequence of restrictions implicitly uses `AND`.\n* A restriction has the form of `{field} {operator} {value}`.\n* The operator must be `EQUALS (=)`.\n* Supported fields:\n    - `entityStatus`\n\nExamples:\n\n* All active advertisers under a partner:\n`entityStatus=\"ENTITY_STATUS_ACTIVE\"`\n\nThe length of this field should be no more than 500 characters.",
              "location": "query",
              "type": "string"
            },
            "orderBy": {
              "description": "Field by which to sort the list.\nAcceptable values are:\n\n* `displayName` (default)\n* `entityStatus`\n\nThe default sorting order is ascending. To specify descending order for\na field, a suffix \"desc\" should be added to the field name. For example,\n`displayName desc`.",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "description": "Requested page size. Must be between `1` and `100`. If unspecified will\ndefault to `100`.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "pageToken": {
              "description": "A token identifying a page of results the server should return.\nTypically, this is the value of\nnext_page_token\nreturned from the previous call to `ListAdvertisers` method.\nIf not specified, the first page of results will be returned.",
              "location": "query",
              "type": "string"
            },
            "partnerId": {
              "description": "Required. The ID of the partner that the fetched advertisers should all belong to.\nThe system only supports listing advertisers for one partner at a time.",
              "format": "int64",
              "location": "query",
              "type": "string"
            }
          },
          "path": "v1/advertisers",
          "response": {
            "$ref": "ListAdvertisersResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ]
        },
        "patch": {
          "description": "Updates an existing advertiser.\nReturns the updated advertiser if successful.",
          "flatPath": "v1/advertisers/{advertisersId}",
          "httpMethod": "PATCH",
          "id": "displayvideo.advertisers.patch",
          "parameterOrder": [
            "advertiserId"
          ],
          "parameters": {
            "advertiserId": {
              "description": "Output only. The unique ID of the advertiser. Assigned by the system.",
              "format": "int64",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string"
            },
            "updateMask": {
              "description": "Required. The mask to control which fields to update.",
              "format": "google-fieldmask",
              "location": "query",
              "type": "string"
            }
          },
          "path": "v1/advertisers/{+advertiserId}",
          "request": {
            "$ref": "Advertiser"
          },
          "response": {
            "$ref": "Advertiser"
          },
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ]
        }
      },
      "resources": {
        "assets": {
          "methods": {
            "upload": {
              "description": "Uploads an asset.\nReturns the ID of the newly uploaded asset if successful.\nThe asset file size should be no more than 10 MB for images, 200 MB for\nZIP files, and 1 GB for videos.",
              "flatPath": "v1/advertisers/{advertisersId}/assets",
              "httpMethod": "POST",
              "id": "displayvideo.advertisers.assets.upload",
              "mediaUpload": {
                "accept": [
                  "*/*"
                ],
                "protocols": {
                  "simple": {
                    "multipart": true,
                    "path": "/upload/v1/advertisers/{+advertiserId}/assets"
                  }
                }
              },
              "parameterOrder": [
                "advertiserId"
              ],
              "parameters": {
                "advertiserId": {
                  "description": "Required. The ID of the advertiser this asset belongs to.",
                  "format": "int64",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/advertisers/{+advertiserId}/assets",
              "request": {
                "$ref": "CreateAssetRequest"
              },
              "response": {
                "$ref": "CreateAssetResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "supportsMediaUpload": true
            }
          }
        },
        "campaigns": {
          "methods": {
            "create": {
              "description": "Creates a new campaign.\nReturns the newly created campaign if successful.",
              "flatPath": "v1/advertisers/{advertisersId}/campaigns",
              "httpMethod": "POST",
              "id": "displayvideo.advertisers.campaigns.create",
              "parameterOrder": [
                "advertiserId"
              ],
              "parameters": {
                "advertiserId": {
                  "description": "Output only. The unique ID of the advertiser the campaign belongs to.",
                  "format": "int64",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/advertisers/{+advertiserId}/campaigns",
              "request": {
                "$ref": "Campaign"
              },
              "response": {
                "$ref": "Campaign"
              },
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ]
            },
            "delete": {
              "description": "Permanently deletes a campaign. A deleted campaign cannot be recovered.\nThe campaign should be archived first, i.e. set\nentity_status to `ENTITY_STATUS_ARCHIVED`, to be\nable to delete it.",
              "flatPath": "v1/advertisers/{advertisersId}/campaigns/{campaignsId}",
              "httpMethod": "DELETE",
              "id": "displayvideo.advertisers.campaigns.delete",
              "parameterOrder": [
                "advertiserId",
                "campaignId"
              ],
              "parameters": {
                "advertiserId": {
                  "description": "The ID of the advertiser this campaign belongs to.",
                  "format": "int64",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "campaignId": {
                  "description": "The ID of the campaign we need to delete.",
                  "format": "int64",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/advertisers/{+advertiserId}/campaigns/{+campaignId}",
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ]
            },
            "get": {
              "description": "Gets a campaign.",
              "flatPath": "v1/advertisers/{advertisersId}/campaigns/{campaignsId}",
              "httpMethod": "GET",
              "id": "displayvideo.advertisers.campaigns.get",
              "parameterOrder": [
                "advertiserId",
                "campaignId"
              ],
              "parameters": {
                "advertiserId": {
                  "description": "Required. The ID of the advertiser this campaign belongs to.",
                  "format": "int64",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "campaignId": {
                  "description": "Required. The ID of the campaign to fetch.",
                  "format": "int64",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/advertisers/{+advertiserId}/campaigns/{+campaignId}",
              "response": {
                "$ref": "Campaign"
              },
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ]
            },
            "list": {
              "description": "Lists campaigns in an advertiser.\n\nThe order is defined by the order_by\nparameter.\nIf a filter by\nentity_status is not specified, campaigns with\n`ENTITY_STATUS_ARCHIVED` will not be included in the results.",
              "flatPath": "v1/advertisers/{advertisersId}/campaigns",
              "httpMethod": "GET",
              "id": "displayvideo.advertisers.campaigns.list",
              "parameterOrder": [
                "advertiserId"
              ],
              "parameters": {
                "advertiserId": {
                  "description": "The ID of the advertiser to list campaigns for.",
                  "format": "int64",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "filter": {
                  "description": "Allows filtering by campaign properties.\n\nSupported syntax:\n\n* Filter expressions are made up of one or more restrictions.\n* Restrictions can be combined by `AND` or `OR` logical operators. A\nsequence of restrictions implicitly uses `AND`.\n* A restriction has the form of `{field} {operator} {value}`.\n* The operator must be `EQUALS (=)`.\n* Supported fields:\n    - `entityStatus`\n\nExamples:\n\n* All `ENTITY_STATUS_ACTIVE` or `ENTITY_STATUS_PAUSED` campaigns under an\nadvertiser:\n`(entityStatus=\"ENTITY_STATUS_ACTIVE\" OR\nentityStatus=\"ENTITY_STATUS_PAUSED\")`\n\nThe length of this field should be no more than 500 characters.",
                  "location": "query",
                  "type": "string"
                },
                "orderBy": {
                  "description": "Field by which to sort the list.\nAcceptable values are:\n\n* `displayName` (default)\n* `entityStatus`\n\nThe default sorting order is ascending. To specify descending order for\na field, a suffix \"desc\" should be added to the field name. Example:\n`displayName desc`.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Requested page size. Must be between `1` and `100`. If unspecified will\ndefault to `100`.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "A token identifying a page of results the server should return.\nTypically, this is the value of\nnext_page_token returned from the\nprevious call to `ListCampaigns` method. If not specified, the first page\nof results will be returned.",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v1/advertisers/{+advertiserId}/campaigns",
              "response": {
                "$ref": "ListCampaignsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ]
            },
            "patch": {
              "description": "Updates an existing campaign.\nReturns the updated campaign if successful.",
              "flatPath": "v1/advertisers/{advertisersId}/campaigns/{campaignsId}",
              "httpMethod": "PATCH",
              "id": "displayvideo.advertisers.campaigns.patch",
              "parameterOrder": [
                "advertiserId",
                "campaignId"
              ],
              "parameters": {
                "advertiserId": {
                  "description": "Output only. The unique ID of the advertiser the campaign belongs to.",
                  "format": "int64",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "campaignId": {
                  "description": "Output only. The unique ID of the campaign. Assigned by the system.",
                  "format": "int64",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "updateMask": {
                  "description": "Required. The mask to control which fields to update.",
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v1/advertisers/{+advertiserId}/campaigns/{+campaignId}",
              "request": {
                "$ref": "Campaign"
              },
              "response": {
                "$ref": "Campaign"
              },
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ]
            }
          }
        },
        "channels": {
          "methods": {
            "get": {
              "description": "Updates an existing inventory source.\nReturns the updated inventory source if successful.\nGets a channel for a partner or advertiser.",
              "flatPath": "v1/advertisers/{advertisersId}/channels/{channelsId}",
              "httpMethod": "GET",
              "id": "displayvideo.advertisers.channels.get",
              "parameterOrder": [
                "advertiserId",
                "channelId"
              ],
              "parameters": {
                "advertiserId": {
                  "description": "The ID of the advertiser that owns the fetched channel.",
                  "format": "int64",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "channelId": {
                  "description": "Required. The ID of the channel to fetch.",
                  "format": "int64",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "partnerId": {
                  "description": "The ID of the partner that owns the fetched channel.",
                  "format": "int64",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v1/advertisers/{+advertiserId}/channels/{+channelId}",
              "response": {
                "$ref": "Channel"
              },
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ]
            },
            "list": {
              "description": "Lists channels for a partner or advertiser.",
              "flatPath": "v1/advertisers/{advertisersId}/channels",
              "httpMethod": "GET",
              "id": "displayvideo.advertisers.channels.list",
              "parameterOrder": [
                "advertiserId"
              ],
              "parameters": {
                "advertiserId": {
                  "description": "The ID of the advertiser that owns the channels.",
                  "format": "int64",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "filter": {
                  "description": "Allows filtering by channel fields.\n\nSupported syntax:\n\n* Filter expressions for channel currently can only contain at most one\n* restriction.\n* A restriction has the form of `{field} {operator} {value}`.\n* The operator must be `CONTAINS (:)`.\n* Supported fields:\n    - `displayName`\n\nExamples:\n\n* All channels for which the display name contains \"google\":\n`displayName : \"google\"`.\n\nThe length of this field should be no more than 500 characters.",
                  "location": "query",
                  "type": "string"
                },
                "orderBy": {
                  "description": "Field by which to sort the list.\nAcceptable values are:\n\n* `displayName` (default)\n* `channelId`\n\nThe default sorting order is ascending. To specify descending order for a\nfield, a suffix \" desc\" should be added to the field name. Example:\n`displayName desc`.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Requested page size. Must be between `1` and `100`. If unspecified will\ndefault to `100`. Returns error code `INVALID_ARGUMENT` if an invalid value\nis specified.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "A token identifying a page of results the server should return.\nTypically, this is the value of\nnext_page_token returned from the\nprevious call to `ListChannels` method. If not specified, the first page\nof results will be returned.",
                  "location": "query",
                  "type": "string"
                },
                "partnerId": {
                  "description": "The ID of the partner that owns the channels.",
                  "format": "int64",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v1/advertisers/{+advertiserId}/channels",
              "response": {
                "$ref": "ListChannelsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ]
            },
            "patch": {
              "description": "Updates a channel. Returns the updated channel if successful.",
              "flatPath": "v1/advertisers/{advertisersId}/channels/{channelId}",
              "httpMethod": "PATCH",
              "id": "displayvideo.advertisers.channels.patch",
              "parameterOrder": [
                "advertiserId",
                "channelId"
              ],
              "parameters": {
                "advertiserId": {
                  "description": "The ID of the advertiser that owns the created channel.",
                  "format": "int64",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "channelId": {
                  "description": "Output only. The unique ID of the channel. Assigned by the system.",
                  "format": "int64",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "partnerId": {
                  "description": "The ID of the partner that owns the created channel.",
                  "format": "int64",
                  "location": "query",
                  "type": "string"
                },
                "updateMask": {
                  "description": "Required. The mask to control which fields to update.",
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v1/advertisers/{+advertiserId}/channels/{channelId}",
              "request": {
                "$ref": "Channel"
              },
              "response": {
                "$ref": "Channel"
              },
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ]
            }
          },
          "resources": {
            "sites": {
              "methods": {
                "bulkEdit": {
                  "description": "Bulk edits sites under a single channel.\n\nThe operation will delete the sites provided in\nBulkEditSitesRequest.deleted_sites and then create the sites\nprovided in BulkEditSitesRequest.created_sites.",
                  "flatPath": "v1/advertisers/{advertiserId}/channels/{channelsId}/sites:bulkEdit",
                  "httpMethod": "POST",
                  "id": "displayvideo.advertisers.channels.sites.bulkEdit",
                  "parameterOrder": [
                    "advertiserId",
                    "channelId"
                  ],
                  "parameters": {
                    "advertiserId": {
                      "description": "The ID of the advertiser that owns the parent channel.",
                      "format": "int64",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "channelId": {
                      "description": "Required. The ID of the parent channel to which the sites belong.",
                      "format": "int64",
                      "location": "path",
                      "pattern": "^[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/advertisers/{advertiserId}/channels/{+channelId}/sites:bulkEdit",
                  "request": {
                    "$ref": "BulkEditSitesRequest"
                  },
                  "response": {
                    "$ref": "BulkEditSitesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/display-video"
                  ]
                },
                "create": {
                  "description": "Creates a site in a channel.",
                  "flatPath": "v1/advertisers/{advertiserId}/channels/{channelsId}/sites",
                  "httpMethod": "POST",
                  "id": "displayvideo.advertisers.channels.sites.create",
                  "parameterOrder": [
                    "advertiserId",
                    "channelId"
                  ],
                  "parameters": {
                    "advertiserId": {
                      "description": "The ID of the advertiser that owns the parent channel.",
                      "format": "int64",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "channelId": {
                      "description": "Required. The ID of the parent channel in which the site will be created.",
                      "format": "int64",
                      "location": "path",
                      "pattern": "^[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "partnerId": {
                      "description": "The ID of the partner that owns the parent channel.",
                      "format": "int64",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v1/advertisers/{advertiserId}/channels/{+channelId}/sites",
                  "request": {
                    "$ref": "Site"
                  },
                  "response": {
                    "$ref": "Site"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/display-video"
                  ]
                },
                "delete": {
                  "description": "Deletes a site from a channel.",
                  "flatPath": "v1/advertisers/{advertiserId}/channels/{channelsId}/sites/{sitesId}",
                  "httpMethod": "DELETE",
                  "id": "displayvideo.advertisers.channels.sites.delete",
                  "parameterOrder": [
                    "advertiserId",
                    "channelId",
                    "urlOrAppId"
                  ],
                  "parameters": {
                    "advertiserId": {
                      "description": "The ID of the advertiser that owns the parent channel.",
                      "format": "int64",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "channelId": {
                      "description": "Required. The ID of the parent channel to which the site belongs.",
                      "format": "int64",
                      "location": "path",
                      "pattern": "^[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "partnerId": {
                      "description": "The ID of the partner that owns the parent channel.",
                      "format": "int64",
                      "location": "query",
                      "type": "string"
                    },
                    "urlOrAppId": {
                      "description": "Required. The URL or app ID of the site to delete.",
                      "location": "path",
                      "pattern": "^[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/advertisers/{advertiserId}/channels/{+channelId}/sites/{+urlOrAppId}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/display-video"
                  ]
                },
                "list": {
                  "description": "Lists sites in a channel.",
                  "flatPath": "v1/advertisers/{advertisersId}/channels/{channelsId}/sites",
                  "httpMethod": "GET",
                  "id": "displayvideo.advertisers.channels.sites.list",
                  "parameterOrder": [
                    "advertiserId",
                    "channelId"
                  ],
                  "parameters": {
                    "advertiserId": {
                      "description": "The ID of the advertiser that owns the parent channel.",
                      "format": "int64",
                      "location": "path",
                      "pattern": "^[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "channelId": {
                      "description": "Required. The ID of the parent channel to which the requested sites belong.",
                      "format": "int64",
                      "location": "path",
                      "pattern": "^[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "filter": {
                      "description": "Allows filtering by site fields.\n\nSupported syntax:\n\n* Filter expressions for site currently can only contain at most one\n* restriction.\n* A restriction has the form of `{field} {operator} {value}`.\n* The operator must be `CONTAINS (:)`.\n* Supported fields:\n    - `urlOrAppId`\n\nExamples:\n\n* All sites for which the URL or app ID contains \"google\":\n`urlOrAppId : \"google\"`",
                      "location": "query",
                      "type": "string"
                    },
                    "orderBy": {
                      "description": "Field by which to sort the list.\nAcceptable values are:\n\n* `urlOrAppId` (default)\n\nThe default sorting order is ascending. To specify descending order for a\nfield, a suffix \" desc\" should be added to the field name. Example:\n`urlOrAppId desc`.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Requested page size. Must be between `1` and `100`. If unspecified will\ndefault to `100`. Returns error code `INVALID_ARGUMENT` if an invalid value\nis specified.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "description": "A token identifying a page of results the server should return.\n\nTypically, this is the value of\nnext_page_token returned from the\nprevious call to `ListSites` method. If not specified, the first page\nof results will be returned.",
                      "location": "query",
                      "type": "string"
                    },
                    "partnerId": {
                      "description": "The ID of the partner that owns the parent channel.",
                      "format": "int64",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v1/advertisers/{+advertiserId}/channels/{+channelId}/sites",
                  "response": {
                    "$ref": "ListSitesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/display-video"
                  ]
                }
              }
            }
          }
        },
        "creatives": {
          "methods": {
            "create": {
              "description": "Creates a new creative.\nReturns the newly created creative if successful.",
              "flatPath": "v1/advertisers/{advertisersId}/creatives",
              "httpMethod": "POST",
              "id": "displayvideo.advertisers.creatives.create",
              "parameterOrder": [
                "advertiserId"
              ],
              "parameters": {
                "advertiserId": {
                  "description": "Output only. The unique ID of the advertiser the creative belongs to.",
                  "format": "int64",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/advertisers/{+advertiserId}/creatives",
              "request": {
                "$ref": "Creative"
              },
              "response": {
                "$ref": "Creative"
              },
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ]
            },
            "delete": {
              "description": "Deletes a creative.\nReturns error code `NOT_FOUND` if the creative does not exist.\nThe creative should be archived first, i.e. set\nentity_status to `ENTITY_STATUS_ARCHIVED`, before\nit can be deleted.",
              "flatPath": "v1/advertisers/{advertisersId}/creatives/{creativesId}",
              "httpMethod": "DELETE",
              "id": "displayvideo.advertisers.creatives.delete",
              "parameterOrder": [
                "advertiserId",
                "creativeId"
              ],
              "parameters": {
                "advertiserId": {
                  "description": "The ID of the advertiser this creative belongs to.",
                  "format": "int64",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "creativeId": {
                  "description": "The ID of the creative to be deleted.",
                  "format": "int64",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/advertisers/{+advertiserId}/creatives/{+creativeId}",
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ]
            },
            "get": {
              "description": "Gets a creative.",
              "flatPath": "v1/advertisers/{advertisersId}/creatives/{creativesId}",
              "httpMethod": "GET",
              "id": "displayvideo.advertisers.creatives.get",
              "parameterOrder": [
                "advertiserId",
                "creativeId"
              ],
              "parameters": {
                "advertiserId": {
                  "description": "Required. The ID of the advertiser this creative belongs to.",
                  "format": "int64",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "creativeId": {
                  "description": "Required. The ID of the creative to fetch.",
                  "format": "int64",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/advertisers/{+advertiserId}/creatives/{+creativeId}",
              "response": {
                "$ref": "Creative"
              },
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ]
            },
            "list": {
              "description": "Lists creatives in an advertiser.\n\nThe order is defined by the order_by\nparameter.\nIf a filter by\nentity_status is not specified, creatives with\n`ENTITY_STATUS_ARCHIVED` will not be included in the results.",
              "flatPath": "v1/advertisers/{advertisersId}/creatives",
              "httpMethod": "GET",
              "id": "displayvideo.advertisers.creatives.list",
              "parameterOrder": [
                "advertiserId"
              ],
              "parameters": {
                "advertiserId": {
                  "description": "Required. The ID of the advertiser to list creatives for.",
                  "format": "int64",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "filter": {
                  "description": "Allows filtering by creative properties.\n\nSupported syntax:\n\n* Filter expressions are made up of one or more restrictions.\n* Restriction for the same field must be combined by `OR`.\n* Restriction for different fields must be combined by `AND`.\n* Between `(` and `)` there can only be restrictions combined by `OR`\nfor the same field.\n* A restriction has the form of `{field} {operator} {value}`.\n* The operator must be `EQUALS (=)` for the following fields:\n    - `entityStatus`\n    - `creativeType`.\n    - `dimensions`\n    - `minDuration`\n    - `maxDuration`\n    - `approvalStatus`\n    - `exchangeReviewStatus`\n    - `dynamic`\n* The operator must be `HAS (:)` for the following fields:\n    - `lineItemIds`\n* For `entityStatus`, `minDuration`, `maxDuration`, and `dynamic` there may\nbe at most one restriction.\n* For `dimensions`, the value is in the form of `\"{width}x{height}\"`.\n* For `exchangeReviewStatus`, the value is in the form of\n`{exchange}-{reviewStatus}`.\n* For `minDuration` and `maxDuration`, the value is in the form of\n`\"{duration}s\"`. Only seconds are supported with millisecond granularity.\n* There may be multiple `lineItemIds` restrictions in order to search\nagainst multiple possible line item IDs.\n\nExamples:\n\n* All native creatives: `creativeType=\"CREATIVE_TYPE_NATIVE\"`\n* All active creatives with 300x400 or 50x100 dimensions:\n`entityStatus=\"ENTITY_STATUS_ACTIVE\" AND (dimensions=\"300x400\"\nOR dimensions=\"50x100\")`\n* All dynamic creatives that are approved by AdX or\nAppNexus, with a minimum duration of 5 seconds and 200ms.\n`dynamic=\"true\" AND minDuration=\"5.2s\" AND\n(exchangeReviewStatus=\"EXCHANGE_GOOGLE_AD_MANAGER-REVIEW_STATUS_APPROVED\"\nOR exchangeReviewStatus=\"EXCHANGE_APPNEXUS-REVIEW_STATUS_APPROVED\")`\n* All video creatives that are associated with line item ID 1 or 2:\ncreativeType=\"CREATIVE_TYPE_VIDEO\" AND (lineItemIds:1 OR lineItemIds:2)\n\nThe length of this field should be no more than 500 characters.",
                  "location": "query",
                  "type": "string"
                },
                "orderBy": {
                  "description": "Field by which to sort the list.\nAcceptable values are:\n\n* `creativeId` (default)\n* `createTime`\n* `mediaDuration`\n* `dimensions` (sorts by width first, then by height)\n\nThe default sorting order is ascending. To specify descending order for\na field, a suffix \"desc\" should be added to the field name.\nExample: `createTime desc`.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Requested page size. Must be between `1` and `100`. If unspecified will\ndefault to `100`. Returns error code `INVALID_ARGUMENT` if an invalid value\nis specified.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "A token identifying a page of results the server should return.\nTypically, this is the value of\nnext_page_token\nreturned from the previous call to `ListCreatives` method.\nIf not specified, the first page of results will be returned.",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v1/advertisers/{+advertiserId}/creatives",
              "response": {
                "$ref": "ListCreativesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ]
            },
            "patch": {
              "description": "Updates an existing creative.\nReturns the updated creative if successful.",
              "flatPath": "v1/advertisers/{advertisersId}/creatives/{creativesId}",
              "httpMethod": "PATCH",
              "id": "displayvideo.advertisers.creatives.patch",
              "parameterOrder": [
                "advertiserId",
                "creativeId"
              ],
              "parameters": {
                "advertiserId": {
                  "description": "Output only. The unique ID of the advertiser the creative belongs to.",
                  "format": "int64",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "creativeId": {
                  "description": "Output only. The unique ID of the creative. Assigned by the system.",
                  "format": "int64",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "updateMask": {
                  "description": "Required. The mask to control which fields to update.",
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v1/advertisers/{+advertiserId}/creatives/{+creativeId}",
              "request": {
                "$ref": "Creative"
              },
              "response": {
                "$ref": "Creative"
              },
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ]
            }
          }
        },
        "insertionOrders": {
          "methods": {
            "create": {
              "description": "Creates a new insertion order.\nReturns the newly created insertion order if successful.",
              "flatPath": "v1/advertisers/{advertisersId}/insertionOrders",
              "httpMethod": "POST",
              "id": "displayvideo.advertisers.insertionOrders.create",
              "parameterOrder": [
                "advertiserId"
              ],
              "parameters": {
                "advertiserId": {
                  "description": "Output only. The unique ID of the advertiser the insertion order belongs to.",
                  "format": "int64",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/advertisers/{+advertiserId}/insertionOrders",
              "request": {
                "$ref": "InsertionOrder"
              },
              "response": {
                "$ref": "InsertionOrder"
              },
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ]
            },
            "delete": {
              "description": "Deletes an insertion order.\nReturns error code `NOT_FOUND` if the insertion order does not exist.\nThe insertion order should be archived first, i.e. set\nentity_status to `ENTITY_STATUS_ARCHIVED`,\nto be able to delete it.",
              "flatPath": "v1/advertisers/{advertisersId}/insertionOrders/{insertionOrdersId}",
              "httpMethod": "DELETE",
              "id": "displayvideo.advertisers.insertionOrders.delete",
              "parameterOrder": [
                "advertiserId",
                "insertionOrderId"
              ],
              "parameters": {
                "advertiserId": {
                  "description": "The ID of the advertiser this insertion order belongs to.",
                  "format": "int64",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "insertionOrderId": {
                  "description": "The ID of the insertion order we need to delete.",
                  "format": "int64",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/advertisers/{+advertiserId}/insertionOrders/{+insertionOrderId}",
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ]
            },
            "get": {
              "description": "Gets an insertion order.\nReturns error code `NOT_FOUND` if the insertion order does not exist.",
              "flatPath": "v1/advertisers/{advertisersId}/insertionOrders/{insertionOrdersId}",
              "httpMethod": "GET",
              "id": "displayvideo.advertisers.insertionOrders.get",
              "parameterOrder": [
                "advertiserId",
                "insertionOrderId"
              ],
              "parameters": {
                "advertiserId": {
                  "description": "Required. The ID of the advertiser this insertion order belongs to.",
                  "format": "int64",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "insertionOrderId": {
                  "description": "Required. The ID of the insertion order to fetch.",
                  "format": "int64",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/advertisers/{+advertiserId}/insertionOrders/{+insertionOrderId}",
              "response": {
                "$ref": "InsertionOrder"
              },
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ]
            },
            "list": {
              "description": "Lists insertion orders in an advertiser.\n\nThe order is defined by the order_by\nparameter.\nIf a filter by\nentity_status is not specified, insertion\norders with `ENTITY_STATUS_ARCHIVED` will not be included in the results.",
              "flatPath": "v1/advertisers/{advertisersId}/insertionOrders",
              "httpMethod": "GET",
              "id": "displayvideo.advertisers.insertionOrders.list",
              "parameterOrder": [
                "advertiserId"
              ],
              "parameters": {
                "advertiserId": {
                  "description": "Required. The ID of the advertiser to list insertion orders for.",
                  "format": "int64",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "filter": {
                  "description": "Allows filtering by insertion order properties.\n\nSupported syntax:\n\n* Filter expressions are made up of one or more restrictions.\n* Restrictions can be combined by `AND` or `OR` logical operators. A\nsequence of restrictions implicitly uses `AND`.\n* A restriction has the form of `{field} {operator} {value}`.\n* The operator must be `EQUALS (=)`.\n* Supported fields:\n    - `campaignId`\n    - `entityStatus`\n\nExamples:\n\n* All insertion orders under a campaign: `campaignId=\"1234\"`\n* All `ENTITY_STATUS_ACTIVE` or `ENTITY_STATUS_PAUSED` insertion orders\nunder an advertiser:\n`(entityStatus=\"ENTITY_STATUS_ACTIVE\" OR\nentityStatus=\"ENTITY_STATUS_PAUSED\")`\n\nThe length of this field should be no more than 500 characters.",
                  "location": "query",
                  "type": "string"
                },
                "orderBy": {
                  "description": "Field by which to sort the list.\nAcceptable values are:\n\n* \"displayName\" (default)\n* \"entityStatus\"\n\nThe default sorting order is ascending. To specify descending order for\na field, a suffix \"desc\" should be added to the field name. Example:\n`displayName desc`.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Requested page size. Must be between `1` and `100`. If unspecified will\ndefault to `100`. Returns error code `INVALID_ARGUMENT` if an invalid value\nis specified.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "A token identifying a page of results the server should return.\nTypically, this is the value of\nnext_page_token returned\nfrom the previous call to `ListInsertionOrders` method. If not specified,\nthe first page of results will be returned.",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v1/advertisers/{+advertiserId}/insertionOrders",
              "response": {
                "$ref": "ListInsertionOrdersResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ]
            },
            "patch": {
              "description": "Updates an existing insertion order.\nReturns the updated insertion order if successful.",
              "flatPath": "v1/advertisers/{advertisersId}/insertionOrders/{insertionOrdersId}",
              "httpMethod": "PATCH",
              "id": "displayvideo.advertisers.insertionOrders.patch",
              "parameterOrder": [
                "advertiserId",
                "insertionOrderId"
              ],
              "parameters": {
                "advertiserId": {
                  "description": "Output only. The unique ID of the advertiser the insertion order belongs to.",
                  "format": "int64",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "insertionOrderId": {
                  "description": "Output only. The unique ID of the insertion order. Assigned by the system.",
                  "format": "int64",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "updateMask": {
                  "description": "Required. The mask to control which fields to update.",
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v1/advertisers/{+advertiserId}/insertionOrders/{+insertionOrderId}",
              "request": {
                "$ref": "InsertionOrder"
              },
              "response": {
                "$ref": "InsertionOrder"
              },
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ]
            }
          }
        },
        "lineItems": {
          "methods": {
            "bulkEditLineItemAssignedTargetingOptions": {
              "description": "Bulk edits targeting options under a single line item.\nThe operation will delete the assigned targeting options provided in\nBulkEditLineItemAssignedTargetingOptionsRequest.delete_requests and\nthen create the assigned targeting options provided in\nBulkEditLineItemAssignedTargetingOptionsRequest.create_requests .",
              "flatPath": "v1/advertisers/{advertisersId}/lineItems/{lineItemsId}:bulkEditLineItemAssignedTargetingOptions",
              "httpMethod": "POST",
              "id": "displayvideo.advertisers.lineItems.bulkEditLineItemAssignedTargetingOptions",
              "parameterOrder": [
                "advertiserId",
                "lineItemId"
              ],
              "parameters": {
                "advertiserId": {
                  "description": "Required. The ID of the advertiser the line item belongs to.",
                  "format": "int64",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "lineItemId": {
                  "description": "Required. The ID of the line item the assigned targeting option will belong to.",
                  "format": "int64",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/advertisers/{+advertiserId}/lineItems/{+lineItemId}:bulkEditLineItemAssignedTargetingOptions",
              "request": {
                "$ref": "BulkEditLineItemAssignedTargetingOptionsRequest"
              },
              "response": {
                "$ref": "BulkEditLineItemAssignedTargetingOptionsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ]
            },
            "bulkListLineItemAssignedTargetingOptions": {
              "description": "Lists assigned targeting options of a line item across targeting types.",
              "flatPath": "v1/advertisers/{advertisersId}/lineItems/{lineItemsId}:bulkListLineItemAssignedTargetingOptions",
              "httpMethod": "GET",
              "id": "displayvideo.advertisers.lineItems.bulkListLineItemAssignedTargetingOptions",
              "parameterOrder": [
                "advertiserId",
                "lineItemId"
              ],
              "parameters": {
                "advertiserId": {
                  "description": "Required. The ID of the advertiser the line item belongs to.",
                  "format": "int64",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "filter": {
                  "description": "Allows filtering by assigned targeting option properties.\nSupported syntax:\n\n* Filter expressions are made up of one or more restrictions.\n* Restrictions can be combined by the logical operator `OR` on the same\nfield.\n* A restriction has the form of `{field} {operator} {value}`.\n* The operator must be `EQUALS (=)`.\n* Supported fields:\n    - `targetingType`\n    - `inheritance`\n\nExamples:\n\n* AssignedTargetingOptions of targeting type\nTARGETING_TYPE_PROXIMITY_LOCATION_LIST or TARGETING_TYPE_CHANNEL\n`targetingType=\"TARGETING_TYPE_PROXIMITY_LOCATION_LIST\" OR\ntargetingType=\"TARGETING_TYPE_CHANNEL\"`\n* AssignedTargetingOptions with inheritance status of NOT_INHERITED or\n  INHERITED_FROM_PARTNER\n`inheritance=\"NOT_INHERITED\" OR inheritance=\"INHERITED_FROM_PARTNER\"`\n\nThe length of this field should be no more than 500 characters.",
                  "location": "query",
                  "type": "string"
                },
                "lineItemId": {
                  "description": "Required. The ID of the line item to list assigned targeting options for.",
                  "format": "int64",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "orderBy": {
                  "description": "Field by which to sort the list.\nAcceptable values are:\n\n* `targetingType` (default)\n\nThe default sorting order is ascending. To specify descending order for\na field, a suffix \"desc\" should be added to the field name. Example:\n`targetingType desc`.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Requested page size.\nThe size must be an integer between `1` and `5000`. If unspecified,\nthe default is '5000'. Returns error code `INVALID_ARGUMENT` if an invalid\nvalue is specified.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "A token that lets the client fetch the next page of results.\nTypically, this is the value of\nnext_page_token\nreturned from the previous call to\n`BulkListLineItemAssignedTargetingOptions` method.\nIf not specified, the first page of results will be returned.",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v1/advertisers/{+advertiserId}/lineItems/{+lineItemId}:bulkListLineItemAssignedTargetingOptions",
              "response": {
                "$ref": "BulkListLineItemAssignedTargetingOptionsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ]
            },
            "create": {
              "description": "Creates a new line item.\nReturns the newly created line item if successful.",
              "flatPath": "v1/advertisers/{advertisersId}/lineItems",
              "httpMethod": "POST",
              "id": "displayvideo.advertisers.lineItems.create",
              "parameterOrder": [
                "advertiserId"
              ],
              "parameters": {
                "advertiserId": {
                  "description": "Output only. The unique ID of the advertiser the line item belongs to.",
                  "format": "int64",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/advertisers/{+advertiserId}/lineItems",
              "request": {
                "$ref": "LineItem"
              },
              "response": {
                "$ref": "LineItem"
              },
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ]
            },
            "delete": {
              "description": "Deletes a line item.\nReturns error code `NOT_FOUND` if the line item does not exist.\nThe line item should be archived first, i.e. set\nentity_status to `ENTITY_STATUS_ARCHIVED`, to be\nable to delete it.",
              "flatPath": "v1/advertisers/{advertisersId}/lineItems/{lineItemsId}",
              "httpMethod": "DELETE",
              "id": "displayvideo.advertisers.lineItems.delete",
              "parameterOrder": [
                "advertiserId",
                "lineItemId"
              ],
              "parameters": {
                "advertiserId": {
                  "description": "The ID of the advertiser this line item belongs to.",
                  "format": "int64",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "lineItemId": {
                  "description": "The ID of the line item we need to fetch.",
                  "format": "int64",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/advertisers/{+advertiserId}/lineItems/{+lineItemId}",
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ]
            },
            "get": {
              "description": "Gets a line item.",
              "flatPath": "v1/advertisers/{advertisersId}/lineItems/{lineItemsId}",
              "httpMethod": "GET",
              "id": "displayvideo.advertisers.lineItems.get",
              "parameterOrder": [
                "advertiserId",
                "lineItemId"
              ],
              "parameters": {
                "advertiserId": {
                  "description": "Required. The ID of the advertiser this line item belongs to.",
                  "format": "int64",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "lineItemId": {
                  "description": "Required. The ID of the line item to fetch.",
                  "format": "int64",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/advertisers/{+advertiserId}/lineItems/{+lineItemId}",
              "response": {
                "$ref": "LineItem"
              },
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ]
            },
            "list": {
              "description": "Lists line items in an advertiser.\n\nThe order is defined by the order_by\nparameter.\nIf a filter by\nentity_status is not specified, line items with\n`ENTITY_STATUS_ARCHIVED` will not be included in the results.",
              "flatPath": "v1/advertisers/{advertisersId}/lineItems",
              "httpMethod": "GET",
              "id": "displayvideo.advertisers.lineItems.list",
              "parameterOrder": [
                "advertiserId"
              ],
              "parameters": {
                "advertiserId": {
                  "description": "Required. The ID of the advertiser to list line items for.",
                  "format": "int64",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "filter": {
                  "description": "Allows filtering by line item properties.\n\nSupported syntax:\n\n* Filter expressions are made up of one or more restrictions.\n* Restrictions can be combined by `AND` or `OR` logical operators. A\nsequence of restrictions implicitly uses `AND`.\n* A restriction has the form of `{field} {operator} {value}`.\n* The operator must be `EQUALS (=)`.\n* Supported fields:\n    - `campaignId`\n    - `insertionOrderId`\n    - `entityStatus`\n    - `lineItemType`.\n\nExamples:\n\n* All line items under an insertion order: `insertionOrderId=\"1234\"`\n* All `ENTITY_STATUS_ACTIVE` or `ENTITY_STATUS_PAUSED`\nand `LINE_ITEM_TYPE_DISPLAY_DEFAULT` line items under an advertiser:\n`(entityStatus=\"ENTITY_STATUS_ACTIVE\" OR\nentityStatus=\"ENTITY_STATUS_PAUSED\") AND\nlineItemType=\"LINE_ITEM_TYPE_DISPLAY_DEFAULT\"`\n\nThe length of this field should be no more than 500 characters.",
                  "location": "query",
                  "type": "string"
                },
                "orderBy": {
                  "description": "Field by which to sort the list.\nAcceptable values are:\n\n* \"displayName\" (default)\n* \"entityStatus\"\n\nThe default sorting order is ascending. To specify descending order for\na field, a suffix \"desc\" should be added to the field name. Example:\n`displayName desc`.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Requested page size. Must be between `1` and `100`. If unspecified will\ndefault to `100`. Returns error code `INVALID_ARGUMENT` if an invalid value\nis specified.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "A token identifying a page of results the server should return.\nTypically, this is the value of\nnext_page_token\nreturned from the previous call to `ListLineItems` method.\nIf not specified, the first page of results will be returned.",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v1/advertisers/{+advertiserId}/lineItems",
              "response": {
                "$ref": "ListLineItemsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ]
            },
            "patch": {
              "description": "Updates an existing line item.\nReturns the updated line item if successful.",
              "flatPath": "v1/advertisers/{advertisersId}/lineItems/{lineItemsId}",
              "httpMethod": "PATCH",
              "id": "displayvideo.advertisers.lineItems.patch",
              "parameterOrder": [
                "advertiserId",
                "lineItemId"
              ],
              "parameters": {
                "advertiserId": {
                  "description": "Output only. The unique ID of the advertiser the line item belongs to.",
                  "format": "int64",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "lineItemId": {
                  "description": "Output only. The unique ID of the line item. Assigned by the system.",
                  "format": "int64",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "updateMask": {
                  "description": "Required. The mask to control which fields to update.",
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v1/advertisers/{+advertiserId}/lineItems/{+lineItemId}",
              "request": {
                "$ref": "LineItem"
              },
              "response": {
                "$ref": "LineItem"
              },
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ]
            }
          },
          "resources": {
            "targetingTypes": {
              "resources": {
                "assignedTargetingOptions": {
                  "methods": {
                    "create": {
                      "description": "Assigns a targeting option to a line item.\nReturns the assigned targeting option if successful.",
                      "flatPath": "v1/advertisers/{advertisersId}/lineItems/{lineItemsId}/targetingTypes/{targetingTypesId}/assignedTargetingOptions",
                      "httpMethod": "POST",
                      "id": "displayvideo.advertisers.lineItems.targetingTypes.assignedTargetingOptions.create",
                      "parameterOrder": [
                        "advertiserId",
                        "lineItemId",
                        "targetingType"
                      ],
                      "parameters": {
                        "advertiserId": {
                          "description": "Required. The ID of the advertiser the line item belongs to.",
                          "format": "int64",
                          "location": "path",
                          "pattern": "^[^/]+$",
                          "required": true,
                          "type": "string"
                        },
                        "lineItemId": {
                          "description": "Required. The ID of the line item the assigned targeting option will belong to.",
                          "format": "int64",
                          "location": "path",
                          "pattern": "^[^/]+$",
                          "required": true,
                          "type": "string"
                        },
                        "targetingType": {
                          "description": "Required. Identifies the type of this assigned targeting option.",
                          "enum": [
                            "TARGETING_TYPE_UNSPECIFIED",
                            "TARGETING_TYPE_CHANNEL",
                            "TARGETING_TYPE_APP_CATEGORY",
                            "TARGETING_TYPE_APP",
                            "TARGETING_TYPE_URL",
                            "TARGETING_TYPE_DAY_AND_TIME",
                            "TARGETING_TYPE_AGE_RANGE",
                            "TARGETING_TYPE_REGIONAL_LOCATION_LIST",
                            "TARGETING_TYPE_PROXIMITY_LOCATION_LIST",
                            "TARGETING_TYPE_GENDER",
                            "TARGETING_TYPE_VIDEO_PLAYER_SIZE",
                            "TARGETING_TYPE_USER_REWARDED_CONTENT",
                            "TARGETING_TYPE_PARENTAL_STATUS",
                            "TARGETING_TYPE_CONTENT_INSTREAM_POSITION",
                            "TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION",
                            "TARGETING_TYPE_DEVICE_TYPE",
                            "TARGETING_TYPE_AUDIENCE_GROUP",
                            "TARGETING_TYPE_BROWSER",
                            "TARGETING_TYPE_HOUSEHOLD_INCOME",
                            "TARGETING_TYPE_ON_SCREEN_POSITION",
                            "TARGETING_TYPE_THIRD_PARTY_VERIFIER",
                            "TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION",
                            "TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION",
                            "TARGETING_TYPE_ENVIRONMENT",
                            "TARGETING_TYPE_CARRIER_AND_ISP",
                            "TARGETING_TYPE_OPERATING_SYSTEM",
                            "TARGETING_TYPE_DEVICE_MAKE_MODEL",
                            "TARGETING_TYPE_KEYWORD",
                            "TARGETING_TYPE_NEGATIVE_KEYWORD_LIST",
                            "TARGETING_TYPE_VIEWABILITY",
                            "TARGETING_TYPE_CATEGORY",
                            "TARGETING_TYPE_INVENTORY_SOURCE",
                            "TARGETING_TYPE_LANGUAGE",
                            "TARGETING_TYPE_AUTHORIZED_SELLER_STATUS",
                            "TARGETING_TYPE_GEO_REGION",
                            "TARGETING_TYPE_INVENTORY_SOURCE_GROUP",
                            "TARGETING_TYPE_EXCHANGE",
                            "TARGETING_TYPE_SUB_EXCHANGE"
                          ],
                          "location": "path",
                          "pattern": "^[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "path": "v1/advertisers/{+advertiserId}/lineItems/{+lineItemId}/targetingTypes/{+targetingType}/assignedTargetingOptions",
                      "request": {
                        "$ref": "AssignedTargetingOption"
                      },
                      "response": {
                        "$ref": "AssignedTargetingOption"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/display-video"
                      ]
                    },
                    "delete": {
                      "description": "Deletes an assigned targeting option from a line item.",
                      "flatPath": "v1/advertisers/{advertisersId}/lineItems/{lineItemsId}/targetingTypes/{targetingTypesId}/assignedTargetingOptions/{assignedTargetingOptionsId}",
                      "httpMethod": "DELETE",
                      "id": "displayvideo.advertisers.lineItems.targetingTypes.assignedTargetingOptions.delete",
                      "parameterOrder": [
                        "advertiserId",
                        "lineItemId",
                        "targetingType",
                        "assignedTargetingOptionId"
                      ],
                      "parameters": {
                        "advertiserId": {
                          "description": "Required. The ID of the advertiser the line item belongs to.",
                          "format": "int64",
                          "location": "path",
                          "pattern": "^[^/]+$",
                          "required": true,
                          "type": "string"
                        },
                        "assignedTargetingOptionId": {
                          "description": "Required. The ID of the assigned targeting option to delete.",
                          "location": "path",
                          "pattern": "^[^/]+$",
                          "required": true,
                          "type": "string"
                        },
                        "lineItemId": {
                          "description": "Required. The ID of the line item the assigned targeting option belongs to.",
                          "format": "int64",
                          "location": "path",
                          "pattern": "^[^/]+$",
                          "required": true,
                          "type": "string"
                        },
                        "targetingType": {
                          "description": "Required. Identifies the type of this assigned targeting option.",
                          "enum": [
                            "TARGETING_TYPE_UNSPECIFIED",
                            "TARGETING_TYPE_CHANNEL",
                            "TARGETING_TYPE_APP_CATEGORY",
                            "TARGETING_TYPE_APP",
                            "TARGETING_TYPE_URL",
                            "TARGETING_TYPE_DAY_AND_TIME",
                            "TARGETING_TYPE_AGE_RANGE",
                            "TARGETING_TYPE_REGIONAL_LOCATION_LIST",
                            "TARGETING_TYPE_PROXIMITY_LOCATION_LIST",
                            "TARGETING_TYPE_GENDER",
                            "TARGETING_TYPE_VIDEO_PLAYER_SIZE",
                            "TARGETING_TYPE_USER_REWARDED_CONTENT",
                            "TARGETING_TYPE_PARENTAL_STATUS",
                            "TARGETING_TYPE_CONTENT_INSTREAM_POSITION",
                            "TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION",
                            "TARGETING_TYPE_DEVICE_TYPE",
                            "TARGETING_TYPE_AUDIENCE_GROUP",
                            "TARGETING_TYPE_BROWSER",
                            "TARGETING_TYPE_HOUSEHOLD_INCOME",
                            "TARGETING_TYPE_ON_SCREEN_POSITION",
                            "TARGETING_TYPE_THIRD_PARTY_VERIFIER",
                            "TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION",
                            "TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION",
                            "TARGETING_TYPE_ENVIRONMENT",
                            "TARGETING_TYPE_CARRIER_AND_ISP",
                            "TARGETING_TYPE_OPERATING_SYSTEM",
                            "TARGETING_TYPE_DEVICE_MAKE_MODEL",
                            "TARGETING_TYPE_KEYWORD",
                            "TARGETING_TYPE_NEGATIVE_KEYWORD_LIST",
                            "TARGETING_TYPE_VIEWABILITY",
                            "TARGETING_TYPE_CATEGORY",
                            "TARGETING_TYPE_INVENTORY_SOURCE",
                            "TARGETING_TYPE_LANGUAGE",
                            "TARGETING_TYPE_AUTHORIZED_SELLER_STATUS",
                            "TARGETING_TYPE_GEO_REGION",
                            "TARGETING_TYPE_INVENTORY_SOURCE_GROUP",
                            "TARGETING_TYPE_EXCHANGE",
                            "TARGETING_TYPE_SUB_EXCHANGE"
                          ],
                          "location": "path",
                          "pattern": "^[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "path": "v1/advertisers/{+advertiserId}/lineItems/{+lineItemId}/targetingTypes/{+targetingType}/assignedTargetingOptions/{+assignedTargetingOptionId}",
                      "response": {
                        "$ref": "Empty"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/display-video"
                      ]
                    },
                    "get": {
                      "description": "Gets a single targeting option assigned to a line item.",
                      "flatPath": "v1/advertisers/{advertisersId}/lineItems/{lineItemsId}/targetingTypes/{targetingTypesId}/assignedTargetingOptions/{assignedTargetingOptionsId}",
                      "httpMethod": "GET",
                      "id": "displayvideo.advertisers.lineItems.targetingTypes.assignedTargetingOptions.get",
                      "parameterOrder": [
                        "advertiserId",
                        "lineItemId",
                        "targetingType",
                        "assignedTargetingOptionId"
                      ],
                      "parameters": {
                        "advertiserId": {
                          "description": "Required. The ID of the advertiser the line item belongs to.",
                          "format": "int64",
                          "location": "path",
                          "pattern": "^[^/]+$",
                          "required": true,
                          "type": "string"
                        },
                        "assignedTargetingOptionId": {
                          "description": "Required. An identifier unique to the targeting type in this line item that\nidentifies the assigned targeting option being requested.",
                          "location": "path",
                          "pattern": "^[^/]+$",
                          "required": true,
                          "type": "string"
                        },
                        "lineItemId": {
                          "description": "Required. The ID of the line item the assigned targeting option belongs to.",
                          "format": "int64",
                          "location": "path",
                          "pattern": "^[^/]+$",
                          "required": true,
                          "type": "string"
                        },
                        "targetingType": {
                          "description": "Required. Identifies the type of this assigned targeting option.",
                          "enum": [
                            "TARGETING_TYPE_UNSPECIFIED",
                            "TARGETING_TYPE_CHANNEL",
                            "TARGETING_TYPE_APP_CATEGORY",
                            "TARGETING_TYPE_APP",
                            "TARGETING_TYPE_URL",
                            "TARGETING_TYPE_DAY_AND_TIME",
                            "TARGETING_TYPE_AGE_RANGE",
                            "TARGETING_TYPE_REGIONAL_LOCATION_LIST",
                            "TARGETING_TYPE_PROXIMITY_LOCATION_LIST",
                            "TARGETING_TYPE_GENDER",
                            "TARGETING_TYPE_VIDEO_PLAYER_SIZE",
                            "TARGETING_TYPE_USER_REWARDED_CONTENT",
                            "TARGETING_TYPE_PARENTAL_STATUS",
                            "TARGETING_TYPE_CONTENT_INSTREAM_POSITION",
                            "TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION",
                            "TARGETING_TYPE_DEVICE_TYPE",
                            "TARGETING_TYPE_AUDIENCE_GROUP",
                            "TARGETING_TYPE_BROWSER",
                            "TARGETING_TYPE_HOUSEHOLD_INCOME",
                            "TARGETING_TYPE_ON_SCREEN_POSITION",
                            "TARGETING_TYPE_THIRD_PARTY_VERIFIER",
                            "TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION",
                            "TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION",
                            "TARGETING_TYPE_ENVIRONMENT",
                            "TARGETING_TYPE_CARRIER_AND_ISP",
                            "TARGETING_TYPE_OPERATING_SYSTEM",
                            "TARGETING_TYPE_DEVICE_MAKE_MODEL",
                            "TARGETING_TYPE_KEYWORD",
                            "TARGETING_TYPE_NEGATIVE_KEYWORD_LIST",
                            "TARGETING_TYPE_VIEWABILITY",
                            "TARGETING_TYPE_CATEGORY",
                            "TARGETING_TYPE_INVENTORY_SOURCE",
                            "TARGETING_TYPE_LANGUAGE",
                            "TARGETING_TYPE_AUTHORIZED_SELLER_STATUS",
                            "TARGETING_TYPE_GEO_REGION",
                            "TARGETING_TYPE_INVENTORY_SOURCE_GROUP",
                            "TARGETING_TYPE_EXCHANGE",
                            "TARGETING_TYPE_SUB_EXCHANGE"
                          ],
                          "location": "path",
                          "pattern": "^[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "path": "v1/advertisers/{+advertiserId}/lineItems/{+lineItemId}/targetingTypes/{+targetingType}/assignedTargetingOptions/{+assignedTargetingOptionId}",
                      "response": {
                        "$ref": "AssignedTargetingOption"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/display-video"
                      ]
                    },
                    "list": {
                      "description": "Lists the targeting options assigned to a line item.",
                      "flatPath": "v1/advertisers/{advertisersId}/lineItems/{lineItemsId}/targetingTypes/{targetingTypesId}/assignedTargetingOptions",
                      "httpMethod": "GET",
                      "id": "displayvideo.advertisers.lineItems.targetingTypes.assignedTargetingOptions.list",
                      "parameterOrder": [
                        "advertiserId",
                        "lineItemId",
                        "targetingType"
                      ],
                      "parameters": {
                        "advertiserId": {
                          "description": "Required. The ID of the advertiser the line item belongs to.",
                          "format": "int64",
                          "location": "path",
                          "pattern": "^[^/]+$",
                          "required": true,
                          "type": "string"
                        },
                        "filter": {
                          "description": "Allows filtering by assigned targeting option properties.\n\nSupported syntax:\n\n* Filter expressions are made up of one or more restrictions.\n* Restrictions can be combined by the logical operator `OR`.\n* A restriction has the form of `{field} {operator} {value}`.\n* The operator must be `EQUALS (=)`.\n* Supported fields:\n    - `assignedTargetingOptionId`\n    - `inheritance`\n\nExamples:\n\n* AssignedTargetingOptions with ID 1 or 2\n`assignedTargetingOptionId=\"1\" OR assignedTargetingOptionId=\"2\"`\n* AssignedTargetingOptions with inheritance status of NOT_INHERITED or\n  INHERITED_FROM_PARTNER\n`inheritance=\"NOT_INHERITED\" OR inheritance=\"INHERITED_FROM_PARTNER\"`\n\nThe length of this field should be no more than 500 characters.",
                          "location": "query",
                          "type": "string"
                        },
                        "lineItemId": {
                          "description": "Required. The ID of the line item to list assigned targeting options for.",
                          "format": "int64",
                          "location": "path",
                          "pattern": "^[^/]+$",
                          "required": true,
                          "type": "string"
                        },
                        "orderBy": {
                          "description": "Field by which to sort the list.\nAcceptable values are:\n\n* `assignedTargetingOptionId` (default)\n\nThe default sorting order is ascending. To specify descending order for\na field, a suffix \"desc\" should be added to the field name. Example:\n`assignedTargetingOptionId desc`.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "description": "Requested page size. Must be between `1` and `100`. If unspecified will\ndefault to `100`. Returns error code `INVALID_ARGUMENT` if an invalid value\nis specified.",
                          "format": "int32",
                          "location": "query",
                          "type": "integer"
                        },
                        "pageToken": {
                          "description": "A token identifying a page of results the server should return.\nTypically, this is the value of\nnext_page_token\nreturned from the previous call to `ListLineItemAssignedTargetingOptions`\nmethod. If not specified, the first page of results will be returned.",
                          "location": "query",
                          "type": "string"
                        },
                        "targetingType": {
                          "description": "Required. Identifies the type of assigned targeting options to list.",
                          "enum": [
                            "TARGETING_TYPE_UNSPECIFIED",
                            "TARGETING_TYPE_CHANNEL",
                            "TARGETING_TYPE_APP_CATEGORY",
                            "TARGETING_TYPE_APP",
                            "TARGETING_TYPE_URL",
                            "TARGETING_TYPE_DAY_AND_TIME",
                            "TARGETING_TYPE_AGE_RANGE",
                            "TARGETING_TYPE_REGIONAL_LOCATION_LIST",
                            "TARGETING_TYPE_PROXIMITY_LOCATION_LIST",
                            "TARGETING_TYPE_GENDER",
                            "TARGETING_TYPE_VIDEO_PLAYER_SIZE",
                            "TARGETING_TYPE_USER_REWARDED_CONTENT",
                            "TARGETING_TYPE_PARENTAL_STATUS",
                            "TARGETING_TYPE_CONTENT_INSTREAM_POSITION",
                            "TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION",
                            "TARGETING_TYPE_DEVICE_TYPE",
                            "TARGETING_TYPE_AUDIENCE_GROUP",
                            "TARGETING_TYPE_BROWSER",
                            "TARGETING_TYPE_HOUSEHOLD_INCOME",
                            "TARGETING_TYPE_ON_SCREEN_POSITION",
                            "TARGETING_TYPE_THIRD_PARTY_VERIFIER",
                            "TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION",
                            "TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION",
                            "TARGETING_TYPE_ENVIRONMENT",
                            "TARGETING_TYPE_CARRIER_AND_ISP",
                            "TARGETING_TYPE_OPERATING_SYSTEM",
                            "TARGETING_TYPE_DEVICE_MAKE_MODEL",
                            "TARGETING_TYPE_KEYWORD",
                            "TARGETING_TYPE_NEGATIVE_KEYWORD_LIST",
                            "TARGETING_TYPE_VIEWABILITY",
                            "TARGETING_TYPE_CATEGORY",
                            "TARGETING_TYPE_INVENTORY_SOURCE",
                            "TARGETING_TYPE_LANGUAGE",
                            "TARGETING_TYPE_AUTHORIZED_SELLER_STATUS",
                            "TARGETING_TYPE_GEO_REGION",
                            "TARGETING_TYPE_INVENTORY_SOURCE_GROUP",
                            "TARGETING_TYPE_EXCHANGE",
                            "TARGETING_TYPE_SUB_EXCHANGE"
                          ],
                          "location": "path",
                          "pattern": "^[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "path": "v1/advertisers/{+advertiserId}/lineItems/{+lineItemId}/targetingTypes/{+targetingType}/assignedTargetingOptions",
                      "response": {
                        "$ref": "ListLineItemAssignedTargetingOptionsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/display-video"
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "locationLists": {
          "methods": {
            "create": {
              "description": "Creates a new location list. Returns the newly created location list if\nsuccessful.",
              "flatPath": "v1/advertisers/{advertisersId}/locationLists",
              "httpMethod": "POST",
              "id": "displayvideo.advertisers.locationLists.create",
              "parameterOrder": [
                "advertiserId"
              ],
              "parameters": {
                "advertiserId": {
                  "description": "Required. The ID of the DV360 advertiser to which the location list belongs.",
                  "format": "int64",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/advertisers/{+advertiserId}/locationLists",
              "request": {
                "$ref": "LocationList"
              },
              "response": {
                "$ref": "LocationList"
              },
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ]
            },
            "get": {
              "description": "Gets a location list.",
              "flatPath": "v1/advertisers/{advertisersId}/locationLists/{locationListsId}",
              "httpMethod": "GET",
              "id": "displayvideo.advertisers.locationLists.get",
              "parameterOrder": [
                "advertiserId",
                "locationListId"
              ],
[...]
