{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/firebase": {
          "description": "View and administer all your Firebase data and settings"
        }
      }
    }
  },
  "basePath": "",
  "baseUrl": "https://firebasecrashlytics.googleapis.com/",
  "batchPath": "batch",
  "canonicalName": "Firebase Crashlytics",
  "description": "This service provides an API for mobile app developers to request deletion of user's crash reports.",
  "discoveryVersion": "v1",
  "documentationLink": "https://firebase.google.com/docs/crashlytics",
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "id": "firebasecrashlytics:v1alpha",
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://firebasecrashlytics.mtls.googleapis.com/",
  "name": "firebasecrashlytics",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "parameters": {
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "protocol": "rest",
  "resources": {
    "projects": {
      "resources": {
        "apps": {
          "resources": {
            "events": {
              "methods": {
                "batchGet": {
                  "description": "Fetch a batch of up to 100 events by name.",
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/events:batchGet",
                  "httpMethod": "GET",
                  "id": "firebasecrashlytics.projects.apps.events.batchGet",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "names": {
                      "description": "Required. The resource names of the desired events. A maximum of 100 events can be retrieved in a batch. Format: \"projects/{project}/apps/{app_id}/events/{event_id}\". The app_id and event_id are required, but project may be \"-\" to conserve space in long URIs.",
                      "location": "query",
                      "repeated": true,
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. The firebase application. Format: \"projects/{project}/apps/{app_id}\".",
                      "location": "path",
                      "pattern": "^projects/[^/]+/apps/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "readMask": {
                      "description": "Optional. The list of Event fields to include in the response. If omitted, the full event is returned.",
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v1alpha/{+parent}/events:batchGet",
                  "response": {
                    "$ref": "BatchGetEventsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ]
                },
                "list": {
                  "description": "List the events for an issue matching filter criteria, sorted in descending order by timestamp.",
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/events",
                  "httpMethod": "GET",
                  "id": "firebasecrashlytics.projects.apps.events.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "filter.browser.displayNames": {
                      "description": "Optional. Only count events from the given browser. This string matches Browser.display_name. Format: \"name (display_version)\" e.g. \"Chrome (123)\", or just \"name\" for all possible versions, e.g. simply \"Chrome\".",
                      "location": "query",
                      "repeated": true,
                      "type": "string"
                    },
                    "filter.device.displayNames": {
                      "description": "Only counts events from the given Device model. This string matches Device.display_name. Format: \"manufacturer (model)\" e.g. \"Google (Pixel 6)\", or just \"manufacturer\" for all possible models, e.g. simply \"Google\". Note that a device's marketing_name field can not be used for filtering.",
                      "location": "query",
                      "repeated": true,
                      "type": "string"
                    },
                    "filter.device.formFactors": {
                      "description": "Only counts events from devices with the given form factor (e.g. phone or tablet).",
                      "enum": [
                        "FORM_FACTOR_UNSPECIFIED",
                        "PHONE",
                        "TABLET",
                        "DESKTOP",
                        "TV",
                        "WATCH"
                      ],
                      "enumDescriptions": [
                        "Unknown.",
                        "Includes mobile phones, small foldables and other form factors not fitting the other categories.",
                        "Includes tablets and larger foldables.",
                        "Includes desktops, laptops, Chromebooks, etc.",
                        "Includes televisions and set-tops.",
                        "Includes both watches and other wearables."
                      ],
                      "location": "query",
                      "repeated": true,
                      "type": "string"
                    },
                    "filter.interval.endTime": {
                      "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end.",
                      "format": "google-datetime",
                      "location": "query",
                      "type": "string"
                    },
                    "filter.interval.startTime": {
                      "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start.",
                      "format": "google-datetime",
                      "location": "query",
                      "type": "string"
                    },
                    "filter.issue.content": {
                      "description": "Optional. A space separated list of filter terms matched against the contents of the issue. Contents include the title and the stack trace. Matches must begin at alphanumeric tokens, i.e., 'util.Sorted' matches 'java.util.SortedSet' but not 'myutil.SortedArray'. The filter matches if all filter terms match. All non-alphanumeric characters are ignored for matching. Filtering is assumed to be prefix-search and order-independent unless phrases are surrounded by \"\". Any terms contained in quotes are searched using exact-match (given filter term \"foo\", we will not return \"foobar\"), and must appear in the order given exactly. To get order-dependence but prefix-search, use a * within the quotes (\"abc foo*\" will match \"abc foobar\", but not \"foo abc\" \"abcd foobar\", or \"abc xyz foobar\").",
                      "location": "query",
                      "type": "string"
                    },
                    "filter.issue.errorTypes": {
                      "description": "Optional. Only counts events of the given error types. This field matches [Issue.error_type].",
                      "enum": [
                        "ERROR_TYPE_UNSPECIFIED",
                        "FATAL",
                        "NON_FATAL",
                        "ANR"
                      ],
                      "enumDescriptions": [
                        "Unknown.",
                        "Fatal crash event.",
                        "Non-fatal event, such as a caught Java exception or NSError on iOS.",
                        "Application not responding error, Android only."
                      ],
                      "location": "query",
                      "repeated": true,
                      "type": "string"
                    },
                    "filter.issue.id": {
                      "description": "Optional. Only counts events in the given issue ID. This field matches [Issue.id].",
                      "location": "query",
                      "type": "string"
                    },
                    "filter.issue.signals": {
                      "description": "Optional. Only returns issues currently marked with the given signals. This field matches [Issue.signals.signal].",
                      "enum": [
                        "SIGNAL_UNSPECIFIED",
                        "SIGNAL_EARLY",
                        "SIGNAL_FRESH",
                        "SIGNAL_REGRESSED",
                        "SIGNAL_REPETITIVE"
                      ],
                      "enumDescriptions": [
                        "Default.",
                        "Indicates an issue that is impacting end users early in the app session.",
                        "Indicates newly detected issues.",
                        "Indicates previously closed issues which have been detected again.",
                        "Indicates issues impacting some end users multiple times."
                      ],
                      "location": "query",
                      "repeated": true,
                      "type": "string"
                    },
                    "filter.issue.state": {
                      "deprecated": true,
                      "description": "Optional. Deprecated: Prefer `states` field. Only includes events for issues with the given issue state. Only available for `topIssues` reports.",
                      "enum": [
                        "STATE_UNSPECIFIED",
                        "OPEN",
                        "CLOSED",
                        "MUTED"
                      ],
                      "enumDescriptions": [
                        "Unknown.",
                        "Ongoing issue.",
                        "Issue resolved.",
                        "Issue muted. No alerts will be fired for this issue."
                      ],
                      "location": "query",
                      "type": "string"
                    },
                    "filter.issue.states": {
                      "description": "Optional. Only includes events for issues with the given issue states. Only available for `topIssues` reports.",
                      "enum": [
                        "STATE_UNSPECIFIED",
                        "OPEN",
                        "CLOSED",
                        "MUTED"
                      ],
                      "enumDescriptions": [
                        "Unknown.",
                        "Ongoing issue.",
                        "Issue resolved.",
                        "Issue muted. No alerts will be fired for this issue."
                      ],
                      "location": "query",
                      "repeated": true,
                      "type": "string"
                    },
                    "filter.issue.variantId": {
                      "description": "Optional. Only counts events for the given issue variant ID. This field matches [IssueVariant.id].",
                      "location": "query",
                      "type": "string"
                    },
                    "filter.operatingSystem.displayNames": {
                      "description": "Only counts events in the given operating system and version. This string matches OperatingSystem.display_name. Format: \"osName (osVersion)\" e.g. \"Android (11)\". or just \"osName\" for all versions, e.g. simply \"iPadOS\".",
                      "location": "query",
                      "repeated": true,
                      "type": "string"
                    },
                    "filter.version.displayNames": {
                      "description": "Only counts events in the given app version. This string matches Version.display_name. Format: \"display_version (build_version)\" e.g. \"1.2.3 (456)\".",
                      "location": "query",
                      "repeated": true,
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Optional. The maximum number of events per page. If omitted, defaults to 10.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous calls.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. The Firebase application. Format: \"projects/{project}/apps/{app_id}\".",
                      "location": "path",
                      "pattern": "^projects/[^/]+/apps/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "readMask": {
                      "description": "Optional. The list of Event fields to include in the response. If omitted, the full event is returned.",
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v1alpha/{+parent}/events",
                  "response": {
                    "$ref": "ListEventsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ]
                }
              }
            },
            "issues": {
              "methods": {
                "batchUpdate": {
                  "description": "Change the state of a group of issues. This method is not atomic, so partial failures can occur. In the event of a partial failure, the request will fail and you will need to call `GetIssue` to see which issues were not updated.",
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/issues:batchUpdate",
                  "httpMethod": "POST",
                  "id": "firebasecrashlytics.projects.apps.issues.batchUpdate",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent resource shared by all issues being updated. Format: projects/{project}/apps/{app}. If this is set, the parent field in the UpdateIssueRequest messages must either be empty or match this field.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/apps/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1alpha/{+parent}/issues:batchUpdate",
                  "request": {
                    "$ref": "BatchUpdateIssuesRequest"
                  },
                  "response": {
                    "$ref": "BatchUpdateIssuesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ]
                },
                "get": {
                  "description": "Retrieve an issue.",
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/issues/{issuesId}",
                  "httpMethod": "GET",
                  "id": "firebasecrashlytics.projects.apps.issues.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the issue to retrieve. Format: \"projects/{project}/apps/{app}/issues/{issue}\".",
                      "location": "path",
                      "pattern": "^projects/[^/]+/apps/[^/]+/issues/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1alpha/{+name}",
                  "response": {
                    "$ref": "Issue"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ]
                },
                "patch": {
                  "description": "Change the state of an issue.",
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/issues/{issuesId}",
                  "httpMethod": "PATCH",
                  "id": "firebasecrashlytics.projects.apps.issues.patch",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. Output only. Immutable. Identifier. The name of the issue resource. Format: \"projects/{project}/apps/{app}/issues/{issue}\".",
                      "location": "path",
                      "pattern": "^projects/[^/]+/apps/[^/]+/issues/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "updateMask": {
                      "description": "Optional. The list of Issue fields to update. Currently only \"state\" is mutable.",
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v1alpha/{+name}",
                  "request": {
                    "$ref": "Issue"
                  },
                  "response": {
                    "$ref": "Issue"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ]
                }
              },
              "resources": {
                "notes": {
                  "methods": {
                    "create": {
                      "description": "Create a new note for an issue.",
                      "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/issues/{issuesId}/notes",
                      "httpMethod": "POST",
                      "id": "firebasecrashlytics.projects.apps.issues.notes.create",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "parent": {
                          "description": "Required. The parent resource where this note will be created. Format: \"projects/{project}/apps/{app}/issues/{issue}\".",
                          "location": "path",
                          "pattern": "^projects/[^/]+/apps/[^/]+/issues/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "path": "v1alpha/{+parent}/notes",
                      "request": {
                        "$ref": "Note"
                      },
                      "response": {
                        "$ref": "Note"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/firebase"
                      ]
                    },
                    "delete": {
                      "description": "Delete a note by its name.",
                      "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/issues/{issuesId}/notes/{notesId}",
                      "httpMethod": "DELETE",
                      "id": "firebasecrashlytics.projects.apps.issues.notes.delete",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the note to delete. Format: projects/{project}/apps/{app}/issues/{issue}/notes/{note}.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/apps/[^/]+/issues/[^/]+/notes/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "path": "v1alpha/{+name}",
                      "response": {
                        "$ref": "Empty"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/firebase"
                      ]
                    },
                    "list": {
                      "description": "List all notes for a certain issue, sorted in descending order by timestamp.",
                      "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/issues/{issuesId}/notes",
                      "httpMethod": "GET",
                      "id": "firebasecrashlytics.projects.apps.issues.notes.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "pageSize": {
                          "description": "Optional. The maximum number of notes per page. If omitted, defaults to 10.",
                          "format": "int32",
                          "location": "query",
                          "type": "integer"
                        },
                        "pageToken": {
                          "description": "Optional. A page token, received from a previous calls.",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "description": "Required. The issue the notes belongs to. Format: \"projects/{project}/apps/{app}/issues/{issue}\".",
                          "location": "path",
                          "pattern": "^projects/[^/]+/apps/[^/]+/issues/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "path": "v1alpha/{+parent}/notes",
                      "response": {
                        "$ref": "ListNotesResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/firebase"
                      ]
                    }
                  }
                }
              }
            },
            "reports": {
              "methods": {
                "get": {
                  "description": "Get a report with its computed results.",
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/reports/{reportsId}",
                  "httpMethod": "GET",
                  "id": "firebasecrashlytics.projects.apps.reports.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "filter.browser.displayNames": {
                      "description": "Optional. Only count events from the given browser. This string matches Browser.display_name. Format: \"name (display_version)\" e.g. \"Chrome (123)\", or just \"name\" for all possible versions, e.g. simply \"Chrome\".",
                      "location": "query",
                      "repeated": true,
                      "type": "string"
                    },
                    "filter.device.displayNames": {
                      "description": "Only counts events from the given Device model. This string matches Device.display_name. Format: \"manufacturer (model)\" e.g. \"Google (Pixel 6)\", or just \"manufacturer\" for all possible models, e.g. simply \"Google\". Note that a device's marketing_name field can not be used for filtering.",
                      "location": "query",
                      "repeated": true,
                      "type": "string"
                    },
                    "filter.device.formFactors": {
                      "description": "Only counts events from devices with the given form factor (e.g. phone or tablet).",
                      "enum": [
                        "FORM_FACTOR_UNSPECIFIED",
                        "PHONE",
                        "TABLET",
                        "DESKTOP",
                        "TV",
                        "WATCH"
                      ],
                      "enumDescriptions": [
                        "Unknown.",
                        "Includes mobile phones, small foldables and other form factors not fitting the other categories.",
                        "Includes tablets and larger foldables.",
                        "Includes desktops, laptops, Chromebooks, etc.",
                        "Includes televisions and set-tops.",
                        "Includes both watches and other wearables."
                      ],
                      "location": "query",
                      "repeated": true,
                      "type": "string"
                    },
                    "filter.interval.endTime": {
                      "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end.",
                      "format": "google-datetime",
                      "location": "query",
                      "type": "string"
                    },
                    "filter.interval.startTime": {
                      "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start.",
                      "format": "google-datetime",
                      "location": "query",
                      "type": "string"
                    },
                    "filter.issue.content": {
                      "description": "Optional. A space separated list of filter terms matched against the contents of the issue. Contents include the title and the stack trace. Matches must begin at alphanumeric tokens, i.e., 'util.Sorted' matches 'java.util.SortedSet' but not 'myutil.SortedArray'. The filter matches if all filter terms match. All non-alphanumeric characters are ignored for matching. Filtering is assumed to be prefix-search and order-independent unless phrases are surrounded by \"\". Any terms contained in quotes are searched using exact-match (given filter term \"foo\", we will not return \"foobar\"), and must appear in the order given exactly. To get order-dependence but prefix-search, use a * within the quotes (\"abc foo*\" will match \"abc foobar\", but not \"foo abc\" \"abcd foobar\", or \"abc xyz foobar\").",
                      "location": "query",
                      "type": "string"
                    },
                    "filter.issue.errorTypes": {
                      "description": "Optional. Only counts events of the given error types. This field matches [Issue.error_type].",
                      "enum": [
                        "ERROR_TYPE_UNSPECIFIED",
                        "FATAL",
                        "NON_FATAL",
                        "ANR"
                      ],
                      "enumDescriptions": [
                        "Unknown.",
                        "Fatal crash event.",
                        "Non-fatal event, such as a caught Java exception or NSError on iOS.",
                        "Application not responding error, Android only."
                      ],
                      "location": "query",
                      "repeated": true,
                      "type": "string"
                    },
                    "filter.issue.id": {
                      "description": "Optional. Only counts events in the given issue ID. This field matches [Issue.id].",
                      "location": "query",
                      "type": "string"
                    },
                    "filter.issue.signals": {
                      "description": "Optional. Only returns issues currently marked with the given signals. This field matches [Issue.signals.signal].",
                      "enum": [
                        "SIGNAL_UNSPECIFIED",
                        "SIGNAL_EARLY",
                        "SIGNAL_FRESH",
                        "SIGNAL_REGRESSED",
                        "SIGNAL_REPETITIVE"
                      ],
                      "enumDescriptions": [
                        "Default.",
                        "Indicates an issue that is impacting end users early in the app session.",
                        "Indicates newly detected issues.",
                        "Indicates previously closed issues which have been detected again.",
                        "Indicates issues impacting some end users multiple times."
                      ],
                      "location": "query",
                      "repeated": true,
                      "type": "string"
                    },
                    "filter.issue.state": {
                      "deprecated": true,
                      "description": "Optional. Deprecated: Prefer `states` field. Only includes events for issues with the given issue state. Only available for `topIssues` reports.",
                      "enum": [
                        "STATE_UNSPECIFIED",
                        "OPEN",
                        "CLOSED",
                        "MUTED"
                      ],
                      "enumDescriptions": [
                        "Unknown.",
                        "Ongoing issue.",
                        "Issue resolved.",
                        "Issue muted. No alerts will be fired for this issue."
                      ],
                      "location": "query",
                      "type": "string"
                    },
                    "filter.issue.states": {
                      "description": "Optional. Only includes events for issues with the given issue states. Only available for `topIssues` reports.",
                      "enum": [
                        "STATE_UNSPECIFIED",
                        "OPEN",
                        "CLOSED",
                        "MUTED"
                      ],
                      "enumDescriptions": [
                        "Unknown.",
                        "Ongoing issue.",
                        "Issue resolved.",
                        "Issue muted. No alerts will be fired for this issue."
                      ],
                      "location": "query",
                      "repeated": true,
                      "type": "string"
                    },
                    "filter.issue.variantId": {
                      "description": "Optional. Only counts events for the given issue variant ID. This field matches [IssueVariant.id].",
                      "location": "query",
                      "type": "string"
                    },
                    "filter.operatingSystem.displayNames": {
                      "description": "Only counts events in the given operating system and version. This string matches OperatingSystem.display_name. Format: \"osName (osVersion)\" e.g. \"Android (11)\". or just \"osName\" for all versions, e.g. simply \"iPadOS\".",
                      "location": "query",
                      "repeated": true,
                      "type": "string"
                    },
                    "filter.version.displayNames": {
                      "description": "Only counts events in the given app version. This string matches Version.display_name. Format: \"display_version (build_version)\" e.g. \"1.2.3 (456)\".",
                      "location": "query",
                      "repeated": true,
                      "type": "string"
                    },
                    "granularity": {
                      "description": "Optional. The report response will contain one data point per time grain. If omitted, the report will contain a single data point for the complete interval.",
                      "enum": [
                        "TIME_GRANULARITY_UNSPECIFIED",
                        "TIME_GRANULARITY_NONE",
                        "TIME_GRANULARITY_HOUR",
                        "TIME_GRANULARITY_DAY"
                      ],
                      "enumDescriptions": [
                        "Unknown.",
                        "Returns a single interval for the requested time range.",
                        "Hour.",
                        "Day."
                      ],
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "description": "Required. The report name. Format: \"projects/{project}/apps/{app_id}/reports/{report}\".",
                      "location": "path",
                      "pattern": "^projects/[^/]+/apps/[^/]+/reports/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Optional. The maximum number of result groups to return. If omitted, defaults to 25.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous call. The page token is only valid for the exact same set of filters, which must also be sent in subsequent requests. This token is valid for 10 minutes after the first request.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v1alpha/{+name}",
                  "response": {
                    "$ref": "Report"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ]
                },
                "list": {
                  "description": "List all of the available reports.",
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/reports",
                  "httpMethod": "GET",
                  "id": "firebasecrashlytics.projects.apps.reports.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "Required. The firebase application. Format: \"projects/{project}/apps/{app_id}\".",
                      "location": "path",
                      "pattern": "^projects/[^/]+/apps/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1alpha/{+parent}/reports",
                  "response": {
                    "$ref": "ListReportsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ]
                }
              }
            },
            "users": {
              "methods": {
                "deleteCrashReports": {
                  "description": "Enqueues a request to permanently remove crash reports associated with the specified user. All reports belonging to the specified user will be deleted typically within 24 hours of receiving the crash report.",
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/users/{usersId}/crashReports",
                  "httpMethod": "DELETE",
                  "id": "firebasecrashlytics.projects.apps.users.deleteCrashReports",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. Resource name for user reports, in the format: projects/ PROJECT_IDENTIFIER/apps/APP_ID/users/USER_ID/crashReports - PROJECT_IDENTIFIER: The Firebase project's project number (recommended) or its project ID. Learn more about using project identifiers in Google's [AIP 2510 standard](https://google.aip.dev/cloud/2510). - APP_ID: The globally unique, Firebase-assigned identifier for the Firebase App. This is not your package name or bundle ID. Learn how to [find your app ID](https://firebase.google.com/support/faq/#find-app-id). - USER_ID: The user ID set using the Crashlytics SDK. Learn how to [set user identifiers](https://firebase.google.com/docs/crashlytics/customize-crash-reports#set-user-ids).",
                      "location": "path",
                      "pattern": "^projects/[^/]+/apps/[^/]+/users/[^/]+/crashReports$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1alpha/{+name}",
                  "response": {
                    "$ref": "DeleteUserCrashReportsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "revision": "20260710",
  "rootUrl": "https://firebasecrashlytics.googleapis.com/",
  "schemas": {
    "BatchGetEventsResponse": {
      "description": "Response message for the BatchGetEvents method.",
      "id": "BatchGetEventsResponse",
      "properties": {
        "events": {
          "description": "The list of retrieved events.",
          "items": {
            "$ref": "Event"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "BatchUpdateIssuesRequest": {
      "description": "Request message for the BatchUpdateIssues method.",
      "id": "BatchUpdateIssuesRequest",
      "properties": {
        "requests": {
          "description": "Required. The request message specifying the resources to update. A maximum of 100 issues can be modified in a batch.",
          "items": {
            "$ref": "UpdateIssueRequest"
          },
          "type": "array"
        },
        "updateMask": {
          "description": "Optional. The list of Issue fields to update. If this is set, the update_mask field in the UpdateIssueRequest messages must either be empty or match this field.",
          "format": "google-fieldmask",
          "type": "string"
        }
      },
      "type": "object"
    },
    "BatchUpdateIssuesResponse": {
      "description": "Response message for the BatchUpdateIssues method.",
      "id": "BatchUpdateIssuesResponse",
      "properties": {
        "issues": {
          "description": "Issues updated in the same order as in BatchUpdateIssuesRequest.",
          "items": {
            "$ref": "Issue"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "Breadcrumb": {
      "description": "Analytics events recorded during the session.",
      "id": "Breadcrumb",
      "properties": {
        "eventTime": {
          "description": "Device timestamp for the event.",
          "format": "google-datetime",
          "type": "string"
        },
        "params": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Event parameters.",
          "type": "object"
        },
        "title": {
          "description": "Analytic event name.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Browser": {
      "description": "Web browser metadata.",
      "id": "Browser",
      "properties": {
        "browser": {
          "description": "Browser name.",
          "type": "string"
        },
        "displayName": {
          "description": "Browser name and version number. Formatted to be suitable for passing to BrowserFilter.",
          "type": "string"
        },
        "displayVersion": {
          "description": "Browser display version number.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DeleteUserCrashReportsResponse": {
      "description": "Response message for the DeleteUserCrashReports method. All crash reports associated with the specified user will be deleted typically within 24 hours of receiving the crash report.",
      "id": "DeleteUserCrashReportsResponse",
      "properties": {
        "targetCompleteTime": {
          "description": "Target time to complete the delete crash reports operation.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Device": {
      "description": "Mobile device metadata.",
      "id": "Device",
      "properties": {
        "architecture": {
          "description": "Device processor architecture.",
          "type": "string"
        },
        "companyName": {
          "description": "An invariant name of the manufacturer that submitted this product in its most recognizable public form, e.g. \"Google\".",
          "type": "string"
        },
        "displayName": {
          "description": "Full device name, suitable for passing to DeviceFilter. Format: \"manufacturer (model)\".",
          "type": "string"
        },
        "formFactor": {
          "description": "See FormFactor message.",
          "enum": [
            "FORM_FACTOR_UNSPECIFIED",
            "PHONE",
            "TABLET",
            "DESKTOP",
            "TV",
            "WATCH"
          ],
          "enumDescriptions": [
            "Unknown.",
            "Includes mobile phones, small foldables and other form factors not fitting the other categories.",
            "Includes tablets and larger foldables.",
            "Includes desktops, laptops, Chromebooks, etc.",
            "Includes televisions and set-tops.",
            "Includes both watches and other wearables."
          ],
          "type": "string"
        },
        "manufacturer": {
          "description": "Device brand name which is consistent with android.os.Build.BRAND.",
          "type": "string"
        },
        "marketingName": {
          "description": "Marketing name, most recognizable public form, e.g. \"Pixel 6\".",
          "type": "string"
        },
        "model": {
          "description": "The model name which is consistent with android.os.Build.MODEL, e.g. (\"SPH-L710\", \"GT-I9300\").",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "properties": {},
      "type": "object"
    },
    "Error": {
      "description": "A non-fatal error and its stacktrace, only from Apple apps.",
      "id": "Error",
      "properties": {
        "blamed": {
          "description": "True when the Crashlytics analysis has determined that the stacktrace in this error is where the fault occurred.",
          "type": "boolean"
        },
        "code": {
          "description": "Error code associated with the app's custom logged NSError.",
          "format": "int64",
          "type": "string"
        },
        "frames": {
          "description": "The frames in the error's stacktrace.",
          "items": {
            "$ref": "Frame"
          },
          "type": "array"
        },
        "queue": {
          "description": "The queue on which the thread was running.",
          "type": "string"
        },
        "subtitle": {
          "description": "The subtitle of the error.",
          "type": "string"
        },
        "title": {
          "description": "The title of the error.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Event": {
      "description": "The message describing a single Crashlytics event. Related to BigQuery export schema, which can be found at [Export Crashlytics data to BigQuery](https://firebase.google.com/docs/crashlytics/bigquery-export#dataset-schema-crashlytics)",
      "id": "Event",
      "properties": {
        "appOrientation": {
          "description": "App orientation at the time of the crash (portrait or landscape).",
          "type": "string"
        },
        "blameFrame": {
          "$ref": "Frame",
          "description": "The stack trace frame blamed by Crashlytics processing. May not be present in future analyzer."
        },
        "breadcrumbs": {
          "description": "Analytics events recorded by the analytics SDK during the session.",
          "items": {
            "$ref": "Breadcrumb"
          },
          "type": "array"
        },
        "browser": {
          "$ref": "Browser",
          "description": "Browser and version."
        },
        "buildStamp": {
          "description": "Metadata provided by the app's build system, including version control repository info.",
          "type": "string"
        },
        "bundleOrPackage": {
          "description": "The bundle name for iOS apps or the package name of Android apps. Format: \"com.mycompany.myapp\".",
          "type": "string"
        },
        "crashlyticsSdkVersion": {
          "description": "Crashlytics SDK version.",
          "type": "string"
        },
        "customKeys": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Custom keys set by the developer during the session.",
          "type": "object"
        },
        "device": {
          "$ref": "Device",
          "description": "Mobile device metadata."
        },
        "deviceOrientation": {
          "description": "Device orientation at the time of the crash (portrait or landscape).",
          "type": "string"
        },
        "errors": {
          "description": "Apple only. A non-fatal error captured by the iOS SDK and its stacktrace.",
          "items": {
            "$ref": "Error"
          },
          "type": "array"
        },
        "eventId": {
          "description": "Output only. Immutable. The unique event identifier is assigned during processing.",
          "readOnly": true,
          "type": "string"
        },
        "eventTime": {
          "description": "Device timestamp that the event was recorded.",
          "format": "google-datetime",
          "type": "string"
        },
        "exceptions": {
          "description": "Android and web only. Exceptions that occurred during this event. Nested exceptions are presented in reverse chronological order, so that the last record is the first exception thrown.",
          "items": {
            "$ref": "Exception"
          },
          "type": "array"
        },
        "installationUuid": {
          "description": "Unique identifier for the device-app installation. This field is used to compute the unique number of impacted users.",
          "type": "string"
        },
        "issue": {
          "$ref": "Issue",
          "description": "Details for the [Issue] assigned to this [Event]."
        },
        "issueSubtitle": {
          "description": "The subtitle of the issue in which the event was grouped. This is usually a symbol or an exception message.",
          "type": "string"
        },
        "issueTitle": {
          "description": "The title of the issue in which the event was grouped. This is usually a source file or method name.",
          "type": "string"
        },
        "issueVariant": {
          "$ref": "IssueVariant",
          "description": "Details for the [IssueVariant] assigned to this [Event]."
        },
        "logs": {
          "description": "Log messages recorded by the developer during the session.",
          "items": {
            "$ref": "Log"
          },
          "type": "array"
        },
        "memory": {
          "$ref": "Memory",
          "description": "Mobile device memory usage."
        },
        "name": {
          "description": "Required. Output only. Immutable. Identifier. The name of the event resource. Format: \"projects/{project}/apps/{app_id}/events/{event}\".",
          "readOnly": true,
          "type": "string"
        },
        "operatingSystem": {
          "$ref": "OperatingSystem",
          "description": "Operating system and version."
        },
        "platform": {
          "description": "ANDROID, IOS, or WEB.",
          "type": "string"
        },
        "processState": {
          "description": "The state of the app process at the time of the event.",
          "type": "string"
        },
        "receivedTime": {
          "description": "Server timestamp that the event was received by Crashlytics.",
          "format": "google-datetime",
          "type": "string"
        },
        "routePath": {
          "description": "Output only. Web only. The route path of the web application when the event occurred, excluding query parameters and fragment.",
          "readOnly": true,
          "type": "string"
        },
        "sessionId": {
          "description": "Unique identifier for the Firebase session.",
          "type": "string"
        },
        "storage": {
          "$ref": "Storage",
          "description": "Mobile device disk/flash usage."
        },
        "threads": {
          "description": "Application threads present at the time the event was recorded. Each contains a stacktrace. One thread will be blamed for the error.",
          "items": {
            "$ref": "Thread"
          },
          "type": "array"
        },
        "user": {
          "$ref": "User",
          "description": "End user identifiers for the device owner."
        },
        "version": {
          "$ref": "Version",
          "description": "Mobile application version."
        }
      },
      "type": "object"
    },
    "Exception": {
      "description": "A Java or Javascript exception and its stacktrace. Only from Android or web apps.",
      "id": "Exception",
      "properties": {
        "blamed": {
          "description": "True when the Crashlytics analysis has determined that this thread is where the fault occurred.",
          "type": "boolean"
        },
        "exceptionMessage": {
          "description": "A message associated with the exception.",
          "type": "string"
        },
        "frames": {
          "description": "The frames in the exception's stacktrace.",
          "items": {
            "$ref": "Frame"
          },
          "type": "array"
        },
        "nested": {
          "description": "True for all but the last-thrown exception (i.e. the first record).",
          "type": "boolean"
        },
        "subtitle": {
          "description": "The subtitle of the exception.",
          "type": "string"
        },
        "title": {
          "description": "The title of the exception.",
          "type": "string"
        },
        "type": {
          "description": "The exception type e.g. java.lang.IllegalStateException.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "FirebaseSessionEvent": {
      "description": "Sessions recorded by the Firebase App Quality Sessions SDK.",
      "id": "FirebaseSessionEvent",
      "properties": {
        "device": {
          "$ref": "Device",
          "description": "Mobile device metadata."
        },
        "eventTime": {
          "description": "The start timestamp for the session event.",
          "format": "google-datetime",
          "type": "string"
        },
        "eventType": {
          "description": "Session event type. The SDK only supports SESSION_START events at this time.",
          "enum": [
            "SESSION_EVENT_TYPE_UNKNOWN",
            "SESSION_START"
          ],
          "enumDescriptions": [
            "Unknown.",
            "Application session started."
          ],
          "type": "string"
        },
        "firebaseInstallationId": {
          "description": "Uniquely identifies a device with Firebase apps installed.",
          "type": "string"
        },
        "firstSessionId": {
          "description": "The identifier of the first session since the last cold start. This id and the session_id will be the same for app launches.",
          "type": "string"
        },
        "operatingSystem": {
          "$ref": "OperatingSystem",
          "description": "Operating system and version."
        },
        "sessionId": {
          "description": "Unique identifier for the Firebase session.",
          "type": "string"
        },
        "sessionIndex": {
          "description": "Indicates the number of sessions since the last cold start.",
          "format": "int32",
          "type": "integer"
        },
        "version": {
          "$ref": "Version",
          "description": "Mobile application version numbers."
        }
      },
      "type": "object"
    },
    "Frame": {
      "description": "A frame in a stacktrace.",
      "id": "Frame",
      "properties": {
        "address": {
          "description": "The address in the binary image which contains the code. Present for native frames.",
          "format": "int64",
          "type": "string"
        },
        "blamed": {
          "description": "True when the Crashlytics analysis has determined that this frame is likely to be the cause of the error.",
          "type": "boolean"
        },
        "column": {
          "description": "The column on the line.",
          "format": "int64",
          "type": "string"
        },
        "file": {
          "description": "The name of the source file in which the frame is found.",
          "type": "string"
        },
        "library": {
          "description": "The display name of the library that includes the frame.",
          "type": "string"
        },
        "line": {
          "description": "The line number in the file of the frame.",
          "format": "int64",
          "type": "string"
        },
        "offset": {
          "description": "The byte offset into the binary image that contains the code. Present for native frames.",
          "format": "int64",
          "type": "string"
        },
        "owner": {
          "description": "One of DEVELOPER, VENDOR, RUNTIME, PLATFORM, or SYSTEM.",
          "type": "string"
        },
        "symbol": {
          "description": "The frame symbol after it has been deobfuscated or symbolicated. The raw symbol from the device if it could not be hydrated.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "IntervalMetrics": {
      "description": "A set of computed metric values for a time interval",
      "id": "IntervalMetrics",
      "properties": {
        "endTime": {
          "description": "The end of the interval covered by the computation.",
          "format": "google-datetime",
          "type": "string"
        },
        "eventsCount": {
          "description": "The total count of events in the interval.",
          "format": "int64",
          "type": "string"
        },
        "impactedUsersCount": {
          "description": "The number of distinct users in the set of events.",
          "format": "int64",
          "type": "string"
        },
        "sessionsCount": {
          "description": "The number of distinct sessions in the set of events.",
          "format": "int64",
          "type": "string"
        },
        "startTime": {
          "description": "The start of the interval covered by the computation.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Issue": {
      "description": "An issue describes a set of similar events that have been analyzed by Crashlytics and grouped together. All events within an issue will be of the same error_type: crash, non-fatal exception or ANR. All events within an issue will contain similar stack traces in their blamed thread.",
      "id": "Issue",
      "properties": {
        "errorType": {
          "description": "Output only. Immutable. Indicates whether this issue is a crash, non-fatal exception, or ANR.",
          "enum": [
            "ERROR_TYPE_UNSPECIFIED",
            "FATAL",
            "NON_FATAL",
            "ANR"
          ],
          "enumDescriptions": [
            "Unknown.",
            "Fatal crash event.",
            "Non-fatal event, such as a caught Java exception or NSError on iOS.",
            "Application not responding error, Android only."
          ],
          "readOnly": true,
          "type": "string"
        },
        "firstSeenTime": {
          "description": "Output only. Immutable. The first time this issue was seen.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "firstSeenVersion": {
          "description": "Output only. Immutable. The first app display_version in which this issue was seen, populated for mobile issues only.",
          "readOnly": true,
          "type": "string"
        },
        "id": {
          "description": "Output only. Immutable. Unique identifier for the issue.",
          "readOnly": true,
          "type": "string"
        },
        "lastSeenTime": {
          "description": "Output only. The most recent time this issue was seen.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "lastSeenVersion": {
          "description": "Output only. The most recent app display_version in which this issue was seen, populated for mobile issues only.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Required. Output only. Immutable. Identifier. The name of the issue resource. Format: \"projects/{project}/apps/{app}/issues/{issue}\".",
          "readOnly": true,
          "type": "string"
        },
        "notesCount": {
          "description": "Output only. The number of notes attached to an issue.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "sampleEvent": {
          "description": "Output only. The resource name for a sample event in this issue.",
          "readOnly": true,
          "type": "string"
        },
        "signals": {
          "description": "Output only. Immutable. Distinctive characteristics assigned by the Crashlytics analyzer.",
          "items": {
            "$ref": "IssueSignals"
          },
          "readOnly": true,
          "type": "array"
        },
        "state": {
          "description": "Output only. Indicates whether this issue is open, closed or muted. For details on how issue states change without user actions, see [Regressed Issues](https://firebase.google.com/docs/crashlytics/troubleshooting?platform=ios#regressed-issues).",
          "enum": [
            "STATE_UNSPECIFIED",
            "OPEN",
            "CLOSED",
            "MUTED"
          ],
          "enumDescriptions": [
            "Unknown.",
            "Ongoing issue.",
            "Issue resolved.",
            "Issue muted. No alerts will be fired for this issue."
          ],
          "readOnly": true,
          "type": "string"
        },
        "stateUpdateTime": {
          "description": "Output only. The time at which the issue state was last changed.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "subtitle": {
          "description": "Output only. Immutable. Caption subtitle. This is usually a symbol or an exception message.",
          "readOnly": true,
          "type": "string"
        },
        "title": {
          "description": "Output only. Immutable. Caption title. This is usually a source file or method name.",
          "readOnly": true,
          "type": "string"
        },
        "uri": {
          "description": "Output only. Provides a link to the Issue on the Firebase console. When this Issue is obtained as part of a Report, then the link will be configured with the same time interval and filters as the request.",
          "readOnly": true,
          "type": "string"
        },
        "variants": {
          "description": "Output only. Immutable. The top 12 variants (subgroups) within the issue. Variants group events within an issue that are very similar. A single result implies that the variant is the same as the parent issue. This field will be empty when multiple issues are requested. Request a single issue to list variants.",
          "items": {
            "$ref": "IssueVariant"
          },
          "readOnly": true,
          "type": "array"
        }
      },
      "type": "object"
    },
    "IssueSignals": {
      "description": "Distinctive characteristics assigned by the Crashlytics analyzer.",
      "id": "IssueSignals",
      "properties": {
        "description": {
          "description": "Output only. Supporting detail information.",
          "readOnly": true,
          "type": "string"
        },
        "signal": {
          "description": "Output only. The signal name.",
          "enum": [
            "SIGNAL_UNSPECIFIED",
            "SIGNAL_EARLY",
            "SIGNAL_FRESH",
            "SIGNAL_REGRESSED",
            "SIGNAL_REPETITIVE"
          ],
          "enumDescriptions": [
            "Default.",
            "Indicates an issue that is impacting end users early in the app session.",
            "Indicates newly detected issues.",
            "Indicates previously closed issues which have been detected again.",
            "Indicates issues impacting some end users multiple times."
          ],
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "IssueVariant": {
      "description": "A variant is a subgroup of an issue where all events have very similar stack traces. Issues may contain one or more variants.",
      "id": "IssueVariant",
      "properties": {
        "id": {
          "description": "Output only. Immutable. Distinct identifier for the variant.",
          "readOnly": true,
          "type": "string"
        },
        "sampleEvent": {
          "description": "Output only. The resource name for a sample event in this variant.",
          "readOnly": true,
          "type": "string"
        },
        "uri": {
          "description": "Output only. Provides a link to the variant on the Firebase console. When this variant is obtained as part of a Report, then the link will be configured with the same time interval and filters as the request.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListEventsResponse": {
      "description": "Response message for the ListEvents method.",
      "id": "ListEventsResponse",
      "properties": {
        "events": {
          "description": "Returns one element per event, in descending order the by event timestamp.",
          "items": {
            "$ref": "Event"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A pagination token to retrieve the next page of events. The next page will have earlier or later events depending on the request's ordering. If this field is not present, there are no subsequent events.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListNotesResponse": {
      "description": "Response message for the ListNotes method.",
      "id": "ListNotesResponse",
      "properties": {
        "nextPageToken": {
          "description": "A pagination token to retrieve the next page of notes. If this field is not present, there are no subsequent notes.",
          "type": "string"
        },
        "notes": {
          "description": "Returns notes ordered descending by the timestamp.",
          "items": {
            "$ref": "Note"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "ListReportsResponse": {
      "description": "Response method for the ListReports method. The response will always include all of the available reports.",
      "id": "ListReportsResponse",
      "properties": {
        "reports": {
          "description": "The report objects returned will contain their names and usage instructions, but include no results. Use the `GetReport` method to run the report and obtain the paged results.",
          "items": {
            "$ref": "Report"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "Log": {
      "description": "Developer-provided log lines recorded during the session.",
      "id": "Log",
      "properties": {
        "logTime": {
          "description": "Device timestamp when the line was logged.",
          "format": "google-datetime",
          "type": "string"
        },
        "message": {
          "description": "Log message.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Memory": {
      "description": "Mobile device memory usage.",
      "id": "Memory",
      "properties": {
        "free": {
          "description": "Bytes free.",
          "format": "int64",
          "type": "string"
        },
        "used": {
          "description": "Bytes in use.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Note": {
      "description": "Developer notes for an issue.",
      "id": "Note",
      "properties": {
        "author": {
          "description": "Output only. The email of the author of the note.",
          "readOnly": true,
          "type": "string"
        },
        "body": {
          "description": "Immutable. The body of the note.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Time when the note was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Output only. Identifier. Format: \"projects/{project}/apps/app/issues/{issue}/notes/{note}\".",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "OperatingSystem": {
      "description": "Mobile device operating system metadata.",
      "id": "OperatingSystem",
      "properties": {
        "deviceType": {
          "description": "The device category (mobile, tablet, desktop).",
          "type": "string"
        },
        "displayName": {
          "description": "Name and version number. Formatted to be suitable for passing to OperatingSystemFilter.",
          "type": "string"
        },
        "displayVersion": {
          "description": "Operating system display version number.",
          "type": "string"
        },
        "modificationState": {
          "description": "Indicates if the OS has been modified or \"jailbroken\".",
          "type": "string"
        },
        "os": {
          "description": "Operating system name.",
          "type": "string"
        },
        "type": {
          "description": "The OS type on Apple platforms (iOS, iPadOS, etc.).",
          "type": "string"
        }
      },
      "type": "object"
    },
    "PlayTrack": {
      "description": "Describes a release track in the Play Developer Console.",
      "id": "PlayTrack",
      "properties": {
        "title": {
          "description": "User-generated or auto-generated name of the track. PROD and INTERNAL track types always have auto-generated names, e.g. \"prod\" and \"internal\" respectively. Tracks of type EARLY_ACCESS always have a user-generated name. Other track types do not have any guarantees, might have user-generated or auto-generated names.",
          "type": "string"
        },
        "type": {
          "description": "The type of track (prod, internal, etc...).",
          "enum": [
            "TRACK_TYPE_UNSPECIFIED",
            "TRACK_TYPE_PROD",
            "TRACK_TYPE_INTERNAL",
            "TRACK_TYPE_OPEN_TESTING",
            "TRACK_TYPE_CLOSED_TESTING",
            "TRACK_TYPE_EARLY_ACCESS"
          ],
          "enumDescriptions": [
            "Unknown.",
            "Production.",
            "Internal testing.",
            "Open testing.",
            "Closed testing.",
            "Early access."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "Report": {
      "description": "Response message for the GetReport method. A report consists of the results of a query over an application's events. The events may be filtered by various criteria defined in the filters proto. The result will consist of a number of paginated groups, of a type relevant to the report such as issues or device models.",
      "id": "Report",
      "properties": {
        "displayName": {
          "description": "Output only. The displayable title of the report.",
          "readOnly": true,
          "type": "string"
        },
        "groups": {
          "description": "Aggregate event statistics in the report will be grouped by a dimension, such as by issue or by version. The response contains one element per group, and all ReportGroup messages will have the same parent field.",
          "items": {
            "$ref": "ReportGroup"
          },
          "type": "array"
        },
        "name": {
          "description": "The name of the report. Format: \"projects/{project}/apps/{app_id}/reports/{report}\".",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Output only. A page token used to retrieve additional report groups. If this field is not present, there are no subsequent pages available to retrieve.",
          "readOnly": true,
          "type": "string"
        },
        "totalSize": {
          "description": "Output only. The total number of groups retrievable by the request.",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        },
        "usage": {
          "description": "Usage instructions for the report with a description of the result metrics. This field contains a description of the underlying query and describes the expected response data with any known caveats. This string can be displayed in the UI of any integration that offers comprehensive access to all Crashlytics reports.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ReportGroup": {
      "description": "A group of results in an EventReport. In any report, the group_parent field is strictly the same type for all of the groups in any collection.",
      "id": "ReportGroup",
      "properties": {
        "browser": {
          "$ref": "Browser",
          "description": "Browser metrics group."
        },
        "device": {
          "$ref": "Device",
          "description": "Device metrics group."
        },
        "issue": {
          "$ref": "Issue",
          "description": "Issue metrics group."
        },
        "metrics": {
          "description": "Scalar metrics will contain a single object covering the entire interval, while time-dimensioned graphs will contain one per time grain.",
          "items": {
            "$ref": "IntervalMetrics"
          },
          "type": "array"
        },
        "operatingSystem": {
          "$ref": "OperatingSystem",
          "description": "Operating system metrics group."
        },
        "subgroups": {
          "description": "When applicable, this field contains additional nested groupings. For example, events can be grouped by operating system and by operating system version.",
          "items": {
            "$ref": "ReportGroup"
          },
          "type": "array"
        },
        "variant": {
          "$ref": "IssueVariant",
          "description": "Issue variant metrics group."
        },
        "version": {
          "$ref": "Version",
          "description": "Version metrics group."
        },
        "webMetricsGroup": {
          "$ref": "WebMetricsGroup",
          "description": "Web metrics group."
        }
      },
      "type": "object"
    },
    "Storage": {
      "description": "Mobile device disk/flash usage. Not reported for all devices.",
      "id": "Storage",
      "properties": {
        "free": {
          "description": "Bytes free.",
          "format": "int64",
          "type": "string"
        },
        "used": {
          "description": "Bytes used.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Thread": {
      "description": "An application thread.",
      "id": "Thread",
      "properties": {
        "blamed": {
          "description": "True when the Crashlytics analysis has determined that the stacktrace in this thread is where the fault occurred.",
          "type": "boolean"
        },
        "crashAddress": {
          "description": "The address of the signal that caused the application to crash. Only present on crashed native threads.",
          "format": "int64",
          "type": "string"
        },
        "crashed": {
          "description": "True when the thread has crashed.",
          "type": "boolean"
        },
        "frames": {
          "description": "The frames in the thread's stacktrace.",
          "items": {
            "$ref": "Frame"
          },
          "type": "array"
        },
        "name": {
          "description": "The name of the thread.",
          "type": "string"
        },
        "queue": {
          "description": "The queue on which the thread was running.",
          "type": "string"
        },
        "signal": {
          "description": "The name of the signal that caused the app to crash. Only present on crashed native threads.",
          "type": "string"
        },
        "signalCode": {
          "description": "The code of the signal that caused the app to crash. Only present on crashed native threads.",
          "type": "string"
        },
        "subtitle": {
          "description": "The subtitle of the thread.",
          "type": "string"
        },
        "sysThreadId": {
          "description": "The system id of the thread, only available for ANR threads.",
          "format": "int64",
          "type": "string"
        },
        "threadId": {
          "description": "The id of the thread, only available for ANR threads.",
          "format": "int64",
          "type": "string"
        },
        "threadState": {
          "description": "Output only. The state of the thread at the time the ANR occurred.",
          "enum": [
            "STATE_UNSPECIFIED",
            "THREAD_STATE_TERMINATED",
            "THREAD_STATE_RUNNABLE",
            "THREAD_STATE_TIMED_WAITING",
            "THREAD_STATE_BLOCKED",
            "THREAD_STATE_WAITING",
            "THREAD_STATE_NEW",
            "THREAD_STATE_NATIVE_RUNNABLE",
            "THREAD_STATE_NATIVE_WAITING"
          ],
          "enumDescriptions": [
            "Thread state unspecified.",
            "Thread was terminated.",
            "Thread was runnable.",
            "Thread was waiting with a timeout.",
            "Thread was blocked.",
            "Thread was waiting.",
            "Thread was started, yet to run anything.",
            "The thread was native and we could not heuristically determine that it was was waiting, so assume it's runnable.",
            "We heuristically determined that the thread is waiting."
          ],
          "readOnly": true,
          "type": "string"
        },
        "title": {
          "description": "The title of the thread.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "UpdateIssueRequest": {
      "description": "Request message for the UpdateIssue method.",
      "id": "UpdateIssueRequest",
      "properties": {
        "issue": {
          "$ref": "Issue",
          "description": "Required. The issue to update. The issue's `name` field is used to identify the issue to update. Format: \"projects/{project}/apps/{app}/issues/{issue}\"."
        },
        "updateMask": {
          "description": "Optional. The list of Issue fields to update. Currently only \"state\" is mutable.",
          "format": "google-fieldmask",
          "type": "string"
        }
      },
      "type": "object"
    },
    "User": {
      "description": "Developer-provided end user identifiers.",
      "id": "User",
      "properties": {
        "id": {
          "description": "User id if provided by the app developer.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Version": {
      "description": "Application software version.",
      "id": "Version",
      "properties": {
        "buildVersion": {
          "description": "Mobile only. One display_version can have many build_version. On Android, strictly the same as \"version code\". On iOS, strictly the same as \"build number\" or CFBundleVersion.",
          "type": "string"
        },
        "displayName": {
          "description": "Compound readable string containing both display and build versions. Format: \"display_version (build_version)\" e.g. \"1.2.3 (456)\". This string can be used for filtering with the VersionFilter.display_name field.",
          "type": "string"
        },
        "displayVersion": {
          "description": "Readable version string, e.g. \"1.2.3\". On Android, strictly the same as \"version name\". On iOS, strictly the same as \"version number\" or CFBundleShortVersionString.",
          "type": "string"
        },
        "tracks": {
          "description": "Indicates releases which have artifacts that are currently available in the Play Store to the target audience of the track. Versions may be available in multiple tracks.",
          "items": {
            "$ref": "PlayTrack"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "WebMetricsGroup": {
      "description": "Represents a grouping for metrics specific to web applications.",
      "id": "WebMetricsGroup",
      "properties": {
        "id": {
          "description": "The id of the web metrics group",
          "type": "string"
        }
      },
      "type": "object"
    }
  },
  "servicePath": "",
  "title": "Firebase Crashlytics API",
  "version": "v1alpha",
  "version_module": true
}