{
  "basePath": "",
  "baseUrl": "https://gmailpostmastertools.googleapis.com/",
  "batchPath": "batch",
  "canonicalName": "Postmaster Tools",
  "description": "The Gmail Postmaster API is a RESTful API that provides programmatic access to email traffic metrics (like spam reports, delivery errors etc) otherwise available through the Gmail Postmaster Tools UI currently.",
  "discoveryVersion": "v1",
  "documentationLink": "https://developers.google.com/gmail/postmaster",
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "id": "gmailpostmastertools:v1beta1",
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://gmailpostmastertools.mtls.googleapis.com/",
  "name": "gmailpostmastertools",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "parameters": {
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "protocol": "rest",
  "resources": {
    "domains": {
      "methods": {
        "get": {
          "description": "Gets a specific domain registered by the client.\nReturns NOT_FOUND if the domain does not exist.",
          "flatPath": "v1beta1/domains/{domainsId}",
          "httpMethod": "GET",
          "id": "gmailpostmastertools.domains.get",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "description": "The resource name of the domain. It should have the form\n`domains/{domain_name}`, where domain_name is the fully qualified\ndomain name.",
              "location": "path",
              "pattern": "^domains/[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "path": "v1beta1/{+name}",
          "response": {
            "$ref": "Domain"
          }
        },
        "list": {
          "description": "Lists the domains that have been registered by the client. The order of\ndomains in the response is unspecified and non-deterministic. Newly created\ndomains will not necessarily be added to the end of this list.",
          "flatPath": "v1beta1/domains",
          "httpMethod": "GET",
          "id": "gmailpostmastertools.domains.list",
          "parameterOrder": [],
          "parameters": {
            "pageSize": {
              "description": "Requested page size. Server may return fewer domains than requested.\nIf unspecified, server will pick an appropriate default.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "pageToken": {
              "description": "The next_page_token value returned from a previous List request, if any.\nThis is the value of\nListDomainsResponse.next_page_token\nreturned from the previous call to `ListDomains` method.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "v1beta1/domains",
          "response": {
            "$ref": "ListDomainsResponse"
          }
        }
      },
      "resources": {
        "trafficStats": {
          "methods": {
            "get": {
              "description": "Get traffic statistics for a domain on a specific date.\nReturns PERMISSION_DENIED if user does not have permission to access\nTrafficStats for the domain.",
              "flatPath": "v1beta1/domains/{domainsId}/trafficStats/{trafficStatsId}",
              "httpMethod": "GET",
              "id": "gmailpostmastertools.domains.trafficStats.get",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "The resource name of the traffic statistics to get.\nE.g., domains/mymail.mydomain.com/trafficStats/20160807.",
                  "location": "path",
                  "pattern": "^domains/[^/]+/trafficStats/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1beta1/{+name}",
              "response": {
                "$ref": "TrafficStats"
              }
            },
            "list": {
              "description": "List traffic statistics for all available days.\nReturns PERMISSION_DENIED if user does not have permission to access\nTrafficStats for the domain.",
              "flatPath": "v1beta1/domains/{domainsId}/trafficStats",
              "httpMethod": "GET",
              "id": "gmailpostmastertools.domains.trafficStats.list",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "endDate.day": {
                  "description": "Day of month. Must be from 1 to 31 and valid for the year and month, or 0\nif specifying a year by itself or a year and month where the day is not\nsignificant.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "endDate.month": {
                  "description": "Month of year. Must be from 1 to 12, or 0 if specifying a year without a\nmonth and day.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "endDate.year": {
                  "description": "Year of date. Must be from 1 to 9999, or 0 if specifying a date without\na year.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageSize": {
                  "description": "Requested page size. Server may return fewer TrafficStats than\nrequested. If unspecified, server will pick an appropriate default.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "The next_page_token value returned from a previous List request, if any.\nThis is the value of\nListTrafficStatsResponse.next_page_token\nreturned from the previous call to `ListTrafficStats` method.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "description": "The resource name of the domain whose traffic statistics we'd like to list.\nIt should have the form `domains/{domain_name}`, where domain_name is\nthe fully qualified domain name.",
                  "location": "path",
                  "pattern": "^domains/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "startDate.day": {
                  "description": "Day of month. Must be from 1 to 31 and valid for the year and month, or 0\nif specifying a year by itself or a year and month where the day is not\nsignificant.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "startDate.month": {
                  "description": "Month of year. Must be from 1 to 12, or 0 if specifying a year without a\nmonth and day.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "startDate.year": {
                  "description": "Year of date. Must be from 1 to 9999, or 0 if specifying a date without\na year.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                }
              },
              "path": "v1beta1/{+parent}/trafficStats",
              "response": {
                "$ref": "ListTrafficStatsResponse"
              }
            }
          }
        }
      }
    }
  },
  "revision": "20200708",
  "rootUrl": "https://gmailpostmastertools.googleapis.com/",
  "schemas": {
    "DeliveryError": {
      "description": "Metric on a particular delivery error type.",
      "id": "DeliveryError",
      "properties": {
        "errorClass": {
          "description": "The class of delivery error.",
          "enum": [
            "DELIVERY_ERROR_CLASS_UNSPECIFIED",
            "PERMANENT_ERROR",
            "TEMPORARY_ERROR"
          ],
          "enumDescriptions": [
            "The default value which should never be used explicitly.",
            "Delivery of message has been rejected.",
            "Temporary failure of message delivery to the recipient."
          ],
          "type": "string"
        },
        "errorRatio": {
          "description": "The ratio of messages where the error occurred vs all authenticated\ntraffic.",
          "format": "double",
          "type": "number"
        },
        "errorType": {
          "description": "The type of delivery error.",
          "enum": [
            "DELIVERY_ERROR_TYPE_UNSPECIFIED",
            "RATE_LIMIT_EXCEEDED",
            "SUSPECTED_SPAM",
            "CONTENT_SPAMMY",
            "BAD_ATTACHMENT",
            "BAD_DMARC_POLICY",
            "LOW_IP_REPUTATION",
            "LOW_DOMAIN_REPUTATION",
            "IP_IN_RBL",
            "DOMAIN_IN_RBL",
            "BAD_PTR_RECORD"
          ],
          "enumDescriptions": [
            "The default value which should never be used explicitly.",
            "The Domain or IP is sending traffic at a suspiciously high rate, due to\nwhich temporary rate limits have been imposed. The limit will be lifted\nwhen Gmail is confident enough of the nature of the traffic.",
            "The traffic is suspected to be spam, by Gmail, for various reasons.",
            "The traffic is suspected to be spammy, specific to the content.",
            "Traffic contains attachments not supported by Gmail.",
            "The sender domain has set up a DMARC rejection policy.",
            "The IP reputation of the sending IP is very low.",
            "The Domain reputation of the sending domain is very low.",
            "The IP is listed in one or more public\n[Real-time Blackhole Lists](http://en.wikipedia.org/wiki/DNSBL). Work with\nthe RBL to get your IP delisted.",
            "The Domain is listed in one or more public\n[Real-time Blackhole Lists](http://en.wikipedia.org/wiki/DNSBL). Work with\nthe RBL to get your domain delisted.",
            "The sending IP is missing a\n[PTR record](https://support.google.com/domains/answer/3251147#ptr)."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "Domain": {
      "description": "A registered domain resource in the Postmaster API.",
      "id": "Domain",
      "properties": {
        "createTime": {
          "description": "Timestamp when the user registered this domain. Assigned by\nthe server.",
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "description": "The resource name of the Domain.\nDomain names have the form `domains/{domain_name}`, where domain_name\nis the fully qualified domain name (i.e.,  mymail.mydomain.com).",
          "type": "string"
        },
        "permission": {
          "description": "User’s permission for this domain. Assigned by the server.",
          "enum": [
            "PERMISSION_UNSPECIFIED",
            "OWNER",
            "READER",
            "NONE"
          ],
          "enumDescriptions": [
            "The default value and should never be used explicitly.",
            "User has read access to the domain and can share access with others.",
            "User has read access to the domain.",
            "User doesn't have permission to access information about the domain. User\ndid not verify ownership of domain nor was access granted by other domain\nowners."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "FeedbackLoop": {
      "description": "[Feedback loop](https://support.google.com/mail/answer/6254652) identifier\ninformation.",
      "id": "FeedbackLoop",
      "properties": {
        "id": {
          "description": "Feedback loop identifier that uniquely identifies individual campaigns.",
          "type": "string"
        },
        "spamRatio": {
          "description": "The ratio of user marked spam messages with the identifier vs the total\nnumber of inboxed messages with that identifier.",
          "format": "double",
          "type": "number"
        }
      },
      "type": "object"
    },
    "IpReputation": {
      "description": "IP Reputation information for a set of IPs in a specific reputation category.",
      "id": "IpReputation",
      "properties": {
        "numIps": {
          "description": "Total number of unique IPs in this reputation category. This metric only\npertains to traffic that passed [SPF](http://www.openspf.org/) or\n[DKIM](http://www.dkim.org/).",
          "format": "int64",
          "type": "string"
        },
        "reputation": {
          "description": "The reputation category this IP reputation represents.",
          "enum": [
            "REPUTATION_CATEGORY_UNSPECIFIED",
            "HIGH",
            "MEDIUM",
            "LOW",
            "BAD"
          ],
          "enumDescriptions": [
            "The default value which should never be used explicitly. This represents\nthe state where no reputation information is available.",
            "Has a good track record of a very low spam rate, and complies with Gmail's\nsender guidelines. Mail will rarely be marked by the spam filter.",
            "Known to send good mail, but is prone to sending a low volume of spam\nintermittently. Most of the email from this entity will have a fair\ndeliverability rate, except when there is a notable increase in spam\nlevels.",
            "Known to send a considerable volume of spam regularly, and mail from this\nsender will likely be marked as spam.",
            "History of sending an enormously high volume of spam. Mail coming from this\nentity will almost always be rejected at SMTP level or marked as spam."
          ],
          "type": "string"
        },
        "sampleIps": {
          "description": "A sample of IPs in this reputation category.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "ListDomainsResponse": {
      "description": "Response message for ListDomains.",
      "id": "ListDomainsResponse",
      "properties": {
        "domains": {
          "description": "The list of domains.",
          "items": {
            "$ref": "Domain"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no\nmore results in the list.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListTrafficStatsResponse": {
      "description": "Response message for ListTrafficStats.",
      "id": "ListTrafficStatsResponse",
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no\nmore results in the list.",
          "type": "string"
        },
        "trafficStats": {
          "description": "The list of TrafficStats.",
          "items": {
            "$ref": "TrafficStats"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "TrafficStats": {
      "description": "Email traffic statistics pertaining to a specific date.",
      "id": "TrafficStats",
      "properties": {
        "deliveryErrors": {
          "description": "Delivery errors for the domain. This metric only pertains to traffic that\npassed [SPF](http://www.openspf.org/) or [DKIM](http://www.dkim.org/).",
          "items": {
            "$ref": "DeliveryError"
          },
          "type": "array"
        },
        "dkimSuccessRatio": {
          "description": "The ratio of mail that successfully authenticated with DKIM vs. all mail\nthat attempted to authenticate with [DKIM](http://www.dkim.org/). Spoofed\nmail is excluded.",
          "format": "double",
          "type": "number"
        },
        "dmarcSuccessRatio": {
          "description": "The ratio of mail that passed [DMARC](https://dmarc.org/) alignment checks\nvs all mail received from the domain that successfully authenticated with\neither of [SPF](http://www.openspf.org/) or [DKIM](http://www.dkim.org/).",
          "format": "double",
          "type": "number"
        },
        "domainReputation": {
          "description": "Reputation of the domain.",
          "enum": [
            "REPUTATION_CATEGORY_UNSPECIFIED",
            "HIGH",
            "MEDIUM",
            "LOW",
            "BAD"
          ],
          "enumDescriptions": [
            "The default value which should never be used explicitly. This represents\nthe state where no reputation information is available.",
            "Has a good track record of a very low spam rate, and complies with Gmail's\nsender guidelines. Mail will rarely be marked by the spam filter.",
            "Known to send good mail, but is prone to sending a low volume of spam\nintermittently. Most of the email from this entity will have a fair\ndeliverability rate, except when there is a notable increase in spam\nlevels.",
            "Known to send a considerable volume of spam regularly, and mail from this\nsender will likely be marked as spam.",
            "History of sending an enormously high volume of spam. Mail coming from this\nentity will almost always be rejected at SMTP level or marked as spam."
          ],
          "type": "string"
        },
        "inboundEncryptionRatio": {
          "description": "The ratio of incoming mail (to Gmail), that passed secure transport (TLS)\nvs all mail received from that domain. This metric only pertains to traffic\nthat passed [SPF](http://www.openspf.org/) or [DKIM](http://www.dkim.org/).",
          "format": "double",
          "type": "number"
        },
        "ipReputations": {
          "description": "Reputation information pertaining to the IP addresses of the email servers\nfor the domain. There is exactly one entry for each reputation category\nexcept\nREPUTATION_CATEGORY_UNSPECIFIED.",
          "items": {
            "$ref": "IpReputation"
          },
          "type": "array"
        },
        "name": {
          "description": "The resource name of the traffic statistics. Traffic statistic names have\nthe form `domains/{domain}/trafficStats/{date}`, where\ndomain_name is the fully qualified domain name (i.e.,  mymail.mydomain.com)\nof the domain this traffic statistics pertains to and date is the date in\nyyyymmdd format that these statistics corresponds to.\nFor example: domains/mymail.mydomain.com/trafficStats/20160807",
          "type": "string"
        },
        "outboundEncryptionRatio": {
          "description": "The ratio of outgoing mail (from Gmail) that was accepted over secure\ntransport (TLS).",
          "format": "double",
          "type": "number"
        },
        "spammyFeedbackLoops": {
          "description": "Spammy [Feedback loop identifiers]\n(https://support.google.com/mail/answer/6254652) with their individual spam\nrates. This metric only pertains to traffic that is authenticated by\n[DKIM](http://www.dkim.org/).",
          "items": {
            "$ref": "FeedbackLoop"
          },
          "type": "array"
        },
        "spfSuccessRatio": {
          "description": "The ratio of mail that successfully authenticated with SPF vs. all mail\nthat attempted to authenticate with [SPF](http://www.openspf.org/). Spoofed\nmail is excluded.",
          "format": "double",
          "type": "number"
        },
        "userReportedSpamRatio": {
          "description": "The ratio of user-report spam vs. email that was sent to the inbox. This\nmetric only pertains to emails authenticated by\n[DKIM](http://www.dkim.org/).",
          "format": "double",
          "type": "number"
        }
      },
      "type": "object"
    }
  },
  "servicePath": "",
  "title": "Gmail Postmaster Tools API",
  "version": "v1beta1",
  "version_module": true
}