{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/googlehealth.activity_and_fitness.readonly": {
          "description": "See your Google Health activity and fitness data"
        },
        "https://www.googleapis.com/auth/googlehealth.health_metrics_and_measurements.readonly": {
          "description": "See your Google Health health metrics and measurement data"
        },
        "https://www.googleapis.com/auth/googlehealth.irn.readonly": {
          "description": "See your Google Health Irregular Rhythm Notifications data"
        },
        "https://www.googleapis.com/auth/googlehealth.location.readonly": {
          "description": "See exercise GPS location data in Google Health"
        },
        "https://www.googleapis.com/auth/googlehealth.profile.readonly": {
          "description": "See your Google Health profile data"
        },
        "https://www.googleapis.com/auth/googlehealth.settings.readonly": {
          "description": "See your Google Health settings"
        },
        "https://www.googleapis.com/auth/googlehealth.sleep.readonly": {
          "description": "See your Google Health sleep data"
        }
      }
    }
  },
  "basePath": "",
  "baseUrl": "https://health.googleapis.com/",
  "batchPath": "batch",
  "canonicalName": "Google Health API",
  "description": "The Google Health API lets you view and manage health and fitness metrics and measurement data.",
  "discoveryVersion": "v1",
  "documentationLink": "https://developers.google.com/health",
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "id": "health:v4",
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://health.mtls.googleapis.com/",
  "name": "health",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "parameters": {
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "protocol": "rest",
  "resources": {
    "projects": {
      "resources": {
        "subscribers": {
          "methods": {
            "create": {
              "description": "Registers a new subscriber endpoint to receive notifications. A subscriber represents an application or service that wishes to receive data change notifications for users who have granted consent. **Endpoint Verification:** For a subscriber to be successfully created, the provided `endpoint_uri` must be a valid HTTPS endpoint and must pass an automated verification check. The backend will send two HTTP POST requests to the `endpoint_uri`: 1. **Verification with Authorization:** * **Headers:** Includes `Content-Type: application/json` and `Authorization` (with the exact value from `CreateSubscriberPayload.endpoint_authorization.secret`). * **Body:** `{\"type\": \"verification\"}` * **Expected Response:** HTTP `201 Created`. 2. **Verification without Authorization:** * **Headers:** Includes `Content-Type: application/json`. The `Authorization` header is OMITTED. * **Body:** `{\"type\": \"verification\"}` * **Expected Response:** HTTP `401 Unauthorized` or `403 Forbidden`. Both tests must pass for the subscriber creation to succeed. If verification fails, the operation will not be completed and an error will be returned. This process ensures the endpoint is reachable and correctly validates the `Authorization` header.",
              "flatPath": "v4/projects/{projectsId}/subscribers",
              "httpMethod": "POST",
              "id": "health.projects.subscribers.create",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "description": "Required. The parent resource where this subscriber will be created. Format: projects/{project} Example: projects/my-project-123",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "subscriberId": {
                  "description": "Optional. The ID to use for the subscriber, which will become the final component of the subscriber's resource name. This value should be 4-36 characters, and valid characters are /[a-z]([a-z0-9-]{2,34}[a-z0-9])/.",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v4/{+parent}/subscribers",
              "request": {
                "$ref": "CreateSubscriberPayload"
              },
              "response": {
                "$ref": "Operation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "delete": {
              "description": "Deletes a subscriber registration. This will stop all notifications to the subscriber's endpoint.",
              "flatPath": "v4/projects/{projectsId}/subscribers/{subscribersId}",
              "httpMethod": "DELETE",
              "id": "health.projects.subscribers.delete",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "force": {
                  "description": "Optional. If set to true, any child resources (e.g., subscriptions) will also be deleted. If false (default) and child resources exist, the request will fail.",
                  "location": "query",
                  "type": "boolean"
                },
                "name": {
                  "description": "Required. The name of the subscriber to delete. Format: projects/{project}/subscribers/{subscriber} Example: projects/my-project/subscribers/my-subscriber-123 The {subscriber} ID is user-settable (4-36 characters, matching /[a-z]([a-z0-9-]{2,34}[a-z0-9])/) or system-generated if not provided during creation.",
                  "location": "path",
                  "pattern": "^projects/[^/]+/subscribers/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v4/{+name}",
              "response": {
                "$ref": "Operation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "description": "Lists all subscribers registered within the owned Google Cloud Project.",
              "flatPath": "v4/projects/{projectsId}/subscribers",
              "httpMethod": "GET",
              "id": "health.projects.subscribers.list",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "pageSize": {
                  "description": "Optional. The maximum number of subscribers to return. The service may return fewer than this value. If unspecified, at most 50 subscribers will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "Optional. A page token, received from a previous `ListSubscribers` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListSubscribers` must match the call that provided the page token.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "description": "Required. The parent, which owns this collection of subscribers. Format: projects/{project}",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v4/{+parent}/subscribers",
              "response": {
                "$ref": "ListSubscribersResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "patch": {
              "description": "Updates the configuration of an existing subscriber, such as the endpoint URI or the data types it's interested in. **Endpoint Verification:** If the `endpoint_uri` or `endpoint_authorization` field is included in the `update_mask`, the backend will re-verify the endpoint. The verification process is the same as described in `CreateSubscriber`: 1. **Verification with Authorization:** POST to the new or existing `endpoint_uri` with the new or existing `Authorization` secret. Expects HTTP `201 Created`. 2. **Verification without Authorization:** POST to the `endpoint_uri` without the `Authorization` header. Expects HTTP `401 Unauthorized` or `403 Forbidden`. Both tests must pass using the potentially updated values for the subscriber update to succeed. If verification fails, the update will not be applied, and an error will be returned.",
              "flatPath": "v4/projects/{projectsId}/subscribers/{subscribersId}",
              "httpMethod": "PATCH",
              "id": "health.projects.subscribers.patch",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Identifier. The resource name of the Subscriber. Format: projects/{project}/subscribers/{subscriber} The {project} ID is a Google Cloud Project ID or Project Number. The {subscriber} ID is user-settable (4-36 characters, matching /[a-z]([a-z0-9-]{2,34}[a-z0-9])/) if provided during creation, or system-generated otherwise (e.g., a UUID). Example (User-settable subscriber ID): projects/my-project/subscribers/my-sub-123 Example (System-generated subscriber ID): projects/my-project/subscribers/a1b2c3d4-e5f6-7890-1234-567890abcdef",
                  "location": "path",
                  "pattern": "^projects/[^/]+/subscribers/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "updateMask": {
                  "description": "Optional. A field mask that specifies which fields of the Subscriber message are to be updated. This allows for partial updates. Supported fields: - endpoint_uri - subscriber_configs - endpoint_authorization",
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v4/{+name}",
              "request": {
                "$ref": "Subscriber"
              },
              "response": {
                "$ref": "Operation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          },
          "resources": {
            "subscriptions": {
              "methods": {
                "create": {
                  "description": "Creates a subscription for a specific user to a specific subscriber. This method requires the subscriber to have a `SubscriptionCreatePolicy` set to `MANUAL` for the given data types.",
                  "flatPath": "v4/projects/{projectsId}/subscribers/{subscribersId}/subscriptions",
                  "httpMethod": "POST",
                  "id": "health.projects.subscribers.subscriptions.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent subscriber. Format: projects/{project}/subscribers/{subscriber} The {subscriber} ID is user-settable (4-36 characters, matching /[a-z]([a-z0-9-]{2,34}[a-z0-9])/) if provided during creation, or system-generated otherwise.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/subscribers/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "subscriptionId": {
                      "description": "Optional. The {subscription_id} is user-settable (4-36 chars, matching /[a-z]([a-z0-9-]{2,34}[a-z0-9])/) or system-generated otherwise. If provided, the ID must be unique within the parent subscriber.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v4/{+parent}/subscriptions",
                  "request": {
                    "$ref": "CreateSubscriptionPayload"
                  },
                  "response": {
                    "$ref": "Subscription"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "description": "Deletes a specific user subscription, stopping notifications for this user to this subscriber.",
                  "flatPath": "v4/projects/{projectsId}/subscribers/{subscribersId}/subscriptions/{subscriptionsId}",
                  "httpMethod": "DELETE",
                  "id": "health.projects.subscribers.subscriptions.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name of the subscription to delete. Format: `projects/{project}/subscribers/{subscriber}/subscriptions/{subscription}` Example: `projects/my-project/subscribers/my-subscriber-123/subscriptions/my-subscription-456` The {subscriber} ID is user-settable (4-36 characters, matching /[a-z]([a-z0-9-]{2,34}[a-z0-9])/) if provided during creation, or system-generated otherwise. The {subscription} ID is user-settable (4-36 characters, matching /[a-z]([a-z0-9-]{2,34}[a-z0-9])/) or system-generated if not provided during creation.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/subscribers/[^/]+/subscriptions/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v4/{+name}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "description": "Lists all active subscriptions for a given subscriber. This can be filtered, for example, by user or data type.",
                  "flatPath": "v4/projects/{projectsId}/subscribers/{subscribersId}/subscriptions",
                  "httpMethod": "GET",
                  "id": "health.projects.subscribers.subscriptions.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "filter": {
                      "description": "Optional. A filter to apply to the list of subscriptions. The filter syntax is described in https://google.aip.dev/160. The filter can be applied to the following fields: - `user` - `data_type` The `user` identifier (e.g., `user1` in `users/user1`) refers to the public `healthUserId` Example: user = \"users/user1\" Example: user = \"users/user1\" OR user = \"users/user2\" Example: user = \"users/user1\" AND (data_type = \"sleep\" OR data_type = \"weight\")",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Optional. The maximum number of subscriptions to return. The service may return fewer than this value. If unspecified, at most 50 subscriptions will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous `ListSubscriptions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListSubscriptions` must match the call that provided the page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. The parent subscriber. Format: projects/{project}/subscribers/{subscriber} The {subscriber} ID is user-settable (4-36 characters, matching /[a-z]([a-z0-9-]{2,34}[a-z0-9])/) if provided during creation, or system-generated otherwise.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/subscribers/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v4/{+parent}/subscriptions",
                  "response": {
                    "$ref": "ListSubscriptionsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "patch": {
                  "description": "Updates the data types for an existing user subscription.",
                  "flatPath": "v4/projects/{projectsId}/subscribers/{subscribersId}/subscriptions/{subscriptionsId}",
                  "httpMethod": "PATCH",
                  "id": "health.projects.subscribers.subscriptions.patch",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Identifier. The resource name of the Subscription. Format: `projects/{project}/subscribers/{subscriber}/subscriptions/{subscription}` Example: `projects/my-project/subscribers/my-subscriber-123/subscriptions/my-subscription-456` The {project} ID is mandatory (6-30 characters, matching /a-z{6,30}/) The {subscriber} ID is user-settable (4-36 characters, matching /[a-z]([a-z0-9-]{2,34}[a-z0-9])/) if provided during creation, or system-generated otherwise. The {subscription} ID is user-settable (4-36 chars, matching /[a-z]([a-z0-9-]{2,34}[a-z0-9])/) or system-generated otherwise.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/subscribers/[^/]+/subscriptions/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "updateMask": {
                      "description": "Optional. The list of fields to update.",
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v4/{+name}",
                  "request": {
                    "$ref": "Subscription"
                  },
                  "response": {
                    "$ref": "Subscription"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "users": {
      "methods": {
        "getIdentity": {
          "description": "Gets the user's identity. It includes the legacy Fitbit user ID and the Google user ID and it can be used by migrating clients to map identifiers between the two systems.",
          "flatPath": "v4/users/{usersId}/identity",
          "httpMethod": "GET",
          "id": "health.users.getIdentity",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "description": "Required. The resource name of the Identity. Format: `users/me/identity`",
              "location": "path",
              "pattern": "^users/[^/]+/identity$",
              "required": true,
              "type": "string"
            }
          },
          "path": "v4/{+name}",
          "response": {
            "$ref": "Identity"
          },
          "scopes": [
            "https://www.googleapis.com/auth/googlehealth.activity_and_fitness.readonly",
            "https://www.googleapis.com/auth/googlehealth.health_metrics_and_measurements.readonly",
            "https://www.googleapis.com/auth/googlehealth.profile.readonly",
            "https://www.googleapis.com/auth/googlehealth.settings.readonly",
            "https://www.googleapis.com/auth/googlehealth.sleep.readonly"
          ]
        },
        "getIrnProfile": {
          "description": "Returns user's IRN Profile details.",
          "flatPath": "v4/users/{usersId}/irnProfile",
          "httpMethod": "GET",
          "id": "health.users.getIrnProfile",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "description": "Required. The resource name of the IRN Profile. Format: `users/{user}/irnProfile` Example: `users/1234567890/irnProfile` or `users/me/irnProfile` The {user} ID is a system-generated Google Health API user ID, a string of 1-63 characters consisting of lowercase and uppercase letters, numbers, and hyphens. The literal `me` can also be used to refer to the authenticated user.",
              "location": "path",
              "pattern": "^users/[^/]+/irnProfile$",
              "required": true,
              "type": "string"
            }
          },
          "path": "v4/{+name}",
          "response": {
            "$ref": "IrnProfile"
          },
          "scopes": [
            "https://www.googleapis.com/auth/googlehealth.irn.readonly"
          ]
        },
        "getProfile": {
          "description": "Returns user Profile details.",
          "flatPath": "v4/users/{usersId}/profile",
          "httpMethod": "GET",
          "id": "health.users.getProfile",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "description": "Required. The name of the Profile. Format: `users/me/profile`.",
              "location": "path",
              "pattern": "^users/[^/]+/profile$",
              "required": true,
              "type": "string"
            }
          },
          "path": "v4/{+name}",
          "response": {
            "$ref": "Profile"
          },
          "scopes": [
            "https://www.googleapis.com/auth/googlehealth.profile.readonly"
          ]
        },
        "getSettings": {
          "description": "Returns user settings details.",
          "flatPath": "v4/users/{usersId}/settings",
          "httpMethod": "GET",
          "id": "health.users.getSettings",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "description": "Required. The name of the Settings. Format: `users/me/settings`.",
              "location": "path",
              "pattern": "^users/[^/]+/settings$",
              "required": true,
              "type": "string"
            }
          },
          "path": "v4/{+name}",
          "response": {
            "$ref": "Settings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/googlehealth.settings.readonly"
          ]
        },
        "updateProfile": {
          "description": "Updates the user's profile details.",
          "flatPath": "v4/users/{usersId}/profile",
          "httpMethod": "PATCH",
          "id": "health.users.updateProfile",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "description": "Identifier. The resource name of this Profile resource. Format: `users/{user}/profile` Example: `users/1234567890/profile` or `users/me/profile` The {user} ID is a system-generated Google Health API user ID, a string of 1-63 characters consisting of lowercase and uppercase letters, numbers, and hyphens. The literal `me` can also be used to refer to the authenticated user.",
              "location": "path",
              "pattern": "^users/[^/]+/profile$",
              "required": true,
              "type": "string"
            },
            "updateMask": {
              "description": "Optional. The list of fields to be updated.",
              "format": "google-fieldmask",
              "location": "query",
              "type": "string"
            }
          },
          "path": "v4/{+name}",
          "request": {
            "$ref": "Profile"
          },
          "response": {
            "$ref": "Profile"
          }
        },
        "updateSettings": {
          "description": "Updates the user's settings details.",
          "flatPath": "v4/users/{usersId}/settings",
          "httpMethod": "PATCH",
          "id": "health.users.updateSettings",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "description": "Identifier. The resource name of this Settings resource. Format: `users/{user}/settings` Example: `users/1234567890/settings` or `users/me/settings` The {user} ID is a system-generated Google Health API user ID, a string of 1-63 characters consisting of lowercase and uppercase letters, numbers, and hyphens. The literal `me` can also be used to refer to the authenticated user.",
              "location": "path",
              "pattern": "^users/[^/]+/settings$",
              "required": true,
              "type": "string"
            },
            "updateMask": {
              "description": "Optional. The list of fields to be updated.",
              "format": "google-fieldmask",
              "location": "query",
              "type": "string"
            }
          },
          "path": "v4/{+name}",
          "request": {
            "$ref": "Settings"
          },
          "response": {
            "$ref": "Settings"
          }
        }
      },
      "resources": {
        "dataTypes": {
          "resources": {
            "dataPoints": {
              "methods": {
                "batchDelete": {
                  "description": "Delete a batch of identifyable data points.",
                  "flatPath": "v4/users/{usersId}/dataTypes/{dataTypesId}/dataPoints:batchDelete",
                  "httpMethod": "POST",
                  "id": "health.users.dataTypes.dataPoints.batchDelete",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "Optional. Parent (data type) for the Data Point collection Format: `users/me/dataTypes/{data_type}`, e.g.: - `users/me/dataTypes/steps` - `users/me/dataTypes/-` For a list of the supported data types see the DataPoint data union field. Deleting data points across multiple data type collections is supported following https://aip.dev/159. If this is set, the parent of all of the data points specified in `names` must match this field.",
                      "location": "path",
                      "pattern": "^users/[^/]+/dataTypes/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v4/{+parent}/dataPoints:batchDelete",
                  "request": {
                    "$ref": "BatchDeleteDataPointsRequest"
                  },
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "create": {
                  "description": "Creates a single identifiable data point.",
                  "flatPath": "v4/users/{usersId}/dataTypes/{dataTypesId}/dataPoints",
                  "httpMethod": "POST",
                  "id": "health.users.dataTypes.dataPoints.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent resource name where the data point will be created. Format: `users/{user}/dataTypes/{data_type}`",
                      "location": "path",
                      "pattern": "^users/[^/]+/dataTypes/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v4/{+parent}/dataPoints",
                  "request": {
                    "$ref": "DataPoint"
                  },
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "dailyRollUp": {
                  "description": "Roll up data points over civil time intervals for supported data types.",
                  "flatPath": "v4/users/{usersId}/dataTypes/{dataTypesId}/dataPoints:dailyRollUp",
                  "httpMethod": "POST",
                  "id": "health.users.dataTypes.dataPoints.dailyRollUp",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "Required. Parent data type of the Data Point collection. Format: `users/{user}/dataTypes/{data_type}`, e.g.: - `users/me/dataTypes/steps` - `users/me/dataTypes/distance` For a list of the supported data types see the DailyRollupDataPoint value union field.",
                      "location": "path",
                      "pattern": "^users/[^/]+/dataTypes/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v4/{+parent}/dataPoints:dailyRollUp",
                  "request": {
                    "$ref": "DailyRollUpDataPointsRequest"
                  },
                  "response": {
                    "$ref": "DailyRollUpDataPointsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/googlehealth.activity_and_fitness.readonly",
                    "https://www.googleapis.com/auth/googlehealth.health_metrics_and_measurements.readonly",
                    "https://www.googleapis.com/auth/googlehealth.location.readonly",
                    "https://www.googleapis.com/auth/googlehealth.sleep.readonly"
                  ]
                },
                "exportExerciseTcx": {
                  "description": "Exports exercise data in TCX format. **IMPORTANT:** HTTP clients must append `?alt=media` to the request URL to download the raw TCX file. Example: `https://health.googleapis.com/v4/users/me/dataTypes/exercise/dataPoints/EXERCISE_ID:exportExerciseTcx?alt=media` Without `alt=media`, the server returns a JSON response (`ExportExerciseTcxResponse`) which is intended primarily for gRPC clients. **Note:** While the Authorization section below states that any one of the listed scopes is accepted, this specific method requires the user to provide both one of the `activity_and_fitness` scopes (`normal` or `readonly`) AND one of the `location` scopes (`normal` or `readonly`) in their access token to succeed.",
                  "flatPath": "v4/users/{usersId}/dataTypes/{dataTypesId}/dataPoints/{dataPointsId}:exportExerciseTcx",
                  "httpMethod": "GET",
                  "id": "health.users.dataTypes.dataPoints.exportExerciseTcx",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name of the exercise data point to export. Format: `users/{user}/dataTypes/exercise/dataPoints/{data_point}` Example: `users/me/dataTypes/exercise/dataPoints/2026443605080188808` The `{user}` is the alias `\"me\"` currently. Future versions may support user IDs. The `{data_point}` ID maps to the exercise ID, which is a long integer.",
                      "location": "path",
                      "pattern": "^users/[^/]+/dataTypes/[^/]+/dataPoints/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "partialData": {
                      "description": "Optional. Indicates whether to include the TCX data points when the GPS data is not available. If not specified, defaults to `false` and partial data will not be included.",
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "path": "v4/{+name}:exportExerciseTcx",
                  "response": {
                    "$ref": "ExportExerciseTcxResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/googlehealth.activity_and_fitness.readonly",
                    "https://www.googleapis.com/auth/googlehealth.location.readonly"
                  ],
                  "supportsMediaDownload": true,
                  "useMediaDownloadService": true
                },
                "get": {
                  "description": "Get a single identifyable data point.",
                  "flatPath": "v4/users/{usersId}/dataTypes/{dataTypesId}/dataPoints/{dataPointsId}",
                  "httpMethod": "GET",
                  "id": "health.users.dataTypes.dataPoints.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the data point to retrieve. Format: `users/{user}/dataTypes/{data_type}/dataPoints/{data_point}` See DataPoint.name for examples and possible values.",
                      "location": "path",
                      "pattern": "^users/[^/]+/dataTypes/[^/]+/dataPoints/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v4/{+name}",
                  "response": {
                    "$ref": "DataPoint"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/googlehealth.activity_and_fitness.readonly",
                    "https://www.googleapis.com/auth/googlehealth.health_metrics_and_measurements.readonly",
                    "https://www.googleapis.com/auth/googlehealth.location.readonly",
                    "https://www.googleapis.com/auth/googlehealth.sleep.readonly"
                  ]
                },
                "list": {
                  "description": "Query user health and fitness data points.",
                  "flatPath": "v4/users/{usersId}/dataTypes/{dataTypesId}/dataPoints",
                  "httpMethod": "GET",
                  "id": "health.users.dataTypes.dataPoints.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "filter": {
                      "description": "Optional. Filter expression following https://google.aip.dev/160. A time range (either physical or civil) can be specified. The supported filter fields are: - Interval start time: - Pattern: `{interval_data_type}.interval.start_time` - Supported comparison operators: `>=`, `<` - Timestamp literal expected in RFC-3339 format - Supported logical operators: `AND` - Example: - `steps.interval.start_time >= \"2023-11-24T00:00:00Z\" AND steps.interval.start_time < \"2023-11-25T00:00:00Z\"` - `distance.interval.start_time >= \"2024-08-14T12:34:56Z\"` - Interval civil start time: - Pattern: `{interval_data_type}.interval.civil_start_time` - Supported comparison operators: `>=`, `<` - Date with optional time literal expected in ISO 8601 `YYYY-MM-DD[THH:mm:ss]` format - Supported logical operators: `AND` - Example: - `steps.interval.civil_start_time >= \"2023-11-24\" AND steps.interval.civil_start_time < \"2023-11-25\"` - `distance.interval.civil_start_time >= \"2024-08-14T12:34:56\"` - Sample observation physical time: - Pattern: `{sample_data_type}.sample_time.physical_time` - Supported comparison operators: `>=`, `<` - Timestamp literal expected in RFC-3339 format - Supported logical operators: `AND` - Example: - `weight.sample_time.physical_time >= \"2023-11-24T00:00:00Z\" AND weight.sample_time.physical_time < \"2023-11-25T00:00:00Z\"` - `weight.sample_time.physical_time >= \"2024-08-14T12:34:56Z\"` - Sample observation civil time: - Pattern: `{sample_data_type}.sample_time.civil_time` - Supported comparison operators: `>=`, `<` - Date with optional time literal expected in ISO 8601 `YYYY-MM-DD[THH:mm:ss]` format - Supported logical operators: `AND` - Example: - `weight.sample_time.civil_time >= \"2023-11-24\" AND weight.sample_time.civil_time < \"2023-11-25\"` - `weight.sample_time.civil_time >= \"2024-08-14T12:34:56\"` - Daily summary date: - Pattern: `{daily_summary_data_type}.date` - Supported comparison operators: `>=`, `<` - Date literal expected in ISO 8601 `YYYY-MM-DD` format - Supported logical operators: `AND` - Example: - `daily_heart_rate_variability.date < \"2024-08-15\"` - Session civil start time (**Excluding Sleep and ECG**): - Pattern: `{session_data_type}.interval.civil_start_time` - Supported comparison operators: `>=`, `<` - Date with optional time literal expected in ISO 8601 `YYYY-MM-DD[THH:mm:ss]` format - Supported logical operators: `AND` - Example: - `exercise.interval.civil_start_time >= \"2023-11-24\" AND exercise.interval.civil_start_time < \"2023-11-25\"` - `exercise.interval.civil_start_time >= \"2024-08-14T12:34:56\"` - Session start time (**ECG specific**): - Pattern: `electrocardiogram.interval.start_time` - Supported comparison operators: `>=` - Timestamp literal expected in RFC-3339 format - Example: - `electrocardiogram.interval.start_time >= \"2024-08-14T12:34:56Z\"` - Note: Only filtering by start time is supported for ECG. Filtering by end time (e.g., `electrocardiogram.interval.end_time`) is not supported. - Session end time (**Sleep specific**): - Pattern: `sleep.interval.end_time` - Supported comparison operators: `>=`, `<` - Timestamp literal expected in RFC-3339 format - Supported logical operators: `AND`, `OR` - Example: - `sleep.interval.end_time >= \"2023-11-24T00:00:00Z\" AND sleep.interval.end_time < \"2023-11-25T00:00:00Z\"` - Session civil end time (**Sleep specific**): - Pattern: `sleep.interval.civil_end_time` - Supported comparison operators: `>=`, `<` - Date with optional time literal expected in ISO 8601 `YYYY-MM-DD[THH:mm:ss]` format - Supported logical operators: `AND`, `OR` - Example: - `sleep.interval.civil_end_time >= \"2023-11-24\" AND sleep.interval.civil_end_time < \"2023-11-25\"` Data points in the response will be ordered by the interval start time in descending order.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Optional. The maximum number of data points to return. If unspecified, at most 1440 data points will be returned. The maximum page size is 10000; values above that will be truncated accordingly. For `exercise` and `sleep` the default page size is 25. The maximum page size for `exercise` and `sleep` is 25.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "description": "Optional. The `next_page_token` from a previous request, if any.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. Parent data type of the Data Point collection. Format: `users/me/dataTypes/{data_type}`, e.g.: - `users/me/dataTypes/steps` - `users/me/dataTypes/weight` For a list of the supported data types see the DataPoint data union field.",
                      "location": "path",
                      "pattern": "^users/[^/]+/dataTypes/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v4/{+parent}/dataPoints",
                  "response": {
                    "$ref": "ListDataPointsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/googlehealth.activity_and_fitness.readonly",
                    "https://www.googleapis.com/auth/googlehealth.health_metrics_and_measurements.readonly",
                    "https://www.googleapis.com/auth/googlehealth.location.readonly",
                    "https://www.googleapis.com/auth/googlehealth.sleep.readonly"
                  ]
                },
                "patch": {
                  "description": "Updates a single identifiable data point. If a data point with the specified `name` is not found, the request will fail.",
                  "flatPath": "v4/users/{usersId}/dataTypes/{dataTypesId}/dataPoints/{dataPointsId}",
                  "httpMethod": "PATCH",
                  "id": "health.users.dataTypes.dataPoints.patch",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Identifier. Data point name, only supported for the subset of identifiable data types. For the majority of the data types, individual data points do not need to be identified and this field would be empty. Format: `users/{user}/dataTypes/{data_type}/dataPoints/{data_point}` Example: `users/abcd1234/dataTypes/sleep/dataPoints/a1b2c3d4-e5f6-7890-1234-567890abcdef` The `{user}` ID is a system-generated identifier, as described in Identity.health_user_id. The `{data_type}` ID corresponds to the kebab-case version of the field names in the DataPoint data union field, e.g. `total-calories` for the `total_calories` field. The `{data_point}` ID can be client-provided or system-generated. If client-provided, it must be a string of 4-63 characters, containing only lowercase letters, numbers, and hyphens.",
                      "location": "path",
                      "pattern": "^users/[^/]+/dataTypes/[^/]+/dataPoints/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v4/{+name}",
                  "request": {
                    "$ref": "DataPoint"
                  },
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "reconcile": {
                  "description": "Reconcile data points from multiple data sources into a single data stream.",
                  "flatPath": "v4/users/{usersId}/dataTypes/{dataTypesId}/dataPoints:reconcile",
                  "httpMethod": "GET",
                  "id": "health.users.dataTypes.dataPoints.reconcile",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "dataSourceFamily": {
                      "description": "Optional. The data source family name to reconcile. If empty, data points from all data sources will be reconciled. Format: `users/me/dataSourceFamilies/{data_source_family}` The supported values are: - `users/me/dataSourceFamilies/all-sources` - default value - `users/me/dataSourceFamilies/google-wearables` - tracker devices - `users/me/dataSourceFamilies/google-sources` - Google first party sources",
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "description": "Optional. Filter expression based on https://aip.dev/160. A time range, either physical or civil, can be specified. See the ListDataPointsRequest.filter for the supported fields and syntax.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Optional. The maximum number of data points to return. If unspecified, at most 1440 data points will be returned. The maximum page size is 10000; values above that will be truncated accordingly. For `exercise` and `sleep` the default page size is 25. The maximum page size for `exercise` and `sleep` is 25.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "description": "Optional. The `next_page_token` from a previous request, if any.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. Parent data type of the Data Point collection. Format: `users/me/dataTypes/{data_type}`, e.g.: - `users/me/dataTypes/steps` - `users/me/dataTypes/heart-rate` For a list of the supported data types see the DataPoint data union field.",
                      "location": "path",
                      "pattern": "^users/[^/]+/dataTypes/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v4/{+parent}/dataPoints:reconcile",
                  "response": {
                    "$ref": "ReconcileDataPointsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/googlehealth.activity_and_fitness.readonly",
                    "https://www.googleapis.com/auth/googlehealth.health_metrics_and_measurements.readonly",
                    "https://www.googleapis.com/auth/googlehealth.location.readonly",
                    "https://www.googleapis.com/auth/googlehealth.sleep.readonly"
                  ]
                },
                "rollUp": {
                  "description": "Roll up data points over physical time intervals for supported data types.",
                  "flatPath": "v4/users/{usersId}/dataTypes/{dataTypesId}/dataPoints:rollUp",
                  "httpMethod": "POST",
                  "id": "health.users.dataTypes.dataPoints.rollUp",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "Required. Parent data type of the Data Point collection. Format: `users/{user}/dataTypes/{data_type}`, e.g.: - `users/me/dataTypes/steps` - `users/me/dataTypes/distance` For a list of the supported data types see the RollupDataPoint value union field.",
                      "location": "path",
                      "pattern": "^users/[^/]+/dataTypes/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v4/{+parent}/dataPoints:rollUp",
                  "request": {
                    "$ref": "RollUpDataPointsRequest"
                  },
                  "response": {
                    "$ref": "RollUpDataPointsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/googlehealth.activity_and_fitness.readonly",
                    "https://www.googleapis.com/auth/googlehealth.health_metrics_and_measurements.readonly",
                    "https://www.googleapis.com/auth/googlehealth.location.readonly",
                    "https://www.googleapis.com/auth/googlehealth.sleep.readonly"
                  ]
                }
              }
            }
          }
        },
        "pairedDevices": {
          "methods": {
            "get": {
              "description": "Returns user's Device.",
              "flatPath": "v4/users/{usersId}/pairedDevices/{pairedDevicesId}",
              "httpMethod": "GET",
              "id": "health.users.pairedDevices.get",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. The name of the device to retrieve. Format: users/{user}/devices/{device}",
                  "location": "path",
                  "pattern": "^users/[^/]+/pairedDevices/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v4/{+name}",
              "response": {
                "$ref": "PairedDevice"
              },
              "scopes": [
                "https://www.googleapis.com/auth/googlehealth.settings.readonly"
              ]
            },
            "list": {
              "description": "Returns the user's list of paired 1P trackers and smartwatches.",
              "flatPath": "v4/users/{usersId}/pairedDevices",
              "httpMethod": "GET",
              "id": "health.users.pairedDevices.list",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "pageSize": {
                  "description": "Optional. The maximum number of devices to return. The service may return fewer than this value. If unspecified, at most 5 devices will be returned. The maximum value is 100. values above 100 will be coerced to 100.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "Optional. A page token, received from a previous `ListPairedDevices` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListPairedDevices` must match the call that provided the page token.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "description": "Required. The parent, which owns this collection of devices. Format: users/{user}",
                  "location": "path",
                  "pattern": "^users/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v4/{+parent}/pairedDevices",
              "response": {
                "$ref": "ListPairedDevicesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/googlehealth.settings.readonly"
              ]
            }
          }
        }
      }
    }
  },
  "revision": "20260525",
  "rootUrl": "https://health.googleapis.com/",
  "schemas": {
    "ActiveEnergyBurned": {
      "description": "Energy burned as part of an activity, excluding the basal energy burn.",
      "id": "ActiveEnergyBurned",
      "properties": {
        "interval": {
          "$ref": "ObservationTimeInterval",
          "description": "Required. Observed interval"
        },
        "kcal": {
          "description": "Required. Energy burned during an activity, measured in kilocalories.",
          "format": "double",
          "type": "number"
        }
      },
      "type": "object"
    },
    "ActiveEnergyBurnedRollupValue": {
      "description": "Represents the result of the rollup of active energy burned.",
      "id": "ActiveEnergyBurnedRollupValue",
      "properties": {
        "kcalSum": {
          "description": "Output only. Sum of the active energy burned in kilocalories.",
          "format": "double",
          "readOnly": true,
          "type": "number"
        }
      },
      "type": "object"
    },
    "ActiveMinutes": {
      "description": "Record of active minutes in a given time interval.",
      "id": "ActiveMinutes",
      "properties": {
        "activeMinutesByActivityLevel": {
          "description": "Required. Active minutes by activity level. At most one record per activity level is allowed.",
          "items": {
            "$ref": "ActiveMinutesByActivityLevel"
          },
          "type": "array"
        },
        "interval": {
          "$ref": "ObservationTimeInterval",
          "description": "Required. Observed interval."
        }
      },
      "type": "object"
    },
    "ActiveMinutesByActivityLevel": {
      "description": "Active minutes at a given activity level.",
      "id": "ActiveMinutesByActivityLevel",
      "properties": {
        "activeMinutes": {
          "description": "Required. Number of whole minutes spent in activity.",
          "format": "int64",
          "type": "string"
        },
        "activityLevel": {
          "description": "Required. The level of activity.",
          "enum": [
            "ACTIVITY_LEVEL_UNSPECIFIED",
            "LIGHT",
            "MODERATE",
            "VIGOROUS"
          ],
          "enumDescriptions": [
            "Activity level is unspecified.",
            "Light activity level.",
            "Moderate activity level.",
            "Vigorous activity level."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "ActiveMinutesRollupByActivityLevel": {
      "description": "Active minutes by activity level.",
      "id": "ActiveMinutesRollupByActivityLevel",
      "properties": {
        "activeMinutesSum": {
          "description": "Number of whole minutes spent in activity.",
          "format": "int64",
          "type": "string"
        },
        "activityLevel": {
          "description": "The level of activity.",
          "enum": [
            "ACTIVITY_LEVEL_UNSPECIFIED",
            "LIGHT",
            "MODERATE",
            "VIGOROUS"
          ],
          "enumDescriptions": [
            "Activity level is unspecified.",
            "Light activity level.",
            "Moderate activity level.",
            "Vigorous activity level."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "ActiveMinutesRollupValue": {
      "description": "Represents the result of the rollup of the active minutes data type.",
      "id": "ActiveMinutesRollupValue",
      "properties": {
        "activeMinutesRollupByActivityLevel": {
          "description": "Active minutes by activity level. At most one record per activity level is allowed.",
          "items": {
            "$ref": "ActiveMinutesRollupByActivityLevel"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "ActiveZoneMinutes": {
      "description": "Record of active zone minutes in a given time interval.",
      "id": "ActiveZoneMinutes",
      "properties": {
        "activeZoneMinutes": {
          "description": "Required. Number of Active Zone Minutes earned in the given time interval. Note: active_zone_minutes equals to 1 for low intensity (fat burn) zones or 2 for high intensity zones (cardio, peak).",
          "format": "int64",
          "type": "string"
        },
        "heartRateZone": {
          "description": "Required. Heart rate zone in which the active zone minutes have been earned, in the given time interval.",
          "enum": [
            "HEART_RATE_ZONE_UNSPECIFIED",
            "FAT_BURN",
            "CARDIO",
            "PEAK"
          ],
          "enumDescriptions": [
            "Unspecified heart rate zone.",
            "The fat burn heart rate zone.",
            "The cardio heart rate zone.",
            "The peak heart rate zone."
          ],
          "type": "string"
        },
        "interval": {
          "$ref": "ObservationTimeInterval",
          "description": "Required. Observed interval."
        }
      },
      "type": "object"
    },
    "ActiveZoneMinutesRollupValue": {
      "description": "Represents the result of the rollup of the active zone minutes data type.",
      "id": "ActiveZoneMinutesRollupValue",
      "properties": {
        "sumInCardioHeartZone": {
          "description": "Active zone minutes in `HeartRateZone.CARDIO`.",
          "format": "int64",
          "type": "string"
        },
        "sumInFatBurnHeartZone": {
          "description": "Active zone minutes in `HeartRateZone.FAT_BURN`.",
          "format": "int64",
          "type": "string"
        },
        "sumInPeakHeartZone": {
          "description": "Active zone minutes in `HeartRateZone.PEAK`.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ActivityLevel": {
      "description": "Internal type to capture activity level during a certain time interval.",
      "id": "ActivityLevel",
      "properties": {
        "activityLevelType": {
          "description": "Required. Activity level type in the given time interval.",
          "enum": [
            "ACTIVITY_LEVEL_TYPE_UNSPECIFIED",
            "SEDENTARY",
            "LIGHTLY_ACTIVE",
            "MODERATELY_ACTIVE",
            "VERY_ACTIVE"
          ],
          "enumDescriptions": [
            "Unspecified activity level type.",
            "Sedentary activity level.",
            "Lightly active activity level.",
            "Moderately active activity level.",
            "Very active activity level."
          ],
          "type": "string"
        },
        "interval": {
          "$ref": "ObservationTimeInterval",
          "description": "Required. Observed interval."
        }
      },
      "type": "object"
    },
    "ActivityLevelRollupByActivityLevelType": {
      "description": "Represents the total duration in a specific activity level type.",
      "id": "ActivityLevelRollupByActivityLevelType",
      "properties": {
        "activityLevelType": {
          "description": "Activity level type.",
          "enum": [
            "ACTIVITY_LEVEL_TYPE_UNSPECIFIED",
            "SEDENTARY",
            "LIGHTLY_ACTIVE",
            "MODERATELY_ACTIVE",
            "VERY_ACTIVE"
          ],
          "enumDescriptions": [
            "Unspecified activity level type.",
            "Sedentary activity level.",
            "Lightly active activity level.",
            "Moderately active activity level.",
            "Very active activity level."
          ],
          "type": "string"
        },
        "totalDuration": {
          "description": "Total duration in the activity level type.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ActivityLevelRollupValue": {
      "description": "Represents the result of the rollup of the activity level data type.",
      "id": "ActivityLevelRollupValue",
      "properties": {
        "activityLevelRollupsByActivityLevelType": {
          "description": "List of total durations in each activity level type.",
          "items": {
            "$ref": "ActivityLevelRollupByActivityLevelType"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "AlertWindow": {
      "description": "An analysis window evaluated for AFib. Note: The current version of the algorithm will only produce alerts if all windows are positive. So anything returned from the API will always have the positive bit set to true. Internally, windows can be negative, however. We never save \"inconclusive\" windows (they aren't produced by the algorithm).",
      "id": "AlertWindow",
      "properties": {
        "civilEndTime": {
          "$ref": "CivilDateTime",
          "description": "Output only. Observed interval end time in civil time in the timezone the subject is in at the end of the observed interval",
          "readOnly": true
        },
        "civilStartTime": {
          "$ref": "CivilDateTime",
          "description": "Output only. Observed interval start time in civil time in the timezone the subject is in at the start of the observed interval",
          "readOnly": true
        },
        "endTime": {
          "description": "Required. The end time of the analysis window.",
          "format": "google-datetime",
          "type": "string"
        },
        "endUtcOffset": {
          "description": "Required. The UTC offset of the user's timezone when the analysis window ended.",
          "format": "google-duration",
          "type": "string"
        },
        "heartBeats": {
          "description": "Optional. All heart beats in the interval contained in this analysis window.",
          "items": {
            "$ref": "HeartBeat"
          },
          "type": "array"
        },
        "positive": {
          "description": "Optional. Flag indicating whether the window was positive for AFib or not. A `true` value indicates that AFib was detected in this window. A `false` value means AFib was not detected, but does not guarantee the absence of AFib.",
          "type": "boolean"
        },
        "startTime": {
          "description": "Required. Observed interval. The start time of the analysis window.",
          "format": "google-datetime",
          "type": "string"
        },
        "startUtcOffset": {
          "description": "Required. The UTC offset of the user's timezone when the analysis window started.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Altitude": {
      "description": "Captures the altitude gain (i.e. deltas), and not level above sea, for a user in millimeters.",
      "id": "Altitude",
      "properties": {
        "gainMillimeters": {
          "description": "Required. Altitude gain in millimeters over the observed interval.",
          "format": "int64",
          "type": "string"
        },
        "interval": {
          "$ref": "ObservationTimeInterval",
          "description": "Required. Observed interval."
        }
      },
      "type": "object"
    },
    "AltitudeRollupValue": {
      "description": "Represents the result of the rollup of the user's altitude.",
      "id": "AltitudeRollupValue",
      "properties": {
        "gainMillimetersSum": {
          "description": "Sum of the altitude gain in millimeters.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Application": {
      "description": "Optional metadata for the application that provided this data.",
      "id": "Application",
      "properties": {
        "googleWebClientId": {
          "description": "Output only. The Google OAuth 2.0 client ID of the web application or service that recorded the data. This is the client ID used during the Google OAuth flow to obtain user credentials. This field is system-populated when the data is uploaded from Google Web API.",
          "readOnly": true,
          "type": "string"
        },
        "packageName": {
          "description": "Output only. A unique identifier for the mobile application that was the source of the data. This is typically the application's package name on Android (e.g., `com.google.fitbit`) or the bundle ID on iOS. This field is informational and helps trace data origin. This field is system-populated when the data is uploaded from the Fitbit mobile application, Health Connect or Health Kit.",
          "readOnly": true,
          "type": "string"
        },
        "webClientId": {
          "description": "Output only. The client ID of the application that recorded the data. This ID is a legacy Fitbit API client ID, which is different from a Google OAuth client ID. Example format: `ABC123`. This field is system-populated and used for tracing data from legacy Fitbit API integrations. This field is system-populated when the data is uploaded from a legacy Fitbit API integration.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "BasalEnergyBurned": {
      "description": "Number of calories burned due to basal metabolic rate (BMR) over a period of time.",
      "id": "BasalEnergyBurned",
      "properties": {
        "interval": {
          "$ref": "ObservationTimeInterval",
          "description": "Required. Observed interval."
        },
        "kcal": {
          "description": "Required. Number of calories burned due to basal metabolic rate in kilocalories over the observed interval.",
          "format": "double",
          "type": "number"
        }
      },
      "type": "object"
    },
    "BatchDeleteDataPointsRequest": {
      "description": "Request to delete a batch of identifiable data points.",
      "id": "BatchDeleteDataPointsRequest",
      "properties": {
        "names": {
          "description": "Required. The names of the DataPoints to delete. A maximum of 10000 data points can be deleted in a single request.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "BloodGlucose": {
      "description": "Represents a blood glucose level measurement. LINT: LEGACY_NAMES",
      "id": "BloodGlucose",
      "properties": {
        "bloodGlucoseMilligramsPerDeciliter": {
          "description": "Required. Blood glucose level concentration in mg/dL.",
          "format": "double",
          "type": "number"
        },
        "mealType": {
          "description": "Optional. Meal type of the measurement.",
          "enum": [
            "MEAL_TYPE_UNSPECIFIED",
            "BREAKFAST",
            "LUNCH",
            "DINNER",
            "SNACK"
          ],
          "enumDescriptions": [
            "Unspecified meal type.",
            "Breakfast.",
            "Lunch.",
            "Dinner.",
            "Snack."
          ],
          "type": "string"
        },
        "measurementSource": {
          "description": "Optional. Source of the measurement.",
          "enum": [
            "MEASUREMENT_SOURCE_UNSPECIFIED",
            "SELF_MONITORING_BLOOD_GLUCOSE",
            "CONTINUOUS_GLUCOSE_MONITORING",
            "LAB_TEST"
          ],
          "enumDescriptions": [
            "Unspecified measurement source.",
            "Self-monitoring of blood glucose (Blood glucose meter)",
            "Continuous glucose monitoring device",
            "Laboratory test"
          ],
          "type": "string"
        },
        "measurementTiming": {
          "description": "Optional. Timing of the measurement.",
          "enum": [
            "MEASUREMENT_TIMING_UNSPECIFIED",
            "AFTER_MEAL",
            "BEFORE_MEAL",
            "FASTING",
            "GENERAL",
            "BEFORE_BED",
            "OVER_NIGHT"
          ],
          "enumDescriptions": [
            "Unspecified measurement timing.",
            "Measurement taken after meal.",
            "Measurement taken before meal.",
            "Measurement taken while fasting.",
            "General measurement (not associated with a meal or time of day).",
            "Measurement taken before bed.",
            "Measurement taken over night."
          ],
          "type": "string"
        },
        "notes": {
          "description": "Optional. Standard free-form notes captured at manual logging.",
          "type": "string"
        },
        "sampleTime": {
          "$ref": "ObservationSampleTime",
          "description": "Required. The time at which blood glucose was measured."
        },
        "specimen": {
          "description": "Optional. Type of body fluid used to measure the blood glucose.",
          "enum": [
            "SPECIMEN_UNSPECIFIED",
            "CAPILLARY_BLOOD",
            "INTERSTITIAL_FLUID",
            "PLASMA",
            "SERUM",
            "TEARS",
            "WHOLE_BLOOD"
          ],
          "enumDescriptions": [
            "Unspecified specimen.",
            "Capillary blood.",
            "Interstitial fluid.",
            "Plasma.",
            "Serum.",
            "Tears.",
            "Whole blood."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "BloodGlucoseRollupValue": {
      "description": "Represents the result of the rollup of the blood glucose data type. LINT: LEGACY_NAMES",
      "id": "BloodGlucoseRollupValue",
      "properties": {
        "bloodGlucoseMilligramsPerDeciliterAvg": {
          "description": "Average blood glucose level in mg/dL.",
          "format": "double",
          "type": "number"
        }
      },
      "type": "object"
    },
    "BodyFat": {
      "description": "Body fat measurement.",
      "id": "BodyFat",
      "properties": {
        "percentage": {
          "description": "Required. Body fat percentage, in range [0, 100].",
          "format": "double",
          "type": "number"
        },
        "sampleTime": {
          "$ref": "ObservationSampleTime",
          "description": "Required. The time at which body fat was measured."
        }
      },
      "type": "object"
    },
    "BodyFatRollupValue": {
      "description": "Represents the result of the rollup of the body fat data type.",
      "id": "BodyFatRollupValue",
      "properties": {
        "bodyFatPercentageAvg": {
          "description": "Average body fat percentage.",
          "format": "double",
          "type": "number"
        }
      },
      "type": "object"
    },
    "CaloriesInHeartRateZoneRollupValue": {
      "description": "Represents the result of the rollup of the calories in heart rate zone data type.",
      "id": "CaloriesInHeartRateZoneRollupValue",
      "properties": {
        "caloriesInHeartRateZones": {
          "description": "List of calories burned in each heart rate zone.",
          "items": {
            "$ref": "CaloriesInHeartRateZoneValue"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "CaloriesInHeartRateZoneValue": {
      "description": "Represents the amount of kilocalories burned in a specific heart rate zone.",
      "id": "CaloriesInHeartRateZoneValue",
      "properties": {
        "heartRateZone": {
          "description": "The heart rate zone.",
          "enum": [
            "HEART_RATE_ZONE_TYPE_UNSPECIFIED",
            "LIGHT",
            "MODERATE",
            "VIGOROUS",
            "PEAK"
          ],
          "enumDescriptions": [
            "Unspecified heart rate zone.",
            "The light heart rate zone.",
            "The moderate heart rate zone.",
            "The vigorous heart rate zone.",
            "The peak heart rate zone."
          ],
          "type": "string"
        },
        "kcal": {
          "description": "The amount of kilocalories burned in the specified heart rate zone.",
          "format": "double",
          "type": "number"
        }
      },
      "type": "object"
    },
    "CivilDateTime": {
      "description": "Civil time representation similar to google.type.DateTime, but ensures that neither the timezone nor the UTC offset can be set to avoid confusion between civil and physical time queries.",
      "id": "CivilDateTime",
      "properties": {
        "date": {
          "$ref": "Date",
          "description": "Required. Calendar date."
        },
        "time": {
          "$ref": "TimeOfDay",
          "description": "Optional. Time of day. Defaults to the start of the day, at midnight if omitted."
        }
      },
      "type": "object"
    },
    "CivilTimeInterval": {
      "description": "Counterpart of google.type.Interval, but using CivilDateTime.",
      "id": "CivilTimeInterval",
      "properties": {
        "end": {
          "$ref": "CivilDateTime",
          "description": "Required. The exclusive end of the range."
        },
        "start": {
          "$ref": "CivilDateTime",
          "description": "Required. The inclusive start of the range."
        }
      },
      "type": "object"
    },
    "CoreBodyTemperature": {
      "description": "Core body temperature measurement, distinct from peripheral body temperature, reflects the temperature of the body's internal organs.",
      "id": "CoreBodyTemperature",
      "properties": {
        "id": {
          "description": "Optional. The unique identifier of the core body temperature measurement.",
          "type": "string"
        },
        "measurementLocation": {
          "description": "Optional. The location of the core body temperature measurement.",
          "enum": [
            "MEASUREMENT_LOCATION_UNSPECIFIED",
            "OTHER",
            "ARMPIT",
            "BODY",
            "EAR",
            "FINGER",
            "GASTRO_INTESTINAL",
            "MOUTH",
            "RECTUM",
            "TOE",
            "EAR_DRUM",
            "TEMPORAL_ARTERY",
            "FOREHEAD",
            "URINARY_BLADDER",
            "NASAL",
            "NASOPHARYNGEAL",
            "WRIST",
            "VAGINA"
          ],
          "enumDescriptions": [
            "Measurement location is unspecified.",
            "Other measurement location.",
            "Armpit measurement location.",
            "Body measurement location.",
            "Ear measurement location.",
            "Finger measurement location.",
            "Gastro-intestinal measurement location.",
            "Mouth measurement location.",
            "Rectum measurement location.",
            "Toe measurement location.",
            "Ear drum measurement location.",
            "Temporal artery measurement location.",
            "Forehead measurement location.",
            "Urinary bladder measurement location.",
            "Nasal measurement location.",
            "Nasopharyngeal measurement location.",
            "Wrist measurement location.",
            "Vagina measurement location."
          ],
          "type": "string"
        },
        "sampleTime": {
          "$ref": "ObservationSampleTime",
          "description": "Required. The time at which core body temperature was measured."
        },
        "temperatureCelsius": {
          "description": "Required. The core body temperature in Celsius.",
          "format": "double",
          "type": "number"
        }
      },
      "type": "object"
    },
    "CoreBodyTemperatureRollupValue": {
      "description": "Represents the result of the rollup of the core body temperature data type.",
      "id": "CoreBodyTemperatureRollupValue",
      "properties": {
        "temperatureCelsiusAvg": {
          "description": "Average core body temperature in Celsius.",
          "format": "double",
          "type": "number"
        },
        "temperatureCelsiusMax": {
          "description": "Maximum core body temperature in Celsius.",
          "format": "double",
          "type": "number"
        },
        "temperatureCelsiusMin": {
          "description": "Minimum core body temperature in Celsius.",
          "format": "double",
          "type": "number"
        }
      },
      "type": "object"
    },
    "CreateSubscriberPayload": {
      "description": "Payload for creating a subscriber.",
      "id": "CreateSubscriberPayload",
      "properties": {
        "endpointAuthorization": {
          "$ref": "EndpointAuthorization",
          "description": "Required. Authorization mechanism for the subscriber endpoint. The `secret` within this message is crucial for endpoint verification and for securing webhook notifications."
        },
        "endpointUri": {
          "description": "Required. The full HTTPS URI where update notifications will be sent. The URI must be a valid URL and use HTTPS as the scheme. This endpoint will be verified during the `CreateSubscriber` call. See CreateSubscriber RPC documentation for verification details.",
          "type": "string"
        },
        "subscriberConfigs": {
          "description": "Optional. Configuration for the subscriber.",
          "items": {
            "$ref": "SubscriberConfig"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "CreateSubscriptionPayload": {
      "description": "Payload for creating a subscription.",
      "id": "CreateSubscriptionPayload",
      "properties": {
        "dataTypes": {
          "description": "Optional. Data types subscribed to.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "user": {
          "description": "Required. Immutable. The resource name of the user for whom this subscription is active. Format: `users/{user}` where `{user}` is the public `healthUserId` as returned by the `GetIdentity` action in the profile PAPI (see `google.devicesandservices.health.v4main.HealthProfileService.GetIdentity`).",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DailyHeartRateVariability": {
      "description": "Represents the daily heart rate variability data type. At least one of the following fields must be set: - `average_heart_rate_variability_milliseconds` - `non_rem_heart_rate_beats_per_minute` - `entropy` - `deep_sleep_root_mean_square_of_successive_differences_milliseconds`",
      "id": "DailyHeartRateVariability",
      "properties": {
        "averageHeartRateVariabilityMilliseconds": {
          "description": "Optional. A user's average heart rate variability calculated using the root mean square of successive differences (RMSSD) in times between heartbeats.",
          "format": "double",
          "type": "number"
        },
        "date": {
          "$ref": "Date",
          "description": "Required. Date (in the user's timezone) of heart rate variability measurement."
        },
        "deepSleepRootMeanSquareOfSuccessiveDifferencesMilliseconds": {
          "description": "Optional. The root mean square of successive differences (RMSSD) value during deep sleep.",
          "format": "double",
          "type": "number"
        },
        "entropy": {
          "description": "Optional. The Shanon entropy of heartbeat intervals. Entropy quantifies randomness or disorder in a system. High entropy indicates high HRV. Entropy is measured from the histogram of time interval between successive heart beats values measured during sleep.",
          "format": "double",
          "type": "number"
        },
        "nonRemHeartRateBeatsPerMinute": {
          "description": "Optional. Non-REM heart rate",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DailyHeartRateZones": {
      "description": "User's heart rate zone thresholds based on the Karvonen algorithm for a specific day.",
      "id": "DailyHeartRateZones",
      "properties": {
        "date": {
          "$ref": "Date",
          "description": "Required. Date (in user's timezone) of the heart rate zones record."
        },
        "heartRateZones": {
          "description": "Required. The heart rate zones.",
          "items": {
            "$ref": "HeartRateZone"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "DailyOxygenSaturation": {
      "description": "A daily oxygen saturation (SpO2) record. Represents the user's daily oxygen saturation summary, typically calculated during sleep.",
      "id": "DailyOxygenSaturation",
      "properties": {
        "averagePercentage": {
          "description": "Required. The average value of the oxygen saturation samples during the sleep.",
          "format": "double",
          "type": "number"
        },
        "date": {
          "$ref": "Date",
          "description": "Required. Date (in user's timezone) of the daily oxygen saturation record."
        },
        "lowerBoundPercentage": {
          "description": "Required. The lower bound of the confidence interval of oxygen saturation samples during sleep.",
          "format": "double",
          "type": "number"
        },
        "standardDeviationPercentage": {
          "description": "Optional. Standard deviation of the daily oxygen saturation averages from the past 7-30 days.",
          "format": "double",
          "type": "number"
        },
        "upperBoundPercentage": {
          "description": "Required. The upper bound of the confidence interval of oxygen saturation samples during sleep.",
          "format": "double",
          "type": "number"
        }
      },
      "type": "object"
    },
    "DailyRespiratoryRate": {
      "description": "A daily average respiratory rate (breaths per minute) for a day of the year. One data point per day calculated for the main sleep.",
      "id": "DailyRespiratoryRate",
      "properties": {
        "breathsPerMinute": {
          "description": "Required. The average number of breaths taken per minute.",
          "format": "double",
          "type": "number"
        },
        "date": {
          "$ref": "Date",
          "description": "Required. The date on which the respiratory rate was measured."
        }
      },
      "type": "object"
    },
    "DailyRestingHeartRate": {
      "description": "Measures the daily resting heart rate for a user, calculated using the all day heart rate measurements.",
      "id": "DailyRestingHeartRate",
      "properties": {
        "beatsPerMinute": {
          "description": "Required. The resting heart rate value in beats per minute.",
          "format": "int64",
          "type": "string"
        },
        "dailyRestingHeartRateMetadata": {
          "$ref": "DailyRestingHeartRateMetadata",
          "description": "Optional. Metadata for the daily resting heart rate."
        },
        "date": {
          "$ref": "Date",
          "description": "Required. Date (in the user's timezone) of the resting heart rate measurement."
        }
      },
      "type": "object"
    },
    "DailyRestingHeartRateMetadata": {
      "description": "Metadata for the daily resting heart rate.",
      "id": "DailyRestingHeartRateMetadata",
      "properties": {
        "calculationMethod": {
          "description": "Required. The method used to calculate the resting heart rate.",
          "enum": [
            "CALCULATION_METHOD_UNSPECIFIED",
            "WITH_SLEEP",
            "ONLY_WITH_AWAKE_DATA"
          ],
          "enumDescriptions": [
            "The calculation method is unspecified.",
            "The resting heart rate is calculated using the sleep data.",
            "The resting heart rate is calculated using only awake data."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "DailyRollUpDataPointsRequest": {
      "description": "Request to roll up data points by civil time intervals.",
      "id": "DailyRollUpDataPointsRequest",
      "properties": {
        "dataSourceFamily": {
          "description": "Optional. The data source family name to roll up. If empty, data points from all available data sources will be rolled up. Format: `users/me/dataSourceFamilies/{data_source_family}` The supported values are: - `users/me/dataSourceFamilies/all-sources` - default value - `users/me/dataSourceFamilies/google-wearables` - tracker devices - `users/me/dataSourceFamilies/google-sources` - Google first party sources",
          "type": "string"
        },
        "pageSize": {
          "description": "Optional. The maximum number of data points to return. If unspecified, at most 1440 data points will be returned. The maximum page size is 10000; values above that will be truncated accordingly.",
          "format": "int32",
          "type": "integer"
        },
        "pageToken": {
          "description": "Optional. The `next_page_token` from a previous request, if any. All other request fields need to be the same as in the initial request when the page token is specified.",
          "type": "string"
        },
        "range": {
          "$ref": "CivilTimeInterval",
          "description": "Required. Closed-open range of data points that will be rolled up. The start time must be aligned with the aggregation window. The maximum range for `calories-in-heart-rate-zone`, `heart-rate`, `active-minutes` and `total-calories` is 14 days. The maximum range for all other data types is 90 days."
        },
        "windowSizeDays": {
          "description": "Optional. Aggregation window size, in number of days. Defaults to 1 if not specified.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "DailyRollUpDataPointsResponse": {
      "description": "Response containing the list of rolled up data points.",
      "id": "DailyRollUpDataPointsResponse",
      "properties": {
        "rollupDataPoints": {
          "description": "Values for each aggregation time window.",
          "items": {
            "$ref": "DailyRollupDataPoint"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "DailyRollupDataPoint": {
      "description": "Value of a daily rollup for a single civil time interval (aggregation window) of reconciled data points from all data sources, excluding those data points that are identified as recorded by wearables in intervals when they were not actually worn.",
      "id": "DailyRollupDataPoint",
      "properties": {
        "activeEnergyBurned": {
          "$ref": "ActiveEnergyBurnedRollupValue",
          "description": "Returned by default when rolling up data points from the `active-energy-burned` data type."
        },
        "activeMinutes": {
          "$ref": "ActiveMinutesRollupValue",
          "description": "Returned by default when rolling up data points from the `active-minutes` data type, or when requested explicitly using the `active-minutes` rollup type identifier."
        },
        "activeZoneMinutes": {
          "$ref": "ActiveZoneMinutesRollupValue",
          "description": "Returned by default when rolling up data points from the `active-zone-minutes` data type, or when requested explicitly using the `active-zone-minutes` rollup type identifier."
        },
        "activityLevel": {
          "$ref": "ActivityLevelRollupValue",
          "description": "Returned by default when rolling up data points from the `activity-level` data type, or when requested explicitly using the `activity-level` rollup type identifier."
        },
        "altitude": {
          "$ref": "AltitudeRollupValue",
          "description": "Returned by default when rolling up data points from the `altitude` data type, or when requested explicitly using the `altitude` rollup type identifier."
        },
        "bloodGlucose": {
          "$ref": "BloodGlucoseRollupValue",
          "description": "Returned by default when rolling up data points from the `blood-glucose` data type."
        },
        "bodyFat": {
          "$ref": "BodyFatRollupValue",
          "description": "Returned by default when rolling up data points from the `body-fat` data type, or when requested explicitly using the `body-fat` rollup type identifier."
        },
        "caloriesInHeartRateZone": {
          "$ref": "CaloriesInHeartRateZoneRollupValue",
          "description": "Returned by default when rolling up data points from the `calories-in-heart-rate-zone` data type, or when requested explicitly using the `calories-in-heart-rate-zone` rollup type identifier."
        },
        "civilEndTime": {
          "$ref": "CivilDateTime",
          "description": "End time of the window this value aggregates over"
        },
        "civilStartTime": {
          "$ref": "CivilDateTime",
          "description": "Start time of the window this value aggregates over"
        },
        "coreBodyTemperature": {
          "$ref": "CoreBodyTemperatureRollupValue",
          "description": "Returned by default when rolling up data points from the `core-body-temperature` data type, or when requested explicitly using the `core-body-temperature` rollup type identifier."
        },
        "distance": {
          "$ref": "DistanceRollupValue",
          "description": "Returned by default when rolling up data points from the `distance` data type, or when requested explicitly using the `distance` rollup type identifier."
        },
        "floors": {
          "$ref": "FloorsRollupValue",
          "description": "Returned by default when rolling up data points from the `floors` data type, or when requested explicitly using the `floors` rollup type identifier."
        },
        "heartRate": {
          "$ref": "HeartRateRollupValue",
          "description": "Returned by default when rolling up data points from the `heart-rate` data type, or when requested explicitly using the `heart-rate` rollup type identifier."
        },
        "heartRateVariabilityPersonalRange": {
          "$ref": "HeartRateVariabilityPersonalRangeRollupValue",
          "description": "Returned by default when rolling up data points from the `daily-heart-rate-variability` data type, or when requested explicitly using the `heart-rate-variability-personal-range` rollup type identifier."
        },
        "hydrationLog": {
          "$ref": "HydrationLogRollupValue",
          "description": "Returned by default when rolling up data points from the `hydration-log` data type, or when requested explicitly using the `hydration-log` rollup type identifier."
        },
        "nutritionLog": {
          "$ref": "NutritionLogRollupValue",
          "description": "Returned by default when rolling up data points from the `nutrition-log` data type, or when requested explicitly using the `nutrition-log` rollup type identifier."
        },
        "restingHeartRatePersonalRange": {
          "$ref": "RestingHeartRatePersonalRangeRollupValue",
          "description": "Returned by default when rolling up data points from the `daily-resting-heart-rate` data type, or when requested explicitly using the `resting-heart-rate-personal-range` rollup type identifier."
        },
        "runVo2Max": {
          "$ref": "RunVO2MaxRollupValue",
          "description": "Returned by default when rolling up data points from the `run-vo2-max` data type, or when requested explicitly using the `run-vo2-max` rollup type identifier."
        },
        "sedentaryPeriod": {
          "$ref": "SedentaryPeriodRollupValue",
          "description": "Returned by default when rolling up data points from the `sedentary-period` data type, or when requested explicitly using the `sedentary-period` rollup type identifier."
        },
        "steps": {
          "$ref": "StepsRollupValue",
          "description": "Returned by default when rolling up data points from the `steps` data type, or when requested explicitly using the `steps` rollup type identifier."
        },
        "swimLengthsData": {
          "$ref": "SwimLengthsDataRollupValue",
          "description": "Returned by default when rolling up data points from the `swim-lengths-data` data type, or when requested explicitly using the `swim-lengths-data` rollup type identifier."
        },
        "timeInHeartRateZone": {
          "$ref": "TimeInHeartRateZoneRollupValue",
          "description": "Returned by default when rolling up data points from the `time-in-heart-rate-zone` data type, or when requested explicitly using the `time-in-heart-rate-zone` rollup type identifier."
        },
        "totalCalories": {
          "$ref": "TotalCaloriesRollupValue",
          "description": "Returned by default when rolling up data points from the `total-calories` data type, or when requested explicitly using the `total-calories` rollup type identifier."
        },
        "weight": {
          "$ref": "WeightRollupValue",
          "description": "Returned by default when rolling up data points from the `weight` data type, or when requested explicitly using the `weight` rollup type identifier."
        }
      },
      "type": "object"
    },
    "DailySleepTemperatureDerivations": {
      "description": "Provides derived sleep temperature values, calculated from skin or internal device temperature readings during sleep.",
      "id": "DailySleepTemperatureDerivations",
      "properties": {
        "baselineTemperatureCelsius": {
          "description": "Optional. The user's baseline skin temperature. It is the median of the user's nightly skin temperature over the past 30 days.",
          "format": "double",
          "type": "number"
        },
        "date": {
          "$ref": "Date",
          "description": "Required. Date for which the sleep temperature derivations are calculated."
        },
        "nightlyTemperatureCelsius": {
          "description": "Required. The user's nightly skin temperature. It is the mean of skin temperature samples taken from the user’s sleep.",
          "format": "double",
          "type": "number"
        },
        "relativeNightlyStddev30dCelsius": {
          "description": "Optional. The standard deviation of the user’s relative nightly skin temperature (temperature - baseline) over the past 30 days.",
          "format": "double",
          "type": "number"
        }
      },
      "type": "object"
    },
    "DailyVO2Max": {
      "description": "Contains a daily summary of the user's VO2 max (cardio fitness score), which is the maximum rate of oxygen the body can use during exercise.",
      "id": "DailyVO2Max",
      "properties": {
        "cardioFitnessLevel": {
          "description": "Optional. Represents the user's cardio fitness level based on their VO2 max.",
          "enum": [
            "CARDIO_FITNESS_LEVEL_UNSPECIFIED",
            "POOR",
            "FAIR",
            "AVERAGE",
            "GOOD",
            "VERY_GOOD",
            "EXCELLENT"
          ],
          "enumDescriptions": [
            "Unspecified cardio fitness level.",
            "Poor cardio fitness level.",
            "Fair cardio fitness level.",
            "Average cardio fitness level.",
            "Good cardio fitness level.",
            "Very good cardio fitness level.",
            "Excellent cardio fitness level."
          ],
          "type": "string"
        },
        "date": {
          "$ref": "Date",
          "description": "Required. The date for which the Daily VO2 max was measured."
        },
        "estimated": {
          "description": "Optional. An estimated field is added to indicate when the confidence has decreased sufficiently to consider the value an estimation.",
          "type": "boolean"
        },
        "vo2Max": {
          "description": "Required. Daily VO2 max value measured as in ml consumed oxygen / kg of body weight / min.",
          "format": "double",
          "type": "number"
        },
        "vo2MaxCovariance": {
          "description": "Optional. The covariance of the VO2 max value.",
          "format": "double",
          "type": "number"
        }
      },
      "type": "object"
    },
    "DataPoint": {
      "description": "A computed or recorded metric.",
      "id": "DataPoint",
      "properties": {
        "activeEnergyBurned": {
          "$ref": "ActiveEnergyBurned",
          "description": "Optional. Data for points in the `active-energy-burned` interval data type collection."
        },
        "activeMinutes": {
          "$ref": "ActiveMinutes",
          "description": "Optional. Data for points in the `active-minutes` interval data type collection."
        },
        "activeZoneMinutes": {
          "$ref": "ActiveZoneMinutes",
          "description": "Optional. Data for points in the `active-zone-minutes` interval data type collection, measured in minutes."
        },
        "activityLevel": {
          "$ref": "ActivityLevel",
          "description": "Optional. Data for points in the `activity-level` daily data type collection."
        },
        "altitude": {
          "$ref": "Altitude",
          "description": "Optional. Data for points in the `altitude` interval data type collection."
        },
        "basalEnergyBurned": {
          "$ref": "BasalEnergyBurned",
          "description": "Optional. Data for points in the `basal-energy-burned` interval data type collection."
        },
        "bloodGlucose": {
          "$ref": "BloodGlucose",
          "description": "Optional. Data for points in the `blood-glucose` sample data type collection."
        },
        "bodyFat": {
          "$ref": "BodyFat",
          "description": "Optional. Data for points in the `body-fat` sample data type collection."
        },
        "coreBodyTemperature": {
          "$ref": "CoreBodyTemperature",
          "description": "Optional. Data for points in the `core-body-temperature` sample data type collection."
        },
        "dailyHeartRateVariability": {
          "$ref": "DailyHeartRateVariability",
          "description": "Optional. Data for points in the `daily-heart-rate-variability` daily data type collection."
        },
        "dailyHeartRateZones": {
          "$ref": "DailyHeartRateZones",
          "description": "Optional. Data for points in the `daily-heart-rate-zones` daily data type collection."
        },
        "dailyOxygenSaturation": {
          "$ref": "DailyOxygenSaturation",
[...]
