{
  "kind": "discovery#directoryList",
  "discoveryVersion": "v1",
  "items": [
    {
      "kind": "discovery#directoryItem",
      "id": "abusiveexperiencereport:v1",
      "name": "abusiveexperiencereport",
      "version": "v1",
      "title": "Abusive Experience Report API",
      "description": "Views Abusive Experience Report data, and gets a list of sites that have a significant number of abusive experiences.",
      "discoveryRestUrl": "https://abusiveexperiencereport.googleapis.com/$discovery/rest?version=v1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://developers.google.com/abusive-experience-report/",
      "preferred": true
    },
    {
      "kind": "discovery#directoryItem",
      "id": "acceleratedmobilepageurl:v1",
      "name": "acceleratedmobilepageurl",
      "version": "v1",
      "title": "Accelerated Mobile Pages (AMP) URL API",
      "description": "Retrieves the list of AMP URLs (and equivalent AMP Cache URLs) for a given list of public URL(s).",
      "discoveryRestUrl": "https://acceleratedmobilepageurl.googleapis.com/$discovery/rest?version=v1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://developers.google.com/amp/cache/",
      "preferred": true
    },
    {
      "kind": "discovery#directoryItem",
      "id": "accessapproval:v1",
      "name": "accessapproval",
      "version": "v1",
      "title": "Access Approval API",
      "description": "An API for controlling access to data by Google personnel.",
      "discoveryRestUrl": "https://accessapproval.googleapis.com/$discovery/rest?version=v1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://cloud.google.com/cloud-provider-access-management/access-approval/docs",
      "preferred": true
    },
    {
      "kind": "discovery#directoryItem",
      "id": "accesscontextmanager:v1beta",
      "name": "accesscontextmanager",
      "version": "v1beta",
      "title": "Access Context Manager API",
      "description": "An API for setting attribute based access control to requests to Google Cloud services.",
      "discoveryRestUrl": "https://accesscontextmanager.googleapis.com/$discovery/rest?version=v1beta",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://cloud.google.com/access-context-manager/docs/reference/rest/",
      "preferred": false
    },
    {
      "kind": "discovery#directoryItem",
      "id": "accesscontextmanager:v1",
      "name": "accesscontextmanager",
      "version": "v1",
      "title": "Access Context Manager API",
      "description": "An API for setting attribute based access control to requests to Google Cloud services.",
      "discoveryRestUrl": "https://accesscontextmanager.googleapis.com/$discovery/rest?version=v1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://cloud.google.com/access-context-manager/docs/reference/rest/",
      "preferred": true
    },
    {
      "kind": "discovery#directoryItem",
      "id": "acmedns:v1",
      "name": "acmedns",
      "version": "v1",
      "title": "ACME DNS API",
      "description": "Google Domains ACME DNS API that allows users to complete ACME DNS-01 challenges for a domain.",
      "discoveryRestUrl": "https://acmedns.googleapis.com/$discovery/rest?version=v1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://developers.google.com/domains/acme-dns/",
      "preferred": true
    },
    {
      "kind": "discovery#directoryItem",
      "id": "adexchangebuyer2:v2beta1",
      "name": "adexchangebuyer2",
      "version": "v2beta1",
      "title": "Ad Exchange Buyer API II",
      "description": "Accesses the latest features for managing Authorized Buyers accounts, Real-Time Bidding configurations and auction metrics, and Marketplace programmatic deals.",
      "discoveryRestUrl": "https://adexchangebuyer.googleapis.com/$discovery/rest?version=v2beta1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://developers.google.com/authorized-buyers/apis/reference/rest/",
      "preferred": true
    },
    {
      "kind": "discovery#directoryItem",
      "id": "adexperiencereport:v1",
      "name": "adexperiencereport",
      "version": "v1",
      "title": "Ad Experience Report API",
      "description": "Views Ad Experience Report data, and gets a list of sites that have a significant number of annoying ads.",
      "discoveryRestUrl": "https://adexperiencereport.googleapis.com/$discovery/rest?version=v1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://developers.google.com/ad-experience-report/",
      "preferred": true
    },
    {
      "kind": "discovery#directoryItem",
      "id": "admin:datatransfer_v1",
      "name": "admin",
      "version": "datatransfer_v1",
      "title": "Admin SDK API",
      "description": "Admin SDK lets administrators of enterprise domains to view and manage resources like user, groups etc. It also provides audit and usage reports of domain.",
      "discoveryRestUrl": "https://admin.googleapis.com/$discovery/rest?version=datatransfer_v1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://developers.google.com/admin-sdk/",
      "preferred": false
    },
    {
      "kind": "discovery#directoryItem",
      "id": "admin:directory_v1",
      "name": "admin",
      "version": "directory_v1",
      "title": "Admin SDK API",
      "description": "Admin SDK lets administrators of enterprise domains to view and manage resources like user, groups etc. It also provides audit and usage reports of domain.",
      "discoveryRestUrl": "https://admin.googleapis.com/$discovery/rest?version=directory_v1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://developers.google.com/admin-sdk/",
      "preferred": false
    },
    {
      "kind": "discovery#directoryItem",
      "id": "admin:reports_v1",
      "name": "admin",
      "version": "reports_v1",
      "title": "Admin SDK API",
      "description": "Admin SDK lets administrators of enterprise domains to view and manage resources like user, groups etc. It also provides audit and usage reports of domain.",
      "discoveryRestUrl": "https://admin.googleapis.com/$discovery/rest?version=reports_v1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://developers.google.com/admin-sdk/",
      "preferred": true
    },
    {
      "kind": "discovery#directoryItem",
      "id": "admob:v1beta",
      "name": "admob",
      "version": "v1beta",
      "title": "AdMob API",
      "description": "The AdMob API allows publishers to programmatically get information about their AdMob account.",
      "discoveryRestUrl": "https://admob.googleapis.com/$discovery/rest?version=v1beta",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://developers.google.com/admob/api/",
      "preferred": false
    },
    {
      "kind": "discovery#directoryItem",
      "id": "admob:v1",
      "name": "admob",
      "version": "v1",
      "title": "AdMob API",
      "description": "The AdMob API allows publishers to programmatically get information about their AdMob account.",
      "discoveryRestUrl": "https://admob.googleapis.com/$discovery/rest?version=v1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://developers.google.com/admob/api/",
      "preferred": true
    },
    {
      "kind": "discovery#directoryItem",
      "id": "adsense:v2",
      "name": "adsense",
      "version": "v2",
      "title": "AdSense Management API",
      "description": "The AdSense Management API allows publishers to access their inventory and run earnings and performance reports.",
      "discoveryRestUrl": "https://adsense.googleapis.com/$discovery/rest?version=v2",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://developers.google.com/adsense/management/",
      "preferred": true
    },
    {
      "kind": "discovery#directoryItem",
      "id": "adsensehost:v4.1",
      "name": "adsensehost",
      "version": "v4.1",
      "title": "AdSense Host API",
      "description": "The AdSense Host API gives AdSense Hosts access to report generation, ad code generation, and publisher management capabilities.",
      "discoveryRestUrl": "https://adsensehost.googleapis.com/$discovery/rest?version=v4.1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://developers.google.com/adsense/host/index",
      "preferred": true
    },
    {
      "kind": "discovery#directoryItem",
      "id": "advisorynotifications:v1",
      "name": "advisorynotifications",
      "version": "v1",
      "title": "Advisory Notifications API",
      "description": "An API for accessing Advisory Notifications in Google Cloud",
      "discoveryRestUrl": "https://advisorynotifications.googleapis.com/$discovery/rest?version=v1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://cloud.google.com/advisory-notifications",
      "preferred": true
    },
    {
      "kind": "discovery#directoryItem",
      "id": "alertcenter:v1beta1",
      "name": "alertcenter",
      "version": "v1beta1",
      "title": "Google Workspace Alert Center API",
      "description": "Manages alerts on issues affecting your domain. Note: The current version of this API (v1beta1) is available to all Google Workspace customers.",
      "discoveryRestUrl": "https://alertcenter.googleapis.com/$discovery/rest?version=v1beta1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://developers.google.com/admin-sdk/alertcenter/",
      "preferred": true
    },
    {
      "kind": "discovery#directoryItem",
      "id": "analytics:v3",
      "name": "analytics",
      "version": "v3",
      "title": "Google Analytics API",
      "description": "The Analytics API provides access to Analytics configuration and report data.",
      "discoveryRestUrl": "https://analytics.googleapis.com/$discovery/rest?version=v3",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "http://code.google.com/apis/analytics/docs/mgmt/home.html",
      "preferred": true
    },
    {
      "kind": "discovery#directoryItem",
      "id": "analyticsadmin:v1alpha",
      "name": "analyticsadmin",
      "version": "v1alpha",
      "title": "Google Analytics Admin API",
      "description": "",
      "discoveryRestUrl": "https://analyticsadmin.googleapis.com/$discovery/rest?version=v1alpha",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "http://code.google.com/apis/analytics/docs/mgmt/home.html",
      "preferred": false
    },
    {
      "kind": "discovery#directoryItem",
      "id": "analyticsadmin:v1beta",
      "name": "analyticsadmin",
      "version": "v1beta",
      "title": "Google Analytics Admin API",
      "description": "",
      "discoveryRestUrl": "https://analyticsadmin.googleapis.com/$discovery/rest?version=v1beta",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "http://code.google.com/apis/analytics/docs/mgmt/home.html",
      "preferred": true
    },
    {
      "kind": "discovery#directoryItem",
      "id": "analyticsdata:v1beta",
      "name": "analyticsdata",
      "version": "v1beta",
      "title": "Google Analytics Data API",
      "description": "Accesses report data in Google Analytics.",
      "discoveryRestUrl": "https://analyticsdata.googleapis.com/$discovery/rest?version=v1beta",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://developers.google.com/analytics/devguides/reporting/data/v1/",
      "preferred": true
    },
    {
      "kind": "discovery#directoryItem",
      "id": "analyticshub:v1beta1",
      "name": "analyticshub",
      "version": "v1beta1",
      "title": "Analytics Hub API",
      "description": "Exchange data and analytics assets securely and efficiently.",
      "discoveryRestUrl": "https://analyticshub.googleapis.com/$discovery/rest?version=v1beta1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://cloud.google.com/bigquery/docs/analytics-hub-introduction",
      "preferred": false
    },
    {
      "kind": "discovery#directoryItem",
      "id": "analyticshub:v1",
      "name": "analyticshub",
      "version": "v1",
      "title": "Analytics Hub API",
      "description": "Exchange data and analytics assets securely and efficiently.",
      "discoveryRestUrl": "https://analyticshub.googleapis.com/$discovery/rest?version=v1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://cloud.google.com/bigquery/docs/analytics-hub-introduction",
      "preferred": true
    },
    {
      "kind": "discovery#directoryItem",
      "id": "analyticsreporting:v4",
      "name": "analyticsreporting",
      "version": "v4",
      "title": "Analytics Reporting API",
      "description": "Accesses Analytics report data.",
      "discoveryRestUrl": "https://analyticsreporting.googleapis.com/$discovery/rest?version=v4",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://developers.google.com/analytics/devguides/reporting/core/v4/",
      "preferred": true
    },
    {
      "kind": "discovery#directoryItem",
      "id": "androiddeviceprovisioning:v1",
      "name": "androiddeviceprovisioning",
      "version": "v1",
      "title": "Android Device Provisioning Partner API",
      "description": "Automates Android zero-touch enrollment for device resellers, customers, and EMMs.",
      "discoveryRestUrl": "https://androiddeviceprovisioning.googleapis.com/$discovery/rest?version=v1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://developers.google.com/zero-touch/",
      "preferred": true
    },
    {
      "kind": "discovery#directoryItem",
      "id": "androidenterprise:v1",
      "name": "androidenterprise",
      "version": "v1",
      "title": "Google Play EMM API",
      "description": "Manages the deployment of apps to Android Enterprise devices.",
      "discoveryRestUrl": "https://androidenterprise.googleapis.com/$discovery/rest?version=v1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "preferred": true
    },
    {
      "kind": "discovery#directoryItem",
      "id": "androidmanagement:v1",
      "name": "androidmanagement",
      "version": "v1",
      "title": "Android Management API",
      "description": "The Android Management API provides remote enterprise management of Android devices and apps.",
      "discoveryRestUrl": "https://androidmanagement.googleapis.com/$discovery/rest?version=v1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://developers.google.com/android/management",
      "preferred": true
    },
    {
      "kind": "discovery#directoryItem",
      "id": "androidpublisher:v3",
      "name": "androidpublisher",
      "version": "v3",
      "title": "Google Play Android Developer API",
      "description": "Lets Android application developers access their Google Play accounts. At a high level, the expected workflow is to \"insert\" an Edit, make changes as necessary, and then \"commit\" it.",
      "discoveryRestUrl": "https://androidpublisher.googleapis.com/$discovery/rest?version=v3",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://developers.google.com/android-publisher",
      "preferred": true
    },
    {
      "kind": "discovery#directoryItem",
      "id": "apigateway:v1beta",
      "name": "apigateway",
      "version": "v1beta",
      "title": "API Gateway API",
      "description": "",
      "discoveryRestUrl": "https://apigateway.googleapis.com/$discovery/rest?version=v1beta",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://cloud.google.com/api-gateway/docs",
      "preferred": false
    },
    {
      "kind": "discovery#directoryItem",
      "id": "apigateway:v1",
      "name": "apigateway",
      "version": "v1",
      "title": "API Gateway API",
      "description": "",
      "discoveryRestUrl": "https://apigateway.googleapis.com/$discovery/rest?version=v1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://cloud.google.com/api-gateway/docs",
      "preferred": true
    },
    {
      "kind": "discovery#directoryItem",
      "id": "apigee:v1",
      "name": "apigee",
      "version": "v1",
      "title": "Apigee API",
      "description": "Use the Apigee API to programmatically develop and manage APIs with a set of RESTful operations. Develop and secure API proxies, deploy and undeploy API proxy revisions, monitor APIs, configure environments, manage users, and more. Note: This product is available as a free trial for a time period of 60 days.",
      "discoveryRestUrl": "https://apigee.googleapis.com/$discovery/rest?version=v1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://cloud.google.com/apigee-api-management/",
      "preferred": true
    },
    {
      "kind": "discovery#directoryItem",
      "id": "apigeeregistry:v1",
      "name": "apigeeregistry",
      "version": "v1",
      "title": "Apigee Registry API",
      "description": "",
      "discoveryRestUrl": "https://apigeeregistry.googleapis.com/$discovery/rest?version=v1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://cloud.google.com/apigee/docs/api-hub/what-is-api-hub",
      "preferred": true
    },
    {
      "kind": "discovery#directoryItem",
      "id": "apikeys:v2",
      "name": "apikeys",
      "version": "v2",
      "title": "API Keys API",
      "description": "Manages the API keys associated with developer projects.",
      "discoveryRestUrl": "https://apikeys.googleapis.com/$discovery/rest?version=v2",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://cloud.google.com/api-keys/docs",
      "preferred": true
    },
    {
      "kind": "discovery#directoryItem",
      "id": "appengine:v1alpha",
      "name": "appengine",
      "version": "v1alpha",
      "title": "App Engine Admin API",
      "description": "Provisions and manages developers' App Engine applications.",
      "discoveryRestUrl": "https://appengine.googleapis.com/$discovery/rest?version=v1alpha",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://cloud.google.com/appengine/docs/admin-api/",
      "preferred": false
    },
    {
      "kind": "discovery#directoryItem",
      "id": "appengine:v1beta",
      "name": "appengine",
      "version": "v1beta",
      "title": "App Engine Admin API",
      "description": "Provisions and manages developers' App Engine applications.",
      "discoveryRestUrl": "https://appengine.googleapis.com/$discovery/rest?version=v1beta",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://cloud.google.com/appengine/docs/admin-api/",
      "preferred": false
    },
    {
      "kind": "discovery#directoryItem",
      "id": "appengine:v1",
      "name": "appengine",
      "version": "v1",
      "title": "App Engine Admin API",
      "description": "Provisions and manages developers' App Engine applications.",
      "discoveryRestUrl": "https://appengine.googleapis.com/$discovery/rest?version=v1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://cloud.google.com/appengine/docs/admin-api/",
      "preferred": true
    },
    {
      "kind": "discovery#directoryItem",
      "id": "area120tables:v1alpha1",
      "name": "area120tables",
      "version": "v1alpha1",
      "title": "Area120 Tables API",
      "description": "",
      "discoveryRestUrl": "https://area120tables.googleapis.com/$discovery/rest?version=v1alpha1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://support.google.com/area120-tables/answer/10011390",
      "preferred": true
    },
    {
      "kind": "discovery#directoryItem",
      "id": "artifactregistry:v1beta1",
      "name": "artifactregistry",
      "version": "v1beta1",
      "title": "Artifact Registry API",
      "description": "Store and manage build artifacts in a scalable and integrated service built on Google infrastructure.",
      "discoveryRestUrl": "https://artifactregistry.googleapis.com/$discovery/rest?version=v1beta1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://cloud.google.com/artifacts/docs/",
      "preferred": false
    },
    {
      "kind": "discovery#directoryItem",
      "id": "artifactregistry:v1beta2",
      "name": "artifactregistry",
      "version": "v1beta2",
      "title": "Artifact Registry API",
      "description": "Store and manage build artifacts in a scalable and integrated service built on Google infrastructure.",
      "discoveryRestUrl": "https://artifactregistry.googleapis.com/$discovery/rest?version=v1beta2",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://cloud.google.com/artifacts/docs/",
      "preferred": false
    },
    {
      "kind": "discovery#directoryItem",
      "id": "artifactregistry:v1",
      "name": "artifactregistry",
      "version": "v1",
      "title": "Artifact Registry API",
      "description": "Store and manage build artifacts in a scalable and integrated service built on Google infrastructure.",
      "discoveryRestUrl": "https://artifactregistry.googleapis.com/$discovery/rest?version=v1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://cloud.google.com/artifacts/docs/",
      "preferred": true
    },
    {
      "kind": "discovery#directoryItem",
      "id": "assuredworkloads:v1beta1",
      "name": "assuredworkloads",
      "version": "v1beta1",
      "title": "Assured Workloads API",
      "description": "",
      "discoveryRestUrl": "https://assuredworkloads.googleapis.com/$discovery/rest?version=v1beta1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://cloud.google.com/learnmoreurl",
      "preferred": false
    },
    {
      "kind": "discovery#directoryItem",
      "id": "assuredworkloads:v1",
      "name": "assuredworkloads",
      "version": "v1",
      "title": "Assured Workloads API",
      "description": "",
      "discoveryRestUrl": "https://assuredworkloads.googleapis.com/$discovery/rest?version=v1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://cloud.google.com/learnmoreurl",
      "preferred": true
    },
    {
      "kind": "discovery#directoryItem",
      "id": "authorizedbuyersmarketplace:v1",
      "name": "authorizedbuyersmarketplace",
      "version": "v1",
      "title": "Authorized Buyers Marketplace API",
      "description": "The Authorized Buyers Marketplace API lets buyers programmatically discover inventory; propose, retrieve and negotiate deals with publishers.",
      "discoveryRestUrl": "https://authorizedbuyersmarketplace.googleapis.com/$discovery/rest?version=v1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://developers.google.com/authorized-buyers/apis/marketplace/reference/rest/",
      "preferred": true
    },
    {
      "kind": "discovery#directoryItem",
      "id": "baremetalsolution:v2",
      "name": "baremetalsolution",
      "version": "v2",
      "title": "Bare Metal Solution API",
      "description": "Provides ways to manage Bare Metal Solution hardware installed in a regional extension located near a Google Cloud data center.",
      "discoveryRestUrl": "https://baremetalsolution.googleapis.com/$discovery/rest?version=v2",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://cloud.google.com/bare-metal",
      "preferred": true
    },
    {
      "kind": "discovery#directoryItem",
      "id": "batch:v1",
      "name": "batch",
      "version": "v1",
      "title": "Batch API",
      "description": "An API to manage the running of batch jobs on Google Cloud Platform.",
      "discoveryRestUrl": "https://batch.googleapis.com/$discovery/rest?version=v1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://cloud.google.com/batch/",
      "preferred": true
    },
    {
      "kind": "discovery#directoryItem",
      "id": "beyondcorp:v1alpha",
      "name": "beyondcorp",
      "version": "v1alpha",
      "title": "BeyondCorp API",
      "description": "Beyondcorp Enterprise provides identity and context aware access controls for enterprise resources and enables zero-trust access. Using the Beyondcorp Enterprise APIs, enterprises can set up multi-cloud and on-prem connectivity solutions.",
      "discoveryRestUrl": "https://beyondcorp.googleapis.com/$discovery/rest?version=v1alpha",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://cloud.google.com/",
      "preferred": false
    },
    {
      "kind": "discovery#directoryItem",
      "id": "beyondcorp:v1",
      "name": "beyondcorp",
      "version": "v1",
      "title": "BeyondCorp API",
      "description": "Beyondcorp Enterprise provides identity and context aware access controls for enterprise resources and enables zero-trust access. Using the Beyondcorp Enterprise APIs, enterprises can set up multi-cloud and on-prem connectivity solutions.",
      "discoveryRestUrl": "https://beyondcorp.googleapis.com/$discovery/rest?version=v1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://cloud.google.com/",
      "preferred": true
    },
    {
      "kind": "discovery#directoryItem",
      "id": "bigquery:v2",
      "name": "bigquery",
      "version": "v2",
      "title": "BigQuery API",
      "description": "A data platform for customers to create, manage, share and query data.",
      "discoveryRestUrl": "https://bigquery.googleapis.com/$discovery/rest?version=v2",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://cloud.google.com/bigquery/",
      "preferred": true
    },
    {
      "kind": "discovery#directoryItem",
      "id": "bigqueryconnection:v1beta1",
      "name": "bigqueryconnection",
      "version": "v1beta1",
      "title": "BigQuery Connection API",
      "description": "Allows users to manage BigQuery connections to external data sources.",
      "discoveryRestUrl": "https://bigqueryconnection.googleapis.com/$discovery/rest?version=v1beta1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://cloud.google.com/bigquery/",
      "preferred": true
    },
    {
      "kind": "discovery#directoryItem",
      "id": "bigquerydatatransfer:v1",
      "name": "bigquerydatatransfer",
      "version": "v1",
      "title": "BigQuery Data Transfer API",
      "description": "Schedule queries or transfer external data from SaaS applications to Google BigQuery on a regular basis.",
      "discoveryRestUrl": "https://bigquerydatatransfer.googleapis.com/$discovery/rest?version=v1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://cloud.google.com/bigquery-transfer/",
      "preferred": true
    },
    {
      "kind": "discovery#directoryItem",
      "id": "bigqueryreservation:v1",
      "name": "bigqueryreservation",
      "version": "v1",
      "title": "BigQuery Reservation API",
      "description": "A service to modify your BigQuery flat-rate reservations.",
      "discoveryRestUrl": "https://bigqueryreservation.googleapis.com/$discovery/rest?version=v1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://cloud.google.com/bigquery/",
      "preferred": true
    },
    {
      "kind": "discovery#directoryItem",
      "id": "bigtableadmin:v2",
      "name": "bigtableadmin",
      "version": "v2",
      "title": "Cloud Bigtable Admin API",
      "description": "Administer your Cloud Bigtable tables and instances.",
      "discoveryRestUrl": "https://bigtableadmin.googleapis.com/$discovery/rest?version=v2",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://cloud.google.com/bigtable/",
      "preferred": true
    },
    {
      "kind": "discovery#directoryItem",
      "id": "billingbudgets:v1beta1",
      "name": "billingbudgets",
      "version": "v1beta1",
      "title": "Cloud Billing Budget API",
      "description": "The Cloud Billing Budget API stores Cloud Billing budgets, which define a budget plan and the rules to execute as spend is tracked against that plan.",
      "discoveryRestUrl": "https://billingbudgets.googleapis.com/$discovery/rest?version=v1beta1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://cloud.google.com/billing/docs/how-to/budget-api-overview",
      "preferred": false
    },
    {
      "kind": "discovery#directoryItem",
      "id": "billingbudgets:v1",
      "name": "billingbudgets",
      "version": "v1",
      "title": "Cloud Billing Budget API",
      "description": "The Cloud Billing Budget API stores Cloud Billing budgets, which define a budget plan and the rules to execute as spend is tracked against that plan.",
      "discoveryRestUrl": "https://billingbudgets.googleapis.com/$discovery/rest?version=v1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://cloud.google.com/billing/docs/how-to/budget-api-overview",
      "preferred": true
    },
    {
      "kind": "discovery#directoryItem",
      "id": "binaryauthorization:v1beta1",
      "name": "binaryauthorization",
      "version": "v1beta1",
      "title": "Binary Authorization API",
      "description": "The management interface for Binary Authorization, a service that provides policy-based deployment validation and control for images deployed to Google Kubernetes Engine (GKE), Anthos Service Mesh, Anthos Clusters, and Cloud Run.",
      "discoveryRestUrl": "https://binaryauthorization.googleapis.com/$discovery/rest?version=v1beta1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://cloud.google.com/binary-authorization/",
      "preferred": false
    },
    {
      "kind": "discovery#directoryItem",
      "id": "binaryauthorization:v1",
      "name": "binaryauthorization",
      "version": "v1",
      "title": "Binary Authorization API",
      "description": "The management interface for Binary Authorization, a service that provides policy-based deployment validation and control for images deployed to Google Kubernetes Engine (GKE), Anthos Service Mesh, Anthos Clusters, and Cloud Run.",
      "discoveryRestUrl": "https://binaryauthorization.googleapis.com/$discovery/rest?version=v1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://cloud.google.com/binary-authorization/",
      "preferred": true
    },
    {
      "kind": "discovery#directoryItem",
      "id": "blogger:v2",
      "name": "blogger",
      "version": "v2",
      "title": "Blogger API",
      "description": "The Blogger API provides access to posts, comments and pages of a Blogger blog.",
      "discoveryRestUrl": "https://blogger.googleapis.com/$discovery/rest?version=v2",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://developers.google.com/blogger/docs/3.0/getting_started",
      "preferred": false
    },
    {
      "kind": "discovery#directoryItem",
      "id": "blogger:v3",
      "name": "blogger",
      "version": "v3",
      "title": "Blogger API",
      "description": "The Blogger API provides access to posts, comments and pages of a Blogger blog.",
      "discoveryRestUrl": "https://blogger.googleapis.com/$discovery/rest?version=v3",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://developers.google.com/blogger/docs/3.0/getting_started",
      "preferred": true
    },
    {
      "kind": "discovery#directoryItem",
      "id": "books:v1",
      "name": "books",
      "version": "v1",
      "title": "Books API",
      "description": "The Google Books API allows clients to access the Google Books repository.",
      "discoveryRestUrl": "https://books.googleapis.com/$discovery/rest?version=v1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://code.google.com/apis/books/docs/v1/getting_started.html",
      "preferred": true
    },
    {
      "kind": "discovery#directoryItem",
      "id": "businessprofileperformance:v1",
      "name": "businessprofileperformance",
      "version": "v1",
      "title": "Business Profile Performance API",
      "description": "The Business Profile Performance API allows merchants to fetch performance reports about their business profile on Google. Note - If you have a quota of 0 after enabling the API, please request <https://developers.google.com/my-business/content/prereqs#request-access> for GBP API access.",
      "discoveryRestUrl": "https://businessprofileperformance.googleapis.com/$discovery/rest?version=v1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://developers.google.com/my-business/",
      "preferred": true
    },
    {
      "kind": "discovery#directoryItem",
      "id": "calendar:v3",
      "name": "calendar",
      "version": "v3",
      "title": "Google Calendar API",
      "description": "The Google Calendar API lets you manage your calendars and events.",
      "discoveryRestUrl": "https://calendar-json.googleapis.com/$discovery/rest?version=v3",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "http://code.google.com/apis/calendar/v3/",
      "preferred": true
    },
    {
      "kind": "discovery#directoryItem",
      "id": "certificatemanager:v1",
      "name": "certificatemanager",
      "version": "v1",
      "title": "Certificate Manager API",
      "description": "",
      "discoveryRestUrl": "https://certificatemanager.googleapis.com/$discovery/rest?version=v1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://cloud.google.com/certificate-manager",
      "preferred": true
    },
    {
      "kind": "discovery#directoryItem",
      "id": "chat:v1",
      "name": "chat",
      "version": "v1",
      "title": "Google Chat API",
      "description": "Enables apps to fetch information and perform actions in Google Chat. Authentication is a prerequisite for using the Google Chat REST API.",
      "discoveryRestUrl": "https://chat.googleapis.com/$discovery/rest?version=v1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://developers.google.com/hangouts/chat",
      "preferred": true
    },
    {
      "kind": "discovery#directoryItem",
      "id": "chromemanagement:v1",
      "name": "chromemanagement",
      "version": "v1",
      "title": "Chrome Management API",
      "description": "The Chrome Management API is a suite of services that allows Chrome administrators to view, manage and gain insights on their Chrome OS and Chrome Browser devices.",
      "discoveryRestUrl": "https://chromemanagement.googleapis.com/$discovery/rest?version=v1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "http://developers.google.com/chrome/management/",
      "preferred": true
    },
    {
      "kind": "discovery#directoryItem",
      "id": "chromepolicy:v1",
      "name": "chromepolicy",
      "version": "v1",
      "title": "Chrome Policy API",
      "description": "The Chrome Policy API is a suite of services that allows Chrome administrators to control the policies applied to their managed Chrome OS devices and Chrome browsers.",
      "discoveryRestUrl": "https://chromepolicy.googleapis.com/$discovery/rest?version=v1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "http://developers.google.com/chrome/policy",
      "preferred": true
    },
    {
      "kind": "discovery#directoryItem",
      "id": "chromeuxreport:v1",
      "name": "chromeuxreport",
      "version": "v1",
      "title": "Chrome UX Report API",
      "description": "The Chrome UX Report API lets you view real user experience data for millions of websites.",
      "discoveryRestUrl": "https://chromeuxreport.googleapis.com/$discovery/rest?version=v1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://developers.google.com/web/tools/chrome-user-experience-report/api/reference",
      "preferred": true
    },
    {
      "kind": "discovery#directoryItem",
      "id": "civicinfo:v2",
      "name": "civicinfo",
      "version": "v2",
      "title": "Google Civic Information API",
      "description": "Provides polling places, early vote locations, contest data, election officials, and government representatives for U.S. residential addresses.",
      "discoveryRestUrl": "https://civicinfo.googleapis.com/$discovery/rest?version=v2",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://developers.google.com/civic-information/",
      "preferred": true
    },
    {
      "kind": "discovery#directoryItem",
      "id": "classroom:v1",
      "name": "classroom",
      "version": "v1",
      "title": "Google Classroom API",
      "description": "Manages classes, rosters, and invitations in Google Classroom.",
      "discoveryRestUrl": "https://classroom.googleapis.com/$discovery/rest?version=v1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://developers.google.com/classroom",
      "preferred": true
    },
    {
      "kind": "discovery#directoryItem",
      "id": "cloudasset:v1p1beta1",
      "name": "cloudasset",
      "version": "v1p1beta1",
      "title": "Cloud Asset API",
      "description": "The Cloud Asset API manages the history and inventory of Google Cloud resources.",
      "discoveryRestUrl": "https://cloudasset.googleapis.com/$discovery/rest?version=v1p1beta1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://cloud.google.com/asset-inventory/docs/quickstart",
      "preferred": false
    },
    {
      "kind": "discovery#directoryItem",
      "id": "cloudasset:v1p5beta1",
      "name": "cloudasset",
      "version": "v1p5beta1",
      "title": "Cloud Asset API",
      "description": "The Cloud Asset API manages the history and inventory of Google Cloud resources.",
      "discoveryRestUrl": "https://cloudasset.googleapis.com/$discovery/rest?version=v1p5beta1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://cloud.google.com/asset-inventory/docs/quickstart",
      "preferred": false
    },
    {
      "kind": "discovery#directoryItem",
      "id": "cloudasset:v1p7beta1",
      "name": "cloudasset",
      "version": "v1p7beta1",
      "title": "Cloud Asset API",
      "description": "The Cloud Asset API manages the history and inventory of Google Cloud resources.",
      "discoveryRestUrl": "https://cloudasset.googleapis.com/$discovery/rest?version=v1p7beta1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://cloud.google.com/asset-inventory/docs/quickstart",
      "preferred": false
    },
    {
      "kind": "discovery#directoryItem",
      "id": "cloudasset:v1beta1",
      "name": "cloudasset",
      "version": "v1beta1",
      "title": "Cloud Asset API",
      "description": "The Cloud Asset API manages the history and inventory of Google Cloud resources.",
      "discoveryRestUrl": "https://cloudasset.googleapis.com/$discovery/rest?version=v1beta1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://cloud.google.com/asset-inventory/docs/quickstart",
      "preferred": false
    },
    {
      "kind": "discovery#directoryItem",
      "id": "cloudasset:v1",
      "name": "cloudasset",
      "version": "v1",
      "title": "Cloud Asset API",
      "description": "The Cloud Asset API manages the history and inventory of Google Cloud resources.",
      "discoveryRestUrl": "https://cloudasset.googleapis.com/$discovery/rest?version=v1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://cloud.google.com/asset-inventory/docs/quickstart",
      "preferred": true
    },
    {
      "kind": "discovery#directoryItem",
      "id": "cloudbilling:v1beta",
      "name": "cloudbilling",
      "version": "v1beta",
      "title": "Cloud Billing API",
      "description": "Allows developers to manage billing for their Google Cloud Platform projects programmatically.",
      "discoveryRestUrl": "https://cloudbilling.googleapis.com/$discovery/rest?version=v1beta",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://cloud.google.com/billing/",
      "preferred": false
    },
    {
      "kind": "discovery#directoryItem",
      "id": "cloudbilling:v1",
      "name": "cloudbilling",
      "version": "v1",
      "title": "Cloud Billing API",
      "description": "Allows developers to manage billing for their Google Cloud Platform projects programmatically.",
      "discoveryRestUrl": "https://cloudbilling.googleapis.com/$discovery/rest?version=v1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://cloud.google.com/billing/",
      "preferred": true
    },
    {
      "kind": "discovery#directoryItem",
      "id": "cloudbuild:v1",
      "name": "cloudbuild",
      "version": "v1",
      "title": "Cloud Build API",
      "description": "Creates and manages builds on Google Cloud Platform.",
      "discoveryRestUrl": "https://cloudbuild.googleapis.com/$discovery/rest?version=v1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://cloud.google.com/cloud-build/docs/",
      "preferred": true
    },
    {
      "kind": "discovery#directoryItem",
      "id": "cloudchannel:v1",
      "name": "cloudchannel",
      "version": "v1",
      "title": "Cloud Channel API",
      "description": "The Cloud Channel API enables Google Cloud partners to have a single unified resale platform and APIs across all of Google Cloud including GCP, Workspace, Maps and Chrome.",
      "discoveryRestUrl": "https://cloudchannel.googleapis.com/$discovery/rest?version=v1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://cloud.google.com/channel",
      "preferred": true
    },
    {
      "kind": "discovery#directoryItem",
      "id": "clouddebugger:v2",
      "name": "clouddebugger",
      "version": "v2",
      "title": "Cloud Debugger API",
      "description": "Examines the call stack and variables of a running application without stopping or slowing it down.",
      "discoveryRestUrl": "https://clouddebugger.googleapis.com/$discovery/rest?version=v2",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://cloud.google.com/debugger",
      "preferred": true
    },
    {
      "kind": "discovery#directoryItem",
      "id": "clouddeploy:v1",
      "name": "clouddeploy",
      "version": "v1",
      "title": "Google Cloud Deploy API",
      "description": "",
      "discoveryRestUrl": "https://clouddeploy.googleapis.com/$discovery/rest?version=v1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://cloud.google.com/deploy/",
      "preferred": true
    },
    {
      "kind": "discovery#directoryItem",
      "id": "clouderrorreporting:v1beta1",
      "name": "clouderrorreporting",
      "version": "v1beta1",
      "title": "Error Reporting API",
      "description": "Groups and counts similar errors from cloud services and applications, reports new errors, and provides access to error groups and their associated errors.",
      "discoveryRestUrl": "https://clouderrorreporting.googleapis.com/$discovery/rest?version=v1beta1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://cloud.google.com/error-reporting/",
      "preferred": true
    },
    {
      "kind": "discovery#directoryItem",
      "id": "cloudfunctions:v2alpha",
      "name": "cloudfunctions",
      "version": "v2alpha",
      "title": "Cloud Functions API",
      "description": "Manages lightweight user-provided functions executed in response to events.",
      "discoveryRestUrl": "https://cloudfunctions.googleapis.com/$discovery/rest?version=v2alpha",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://cloud.google.com/functions",
      "preferred": false
    },
    {
      "kind": "discovery#directoryItem",
      "id": "cloudfunctions:v2beta",
      "name": "cloudfunctions",
      "version": "v2beta",
      "title": "Cloud Functions API",
      "description": "Manages lightweight user-provided functions executed in response to events.",
      "discoveryRestUrl": "https://cloudfunctions.googleapis.com/$discovery/rest?version=v2beta",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://cloud.google.com/functions",
      "preferred": false
    },
    {
      "kind": "discovery#directoryItem",
      "id": "cloudfunctions:v1",
      "name": "cloudfunctions",
      "version": "v1",
      "title": "Cloud Functions API",
      "description": "Manages lightweight user-provided functions executed in response to events.",
      "discoveryRestUrl": "https://cloudfunctions.googleapis.com/$discovery/rest?version=v1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://cloud.google.com/functions",
      "preferred": false
    },
    {
      "kind": "discovery#directoryItem",
      "id": "cloudfunctions:v2",
      "name": "cloudfunctions",
      "version": "v2",
      "title": "Cloud Functions API",
      "description": "Manages lightweight user-provided functions executed in response to events.",
      "discoveryRestUrl": "https://cloudfunctions.googleapis.com/$discovery/rest?version=v2",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://cloud.google.com/functions",
      "preferred": true
    },
    {
      "kind": "discovery#directoryItem",
      "id": "cloudidentity:v1beta1",
      "name": "cloudidentity",
      "version": "v1beta1",
      "title": "Cloud Identity API",
      "description": "API for provisioning and managing identity resources.",
      "discoveryRestUrl": "https://cloudidentity.googleapis.com/$discovery/rest?version=v1beta1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://cloud.google.com/identity/",
      "preferred": false
    },
    {
      "kind": "discovery#directoryItem",
      "id": "cloudidentity:v1",
      "name": "cloudidentity",
      "version": "v1",
      "title": "Cloud Identity API",
      "description": "API for provisioning and managing identity resources.",
      "discoveryRestUrl": "https://cloudidentity.googleapis.com/$discovery/rest?version=v1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://cloud.google.com/identity/",
      "preferred": true
    },
    {
      "kind": "discovery#directoryItem",
      "id": "cloudiot:v1",
      "name": "cloudiot",
      "version": "v1",
      "title": "Cloud IoT API",
      "description": "Registers and manages IoT (Internet of Things) devices that connect to the Google Cloud Platform.",
      "discoveryRestUrl": "https://cloudiot.googleapis.com/$discovery/rest?version=v1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://cloud.google.com/iot",
      "preferred": true
    },
    {
      "kind": "discovery#directoryItem",
      "id": "cloudkms:v1",
      "name": "cloudkms",
      "version": "v1",
      "title": "Cloud Key Management Service (KMS) API",
      "description": "Manages keys and performs cryptographic operations in a central cloud service, for direct use by other cloud resources and applications.",
      "discoveryRestUrl": "https://cloudkms.googleapis.com/$discovery/rest?version=v1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://cloud.google.com/kms/",
      "preferred": true
    },
    {
      "kind": "discovery#directoryItem",
      "id": "cloudprofiler:v2",
      "name": "cloudprofiler",
      "version": "v2",
      "title": "Cloud Profiler API",
      "description": "Manages continuous profiling information.",
      "discoveryRestUrl": "https://cloudprofiler.googleapis.com/$discovery/rest?version=v2",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://cloud.google.com/profiler/",
      "preferred": true
    },
    {
      "kind": "discovery#directoryItem",
      "id": "cloudresourcemanager:v1beta1",
      "name": "cloudresourcemanager",
      "version": "v1beta1",
      "title": "Cloud Resource Manager API",
      "description": "Creates, reads, and updates metadata for Google Cloud Platform resource containers.",
      "discoveryRestUrl": "https://cloudresourcemanager.googleapis.com/$discovery/rest?version=v1beta1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://cloud.google.com/resource-manager",
      "preferred": false
    },
    {
      "kind": "discovery#directoryItem",
      "id": "cloudresourcemanager:v2beta1",
      "name": "cloudresourcemanager",
      "version": "v2beta1",
      "title": "Cloud Resource Manager API",
      "description": "Creates, reads, and updates metadata for Google Cloud Platform resource containers.",
      "discoveryRestUrl": "https://cloudresourcemanager.googleapis.com/$discovery/rest?version=v2beta1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://cloud.google.com/resource-manager",
      "preferred": false
    },
    {
      "kind": "discovery#directoryItem",
      "id": "cloudresourcemanager:v1",
      "name": "cloudresourcemanager",
      "version": "v1",
      "title": "Cloud Resource Manager API",
      "description": "Creates, reads, and updates metadata for Google Cloud Platform resource containers.",
      "discoveryRestUrl": "https://cloudresourcemanager.googleapis.com/$discovery/rest?version=v1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://cloud.google.com/resource-manager",
      "preferred": false
    },
    {
      "kind": "discovery#directoryItem",
      "id": "cloudresourcemanager:v2",
      "name": "cloudresourcemanager",
      "version": "v2",
      "title": "Cloud Resource Manager API",
      "description": "Creates, reads, and updates metadata for Google Cloud Platform resource containers.",
      "discoveryRestUrl": "https://cloudresourcemanager.googleapis.com/$discovery/rest?version=v2",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://cloud.google.com/resource-manager",
      "preferred": false
    },
    {
      "kind": "discovery#directoryItem",
      "id": "cloudresourcemanager:v3",
      "name": "cloudresourcemanager",
      "version": "v3",
      "title": "Cloud Resource Manager API",
      "description": "Creates, reads, and updates metadata for Google Cloud Platform resource containers.",
      "discoveryRestUrl": "https://cloudresourcemanager.googleapis.com/$discovery/rest?version=v3",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://cloud.google.com/resource-manager",
      "preferred": true
    },
    {
      "kind": "discovery#directoryItem",
      "id": "cloudscheduler:v1beta1",
      "name": "cloudscheduler",
      "version": "v1beta1",
      "title": "Cloud Scheduler API",
      "description": "Creates and manages jobs run on a regular recurring schedule.",
      "discoveryRestUrl": "https://cloudscheduler.googleapis.com/$discovery/rest?version=v1beta1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://cloud.google.com/scheduler/",
      "preferred": false
    },
    {
      "kind": "discovery#directoryItem",
      "id": "cloudscheduler:v1",
      "name": "cloudscheduler",
      "version": "v1",
      "title": "Cloud Scheduler API",
      "description": "Creates and manages jobs run on a regular recurring schedule.",
      "discoveryRestUrl": "https://cloudscheduler.googleapis.com/$discovery/rest?version=v1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://cloud.google.com/scheduler/",
      "preferred": true
    },
    {
      "kind": "discovery#directoryItem",
      "id": "cloudsearch:v1",
      "name": "cloudsearch",
      "version": "v1",
      "title": "Cloud Search API",
      "description": "Cloud Search provides cloud-based search capabilities over Google Workspace data. The Cloud Search API allows indexing of non-Google Workspace data into Cloud Search.",
      "discoveryRestUrl": "https://cloudsearch.googleapis.com/$discovery/rest?version=v1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://developers.google.com/cloud-search/docs/guides/",
      "preferred": true
    },
    {
      "kind": "discovery#directoryItem",
      "id": "cloudshell:v1",
      "name": "cloudshell",
      "version": "v1",
      "title": "Cloud Shell API",
      "description": "Allows users to start, configure, and connect to interactive shell sessions running in the cloud.",
      "discoveryRestUrl": "https://cloudshell.googleapis.com/$discovery/rest?version=v1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://cloud.google.com/shell/docs/",
      "preferred": true
    },
    {
      "kind": "discovery#directoryItem",
      "id": "cloudsupport:v2beta",
      "name": "cloudsupport",
      "version": "v2beta",
      "title": "Google Cloud Support API",
      "description": "Manages Google Cloud technical support cases for Customer Care support offerings.",
      "discoveryRestUrl": "https://cloudsupport.googleapis.com/$discovery/rest?version=v2beta",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://cloud.google.com/support/docs/apis",
      "preferred": true
    },
    {
      "kind": "discovery#directoryItem",
      "id": "cloudtasks:v2beta2",
      "name": "cloudtasks",
      "version": "v2beta2",
      "title": "Cloud Tasks API",
      "description": "Manages the execution of large numbers of distributed requests.",
      "discoveryRestUrl": "https://cloudtasks.googleapis.com/$discovery/rest?version=v2beta2",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://cloud.google.com/tasks/",
      "preferred": false
    },
    {
      "kind": "discovery#directoryItem",
      "id": "cloudtasks:v2beta3",
      "name": "cloudtasks",
      "version": "v2beta3",
      "title": "Cloud Tasks API",
      "description": "Manages the execution of large numbers of distributed requests.",
      "discoveryRestUrl": "https://cloudtasks.googleapis.com/$discovery/rest?version=v2beta3",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://cloud.google.com/tasks/",
      "preferred": false
    },
    {
      "kind": "discovery#directoryItem",
      "id": "cloudtasks:v2",
      "name": "cloudtasks",
      "version": "v2",
      "title": "Cloud Tasks API",
      "description": "Manages the execution of large numbers of distributed requests.",
      "discoveryRestUrl": "https://cloudtasks.googleapis.com/$discovery/rest?version=v2",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://cloud.google.com/tasks/",
      "preferred": true
    },
    {
      "kind": "discovery#directoryItem",
      "id": "cloudtrace:v2beta1",
      "name": "cloudtrace",
      "version": "v2beta1",
      "title": "Cloud Trace API",
      "description": "Sends application trace data to Cloud Trace for viewing. Trace data is collected for all App Engine applications by default. Trace data from other applications can be provided using this API. This library is used to interact with the Cloud Trace API directly. If you are looking to instrument your application for Cloud Trace, we recommend using OpenTelemetry.",
      "discoveryRestUrl": "https://cloudtrace.googleapis.com/$discovery/rest?version=v2beta1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://cloud.google.com/trace",
      "preferred": false
    },
    {
      "kind": "discovery#directoryItem",
      "id": "cloudtrace:v1",
      "name": "cloudtrace",
      "version": "v1",
      "title": "Cloud Trace API",
      "description": "Sends application trace data to Cloud Trace for viewing. Trace data is collected for all App Engine applications by default. Trace data from other applications can be provided using this API. This library is used to interact with the Cloud Trace API directly. If you are looking to instrument your application for Cloud Trace, we recommend using OpenTelemetry.",
      "discoveryRestUrl": "https://cloudtrace.googleapis.com/$discovery/rest?version=v1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://cloud.google.com/trace",
      "preferred": false
    },
    {
      "kind": "discovery#directoryItem",
      "id": "cloudtrace:v2",
      "name": "cloudtrace",
      "version": "v2",
      "title": "Cloud Trace API",
      "description": "Sends application trace data to Cloud Trace for viewing. Trace data is collected for all App Engine applications by default. Trace data from other applications can be provided using this API. This library is used to interact with the Cloud Trace API directly. If you are looking to instrument your application for Cloud Trace, we recommend using OpenTelemetry.",
      "discoveryRestUrl": "https://cloudtrace.googleapis.com/$discovery/rest?version=v2",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://cloud.google.com/trace",
      "preferred": true
    },
    {
      "kind": "discovery#directoryItem",
      "id": "composer:v1beta1",
      "name": "composer",
      "version": "v1beta1",
      "title": "Cloud Composer API",
      "description": "Manages Apache Airflow environments on Google Cloud Platform.",
      "discoveryRestUrl": "https://composer.googleapis.com/$discovery/rest?version=v1beta1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://cloud.google.com/composer/",
      "preferred": false
    },
    {
      "kind": "discovery#directoryItem",
      "id": "composer:v1",
      "name": "composer",
      "version": "v1",
      "title": "Cloud Composer API",
      "description": "Manages Apache Airflow environments on Google Cloud Platform.",
      "discoveryRestUrl": "https://composer.googleapis.com/$discovery/rest?version=v1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://cloud.google.com/composer/",
      "preferred": true
    },
    {
      "kind": "discovery#directoryItem",
      "id": "compute:alpha",
      "name": "compute",
      "version": "alpha",
      "title": "Compute Engine API",
      "description": "Creates and runs virtual machines on Google Cloud Platform.",
      "discoveryRestUrl": "https://www.googleapis.com/discovery/v1/apis/compute/alpha/rest",
      "discoveryLink": "./apis/compute/alpha/rest",
      "icons": {
        "x16": "https://www.google.com/images/icons/product/compute_engine-16.png",
        "x32": "https://www.google.com/images/icons/product/compute_engine-32.png"
      },
      "documentationLink": "https://developers.google.com/compute/docs/reference/latest/",
      "preferred": false
    },
    {
      "kind": "discovery#directoryItem",
      "id": "compute:beta",
      "name": "compute",
      "version": "beta",
      "title": "Compute Engine API",
      "description": "Creates and runs virtual machines on Google Cloud Platform.",
      "discoveryRestUrl": "https://www.googleapis.com/discovery/v1/apis/compute/beta/rest",
      "discoveryLink": "./apis/compute/beta/rest",
      "icons": {
        "x16": "https://www.google.com/images/icons/product/compute_engine-16.png",
        "x32": "https://www.google.com/images/icons/product/compute_engine-32.png"
      },
      "documentationLink": "https://developers.google.com/compute/docs/reference/latest/",
      "preferred": false
    },
    {
      "kind": "discovery#directoryItem",
      "id": "compute:v1",
      "name": "compute",
      "version": "v1",
      "title": "Compute Engine API",
      "description": "Creates and runs virtual machines on Google Cloud Platform.",
      "discoveryRestUrl": "https://www.googleapis.com/discovery/v1/apis/compute/v1/rest",
      "discoveryLink": "./apis/compute/v1/rest",
      "icons": {
        "x16": "https://www.google.com/images/icons/product/compute_engine-16.png",
        "x32": "https://www.google.com/images/icons/product/compute_engine-32.png"
      },
      "documentationLink": "https://developers.google.com/compute/docs/reference/latest/",
      "preferred": true
    },
    {
      "kind": "discovery#directoryItem",
      "id": "connectors:v1",
      "name": "connectors",
      "version": "v1",
      "title": "Connectors API",
      "description": "Enables users to create and manage connections to Google Cloud services and third-party business applications using the Connectors interface.",
      "discoveryRestUrl": "https://connectors.googleapis.com/$discovery/rest?version=v1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://cloud.google.com/apigee/docs/api-platform/connectors/about-connectors",
      "preferred": false
    },
    {
      "kind": "discovery#directoryItem",
      "id": "connectors:v2",
      "name": "connectors",
      "version": "v2",
      "title": "Connectors API",
      "description": "Enables users to create and manage connections to Google Cloud services and third-party business applications using the Connectors interface.",
      "discoveryRestUrl": "https://connectors.googleapis.com/$discovery/rest?version=v2",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://cloud.google.com/apigee/docs/api-platform/connectors/about-connectors",
      "preferred": true
    },
    {
      "kind": "discovery#directoryItem",
      "id": "contactcenteraiplatform:v1alpha1",
      "name": "contactcenteraiplatform",
      "version": "v1alpha1",
      "title": "Contact Center AI Platform API",
      "description": "",
      "discoveryRestUrl": "https://contactcenteraiplatform.googleapis.com/$discovery/rest?version=v1alpha1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://cloud.google.com/solutions/contact-center-ai-platform",
      "preferred": true
    },
    {
      "kind": "discovery#directoryItem",
      "id": "contactcenterinsights:v1",
      "name": "contactcenterinsights",
      "version": "v1",
      "title": "Contact Center AI Insights API",
      "description": "",
      "discoveryRestUrl": "https://contactcenterinsights.googleapis.com/$discovery/rest?version=v1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://cloud.google.com/contact-center/insights/docs",
      "preferred": true
    },
    {
      "kind": "discovery#directoryItem",
      "id": "container:v1beta1",
      "name": "container",
      "version": "v1beta1",
      "title": "Kubernetes Engine API",
      "description": "Builds and manages container-based applications, powered by the open source Kubernetes technology.",
      "discoveryRestUrl": "https://container.googleapis.com/$discovery/rest?version=v1beta1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://cloud.google.com/container-engine/",
      "preferred": false
    },
    {
      "kind": "discovery#directoryItem",
      "id": "container:v1",
      "name": "container",
      "version": "v1",
      "title": "Kubernetes Engine API",
      "description": "Builds and manages container-based applications, powered by the open source Kubernetes technology.",
      "discoveryRestUrl": "https://container.googleapis.com/$discovery/rest?version=v1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://cloud.google.com/container-engine/",
      "preferred": true
    },
    {
      "kind": "discovery#directoryItem",
      "id": "containeranalysis:v1alpha1",
      "name": "containeranalysis",
      "version": "v1alpha1",
      "title": "Container Analysis API",
      "description": "An implementation of the Grafeas API, which stores, and enables querying and retrieval of critical metadata about all of your software artifacts.",
      "discoveryRestUrl": "https://containeranalysis.googleapis.com/$discovery/rest?version=v1alpha1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://cloud.google.com/container-analysis/api/reference/rest/",
      "preferred": false
    },
    {
      "kind": "discovery#directoryItem",
      "id": "containeranalysis:v1beta1",
      "name": "containeranalysis",
      "version": "v1beta1",
      "title": "Container Analysis API",
      "description": "An implementation of the Grafeas API, which stores, and enables querying and retrieval of critical metadata about all of your software artifacts.",
      "discoveryRestUrl": "https://containeranalysis.googleapis.com/$discovery/rest?version=v1beta1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://cloud.google.com/container-analysis/api/reference/rest/",
      "preferred": false
    },
    {
      "kind": "discovery#directoryItem",
      "id": "containeranalysis:v1",
      "name": "containeranalysis",
      "version": "v1",
      "title": "Container Analysis API",
      "description": "An implementation of the Grafeas API, which stores, and enables querying and retrieval of critical metadata about all of your software artifacts.",
      "discoveryRestUrl": "https://containeranalysis.googleapis.com/$discovery/rest?version=v1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://cloud.google.com/container-analysis/api/reference/rest/",
      "preferred": true
    },
    {
      "kind": "discovery#directoryItem",
      "id": "content:v2.1",
      "name": "content",
      "version": "v2.1",
      "title": "Content API for Shopping",
      "description": "Manage your product listings and accounts for Google Shopping",
      "discoveryRestUrl": "https://shoppingcontent.googleapis.com/$discovery/rest?version=v2.1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://developers.google.com/shopping-content/v2/",
      "preferred": true
    },
    {
      "kind": "discovery#directoryItem",
      "id": "contentwarehouse:v1",
      "name": "contentwarehouse",
      "version": "v1",
      "title": "Document AI Warehouse API",
      "description": "",
      "discoveryRestUrl": "https://contentwarehouse.googleapis.com/$discovery/rest?version=v1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://cloud.google.com/document-warehouse",
      "preferred": true
    },
    {
      "kind": "discovery#directoryItem",
      "id": "customsearch:v1",
      "name": "customsearch",
      "version": "v1",
      "title": "Custom Search API",
      "description": "Searches over a website or collection of websites",
      "discoveryRestUrl": "https://customsearch.googleapis.com/$discovery/rest?version=v1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://developers.google.com/custom-search/v1/introduction",
      "preferred": true
    },
    {
      "kind": "discovery#directoryItem",
      "id": "datacatalog:v1beta1",
      "name": "datacatalog",
      "version": "v1beta1",
      "title": "Google Cloud Data Catalog API",
      "description": "A fully managed and highly scalable data discovery and metadata management service.",
      "discoveryRestUrl": "https://datacatalog.googleapis.com/$discovery/rest?version=v1beta1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://cloud.google.com/data-catalog/docs/",
      "preferred": false
    },
    {
      "kind": "discovery#directoryItem",
      "id": "datacatalog:v1",
      "name": "datacatalog",
      "version": "v1",
      "title": "Google Cloud Data Catalog API",
      "description": "A fully managed and highly scalable data discovery and metadata management service.",
      "discoveryRestUrl": "https://datacatalog.googleapis.com/$discovery/rest?version=v1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://cloud.google.com/data-catalog/docs/",
      "preferred": true
    },
    {
      "kind": "discovery#directoryItem",
      "id": "dataflow:v1b3",
      "name": "dataflow",
      "version": "v1b3",
      "title": "Dataflow API",
      "description": "Manages Google Cloud Dataflow projects on Google Cloud Platform.",
      "discoveryRestUrl": "https://dataflow.googleapis.com/$discovery/rest?version=v1b3",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://cloud.google.com/dataflow",
      "preferred": true
    },
    {
      "kind": "discovery#directoryItem",
      "id": "dataform:v1beta1",
      "name": "dataform",
      "version": "v1beta1",
      "title": "Dataform API",
      "description": "",
      "discoveryRestUrl": "https://dataform.googleapis.com/$discovery/rest?version=v1beta1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://cloud.google.com/dataform/docs",
      "preferred": true
    },
    {
      "kind": "discovery#directoryItem",
      "id": "datafusion:v1beta1",
      "name": "datafusion",
      "version": "v1beta1",
      "title": "Cloud Data Fusion API",
      "description": "Cloud Data Fusion is a fully-managed, cloud native, enterprise data integration service for quickly building and managing data pipelines. It provides a graphical interface to increase time efficiency and reduce complexity, and allows business users, developers, and data scientists to easily and reliably build scalable data integration solutions to cleanse, prepare, blend, transfer and transform data without having to wrestle with infrastructure.",
      "discoveryRestUrl": "https://datafusion.googleapis.com/$discovery/rest?version=v1beta1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://cloud.google.com/data-fusion/docs",
      "preferred": false
    },
    {
      "kind": "discovery#directoryItem",
      "id": "datafusion:v1",
      "name": "datafusion",
      "version": "v1",
      "title": "Cloud Data Fusion API",
      "description": "Cloud Data Fusion is a fully-managed, cloud native, enterprise data integration service for quickly building and managing data pipelines. It provides a graphical interface to increase time efficiency and reduce complexity, and allows business users, developers, and data scientists to easily and reliably build scalable data integration solutions to cleanse, prepare, blend, transfer and transform data without having to wrestle with infrastructure.",
      "discoveryRestUrl": "https://datafusion.googleapis.com/$discovery/rest?version=v1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://cloud.google.com/data-fusion/docs",
      "preferred": true
    },
    {
      "kind": "discovery#directoryItem",
      "id": "datalabeling:v1beta1",
      "name": "datalabeling",
      "version": "v1beta1",
      "title": "Data Labeling API",
      "description": "Public API for Google Cloud AI Data Labeling Service.",
      "discoveryRestUrl": "https://datalabeling.googleapis.com/$discovery/rest?version=v1beta1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://cloud.google.com/data-labeling/docs/",
      "preferred": true
    },
    {
      "kind": "discovery#directoryItem",
      "id": "datalineage:v1",
      "name": "datalineage",
      "version": "v1",
      "title": "Data Lineage API",
      "description": "",
      "discoveryRestUrl": "https://datalineage.googleapis.com/$discovery/rest?version=v1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://cloud.google.com/data-catalog",
      "preferred": true
    },
    {
      "kind": "discovery#directoryItem",
      "id": "datamigration:v1beta1",
      "name": "datamigration",
      "version": "v1beta1",
      "title": "Database Migration API",
      "description": "Manage Cloud Database Migration Service resources on Google Cloud Platform.",
      "discoveryRestUrl": "https://datamigration.googleapis.com/$discovery/rest?version=v1beta1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://cloud.google.com/database-migration/",
      "preferred": false
    },
    {
      "kind": "discovery#directoryItem",
      "id": "datamigration:v1",
      "name": "datamigration",
      "version": "v1",
      "title": "Database Migration API",
      "description": "Manage Cloud Database Migration Service resources on Google Cloud Platform.",
      "discoveryRestUrl": "https://datamigration.googleapis.com/$discovery/rest?version=v1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://cloud.google.com/database-migration/",
      "preferred": true
    },
    {
      "kind": "discovery#directoryItem",
      "id": "datapipelines:v1",
      "name": "datapipelines",
      "version": "v1",
      "title": "Data pipelines API",
      "description": "Data Pipelines provides an interface for creating, updating, and managing recurring Data Analytics jobs.",
      "discoveryRestUrl": "https://datapipelines.googleapis.com/$discovery/rest?version=v1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://cloud.google.com/dataflow/docs/guides/data-pipelines",
      "preferred": true
    },
    {
      "kind": "discovery#directoryItem",
      "id": "dataplex:v1",
      "name": "dataplex",
      "version": "v1",
      "title": "Cloud Dataplex API",
      "description": "Dataplex API is used to manage the lifecycle of data lakes.",
      "discoveryRestUrl": "https://dataplex.googleapis.com/$discovery/rest?version=v1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://cloud.google.com/dataplex/docs",
      "preferred": true
    },
    {
      "kind": "discovery#directoryItem",
      "id": "dataproc:v1",
      "name": "dataproc",
      "version": "v1",
      "title": "Cloud Dataproc API",
      "description": "Manages Hadoop-based clusters and jobs on Google Cloud Platform.",
      "discoveryRestUrl": "https://dataproc.googleapis.com/$discovery/rest?version=v1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://cloud.google.com/dataproc/",
      "preferred": true
    },
    {
      "kind": "discovery#directoryItem",
      "id": "datastore:v1beta1",
      "name": "datastore",
      "version": "v1beta1",
      "title": "Cloud Datastore API",
      "description": "Accesses the schemaless NoSQL database to provide fully managed, robust, scalable storage for your application.",
      "discoveryRestUrl": "https://datastore.googleapis.com/$discovery/rest?version=v1beta1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://cloud.google.com/datastore/",
      "preferred": false
    },
    {
      "kind": "discovery#directoryItem",
      "id": "datastore:v1beta3",
      "name": "datastore",
      "version": "v1beta3",
      "title": "Cloud Datastore API",
      "description": "Accesses the schemaless NoSQL database to provide fully managed, robust, scalable storage for your application.",
      "discoveryRestUrl": "https://datastore.googleapis.com/$discovery/rest?version=v1beta3",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://cloud.google.com/datastore/",
      "preferred": false
    },
    {
      "kind": "discovery#directoryItem",
      "id": "datastore:v1",
      "name": "datastore",
      "version": "v1",
      "title": "Cloud Datastore API",
      "description": "Accesses the schemaless NoSQL database to provide fully managed, robust, scalable storage for your application.",
      "discoveryRestUrl": "https://datastore.googleapis.com/$discovery/rest?version=v1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://cloud.google.com/datastore/",
      "preferred": true
    },
    {
      "kind": "discovery#directoryItem",
      "id": "datastream:v1alpha1",
      "name": "datastream",
      "version": "v1alpha1",
      "title": "Datastream API",
      "description": "",
      "discoveryRestUrl": "https://datastream.googleapis.com/$discovery/rest?version=v1alpha1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://cloud.google.com/datastream/",
      "preferred": false
    },
    {
      "kind": "discovery#directoryItem",
      "id": "datastream:v1",
      "name": "datastream",
      "version": "v1",
      "title": "Datastream API",
      "description": "",
      "discoveryRestUrl": "https://datastream.googleapis.com/$discovery/rest?version=v1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://cloud.google.com/datastream/",
      "preferred": true
    },
    {
      "kind": "discovery#directoryItem",
      "id": "deploymentmanager:alpha",
      "name": "deploymentmanager",
      "version": "alpha",
      "title": "Cloud Deployment Manager V2 API",
      "description": "The Google Cloud Deployment Manager v2 API provides services for configuring, deploying, and viewing Google Cloud services and APIs via templates which specify deployments of Cloud resources.",
      "discoveryRestUrl": "https://deploymentmanager.googleapis.com/$discovery/rest?version=alpha",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://cloud.google.com/deployment-manager",
      "preferred": false
    },
    {
      "kind": "discovery#directoryItem",
      "id": "deploymentmanager:v2beta",
      "name": "deploymentmanager",
      "version": "v2beta",
      "title": "Cloud Deployment Manager V2 API",
      "description": "The Google Cloud Deployment Manager v2 API provides services for configuring, deploying, and viewing Google Cloud services and APIs via templates which specify deployments of Cloud resources.",
      "discoveryRestUrl": "https://deploymentmanager.googleapis.com/$discovery/rest?version=v2beta",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://cloud.google.com/deployment-manager",
      "preferred": false
    },
    {
      "kind": "discovery#directoryItem",
      "id": "deploymentmanager:v2",
      "name": "deploymentmanager",
      "version": "v2",
      "title": "Cloud Deployment Manager V2 API",
      "description": "The Google Cloud Deployment Manager v2 API provides services for configuring, deploying, and viewing Google Cloud services and APIs via templates which specify deployments of Cloud resources.",
[...]
