{
  "discoveryVersion": "v1",
  "items": [
    {
      "description": "Views Abusive Experience Report data, and gets a list of sites that have a significant number of abusive experiences.",
      "discoveryRestUrl": "https://abusiveexperiencereport.googleapis.com/$discovery/rest?version=v1",
      "documentationLink": "https://developers.google.com/abusive-experience-report/",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "abusiveexperiencereport:v1",
      "kind": "discovery#directoryItem",
      "name": "abusiveexperiencereport",
      "preferred": true,
      "title": "Abusive Experience Report API",
      "version": "v1"
    },
    {
      "description": "Retrieves the list of AMP URLs (and equivalent AMP Cache URLs) for a given list of public URL(s).",
      "discoveryRestUrl": "https://acceleratedmobilepageurl.googleapis.com/$discovery/rest?version=v1",
      "documentationLink": "https://developers.google.com/amp/cache/",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "acceleratedmobilepageurl:v1",
      "kind": "discovery#directoryItem",
      "name": "acceleratedmobilepageurl",
      "preferred": true,
      "title": "Accelerated Mobile Pages (AMP) URL API",
      "version": "v1"
    },
    {
      "description": "An API for controlling access to data by Google personnel.",
      "discoveryRestUrl": "https://accessapproval.googleapis.com/$discovery/rest?version=v1",
      "documentationLink": "https://cloud.google.com/assured-workloads/access-approval/docs",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "accessapproval:v1",
      "kind": "discovery#directoryItem",
      "name": "accessapproval",
      "preferred": true,
      "title": "Access Approval API",
      "version": "v1"
    },
    {
      "description": "An API for setting attribute based access control to requests to Google Cloud services. *Warning:* Do not mix *v1alpha* and *v1* API usage in the same access policy. The v1alpha API supports new Access Context Manager features, which may have different attributes or behaviors that are not supported by v1. The practice of mixed API usage within a policy may result in the inability to update that policy, including any access levels or service perimeters belonging to it. It is not recommended to use both v1 and v1alpha for modifying policies with critical service perimeters. Modifications using v1alpha should be limited to policies with non-production/non-critical service perimeters.",
      "discoveryRestUrl": "https://accesscontextmanager.googleapis.com/$discovery/rest?version=v1",
      "documentationLink": "https://cloud.google.com/access-context-manager/docs/reference/rest/",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "accesscontextmanager:v1",
      "kind": "discovery#directoryItem",
      "name": "accesscontextmanager",
      "preferred": true,
      "title": "Access Context Manager API",
      "version": "v1"
    },
    {
      "description": "The Address Validation API allows developers to verify the accuracy of addresses. Given an address, it returns information about the correctness of the components of the parsed address, a geocode, and a verdict on the deliverability of the parsed address.",
      "discoveryRestUrl": "https://addressvalidation.googleapis.com/$discovery/rest?version=v1",
      "documentationLink": "https://developers.google.com/maps/documentation/addressvalidation",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "addressvalidation:v1",
      "kind": "discovery#directoryItem",
      "name": "addressvalidation",
      "preferred": true,
      "title": "Address Validation API",
      "version": "v1"
    },
    {
      "description": "Accesses the latest features for managing Authorized Buyers accounts, Real-Time Bidding configurations and auction metrics, and Marketplace programmatic deals.",
      "discoveryRestUrl": "https://adexchangebuyer.googleapis.com/$discovery/rest?version=v2beta1",
      "documentationLink": "https://developers.google.com/authorized-buyers/apis/reference/rest/",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "adexchangebuyer2:v2beta1",
      "kind": "discovery#directoryItem",
      "name": "adexchangebuyer2",
      "preferred": true,
      "title": "Ad Exchange Buyer API II",
      "version": "v2beta1"
    },
    {
      "description": "Views Ad Experience Report data, and gets a list of sites that have a significant number of annoying ads.",
      "discoveryRestUrl": "https://adexperiencereport.googleapis.com/$discovery/rest?version=v1",
      "documentationLink": "https://developers.google.com/ad-experience-report/",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "adexperiencereport:v1",
      "kind": "discovery#directoryItem",
      "name": "adexperiencereport",
      "preferred": true,
      "title": "Ad Experience Report API",
      "version": "v1"
    },
    {
      "description": "Admin SDK lets administrators of enterprise domains to view and manage resources like user, groups etc. It also provides audit and usage reports of domain.",
      "discoveryRestUrl": "https://admin.googleapis.com/$discovery/rest?version=datatransfer_v1",
      "documentationLink": "https://developers.google.com/workspace/admin/",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "admin:datatransfer_v1",
      "kind": "discovery#directoryItem",
      "name": "admin",
      "preferred": false,
      "title": "Admin SDK API",
      "version": "datatransfer_v1"
    },
    {
      "description": "Admin SDK lets administrators of enterprise domains to view and manage resources like user, groups etc. It also provides audit and usage reports of domain.",
      "discoveryRestUrl": "https://admin.googleapis.com/$discovery/rest?version=directory_v1",
      "documentationLink": "https://developers.google.com/workspace/admin/",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "admin:directory_v1",
      "kind": "discovery#directoryItem",
      "name": "admin",
      "preferred": false,
      "title": "Admin SDK API",
      "version": "directory_v1"
    },
    {
      "description": "Admin SDK lets administrators of enterprise domains to view and manage resources like user, groups etc. It also provides audit and usage reports of domain.",
      "discoveryRestUrl": "https://admin.googleapis.com/$discovery/rest?version=reports_v1",
      "documentationLink": "https://developers.google.com/workspace/admin/",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "admin:reports_v1",
      "kind": "discovery#directoryItem",
      "name": "admin",
      "preferred": true,
      "title": "Admin SDK API",
      "version": "reports_v1"
    },
    {
      "description": "The AdMob API allows publishers to programmatically get information about their AdMob account.",
      "discoveryRestUrl": "https://admob.googleapis.com/$discovery/rest?version=v1beta",
      "documentationLink": "https://developers.google.com/admob/api/",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "admob:v1beta",
      "kind": "discovery#directoryItem",
      "name": "admob",
      "preferred": false,
      "title": "AdMob API",
      "version": "v1beta"
    },
    {
      "description": "The AdMob API allows publishers to programmatically get information about their AdMob account.",
      "discoveryRestUrl": "https://admob.googleapis.com/$discovery/rest?version=v1",
      "documentationLink": "https://developers.google.com/admob/api/",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "admob:v1",
      "kind": "discovery#directoryItem",
      "name": "admob",
      "preferred": true,
      "title": "AdMob API",
      "version": "v1"
    },
    {
      "description": "The AdSense Management API allows publishers to access their inventory and run earnings and performance reports.",
      "discoveryRestUrl": "https://adsense.googleapis.com/$discovery/rest?version=v2",
      "documentationLink": "https://developers.google.com/adsense/management/",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "adsense:v2",
      "kind": "discovery#directoryItem",
      "name": "adsense",
      "preferred": true,
      "title": "AdSense Management API",
      "version": "v2"
    },
    {
      "description": "",
      "discoveryRestUrl": "https://adsenseplatform.googleapis.com/$discovery/rest?version=v1alpha",
      "documentationLink": "https://developers.google.com/adsense/platforms/",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "adsenseplatform:v1alpha",
      "kind": "discovery#directoryItem",
      "name": "adsenseplatform",
      "preferred": false,
      "title": "AdSense Platform API",
      "version": "v1alpha"
    },
    {
      "description": "",
      "discoveryRestUrl": "https://adsenseplatform.googleapis.com/$discovery/rest?version=v1",
      "documentationLink": "https://developers.google.com/adsense/platforms/",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "adsenseplatform:v1",
      "kind": "discovery#directoryItem",
      "name": "adsenseplatform",
      "preferred": true,
      "title": "AdSense Platform API",
      "version": "v1"
    },
    {
      "description": "An API for accessing Advisory Notifications in Google Cloud",
      "discoveryRestUrl": "https://advisorynotifications.googleapis.com/$discovery/rest?version=v1",
      "documentationLink": "https://cloud.google.com/advisory-notifications",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "advisorynotifications:v1",
      "kind": "discovery#directoryItem",
      "name": "advisorynotifications",
      "preferred": true,
      "title": "Advisory Notifications API",
      "version": "v1"
    },
    {
      "description": "Train high-quality custom machine learning models with minimal machine learning expertise and effort.",
      "discoveryRestUrl": "https://aiplatform.googleapis.com/$discovery/rest?version=v1beta1",
      "documentationLink": "https://cloud.google.com/vertex-ai/",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "aiplatform:v1beta1",
      "kind": "discovery#directoryItem",
      "name": "aiplatform",
      "preferred": false,
      "title": "Vertex AI API",
      "version": "v1beta1"
    },
    {
      "description": "Train high-quality custom machine learning models with minimal machine learning expertise and effort.",
      "discoveryRestUrl": "https://aiplatform.googleapis.com/$discovery/rest?version=v1",
      "documentationLink": "https://cloud.google.com/vertex-ai/",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "aiplatform:v1",
      "kind": "discovery#directoryItem",
      "name": "aiplatform",
      "preferred": true,
      "title": "Vertex AI API",
      "version": "v1"
    },
    {
      "description": "The Air Quality API.",
      "discoveryRestUrl": "https://airquality.googleapis.com/$discovery/rest?version=v1",
      "documentationLink": "https://developers.google.com/maps/documentation/air-quality",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "airquality:v1",
      "kind": "discovery#directoryItem",
      "name": "airquality",
      "preferred": true,
      "title": "Air Quality API",
      "version": "v1"
    },
    {
      "description": "Manages alerts on issues affecting your domain. Note: The current version of this API (v1beta1) is available to all Google Workspace customers.",
      "discoveryRestUrl": "https://alertcenter.googleapis.com/$discovery/rest?version=v1beta1",
      "documentationLink": "https://developers.google.com/workspace/admin/alertcenter/",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "alertcenter:v1beta1",
      "kind": "discovery#directoryItem",
      "name": "alertcenter",
      "preferred": true,
      "title": "Google Workspace Alert Center API",
      "version": "v1beta1"
    },
    {
      "description": "AlloyDB for PostgreSQL is an open source-compatible database service that provides a powerful option for migrating, modernizing, or building commercial-grade applications. It offers full compatibility with standard PostgreSQL, and is more than 4x faster for transactional workloads and up to 100x faster for analytical queries than standard PostgreSQL in our performance tests. AlloyDB for PostgreSQL offers a 99.99 percent availability SLA inclusive of maintenance. AlloyDB is optimized for the most demanding use cases, allowing you to build new applications that require high transaction throughput, large database sizes, or multiple read resources; scale existing PostgreSQL workloads with no application changes; and modernize legacy proprietary databases.",
      "discoveryRestUrl": "https://alloydb.googleapis.com/$discovery/rest?version=v1alpha",
      "documentationLink": "https://cloud.google.com/alloydb/",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "alloydb:v1alpha",
      "kind": "discovery#directoryItem",
      "name": "alloydb",
      "preferred": false,
      "title": "AlloyDB API",
      "version": "v1alpha"
    },
    {
      "description": "AlloyDB for PostgreSQL is an open source-compatible database service that provides a powerful option for migrating, modernizing, or building commercial-grade applications. It offers full compatibility with standard PostgreSQL, and is more than 4x faster for transactional workloads and up to 100x faster for analytical queries than standard PostgreSQL in our performance tests. AlloyDB for PostgreSQL offers a 99.99 percent availability SLA inclusive of maintenance. AlloyDB is optimized for the most demanding use cases, allowing you to build new applications that require high transaction throughput, large database sizes, or multiple read resources; scale existing PostgreSQL workloads with no application changes; and modernize legacy proprietary databases.",
      "discoveryRestUrl": "https://alloydb.googleapis.com/$discovery/rest?version=v1beta",
      "documentationLink": "https://cloud.google.com/alloydb/",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "alloydb:v1beta",
      "kind": "discovery#directoryItem",
      "name": "alloydb",
      "preferred": false,
      "title": "AlloyDB API",
      "version": "v1beta"
    },
    {
      "description": "AlloyDB for PostgreSQL is an open source-compatible database service that provides a powerful option for migrating, modernizing, or building commercial-grade applications. It offers full compatibility with standard PostgreSQL, and is more than 4x faster for transactional workloads and up to 100x faster for analytical queries than standard PostgreSQL in our performance tests. AlloyDB for PostgreSQL offers a 99.99 percent availability SLA inclusive of maintenance. AlloyDB is optimized for the most demanding use cases, allowing you to build new applications that require high transaction throughput, large database sizes, or multiple read resources; scale existing PostgreSQL workloads with no application changes; and modernize legacy proprietary databases.",
      "discoveryRestUrl": "https://alloydb.googleapis.com/$discovery/rest?version=v1",
      "documentationLink": "https://cloud.google.com/alloydb/",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "alloydb:v1",
      "kind": "discovery#directoryItem",
      "name": "alloydb",
      "preferred": true,
      "title": "AlloyDB API",
      "version": "v1"
    },
    {
      "description": "The Analytics API provides access to Analytics configuration and report data.",
      "discoveryRestUrl": "https://analytics.googleapis.com/$discovery/rest?version=v3",
      "documentationLink": "http://code.google.com/apis/analytics/docs/mgmt/home.html",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "analytics:v3",
      "kind": "discovery#directoryItem",
      "name": "analytics",
      "preferred": true,
      "title": "Google Analytics API",
      "version": "v3"
    },
    {
      "description": "Manage properties in Google Analytics. Warning: Creating multiple Customer Applications, Accounts, or Projects to simulate or act as a single Customer Application, Account, or Project (respectively) or to circumvent Service-specific usage limits or quotas is a direct violation of Google Cloud Platform Terms of Service as well as Google APIs Terms of Service. These actions can result in immediate termination of your GCP project(s) without any warning.",
      "discoveryRestUrl": "https://analyticsadmin.googleapis.com/$discovery/rest?version=v1alpha",
      "documentationLink": "http://code.google.com/apis/analytics/docs/mgmt/home.html",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "analyticsadmin:v1alpha",
      "kind": "discovery#directoryItem",
      "name": "analyticsadmin",
      "preferred": false,
      "title": "Google Analytics Admin API",
      "version": "v1alpha"
    },
    {
      "description": "Manage properties in Google Analytics. Warning: Creating multiple Customer Applications, Accounts, or Projects to simulate or act as a single Customer Application, Account, or Project (respectively) or to circumvent Service-specific usage limits or quotas is a direct violation of Google Cloud Platform Terms of Service as well as Google APIs Terms of Service. These actions can result in immediate termination of your GCP project(s) without any warning.",
      "discoveryRestUrl": "https://analyticsadmin.googleapis.com/$discovery/rest?version=v1beta",
      "documentationLink": "http://code.google.com/apis/analytics/docs/mgmt/home.html",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "analyticsadmin:v1beta",
      "kind": "discovery#directoryItem",
      "name": "analyticsadmin",
      "preferred": true,
      "title": "Google Analytics Admin API",
      "version": "v1beta"
    },
    {
      "description": "Accesses report data in Google Analytics. Warning: Creating multiple Customer Applications, Accounts, or Projects to simulate or act as a single Customer Application, Account, or Project (respectively) or to circumvent Service-specific usage limits or quotas is a direct violation of Google Cloud Platform Terms of Service as well as Google APIs Terms of Service. These actions can result in immediate termination of your GCP project(s) without any warning.",
      "discoveryRestUrl": "https://analyticsdata.googleapis.com/$discovery/rest?version=v1beta",
      "documentationLink": "https://developers.google.com/analytics/devguides/reporting/data/v1/",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "analyticsdata:v1beta",
      "kind": "discovery#directoryItem",
      "name": "analyticsdata",
      "preferred": true,
      "title": "Google Analytics Data API",
      "version": "v1beta"
    },
    {
      "description": "Exchange data and analytics assets securely and efficiently.",
      "discoveryRestUrl": "https://analyticshub.googleapis.com/$discovery/rest?version=v1beta1",
      "documentationLink": "https://cloud.google.com/bigquery/docs/analytics-hub-introduction",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "analyticshub:v1beta1",
      "kind": "discovery#directoryItem",
      "name": "analyticshub",
      "preferred": false,
      "title": "Analytics Hub API",
      "version": "v1beta1"
    },
    {
      "description": "Exchange data and analytics assets securely and efficiently.",
      "discoveryRestUrl": "https://analyticshub.googleapis.com/$discovery/rest?version=v1",
      "documentationLink": "https://cloud.google.com/bigquery/docs/analytics-hub-introduction",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "analyticshub:v1",
      "kind": "discovery#directoryItem",
      "name": "analyticshub",
      "preferred": true,
      "title": "Analytics Hub API",
      "version": "v1"
    },
    {
      "description": "Automates Android zero-touch enrollment for device resellers, customers, and EMMs.",
      "discoveryRestUrl": "https://androiddeviceprovisioning.googleapis.com/$discovery/rest?version=v1",
      "documentationLink": "https://developers.google.com/zero-touch/",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "androiddeviceprovisioning:v1",
      "kind": "discovery#directoryItem",
      "name": "androiddeviceprovisioning",
      "preferred": true,
      "title": "Android Device Provisioning Partner API",
      "version": "v1"
    },
    {
      "description": "Manages the deployment of apps to Android Enterprise devices.",
      "discoveryRestUrl": "https://androidenterprise.googleapis.com/$discovery/rest?version=v1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "androidenterprise:v1",
      "kind": "discovery#directoryItem",
      "name": "androidenterprise",
      "preferred": true,
      "title": "Google Play EMM API",
      "version": "v1"
    },
    {
      "description": "The Android Management API provides remote enterprise management of Android devices and apps.",
      "discoveryRestUrl": "https://androidmanagement.googleapis.com/$discovery/rest?version=v1",
      "documentationLink": "https://developers.google.com/android/management",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "androidmanagement:v1",
      "kind": "discovery#directoryItem",
      "name": "androidmanagement",
      "preferred": true,
      "title": "Android Management API",
      "version": "v1"
    },
    {
      "description": "Lets Android application developers access their Google Play accounts. At a high level, the expected workflow is to \"insert\" an Edit, make changes as necessary, and then \"commit\" it.",
      "discoveryRestUrl": "https://androidpublisher.googleapis.com/$discovery/rest?version=v3",
      "documentationLink": "https://developers.google.com/android-publisher",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "androidpublisher:v3",
      "kind": "discovery#directoryItem",
      "name": "androidpublisher",
      "preferred": true,
      "title": "Google Play Android Developer API",
      "version": "v3"
    },
    {
      "description": "",
      "discoveryRestUrl": "https://apigateway.googleapis.com/$discovery/rest?version=v1beta",
      "documentationLink": "https://cloud.google.com/api-gateway/docs",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "apigateway:v1beta",
      "kind": "discovery#directoryItem",
      "name": "apigateway",
      "preferred": false,
      "title": "API Gateway API",
      "version": "v1beta"
    },
    {
      "description": "",
      "discoveryRestUrl": "https://apigateway.googleapis.com/$discovery/rest?version=v1",
      "documentationLink": "https://cloud.google.com/api-gateway/docs",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "apigateway:v1",
      "kind": "discovery#directoryItem",
      "name": "apigateway",
      "preferred": true,
      "title": "API Gateway API",
      "version": "v1"
    },
    {
      "description": "Use the Apigee API to programmatically develop and manage APIs with a set of RESTful operations. Develop and secure API proxies, deploy and undeploy API proxy revisions, monitor APIs, configure environments, manage users, and more. Note: This product is available as a free trial for a time period of 60 days.",
      "discoveryRestUrl": "https://apigee.googleapis.com/$discovery/rest?version=v1",
      "documentationLink": "https://cloud.google.com/apigee-api-management/",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "apigee:v1",
      "kind": "discovery#directoryItem",
      "name": "apigee",
      "preferred": true,
      "title": "Apigee API",
      "version": "v1"
    },
    {
      "description": "",
      "discoveryRestUrl": "https://apigeeregistry.googleapis.com/$discovery/rest?version=v1",
      "documentationLink": "https://cloud.google.com/apigee/docs/api-hub/what-is-api-hub",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "apigeeregistry:v1",
      "kind": "discovery#directoryItem",
      "name": "apigeeregistry",
      "preferred": true,
      "title": "Apigee Registry API",
      "version": "v1"
    },
    {
      "description": "",
      "discoveryRestUrl": "https://apihub.googleapis.com/$discovery/rest?version=v1",
      "documentationLink": "https://cloud.google.com/apigee/docs/api-hub/what-is-api-hub",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "apihub:v1",
      "kind": "discovery#directoryItem",
      "name": "apihub",
      "preferred": true,
      "title": "API hub API",
      "version": "v1"
    },
    {
      "description": "Manages the API keys associated with developer projects.",
      "discoveryRestUrl": "https://apikeys.googleapis.com/$discovery/rest?version=v2",
      "documentationLink": "https://cloud.google.com/api-keys/docs",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "apikeys:v2",
      "kind": "discovery#directoryItem",
      "name": "apikeys",
      "preferred": true,
      "title": "API Keys API",
      "version": "v2"
    },
    {
      "description": "Enables users to discover shadow APIs in existing Google Cloud infrastructure.",
      "discoveryRestUrl": "https://apim.googleapis.com/$discovery/rest?version=v1alpha",
      "documentationLink": "https://cloud.google.com/apigee/",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "apim:v1alpha",
      "kind": "discovery#directoryItem",
      "name": "apim",
      "preferred": true,
      "title": "API Management API",
      "version": "v1alpha"
    },
    {
      "description": "Provisions and manages developers' App Engine applications.",
      "discoveryRestUrl": "https://appengine.googleapis.com/$discovery/rest?version=v1alpha",
      "documentationLink": "https://cloud.google.com/appengine/docs/admin-api/",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "appengine:v1alpha",
      "kind": "discovery#directoryItem",
      "name": "appengine",
      "preferred": false,
      "title": "App Engine Admin API",
      "version": "v1alpha"
    },
    {
      "description": "Provisions and manages developers' App Engine applications.",
      "discoveryRestUrl": "https://appengine.googleapis.com/$discovery/rest?version=v1beta",
      "documentationLink": "https://cloud.google.com/appengine/docs/admin-api/",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "appengine:v1beta",
      "kind": "discovery#directoryItem",
      "name": "appengine",
      "preferred": false,
      "title": "App Engine Admin API",
      "version": "v1beta"
    },
    {
      "description": "Provisions and manages developers' App Engine applications.",
      "discoveryRestUrl": "https://appengine.googleapis.com/$discovery/rest?version=v1",
      "documentationLink": "https://cloud.google.com/appengine/docs/admin-api/",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "appengine:v1",
      "kind": "discovery#directoryItem",
      "name": "appengine",
      "preferred": true,
      "title": "App Engine Admin API",
      "version": "v1"
    },
    {
      "description": "",
      "discoveryRestUrl": "https://apphub.googleapis.com/$discovery/rest?version=v1alpha",
      "documentationLink": "https://cloud.google.com/app-hub/docs/",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "apphub:v1alpha",
      "kind": "discovery#directoryItem",
      "name": "apphub",
      "preferred": false,
      "title": "App Hub API",
      "version": "v1alpha"
    },
    {
      "description": "",
      "discoveryRestUrl": "https://apphub.googleapis.com/$discovery/rest?version=v1",
      "documentationLink": "https://cloud.google.com/app-hub/docs/",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "apphub:v1",
      "kind": "discovery#directoryItem",
      "name": "apphub",
      "preferred": true,
      "title": "App Hub API",
      "version": "v1"
    },
    {
      "description": "",
      "discoveryRestUrl": "https://area120tables.googleapis.com/$discovery/rest?version=v1alpha1",
      "documentationLink": "https://support.google.com/area120-tables/answer/10011390",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "area120tables:v1alpha1",
      "kind": "discovery#directoryItem",
      "name": "area120tables",
      "preferred": true,
      "title": "Area120 Tables API",
      "version": "v1alpha1"
    },
    {
      "description": "Places Aggregate API.",
      "discoveryRestUrl": "https://areainsights.googleapis.com/$discovery/rest?version=v1",
      "documentationLink": "https://developers.google.com/maps/documentation/places-aggregate/overview",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "areainsights:v1",
      "kind": "discovery#directoryItem",
      "name": "areainsights",
      "preferred": true,
      "title": "Places Aggregate API",
      "version": "v1"
    },
    {
      "description": "Store and manage build artifacts in a scalable and integrated service built on Google infrastructure.",
      "discoveryRestUrl": "https://artifactregistry.googleapis.com/$discovery/rest?version=v1beta1",
      "documentationLink": "https://cloud.google.com/artifacts/docs/",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "artifactregistry:v1beta1",
      "kind": "discovery#directoryItem",
      "name": "artifactregistry",
      "preferred": false,
      "title": "Artifact Registry API",
      "version": "v1beta1"
    },
    {
      "description": "Store and manage build artifacts in a scalable and integrated service built on Google infrastructure.",
      "discoveryRestUrl": "https://artifactregistry.googleapis.com/$discovery/rest?version=v1beta2",
      "documentationLink": "https://cloud.google.com/artifacts/docs/",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "artifactregistry:v1beta2",
      "kind": "discovery#directoryItem",
      "name": "artifactregistry",
      "preferred": false,
      "title": "Artifact Registry API",
      "version": "v1beta2"
    },
    {
      "description": "Store and manage build artifacts in a scalable and integrated service built on Google infrastructure.",
      "discoveryRestUrl": "https://artifactregistry.googleapis.com/$discovery/rest?version=v1",
      "documentationLink": "https://cloud.google.com/artifacts/docs/",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "artifactregistry:v1",
      "kind": "discovery#directoryItem",
      "name": "artifactregistry",
      "preferred": true,
      "title": "Artifact Registry API",
      "version": "v1"
    },
    {
      "description": "",
      "discoveryRestUrl": "https://assuredworkloads.googleapis.com/$discovery/rest?version=v1beta1",
      "documentationLink": "https://cloud.google.com/learnmoreurl",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "assuredworkloads:v1beta1",
      "kind": "discovery#directoryItem",
      "name": "assuredworkloads",
      "preferred": false,
      "title": "Assured Workloads API",
      "version": "v1beta1"
    },
    {
      "description": "",
      "discoveryRestUrl": "https://assuredworkloads.googleapis.com/$discovery/rest?version=v1",
      "documentationLink": "https://cloud.google.com/learnmoreurl",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "assuredworkloads:v1",
      "kind": "discovery#directoryItem",
      "name": "assuredworkloads",
      "preferred": true,
      "title": "Assured Workloads API",
      "version": "v1"
    },
    {
      "description": "The Authorized Buyers Marketplace API lets buyers programmatically discover inventory; propose, retrieve and negotiate deals with publishers.",
      "discoveryRestUrl": "https://authorizedbuyersmarketplace.googleapis.com/$discovery/rest?version=v1alpha",
      "documentationLink": "https://developers.google.com/authorized-buyers/apis/marketplace/reference/rest/",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "authorizedbuyersmarketplace:v1alpha",
      "kind": "discovery#directoryItem",
      "name": "authorizedbuyersmarketplace",
      "preferred": false,
      "title": "Authorized Buyers Marketplace API",
      "version": "v1alpha"
    },
    {
      "description": "The Authorized Buyers Marketplace API lets buyers programmatically discover inventory; propose, retrieve and negotiate deals with publishers.",
      "discoveryRestUrl": "https://authorizedbuyersmarketplace.googleapis.com/$discovery/rest?version=v1beta",
      "documentationLink": "https://developers.google.com/authorized-buyers/apis/marketplace/reference/rest/",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "authorizedbuyersmarketplace:v1beta",
      "kind": "discovery#directoryItem",
      "name": "authorizedbuyersmarketplace",
      "preferred": false,
      "title": "Authorized Buyers Marketplace API",
      "version": "v1beta"
    },
    {
      "description": "The Authorized Buyers Marketplace API lets buyers programmatically discover inventory; propose, retrieve and negotiate deals with publishers.",
      "discoveryRestUrl": "https://authorizedbuyersmarketplace.googleapis.com/$discovery/rest?version=v1",
      "documentationLink": "https://developers.google.com/authorized-buyers/apis/marketplace/reference/rest/",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "authorizedbuyersmarketplace:v1",
      "kind": "discovery#directoryItem",
      "name": "authorizedbuyersmarketplace",
      "preferred": true,
      "title": "Authorized Buyers Marketplace API",
      "version": "v1"
    },
    {
      "description": "",
      "discoveryRestUrl": "https://backupdr.googleapis.com/$discovery/rest?version=v1",
      "documentationLink": "https://cloud.google.com/backup-disaster-recovery",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "backupdr:v1",
      "kind": "discovery#directoryItem",
      "name": "backupdr",
      "preferred": true,
      "title": "Backup and DR Service API",
      "version": "v1"
    },
    {
      "description": "Provides ways to manage Bare Metal Solution hardware installed in a regional extension located near a Google Cloud data center.",
      "discoveryRestUrl": "https://baremetalsolution.googleapis.com/$discovery/rest?version=v2",
      "documentationLink": "https://cloud.google.com/bare-metal",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "baremetalsolution:v2",
      "kind": "discovery#directoryItem",
      "name": "baremetalsolution",
      "preferred": true,
      "title": "Bare Metal Solution API",
      "version": "v2"
    },
    {
      "description": "An API to manage the running of Batch resources on Google Cloud Platform.",
      "discoveryRestUrl": "https://batch.googleapis.com/$discovery/rest?version=v1",
      "documentationLink": "https://cloud.google.com/batch/",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "batch:v1",
      "kind": "discovery#directoryItem",
      "name": "batch",
      "preferred": true,
      "title": "Batch API",
      "version": "v1"
    },
    {
      "description": "Beyondcorp Enterprise provides identity and context aware access controls for enterprise resources and enables zero-trust access. Using the Beyondcorp Enterprise APIs, enterprises can set up multi-cloud and on-prem connectivity solutions.",
      "discoveryRestUrl": "https://beyondcorp.googleapis.com/$discovery/rest?version=v1alpha",
      "documentationLink": "https://cloud.google.com/",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "beyondcorp:v1alpha",
      "kind": "discovery#directoryItem",
      "name": "beyondcorp",
      "preferred": false,
      "title": "BeyondCorp API",
      "version": "v1alpha"
    },
    {
      "description": "Beyondcorp Enterprise provides identity and context aware access controls for enterprise resources and enables zero-trust access. Using the Beyondcorp Enterprise APIs, enterprises can set up multi-cloud and on-prem connectivity solutions.",
      "discoveryRestUrl": "https://beyondcorp.googleapis.com/$discovery/rest?version=v1",
      "documentationLink": "https://cloud.google.com/",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "beyondcorp:v1",
      "kind": "discovery#directoryItem",
      "name": "beyondcorp",
      "preferred": true,
      "title": "BeyondCorp API",
      "version": "v1"
    },
    {
      "description": "The BigLake API provides access to BigLake Metastore, a serverless, fully managed, and highly available metastore for open-source data that can be used for querying Apache Iceberg tables in BigQuery.",
      "discoveryRestUrl": "https://biglake.googleapis.com/$discovery/rest?version=v1",
      "documentationLink": "https://cloud.google.com/bigquery/",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "biglake:v1",
      "kind": "discovery#directoryItem",
      "name": "biglake",
      "preferred": true,
      "title": "BigLake API",
      "version": "v1"
    },
    {
      "description": "A data platform for customers to create, manage, share and query data.",
      "discoveryRestUrl": "https://bigquery.googleapis.com/$discovery/rest?version=v2",
      "documentationLink": "https://cloud.google.com/bigquery/",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "bigquery:v2",
      "kind": "discovery#directoryItem",
      "name": "bigquery",
      "preferred": true,
      "title": "BigQuery API",
      "version": "v2"
    },
    {
      "description": "Allows users to manage BigQuery connections to external data sources.",
      "discoveryRestUrl": "https://bigqueryconnection.googleapis.com/$discovery/rest?version=v1beta1",
      "documentationLink": "https://cloud.google.com/bigquery/docs/connections-api-intro",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "bigqueryconnection:v1beta1",
      "kind": "discovery#directoryItem",
      "name": "bigqueryconnection",
      "preferred": false,
      "title": "BigQuery Connection API",
      "version": "v1beta1"
    },
    {
      "description": "Allows users to manage BigQuery connections to external data sources.",
      "discoveryRestUrl": "https://bigqueryconnection.googleapis.com/$discovery/rest?version=v1",
      "documentationLink": "https://cloud.google.com/bigquery/docs/connections-api-intro",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "bigqueryconnection:v1",
      "kind": "discovery#directoryItem",
      "name": "bigqueryconnection",
      "preferred": true,
      "title": "BigQuery Connection API",
      "version": "v1"
    },
    {
      "description": "Allows users to manage BigQuery data policies.",
      "discoveryRestUrl": "https://bigquerydatapolicy.googleapis.com/$discovery/rest?version=v1",
      "documentationLink": "https://cloud.google.com/bigquery/docs/column-data-masking",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "bigquerydatapolicy:v1",
      "kind": "discovery#directoryItem",
      "name": "bigquerydatapolicy",
      "preferred": true,
      "title": "BigQuery Data Policy API",
      "version": "v1"
    },
    {
      "description": "Schedule queries or transfer external data from SaaS applications to Google BigQuery on a regular basis.",
      "discoveryRestUrl": "https://bigquerydatatransfer.googleapis.com/$discovery/rest?version=v1",
      "documentationLink": "https://cloud.google.com/bigquery-transfer/",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "bigquerydatatransfer:v1",
      "kind": "discovery#directoryItem",
      "name": "bigquerydatatransfer",
      "preferred": true,
      "title": "BigQuery Data Transfer API",
      "version": "v1"
    },
    {
      "description": "A service to modify your BigQuery reservations.",
      "discoveryRestUrl": "https://bigqueryreservation.googleapis.com/$discovery/rest?version=v1",
      "documentationLink": "https://cloud.google.com/bigquery/",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "bigqueryreservation:v1",
      "kind": "discovery#directoryItem",
      "name": "bigqueryreservation",
      "preferred": true,
      "title": "BigQuery Reservation API",
      "version": "v1"
    },
    {
      "description": "Administer your Cloud Bigtable tables and instances.",
      "discoveryRestUrl": "https://bigtableadmin.googleapis.com/$discovery/rest?version=v2",
      "documentationLink": "https://cloud.google.com/bigtable/",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "bigtableadmin:v2",
      "kind": "discovery#directoryItem",
      "name": "bigtableadmin",
      "preferred": true,
      "title": "Cloud Bigtable Admin API",
      "version": "v2"
    },
    {
      "description": "The Cloud Billing Budget API stores Cloud Billing budgets, which define a budget plan and the rules to execute as spend is tracked against that plan.",
      "discoveryRestUrl": "https://billingbudgets.googleapis.com/$discovery/rest?version=v1beta1",
      "documentationLink": "https://cloud.google.com/billing/docs/how-to/budget-api-overview",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "billingbudgets:v1beta1",
      "kind": "discovery#directoryItem",
      "name": "billingbudgets",
      "preferred": false,
      "title": "Cloud Billing Budget API",
      "version": "v1beta1"
    },
    {
      "description": "The Cloud Billing Budget API stores Cloud Billing budgets, which define a budget plan and the rules to execute as spend is tracked against that plan.",
      "discoveryRestUrl": "https://billingbudgets.googleapis.com/$discovery/rest?version=v1",
      "documentationLink": "https://cloud.google.com/billing/docs/how-to/budget-api-overview",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "billingbudgets:v1",
      "kind": "discovery#directoryItem",
      "name": "billingbudgets",
      "preferred": true,
      "title": "Cloud Billing Budget API",
      "version": "v1"
    },
    {
      "description": "The management interface for Binary Authorization, a service that provides policy-based deployment validation and control for images deployed to Google Kubernetes Engine (GKE), Anthos Service Mesh, Anthos Clusters, and Cloud Run.",
      "discoveryRestUrl": "https://binaryauthorization.googleapis.com/$discovery/rest?version=v1beta1",
      "documentationLink": "https://cloud.google.com/binary-authorization/",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "binaryauthorization:v1beta1",
      "kind": "discovery#directoryItem",
      "name": "binaryauthorization",
      "preferred": false,
      "title": "Binary Authorization API",
      "version": "v1beta1"
    },
    {
      "description": "The management interface for Binary Authorization, a service that provides policy-based deployment validation and control for images deployed to Google Kubernetes Engine (GKE), Anthos Service Mesh, Anthos Clusters, and Cloud Run.",
      "discoveryRestUrl": "https://binaryauthorization.googleapis.com/$discovery/rest?version=v1",
      "documentationLink": "https://cloud.google.com/binary-authorization/",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "binaryauthorization:v1",
      "kind": "discovery#directoryItem",
      "name": "binaryauthorization",
      "preferred": true,
      "title": "Binary Authorization API",
      "version": "v1"
    },
    {
      "description": "",
      "discoveryRestUrl": "https://blockchainnodeengine.googleapis.com/$discovery/rest?version=v1",
      "documentationLink": "https://cloud.google.com/blockchain-node-engine",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "blockchainnodeengine:v1",
      "kind": "discovery#directoryItem",
      "name": "blockchainnodeengine",
      "preferred": true,
      "title": "Blockchain Node Engine API",
      "version": "v1"
    },
    {
      "description": "The Blogger API provides access to posts, comments and pages of a Blogger blog.",
      "discoveryRestUrl": "https://blogger.googleapis.com/$discovery/rest?version=v2",
      "documentationLink": "https://developers.google.com/blogger/docs/3.0/getting_started",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "blogger:v2",
      "kind": "discovery#directoryItem",
      "name": "blogger",
      "preferred": false,
      "title": "Blogger API",
      "version": "v2"
    },
    {
      "description": "The Blogger API provides access to posts, comments and pages of a Blogger blog.",
      "discoveryRestUrl": "https://blogger.googleapis.com/$discovery/rest?version=v3",
      "documentationLink": "https://developers.google.com/blogger/docs/3.0/getting_started",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "blogger:v3",
      "kind": "discovery#directoryItem",
      "name": "blogger",
      "preferred": true,
      "title": "Blogger API",
      "version": "v3"
    },
    {
      "description": "The Google Books API allows clients to access the Google Books repository.",
      "discoveryRestUrl": "https://books.googleapis.com/$discovery/rest?version=v1",
      "documentationLink": "https://code.google.com/apis/books/docs/v1/getting_started.html",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "books:v1",
      "kind": "discovery#directoryItem",
      "name": "books",
      "preferred": true,
      "title": "Books API",
      "version": "v1"
    },
    {
      "description": "The Business Profile Performance API allows merchants to fetch performance reports about their business profile on Google. Note - If you have a quota of 0 after enabling the API, please request <https://developers.google.com/my-business/content/prereqs#request-access> for GBP API access.",
      "discoveryRestUrl": "https://businessprofileperformance.googleapis.com/$discovery/rest?version=v1",
      "documentationLink": "https://developers.google.com/my-business/",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "businessprofileperformance:v1",
      "kind": "discovery#directoryItem",
      "name": "businessprofileperformance",
      "preferred": true,
      "title": "Business Profile Performance API",
      "version": "v1"
    },
    {
      "description": "The Google Calendar API lets you manage your calendars and events.",
      "discoveryRestUrl": "https://calendar-json.googleapis.com/$discovery/rest?version=v3",
      "documentationLink": "http://code.google.com/apis/calendar/v3/",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "calendar:v3",
      "kind": "discovery#directoryItem",
      "name": "calendar",
      "preferred": true,
      "title": "Google Calendar API",
      "version": "v3"
    },
    {
      "description": "",
      "discoveryRestUrl": "https://certificatemanager.googleapis.com/$discovery/rest?version=v1",
      "documentationLink": "https://cloud.google.com/certificate-manager",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "certificatemanager:v1",
      "kind": "discovery#directoryItem",
      "name": "certificatemanager",
      "preferred": true,
      "title": "Certificate Manager API",
      "version": "v1"
    },
    {
      "description": "The Google Chat API lets you build Chat apps to integrate your services with Google Chat and manage Chat resources such as spaces, members, and messages.",
      "discoveryRestUrl": "https://chat.googleapis.com/$discovery/rest?version=v1",
      "documentationLink": "https://developers.google.com/hangouts/chat",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "chat:v1",
      "kind": "discovery#directoryItem",
      "name": "chat",
      "preferred": true,
      "title": "Google Chat API",
      "version": "v1"
    },
    {
      "description": "The Checks API contains powerful and easy-to-use privacy and compliance APIs that interact with the Checks product and its underlying technology.",
      "discoveryRestUrl": "https://checks.googleapis.com/$discovery/rest?version=v1alpha",
      "documentationLink": "https://developers.google.com/checks",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "checks:v1alpha",
      "kind": "discovery#directoryItem",
      "name": "checks",
      "preferred": true,
      "title": "Checks API",
      "version": "v1alpha"
    },
    {
      "description": "The Chrome Management API is a suite of services that allows Chrome administrators to view, manage and gain insights on their Chrome OS and Chrome Browser devices.",
      "discoveryRestUrl": "https://chromemanagement.googleapis.com/$discovery/rest?version=v1",
      "documentationLink": "https://developers.google.com/chrome/management/",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "chromemanagement:v1",
      "kind": "discovery#directoryItem",
      "name": "chromemanagement",
      "preferred": true,
      "title": "Chrome Management API",
      "version": "v1"
    },
    {
      "description": "The Chrome Policy API is a suite of services that allows Chrome administrators to control the policies applied to their managed Chrome OS devices and Chrome browsers.",
      "discoveryRestUrl": "https://chromepolicy.googleapis.com/$discovery/rest?version=v1",
      "documentationLink": "http://developers.google.com/chrome/policy",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "chromepolicy:v1",
      "kind": "discovery#directoryItem",
      "name": "chromepolicy",
      "preferred": true,
      "title": "Chrome Policy API",
      "version": "v1"
    },
    {
      "description": "The Chrome UX Report API lets you view real user experience data for millions of websites.",
      "discoveryRestUrl": "https://chromeuxreport.googleapis.com/$discovery/rest?version=v1",
      "documentationLink": "https://developers.google.com/web/tools/chrome-user-experience-report/api/reference",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "chromeuxreport:v1",
      "kind": "discovery#directoryItem",
      "name": "chromeuxreport",
      "preferred": true,
      "title": "Chrome UX Report API",
      "version": "v1"
    },
    {
      "description": "Provides polling places, early vote locations, contest data, election officials, and government representatives for U.S. residential addresses.",
      "discoveryRestUrl": "https://civicinfo.googleapis.com/$discovery/rest?version=v2",
      "documentationLink": "https://developers.google.com/civic-information/",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "civicinfo:v2",
      "kind": "discovery#directoryItem",
      "name": "civicinfo",
      "preferred": true,
      "title": "Google Civic Information API",
      "version": "v2"
    },
    {
      "description": "Manages classes, rosters, and invitations in Google Classroom.",
      "discoveryRestUrl": "https://classroom.googleapis.com/$discovery/rest?version=v1",
      "documentationLink": "https://developers.google.com/workspace/classroom",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "classroom:v1",
      "kind": "discovery#directoryItem",
      "name": "classroom",
      "preferred": true,
      "title": "Google Classroom API",
      "version": "v1"
    },
    {
      "description": "The Cloud Asset API manages the history and inventory of Google Cloud resources.",
      "discoveryRestUrl": "https://cloudasset.googleapis.com/$discovery/rest?version=v1p1beta1",
      "documentationLink": "https://cloud.google.com/asset-inventory/docs/quickstart",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "cloudasset:v1p1beta1",
      "kind": "discovery#directoryItem",
      "name": "cloudasset",
      "preferred": false,
      "title": "Cloud Asset API",
      "version": "v1p1beta1"
    },
    {
      "description": "The Cloud Asset API manages the history and inventory of Google Cloud resources.",
      "discoveryRestUrl": "https://cloudasset.googleapis.com/$discovery/rest?version=v1p5beta1",
      "documentationLink": "https://cloud.google.com/asset-inventory/docs/quickstart",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "cloudasset:v1p5beta1",
      "kind": "discovery#directoryItem",
      "name": "cloudasset",
      "preferred": false,
      "title": "Cloud Asset API",
      "version": "v1p5beta1"
    },
    {
      "description": "The Cloud Asset API manages the history and inventory of Google Cloud resources.",
      "discoveryRestUrl": "https://cloudasset.googleapis.com/$discovery/rest?version=v1p7beta1",
      "documentationLink": "https://cloud.google.com/asset-inventory/docs/quickstart",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "cloudasset:v1p7beta1",
      "kind": "discovery#directoryItem",
      "name": "cloudasset",
      "preferred": false,
      "title": "Cloud Asset API",
      "version": "v1p7beta1"
    },
    {
      "description": "The Cloud Asset API manages the history and inventory of Google Cloud resources.",
      "discoveryRestUrl": "https://cloudasset.googleapis.com/$discovery/rest?version=v1beta1",
      "documentationLink": "https://cloud.google.com/asset-inventory/docs/quickstart",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "cloudasset:v1beta1",
      "kind": "discovery#directoryItem",
      "name": "cloudasset",
      "preferred": false,
      "title": "Cloud Asset API",
      "version": "v1beta1"
    },
    {
      "description": "The Cloud Asset API manages the history and inventory of Google Cloud resources.",
      "discoveryRestUrl": "https://cloudasset.googleapis.com/$discovery/rest?version=v1",
      "documentationLink": "https://cloud.google.com/asset-inventory/docs/quickstart",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "cloudasset:v1",
      "kind": "discovery#directoryItem",
      "name": "cloudasset",
      "preferred": true,
      "title": "Cloud Asset API",
      "version": "v1"
    },
    {
      "description": "Allows developers to manage billing for their Google Cloud Platform projects programmatically.",
      "discoveryRestUrl": "https://cloudbilling.googleapis.com/$discovery/rest?version=v1beta",
      "documentationLink": "https://cloud.google.com/billing/docs/apis",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "cloudbilling:v1beta",
      "kind": "discovery#directoryItem",
      "name": "cloudbilling",
      "preferred": false,
      "title": "Cloud Billing API",
      "version": "v1beta"
    },
    {
      "description": "Allows developers to manage billing for their Google Cloud Platform projects programmatically.",
      "discoveryRestUrl": "https://cloudbilling.googleapis.com/$discovery/rest?version=v1",
      "documentationLink": "https://cloud.google.com/billing/docs/apis",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "cloudbilling:v1",
      "kind": "discovery#directoryItem",
      "name": "cloudbilling",
      "preferred": true,
      "title": "Cloud Billing API",
      "version": "v1"
    },
    {
      "description": "Creates and manages builds on Google Cloud Platform.",
      "discoveryRestUrl": "https://cloudbuild.googleapis.com/$discovery/rest?version=v1",
      "documentationLink": "https://cloud.google.com/cloud-build/docs/",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "cloudbuild:v1",
      "kind": "discovery#directoryItem",
      "name": "cloudbuild",
      "preferred": false,
      "title": "Cloud Build API",
      "version": "v1"
    },
    {
      "description": "Creates and manages builds on Google Cloud Platform.",
      "discoveryRestUrl": "https://cloudbuild.googleapis.com/$discovery/rest?version=v2",
      "documentationLink": "https://cloud.google.com/cloud-build/docs/",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "cloudbuild:v2",
      "kind": "discovery#directoryItem",
      "name": "cloudbuild",
      "preferred": true,
      "title": "Cloud Build API",
      "version": "v2"
    },
    {
      "description": "The Cloud Channel API enables Google Cloud partners to have a single unified resale platform and APIs across all of Google Cloud including GCP, Workspace, Maps and Chrome.",
      "discoveryRestUrl": "https://cloudchannel.googleapis.com/$discovery/rest?version=v1",
      "documentationLink": "https://cloud.google.com/channel",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "cloudchannel:v1",
      "kind": "discovery#directoryItem",
      "name": "cloudchannel",
      "preferred": true,
      "title": "Cloud Channel API",
      "version": "v1"
    },
    {
      "description": "Provides insights about your customers and their Assured Workloads based on your Sovereign Controls by Partners offering.",
      "discoveryRestUrl": "https://cloudcontrolspartner.googleapis.com/$discovery/rest?version=v1beta",
      "documentationLink": "https://cloud.google.com/sovereign-controls-by-partners/docs/sovereign-partners/reference/rest",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "cloudcontrolspartner:v1beta",
      "kind": "discovery#directoryItem",
      "name": "cloudcontrolspartner",
      "preferred": false,
      "title": "Cloud Controls Partner API",
      "version": "v1beta"
    },
    {
      "description": "Provides insights about your customers and their Assured Workloads based on your Sovereign Controls by Partners offering.",
      "discoveryRestUrl": "https://cloudcontrolspartner.googleapis.com/$discovery/rest?version=v1",
      "documentationLink": "https://cloud.google.com/sovereign-controls-by-partners/docs/sovereign-partners/reference/rest",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "cloudcontrolspartner:v1",
      "kind": "discovery#directoryItem",
      "name": "cloudcontrolspartner",
      "preferred": true,
      "title": "Cloud Controls Partner API",
      "version": "v1"
    },
    {
      "description": "",
      "discoveryRestUrl": "https://clouddeploy.googleapis.com/$discovery/rest?version=v1",
      "documentationLink": "https://cloud.google.com/deploy/",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "clouddeploy:v1",
      "kind": "discovery#directoryItem",
      "name": "clouddeploy",
      "preferred": true,
      "title": "Cloud Deploy API",
      "version": "v1"
    },
    {
      "description": "Groups and counts similar errors from cloud services and applications, reports new errors, and provides access to error groups and their associated errors.",
      "discoveryRestUrl": "https://clouderrorreporting.googleapis.com/$discovery/rest?version=v1beta1",
      "documentationLink": "https://cloud.google.com/error-reporting/",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "clouderrorreporting:v1beta1",
      "kind": "discovery#directoryItem",
      "name": "clouderrorreporting",
      "preferred": true,
      "title": "Error Reporting API",
      "version": "v1beta1"
    },
    {
      "description": "Manages lightweight user-provided functions executed in response to events.",
      "discoveryRestUrl": "https://cloudfunctions.googleapis.com/$discovery/rest?version=v2alpha",
      "documentationLink": "https://cloud.google.com/functions",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "cloudfunctions:v2alpha",
      "kind": "discovery#directoryItem",
      "name": "cloudfunctions",
      "preferred": false,
      "title": "Cloud Functions API",
      "version": "v2alpha"
    },
    {
      "description": "Manages lightweight user-provided functions executed in response to events.",
      "discoveryRestUrl": "https://cloudfunctions.googleapis.com/$discovery/rest?version=v2beta",
      "documentationLink": "https://cloud.google.com/functions",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "cloudfunctions:v2beta",
      "kind": "discovery#directoryItem",
      "name": "cloudfunctions",
      "preferred": false,
      "title": "Cloud Functions API",
      "version": "v2beta"
    },
    {
      "description": "Manages lightweight user-provided functions executed in response to events.",
      "discoveryRestUrl": "https://cloudfunctions.googleapis.com/$discovery/rest?version=v1",
      "documentationLink": "https://cloud.google.com/functions",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "cloudfunctions:v1",
      "kind": "discovery#directoryItem",
      "name": "cloudfunctions",
      "preferred": false,
      "title": "Cloud Functions API",
      "version": "v1"
    },
    {
      "description": "Manages lightweight user-provided functions executed in response to events.",
      "discoveryRestUrl": "https://cloudfunctions.googleapis.com/$discovery/rest?version=v2",
      "documentationLink": "https://cloud.google.com/functions",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "cloudfunctions:v2",
      "kind": "discovery#directoryItem",
      "name": "cloudfunctions",
      "preferred": true,
      "title": "Cloud Functions API",
      "version": "v2"
    },
    {
      "description": "API for provisioning and managing identity resources.",
      "discoveryRestUrl": "https://cloudidentity.googleapis.com/$discovery/rest?version=v1beta1",
      "documentationLink": "https://cloud.google.com/identity/",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "cloudidentity:v1beta1",
      "kind": "discovery#directoryItem",
      "name": "cloudidentity",
      "preferred": false,
      "title": "Cloud Identity API",
      "version": "v1beta1"
    },
    {
      "description": "API for provisioning and managing identity resources.",
      "discoveryRestUrl": "https://cloudidentity.googleapis.com/$discovery/rest?version=v1",
      "documentationLink": "https://cloud.google.com/identity/",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "cloudidentity:v1",
      "kind": "discovery#directoryItem",
      "name": "cloudidentity",
      "preferred": true,
      "title": "Cloud Identity API",
      "version": "v1"
    },
    {
      "description": "Manages keys and performs cryptographic operations in a central cloud service, for direct use by other cloud resources and applications.",
      "discoveryRestUrl": "https://cloudkms.googleapis.com/$discovery/rest?version=v1",
      "documentationLink": "https://cloud.google.com/kms/",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "cloudkms:v1",
      "kind": "discovery#directoryItem",
      "name": "cloudkms",
      "preferred": true,
      "title": "Cloud Key Management Service (KMS) API",
      "version": "v1"
    },
    {
      "description": "",
      "discoveryRestUrl": "https://cloudlocationfinder.googleapis.com/$discovery/rest?version=v1alpha",
      "documentationLink": "https://cloud.google.com/location-finder/docs",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "cloudlocationfinder:v1alpha",
      "kind": "discovery#directoryItem",
      "name": "cloudlocationfinder",
      "preferred": true,
      "title": "Cloud Location Finder API",
      "version": "v1alpha"
    },
    {
      "description": "Manages continuous profiling information.",
      "discoveryRestUrl": "https://cloudprofiler.googleapis.com/$discovery/rest?version=v2",
      "documentationLink": "https://cloud.google.com/profiler/",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "cloudprofiler:v2",
      "kind": "discovery#directoryItem",
      "name": "cloudprofiler",
      "preferred": true,
      "title": "Cloud Profiler API",
      "version": "v2"
    },
    {
      "description": "Creates, reads, and updates metadata for Google Cloud Platform resource containers.",
      "discoveryRestUrl": "https://cloudresourcemanager.googleapis.com/$discovery/rest?version=v1beta1",
      "documentationLink": "https://cloud.google.com/resource-manager",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "cloudresourcemanager:v1beta1",
      "kind": "discovery#directoryItem",
      "name": "cloudresourcemanager",
      "preferred": false,
      "title": "Cloud Resource Manager API",
      "version": "v1beta1"
    },
    {
      "description": "Creates, reads, and updates metadata for Google Cloud Platform resource containers.",
      "discoveryRestUrl": "https://cloudresourcemanager.googleapis.com/$discovery/rest?version=v2beta1",
      "documentationLink": "https://cloud.google.com/resource-manager",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "cloudresourcemanager:v2beta1",
      "kind": "discovery#directoryItem",
      "name": "cloudresourcemanager",
      "preferred": false,
      "title": "Cloud Resource Manager API",
      "version": "v2beta1"
    },
    {
      "description": "Creates, reads, and updates metadata for Google Cloud Platform resource containers.",
      "discoveryRestUrl": "https://cloudresourcemanager.googleapis.com/$discovery/rest?version=v1",
      "documentationLink": "https://cloud.google.com/resource-manager",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "cloudresourcemanager:v1",
      "kind": "discovery#directoryItem",
      "name": "cloudresourcemanager",
      "preferred": false,
      "title": "Cloud Resource Manager API",
      "version": "v1"
    },
    {
      "description": "Creates, reads, and updates metadata for Google Cloud Platform resource containers.",
      "discoveryRestUrl": "https://cloudresourcemanager.googleapis.com/$discovery/rest?version=v2",
      "documentationLink": "https://cloud.google.com/resource-manager",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "cloudresourcemanager:v2",
      "kind": "discovery#directoryItem",
      "name": "cloudresourcemanager",
      "preferred": false,
      "title": "Cloud Resource Manager API",
      "version": "v2"
    },
    {
      "description": "Creates, reads, and updates metadata for Google Cloud Platform resource containers.",
      "discoveryRestUrl": "https://cloudresourcemanager.googleapis.com/$discovery/rest?version=v3",
      "documentationLink": "https://cloud.google.com/resource-manager",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "cloudresourcemanager:v3",
      "kind": "discovery#directoryItem",
      "name": "cloudresourcemanager",
      "preferred": true,
      "title": "Cloud Resource Manager API",
      "version": "v3"
    },
    {
      "description": "Creates and manages jobs run on a regular recurring schedule.",
      "discoveryRestUrl": "https://cloudscheduler.googleapis.com/$discovery/rest?version=v1beta1",
      "documentationLink": "https://cloud.google.com/scheduler/",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "cloudscheduler:v1beta1",
      "kind": "discovery#directoryItem",
      "name": "cloudscheduler",
      "preferred": false,
      "title": "Cloud Scheduler API",
      "version": "v1beta1"
    },
    {
      "description": "Creates and manages jobs run on a regular recurring schedule.",
      "discoveryRestUrl": "https://cloudscheduler.googleapis.com/$discovery/rest?version=v1",
      "documentationLink": "https://cloud.google.com/scheduler/",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "cloudscheduler:v1",
      "kind": "discovery#directoryItem",
      "name": "cloudscheduler",
      "preferred": true,
      "title": "Cloud Scheduler API",
      "version": "v1"
    },
    {
      "description": "Cloud Search provides cloud-based search capabilities over Google Workspace data. The Cloud Search API allows indexing of non-Google Workspace data into Cloud Search.",
      "discoveryRestUrl": "https://cloudsearch.googleapis.com/$discovery/rest?version=v1",
      "documentationLink": "https://developers.google.com/workspace/cloud-search/docs/guides/",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "cloudsearch:v1",
      "kind": "discovery#directoryItem",
      "name": "cloudsearch",
      "preferred": true,
      "title": "Cloud Search API",
      "version": "v1"
    },
    {
      "description": "Allows users to start, configure, and connect to interactive shell sessions running in the cloud.",
      "discoveryRestUrl": "https://cloudshell.googleapis.com/$discovery/rest?version=v1",
      "documentationLink": "https://cloud.google.com/shell/docs/",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "cloudshell:v1",
      "kind": "discovery#directoryItem",
      "name": "cloudshell",
      "preferred": true,
      "title": "Cloud Shell API",
      "version": "v1"
    },
    {
      "description": "Manages Google Cloud technical support cases for Customer Care support offerings.",
      "discoveryRestUrl": "https://cloudsupport.googleapis.com/$discovery/rest?version=v2beta",
      "documentationLink": "https://cloud.google.com/support/docs/apis",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "cloudsupport:v2beta",
      "kind": "discovery#directoryItem",
      "name": "cloudsupport",
      "preferred": false,
      "title": "Google Cloud Support API",
      "version": "v2beta"
    },
    {
      "description": "Manages Google Cloud technical support cases for Customer Care support offerings.",
      "discoveryRestUrl": "https://cloudsupport.googleapis.com/$discovery/rest?version=v2",
      "documentationLink": "https://cloud.google.com/support/docs/apis",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "cloudsupport:v2",
      "kind": "discovery#directoryItem",
      "name": "cloudsupport",
      "preferred": true,
      "title": "Google Cloud Support API",
      "version": "v2"
    },
    {
      "description": "Manages the execution of large numbers of distributed requests.",
      "discoveryRestUrl": "https://cloudtasks.googleapis.com/$discovery/rest?version=v2beta2",
      "documentationLink": "https://cloud.google.com/tasks/",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "cloudtasks:v2beta2",
      "kind": "discovery#directoryItem",
      "name": "cloudtasks",
      "preferred": false,
      "title": "Cloud Tasks API",
      "version": "v2beta2"
    },
    {
      "description": "Manages the execution of large numbers of distributed requests.",
      "discoveryRestUrl": "https://cloudtasks.googleapis.com/$discovery/rest?version=v2beta3",
      "documentationLink": "https://cloud.google.com/tasks/",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "cloudtasks:v2beta3",
      "kind": "discovery#directoryItem",
      "name": "cloudtasks",
      "preferred": false,
      "title": "Cloud Tasks API",
      "version": "v2beta3"
    },
    {
      "description": "Manages the execution of large numbers of distributed requests.",
      "discoveryRestUrl": "https://cloudtasks.googleapis.com/$discovery/rest?version=v2",
      "documentationLink": "https://cloud.google.com/tasks/",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "cloudtasks:v2",
      "kind": "discovery#directoryItem",
      "name": "cloudtasks",
      "preferred": true,
      "title": "Cloud Tasks API",
      "version": "v2"
    },
    {
      "description": "Sends application trace data to Cloud Trace for viewing. Trace data is collected for all App Engine applications by default. Trace data from other applications can be provided using this API. This library is used to interact with the Cloud Trace API directly. If you are looking to instrument your application for Cloud Trace, we recommend using OpenTelemetry.",
      "discoveryRestUrl": "https://cloudtrace.googleapis.com/$discovery/rest?version=v2beta1",
      "documentationLink": "https://cloud.google.com/trace",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "cloudtrace:v2beta1",
      "kind": "discovery#directoryItem",
      "name": "cloudtrace",
      "preferred": false,
      "title": "Cloud Trace API",
      "version": "v2beta1"
    },
    {
      "description": "Sends application trace data to Cloud Trace for viewing. Trace data is collected for all App Engine applications by default. Trace data from other applications can be provided using this API. This library is used to interact with the Cloud Trace API directly. If you are looking to instrument your application for Cloud Trace, we recommend using OpenTelemetry.",
      "discoveryRestUrl": "https://cloudtrace.googleapis.com/$discovery/rest?version=v1",
      "documentationLink": "https://cloud.google.com/trace",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "cloudtrace:v1",
      "kind": "discovery#directoryItem",
      "name": "cloudtrace",
      "preferred": false,
      "title": "Cloud Trace API",
      "version": "v1"
    },
    {
      "description": "Sends application trace data to Cloud Trace for viewing. Trace data is collected for all App Engine applications by default. Trace data from other applications can be provided using this API. This library is used to interact with the Cloud Trace API directly. If you are looking to instrument your application for Cloud Trace, we recommend using OpenTelemetry.",
      "discoveryRestUrl": "https://cloudtrace.googleapis.com/$discovery/rest?version=v2",
      "documentationLink": "https://cloud.google.com/trace",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "cloudtrace:v2",
      "kind": "discovery#directoryItem",
      "name": "cloudtrace",
      "preferred": true,
      "title": "Cloud Trace API",
      "version": "v2"
    },
    {
      "description": "Manages Apache Airflow environments on Google Cloud Platform.",
      "discoveryRestUrl": "https://composer.googleapis.com/$discovery/rest?version=v1beta1",
      "documentationLink": "https://cloud.google.com/composer/",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "composer:v1beta1",
      "kind": "discovery#directoryItem",
      "name": "composer",
      "preferred": false,
      "title": "Cloud Composer API",
      "version": "v1beta1"
    },
    {
      "description": "Manages Apache Airflow environments on Google Cloud Platform.",
      "discoveryRestUrl": "https://composer.googleapis.com/$discovery/rest?version=v1",
      "documentationLink": "https://cloud.google.com/composer/",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "composer:v1",
      "kind": "discovery#directoryItem",
      "name": "composer",
      "preferred": true,
      "title": "Cloud Composer API",
      "version": "v1"
    },
    {
      "description": "Creates and runs virtual machines on Google Cloud Platform.",
      "discoveryLink": "./apis/compute/alpha/rest",
      "discoveryRestUrl": "https://www.googleapis.com/discovery/v1/apis/compute/alpha/rest",
      "documentationLink": "https://developers.google.com/compute/docs/reference/latest/",
      "icons": {
        "x16": "https://www.google.com/images/icons/product/compute_engine-16.png",
        "x32": "https://www.google.com/images/icons/product/compute_engine-32.png"
      },
      "id": "compute:alpha",
      "kind": "discovery#directoryItem",
      "name": "compute",
      "preferred": false,
      "title": "Compute Engine API",
      "version": "alpha"
    },
    {
      "description": "Creates and runs virtual machines on Google Cloud Platform.",
      "discoveryLink": "./apis/compute/beta/rest",
      "discoveryRestUrl": "https://www.googleapis.com/discovery/v1/apis/compute/beta/rest",
      "documentationLink": "https://developers.google.com/compute/docs/reference/latest/",
      "icons": {
        "x16": "https://www.google.com/images/icons/product/compute_engine-16.png",
        "x32": "https://www.google.com/images/icons/product/compute_engine-32.png"
      },
      "id": "compute:beta",
      "kind": "discovery#directoryItem",
      "name": "compute",
      "preferred": false,
      "title": "Compute Engine API",
      "version": "beta"
    },
    {
      "description": "Creates and runs virtual machines on Google Cloud Platform.",
      "discoveryLink": "./apis/compute/v1/rest",
      "discoveryRestUrl": "https://www.googleapis.com/discovery/v1/apis/compute/v1/rest",
      "documentationLink": "https://developers.google.com/compute/docs/reference/latest/",
      "icons": {
        "x16": "https://www.google.com/images/icons/product/compute_engine-16.png",
        "x32": "https://www.google.com/images/icons/product/compute_engine-32.png"
      },
      "id": "compute:v1",
      "kind": "discovery#directoryItem",
      "name": "compute",
      "preferred": true,
      "title": "Compute Engine API",
      "version": "v1"
    },
    {
      "description": "Creates and manages Google Cloud Platform resources and infrastructure.",
      "discoveryRestUrl": "https://config.googleapis.com/$discovery/rest?version=v1",
      "documentationLink": "https://cloud.google.com/infrastructure-manager/docs",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "config:v1",
      "kind": "discovery#directoryItem",
      "name": "config",
      "preferred": true,
      "title": "Infrastructure Manager API",
      "version": "v1"
    },
    {
      "description": "Enables users to create and manage connections to Google Cloud services and third-party business applications using the Connectors interface.",
      "discoveryRestUrl": "https://connectors.googleapis.com/$discovery/rest?version=v1",
      "documentationLink": "https://cloud.google.com/apigee/docs/api-platform/connectors/about-connectors",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "connectors:v1",
      "kind": "discovery#directoryItem",
      "name": "connectors",
      "preferred": false,
      "title": "Connectors API",
      "version": "v1"
    },
    {
      "description": "Enables users to create and manage connections to Google Cloud services and third-party business applications using the Connectors interface.",
      "discoveryRestUrl": "https://connectors.googleapis.com/$discovery/rest?version=v2",
      "documentationLink": "https://cloud.google.com/apigee/docs/api-platform/connectors/about-connectors",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "connectors:v2",
      "kind": "discovery#directoryItem",
      "name": "connectors",
      "preferred": true,
      "title": "Connectors API",
      "version": "v2"
    },
    {
      "description": "",
      "discoveryRestUrl": "https://contactcenteraiplatform.googleapis.com/$discovery/rest?version=v1alpha1",
      "documentationLink": "https://cloud.google.com/solutions/contact-center-ai-platform",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "contactcenteraiplatform:v1alpha1",
      "kind": "discovery#directoryItem",
      "name": "contactcenteraiplatform",
      "preferred": true,
      "title": "Contact Center AI Platform API",
      "version": "v1alpha1"
    },
    {
      "description": "",
      "discoveryRestUrl": "https://contactcenterinsights.googleapis.com/$discovery/rest?version=v1",
      "documentationLink": "https://cloud.google.com/contact-center/insights/docs",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "contactcenterinsights:v1",
      "kind": "discovery#directoryItem",
      "name": "contactcenterinsights",
      "preferred": true,
      "title": "Contact Center AI Insights API",
      "version": "v1"
    },
    {
      "description": "Builds and manages container-based applications, powered by the open source Kubernetes technology.",
      "discoveryRestUrl": "https://container.googleapis.com/$discovery/rest?version=v1beta1",
      "documentationLink": "https://cloud.google.com/kubernetes-engine/docs/",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "container:v1beta1",
      "kind": "discovery#directoryItem",
      "name": "container",
      "preferred": false,
      "title": "Kubernetes Engine API",
      "version": "v1beta1"
    },
    {
      "description": "Builds and manages container-based applications, powered by the open source Kubernetes technology.",
      "discoveryRestUrl": "https://container.googleapis.com/$discovery/rest?version=v1",
      "documentationLink": "https://cloud.google.com/kubernetes-engine/docs/",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "id": "container:v1",
      "kind": "discovery#directoryItem",
      "name": "container",
      "preferred": true,
      "title": "Kubernetes Engine API",
[...]
