{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        },
        "https://www.googleapis.com/auth/jobs": {
          "description": "Manage job postings"
        }
      }
    }
  },
  "basePath": "",
  "baseUrl": "https://jobs.googleapis.com/",
  "batchPath": "batch",
  "canonicalName": "Cloud Talent Solution",
  "description": "Cloud Talent Solution provides the capability to create, read, update, and delete job postings, as well as search jobs based on keywords and filters. ",
  "discoveryVersion": "v1",
  "documentationLink": "https://cloud.google.com/talent-solution/job-search/docs/",
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "id": "jobs:v2",
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://jobs.mtls.googleapis.com/",
  "name": "jobs",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "parameters": {
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "protocol": "rest",
  "resources": {
    "companies": {
      "methods": {
        "create": {
          "description": "Creates a new company entity.",
          "flatPath": "v2/companies",
          "httpMethod": "POST",
          "id": "jobs.companies.create",
          "parameterOrder": [],
          "parameters": {},
          "path": "v2/companies",
          "request": {
            "$ref": "Company"
          },
          "response": {
            "$ref": "Company"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/jobs"
          ]
        },
        "delete": {
          "description": "Deletes the specified company.",
          "flatPath": "v2/companies/{companiesId}",
          "httpMethod": "DELETE",
          "id": "jobs.companies.delete",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "description": "Required. The resource name of the company to be deleted, such as, \"companies/0000aaaa-1111-bbbb-2222-cccc3333dddd\".",
              "location": "path",
              "pattern": "^companies/[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "path": "v2/{+name}",
          "response": {
            "$ref": "Empty"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/jobs"
          ]
        },
        "get": {
          "description": "Retrieves the specified company.",
          "flatPath": "v2/companies/{companiesId}",
          "httpMethod": "GET",
          "id": "jobs.companies.get",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "description": "Required. Resource name of the company to retrieve, such as \"companies/0000aaaa-1111-bbbb-2222-cccc3333dddd\".",
              "location": "path",
              "pattern": "^companies/[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "path": "v2/{+name}",
          "response": {
            "$ref": "Company"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/jobs"
          ]
        },
        "list": {
          "description": "Lists all companies associated with a Cloud Talent Solution account.",
          "flatPath": "v2/companies",
          "httpMethod": "GET",
          "id": "jobs.companies.list",
          "parameterOrder": [],
          "parameters": {
            "mustHaveOpenJobs": {
              "description": "Optional. Set to true if the companies request must have open jobs. Defaults to false. If true, at most page_size of companies are fetched, among which only those with open jobs are returned.",
              "location": "query",
              "type": "boolean"
            },
            "pageSize": {
              "description": "Optional. The maximum number of companies to be returned, at most 100. Default is 100 if a non-positive number is provided.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "pageToken": {
              "description": "Optional. The starting indicator from which to return results.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "v2/companies",
          "response": {
            "$ref": "ListCompaniesResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/jobs"
          ]
        },
        "patch": {
          "description": "Updates the specified company. Company names can't be updated. To update a company name, delete the company and all jobs associated with it, and only then re-create them.",
          "flatPath": "v2/companies/{companiesId}",
          "httpMethod": "PATCH",
          "id": "jobs.companies.patch",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "description": "Required during company update. The resource name for a company. This is generated by the service when a company is created, for example, \"companies/0000aaaa-1111-bbbb-2222-cccc3333dddd\".",
              "location": "path",
              "pattern": "^companies/[^/]+$",
              "required": true,
              "type": "string"
            },
            "updateCompanyFields": {
              "description": "Optional but strongly recommended to be provided for the best service experience. If update_company_fields is provided, only the specified fields in company are updated. Otherwise all the fields are updated. A field mask to specify the company fields to update. Valid values are: * displayName * website * imageUrl * companySize * distributorBillingCompanyId * companyInfoSources * careerPageLink * hiringAgency * hqLocation * eeoText * keywordSearchableCustomAttributes * title (deprecated) * keywordSearchableCustomFields (deprecated)",
              "format": "google-fieldmask",
              "location": "query",
              "type": "string"
            }
          },
          "path": "v2/{+name}",
          "request": {
            "$ref": "Company"
          },
          "response": {
            "$ref": "Company"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/jobs"
          ]
        }
      },
      "resources": {
        "jobs": {
          "methods": {
            "list": {
              "description": "Deprecated. Use ListJobs instead. Lists all jobs associated with a company.",
              "flatPath": "v2/companies/{companiesId}/jobs",
              "httpMethod": "GET",
              "id": "jobs.companies.jobs.list",
              "parameterOrder": [
                "companyName"
              ],
              "parameters": {
                "companyName": {
                  "description": "Required. The resource name of the company that owns the jobs to be listed, such as, \"companies/0000aaaa-1111-bbbb-2222-cccc3333dddd\".",
                  "location": "path",
                  "pattern": "^companies/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "idsOnly": {
                  "description": "Optional. If set to `true`, only job ID, job requisition ID and language code will be returned. A typical use is to synchronize job repositories. Defaults to false.",
                  "location": "query",
                  "type": "boolean"
                },
                "includeJobsCount": {
                  "description": "Deprecated. Please DO NOT use this field except for small companies. Suggest counting jobs page by page instead. Optional. Set to true if the total number of open jobs is to be returned. Defaults to false.",
                  "location": "query",
                  "type": "boolean"
                },
                "jobRequisitionId": {
                  "description": "Optional. The requisition ID, also known as posting ID, assigned by the company to the job. The maximum number of allowable characters is 225.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Optional. The maximum number of jobs to be returned per page of results. If ids_only is set to true, the maximum allowed page size is 1000. Otherwise, the maximum allowed page size is 100. Default is 100 if empty or a number < 1 is specified.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "Optional. The starting point of a query result.",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v2/{+companyName}/jobs",
              "response": {
                "$ref": "ListCompanyJobsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/jobs"
              ]
            }
          }
        }
      }
    },
    "jobs": {
      "methods": {
        "batchDelete": {
          "description": "Deletes a list of Job postings by filter.",
          "flatPath": "v2/jobs:batchDelete",
          "httpMethod": "POST",
          "id": "jobs.jobs.batchDelete",
          "parameterOrder": [],
          "parameters": {},
          "path": "v2/jobs:batchDelete",
          "request": {
            "$ref": "BatchDeleteJobsRequest"
          },
          "response": {
            "$ref": "Empty"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/jobs"
          ]
        },
        "create": {
          "description": "Creates a new job. Typically, the job becomes searchable within 10 seconds, but it may take up to 5 minutes.",
          "flatPath": "v2/jobs",
          "httpMethod": "POST",
          "id": "jobs.jobs.create",
          "parameterOrder": [],
          "parameters": {},
          "path": "v2/jobs",
          "request": {
            "$ref": "CreateJobRequest"
          },
          "response": {
            "$ref": "Job"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/jobs"
          ]
        },
        "delete": {
          "description": "Deletes the specified job. Typically, the job becomes unsearchable within 10 seconds, but it may take up to 5 minutes.",
          "flatPath": "v2/jobs/{jobsId}",
          "httpMethod": "DELETE",
          "id": "jobs.jobs.delete",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "disableFastProcess": {
              "description": "Deprecated. This field is not working anymore. Optional. If set to true, this call waits for all processing steps to complete before the job is cleaned up. Otherwise, the call returns while some steps are still taking place asynchronously, hence faster.",
              "location": "query",
              "type": "boolean"
            },
            "name": {
              "description": "Required. The resource name of the job to be deleted, such as \"jobs/11111111\".",
              "location": "path",
              "pattern": "^jobs/[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "path": "v2/{+name}",
          "response": {
            "$ref": "Empty"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/jobs"
          ]
        },
        "deleteByFilter": {
          "description": "Deprecated. Use BatchDeleteJobs instead. Deletes the specified job by filter. You can specify whether to synchronously wait for validation, indexing, and general processing to be completed before the response is returned.",
          "flatPath": "v2/jobs:deleteByFilter",
          "httpMethod": "POST",
          "id": "jobs.jobs.deleteByFilter",
          "parameterOrder": [],
          "parameters": {},
          "path": "v2/jobs:deleteByFilter",
          "request": {
            "$ref": "DeleteJobsByFilterRequest"
          },
          "response": {
            "$ref": "Empty"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/jobs"
          ]
        },
        "get": {
          "description": "Retrieves the specified job, whose status is OPEN or recently EXPIRED within the last 90 days.",
          "flatPath": "v2/jobs/{jobsId}",
          "httpMethod": "GET",
          "id": "jobs.jobs.get",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "description": "Required. The resource name of the job to retrieve, such as \"jobs/11111111\".",
              "location": "path",
              "pattern": "^jobs/[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "path": "v2/{+name}",
          "response": {
            "$ref": "Job"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/jobs"
          ]
        },
        "histogram": {
          "description": "Deprecated. Use SearchJobsRequest.histogram_facets instead to make a single call with both search and histogram. Retrieves a histogram for the given GetHistogramRequest. This call provides a structured count of jobs that match against the search query, grouped by specified facets. This call constrains the visibility of jobs present in the database, and only counts jobs the caller has permission to search against. For example, use this call to generate the number of jobs in the U.S. by state.",
          "flatPath": "v2/jobs:histogram",
          "httpMethod": "POST",
          "id": "jobs.jobs.histogram",
          "parameterOrder": [],
          "parameters": {},
          "path": "v2/jobs:histogram",
          "request": {
            "$ref": "GetHistogramRequest"
          },
          "response": {
            "$ref": "GetHistogramResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/jobs"
          ]
        },
        "list": {
          "description": "Lists jobs by filter.",
          "flatPath": "v2/jobs",
          "httpMethod": "GET",
          "id": "jobs.jobs.list",
          "parameterOrder": [],
          "parameters": {
            "filter": {
              "description": "Required. The filter string specifies the jobs to be enumerated. Supported operator: =, AND The fields eligible for filtering are: * `companyName` (Required) * `requisitionId` (Optional) Sample Query: * companyName = \"companies/123\" * companyName = \"companies/123\" AND requisitionId = \"req-1\"",
              "location": "query",
              "type": "string"
            },
            "idsOnly": {
              "description": "Optional. If set to `true`, only Job.name, Job.requisition_id and Job.language_code will be returned. A typical use case is to synchronize job repositories. Defaults to false.",
              "location": "query",
              "type": "boolean"
            },
            "pageSize": {
              "description": "Optional. The maximum number of jobs to be returned per page of results. If ids_only is set to true, the maximum allowed page size is 1000. Otherwise, the maximum allowed page size is 100. Default is 100 if empty or a number < 1 is specified.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "pageToken": {
              "description": "Optional. The starting point of a query result.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "v2/jobs",
          "response": {
            "$ref": "ListJobsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/jobs"
          ]
        },
        "patch": {
          "description": "Updates specified job. Typically, updated contents become visible in search results within 10 seconds, but it may take up to 5 minutes.",
          "flatPath": "v2/jobs/{jobsId}",
          "httpMethod": "PATCH",
          "id": "jobs.jobs.patch",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "description": "Required during job update. Resource name assigned to a job by the API, for example, \"/jobs/foo\". Use of this field in job queries and API calls is preferred over the use of requisition_id since this value is unique.",
              "location": "path",
              "pattern": "^jobs/[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "path": "v2/{+name}",
          "request": {
            "$ref": "UpdateJobRequest"
          },
          "response": {
            "$ref": "Job"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/jobs"
          ]
        },
        "search": {
          "description": "Searches for jobs using the provided SearchJobsRequest. This call constrains the visibility of jobs present in the database, and only returns jobs that the caller has permission to search against.",
          "flatPath": "v2/jobs:search",
          "httpMethod": "POST",
          "id": "jobs.jobs.search",
          "parameterOrder": [],
          "parameters": {},
          "path": "v2/jobs:search",
          "request": {
            "$ref": "SearchJobsRequest"
          },
          "response": {
            "$ref": "SearchJobsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/jobs"
          ]
        },
        "searchForAlert": {
          "description": "Searches for jobs using the provided SearchJobsRequest. This API call is intended for the use case of targeting passive job seekers (for example, job seekers who have signed up to receive email alerts about potential job opportunities), and has different algorithmic adjustments that are targeted to passive job seekers. This call constrains the visibility of jobs present in the database, and only returns jobs the caller has permission to search against.",
          "flatPath": "v2/jobs:searchForAlert",
          "httpMethod": "POST",
          "id": "jobs.jobs.searchForAlert",
          "parameterOrder": [],
          "parameters": {},
          "path": "v2/jobs:searchForAlert",
          "request": {
            "$ref": "SearchJobsRequest"
          },
          "response": {
            "$ref": "SearchJobsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/jobs"
          ]
        }
      }
    },
    "v2": {
      "methods": {
        "complete": {
          "description": "Completes the specified prefix with job keyword suggestions. Intended for use by a job search auto-complete search box.",
          "flatPath": "v2:complete",
          "httpMethod": "GET",
          "id": "jobs.complete",
          "parameterOrder": [],
          "parameters": {
            "companyName": {
              "description": "Optional. If provided, restricts completion to the specified company.",
              "location": "query",
              "type": "string"
            },
            "languageCode": {
              "description": "Required. The language of the query. This is the BCP-47 language code, such as \"en-US\" or \"sr-Latn\". For more information, see [Tags for Identifying Languages](https://tools.ietf.org/html/bcp47). For CompletionType.JOB_TITLE type, only open jobs with same language_code are returned. For CompletionType.COMPANY_NAME type, only companies having open jobs with same language_code are returned. For CompletionType.COMBINED type, only open jobs with same language_code or companies having open jobs with same language_code are returned.",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "description": "Required. Completion result count. The maximum allowed page size is 10.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "query": {
              "description": "Required. The query used to generate suggestions.",
              "location": "query",
              "type": "string"
            },
            "scope": {
              "description": "Optional. The scope of the completion. The defaults is CompletionScope.PUBLIC.",
              "enum": [
                "COMPLETION_SCOPE_UNSPECIFIED",
                "TENANT",
                "PUBLIC"
              ],
              "enumDescriptions": [
                "Default value.",
                "Suggestions are based only on the data provided by the client.",
                "Suggestions are based on all jobs data in the system that's visible to the client"
              ],
              "location": "query",
              "type": "string"
            },
            "type": {
              "description": "Optional. The completion topic. The default is CompletionType.COMBINED.",
              "enum": [
                "COMPLETION_TYPE_UNSPECIFIED",
                "JOB_TITLE",
                "COMPANY_NAME",
                "COMBINED"
              ],
              "enumDescriptions": [
                "Default value.",
                "Only suggest job titles.",
                "Only suggest company names.",
                "Suggest both job titles and company names."
              ],
              "location": "query",
              "type": "string"
            }
          },
          "path": "v2:complete",
          "response": {
            "$ref": "CompleteQueryResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/jobs"
          ]
        }
      }
    }
  },
  "revision": "20200929",
  "rootUrl": "https://jobs.googleapis.com/",
  "schemas": {
    "BatchDeleteJobsRequest": {
      "description": "Input only. Batch delete jobs request.",
      "id": "BatchDeleteJobsRequest",
      "properties": {
        "filter": {
          "description": "Required. The filter string specifies the jobs to be deleted. Supported operator: =, AND The fields eligible for filtering are: * `companyName` (Required) * `requisitionId` (Required) Sample Query: companyName = \"companies/123\" AND requisitionId = \"req-1\"",
          "type": "string"
        }
      },
      "type": "object"
    },
    "BucketRange": {
      "description": "Represents starting and ending value of a range in double.",
      "id": "BucketRange",
      "properties": {
        "from": {
          "description": "Starting value of the bucket range.",
          "format": "double",
          "type": "number"
        },
        "to": {
          "description": "Ending value of the bucket range.",
          "format": "double",
          "type": "number"
        }
      },
      "type": "object"
    },
    "BucketizedCount": {
      "description": "Represents count of jobs within one bucket.",
      "id": "BucketizedCount",
      "properties": {
        "count": {
          "description": "Number of jobs whose numeric field value fall into `range`.",
          "format": "int32",
          "type": "integer"
        },
        "range": {
          "$ref": "BucketRange",
          "description": "Bucket range on which histogram was performed for the numeric field, that is, the count represents number of jobs in this range."
        }
      },
      "type": "object"
    },
    "CommuteInfo": {
      "description": "Output only. Commute details related to this job.",
      "id": "CommuteInfo",
      "properties": {
        "jobLocation": {
          "$ref": "JobLocation",
          "description": "Location used as the destination in the commute calculation."
        },
        "travelDuration": {
          "description": "The number of seconds required to travel to the job location from the query location. A duration of 0 seconds indicates that the job is not reachable within the requested duration, but was returned as part of an expanded query.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CommutePreference": {
      "description": "Input only. Parameters needed for commute search.",
      "id": "CommutePreference",
      "properties": {
        "allowNonStreetLevelAddress": {
          "description": "Optional. If `true`, jobs without street level addresses may also be returned. For city level addresses, the city center is used. For state and coarser level addresses, text matching is used. If this field is set to `false` or is not specified, only jobs that include street level addresses will be returned by commute search.",
          "type": "boolean"
        },
        "departureHourLocal": {
          "description": "Optional. The departure hour to use to calculate traffic impact. Accepts an integer between 0 and 23, representing the hour in the time zone of the start_location. Must not be present if road_traffic is specified.",
          "format": "int32",
          "type": "integer"
        },
        "method": {
          "description": "Required. The method of transportation for which to calculate the commute time.",
          "enum": [
            "COMMUTE_METHOD_UNSPECIFIED",
            "DRIVING",
            "TRANSIT"
          ],
          "enumDescriptions": [
            "Commute method is not specified.",
            "Commute time is calculated based on driving time.",
            "Commute time is calculated based on public transit including bus, metro, subway, etc."
          ],
          "type": "string"
        },
        "roadTraffic": {
          "description": "Optional. Specifies the traffic density to use when calculating commute time. Must not be present if departure_hour_local is specified.",
          "enum": [
            "ROAD_TRAFFIC_UNSPECIFIED",
            "TRAFFIC_FREE",
            "BUSY_HOUR"
          ],
          "enumDescriptions": [
            "Road traffic situation is not specified.",
            "Optimal commute time without considering any traffic impact.",
            "Commute time calculation takes in account the peak traffic impact."
          ],
          "type": "string"
        },
        "startLocation": {
          "$ref": "LatLng",
          "description": "Required. The latitude and longitude of the location from which to calculate the commute time."
        },
        "travelTime": {
          "description": "Required. The maximum travel time in seconds. The maximum allowed value is `3600s` (one hour). Format is `123s`.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Company": {
      "description": "A Company resource represents a company in the service. A company is the entity that owns job listings, that is, the hiring entity responsible for employing applicants for the job position.",
      "id": "Company",
      "properties": {
        "careerPageLink": {
          "description": "Optional. The URL to employer's career site or careers page on the employer's web site.",
          "type": "string"
        },
        "companyInfoSources": {
          "description": "Optional. Identifiers external to the application that help to further identify the employer.",
          "items": {
            "$ref": "CompanyInfoSource"
          },
          "type": "array"
        },
        "companySize": {
          "description": "Optional. The employer's company size.",
          "enum": [
            "COMPANY_SIZE_UNSPECIFIED",
            "MINI",
            "SMALL",
            "SMEDIUM",
            "MEDIUM",
            "BIG",
            "BIGGER",
            "GIANT"
          ],
          "enumDescriptions": [
            "Default value if the size is not specified.",
            "The company has less than 50 employees.",
            "The company has between 50 and 99 employees.",
            "The company has between 100 and 499 employees.",
            "The company has between 500 and 999 employees.",
            "The company has between 1,000 and 4,999 employees.",
            "The company has between 5,000 and 9,999 employees.",
            "The company has 10,000 or more employees."
          ],
          "type": "string"
        },
        "disableLocationOptimization": {
          "description": "Deprecated. Do not use this field. Optional. This field is no longer used. Any value set to it is ignored.",
          "type": "boolean"
        },
        "displayName": {
          "description": "Required. The name of the employer to be displayed with the job, for example, \"Google, LLC.\".",
          "type": "string"
        },
        "distributorBillingCompanyId": {
          "description": "Optional. The unique company identifier provided by the client to identify an employer for billing purposes. Recommended practice is to use the distributor_company_id. Defaults to same value as distributor_company_id when a value is not provided.",
          "type": "string"
        },
        "distributorCompanyId": {
          "description": "Required. A client's company identifier, used to uniquely identify the company. If an employer has a subsidiary or sub-brand, such as \"Alphabet\" and \"Google\", which the client wishes to use as the company displayed on the job. Best practice is to create a distinct company identifier for each distinct brand displayed. The maximum number of allowed characters is 255.",
          "type": "string"
        },
        "eeoText": {
          "description": "Optional. Equal Employment Opportunity legal disclaimer text to be associated with all jobs, and typically to be displayed in all roles. The maximum number of allowed characters is 500.",
          "type": "string"
        },
        "hiringAgency": {
          "description": "Optional. Set to true if it is the hiring agency that post jobs for other employers. Defaults to false if not provided.",
          "type": "boolean"
        },
        "hqLocation": {
          "description": "Optional. The street address of the company's main headquarters, which may be different from the job location. The service attempts to geolocate the provided address, and populates a more specific location wherever possible in structured_company_hq_location.",
          "type": "string"
        },
        "imageUrl": {
          "description": "Optional. A URL that hosts the employer's company logo. If provided, the logo image should be squared at 80x80 pixels. The url must be a Google Photos or Google Album url. Only images in these Google sub-domains are accepted.",
          "type": "string"
        },
        "keywordSearchableCustomAttributes": {
          "description": "Optional. A list of keys of filterable Job.custom_attributes, whose corresponding `string_values` are used in keyword search. Jobs with `string_values` under these specified field keys are returned if any of the values matches the search keyword. Custom field values with parenthesis, brackets and special symbols might not be properly searchable, and those keyword queries need to be surrounded by quotes.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "keywordSearchableCustomFields": {
          "description": "Deprecated. Use keyword_searchable_custom_attributes instead. Optional. A list of filterable custom fields that should be used in keyword search. The jobs of this company are returned if any of these custom fields matches the search keyword. Custom field values with parenthesis, brackets and special symbols might not be properly searchable, and those keyword queries need to be surrounded by quotes.",
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "type": "array"
        },
        "name": {
          "description": "Required during company update. The resource name for a company. This is generated by the service when a company is created, for example, \"companies/0000aaaa-1111-bbbb-2222-cccc3333dddd\".",
          "type": "string"
        },
        "structuredCompanyHqLocation": {
          "$ref": "JobLocation",
          "description": "Output only. A structured headquarters location of the company, resolved from hq_location if possible."
        },
        "suspended": {
          "description": "Output only. Indicates whether a company is flagged to be suspended from public availability by the service when job content appears suspicious, abusive, or spammy.",
          "type": "boolean"
        },
        "title": {
          "description": "Deprecated. Use display_name instead. Required. The name of the employer to be displayed with the job, for example, \"Google, LLC.\".",
          "type": "string"
        },
        "website": {
          "description": "Optional. The URL representing the company's primary web site or home page, such as, \"www.google.com\".",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CompanyInfoSource": {
      "description": "A resource that represents an external Google identifier for a company, for example, a Google+ business page or a Google Maps business page. For unsupported types, use `unknown_type_id`.",
      "id": "CompanyInfoSource",
      "properties": {
        "freebaseMid": {
          "description": "Optional. The Google's Knowledge Graph value for the employer's company.",
          "type": "string"
        },
        "gplusId": {
          "description": "Optional. The numeric identifier for the employer's Google+ business page.",
          "type": "string"
        },
        "mapsCid": {
          "description": "Optional. The numeric identifier for the employer's headquarters on Google Maps, namely, the Google Maps CID (cell id).",
          "type": "string"
        },
        "unknownTypeId": {
          "description": "Optional. A Google identifier that does not match any of the other types.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CompensationEntry": {
      "description": "A compensation entry that represents one component of compensation, such as base pay, bonus, or other compensation type. Annualization: One compensation entry can be annualized if - it contains valid amount or range. - and its expected_units_per_year is set or can be derived. Its annualized range is determined as (amount or range) times expected_units_per_year.",
      "id": "CompensationEntry",
      "properties": {
        "amount": {
          "$ref": "Money",
          "description": "Optional. Compensation amount."
        },
        "description": {
          "description": "Optional. Compensation description. For example, could indicate equity terms or provide additional context to an estimated bonus.",
          "type": "string"
        },
        "expectedUnitsPerYear": {
          "description": "Optional. Expected number of units paid each year. If not specified, when Job.employment_types is FULLTIME, a default value is inferred based on unit. Default values: - HOURLY: 2080 - DAILY: 260 - WEEKLY: 52 - MONTHLY: 12 - ANNUAL: 1",
          "format": "double",
          "type": "number"
        },
        "range": {
          "$ref": "CompensationRange",
          "description": "Optional. Compensation range."
        },
        "type": {
          "description": "Required. Compensation type.",
          "enum": [
            "COMPENSATION_TYPE_UNSPECIFIED",
            "BASE",
            "BONUS",
            "SIGNING_BONUS",
            "EQUITY",
            "PROFIT_SHARING",
            "COMMISSIONS",
            "TIPS",
            "OTHER_COMPENSATION_TYPE"
          ],
          "enumDescriptions": [
            "Default value. Equivalent to OTHER_COMPENSATION_TYPE.",
            "Base compensation: Refers to the fixed amount of money paid to an employee by an employer in return for work performed. Base compensation does not include benefits, bonuses or any other potential compensation from an employer.",
            "Bonus.",
            "Signing bonus.",
            "Equity.",
            "Profit sharing.",
            "Commission.",
            "Tips.",
            "Other compensation type."
          ],
          "type": "string"
        },
        "unit": {
          "description": "Optional. Frequency of the specified amount. Default is CompensationUnit.COMPENSATION_UNIT_UNSPECIFIED.",
          "enum": [
            "COMPENSATION_UNIT_UNSPECIFIED",
            "HOURLY",
            "DAILY",
            "WEEKLY",
            "MONTHLY",
            "YEARLY",
            "ONE_TIME",
            "OTHER_COMPENSATION_UNIT"
          ],
          "enumDescriptions": [
            "Default value. Equivalent to OTHER_COMPENSATION_UNIT.",
            "Hourly.",
            "Daily.",
            "Weekly",
            "Monthly.",
            "Yearly.",
            "One time.",
            "Other compensation units."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "CompensationFilter": {
      "description": "Input only. Filter on job compensation type and amount.",
      "id": "CompensationFilter",
      "properties": {
        "includeJobsWithUnspecifiedCompensationRange": {
          "description": "Optional. Whether to include jobs whose compensation range is unspecified.",
          "type": "boolean"
        },
        "range": {
          "$ref": "CompensationRange",
          "description": "Optional. Compensation range."
        },
        "type": {
          "description": "Required. Type of filter.",
          "enum": [
            "FILTER_TYPE_UNSPECIFIED",
            "UNIT_ONLY",
            "UNIT_AND_AMOUNT",
            "ANNUALIZED_BASE_AMOUNT",
            "ANNUALIZED_TOTAL_AMOUNT"
          ],
          "enumDescriptions": [
            "Filter type unspecified. Position holder, INVALID, should never be used.",
            "Filter by `base compensation entry's` unit. A job is a match if and only if the job contains a base CompensationEntry and the base CompensationEntry's unit matches provided units. Populate one or more units. See CompensationInfo.CompensationEntry for definition of base compensation entry.",
            "Filter by `base compensation entry's` unit and amount / range. A job is a match if and only if the job contains a base CompensationEntry, and the base entry's unit matches provided compensation_units and amount or range overlaps with provided compensation_range. See CompensationInfo.CompensationEntry for definition of base compensation entry. Set exactly one units and populate range.",
            "Filter by annualized base compensation amount and `base compensation entry's` unit. Populate range and zero or more units.",
            "Filter by annualized total compensation amount and `base compensation entry's` unit . Populate range and zero or more units."
          ],
          "type": "string"
        },
        "units": {
          "description": "Required. Specify desired `base compensation entry's` CompensationInfo.CompensationUnit.",
          "items": {
            "enum": [
              "COMPENSATION_UNIT_UNSPECIFIED",
              "HOURLY",
              "DAILY",
              "WEEKLY",
              "MONTHLY",
              "YEARLY",
              "ONE_TIME",
              "OTHER_COMPENSATION_UNIT"
            ],
            "enumDescriptions": [
              "Default value. Equivalent to OTHER_COMPENSATION_UNIT.",
              "Hourly.",
              "Daily.",
              "Weekly",
              "Monthly.",
              "Yearly.",
              "One time.",
              "Other compensation units."
            ],
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "CompensationHistogramRequest": {
      "description": "Input only. Compensation based histogram request.",
      "id": "CompensationHistogramRequest",
      "properties": {
        "bucketingOption": {
          "$ref": "NumericBucketingOption",
          "description": "Required. Numeric histogram options, like buckets, whether include min or max value."
        },
        "type": {
          "description": "Required. Type of the request, representing which field the histogramming should be performed over. A single request can only specify one histogram of each `CompensationHistogramRequestType`.",
          "enum": [
            "COMPENSATION_HISTOGRAM_REQUEST_TYPE_UNSPECIFIED",
            "BASE",
            "ANNUALIZED_BASE",
            "ANNUALIZED_TOTAL"
          ],
          "enumDescriptions": [
            "Default value. Invalid.",
            "Histogram by job's base compensation. See CompensationEntry for definition of base compensation.",
            "Histogram by job's annualized base compensation. See CompensationEntry for definition of annualized base compensation.",
            "Histogram by job's annualized total compensation. See CompensationEntry for definition of annualized total compensation."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "CompensationHistogramResult": {
      "description": "Output only. Compensation based histogram result.",
      "id": "CompensationHistogramResult",
      "properties": {
        "result": {
          "$ref": "NumericBucketingResult",
          "description": "Histogram result."
        },
        "type": {
          "description": "Type of the request, corresponding to CompensationHistogramRequest.type.",
          "enum": [
            "COMPENSATION_HISTOGRAM_REQUEST_TYPE_UNSPECIFIED",
            "BASE",
            "ANNUALIZED_BASE",
            "ANNUALIZED_TOTAL"
          ],
          "enumDescriptions": [
            "Default value. Invalid.",
            "Histogram by job's base compensation. See CompensationEntry for definition of base compensation.",
            "Histogram by job's annualized base compensation. See CompensationEntry for definition of annualized base compensation.",
            "Histogram by job's annualized total compensation. See CompensationEntry for definition of annualized total compensation."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "CompensationInfo": {
      "description": "Job compensation details.",
      "id": "CompensationInfo",
      "properties": {
        "amount": {
          "$ref": "Money",
          "description": "Deprecated. Use entries instead. Optional. The amount of compensation or pay for the job. As an alternative, compensation_amount_min and compensation_amount_max may be used to define a range of compensation."
        },
        "annualizedBaseCompensationRange": {
          "$ref": "CompensationRange",
          "description": "Output only. Annualized base compensation range. Computed as base compensation entry's CompensationEntry.compensation times CompensationEntry.expected_units_per_year. See CompensationEntry for explanation on compensation annualization."
        },
        "annualizedTotalCompensationRange": {
          "$ref": "CompensationRange",
          "description": "Output only. Annualized total compensation range. Computed as all compensation entries' CompensationEntry.compensation times CompensationEntry.expected_units_per_year. See CompensationEntry for explanation on compensation annualization."
        },
        "entries": {
          "description": "Optional. Job compensation information. At most one entry can be of type CompensationInfo.CompensationType.BASE, which is referred as ** base compensation entry ** for the job.",
          "items": {
            "$ref": "CompensationEntry"
          },
          "type": "array"
        },
        "max": {
          "$ref": "Money",
          "description": "Deprecated. Use entries instead. Optional. An upper bound on a range for compensation or pay for the job. The currency type is specified in compensation_amount."
        },
        "min": {
          "$ref": "Money",
          "description": "Deprecated. Use entries instead. Optional. A lower bound on a range for compensation or pay for the job. The currency type is specified in compensation_amount."
        },
        "type": {
          "description": "Deprecated. Use entries instead. Optional. Type of job compensation.",
          "enum": [
            "JOB_COMPENSATION_TYPE_UNSPECIFIED",
            "HOURLY",
            "SALARY",
            "PER_PROJECT",
            "COMMISSION",
            "OTHER_TYPE"
          ],
          "enumDescriptions": [
            "The default value if the type is not specified.",
            "The job compensation is quoted by the number of hours worked.",
            "The job compensation is quoted on an annual basis.",
            "The job compensation is quoted by project completion.",
            "The job compensation is quoted based solely on commission.",
            "The job compensation is not quoted according to the listed compensation options."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "CompensationRange": {
      "description": "Compensation range.",
      "id": "CompensationRange",
      "properties": {
        "max": {
          "$ref": "Money",
          "description": "Optional. The maximum amount of compensation. If left empty, the value is set to a maximal compensation value and the currency code is set to match the currency code of min_compensation."
        },
        "min": {
          "$ref": "Money",
          "description": "Optional. The minimum amount of compensation. If left empty, the value is set to zero and the currency code is set to match the currency code of max_compensation."
        }
      },
      "type": "object"
    },
    "CompleteQueryResponse": {
      "description": "Output only. Response of auto-complete query.",
      "id": "CompleteQueryResponse",
      "properties": {
        "completionResults": {
          "description": "Results of the matching job/company candidates.",
          "items": {
            "$ref": "CompletionResult"
          },
          "type": "array"
        },
        "metadata": {
          "$ref": "ResponseMetadata",
          "description": "Additional information for the API invocation, such as the request tracking id."
        }
      },
      "type": "object"
    },
    "CompletionResult": {
      "description": "Output only. Resource that represents completion results.",
      "id": "CompletionResult",
      "properties": {
        "imageUrl": {
          "description": "The URL for the company logo if `type=COMPANY_NAME`.",
          "type": "string"
        },
        "suggestion": {
          "description": "The suggestion for the query.",
          "type": "string"
        },
        "type": {
          "description": "The completion topic.",
          "enum": [
            "COMPLETION_TYPE_UNSPECIFIED",
            "JOB_TITLE",
            "COMPANY_NAME",
            "COMBINED"
          ],
          "enumDescriptions": [
            "Default value.",
            "Only suggest job titles.",
            "Only suggest company names.",
            "Suggest both job titles and company names."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "CreateJobRequest": {
      "description": "Input only. Create job request.",
      "id": "CreateJobRequest",
      "properties": {
        "disableStreetAddressResolution": {
          "description": "Deprecated. Please use processing_options. This flag is ignored if processing_options is set. Optional. If set to `true`, the service does not attempt to resolve a more precise address for the job.",
          "type": "boolean"
        },
        "job": {
          "$ref": "Job",
          "description": "Required. The Job to be created."
        },
        "processingOptions": {
          "$ref": "JobProcessingOptions",
          "description": "Optional. Options for job processing."
        }
      },
      "type": "object"
    },
    "CustomAttribute": {
      "description": "Custom attribute values that are either filterable or non-filterable.",
      "id": "CustomAttribute",
      "properties": {
        "filterable": {
          "description": "Optional. If the `filterable` flag is true, custom field values are searchable. If false, values are not searchable. Default is false.",
          "type": "boolean"
        },
        "longValue": {
          "description": "Optional but at least one of string_values or long_value must be specified. This field is used to perform number range search. (`EQ`, `GT`, `GE`, `LE`, `LT`) over filterable `long_value`. For `long_value`, a value between Long.MIN and Long.MAX is allowed.",
          "format": "int64",
          "type": "string"
        },
        "stringValues": {
          "$ref": "StringValues",
          "description": "Optional but at least one of string_values or long_value must be specified. This field is used to perform a string match (`CASE_SENSITIVE_MATCH` or `CASE_INSENSITIVE_MATCH`) search. For filterable `string_values`, a maximum total number of 200 values is allowed, with each `string_value` has a byte size of no more than 255B. For unfilterable `string_values`, the maximum total byte size of unfilterable `string_values` is 50KB. Empty strings are not allowed."
        }
      },
      "type": "object"
    },
    "CustomAttributeHistogramRequest": {
      "description": "Custom attributes histogram request. An error will be thrown if neither string_value_histogram or long_value_histogram_bucketing_option has been defined.",
      "id": "CustomAttributeHistogramRequest",
      "properties": {
        "key": {
          "description": "Required. Specifies the custom field key to perform a histogram on. If specified without `long_value_histogram_bucketing_option`, histogram on string values of the given `key` is triggered, otherwise histogram is performed on long values.",
          "type": "string"
        },
        "longValueHistogramBucketingOption": {
          "$ref": "NumericBucketingOption",
          "description": "Optional. Specifies buckets used to perform a range histogram on Job's filterable long custom field values, or min/max value requirements."
        },
        "stringValueHistogram": {
          "description": "Optional. If set to true, the response will include the histogram value for each key as a string.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "CustomAttributeHistogramResult": {
      "description": "Output only. Custom attribute histogram result.",
      "id": "CustomAttributeHistogramResult",
      "properties": {
        "key": {
          "description": "Stores the key of custom attribute the histogram is performed on.",
          "type": "string"
        },
        "longValueHistogramResult": {
          "$ref": "NumericBucketingResult",
          "description": "Stores bucketed histogram counting result or min/max values for custom attribute long values associated with `key`."
        },
        "stringValueHistogramResult": {
          "additionalProperties": {
            "format": "int32",
            "type": "integer"
          },
          "description": "Stores a map from the values of string custom field associated with `key` to the number of jobs with that value in this histogram result.",
          "type": "object"
        }
      },
      "type": "object"
    },
    "CustomField": {
      "description": "Resource that represents the custom data not captured by the standard fields.",
      "id": "CustomField",
      "properties": {
        "values": {
          "description": "Optional. The values of the custom data.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "CustomFieldFilter": {
      "description": "Input only. Custom field filter of the search.",
      "id": "CustomFieldFilter",
      "properties": {
        "queries": {
          "description": "Required. The query strings for the filter.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "type": {
          "description": "Optional. The type of filter. Defaults to FilterType.OR.",
          "enum": [
            "FILTER_TYPE_UNSPECIFIED",
            "OR",
            "AND",
            "NOT"
          ],
          "enumDescriptions": [
            "Default value.",
            "Search for a match with any query.",
            "Search for a match with all queries.",
            "Negate the set of filter values for the search."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "Date": {
      "description": "Represents a whole or partial calendar date, e.g. a birthday. The time of day and time zone are either specified elsewhere or are not significant. The date is relative to the Proleptic Gregorian Calendar. This can represent: * A full date, with non-zero year, month and day values * A month and day value, with a zero year, e.g. an anniversary * A year on its own, with zero month and day values * A year and month value, with a zero day, e.g. a credit card expiration date Related types are google.type.TimeOfDay and `google.protobuf.Timestamp`.",
      "id": "Date",
      "properties": {
        "day": {
          "description": "Day of month. Must be from 1 to 31 and valid for the year and month, or 0 if specifying a year by itself or a year and month where the day is not significant.",
          "format": "int32",
          "type": "integer"
        },
        "month": {
          "description": "Month of year. Must be from 1 to 12, or 0 if specifying a year without a month and day.",
          "format": "int32",
          "type": "integer"
        },
        "year": {
          "description": "Year of date. Must be from 1 to 9999, or 0 if specifying a date without a year.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "DeleteJobsByFilterRequest": {
      "description": "Deprecated. Use BatchDeleteJobsRequest instead. Input only. Delete job by filter request. The job typically becomes unsearchable within 10 seconds, but it may take up to 5 minutes.",
      "id": "DeleteJobsByFilterRequest",
      "properties": {
        "disableFastProcess": {
          "description": "Optional. If set to true, this call waits for all processing steps to complete before the job is cleaned up. Otherwise, the call returns while some steps are still taking place asynchronously, hence faster.",
          "type": "boolean"
        },
        "filter": {
          "$ref": "Filter",
          "description": "Required. Restrictions on the scope of the delete request."
        }
      },
      "type": "object"
    },
    "DeviceInfo": {
      "description": "Input only. Device information collected from the job seeker, candidate, or other entity conducting the job search. Providing this information improves the quality of the search results across devices.",
      "id": "DeviceInfo",
      "properties": {
        "deviceType": {
          "description": "Optional. Type of the device.",
          "enum": [
            "DEVICE_TYPE_UNSPECIFIED",
            "WEB",
            "MOBILE_WEB",
            "ANDROID",
            "IOS",
            "BOT",
            "OTHER"
          ],
          "enumDescriptions": [
            "The device type isn't specified.",
            "A desktop web browser, such as, Chrome, Firefox, Safari, or Internet Explorer)",
            "A mobile device web browser, such as a phone or tablet with a Chrome browser.",
            "An Android device native application.",
            "An iOS device native application.",
            "A bot, as opposed to a device operated by human beings, such as a web crawler.",
            "Other devices types."
          ],
          "type": "string"
        },
        "id": {
          "description": "Optional. A device-specific ID. The ID must be a unique identifier that distinguishes the device from other devices.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
      "id": "Empty",
      "properties": {},
      "type": "object"
    },
    "ExtendedCompensationFilter": {
      "description": "Deprecated. Always use CompensationFilter. Input only. Filter on job compensation type and amount.",
      "id": "ExtendedCompensationFilter",
      "properties": {
        "compensationRange": {
          "$ref": "ExtendedCompensationInfoCompensationRange",
          "description": "Optional. Compensation range."
        },
        "compensationUnits": {
          "description": "Required. Specify desired `base compensation entry's` ExtendedCompensationInfo.CompensationUnit.",
          "items": {
            "enum": [
              "EXTENDED_COMPENSATION_UNIT_UNSPECIFIED",
              "HOURLY",
              "DAILY",
              "WEEKLY",
              "MONTHLY",
              "YEARLY",
              "ONE_TIME",
              "OTHER_COMPENSATION_UNIT"
            ],
            "enumDescriptions": [
              "Default value. Equivalent to OTHER_COMPENSATION_UNIT.",
              "Hourly.",
              "Daily.",
              "Weekly",
              "Monthly.",
              "Yearly.",
              "One time.",
              "Other compensation units."
            ],
            "type": "string"
          },
          "type": "array"
        },
        "currency": {
          "description": "Optional. Specify currency in 3-letter [ISO 4217](https://www.iso.org/iso-4217-currency-codes.html) format. If unspecified, jobs are returned regardless of currency.",
          "type": "string"
        },
        "includeJobWithUnspecifiedCompensationRange": {
          "description": "Optional. Whether to include jobs whose compensation range is unspecified.",
          "type": "boolean"
        },
        "type": {
          "description": "Required. Type of filter.",
          "enum": [
            "FILTER_TYPE_UNSPECIFIED",
            "UNIT_ONLY",
            "UNIT_AND_AMOUNT",
            "ANNUALIZED_BASE_AMOUNT",
            "ANNUALIZED_TOTAL_AMOUNT"
          ],
          "enumDescriptions": [
            "Filter type unspecified. Position holder, INVALID, should never be used.",
            "Filter by `base compensation entry's` unit. A job is a match if and only if the job contains a base CompensationEntry and the base CompensationEntry's unit matches provided compensation_units. Populate one or more compensation_units. See ExtendedCompensationInfo.CompensationEntry for definition of base compensation entry.",
            "Filter by `base compensation entry's` unit and amount / range. A job is a match if and only if the job contains a base CompensationEntry, and the base entry's unit matches provided compensation_units and amount or range overlaps with provided compensation_range. See ExtendedCompensationInfo.CompensationEntry for definition of base compensation entry. Set exactly one compensation_units and populate compensation_range.",
            "Filter by annualized base compensation amount and `base compensation entry's` unit. Populate compensation_range and zero or more compensation_units.",
            "Filter by annualized total compensation amount and `base compensation entry's` unit . Populate compensation_range and zero or more compensation_units."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "ExtendedCompensationInfo": {
      "description": "Deprecated. Use CompensationInfo. Describes job compensation.",
      "id": "ExtendedCompensationInfo",
      "properties": {
        "annualizedBaseCompensationRange": {
          "$ref": "ExtendedCompensationInfoCompensationRange",
          "description": "Output only. Annualized base compensation range."
        },
        "annualizedBaseCompensationUnspecified": {
          "description": "Output only. Indicates annualized base compensation range cannot be derived, due to the job's base compensation entry cannot be annualized. See CompensationEntry for explanation on annualization and base compensation entry.",
          "type": "boolean"
        },
        "annualizedTotalCompensationRange": {
          "$ref": "ExtendedCompensationInfoCompensationRange",
          "description": "Output only. Annualized total compensation range."
        },
        "annualizedTotalCompensationUnspecified": {
          "description": "Output only. Indicates annualized total compensation range cannot be derived, due to the job's all CompensationEntry cannot be annualized. See CompensationEntry for explanation on annualization and base compensation entry.",
          "type": "boolean"
        },
        "currency": {
          "description": "Optional. A 3-letter [ISO 4217](https://www.iso.org/iso-4217-currency-codes.html) currency code.",
          "type": "string"
        },
        "entries": {
          "description": "Optional. Job compensation information. At most one entry can be of type ExtendedCompensationInfo.CompensationType.BASE, which is referred as ** base compensation entry ** for the job.",
          "items": {
            "$ref": "ExtendedCompensationInfoCompensationEntry"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "ExtendedCompensationInfoCompensationEntry": {
      "description": "Deprecated. See CompensationInfo. A compensation entry that represents one component of compensation, such as base pay, bonus, or other compensation type. Annualization: One compensation entry can be annualized if - it contains valid amount or range. - and its expected_units_per_year is set or can be derived. Its annualized range is determined as (amount or range) times expected_units_per_year.",
      "id": "ExtendedCompensationInfoCompensationEntry",
      "properties": {
        "amount": {
          "$ref": "ExtendedCompensationInfoDecimal",
          "description": "Optional. Monetary amount."
        },
        "description": {
          "description": "Optional. Compensation description.",
          "type": "string"
        },
        "expectedUnitsPerYear": {
          "$ref": "ExtendedCompensationInfoDecimal",
          "description": "Optional. Expected number of units paid each year. If not specified, when Job.employment_types is FULLTIME, a default value is inferred based on unit. Default values: - HOURLY: 2080 - DAILY: 260 - WEEKLY: 52 - MONTHLY: 12 - ANNUAL: 1"
        },
        "range": {
          "$ref": "ExtendedCompensationInfoCompensationRange",
          "description": "Optional. Compensation range."
        },
        "type": {
          "description": "Required. Compensation type.",
          "enum": [
            "EXTENDED_COMPENSATION_TYPE_UNSPECIFIED",
            "BASE",
            "BONUS",
            "SIGNING_BONUS",
            "EQUITY",
            "PROFIT_SHARING",
            "COMMISSIONS",
            "TIPS",
            "OTHER_COMPENSATION_TYPE"
          ],
          "enumDescriptions": [
            "Default value. Equivalent to OTHER_COMPENSATION_TYPE.",
            "Base compensation: Refers to the fixed amount of money paid to an employee by an employer in return for work performed. Base compensation does not include benefits, bonuses or any other potential compensation from an employer.",
            "Bonus.",
            "Signing bonus.",
            "Equity.",
            "Profit sharing.",
            "Commission.",
            "Tips.",
            "Other compensation type."
          ],
          "type": "string"
        },
        "unit": {
          "description": "Optional. Frequency of the specified amount. Default is CompensationUnit.COMPENSATION_UNIT_UNSPECIFIED.",
          "enum": [
            "EXTENDED_COMPENSATION_UNIT_UNSPECIFIED",
            "HOURLY",
            "DAILY",
            "WEEKLY",
            "MONTHLY",
            "YEARLY",
            "ONE_TIME",
            "OTHER_COMPENSATION_UNIT"
          ],
          "enumDescriptions": [
            "Default value. Equivalent to OTHER_COMPENSATION_UNIT.",
            "Hourly.",
            "Daily.",
            "Weekly",
            "Monthly.",
            "Yearly.",
            "One time.",
            "Other compensation units."
          ],
          "type": "string"
        },
        "unspecified": {
          "description": "Optional. Indicates compensation amount and range are unset.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "ExtendedCompensationInfoCompensationRange": {
      "description": "Deprecated. See CompensationInfo. Compensation range.",
      "id": "ExtendedCompensationInfoCompensationRange",
      "properties": {
        "max": {
          "$ref": "ExtendedCompensationInfoDecimal",
          "description": "Required. Maximum value."
        },
        "min": {
          "$ref": "ExtendedCompensationInfoDecimal",
          "description": "Required. Minimum value."
        }
      },
      "type": "object"
    },
    "ExtendedCompensationInfoDecimal": {
      "description": "Deprecated. See CompensationInfo. Decimal number.",
      "id": "ExtendedCompensationInfoDecimal",
      "properties": {
        "micros": {
          "description": "Micro (10^-6) units. The value must be between -999,999 and +999,999 inclusive. If `units` is positive, `micros` must be positive or zero. If `units` is zero, `micros` can be positive, zero, or negative. If `units` is negative, `micros` must be negative or zero. For example -1.75 is represented as `units`=-1 and `micros`=-750,000.",
          "format": "int32",
          "type": "integer"
        },
        "units": {
          "description": "Whole units.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Filter": {
      "description": "Deprecated. Use BatchDeleteJobsRequest instead. Input only. Filter for jobs to be deleted.",
      "id": "Filter",
      "properties": {
        "requisitionId": {
          "description": "Required. The requisition ID (or posting ID) assigned by the client to identify a job. This is intended for client identification and tracking of listings. name takes precedence over this field The maximum number of allowed characters is 225.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GetHistogramRequest": {
      "description": "Deprecated. Use SearchJobsRequest.histogram_facets instead to make a single call with both search and histogram. Input only. A request for the `GetHistogram` method.",
      "id": "GetHistogramRequest",
      "properties": {
        "allowBroadening": {
          "description": "Optional. Controls whether to broaden the search to avoid too few results for a given query in instances where a search has sparse results. Results from a broadened query is a superset of the results from the original query. Defaults to false.",
          "type": "boolean"
        },
        "filters": {
          "$ref": "JobFilters",
          "description": "Deprecated. Use query instead. Optional. Restrictions on the scope of the histogram."
        },
        "query": {
          "$ref": "JobQuery",
          "description": "Optional. Query used to search against jobs, such as keyword, location filters, etc."
        },
        "requestMetadata": {
          "$ref": "RequestMetadata",
          "description": "Meta information, such as `user_id`, collected from the job searcher or other entity conducting a job search, is used to improve the service's search quality. Users determine identifier values, which must be unique and consist."
        },
        "searchTypes": {
          "description": "Required. A list of facets that specify the histogram data to be calculated against and returned. Histogram response times can be slow, and counts can be approximations. This call may be temporarily or permanently removed prior to the production release of Cloud Talent Solution.",
          "items": {
            "enum": [
              "JOB_FIELD_UNSPECIFIED",
              "COMPANY_ID",
              "EMPLOYMENT_TYPE",
              "COMPANY_SIZE",
              "DATE_PUBLISHED",
              "CUSTOM_FIELD_1",
              "CUSTOM_FIELD_2",
              "CUSTOM_FIELD_3",
              "CUSTOM_FIELD_4",
              "CUSTOM_FIELD_5",
              "CUSTOM_FIELD_6",
              "CUSTOM_FIELD_7",
              "CUSTOM_FIELD_8",
              "CUSTOM_FIELD_9",
              "CUSTOM_FIELD_10",
              "CUSTOM_FIELD_11",
              "CUSTOM_FIELD_12",
              "CUSTOM_FIELD_13",
              "CUSTOM_FIELD_14",
              "CUSTOM_FIELD_15",
              "CUSTOM_FIELD_16",
              "CUSTOM_FIELD_17",
              "CUSTOM_FIELD_18",
              "CUSTOM_FIELD_19",
              "CUSTOM_FIELD_20",
              "EDUCATION_LEVEL",
              "EXPERIENCE_LEVEL",
              "ADMIN1",
              "COUNTRY",
              "CITY",
              "LOCALE",
              "LANGUAGE",
              "CATEGORY",
              "CITY_COORDINATE",
              "ADMIN1_COUNTRY",
              "COMPANY_TITLE",
              "COMPANY_DISPLAY_NAME",
              "BASE_COMPENSATION_UNIT"
            ],
            "enumDescriptions": [
              "The default value if search type is not specified.",
              "Filter by the company id field.",
              "Filter by the employment type field, such as `FULL_TIME` or `PART_TIME`.",
              "Filter by the company size type field, such as `BIG`, `SMALL` or `BIGGER`.",
              "Filter by the date published field. Values are stringified with TimeRange, for example, TimeRange.PAST_MONTH.",
              "Filter by custom field 1.",
              "Filter by custom field 2.",
              "Filter by custom field 3.",
              "Filter by custom field 4.",
              "Filter by custom field 5.",
              "Filter by custom field 6.",
              "Filter by custom field 7.",
              "Filter by custom field 8.",
              "Filter by custom field 9.",
              "Filter by custom field 10.",
              "Filter by custom field 11.",
              "Filter by custom field 12.",
              "Filter by custom field 13.",
              "Filter by custom field 14.",
              "Filter by custom field 15.",
              "Filter by custom field 16.",
              "Filter by custom field 17.",
              "Filter by custom field 18.",
              "Filter by custom field 19.",
              "Filter by custom field 20.",
              "Filter by the required education level of the job.",
              "Filter by the required experience level of the job.",
              "Filter by Admin1, which is a global placeholder for referring to state, province, or the particular term a country uses to define the geographic structure below the country level. Examples include states codes such as \"CA\", \"IL\", \"NY\", and provinces, such as \"BC\".",
              "Filter by the country code of job, such as US, JP, FR.",
              "Filter by the \"city name\", \"Admin1 code\", for example, \"Mountain View, CA\" or \"New York, NY\".",
              "Filter by the locale field of a job, such as \"en-US\", \"fr-FR\". This is the BCP-47 language code, such as \"en-US\" or \"sr-Latn\". For more information, see [Tags for Identifying Languages](https://tools.ietf.org/html/bcp47).",
              "Filter by the language code portion of the locale field, such as \"en\" or \"fr\".",
              "Filter by the Category.",
              "Filter by the city center GPS coordinate (latitude and longitude), for example, 37.4038522,-122.0987765. Since the coordinates of a city center can change, clients may need to refresh them periodically.",
              "A combination of state or province code with a country code. This field differs from `JOB_ADMIN1`, which can be used in multiple countries.",
              "Deprecated. Use COMPANY_DISPLAY_NAME instead. Company display name.",
              "Company display name.",
              "Base compensation unit."
            ],
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GetHistogramResponse": {
      "description": "Deprecated. Use SearchJobsRequest.histogram_facets instead to make a single call with both search and histogram. Output only. The response of the GetHistogram method.",
      "id": "GetHistogramResponse",
      "properties": {
        "metadata": {
          "$ref": "ResponseMetadata",
          "description": "Additional information for the API invocation, such as the request tracking id."
        },
        "results": {
          "description": "The Histogram results.",
          "items": {
            "$ref": "HistogramResult"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudTalentV4BatchCreateJobsResponse": {
      "description": "The result of JobService.BatchCreateJobs. It's used to replace google.longrunning.Operation.response in case of success.",
      "id": "GoogleCloudTalentV4BatchCreateJobsResponse",
      "properties": {
        "jobResults": {
          "description": "List of job mutation results from a batch create operation. It can change until operation status is FINISHED, FAILED or CANCELLED.",
          "items": {
            "$ref": "GoogleCloudTalentV4JobResult"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudTalentV4BatchDeleteJobsResponse": {
      "description": "The result of JobService.BatchDeleteJobs. It's used to replace google.longrunning.Operation.response in case of success.",
      "id": "GoogleCloudTalentV4BatchDeleteJobsResponse",
      "properties": {
        "jobResults": {
          "description": "List of job mutation results from a batch delete operation. It can change until operation status is FINISHED, FAILED or CANCELLED.",
          "items": {
            "$ref": "GoogleCloudTalentV4JobResult"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudTalentV4BatchOperationMetadata": {
      "description": "Metadata used for long running operations returned by CTS batch APIs. It's used to replace google.longrunning.Operation.metadata.",
      "id": "GoogleCloudTalentV4BatchOperationMetadata",
      "properties": {
        "createTime": {
          "description": "The time when the batch operation is created.",
          "format": "google-datetime",
          "type": "string"
        },
        "endTime": {
          "description": "The time when the batch operation is finished and google.longrunning.Operation.done is set to `true`.",
          "format": "google-datetime",
          "type": "string"
        },
        "failureCount": {
          "description": "Count of failed item(s) inside an operation.",
          "format": "int32",
          "type": "integer"
        },
        "state": {
          "description": "The state of a long running operation.",
          "enum": [
            "STATE_UNSPECIFIED",
            "INITIALIZING",
            "PROCESSING",
            "SUCCEEDED",
            "FAILED",
            "CANCELLING",
            "CANCELLED"
          ],
          "enumDescriptions": [
            "Default value.",
            "The batch operation is being prepared for processing.",
            "The batch operation is actively being processed.",
            "The batch operation is processed, and at least one item has been successfully processed.",
            "The batch operation is done and no item has been successfully processed.",
            "The batch operation is in the process of cancelling after google.longrunning.Operations.CancelOperation is called.",
            "The batch operation is done after google.longrunning.Operations.CancelOperation is called. Any items processed before cancelling are returned in the response."
          ],
          "type": "string"
        },
        "stateDescription": {
          "description": "More detailed information about operation state.",
          "type": "string"
        },
        "successCount": {
          "description": "Count of successful item(s) inside an operation.",
          "format": "int32",
          "type": "integer"
        },
        "totalCount": {
          "description": "Count of total item(s) inside an operation.",
          "format": "int32",
          "type": "integer"
        },
        "updateTime": {
          "description": "The time when the batch operation status is updated. The metadata and the update_time is refreshed every minute otherwise cached data is returned.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudTalentV4BatchUpdateJobsResponse": {
      "description": "The result of JobService.BatchUpdateJobs. It's used to replace google.longrunning.Operation.response in case of success.",
      "id": "GoogleCloudTalentV4BatchUpdateJobsResponse",
      "properties": {
        "jobResults": {
          "description": "List of job mutation results from a batch update operation. It can change until operation status is FINISHED, FAILED or CANCELLED.",
          "items": {
            "$ref": "GoogleCloudTalentV4JobResult"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudTalentV4CompensationInfo": {
      "description": "Job compensation details.",
      "id": "GoogleCloudTalentV4CompensationInfo",
      "properties": {
        "annualizedBaseCompensationRange": {
          "$ref": "GoogleCloudTalentV4CompensationInfoCompensationRange",
          "description": "Output only. Annualized base compensation range. Computed as base compensation entry's CompensationEntry.amount times CompensationEntry.expected_units_per_year. See CompensationEntry for explanation on compensation annualization.",
          "readOnly": true
        },
        "annualizedTotalCompensationRange": {
          "$ref": "GoogleCloudTalentV4CompensationInfoCompensationRange",
          "description": "Output only. Annualized total compensation range. Computed as all compensation entries' CompensationEntry.amount times CompensationEntry.expected_units_per_year. See CompensationEntry for explanation on compensation annualization.",
          "readOnly": true
        },
        "entries": {
          "description": "Job compensation information. At most one entry can be of type CompensationInfo.CompensationType.BASE, which is referred as **base compensation entry** for the job.",
          "items": {
            "$ref": "GoogleCloudTalentV4CompensationInfoCompensationEntry"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudTalentV4CompensationInfoCompensationEntry": {
      "description": "A compensation entry that represents one component of compensation, such as base pay, bonus, or other compensation type. Annualization: One compensation entry can be annualized if - it contains valid amount or range. - and its expected_units_per_year is set or can be derived. Its annualized range is determined as (amount or range) times expected_units_per_year.",
      "id": "GoogleCloudTalentV4CompensationInfoCompensationEntry",
      "properties": {
        "amount": {
          "$ref": "Money",
          "description": "Compensation amount."
        },
        "description": {
          "description": "Compensation description. For example, could indicate equity terms or provide additional context to an estimated bonus.",
          "type": "string"
        },
        "expectedUnitsPerYear": {
          "description": "Expected number of units paid each year. If not specified, when Job.employment_types is FULLTIME, a default value is inferred based on unit. Default values: - HOURLY: 2080 - DAILY: 260 - WEEKLY: 52 - MONTHLY: 12 - ANNUAL: 1",
          "format": "double",
          "type": "number"
        },
        "range": {
          "$ref": "GoogleCloudTalentV4CompensationInfoCompensationRange",
          "description": "Compensation range."
        },
        "type": {
          "description": "Compensation type. Default is CompensationType.COMPENSATION_TYPE_UNSPECIFIED.",
          "enum": [
            "COMPENSATION_TYPE_UNSPECIFIED",
            "BASE",
            "BONUS",
            "SIGNING_BONUS",
            "EQUITY",
            "PROFIT_SHARING",
            "COMMISSIONS",
            "TIPS",
            "OTHER_COMPENSATION_TYPE"
          ],
          "enumDescriptions": [
            "Default value.",
            "Base compensation: Refers to the fixed amount of money paid to an employee by an employer in return for work performed. Base compensation does not include benefits, bonuses or any other potential compensation from an employer.",
            "Bonus.",
            "Signing bonus.",
            "Equity.",
            "Profit sharing.",
            "Commission.",
            "Tips.",
            "Other compensation type."
          ],
          "type": "string"
        },
        "unit": {
          "description": "Frequency of the specified amount. Default is CompensationUnit.COMPENSATION_UNIT_UNSPECIFIED.",
          "enum": [
            "COMPENSATION_UNIT_UNSPECIFIED",
            "HOURLY",
            "DAILY",
            "WEEKLY",
            "MONTHLY",
            "YEARLY",
            "ONE_TIME",
            "OTHER_COMPENSATION_UNIT"
          ],
          "enumDescriptions": [
            "Default value.",
            "Hourly.",
            "Daily.",
            "Weekly",
            "Monthly.",
            "Yearly.",
            "One time.",
            "Other compensation units."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudTalentV4CompensationInfoCompensationRange": {
      "description": "Compensation range.",
      "id": "GoogleCloudTalentV4CompensationInfoCompensationRange",
      "properties": {
        "maxCompensation": {
          "$ref": "Money",
          "description": "The maximum amount of compensation. If left empty, the value is set to a maximal compensation value and the currency code is set to match the currency code of min_compensation."
        },
        "minCompensation": {
          "$ref": "Money",
          "description": "The minimum amount of compensation. If left empty, the value is set to zero and the currency code is set to match the currency code of max_compensation."
        }
      },
      "type": "object"
    },
    "GoogleCloudTalentV4CustomAttribute": {
      "description": "Custom attribute values that are either filterable or non-filterable.",
      "id": "GoogleCloudTalentV4CustomAttribute",
      "properties": {
        "filterable": {
          "description": "If the `filterable` flag is true, the custom field values may be used for custom attribute filters JobQuery.custom_attribute_filter. If false, these values may not be used for custom attribute filters. Default is false.",
          "type": "boolean"
        },
        "keywordSearchable": {
          "description": "If the `keyword_searchable` flag is true, the keywords in custom fields are searchable by keyword match. If false, the values are not searchable by keyword match. Default is false.",
          "type": "boolean"
        },
        "longValues": {
          "description": "Exactly one of string_values or long_values must be specified. This field is used to perform number range search. (`EQ`, `GT`, `GE`, `LE`, `LT`) over filterable `long_value`. Currently at most 1 long_values is supported.",
          "items": {
            "format": "int64",
            "type": "string"
          },
          "type": "array"
        },
        "stringValues": {
          "description": "Exactly one of string_values or long_values must be specified. This field is used to perform a string match (`CASE_SENSITIVE_MATCH` or `CASE_INSENSITIVE_MATCH`) search. For filterable `string_value`s, a maximum total number of 200 values is allowed, with each `string_value` has a byte size of no more than 500B. For unfilterable `string_values`, the maximum total byte size of unfilterable `string_values` is 50KB. Empty string isn't allowed.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudTalentV4Job": {
      "description": "A Job resource represents a job posting (also referred to as a \"job listing\" or \"job requisition\"). A job belongs to a Company, which is the hiring entity responsible for the job.",
      "id": "GoogleCloudTalentV4Job",
      "properties": {
        "addresses": {
          "description": "Strongly recommended for the best service experience. Location(s) where the employer is looking to hire for this job posting. Specifying the full street address(es) of the hiring location enables better API results, especially job searches by commute time. At most 50 locations are allowed for best search performance. If a job has more locations, it is suggested to split it into multiple jobs with unique requisition_ids (e.g. 'ReqA' becomes 'ReqA-1', 'ReqA-2', and so on.) as multiple jobs with the same company, language_code and requisition_id are not allowed. If the original requisition_id must be preserved, a custom field should be used for storage. It is also suggested to group the locations that close to each other in the same job for better search experience. The maximum number of allowed characters is 500.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "applicationInfo": {
          "$ref": "GoogleCloudTalentV4JobApplicationInfo",
          "description": "Job application information."
        },
        "company": {
          "description": "Required. The resource name of the company listing the job. The format is \"projects/{project_id}/tenants/{tenant_id}/companies/{company_id}\". For example, \"projects/foo/tenants/bar/companies/baz\".",
          "type": "string"
        },
        "companyDisplayName": {
          "description": "Output only. Display name of the company listing the job.",
          "readOnly": true,
          "type": "string"
        },
        "compensationInfo": {
          "$ref": "GoogleCloudTalentV4CompensationInfo",
          "description": "Job compensation information (a.k.a. \"pay rate\") i.e., the compensation that will paid to the employee."
        },
        "customAttributes": {
          "additionalProperties": {
            "$ref": "GoogleCloudTalentV4CustomAttribute"
          },
          "description": "A map of fields to hold both filterable and non-filterable custom job attributes that are not covered by the provided structured fields. The keys of the map are strings up to 64 bytes and must match the pattern: a-zA-Z*. For example, key0LikeThis or KEY_1_LIKE_THIS. At most 100 filterable and at most 100 unfilterable keys are supported. For filterable `string_values`, across all keys at most 200 values are allowed, with each string no more than 255 characters. For unfilterable `string_values`, the maximum total size of `string_values` across all keys is 50KB.",
          "type": "object"
        },
        "degreeTypes": {
          "description": "The desired education degrees for the job, such as Bachelors, Masters.",
          "items": {
            "enum": [
              "DEGREE_TYPE_UNSPECIFIED",
              "PRIMARY_EDUCATION",
              "LOWER_SECONDARY_EDUCATION",
              "UPPER_SECONDARY_EDUCATION",
              "ADULT_REMEDIAL_EDUCATION",
              "ASSOCIATES_OR_EQUIVALENT",
              "BACHELORS_OR_EQUIVALENT",
              "MASTERS_OR_EQUIVALENT",
              "DOCTORAL_OR_EQUIVALENT"
            ],
            "enumDescriptions": [
              "Default value. Represents no degree, or early childhood education. Maps to ISCED code 0. Ex) Kindergarten",
              "Primary education which is typically the first stage of compulsory education. ISCED code 1. Ex) Elementary school",
              "Lower secondary education; First stage of secondary education building on primary education, typically with a more subject-oriented curriculum. ISCED code 2. Ex) Middle school",
              "Middle education; Second/final stage of secondary education preparing for tertiary education and/or providing skills relevant to employment. Usually with an increased range of subject options and streams. ISCED code 3. Ex) High school",
              "Adult Remedial Education; Programmes providing learning experiences that build on secondary education and prepare for labour market entry and/or tertiary education. The content is broader than secondary but not as complex as tertiary education. ISCED code 4.",
              "Associate's or equivalent; Short first tertiary programmes that are typically practically-based, occupationally-specific and prepare for labour market entry. These programmes may also provide a pathway to other tertiary programmes. ISCED code 5.",
              "Bachelor's or equivalent; Programmes designed to provide intermediate academic and/or professional knowledge, skills and competencies leading to a first tertiary degree or equivalent qualification. ISCED code 6.",
              "Master's or equivalent; Programmes designed to provide advanced academic and/or professional knowledge, skills and competencies leading to a second tertiary degree or equivalent qualification. ISCED code 7.",
              "Doctoral or equivalent; Programmes designed primarily to lead to an advanced research qualification, usually concluding with the submission and defense of a substantive dissertation of publishable quality based on original research. ISCED code 8."
            ],
            "type": "string"
          },
          "type": "array"
        },
        "department": {
          "description": "The department or functional area within the company with the open position. The maximum number of allowed characters is 255.",
          "type": "string"
        },
        "derivedInfo": {
          "$ref": "GoogleCloudTalentV4JobDerivedInfo",
          "description": "Output only. Derived details about the job posting.",
          "readOnly": true
        },
        "description": {
          "description": "Required. The description of the job, which typically includes a multi-paragraph description of the company and related information. Separate fields are provided on the job object for responsibilities, qualifications, and other job characteristics. Use of these separate job fields is recommended. This field accepts and sanitizes HTML input, and also accepts bold, italic, ordered list, and unordered list markup tags. The maximum number of allowed characters is 100,000.",
          "type": "string"
        },
        "employmentTypes": {
          "description": "The employment type(s) of a job, for example, full time or part time.",
          "items": {
            "enum": [
              "EMPLOYMENT_TYPE_UNSPECIFIED",
              "FULL_TIME",
              "PART_TIME",
              "CONTRACTOR",
              "CONTRACT_TO_HIRE",
              "TEMPORARY",
              "INTERN",
              "VOLUNTEER",
              "PER_DIEM",
              "FLY_IN_FLY_OUT",
              "OTHER_EMPLOYMENT_TYPE"
            ],
            "enumDescriptions": [
              "The default value if the employment type isn't specified.",
              "The job requires working a number of hours that constitute full time employment, typically 40 or more hours per week.",
              "The job entails working fewer hours than a full time job, typically less than 40 hours a week.",
              "The job is offered as a contracted, as opposed to a salaried employee, position.",
              "The job is offered as a contracted position with the understanding that it's converted into a full-time position at the end of the contract. Jobs of this type are also returned by a search for EmploymentType.CONTRACTOR jobs.",
              "The job is offered as a temporary employment opportunity, usually a short-term engagement.",
              "The job is a fixed-term opportunity for students or entry-level job seekers to obtain on-the-job training, typically offered as a summer position.",
              "The is an opportunity for an individual to volunteer, where there's no expectation of compensation for the provided services.",
              "The job requires an employee to work on an as-needed basis with a flexible schedule.",
              "The job involves employing people in remote areas and flying them temporarily to the work site instead of relocating employees and their families permanently.",
              "The job does not fit any of the other listed types."
            ],
            "type": "string"
          },
          "type": "array"
        },
        "incentives": {
          "description": "A description of bonus, commission, and other compensation incentives associated with the job not including salary or pay. The maximum number of allowed characters is 10,000.",
          "type": "string"
        },
        "jobBenefits": {
          "description": "The benefits included with the job.",
          "items": {
            "enum": [
              "JOB_BENEFIT_UNSPECIFIED",
              "CHILD_CARE",
              "DENTAL",
              "DOMESTIC_PARTNER",
              "FLEXIBLE_HOURS",
              "MEDICAL",
              "LIFE_INSURANCE",
              "PARENTAL_LEAVE",
              "RETIREMENT_PLAN",
              "SICK_DAYS",
              "VACATION",
              "VISION"
            ],
            "enumDescriptions": [
              "Default value if the type isn't specified.",
              "The job includes access to programs that support child care, such as daycare.",
              "The job includes dental services covered by a dental insurance plan.",
              "The job offers specific benefits to domestic partners.",
              "The job allows for a flexible work schedule.",
              "The job includes health services covered by a medical insurance plan.",
              "The job includes a life insurance plan provided by the employer or available for purchase by the employee.",
              "The job allows for a leave of absence to a parent to care for a newborn child.",
              "The job includes a workplace retirement plan provided by the employer or available for purchase by the employee.",
              "The job allows for paid time off due to illness.",
              "The job includes paid time off for vacation.",
              "The job includes vision services covered by a vision insurance plan."
            ],
            "type": "string"
          },
          "type": "array"
        },
        "jobEndTime": {
          "description": "The end timestamp of the job. Typically this field is used for contracting engagements. Invalid timestamps are ignored.",
          "format": "google-datetime",
          "type": "string"
        },
        "jobLevel": {
          "description": "The experience level associated with the job, such as \"Entry Level\".",
          "enum": [
            "JOB_LEVEL_UNSPECIFIED",
            "ENTRY_LEVEL",
            "EXPERIENCED",
            "MANAGER",
            "DIRECTOR",
            "EXECUTIVE"
          ],
          "enumDescriptions": [
[...]
