{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud Platform data"
        }
      }
    }
  },
  "basePath": "",
  "baseUrl": "https://osconfig.googleapis.com/",
  "batchPath": "batch",
  "canonicalName": "OS Config",
  "description": "OS management tools that can be used for patch management, patch compliance, and configuration management on VM instances.",
  "discoveryVersion": "v1",
  "documentationLink": "https://cloud.google.com/compute/docs/manage-os",
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "id": "osconfig:v1",
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://osconfig.mtls.googleapis.com/",
  "name": "osconfig",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "parameters": {
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "protocol": "rest",
  "resources": {
    "operations": {
      "methods": {
        "delete": {
          "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
          "flatPath": "v1/operations/{operationsId}",
          "httpMethod": "DELETE",
          "id": "osconfig.operations.delete",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "description": "The name of the operation resource to be deleted.",
              "location": "path",
              "pattern": "^operations/.*$",
              "required": true,
              "type": "string"
            }
          },
          "path": "v1/{+name}",
          "response": {
            "$ref": "Empty"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "list": {
          "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`. NOTE: the `name` binding allows API services to override the binding to use different resource name schemes, such as `users/*/operations`. To override the binding, API services can add a binding such as `\"/v1/{name=users/*}/operations\"` to their service configuration. For backwards compatibility, the default name includes the operations collection id, however overriding users must ensure the name binding is the parent resource, without the operations collection id.",
          "flatPath": "v1/operations",
          "httpMethod": "GET",
          "id": "osconfig.operations.list",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "filter": {
              "description": "The standard list filter.",
              "location": "query",
              "type": "string"
            },
            "name": {
              "description": "The name of the operation's parent resource.",
              "location": "path",
              "pattern": "^operations$",
              "required": true,
              "type": "string"
            },
            "pageSize": {
              "description": "The standard list page size.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "pageToken": {
              "description": "The standard list page token.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "v1/{+name}",
          "response": {
            "$ref": "ListOperationsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        }
      }
    },
    "projects": {
      "resources": {
        "patchDeployments": {
          "methods": {
            "create": {
              "description": "Create an OS Config patch deployment.",
              "flatPath": "v1/projects/{projectsId}/patchDeployments",
              "httpMethod": "POST",
              "id": "osconfig.projects.patchDeployments.create",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "description": "Required. The project to apply this patch deployment to in the form `projects/*`.",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "patchDeploymentId": {
                  "description": "Required. A name for the patch deployment in the project. When creating a name the following rules apply: * Must contain only lowercase letters, numbers, and hyphens. * Must start with a letter. * Must be between 1-63 characters. * Must end with a number or a letter. * Must be unique within the project.",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v1/{+parent}/patchDeployments",
              "request": {
                "$ref": "PatchDeployment"
              },
              "response": {
                "$ref": "PatchDeployment"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "delete": {
              "description": "Delete an OS Config patch deployment.",
              "flatPath": "v1/projects/{projectsId}/patchDeployments/{patchDeploymentsId}",
              "httpMethod": "DELETE",
              "id": "osconfig.projects.patchDeployments.delete",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. The resource name of the patch deployment in the form `projects/*/patchDeployments/*`.",
                  "location": "path",
                  "pattern": "^projects/[^/]+/patchDeployments/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/{+name}",
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "get": {
              "description": "Get an OS Config patch deployment.",
              "flatPath": "v1/projects/{projectsId}/patchDeployments/{patchDeploymentsId}",
              "httpMethod": "GET",
              "id": "osconfig.projects.patchDeployments.get",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. The resource name of the patch deployment in the form `projects/*/patchDeployments/*`.",
                  "location": "path",
                  "pattern": "^projects/[^/]+/patchDeployments/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/{+name}",
              "response": {
                "$ref": "PatchDeployment"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "description": "Get a page of OS Config patch deployments.",
              "flatPath": "v1/projects/{projectsId}/patchDeployments",
              "httpMethod": "GET",
              "id": "osconfig.projects.patchDeployments.list",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "pageSize": {
                  "description": "Optional. The maximum number of patch deployments to return. Default is 100.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "Optional. A pagination token returned from a previous call to ListPatchDeployments that indicates where this listing should continue from.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "description": "Required. The resource name of the parent in the form `projects/*`.",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/{+parent}/patchDeployments",
              "response": {
                "$ref": "ListPatchDeploymentsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        },
        "patchJobs": {
          "methods": {
            "cancel": {
              "description": "Cancel a patch job. The patch job must be active. Canceled patch jobs cannot be restarted.",
              "flatPath": "v1/projects/{projectsId}/patchJobs/{patchJobsId}:cancel",
              "httpMethod": "POST",
              "id": "osconfig.projects.patchJobs.cancel",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. Name of the patch in the form `projects/*/patchJobs/*`",
                  "location": "path",
                  "pattern": "^projects/[^/]+/patchJobs/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/{+name}:cancel",
              "request": {
                "$ref": "CancelPatchJobRequest"
              },
              "response": {
                "$ref": "PatchJob"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "execute": {
              "description": "Patch VM instances by creating and running a patch job.",
              "flatPath": "v1/projects/{projectsId}/patchJobs:execute",
              "httpMethod": "POST",
              "id": "osconfig.projects.patchJobs.execute",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "description": "Required. The project in which to run this patch in the form `projects/*`",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/{+parent}/patchJobs:execute",
              "request": {
                "$ref": "ExecutePatchJobRequest"
              },
              "response": {
                "$ref": "PatchJob"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "get": {
              "description": "Get the patch job. This can be used to track the progress of an ongoing patch job or review the details of completed jobs.",
              "flatPath": "v1/projects/{projectsId}/patchJobs/{patchJobsId}",
              "httpMethod": "GET",
              "id": "osconfig.projects.patchJobs.get",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. Name of the patch in the form `projects/*/patchJobs/*`",
                  "location": "path",
                  "pattern": "^projects/[^/]+/patchJobs/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/{+name}",
              "response": {
                "$ref": "PatchJob"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "description": "Get a list of patch jobs.",
              "flatPath": "v1/projects/{projectsId}/patchJobs",
              "httpMethod": "GET",
              "id": "osconfig.projects.patchJobs.list",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "filter": {
                  "description": "If provided, this field specifies the criteria that must be met by patch jobs to be included in the response. Currently, filtering is only available on the patch_deployment field.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "The maximum number of instance status to return.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "A pagination token returned from a previous call that indicates where this listing should continue from.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "description": "Required. In the form of `projects/*`",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/{+parent}/patchJobs",
              "response": {
                "$ref": "ListPatchJobsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          },
          "resources": {
            "instanceDetails": {
              "methods": {
                "list": {
                  "description": "Get a list of instance details for a given patch job.",
                  "flatPath": "v1/projects/{projectsId}/patchJobs/{patchJobsId}/instanceDetails",
                  "httpMethod": "GET",
                  "id": "osconfig.projects.patchJobs.instanceDetails.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "filter": {
                      "description": "A filter expression that filters results listed in the response. This field supports filtering results by instance zone, name, state, or `failure_reason`.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "The maximum number of instance details records to return. Default is 100.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "description": "A pagination token returned from a previous call that indicates where this listing should continue from.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. The parent for the instances are in the form of `projects/*/patchJobs/*`.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/patchJobs/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+parent}/instanceDetails",
                  "response": {
                    "$ref": "ListPatchJobInstanceDetailsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "revision": "20210412",
  "rootUrl": "https://osconfig.googleapis.com/",
  "schemas": {
    "AptSettings": {
      "description": "Apt patching is completed by executing `apt-get update && apt-get upgrade`. Additional options can be set to control how this is executed.",
      "id": "AptSettings",
      "properties": {
        "excludes": {
          "description": "List of packages to exclude from update. These packages will be excluded",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "exclusivePackages": {
          "description": "An exclusive list of packages to be updated. These are the only packages that will be updated. If these packages are not installed, they will be ignored. This field cannot be specified with any other patch configuration fields.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "type": {
          "description": "By changing the type to DIST, the patching is performed using `apt-get dist-upgrade` instead.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "DIST",
            "UPGRADE"
          ],
          "enumDescriptions": [
            "By default, upgrade will be performed.",
            "Runs `apt-get dist-upgrade`.",
            "Runs `apt-get upgrade`."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "CancelPatchJobRequest": {
      "description": "Message for canceling a patch job.",
      "id": "CancelPatchJobRequest",
      "properties": {},
      "type": "object"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
      "id": "Empty",
      "properties": {},
      "type": "object"
    },
    "ExecStep": {
      "description": "A step that runs an executable for a PatchJob.",
      "id": "ExecStep",
      "properties": {
        "linuxExecStepConfig": {
          "$ref": "ExecStepConfig",
          "description": "The ExecStepConfig for all Linux VMs targeted by the PatchJob."
        },
        "windowsExecStepConfig": {
          "$ref": "ExecStepConfig",
          "description": "The ExecStepConfig for all Windows VMs targeted by the PatchJob."
        }
      },
      "type": "object"
    },
    "ExecStepConfig": {
      "description": "Common configurations for an ExecStep.",
      "id": "ExecStepConfig",
      "properties": {
        "allowedSuccessCodes": {
          "description": "Defaults to [0]. A list of possible return values that the execution can return to indicate a success.",
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "type": "array"
        },
        "gcsObject": {
          "$ref": "GcsObject",
          "description": "A Cloud Storage object containing the executable."
        },
        "interpreter": {
          "description": "The script interpreter to use to run the script. If no interpreter is specified the script will be executed directly, which will likely only succeed for scripts with [shebang lines] (https://en.wikipedia.org/wiki/Shebang_\\(Unix\\)).",
          "enum": [
            "INTERPRETER_UNSPECIFIED",
            "SHELL",
            "POWERSHELL"
          ],
          "enumDescriptions": [
            "Invalid for a Windows ExecStepConfig. For a Linux ExecStepConfig, the interpreter will be parsed from the shebang line of the script if unspecified.",
            "Indicates that the script is run with `/bin/sh` on Linux and `cmd` on Windows.",
            "Indicates that the file is run with PowerShell flags `-NonInteractive`, `-NoProfile`, and `-ExecutionPolicy Bypass`."
          ],
          "type": "string"
        },
        "localPath": {
          "description": "An absolute path to the executable on the VM.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ExecutePatchJobRequest": {
      "description": "A request message to initiate patching across Compute Engine instances.",
      "id": "ExecutePatchJobRequest",
      "properties": {
        "description": {
          "description": "Description of the patch job. Length of the description is limited to 1024 characters.",
          "type": "string"
        },
        "displayName": {
          "description": "Display name for this patch job. This does not have to be unique.",
          "type": "string"
        },
        "dryRun": {
          "description": "If this patch is a dry-run only, instances are contacted but will do nothing.",
          "type": "boolean"
        },
        "duration": {
          "description": "Duration of the patch job. After the duration ends, the patch job times out.",
          "format": "google-duration",
          "type": "string"
        },
        "instanceFilter": {
          "$ref": "PatchInstanceFilter",
          "description": "Required. Instances to patch, either explicitly or filtered by some criteria such as zone or labels."
        },
        "patchConfig": {
          "$ref": "PatchConfig",
          "description": "Patch configuration being applied. If omitted, instances are patched using the default configurations."
        },
        "rollout": {
          "$ref": "PatchRollout",
          "description": "Rollout strategy of the patch job."
        }
      },
      "type": "object"
    },
    "FixedOrPercent": {
      "description": "Message encapsulating a value that can be either absolute (\"fixed\") or relative (\"percent\") to a value.",
      "id": "FixedOrPercent",
      "properties": {
        "fixed": {
          "description": "Specifies a fixed value.",
          "format": "int32",
          "type": "integer"
        },
        "percent": {
          "description": "Specifies the relative value defined as a percentage, which will be multiplied by a reference value.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "GcsObject": {
      "description": "Cloud Storage object representation.",
      "id": "GcsObject",
      "properties": {
        "bucket": {
          "description": "Required. Bucket of the Cloud Storage object.",
          "type": "string"
        },
        "generationNumber": {
          "description": "Required. Generation number of the Cloud Storage object. This is used to ensure that the ExecStep specified by this PatchJob does not change.",
          "format": "int64",
          "type": "string"
        },
        "object": {
          "description": "Required. Name of the Cloud Storage object.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GooSettings": {
      "description": "Googet patching is performed by running `googet update`.",
      "id": "GooSettings",
      "properties": {},
      "type": "object"
    },
    "Inventory": {
      "description": "The inventory details of a VM.",
      "id": "Inventory",
      "properties": {
        "items": {
          "additionalProperties": {
            "$ref": "InventoryItem"
          },
          "description": "Inventory items related to the VM keyed by an opaque unique identifier for each inventory item. The identifier is unique to each distinct and addressable inventory item and will change, when there is a new package version.",
          "type": "object"
        },
        "osInfo": {
          "$ref": "InventoryOsInfo",
          "description": "Base level operating system information for the VM."
        }
      },
      "type": "object"
    },
    "InventoryItem": {
      "description": "A single piece of inventory on a VM.",
      "id": "InventoryItem",
      "properties": {
        "availablePackage": {
          "$ref": "InventorySoftwarePackage",
          "description": "Software package available to be installed on the VM instance."
        },
        "createTime": {
          "description": "When this inventory item was first detected.",
          "format": "google-datetime",
          "type": "string"
        },
        "id": {
          "description": "Identifier for this item, unique across items for this VM.",
          "type": "string"
        },
        "installedPackage": {
          "$ref": "InventorySoftwarePackage",
          "description": "Software package present on the VM instance."
        },
        "originType": {
          "description": "The origin of this inventory item.",
          "enum": [
            "ORIGIN_TYPE_UNSPECIFIED",
            "INVENTORY_REPORT"
          ],
          "enumDescriptions": [
            "Invalid. An origin type must be specified.",
            "This inventory item was discovered as the result of the agent reporting inventory via the reporting API."
          ],
          "type": "string"
        },
        "type": {
          "description": "The specific type of inventory, correlating to its specific details.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "INSTALLED_PACKAGE",
            "AVAILABLE_PACKAGE"
          ],
          "enumDescriptions": [
            "Invalid. An type must be specified.",
            "This represents a package that is installed on the VM.",
            "This represents an update that is available for a package."
          ],
          "type": "string"
        },
        "updateTime": {
          "description": "When this inventory item was last modified.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object"
    },
    "InventoryOsInfo": {
      "description": "Operating system information for the VM.",
      "id": "InventoryOsInfo",
      "properties": {
        "architecture": {
          "description": "The system architecture of the operating system.",
          "type": "string"
        },
        "hostname": {
          "description": "The VM hostname.",
          "type": "string"
        },
        "kernelRelease": {
          "description": "The kernel release of the operating system.",
          "type": "string"
        },
        "kernelVersion": {
          "description": "The kernel version of the operating system.",
          "type": "string"
        },
        "longName": {
          "description": "The operating system long name. For example 'Debian GNU/Linux 9' or 'Microsoft Window Server 2019 Datacenter'.",
          "type": "string"
        },
        "osconfigAgentVersion": {
          "description": "The current version of the OS Config agent running on the VM.",
          "type": "string"
        },
        "shortName": {
          "description": "The operating system short name. For example, 'windows' or 'debian'.",
          "type": "string"
        },
        "version": {
          "description": "The version of the operating system.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "InventorySoftwarePackage": {
      "description": "Software package information of the operating system.",
      "id": "InventorySoftwarePackage",
      "properties": {
        "aptPackage": {
          "$ref": "InventoryVersionedPackage",
          "description": "Details of an APT package. For details about the apt package manager, see https://wiki.debian.org/Apt."
        },
        "cosPackage": {
          "$ref": "InventoryVersionedPackage",
          "description": "Details of a COS package."
        },
        "googetPackage": {
          "$ref": "InventoryVersionedPackage",
          "description": "Details of a Googet package. For details about the googet package manager, see https://github.com/google/googet."
        },
        "qfePackage": {
          "$ref": "InventoryWindowsQuickFixEngineeringPackage",
          "description": "Details of a Windows Quick Fix engineering package. See https://docs.microsoft.com/en-us/windows/win32/cimwin32prov/win32-quickfixengineering for info in Windows Quick Fix Engineering."
        },
        "wuaPackage": {
          "$ref": "InventoryWindowsUpdatePackage",
          "description": "Details of a Windows Update package. See https://docs.microsoft.com/en-us/windows/win32/api/_wua/ for information about Windows Update."
        },
        "yumPackage": {
          "$ref": "InventoryVersionedPackage",
          "description": "Yum package info. For details about the yum package manager, see https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/6/html/deployment_guide/ch-yum."
        },
        "zypperPackage": {
          "$ref": "InventoryVersionedPackage",
          "description": "Details of a Zypper package. For details about the Zypper package manager, see https://en.opensuse.org/SDB:Zypper_manual."
        },
        "zypperPatch": {
          "$ref": "InventoryZypperPatch",
          "description": "Details of a Zypper patch. For details about the Zypper package manager, see https://en.opensuse.org/SDB:Zypper_manual."
        }
      },
      "type": "object"
    },
    "InventoryVersionedPackage": {
      "description": "Information related to the a standard versioned package. This includes package info for APT, Yum, Zypper, and Googet package managers.",
      "id": "InventoryVersionedPackage",
      "properties": {
        "architecture": {
          "description": "The system architecture this package is intended for.",
          "type": "string"
        },
        "packageName": {
          "description": "The name of the package.",
          "type": "string"
        },
        "version": {
          "description": "The version of the package.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "InventoryWindowsQuickFixEngineeringPackage": {
      "description": "Information related to a Quick Fix Engineering package. Fields are taken from Windows QuickFixEngineering Interface and match the source names: https://docs.microsoft.com/en-us/windows/win32/cimwin32prov/win32-quickfixengineering",
      "id": "InventoryWindowsQuickFixEngineeringPackage",
      "properties": {
        "caption": {
          "description": "A short textual description of the QFE update.",
          "type": "string"
        },
        "description": {
          "description": "A textual description of the QFE update.",
          "type": "string"
        },
        "hotFixId": {
          "description": "Unique identifier associated with a particular QFE update.",
          "type": "string"
        },
        "installTime": {
          "description": "Date that the QFE update was installed. Mapped from installed_on field.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object"
    },
    "InventoryWindowsUpdatePackage": {
      "description": "Details related to a Windows Update package. Field data and names are taken from Windows Update API IUpdate Interface: https://docs.microsoft.com/en-us/windows/win32/api/_wua/ Descriptive fields like title, and description are localized based on the locale of the VM being updated.",
      "id": "InventoryWindowsUpdatePackage",
      "properties": {
        "categories": {
          "description": "The categories that are associated with this update package.",
          "items": {
            "$ref": "InventoryWindowsUpdatePackageWindowsUpdateCategory"
          },
          "type": "array"
        },
        "description": {
          "description": "The localized description of the update package.",
          "type": "string"
        },
        "kbArticleIds": {
          "description": "A collection of Microsoft Knowledge Base article IDs that are associated with the update package.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "lastDeploymentChangeTime": {
          "description": "The last published date of the update, in (UTC) date and time.",
          "format": "google-datetime",
          "type": "string"
        },
        "moreInfoUrls": {
          "description": "A collection of URLs that provide more information about the update package.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "revisionNumber": {
          "description": "The revision number of this update package.",
          "format": "int32",
          "type": "integer"
        },
        "supportUrl": {
          "description": "A hyperlink to the language-specific support information for the update.",
          "type": "string"
        },
        "title": {
          "description": "The localized title of the update package.",
          "type": "string"
        },
        "updateId": {
          "description": "Gets the identifier of an update package. Stays the same across revisions.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "InventoryWindowsUpdatePackageWindowsUpdateCategory": {
      "description": "Categories specified by the Windows Update.",
      "id": "InventoryWindowsUpdatePackageWindowsUpdateCategory",
      "properties": {
        "id": {
          "description": "The identifier of the windows update category.",
          "type": "string"
        },
        "name": {
          "description": "The name of the windows update category.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "InventoryZypperPatch": {
      "description": "Details related to a Zypper Patch.",
      "id": "InventoryZypperPatch",
      "properties": {
        "category": {
          "description": "The category of the patch.",
          "type": "string"
        },
        "patchName": {
          "description": "The name of the patch.",
          "type": "string"
        },
        "severity": {
          "description": "The severity specified for this patch",
          "type": "string"
        },
        "summary": {
          "description": "Any summary information provided about this patch.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "id": "ListOperationsResponse",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "ListPatchDeploymentsResponse": {
      "description": "A response message for listing patch deployments.",
      "id": "ListPatchDeploymentsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A pagination token that can be used to get the next page of patch deployments.",
          "type": "string"
        },
        "patchDeployments": {
          "description": "The list of patch deployments.",
          "items": {
            "$ref": "PatchDeployment"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "ListPatchJobInstanceDetailsResponse": {
      "description": "A response message for listing the instances details for a patch job.",
      "id": "ListPatchJobInstanceDetailsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A pagination token that can be used to get the next page of results.",
          "type": "string"
        },
        "patchJobInstanceDetails": {
          "description": "A list of instance status.",
          "items": {
            "$ref": "PatchJobInstanceDetails"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "ListPatchJobsResponse": {
      "description": "A response message for listing patch jobs.",
      "id": "ListPatchJobsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A pagination token that can be used to get the next page of results.",
          "type": "string"
        },
        "patchJobs": {
          "description": "The list of patch jobs.",
          "items": {
            "$ref": "PatchJob"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "MonthlySchedule": {
      "description": "Represents a monthly schedule. An example of a valid monthly schedule is \"on the third Tuesday of the month\" or \"on the 15th of the month\".",
      "id": "MonthlySchedule",
      "properties": {
        "monthDay": {
          "description": "Required. One day of the month. 1-31 indicates the 1st to the 31st day. -1 indicates the last day of the month. Months without the target day will be skipped. For example, a schedule to run \"every month on the 31st\" will not run in February, April, June, etc.",
          "format": "int32",
          "type": "integer"
        },
        "weekDayOfMonth": {
          "$ref": "WeekDayOfMonth",
          "description": "Required. Week day in a month."
        }
      },
      "type": "object"
    },
    "OneTimeSchedule": {
      "description": "Sets the time for a one time patch deployment. Timestamp is in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format.",
      "id": "OneTimeSchedule",
      "properties": {
        "executeTime": {
          "description": "Required. The desired patch job execution time.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation",
      "properties": {
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "response": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object"
        }
      },
      "type": "object"
    },
    "PatchConfig": {
      "description": "Patch configuration specifications. Contains details on how to apply the patch(es) to a VM instance.",
      "id": "PatchConfig",
      "properties": {
        "apt": {
          "$ref": "AptSettings",
          "description": "Apt update settings. Use this setting to override the default `apt` patch rules."
        },
        "goo": {
          "$ref": "GooSettings",
          "description": "Goo update settings. Use this setting to override the default `goo` patch rules."
        },
        "postStep": {
          "$ref": "ExecStep",
          "description": "The `ExecStep` to run after the patch update."
        },
        "preStep": {
          "$ref": "ExecStep",
          "description": "The `ExecStep` to run before the patch update."
        },
        "rebootConfig": {
          "description": "Post-patch reboot settings.",
          "enum": [
            "REBOOT_CONFIG_UNSPECIFIED",
            "DEFAULT",
            "ALWAYS",
            "NEVER"
          ],
          "enumDescriptions": [
            "The default behavior is DEFAULT.",
            "The agent decides if a reboot is necessary by checking signals such as registry keys on Windows or `/var/run/reboot-required` on APT based systems. On RPM based systems, a set of core system package install times are compared with system boot time.",
            "Always reboot the machine after the update completes.",
            "Never reboot the machine after the update completes."
          ],
          "type": "string"
        },
        "windowsUpdate": {
          "$ref": "WindowsUpdateSettings",
          "description": "Windows update settings. Use this override the default windows patch rules."
        },
        "yum": {
          "$ref": "YumSettings",
          "description": "Yum update settings. Use this setting to override the default `yum` patch rules."
        },
        "zypper": {
          "$ref": "ZypperSettings",
          "description": "Zypper update settings. Use this setting to override the default `zypper` patch rules."
        }
      },
      "type": "object"
    },
    "PatchDeployment": {
      "description": "Patch deployments are configurations that individual patch jobs use to complete a patch. These configurations include instance filter, package repository settings, and a schedule. For more information about creating and managing patch deployments, see [Scheduling patch jobs](https://cloud.google.com/compute/docs/os-patch-management/schedule-patch-jobs).",
      "id": "PatchDeployment",
      "properties": {
        "createTime": {
          "description": "Output only. Time the patch deployment was created. Timestamp is in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the patch deployment. Length of the description is limited to 1024 characters.",
          "type": "string"
        },
        "duration": {
          "description": "Optional. Duration of the patch. After the duration ends, the patch times out.",
          "format": "google-duration",
          "type": "string"
        },
        "instanceFilter": {
          "$ref": "PatchInstanceFilter",
          "description": "Required. VM instances to patch."
        },
        "lastExecuteTime": {
          "description": "Output only. The last time a patch job was started by this deployment. Timestamp is in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Unique name for the patch deployment resource in a project. The patch deployment name is in the form: `projects/{project_id}/patchDeployments/{patch_deployment_id}`. This field is ignored when you create a new patch deployment.",
          "type": "string"
        },
        "oneTimeSchedule": {
          "$ref": "OneTimeSchedule",
          "description": "Required. Schedule a one-time execution."
        },
        "patchConfig": {
          "$ref": "PatchConfig",
          "description": "Optional. Patch configuration that is applied."
        },
        "recurringSchedule": {
          "$ref": "RecurringSchedule",
          "description": "Required. Schedule recurring executions."
        },
        "rollout": {
          "$ref": "PatchRollout",
          "description": "Optional. Rollout strategy of the patch job."
        },
        "updateTime": {
          "description": "Output only. Time the patch deployment was last updated. Timestamp is in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "PatchInstanceFilter": {
      "description": "A filter to target VM instances for patching. The targeted VMs must meet all criteria specified. So if both labels and zones are specified, the patch job targets only VMs with those labels and in those zones.",
      "id": "PatchInstanceFilter",
      "properties": {
        "all": {
          "description": "Target all VM instances in the project. If true, no other criteria is permitted.",
          "type": "boolean"
        },
        "groupLabels": {
          "description": "Targets VM instances matching ANY of these GroupLabels. This allows targeting of disparate groups of VM instances.",
          "items": {
            "$ref": "PatchInstanceFilterGroupLabel"
          },
          "type": "array"
        },
        "instanceNamePrefixes": {
          "description": "Targets VMs whose name starts with one of these prefixes. Similar to labels, this is another way to group VMs when targeting configs, for example prefix=\"prod-\".",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "instances": {
          "description": "Targets any of the VM instances specified. Instances are specified by their URI in the form `zones/[ZONE]/instances/[INSTANCE_NAME]`, `projects/[PROJECT_ID]/zones/[ZONE]/instances/[INSTANCE_NAME]`, or `https://www.googleapis.com/compute/v1/projects/[PROJECT_ID]/zones/[ZONE]/instances/[INSTANCE_NAME]`",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "zones": {
          "description": "Targets VM instances in ANY of these zones. Leave empty to target VM instances in any zone.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "PatchInstanceFilterGroupLabel": {
      "description": "Targets a group of VM instances by using their [assigned labels](https://cloud.google.com/compute/docs/labeling-resources). Labels are key-value pairs. A `GroupLabel` is a combination of labels that is used to target VMs for a patch job. For example, a patch job can target VMs that have the following `GroupLabel`: `{\"env\":\"test\", \"app\":\"web\"}`. This means that the patch job is applied to VMs that have both the labels `env=test` and `app=web`.",
      "id": "PatchInstanceFilterGroupLabel",
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Compute Engine instance labels that must be present for a VM instance to be targeted by this filter.",
          "type": "object"
        }
      },
      "type": "object"
    },
    "PatchJob": {
      "description": "A high level representation of a patch job that is either in progress or has completed. Instance details are not included in the job. To paginate through instance details, use ListPatchJobInstanceDetails. For more information about patch jobs, see [Creating patch jobs](https://cloud.google.com/compute/docs/os-patch-management/create-patch-job).",
      "id": "PatchJob",
      "properties": {
        "createTime": {
          "description": "Time this patch job was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "description": {
          "description": "Description of the patch job. Length of the description is limited to 1024 characters.",
          "type": "string"
        },
        "displayName": {
          "description": "Display name for this patch job. This is not a unique identifier.",
          "type": "string"
        },
        "dryRun": {
          "description": "If this patch job is a dry run, the agent reports that it has finished without running any updates on the VM instance.",
          "type": "boolean"
        },
        "duration": {
          "description": "Duration of the patch job. After the duration ends, the patch job times out.",
          "format": "google-duration",
          "type": "string"
        },
        "errorMessage": {
          "description": "If this patch job failed, this message provides information about the failure.",
          "type": "string"
        },
        "instanceDetailsSummary": {
          "$ref": "PatchJobInstanceDetailsSummary",
          "description": "Summary of instance details."
        },
        "instanceFilter": {
          "$ref": "PatchInstanceFilter",
          "description": "Instances to patch."
        },
        "name": {
          "description": "Unique identifier for this patch job in the form `projects/*/patchJobs/*`",
          "type": "string"
        },
        "patchConfig": {
          "$ref": "PatchConfig",
          "description": "Patch configuration being applied."
        },
        "patchDeployment": {
          "description": "Output only. Name of the patch deployment that created this patch job.",
          "readOnly": true,
          "type": "string"
        },
        "percentComplete": {
          "description": "Reflects the overall progress of the patch job in the range of 0.0 being no progress to 100.0 being complete.",
          "format": "double",
          "type": "number"
        },
        "rollout": {
          "$ref": "PatchRollout",
          "description": "Rollout strategy being applied."
        },
        "state": {
          "description": "The current state of the PatchJob.",
          "enum": [
            "STATE_UNSPECIFIED",
            "STARTED",
            "INSTANCE_LOOKUP",
            "PATCHING",
            "SUCCEEDED",
            "COMPLETED_WITH_ERRORS",
            "CANCELED",
            "TIMED_OUT"
          ],
          "enumDescriptions": [
            "State must be specified.",
            "The patch job was successfully initiated.",
            "The patch job is looking up instances to run the patch on.",
            "Instances are being patched.",
            "Patch job completed successfully.",
            "Patch job completed but there were errors.",
            "The patch job was canceled.",
            "The patch job timed out."
          ],
          "type": "string"
        },
        "updateTime": {
          "description": "Last time this patch job was updated.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object"
    },
    "PatchJobInstanceDetails": {
      "description": "Patch details for a VM instance. For more information about reviewing VM instance details, see [Listing all VM instance details for a specific patch job](https://cloud.google.com/compute/docs/os-patch-management/manage-patch-jobs#list-instance-details).",
      "id": "PatchJobInstanceDetails",
      "properties": {
        "attemptCount": {
          "description": "The number of times the agent that the agent attempts to apply the patch.",
          "format": "int64",
          "type": "string"
        },
        "failureReason": {
          "description": "If the patch fails, this field provides the reason.",
          "type": "string"
        },
        "instanceSystemId": {
          "description": "The unique identifier for the instance. This identifier is defined by the server.",
          "type": "string"
        },
        "name": {
          "description": "The instance name in the form `projects/*/zones/*/instances/*`",
          "type": "string"
        },
        "state": {
          "description": "Current state of instance patch.",
          "enum": [
            "PATCH_STATE_UNSPECIFIED",
            "PENDING",
            "INACTIVE",
            "NOTIFIED",
            "STARTED",
            "DOWNLOADING_PATCHES",
            "APPLYING_PATCHES",
            "REBOOTING",
            "SUCCEEDED",
            "SUCCEEDED_REBOOT_REQUIRED",
            "FAILED",
            "ACKED",
            "TIMED_OUT",
            "RUNNING_PRE_PATCH_STEP",
            "RUNNING_POST_PATCH_STEP",
            "NO_AGENT_DETECTED"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "The instance is not yet notified.",
            "Instance is inactive and cannot be patched.",
            "The instance is notified that it should be patched.",
            "The instance has started the patching process.",
            "The instance is downloading patches.",
            "The instance is applying patches.",
            "The instance is rebooting.",
            "The instance has completed applying patches.",
            "The instance has completed applying patches but a reboot is required.",
            "The instance has failed to apply the patch.",
            "The instance acked the notification and will start shortly.",
            "The instance exceeded the time out while applying the patch.",
            "The instance is running the pre-patch step.",
            "The instance is running the post-patch step.",
            "The service could not detect the presence of the agent. Check to ensure that the agent is installed, running, and able to communicate with the service."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "PatchJobInstanceDetailsSummary": {
      "description": "A summary of the current patch state across all instances that this patch job affects. Contains counts of instances in different states. These states map to `InstancePatchState`. List patch job instance details to see the specific states of each instance.",
      "id": "PatchJobInstanceDetailsSummary",
      "properties": {
        "ackedInstanceCount": {
          "description": "Number of instances that have acked and will start shortly.",
          "format": "int64",
          "type": "string"
        },
        "applyingPatchesInstanceCount": {
          "description": "Number of instances that are applying patches.",
          "format": "int64",
          "type": "string"
        },
        "downloadingPatchesInstanceCount": {
          "description": "Number of instances that are downloading patches.",
          "format": "int64",
          "type": "string"
        },
        "failedInstanceCount": {
          "description": "Number of instances that failed.",
          "format": "int64",
          "type": "string"
        },
        "inactiveInstanceCount": {
          "description": "Number of instances that are inactive.",
          "format": "int64",
          "type": "string"
        },
        "noAgentDetectedInstanceCount": {
          "description": "Number of instances that do not appear to be running the agent. Check to ensure that the agent is installed, running, and able to communicate with the service.",
          "format": "int64",
          "type": "string"
        },
        "notifiedInstanceCount": {
          "description": "Number of instances notified about patch job.",
          "format": "int64",
          "type": "string"
        },
        "pendingInstanceCount": {
          "description": "Number of instances pending patch job.",
          "format": "int64",
          "type": "string"
        },
        "postPatchStepInstanceCount": {
          "description": "Number of instances that are running the post-patch step.",
          "format": "int64",
          "type": "string"
        },
        "prePatchStepInstanceCount": {
          "description": "Number of instances that are running the pre-patch step.",
          "format": "int64",
          "type": "string"
        },
        "rebootingInstanceCount": {
          "description": "Number of instances rebooting.",
          "format": "int64",
          "type": "string"
        },
        "startedInstanceCount": {
          "description": "Number of instances that have started.",
          "format": "int64",
          "type": "string"
        },
        "succeededInstanceCount": {
          "description": "Number of instances that have completed successfully.",
          "format": "int64",
          "type": "string"
        },
        "succeededRebootRequiredInstanceCount": {
          "description": "Number of instances that require reboot.",
          "format": "int64",
          "type": "string"
        },
        "timedOutInstanceCount": {
          "description": "Number of instances that exceeded the time out while applying the patch.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object"
    },
    "PatchRollout": {
      "description": "Patch rollout configuration specifications. Contains details on the concurrency control when applying patch(es) to all targeted VMs.",
      "id": "PatchRollout",
      "properties": {
        "disruptionBudget": {
          "$ref": "FixedOrPercent",
          "description": "The maximum number (or percentage) of VMs per zone to disrupt at any given moment. The number of VMs calculated from multiplying the percentage by the total number of VMs in a zone is rounded up. During patching, a VM is considered disrupted from the time the agent is notified to begin until patching has completed. This disruption time includes the time to complete reboot and any post-patch steps. A VM contributes to the disruption budget if its patching operation fails either when applying the patches, running pre or post patch steps, or if it fails to respond with a success notification before timing out. VMs that are not running or do not have an active agent do not count toward this disruption budget. For zone-by-zone rollouts, if the disruption budget in a zone is exceeded, the patch job stops, because continuing to the next zone requires completion of the patch process in the previous zone. For example, if the disruption budget has a fixed value of `10`, and 8 VMs fail to patch in the current zone, the patch job continues to patch 2 VMs at a time until the zone is completed. When that zone is completed successfully, patching begins with 10 VMs at a time in the next zone. If 10 VMs in the next zone fail to patch, the patch job stops."
        },
        "mode": {
          "description": "Mode of the patch rollout.",
          "enum": [
            "MODE_UNSPECIFIED",
            "ZONE_BY_ZONE",
            "CONCURRENT_ZONES"
          ],
          "enumDescriptions": [
            "Mode must be specified.",
            "Patches are applied one zone at a time. The patch job begins in the region with the lowest number of targeted VMs. Within the region, patching begins in the zone with the lowest number of targeted VMs. If multiple regions (or zones within a region) have the same number of targeted VMs, a tie-breaker is achieved by sorting the regions or zones in alphabetical order.",
            "Patches are applied to VMs in all zones at the same time."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "RecurringSchedule": {
      "description": "Sets the time for recurring patch deployments.",
      "id": "RecurringSchedule",
      "properties": {
        "endTime": {
          "description": "Optional. The end time at which a recurring patch deployment schedule is no longer active.",
          "format": "google-datetime",
          "type": "string"
        },
        "frequency": {
          "description": "Required. The frequency unit of this recurring schedule.",
          "enum": [
            "FREQUENCY_UNSPECIFIED",
            "WEEKLY",
            "MONTHLY"
          ],
          "enumDescriptions": [
            "Invalid. A frequency must be specified.",
            "Indicates that the frequency should be expressed in terms of weeks.",
            "Indicates that the frequency should be expressed in terms of months."
          ],
          "type": "string"
        },
        "lastExecuteTime": {
          "description": "Output only. The time the last patch job ran successfully.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "monthly": {
          "$ref": "MonthlySchedule",
          "description": "Required. Schedule with monthly executions."
        },
        "nextExecuteTime": {
          "description": "Output only. The time the next patch job is scheduled to run.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "startTime": {
          "description": "Optional. The time that the recurring schedule becomes effective. Defaults to `create_time` of the patch deployment.",
          "format": "google-datetime",
          "type": "string"
        },
        "timeOfDay": {
          "$ref": "TimeOfDay",
          "description": "Required. Time of the day to run a recurring deployment."
        },
        "timeZone": {
          "$ref": "TimeZone",
          "description": "Required. Defines the time zone that `time_of_day` is relative to. The rules for daylight saving time are determined by the chosen time zone."
        },
        "weekly": {
          "$ref": "WeeklySchedule",
          "description": "Required. Schedule with weekly executions."
        }
      },
      "type": "object"
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "type": "array"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "TimeOfDay": {
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`.",
      "id": "TimeOfDay",
      "properties": {
        "hours": {
          "description": "Hours of day in 24 hour format. Should be from 0 to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "format": "int32",
          "type": "integer"
        },
        "minutes": {
          "description": "Minutes of hour of day. Must be from 0 to 59.",
          "format": "int32",
          "type": "integer"
        },
        "nanos": {
          "description": "Fractions of seconds in nanoseconds. Must be from 0 to 999,999,999.",
          "format": "int32",
          "type": "integer"
        },
        "seconds": {
          "description": "Seconds of minutes of the time. Must normally be from 0 to 59. An API may allow the value 60 if it allows leap-seconds.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "TimeZone": {
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones).",
      "id": "TimeZone",
      "properties": {
        "id": {
          "description": "IANA Time Zone Database time zone, e.g. \"America/New_York\".",
          "type": "string"
        },
        "version": {
          "description": "Optional. IANA Time Zone Database version number, e.g. \"2019a\".",
          "type": "string"
        }
      },
      "type": "object"
    },
    "WeekDayOfMonth": {
      "description": "Represents one week day in a month. An example is \"the 4th Sunday\".",
      "id": "WeekDayOfMonth",
      "properties": {
        "dayOfWeek": {
          "description": "Required. A day of the week.",
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ],
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "type": "string"
        },
        "weekOrdinal": {
          "description": "Required. Week number in a month. 1-4 indicates the 1st to 4th week of the month. -1 indicates the last week of the month.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "WeeklySchedule": {
      "description": "Represents a weekly schedule.",
      "id": "WeeklySchedule",
      "properties": {
        "dayOfWeek": {
          "description": "Required. Day of the week.",
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ],
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "WindowsUpdateSettings": {
      "description": "Windows patching is performed using the Windows Update Agent.",
      "id": "WindowsUpdateSettings",
      "properties": {
        "classifications": {
          "description": "Only apply updates of these windows update classifications. If empty, all updates are applied.",
          "items": {
            "enum": [
              "CLASSIFICATION_UNSPECIFIED",
              "CRITICAL",
              "SECURITY",
              "DEFINITION",
              "DRIVER",
              "FEATURE_PACK",
              "SERVICE_PACK",
              "TOOL",
              "UPDATE_ROLLUP",
              "UPDATE"
            ],
            "enumDescriptions": [
              "Invalid. If classifications are included, they must be specified.",
              "\"A widely released fix for a specific problem that addresses a critical, non-security-related bug.\" [1]",
              "\"A widely released fix for a product-specific, security-related vulnerability. Security vulnerabilities are rated by their severity. The severity rating is indicated in the Microsoft security bulletin as critical, important, moderate, or low.\" [1]",
              "\"A widely released and frequent software update that contains additions to a product's definition database. Definition databases are often used to detect objects that have specific attributes, such as malicious code, phishing websites, or junk mail.\" [1]",
              "\"Software that controls the input and output of a device.\" [1]",
              "\"New product functionality that is first distributed outside the context of a product release and that is typically included in the next full product release.\" [1]",
              "\"A tested, cumulative set of all hotfixes, security updates, critical updates, and updates. Additionally, service packs may contain additional fixes for problems that are found internally since the release of the product. Service packs my also contain a limited number of customer-requested design changes or features.\" [1]",
              "\"A utility or feature that helps complete a task or set of tasks.\" [1]",
              "\"A tested, cumulative set of hotfixes, security updates, critical updates, and updates that are packaged together for easy deployment. A rollup generally targets a specific area, such as security, or a component of a product, such as Internet Information Services (IIS).\" [1]",
              "\"A widely released fix for a specific problem. An update addresses a noncritical, non-security-related bug.\" [1]"
            ],
            "type": "string"
          },
          "type": "array"
        },
        "excludes": {
          "description": "List of KBs to exclude from update.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "exclusivePatches": {
          "description": "An exclusive list of kbs to be updated. These are the only patches that will be updated. This field must not be used with other patch configurations.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "YumSettings": {
      "description": "Yum patching is performed by executing `yum update`. Additional options can be set to control how this is executed. Note that not all settings are supported on all platforms.",
      "id": "YumSettings",
      "properties": {
        "excludes": {
          "description": "List of packages to exclude from update. These packages are excluded by using the yum `--exclude` flag.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "exclusivePackages": {
          "description": "An exclusive list of packages to be updated. These are the only packages that will be updated. If these packages are not installed, they will be ignored. This field must not be specified with any other patch configuration fields.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "minimal": {
          "description": "Will cause patch to run `yum update-minimal` instead.",
          "type": "boolean"
        },
        "security": {
          "description": "Adds the `--security` flag to `yum update`. Not supported on all platforms.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "ZypperSettings": {
      "description": "Zypper patching is performed by running `zypper patch`. See also https://en.opensuse.org/SDB:Zypper_manual.",
      "id": "ZypperSettings",
      "properties": {
        "categories": {
          "description": "Install only patches with these categories. Common categories include security, recommended, and feature.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "excludes": {
          "description": "List of patches to exclude from update.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "exclusivePatches": {
          "description": "An exclusive list of patches to be updated. These are the only patches that will be installed using 'zypper patch patch:' command. This field must not be used with any other patch configuration fields.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "severities": {
          "description": "Install only patches with these severities. Common severities include critical, important, moderate, and low.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "withOptional": {
          "description": "Adds the `--with-optional` flag to `zypper patch`.",
          "type": "boolean"
        },
        "withUpdate": {
          "description": "Adds the `--with-update` flag, to `zypper patch`.",
          "type": "boolean"
        }
      },
      "type": "object"
    }
  },
  "servicePath": "",
  "title": "OS Config API",
  "version": "v1",
  "version_module": true
}