{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "basePath": "",
  "baseUrl": "https://policytroubleshooter.googleapis.com/",
  "batchPath": "batch",
  "canonicalName": "Policy Troubleshooter",
  "description": "",
  "discoveryVersion": "v1",
  "documentationLink": "https://cloud.google.com/iam/",
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "id": "policytroubleshooter:v3",
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://policytroubleshooter.mtls.googleapis.com/",
  "name": "policytroubleshooter",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "parameters": {
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "protocol": "rest",
  "resources": {
    "iam": {
      "methods": {
        "troubleshoot": {
          "description": "Checks whether a principal has a specific permission for a specific resource, and explains why the principal does or doesn't have that permission.",
          "flatPath": "v3/iam:troubleshoot",
          "httpMethod": "POST",
          "id": "policytroubleshooter.iam.troubleshoot",
          "parameterOrder": [],
          "parameters": {},
          "path": "v3/iam:troubleshoot",
          "request": {
            "$ref": "GoogleCloudPolicytroubleshooterIamV3TroubleshootIamPolicyRequest"
          },
          "response": {
            "$ref": "GoogleCloudPolicytroubleshooterIamV3TroubleshootIamPolicyResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        }
      }
    }
  },
  "revision": "20260111",
  "rootUrl": "https://policytroubleshooter.googleapis.com/",
  "schemas": {
    "GoogleCloudPolicytroubleshooterIamV3AccessTuple": {
      "description": "Information about the principal, resource, and permission to check.",
      "id": "GoogleCloudPolicytroubleshooterIamV3AccessTuple",
      "properties": {
        "conditionContext": {
          "$ref": "GoogleCloudPolicytroubleshooterIamV3ConditionContext",
          "description": "Optional. Additional context for the request, such as the request time or IP address. This context allows Policy Troubleshooter to troubleshoot conditional role bindings and deny rules."
        },
        "fullResourceName": {
          "description": "Required. The full resource name that identifies the resource. For example, `//compute.googleapis.com/projects/my-project/zones/us-central1-a/instances/my-instance`. For examples of full resource names for Google Cloud services, see https://cloud.google.com/iam/help/troubleshooter/full-resource-names.",
          "type": "string"
        },
        "permission": {
          "description": "Required. The IAM permission to check for, either in the `v1` permission format or the `v2` permission format. For a complete list of IAM permissions in the `v1` format, see https://cloud.google.com/iam/help/permissions/reference. For a list of IAM permissions in the `v2` format, see https://cloud.google.com/iam/help/deny/supported-permissions. For a complete list of predefined IAM roles and the permissions in each role, see https://cloud.google.com/iam/help/roles/reference.",
          "type": "string"
        },
        "permissionFqdn": {
          "description": "Output only. The permission that Policy Troubleshooter checked for, in the `v2` format.",
          "readOnly": true,
          "type": "string"
        },
        "principal": {
          "description": "Required. The email address of the principal whose access you want to check. For example, `alice@example.com` or `my-service-account@my-project.iam.gserviceaccount.com`. The principal must be a Google Account or a service account. Other types of principals are not supported.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudPolicytroubleshooterIamV3AllowBindingExplanation": {
      "description": "Details about how a role binding in an allow policy affects a principal's ability to use a permission.",
      "id": "GoogleCloudPolicytroubleshooterIamV3AllowBindingExplanation",
      "properties": {
        "allowAccessState": {
          "description": "Required. Indicates whether _this role binding_ gives the specified permission to the specified principal on the specified resource. This field does _not_ indicate whether the principal actually has the permission on the resource. There might be another role binding that overrides this role binding. To determine whether the principal actually has the permission, use the `overall_access_state` field in the TroubleshootIamPolicyResponse.",
          "enum": [
            "ALLOW_ACCESS_STATE_UNSPECIFIED",
            "ALLOW_ACCESS_STATE_GRANTED",
            "ALLOW_ACCESS_STATE_NOT_GRANTED",
            "ALLOW_ACCESS_STATE_UNKNOWN_CONDITIONAL",
            "ALLOW_ACCESS_STATE_UNKNOWN_INFO"
          ],
          "enumDescriptions": [
            "Not specified.",
            "The allow policy gives the principal the permission.",
            "The allow policy doesn't give the principal the permission.",
            "The allow policy gives the principal the permission if a condition expression evaluate to `true`. However, the sender of the request didn't provide enough context for Policy Troubleshooter to evaluate the condition expression.",
            "The sender of the request doesn't have access to all of the allow policies that Policy Troubleshooter needs to evaluate the principal's access."
          ],
          "type": "string"
        },
        "combinedMembership": {
          "$ref": "GoogleCloudPolicytroubleshooterIamV3AllowBindingExplanationAnnotatedAllowMembership",
          "description": "The combined result of all memberships. Indicates if the principal is included in any role binding, either directly or indirectly."
        },
        "condition": {
          "$ref": "GoogleTypeExpr",
          "description": "A condition expression that specifies when the role binding grants access. To learn about IAM Conditions, see https://cloud.google.com/iam/help/conditions/overview."
        },
        "conditionExplanation": {
          "$ref": "GoogleCloudPolicytroubleshooterIamV3ConditionExplanation",
          "description": "Condition evaluation state for this role binding."
        },
        "memberships": {
          "additionalProperties": {
            "$ref": "GoogleCloudPolicytroubleshooterIamV3AllowBindingExplanationAnnotatedAllowMembership"
          },
          "description": "Indicates whether each role binding includes the principal specified in the request, either directly or indirectly. Each key identifies a principal in the role binding, and each value indicates whether the principal in the role binding includes the principal in the request. For example, suppose that a role binding includes the following principals: * `user:alice@example.com` * `group:product-eng@example.com` You want to troubleshoot access for `user:bob@example.com`. This user is a member of the group `group:product-eng@example.com`. For the first principal in the role binding, the key is `user:alice@example.com`, and the `membership` field in the value is set to `NOT_INCLUDED`. For the second principal in the role binding, the key is `group:product-eng@example.com`, and the `membership` field in the value is set to `INCLUDED`.",
          "type": "object"
        },
        "relevance": {
          "description": "The relevance of this role binding to the overall determination for the entire policy.",
          "enum": [
            "HEURISTIC_RELEVANCE_UNSPECIFIED",
            "HEURISTIC_RELEVANCE_NORMAL",
            "HEURISTIC_RELEVANCE_HIGH"
          ],
          "enumDescriptions": [
            "Not specified.",
            "The data point has a limited effect on the result. Changing the data point is unlikely to affect the overall determination.",
            "The data point has a strong effect on the result. Changing the data point is likely to affect the overall determination."
          ],
          "type": "string"
        },
        "role": {
          "description": "The role that this role binding grants. For example, `roles/compute.admin`. For a complete list of predefined IAM roles, as well as the permissions in each role, see https://cloud.google.com/iam/help/roles/reference.",
          "type": "string"
        },
        "rolePermission": {
          "description": "Indicates whether the role granted by this role binding contains the specified permission.",
          "enum": [
            "ROLE_PERMISSION_INCLUSION_STATE_UNSPECIFIED",
            "ROLE_PERMISSION_INCLUDED",
            "ROLE_PERMISSION_NOT_INCLUDED",
            "ROLE_PERMISSION_UNKNOWN_INFO"
          ],
          "enumDescriptions": [
            "Not specified.",
            "The permission is included in the role.",
            "The permission is not included in the role.",
            "The sender of the request is not allowed to access the role definition."
          ],
          "type": "string"
        },
        "rolePermissionRelevance": {
          "description": "The relevance of the permission's existence, or nonexistence, in the role to the overall determination for the entire policy.",
          "enum": [
            "HEURISTIC_RELEVANCE_UNSPECIFIED",
            "HEURISTIC_RELEVANCE_NORMAL",
            "HEURISTIC_RELEVANCE_HIGH"
          ],
          "enumDescriptions": [
            "Not specified.",
            "The data point has a limited effect on the result. Changing the data point is unlikely to affect the overall determination.",
            "The data point has a strong effect on the result. Changing the data point is likely to affect the overall determination."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudPolicytroubleshooterIamV3AllowBindingExplanationAnnotatedAllowMembership": {
      "description": "Details about whether the role binding includes the principal.",
      "id": "GoogleCloudPolicytroubleshooterIamV3AllowBindingExplanationAnnotatedAllowMembership",
      "properties": {
        "membership": {
          "description": "Indicates whether the role binding includes the principal.",
          "enum": [
            "MEMBERSHIP_MATCHING_STATE_UNSPECIFIED",
            "MEMBERSHIP_MATCHED",
            "MEMBERSHIP_NOT_MATCHED",
            "MEMBERSHIP_UNKNOWN_INFO",
            "MEMBERSHIP_UNKNOWN_UNSUPPORTED"
          ],
          "enumDescriptions": [
            "Not specified.",
            "The principal in the request matches the principal in the policy. The principal can be included directly or indirectly: * A principal is included directly if that principal is listed in the role binding. * A principal is included indirectly if that principal is in a Google group, Google Workspace account, or Cloud Identity domain that is listed in the policy.",
            "The principal in the request doesn't match the principal in the policy.",
            "The principal in the policy is a group or domain, and the sender of the request doesn't have permission to view whether the principal in the request is a member of the group or domain.",
            "The principal is an unsupported type."
          ],
          "type": "string"
        },
        "relevance": {
          "description": "The relevance of the principal's status to the overall determination for the role binding.",
          "enum": [
            "HEURISTIC_RELEVANCE_UNSPECIFIED",
            "HEURISTIC_RELEVANCE_NORMAL",
            "HEURISTIC_RELEVANCE_HIGH"
          ],
          "enumDescriptions": [
            "Not specified.",
            "The data point has a limited effect on the result. Changing the data point is unlikely to affect the overall determination.",
            "The data point has a strong effect on the result. Changing the data point is likely to affect the overall determination."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudPolicytroubleshooterIamV3AllowPolicyExplanation": {
      "description": "Details about how the relevant IAM allow policies affect the final access state.",
      "id": "GoogleCloudPolicytroubleshooterIamV3AllowPolicyExplanation",
      "properties": {
        "allowAccessState": {
          "description": "Indicates whether the principal has the specified permission for the specified resource, based on evaluating all applicable IAM allow policies.",
          "enum": [
            "ALLOW_ACCESS_STATE_UNSPECIFIED",
            "ALLOW_ACCESS_STATE_GRANTED",
            "ALLOW_ACCESS_STATE_NOT_GRANTED",
            "ALLOW_ACCESS_STATE_UNKNOWN_CONDITIONAL",
            "ALLOW_ACCESS_STATE_UNKNOWN_INFO"
          ],
          "enumDescriptions": [
            "Not specified.",
            "The allow policy gives the principal the permission.",
            "The allow policy doesn't give the principal the permission.",
            "The allow policy gives the principal the permission if a condition expression evaluate to `true`. However, the sender of the request didn't provide enough context for Policy Troubleshooter to evaluate the condition expression.",
            "The sender of the request doesn't have access to all of the allow policies that Policy Troubleshooter needs to evaluate the principal's access."
          ],
          "type": "string"
        },
        "explainedPolicies": {
          "description": "List of IAM allow policies that were evaluated to check the principal's permissions, with annotations to indicate how each policy contributed to the final result. The list of policies includes the policy for the resource itself, as well as allow policies that are inherited from higher levels of the resource hierarchy, including the organization, the folder, and the project. To learn more about the resource hierarchy, see https://cloud.google.com/iam/help/resource-hierarchy.",
          "items": {
            "$ref": "GoogleCloudPolicytroubleshooterIamV3ExplainedAllowPolicy"
          },
          "type": "array"
        },
        "relevance": {
          "description": "The relevance of the allow policy type to the overall access state.",
          "enum": [
            "HEURISTIC_RELEVANCE_UNSPECIFIED",
            "HEURISTIC_RELEVANCE_NORMAL",
            "HEURISTIC_RELEVANCE_HIGH"
          ],
          "enumDescriptions": [
            "Not specified.",
            "The data point has a limited effect on the result. Changing the data point is unlikely to affect the overall determination.",
            "The data point has a strong effect on the result. Changing the data point is likely to affect the overall determination."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudPolicytroubleshooterIamV3ConditionContext": {
      "description": "Additional context for troubleshooting conditional role bindings and deny rules.",
      "id": "GoogleCloudPolicytroubleshooterIamV3ConditionContext",
      "properties": {
        "destination": {
          "$ref": "GoogleCloudPolicytroubleshooterIamV3ConditionContextPeer",
          "description": "The destination of a network activity, such as accepting a TCP connection. In a multi-hop network activity, the destination represents the receiver of the last hop."
        },
        "effectiveTags": {
          "description": "Output only. The effective tags on the resource. The effective tags are fetched during troubleshooting.",
          "items": {
            "$ref": "GoogleCloudPolicytroubleshooterIamV3ConditionContextEffectiveTag"
          },
          "readOnly": true,
          "type": "array"
        },
        "request": {
          "$ref": "GoogleCloudPolicytroubleshooterIamV3ConditionContextRequest",
          "description": "Represents a network request, such as an HTTP request."
        },
        "resource": {
          "$ref": "GoogleCloudPolicytroubleshooterIamV3ConditionContextResource",
          "description": "Represents a target resource that is involved with a network activity. If multiple resources are involved with an activity, this must be the primary one."
        }
      },
      "type": "object"
    },
    "GoogleCloudPolicytroubleshooterIamV3ConditionContextEffectiveTag": {
      "description": "A tag that applies to a resource during policy evaluation. Tags can be either directly bound to a resource or inherited from its ancestor. `EffectiveTag` contains the `name` and `namespaced_name` of the tag value and tag key, with additional fields of `inherited` to indicate the inheritance status of the effective tag.",
      "id": "GoogleCloudPolicytroubleshooterIamV3ConditionContextEffectiveTag",
      "properties": {
        "inherited": {
          "description": "Output only. Indicates the inheritance status of a tag value attached to the given resource. If the tag value is inherited from one of the resource's ancestors, inherited will be true. If false, then the tag value is directly attached to the resource, inherited will be false.",
          "readOnly": true,
          "type": "boolean"
        },
        "namespacedTagKey": {
          "description": "Output only. The namespaced name of the TagKey. Can be in the form `{organization_id}/{tag_key_short_name}` or `{project_id}/{tag_key_short_name}` or `{project_number}/{tag_key_short_name}`.",
          "readOnly": true,
          "type": "string"
        },
        "namespacedTagValue": {
          "description": "Output only. The namespaced name of the TagValue. Can be in the form `{organization_id}/{tag_key_short_name}/{tag_value_short_name}` or `{project_id}/{tag_key_short_name}/{tag_value_short_name}` or `{project_number}/{tag_key_short_name}/{tag_value_short_name}`.",
          "readOnly": true,
          "type": "string"
        },
        "tagKey": {
          "description": "Output only. The name of the TagKey, in the format `tagKeys/{id}`, such as `tagKeys/123`.",
          "readOnly": true,
          "type": "string"
        },
        "tagKeyParentName": {
          "description": "The parent name of the tag key. Must be in the format `organizations/{organization_id}` or `projects/{project_number}`",
          "type": "string"
        },
        "tagValue": {
          "description": "Output only. Resource name for TagValue in the format `tagValues/456`.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudPolicytroubleshooterIamV3ConditionContextPeer": {
      "description": "This message defines attributes for a node that handles a network request. The node can be either a service or an application that sends, forwards, or receives the request. Service peers should fill in `principal` and `labels` as appropriate.",
      "id": "GoogleCloudPolicytroubleshooterIamV3ConditionContextPeer",
      "properties": {
        "ip": {
          "description": "The IPv4 or IPv6 address of the peer.",
          "type": "string"
        },
        "port": {
          "description": "The network port of the peer.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudPolicytroubleshooterIamV3ConditionContextRequest": {
      "description": "This message defines attributes for an HTTP request. If the actual request is not an HTTP request, the runtime system should try to map the actual request to an equivalent HTTP request.",
      "id": "GoogleCloudPolicytroubleshooterIamV3ConditionContextRequest",
      "properties": {
        "receiveTime": {
          "description": "Optional. The timestamp when the destination service receives the first byte of the request.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudPolicytroubleshooterIamV3ConditionContextResource": {
      "description": "Core attributes for a resource. A resource is an addressable (named) entity provided by the destination service. For example, a Compute Engine instance.",
      "id": "GoogleCloudPolicytroubleshooterIamV3ConditionContextResource",
      "properties": {
        "name": {
          "description": "The stable identifier (name) of a resource on the `service`. A resource can be logically identified as `//{resource.service}/{resource.name}`. Unlike the resource URI, the resource name doesn't contain any protocol and version information. For a list of full resource name formats, see https://cloud.google.com/iam/help/troubleshooter/full-resource-names",
          "type": "string"
        },
        "service": {
          "description": "The name of the service that this resource belongs to, such as `compute.googleapis.com`. The service name might not match the DNS hostname that actually serves the request. For a full list of resource service values, see https://cloud.google.com/iam/help/conditions/resource-services",
          "type": "string"
        },
        "type": {
          "description": "The type of the resource, in the format `{service}/{kind}`. For a full list of resource type values, see https://cloud.google.com/iam/help/conditions/resource-types",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudPolicytroubleshooterIamV3ConditionExplanation": {
      "description": "Explanation for how a condition affects a principal's access",
      "id": "GoogleCloudPolicytroubleshooterIamV3ConditionExplanation",
      "properties": {
        "errors": {
          "description": "Any errors that prevented complete evaluation of the condition expression.",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array"
        },
        "evaluationStates": {
          "description": "The value of each statement of the condition expression. The value can be `true`, `false`, or `null`. The value is `null` if the statement can't be evaluated.",
          "items": {
            "$ref": "GoogleCloudPolicytroubleshooterIamV3ConditionExplanationEvaluationState"
          },
          "type": "array"
        },
        "value": {
          "description": "Value of the condition.",
          "type": "any"
        }
      },
      "type": "object"
    },
    "GoogleCloudPolicytroubleshooterIamV3ConditionExplanationEvaluationState": {
      "description": "Evaluated state of a condition expression.",
      "id": "GoogleCloudPolicytroubleshooterIamV3ConditionExplanationEvaluationState",
      "properties": {
        "end": {
          "description": "End position of an expression in the condition, by character, end included, for example: the end position of the first part of `a==b || c==d` would be 4.",
          "format": "int32",
          "type": "integer"
        },
        "errors": {
          "description": "Any errors that prevented complete evaluation of the condition expression.",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array"
        },
        "start": {
          "description": "Start position of an expression in the condition, by character.",
          "format": "int32",
          "type": "integer"
        },
        "value": {
          "description": "Value of this expression.",
          "type": "any"
        }
      },
      "type": "object"
    },
    "GoogleCloudPolicytroubleshooterIamV3DenyPolicyExplanation": {
      "description": "Details about how the relevant IAM deny policies affect the final access state.",
      "id": "GoogleCloudPolicytroubleshooterIamV3DenyPolicyExplanation",
      "properties": {
        "denyAccessState": {
          "description": "Indicates whether the principal is denied the specified permission for the specified resource, based on evaluating all applicable IAM deny policies.",
          "enum": [
            "DENY_ACCESS_STATE_UNSPECIFIED",
            "DENY_ACCESS_STATE_DENIED",
            "DENY_ACCESS_STATE_NOT_DENIED",
            "DENY_ACCESS_STATE_UNKNOWN_CONDITIONAL",
            "DENY_ACCESS_STATE_UNKNOWN_INFO"
          ],
          "enumDescriptions": [
            "Not specified.",
            "The deny policy denies the principal the permission.",
            "The deny policy doesn't deny the principal the permission.",
            "The deny policy denies the principal the permission if a condition expression evaluates to `true`. However, the sender of the request didn't provide enough context for Policy Troubleshooter to evaluate the condition expression.",
            "The sender of the request does not have access to all of the deny policies that Policy Troubleshooter needs to evaluate the principal's access."
          ],
          "type": "string"
        },
        "explainedResources": {
          "description": "List of resources with IAM deny policies that were evaluated to check the principal's denied permissions, with annotations to indicate how each policy contributed to the final result. The list of resources includes the policy for the resource itself, as well as policies that are inherited from higher levels of the resource hierarchy, including the organization, the folder, and the project. The order of the resources starts from the resource and climbs up the resource hierarchy. To learn more about the resource hierarchy, see https://cloud.google.com/iam/help/resource-hierarchy.",
          "items": {
            "$ref": "GoogleCloudPolicytroubleshooterIamV3ExplainedDenyResource"
          },
          "type": "array"
        },
        "permissionDeniable": {
          "description": "Indicates whether the permission to troubleshoot is supported in deny policies.",
          "type": "boolean"
        },
        "relevance": {
          "description": "The relevance of the deny policy result to the overall access state.",
          "enum": [
            "HEURISTIC_RELEVANCE_UNSPECIFIED",
            "HEURISTIC_RELEVANCE_NORMAL",
            "HEURISTIC_RELEVANCE_HIGH"
          ],
          "enumDescriptions": [
            "Not specified.",
            "The data point has a limited effect on the result. Changing the data point is unlikely to affect the overall determination.",
            "The data point has a strong effect on the result. Changing the data point is likely to affect the overall determination."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudPolicytroubleshooterIamV3DenyRuleExplanation": {
      "description": "Details about how a deny rule in a deny policy affects a principal's ability to use a permission.",
      "id": "GoogleCloudPolicytroubleshooterIamV3DenyRuleExplanation",
      "properties": {
        "combinedDeniedPermission": {
          "$ref": "GoogleCloudPolicytroubleshooterIamV3DenyRuleExplanationAnnotatedPermissionMatching",
          "description": "Indicates whether the permission in the request is listed as a denied permission in the deny rule."
        },
        "combinedDeniedPrincipal": {
          "$ref": "GoogleCloudPolicytroubleshooterIamV3DenyRuleExplanationAnnotatedDenyPrincipalMatching",
          "description": "Indicates whether the principal is listed as a denied principal in the deny rule, either directly or through membership in a principal set."
        },
        "combinedExceptionPermission": {
          "$ref": "GoogleCloudPolicytroubleshooterIamV3DenyRuleExplanationAnnotatedPermissionMatching",
          "description": "Indicates whether the permission in the request is listed as an exception permission in the deny rule."
        },
        "combinedExceptionPrincipal": {
          "$ref": "GoogleCloudPolicytroubleshooterIamV3DenyRuleExplanationAnnotatedDenyPrincipalMatching",
          "description": "Indicates whether the principal is listed as an exception principal in the deny rule, either directly or through membership in a principal set."
        },
        "condition": {
          "$ref": "GoogleTypeExpr",
          "description": "A condition expression that specifies when the deny rule denies the principal access. To learn about IAM Conditions, see https://cloud.google.com/iam/help/conditions/overview."
        },
        "conditionExplanation": {
          "$ref": "GoogleCloudPolicytroubleshooterIamV3ConditionExplanation",
          "description": "Condition evaluation state for this role binding."
        },
        "deniedPermissions": {
          "additionalProperties": {
            "$ref": "GoogleCloudPolicytroubleshooterIamV3DenyRuleExplanationAnnotatedPermissionMatching"
          },
          "description": "Lists all denied permissions in the deny rule and indicates whether each permission matches the permission in the request. Each key identifies a denied permission in the rule, and each value indicates whether the denied permission matches the permission in the request.",
          "type": "object"
        },
        "deniedPrincipals": {
          "additionalProperties": {
            "$ref": "GoogleCloudPolicytroubleshooterIamV3DenyRuleExplanationAnnotatedDenyPrincipalMatching"
          },
          "description": "Lists all denied principals in the deny rule and indicates whether each principal matches the principal in the request, either directly or through membership in a principal set. Each key identifies a denied principal in the rule, and each value indicates whether the denied principal matches the principal in the request.",
          "type": "object"
        },
        "denyAccessState": {
          "description": "Required. Indicates whether _this rule_ denies the specified permission to the specified principal for the specified resource. This field does _not_ indicate whether the principal is actually denied on the permission for the resource. There might be another rule that overrides this rule. To determine whether the principal actually has the permission, use the `overall_access_state` field in the TroubleshootIamPolicyResponse.",
          "enum": [
            "DENY_ACCESS_STATE_UNSPECIFIED",
            "DENY_ACCESS_STATE_DENIED",
            "DENY_ACCESS_STATE_NOT_DENIED",
            "DENY_ACCESS_STATE_UNKNOWN_CONDITIONAL",
            "DENY_ACCESS_STATE_UNKNOWN_INFO"
          ],
          "enumDescriptions": [
            "Not specified.",
            "The deny policy denies the principal the permission.",
            "The deny policy doesn't deny the principal the permission.",
            "The deny policy denies the principal the permission if a condition expression evaluates to `true`. However, the sender of the request didn't provide enough context for Policy Troubleshooter to evaluate the condition expression.",
            "The sender of the request does not have access to all of the deny policies that Policy Troubleshooter needs to evaluate the principal's access."
          ],
          "type": "string"
        },
        "exceptionPermissions": {
          "additionalProperties": {
            "$ref": "GoogleCloudPolicytroubleshooterIamV3DenyRuleExplanationAnnotatedPermissionMatching"
          },
          "description": "Lists all exception permissions in the deny rule and indicates whether each permission matches the permission in the request. Each key identifies a exception permission in the rule, and each value indicates whether the exception permission matches the permission in the request.",
          "type": "object"
        },
        "exceptionPrincipals": {
          "additionalProperties": {
            "$ref": "GoogleCloudPolicytroubleshooterIamV3DenyRuleExplanationAnnotatedDenyPrincipalMatching"
          },
          "description": "Lists all exception principals in the deny rule and indicates whether each principal matches the principal in the request, either directly or through membership in a principal set. Each key identifies a exception principal in the rule, and each value indicates whether the exception principal matches the principal in the request.",
          "type": "object"
        },
        "relevance": {
          "description": "The relevance of this role binding to the overall determination for the entire policy.",
          "enum": [
            "HEURISTIC_RELEVANCE_UNSPECIFIED",
            "HEURISTIC_RELEVANCE_NORMAL",
            "HEURISTIC_RELEVANCE_HIGH"
          ],
          "enumDescriptions": [
            "Not specified.",
            "The data point has a limited effect on the result. Changing the data point is unlikely to affect the overall determination.",
            "The data point has a strong effect on the result. Changing the data point is likely to affect the overall determination."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudPolicytroubleshooterIamV3DenyRuleExplanationAnnotatedDenyPrincipalMatching": {
      "description": "Details about whether the principal in the request is listed as a denied principal in the deny rule, either directly or through membership in a principal set.",
      "id": "GoogleCloudPolicytroubleshooterIamV3DenyRuleExplanationAnnotatedDenyPrincipalMatching",
      "properties": {
        "membership": {
          "description": "Indicates whether the principal is listed as a denied principal in the deny rule, either directly or through membership in a principal set.",
          "enum": [
            "MEMBERSHIP_MATCHING_STATE_UNSPECIFIED",
            "MEMBERSHIP_MATCHED",
            "MEMBERSHIP_NOT_MATCHED",
            "MEMBERSHIP_UNKNOWN_INFO",
            "MEMBERSHIP_UNKNOWN_UNSUPPORTED"
          ],
          "enumDescriptions": [
            "Not specified.",
            "The principal in the request matches the principal in the policy. The principal can be included directly or indirectly: * A principal is included directly if that principal is listed in the role binding. * A principal is included indirectly if that principal is in a Google group, Google Workspace account, or Cloud Identity domain that is listed in the policy.",
            "The principal in the request doesn't match the principal in the policy.",
            "The principal in the policy is a group or domain, and the sender of the request doesn't have permission to view whether the principal in the request is a member of the group or domain.",
            "The principal is an unsupported type."
          ],
          "type": "string"
        },
        "relevance": {
          "description": "The relevance of the principal's status to the overall determination for the role binding.",
          "enum": [
            "HEURISTIC_RELEVANCE_UNSPECIFIED",
            "HEURISTIC_RELEVANCE_NORMAL",
            "HEURISTIC_RELEVANCE_HIGH"
          ],
          "enumDescriptions": [
            "Not specified.",
            "The data point has a limited effect on the result. Changing the data point is unlikely to affect the overall determination.",
            "The data point has a strong effect on the result. Changing the data point is likely to affect the overall determination."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudPolicytroubleshooterIamV3DenyRuleExplanationAnnotatedPermissionMatching": {
      "description": "Details about whether the permission in the request is denied by the deny rule.",
      "id": "GoogleCloudPolicytroubleshooterIamV3DenyRuleExplanationAnnotatedPermissionMatching",
      "properties": {
        "permissionMatchingState": {
          "description": "Indicates whether the permission in the request is denied by the deny rule.",
          "enum": [
            "PERMISSION_PATTERN_MATCHING_STATE_UNSPECIFIED",
            "PERMISSION_PATTERN_MATCHED",
            "PERMISSION_PATTERN_NOT_MATCHED"
          ],
          "enumDescriptions": [
            "Not specified.",
            "The permission in the request matches the permission in the policy.",
            "The permission in the request matches the permission in the policy."
          ],
          "type": "string"
        },
        "relevance": {
          "description": "The relevance of the permission status to the overall determination for the rule.",
          "enum": [
            "HEURISTIC_RELEVANCE_UNSPECIFIED",
            "HEURISTIC_RELEVANCE_NORMAL",
            "HEURISTIC_RELEVANCE_HIGH"
          ],
          "enumDescriptions": [
            "Not specified.",
            "The data point has a limited effect on the result. Changing the data point is unlikely to affect the overall determination.",
            "The data point has a strong effect on the result. Changing the data point is likely to affect the overall determination."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudPolicytroubleshooterIamV3ExplainedAllowPolicy": {
      "description": "Details about how a specific IAM allow policy contributed to the final access state.",
      "id": "GoogleCloudPolicytroubleshooterIamV3ExplainedAllowPolicy",
      "properties": {
        "allowAccessState": {
          "description": "Required. Indicates whether _this policy_ provides the specified permission to the specified principal for the specified resource. This field does _not_ indicate whether the principal actually has the permission for the resource. There might be another policy that overrides this policy. To determine whether the principal actually has the permission, use the `overall_access_state` field in the TroubleshootIamPolicyResponse.",
          "enum": [
            "ALLOW_ACCESS_STATE_UNSPECIFIED",
            "ALLOW_ACCESS_STATE_GRANTED",
            "ALLOW_ACCESS_STATE_NOT_GRANTED",
            "ALLOW_ACCESS_STATE_UNKNOWN_CONDITIONAL",
            "ALLOW_ACCESS_STATE_UNKNOWN_INFO"
          ],
          "enumDescriptions": [
            "Not specified.",
            "The allow policy gives the principal the permission.",
            "The allow policy doesn't give the principal the permission.",
            "The allow policy gives the principal the permission if a condition expression evaluate to `true`. However, the sender of the request didn't provide enough context for Policy Troubleshooter to evaluate the condition expression.",
            "The sender of the request doesn't have access to all of the allow policies that Policy Troubleshooter needs to evaluate the principal's access."
          ],
          "type": "string"
        },
        "bindingExplanations": {
          "description": "Details about how each role binding in the policy affects the principal's ability, or inability, to use the permission for the resource. The order of the role bindings matches the role binding order in the policy. If the sender of the request does not have access to the policy, this field is omitted.",
          "items": {
            "$ref": "GoogleCloudPolicytroubleshooterIamV3AllowBindingExplanation"
          },
          "type": "array"
        },
        "fullResourceName": {
          "description": "The full resource name that identifies the resource. For example, `//compute.googleapis.com/projects/my-project/zones/us-central1-a/instances/my-instance`. If the sender of the request does not have access to the policy, this field is omitted. For examples of full resource names for Google Cloud services, see https://cloud.google.com/iam/help/troubleshooter/full-resource-names.",
          "type": "string"
        },
        "policy": {
          "$ref": "GoogleIamV1Policy",
          "description": "The IAM allow policy attached to the resource. If the sender of the request does not have access to the policy, this field is empty."
        },
        "relevance": {
          "description": "The relevance of this policy to the overall access state in the TroubleshootIamPolicyResponse. If the sender of the request does not have access to the policy, this field is omitted.",
          "enum": [
            "HEURISTIC_RELEVANCE_UNSPECIFIED",
            "HEURISTIC_RELEVANCE_NORMAL",
            "HEURISTIC_RELEVANCE_HIGH"
          ],
          "enumDescriptions": [
            "Not specified.",
            "The data point has a limited effect on the result. Changing the data point is unlikely to affect the overall determination.",
            "The data point has a strong effect on the result. Changing the data point is likely to affect the overall determination."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudPolicytroubleshooterIamV3ExplainedDenyPolicy": {
      "description": "Details about how a specific IAM deny policy Policy contributed to the access check.",
      "id": "GoogleCloudPolicytroubleshooterIamV3ExplainedDenyPolicy",
      "properties": {
        "denyAccessState": {
          "description": "Required. Indicates whether _this policy_ denies the specified permission to the specified principal for the specified resource. This field does _not_ indicate whether the principal actually has the permission for the resource. There might be another policy that overrides this policy. To determine whether the principal actually has the permission, use the `overall_access_state` field in the TroubleshootIamPolicyResponse.",
          "enum": [
            "DENY_ACCESS_STATE_UNSPECIFIED",
            "DENY_ACCESS_STATE_DENIED",
            "DENY_ACCESS_STATE_NOT_DENIED",
            "DENY_ACCESS_STATE_UNKNOWN_CONDITIONAL",
            "DENY_ACCESS_STATE_UNKNOWN_INFO"
          ],
          "enumDescriptions": [
            "Not specified.",
            "The deny policy denies the principal the permission.",
            "The deny policy doesn't deny the principal the permission.",
            "The deny policy denies the principal the permission if a condition expression evaluates to `true`. However, the sender of the request didn't provide enough context for Policy Troubleshooter to evaluate the condition expression.",
            "The sender of the request does not have access to all of the deny policies that Policy Troubleshooter needs to evaluate the principal's access."
          ],
          "type": "string"
        },
        "policy": {
          "$ref": "GoogleIamV2Policy",
          "description": "The IAM deny policy attached to the resource. If the sender of the request does not have access to the policy, this field is omitted."
        },
        "relevance": {
          "description": "The relevance of this policy to the overall access state in the TroubleshootIamPolicyResponse. If the sender of the request does not have access to the policy, this field is omitted.",
          "enum": [
            "HEURISTIC_RELEVANCE_UNSPECIFIED",
            "HEURISTIC_RELEVANCE_NORMAL",
            "HEURISTIC_RELEVANCE_HIGH"
          ],
          "enumDescriptions": [
            "Not specified.",
            "The data point has a limited effect on the result. Changing the data point is unlikely to affect the overall determination.",
            "The data point has a strong effect on the result. Changing the data point is likely to affect the overall determination."
          ],
          "type": "string"
        },
        "ruleExplanations": {
          "description": "Details about how each rule in the policy affects the principal's inability to use the permission for the resource. The order of the deny rule matches the order of the rules in the deny policy. If the sender of the request does not have access to the policy, this field is omitted.",
          "items": {
            "$ref": "GoogleCloudPolicytroubleshooterIamV3DenyRuleExplanation"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudPolicytroubleshooterIamV3ExplainedDenyResource": {
      "description": "Details about how a specific resource contributed to the deny policy evaluation.",
      "id": "GoogleCloudPolicytroubleshooterIamV3ExplainedDenyResource",
      "properties": {
        "denyAccessState": {
          "description": "Required. Indicates whether any policies attached to _this resource_ deny the specific permission to the specified principal for the specified resource. This field does _not_ indicate whether the principal actually has the permission for the resource. There might be another policy that overrides this policy. To determine whether the principal actually has the permission, use the `overall_access_state` field in the TroubleshootIamPolicyResponse.",
          "enum": [
            "DENY_ACCESS_STATE_UNSPECIFIED",
            "DENY_ACCESS_STATE_DENIED",
            "DENY_ACCESS_STATE_NOT_DENIED",
            "DENY_ACCESS_STATE_UNKNOWN_CONDITIONAL",
            "DENY_ACCESS_STATE_UNKNOWN_INFO"
          ],
          "enumDescriptions": [
            "Not specified.",
            "The deny policy denies the principal the permission.",
            "The deny policy doesn't deny the principal the permission.",
            "The deny policy denies the principal the permission if a condition expression evaluates to `true`. However, the sender of the request didn't provide enough context for Policy Troubleshooter to evaluate the condition expression.",
            "The sender of the request does not have access to all of the deny policies that Policy Troubleshooter needs to evaluate the principal's access."
          ],
          "type": "string"
        },
        "explainedPolicies": {
          "description": "List of IAM deny policies that were evaluated to check the principal's denied permissions, with annotations to indicate how each policy contributed to the final result.",
          "items": {
            "$ref": "GoogleCloudPolicytroubleshooterIamV3ExplainedDenyPolicy"
          },
          "type": "array"
        },
        "fullResourceName": {
          "description": "The full resource name that identifies the resource. For example, `//compute.googleapis.com/projects/my-project/zones/us-central1-a/instances/my-instance`. If the sender of the request does not have access to the policy, this field is omitted. For examples of full resource names for Google Cloud services, see https://cloud.google.com/iam/help/troubleshooter/full-resource-names.",
          "type": "string"
        },
        "relevance": {
          "description": "The relevance of this policy to the overall access state in the TroubleshootIamPolicyResponse. If the sender of the request does not have access to the policy, this field is omitted.",
          "enum": [
            "HEURISTIC_RELEVANCE_UNSPECIFIED",
            "HEURISTIC_RELEVANCE_NORMAL",
            "HEURISTIC_RELEVANCE_HIGH"
          ],
          "enumDescriptions": [
            "Not specified.",
            "The data point has a limited effect on the result. Changing the data point is unlikely to affect the overall determination.",
            "The data point has a strong effect on the result. Changing the data point is likely to affect the overall determination."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudPolicytroubleshooterIamV3TroubleshootIamPolicyRequest": {
      "description": "Request for TroubleshootIamPolicy.",
      "id": "GoogleCloudPolicytroubleshooterIamV3TroubleshootIamPolicyRequest",
      "properties": {
        "accessTuple": {
          "$ref": "GoogleCloudPolicytroubleshooterIamV3AccessTuple",
          "description": "The information to use for checking whether a principal has a permission for a resource."
        }
      },
      "type": "object"
    },
    "GoogleCloudPolicytroubleshooterIamV3TroubleshootIamPolicyResponse": {
      "description": "Response for TroubleshootIamPolicy.",
      "id": "GoogleCloudPolicytroubleshooterIamV3TroubleshootIamPolicyResponse",
      "properties": {
        "accessTuple": {
          "$ref": "GoogleCloudPolicytroubleshooterIamV3AccessTuple",
          "description": "The access tuple from the request, including any provided context used to evaluate the condition."
        },
        "allowPolicyExplanation": {
          "$ref": "GoogleCloudPolicytroubleshooterIamV3AllowPolicyExplanation",
          "description": "An explanation of how the applicable IAM allow policies affect the final access state."
        },
        "denyPolicyExplanation": {
          "$ref": "GoogleCloudPolicytroubleshooterIamV3DenyPolicyExplanation",
          "description": "An explanation of how the applicable IAM deny policies affect the final access state."
        },
        "overallAccessState": {
          "description": "Indicates whether the principal has the specified permission for the specified resource, based on evaluating all types of the applicable IAM policies.",
          "enum": [
            "OVERALL_ACCESS_STATE_UNSPECIFIED",
            "CAN_ACCESS",
            "CANNOT_ACCESS",
            "UNKNOWN_INFO",
            "UNKNOWN_CONDITIONAL"
          ],
          "enumDescriptions": [
            "Not specified.",
            "The principal has the permission.",
            "The principal doesn't have the permission.",
            "The principal might have the permission, but the sender can't access all of the information needed to fully evaluate the principal's access.",
            "The principal might have the permission, but Policy Troubleshooter can't fully evaluate the principal's access because the sender didn't provide the required context to evaluate the condition."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleIamV1AuditConfig": {
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "id": "GoogleIamV1AuditConfig",
      "properties": {
        "auditLogConfigs": {
          "description": "The configuration for logging of each type of permission.",
          "items": {
            "$ref": "GoogleIamV1AuditLogConfig"
          },
          "type": "array"
        },
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleIamV1AuditLogConfig": {
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "id": "GoogleIamV1AuditLogConfig",
      "properties": {
        "exemptedMembers": {
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "logType": {
          "description": "The log type that this config enables.",
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleIamV1Binding": {
      "description": "Associates `members`, or principals, with a `role`.",
      "id": "GoogleIamV1Binding",
      "properties": {
        "condition": {
          "$ref": "GoogleTypeExpr",
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "members": {
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles).",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleIamV1Policy": {
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "id": "GoogleIamV1Policy",
      "properties": {
        "auditConfigs": {
          "description": "Specifies cloud audit logging configuration for this policy.",
          "items": {
            "$ref": "GoogleIamV1AuditConfig"
          },
          "type": "array"
        },
        "bindings": {
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "items": {
            "$ref": "GoogleIamV1Binding"
          },
          "type": "array"
        },
        "etag": {
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "format": "byte",
          "type": "string"
        },
        "version": {
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "GoogleIamV2DenyRule": {
      "description": "A deny rule in an IAM deny policy.",
      "id": "GoogleIamV2DenyRule",
      "properties": {
        "denialCondition": {
          "$ref": "GoogleTypeExpr",
          "description": "The condition that determines whether this deny rule applies to a request. If the condition expression evaluates to `true`, then the deny rule is applied; otherwise, the deny rule is not applied. Each deny rule is evaluated independently. If this deny rule does not apply to a request, other deny rules might still apply. The condition can use CEL functions that evaluate [resource tags](https://cloud.google.com/iam/help/conditions/resource-tags). Other functions and operators are not supported."
        },
        "deniedPermissions": {
          "description": "The permissions that are explicitly denied by this rule. Each permission uses the format `{service_fqdn}/{resource}.{verb}`, where `{service_fqdn}` is the fully qualified domain name for the service. For example, `iam.googleapis.com/roles.list`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "deniedPrincipals": {
          "description": " The identities that are prevented from using one or more permissions on Google Cloud resources. This field can contain the following values: * `principal://goog/subject/{email_id}`: A specific Google Account. Includes Gmail, Cloud Identity, and Google Workspace user accounts. For example, `principal://goog/subject/alice@example.com`. * `principal://iam.googleapis.com/projects/-/serviceAccounts/{service_account_id}`: A Google Cloud service account. For example, `principal://iam.googleapis.com/projects/-/serviceAccounts/my-service-account@iam.gserviceaccount.com`. * `principalSet://goog/group/{group_id}`: A Google group. For example, `principalSet://goog/group/admins@example.com`. * `principalSet://goog/public:all`: A special identifier that represents any principal that is on the internet, even if they do not have a Google Account or are not logged in. * `principalSet://goog/cloudIdentityCustomerId/{customer_id}`: All of the principals associated with the specified Google Workspace or Cloud Identity customer ID. For example, `principalSet://goog/cloudIdentityCustomerId/C01Abc35`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `principalSet://cloudresourcemanager.googleapis.com/[projects|folders|organizations]/{project_number|folder_number|org_number}/type/ServiceAccount`: All service accounts grouped under a resource (project, folder, or organization). * `principalSet://cloudresourcemanager.googleapis.com/[projects|folders|organizations]/{project_number|folder_number|org_number}/type/ServiceAgent`: All service agents grouped under a resource (project, folder, or organization). * `deleted:principal://goog/subject/{email_id}?uid={uid}`: A specific Google Account that was deleted recently. For example, `deleted:principal://goog/subject/alice@example.com?uid=1234567890`. If the Google Account is recovered, this identifier reverts to the standard identifier for a Google Account. * `deleted:principalSet://goog/group/{group_id}?uid={uid}`: A Google group that was deleted recently. For example, `deleted:principalSet://goog/group/admins@example.com?uid=1234567890`. If the Google group is restored, this identifier reverts to the standard identifier for a Google group. * `deleted:principal://iam.googleapis.com/projects/-/serviceAccounts/{service_account_id}?uid={uid}`: A Google Cloud service account that was deleted recently. For example, `deleted:principal://iam.googleapis.com/projects/-/serviceAccounts/my-service-account@iam.gserviceaccount.com?uid=1234567890`. If the service account is undeleted, this identifier reverts to the standard identifier for a service account. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "exceptionPermissions": {
          "description": "Specifies the permissions that this rule excludes from the set of denied permissions given by `denied_permissions`. If a permission appears in `denied_permissions` _and_ in `exception_permissions` then it will _not_ be denied. The excluded permissions can be specified using the same syntax as `denied_permissions`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "exceptionPrincipals": {
          "description": "The identities that are excluded from the deny rule, even if they are listed in the `denied_principals`. For example, you could add a Google group to the `denied_principals`, then exclude specific users who belong to that group. This field can contain the same values as the `denied_principals` field, excluding `principalSet://goog/public:all`, which represents all users on the internet.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleIamV2Policy": {
      "description": "Data for an IAM policy.",
      "id": "GoogleIamV2Policy",
      "properties": {
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "A key-value map to store arbitrary metadata for the `Policy`. Keys can be up to 63 characters. Values can be up to 255 characters.",
          "type": "object"
        },
        "createTime": {
          "description": "Output only. The time when the `Policy` was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "deleteTime": {
          "description": "Output only. The time when the `Policy` was deleted. Empty if the policy is not deleted.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "A user-specified description of the `Policy`. This value can be up to 63 characters.",
          "type": "string"
        },
        "etag": {
          "description": "An opaque tag that identifies the current version of the `Policy`. IAM uses this value to help manage concurrent updates, so they do not cause one update to be overwritten by another. If this field is present in a CreatePolicyRequest, the value is ignored.",
          "type": "string"
        },
        "kind": {
          "description": "Output only. The kind of the `Policy`. Always contains the value `DenyPolicy`.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Immutable. The resource name of the `Policy`, which must be unique. Format: `policies/{attachment_point}/denypolicies/{policy_id}` The attachment point is identified by its URL-encoded full resource name, which means that the forward-slash character, `/`, must be written as `%2F`. For example, `policies/cloudresourcemanager.googleapis.com%2Fprojects%2Fmy-project/denypolicies/my-deny-policy`. For organizations and folders, use the numeric ID in the full resource name. For projects, requests can use the alphanumeric or the numeric ID. Responses always contain the numeric ID.",
          "type": "string"
        },
        "rules": {
          "description": "A list of rules that specify the behavior of the `Policy`. All of the rules should be of the `kind` specified in the `Policy`.",
          "items": {
            "$ref": "GoogleIamV2PolicyRule"
          },
          "type": "array"
        },
        "uid": {
          "description": "Immutable. The globally unique ID of the `Policy`. Assigned automatically when the `Policy` is created.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The time when the `Policy` was last updated.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleIamV2PolicyRule": {
      "description": "A single rule in a `Policy`.",
      "id": "GoogleIamV2PolicyRule",
      "properties": {
        "denyRule": {
          "$ref": "GoogleIamV2DenyRule",
          "description": "A rule for a deny policy."
        },
        "description": {
          "description": "A user-specified description of the rule. This value can be up to 256 characters.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleRpcStatus": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "GoogleRpcStatus",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "type": "array"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleTypeExpr": {
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "id": "GoogleTypeExpr",
      "properties": {
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        }
      },
      "type": "object"
    }
  },
  "servicePath": "",
  "title": "Policy Troubleshooter API",
  "version": "v3",
  "version_module": true
}