{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/doubleclicksearch": {
          "description": "View and manage your advertising data in DoubleClick Search"
        }
      }
    }
  },
  "basePath": "",
  "baseUrl": "https://searchads360.googleapis.com/",
  "batchPath": "batch",
  "canonicalName": "SA360",
  "description": "The Search Ads 360 API allows developers to automate downloading reports from Search Ads 360.",
  "discoveryVersion": "v1",
  "documentationLink": "https://developers.google.com/search-ads/reporting",
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "id": "searchads360:v0",
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://searchads360.mtls.googleapis.com/",
  "name": "searchads360",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "parameters": {
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "protocol": "rest",
  "resources": {
    "customers": {
      "methods": {
        "listAccessibleCustomers": {
          "description": "Returns resource names of customers directly accessible by the user authenticating the call. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()",
          "flatPath": "v0/customers:listAccessibleCustomers",
          "httpMethod": "GET",
          "id": "searchads360.customers.listAccessibleCustomers",
          "parameterOrder": [],
          "parameters": {},
          "path": "v0/customers:listAccessibleCustomers",
          "response": {
            "$ref": "GoogleAdsSearchads360V0Services__ListAccessibleCustomersResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ]
        }
      },
      "resources": {
        "customColumns": {
          "methods": {
            "get": {
              "description": "Returns the requested custom column in full detail.",
              "flatPath": "v0/customers/{customersId}/customColumns/{customColumnsId}",
              "httpMethod": "GET",
              "id": "searchads360.customers.customColumns.get",
              "parameterOrder": [
                "resourceName"
              ],
              "parameters": {
                "resourceName": {
                  "description": "Required. The resource name of the custom column to fetch.",
                  "location": "path",
                  "pattern": "^customers/[^/]+/customColumns/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v0/{+resourceName}",
              "response": {
                "$ref": "GoogleAdsSearchads360V0Resources__CustomColumn"
              },
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ]
            },
            "list": {
              "description": "Returns all the custom columns associated with the customer in full detail.",
              "flatPath": "v0/customers/{customersId}/customColumns",
              "httpMethod": "GET",
              "id": "searchads360.customers.customColumns.list",
              "parameterOrder": [
                "customerId"
              ],
              "parameters": {
                "customerId": {
                  "description": "Required. The ID of the customer to apply the CustomColumn list operation to.",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v0/customers/{+customerId}/customColumns",
              "response": {
                "$ref": "GoogleAdsSearchads360V0Services__ListCustomColumnsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ]
            }
          }
        },
        "searchAds360": {
          "methods": {
            "search": {
              "description": "Returns all rows that match the search query. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [ChangeEventError]() [ChangeStatusError]() [ClickViewError]() [HeaderError]() [InternalError]() [QueryError]() [QuotaError]() [RequestError]()",
              "flatPath": "v0/customers/{customersId}/searchAds360:search",
              "httpMethod": "POST",
              "id": "searchads360.customers.searchAds360.search",
              "parameterOrder": [
                "customerId"
              ],
              "parameters": {
                "customerId": {
                  "description": "Required. The ID of the customer being queried.",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v0/customers/{+customerId}/searchAds360:search",
              "request": {
                "$ref": "GoogleAdsSearchads360V0Services__SearchSearchAds360Request"
              },
              "response": {
                "$ref": "GoogleAdsSearchads360V0Services__SearchSearchAds360Response"
              },
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ]
            }
          }
        }
      }
    },
    "searchAds360Fields": {
      "methods": {
        "get": {
          "description": "Returns just the requested field. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()",
          "flatPath": "v0/searchAds360Fields/{searchAds360FieldsId}",
          "httpMethod": "GET",
          "id": "searchads360.searchAds360Fields.get",
          "parameterOrder": [
            "resourceName"
          ],
          "parameters": {
            "resourceName": {
              "description": "Required. The resource name of the field to get.",
              "location": "path",
              "pattern": "^searchAds360Fields/[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "path": "v0/{+resourceName}",
          "response": {
            "$ref": "GoogleAdsSearchads360V0Resources__SearchAds360Field"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ]
        },
        "search": {
          "description": "Returns all fields that match the search [query](/search-ads/reporting/concepts/field-service#use_a_query_to_get_field_details). List of thrown errors: [AuthenticationError]() [AuthorizationError]() [HeaderError]() [InternalError]() [QueryError]() [QuotaError]() [RequestError]()",
          "flatPath": "v0/searchAds360Fields:search",
          "httpMethod": "POST",
          "id": "searchads360.searchAds360Fields.search",
          "parameterOrder": [],
          "parameters": {},
          "path": "v0/searchAds360Fields:search",
          "request": {
            "$ref": "GoogleAdsSearchads360V0Services__SearchSearchAds360FieldsRequest"
          },
          "response": {
            "$ref": "GoogleAdsSearchads360V0Services__SearchSearchAds360FieldsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ]
        }
      }
    }
  },
  "revision": "20260810",
  "rootUrl": "https://searchads360.googleapis.com/",
  "schemas": {
    "GoogleAdsSearchads360V0Common__AdScheduleInfo": {
      "description": "Represents an AdSchedule criterion. AdSchedule is specified as the day of the week and a time interval within which ads will be shown. No more than six AdSchedules can be added for the same day.",
      "id": "GoogleAdsSearchads360V0Common__AdScheduleInfo",
      "properties": {
        "dayOfWeek": {
          "description": "Day of the week the schedule applies to. This field is required for CREATE operations and is prohibited on UPDATE operations.",
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ],
          "enumDescriptions": [
            "Not specified.",
            "The value is unknown in this version.",
            "Monday.",
            "Tuesday.",
            "Wednesday.",
            "Thursday.",
            "Friday.",
            "Saturday.",
            "Sunday."
          ],
          "type": "string"
        },
        "endHour": {
          "description": "Ending hour in 24 hour time; 24 signifies end of the day. This field must be between 0 and 24, inclusive. This field is required for CREATE operations and is prohibited on UPDATE operations.",
          "format": "int32",
          "type": "integer"
        },
        "endMinute": {
          "description": "Minutes after the end hour at which this schedule ends. The schedule is exclusive of the end minute. This field is required for CREATE operations and is prohibited on UPDATE operations.",
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "ZERO",
            "FIFTEEN",
            "THIRTY",
            "FORTY_FIVE"
          ],
          "enumDescriptions": [
            "Not specified.",
            "The value is unknown in this version.",
            "Zero minutes past the hour.",
            "Fifteen minutes past the hour.",
            "Thirty minutes past the hour.",
            "Forty-five minutes past the hour."
          ],
          "type": "string"
        },
        "startHour": {
          "description": "Starting hour in 24 hour time. This field must be between 0 and 23, inclusive. This field is required for CREATE operations and is prohibited on UPDATE operations.",
          "format": "int32",
          "type": "integer"
        },
        "startMinute": {
          "description": "Minutes after the start hour at which this schedule starts. This field is required for CREATE operations and is prohibited on UPDATE operations.",
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "ZERO",
            "FIFTEEN",
            "THIRTY",
            "FORTY_FIVE"
          ],
          "enumDescriptions": [
            "Not specified.",
            "The value is unknown in this version.",
            "Zero minutes past the hour.",
            "Fifteen minutes past the hour.",
            "Thirty minutes past the hour.",
            "Forty-five minutes past the hour."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleAdsSearchads360V0Common__AdTextAsset": {
      "description": "A text asset used inside an ad.",
      "id": "GoogleAdsSearchads360V0Common__AdTextAsset",
      "properties": {
        "text": {
          "description": "Asset text.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleAdsSearchads360V0Common__AgeRangeInfo": {
      "description": "An age range criterion.",
      "id": "GoogleAdsSearchads360V0Common__AgeRangeInfo",
      "properties": {
        "type": {
          "description": "Type of the age range.",
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "AGE_RANGE_18_24",
            "AGE_RANGE_25_34",
            "AGE_RANGE_35_44",
            "AGE_RANGE_45_54",
            "AGE_RANGE_55_64",
            "AGE_RANGE_65_UP",
            "AGE_RANGE_UNDETERMINED"
          ],
          "enumDescriptions": [
            "Not specified.",
            "Used for return value only. Represents value unknown in this version.",
            "Between 18 and 24 years old.",
            "Between 25 and 34 years old.",
            "Between 35 and 44 years old.",
            "Between 45 and 54 years old.",
            "Between 55 and 64 years old.",
            "65 years old and beyond.",
            "Undetermined age range."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleAdsSearchads360V0Common__AssetInteractionTarget": {
      "description": "An AssetInteractionTarget segment.",
      "id": "GoogleAdsSearchads360V0Common__AssetInteractionTarget",
      "properties": {
        "asset": {
          "description": "The asset resource name.",
          "type": "string"
        },
        "interactionOnThisAsset": {
          "description": "Only used with CustomerAsset, CampaignAsset and AdGroupAsset metrics. Indicates whether the interaction metrics occurred on the asset itself or a different asset or ad unit.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleAdsSearchads360V0Common__AssetUsage": {
      "description": "Contains the usage information of the asset.",
      "id": "GoogleAdsSearchads360V0Common__AssetUsage",
      "properties": {
        "asset": {
          "description": "Resource name of the asset.",
          "type": "string"
        },
        "servedAssetFieldType": {
          "description": "The served field type of the asset.",
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "HEADLINE_1",
            "HEADLINE_2",
            "HEADLINE_3",
            "DESCRIPTION_1",
            "DESCRIPTION_2",
            "HEADLINE",
            "HEADLINE_IN_PORTRAIT",
            "LONG_HEADLINE",
            "DESCRIPTION",
            "DESCRIPTION_IN_PORTRAIT",
            "BUSINESS_NAME_IN_PORTRAIT",
            "BUSINESS_NAME",
            "MARKETING_IMAGE",
            "MARKETING_IMAGE_IN_PORTRAIT",
            "SQUARE_MARKETING_IMAGE",
            "PORTRAIT_MARKETING_IMAGE",
            "LOGO",
            "LANDSCAPE_LOGO",
            "CALL_TO_ACTION",
            "YOU_TUBE_VIDEO",
            "SITELINK",
            "CALL",
            "MOBILE_APP",
            "CALLOUT",
            "STRUCTURED_SNIPPET",
            "PRICE",
            "PROMOTION",
            "AD_IMAGE",
            "LEAD_FORM",
            "BUSINESS_LOGO",
            "DESCRIPTION_PREFIX",
            "HEADLINE_AS_SITELINK_POSITION_ONE",
            "HEADLINE_AS_SITELINK_POSITION_TWO",
            "DESCRIPTION_LINE_HEADLINE_AS_SITELINK_POSITION_ONE",
            "DESCRIPTION_LINE_HEADLINE_AS_SITELINK_POSITION_TWO"
          ],
          "enumDescriptions": [
            "No value has been specified.",
            "The received value is not known in this version. This is a response-only value.",
            "The asset is used in headline 1.",
            "The asset is used in headline 2.",
            "The asset is used in headline 3.",
            "The asset is used in description 1.",
            "The asset is used in description 2.",
            "The asset was used in a headline. Use this only if there is only one headline in the ad. Otherwise, use the HEADLINE_1, HEADLINE_2 or HEADLINE_3 enums",
            "The asset was used as a headline in portrait image.",
            "The asset was used in a long headline (used in MultiAssetResponsiveAd).",
            "The asset was used in a description. Use this only if there is only one description in the ad. Otherwise, use the DESCRIPTION_1 or DESCRIPTION_@ enums",
            "The asset was used as description in portrait image.",
            "The asset was used as business name in portrait image.",
            "The asset was used as business name.",
            "The asset was used as a marketing image.",
            "The asset was used as a marketing image in portrait image.",
            "The asset was used as a square marketing image.",
            "The asset was used as a portrait marketing image.",
            "The asset was used as a logo.",
            "The asset was used as a landscape logo.",
            "The asset was used as a call-to-action.",
            "The asset was used as a YouTube video.",
            "This asset is used as a sitelink.",
            "This asset is used as a call.",
            "This asset is used as a mobile app.",
            "This asset is used as a callout.",
            "This asset is used as a structured snippet.",
            "This asset is used as a price.",
            "This asset is used as a promotion.",
            "This asset is used as an image.",
            "The asset is used as a lead form.",
            "The asset is used as a business logo.",
            "The asset is used as a description prefix.",
            "A headline asset used as a sitelink in position 1.",
            "A headline asset used as a sitelink in position 2.",
            "A description line asset used as a sitelink in position 1.",
            "A description line asset used as a sitelink in position 2."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleAdsSearchads360V0Common__AudienceInfo": {
      "description": "An audience criterion.",
      "id": "GoogleAdsSearchads360V0Common__AudienceInfo",
      "properties": {
        "audience": {
          "description": "The Audience resource name.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleAdsSearchads360V0Common__BusinessProfileLocation": {
      "description": "Business Profile location data synced from the linked Business Profile account.",
      "id": "GoogleAdsSearchads360V0Common__BusinessProfileLocation",
      "properties": {
        "labels": {
          "description": "Advertiser specified label for the location on the Business Profile account. This is synced from the Business Profile account.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "listingId": {
          "description": "Listing ID of this Business Profile location. This is synced from the linked Business Profile account.",
          "format": "int64",
          "type": "string"
        },
        "storeCode": {
          "description": "Business Profile store code of this location. This is synced from the Business Profile account.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleAdsSearchads360V0Common__CallToActionAsset": {
      "description": "A call to action asset.",
      "id": "GoogleAdsSearchads360V0Common__CallToActionAsset",
      "properties": {
        "callToAction": {
          "description": "Call to action.",
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "LEARN_MORE",
            "GET_QUOTE",
            "APPLY_NOW",
            "SIGN_UP",
            "CONTACT_US",
            "SUBSCRIBE",
            "DOWNLOAD",
            "BOOK_NOW",
            "SHOP_NOW",
            "BUY_NOW",
            "DONATE_NOW",
            "ORDER_NOW",
            "PLAY_NOW",
            "SEE_MORE",
            "START_NOW",
            "VISIT_SITE",
            "WATCH_NOW"
          ],
          "enumDescriptions": [
            "Not specified.",
            "Used for return value only. Represents value unknown in this version.",
            "The call to action type is learn more.",
            "The call to action type is get quote.",
            "The call to action type is apply now.",
            "The call to action type is sign up.",
            "The call to action type is contact us.",
            "The call to action type is subscribe.",
            "The call to action type is download.",
            "The call to action type is book now.",
            "The call to action type is shop now.",
            "The call to action type is buy now.",
            "The call to action type is donate now.",
            "The call to action type is order now.",
            "The call to action type is play now.",
            "The call to action type is see more.",
            "The call to action type is start now.",
            "The call to action type is visit site.",
            "The call to action type is watch now."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleAdsSearchads360V0Common__CustomParameter": {
      "description": "A mapping that can be used by custom parameter tags in a `tracking_url_template`, `final_urls`, or `mobile_final_urls`.",
      "id": "GoogleAdsSearchads360V0Common__CustomParameter",
      "properties": {
        "key": {
          "description": "The key matching the parameter tag name.",
          "type": "string"
        },
        "value": {
          "description": "The value to be substituted.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleAdsSearchads360V0Common__DeviceInfo": {
      "description": "A device criterion.",
      "id": "GoogleAdsSearchads360V0Common__DeviceInfo",
      "properties": {
        "type": {
          "description": "Type of the device.",
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "MOBILE",
            "TABLET",
            "DESKTOP",
            "CONNECTED_TV",
            "OTHER"
          ],
          "enumDescriptions": [
            "Not specified.",
            "The value is unknown in this version.",
            "Mobile devices with full browsers.",
            "Tablets with full browsers.",
            "Computers.",
            "Smart TVs and game consoles.",
            "Other device types."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleAdsSearchads360V0Common__EnhancedCpc": {
      "description": "An automated bidding strategy that raises bids for clicks that seem more likely to lead to a conversion and lowers them for clicks where they seem less likely. This bidding strategy is deprecated and cannot be created anymore. Use ManualCpc with enhanced_cpc_enabled set to true for equivalent functionality.",
      "id": "GoogleAdsSearchads360V0Common__EnhancedCpc",
      "properties": {},
      "type": "object"
    },
    "GoogleAdsSearchads360V0Common__FinalAppUrl": {
      "description": "A URL for deep linking into an app for the given operating system.",
      "id": "GoogleAdsSearchads360V0Common__FinalAppUrl",
      "properties": {
        "osType": {
          "description": "The operating system targeted by this URL. Required.",
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "IOS",
            "ANDROID"
          ],
          "enumDescriptions": [
            "Not specified.",
            "Used for return value only. Represents value unknown in this version.",
            "The Apple IOS operating system.",
            "The Android operating system."
          ],
          "type": "string"
        },
        "url": {
          "description": "The app deep link URL. Deep links specify a location in an app that corresponds to the content you'd like to show, and should be of the form {scheme}://{host_path} The scheme identifies which app to open. For your app, you can use a custom scheme that starts with the app's name. The host and path specify the unique location in the app where your content exists. Example: \"exampleapp://productid_1234\". Required.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleAdsSearchads360V0Common__FrequencyCapEntry": {
      "description": "A rule specifying the maximum number of times an ad (or some set of ads) can be shown to a user over a particular time period.",
      "id": "GoogleAdsSearchads360V0Common__FrequencyCapEntry",
      "properties": {},
      "type": "object"
    },
    "GoogleAdsSearchads360V0Common__GenderInfo": {
      "description": "A gender criterion.",
      "id": "GoogleAdsSearchads360V0Common__GenderInfo",
      "properties": {
        "type": {
          "description": "Type of the gender.",
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "MALE",
            "FEMALE",
            "UNDETERMINED"
          ],
          "enumDescriptions": [
            "Not specified.",
            "Used for return value only. Represents value unknown in this version.",
            "Male.",
            "Female.",
            "Undetermined gender."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleAdsSearchads360V0Common__ImageAsset": {
      "description": "An Image asset.",
      "id": "GoogleAdsSearchads360V0Common__ImageAsset",
      "properties": {
        "fileSize": {
          "description": "File size of the image asset in bytes.",
          "format": "int64",
          "type": "string"
        },
        "fullSize": {
          "$ref": "GoogleAdsSearchads360V0Common__ImageDimension",
          "description": "Metadata for this image at its original size."
        },
        "mimeType": {
          "description": "MIME type of the image asset.",
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "IMAGE_JPEG",
            "IMAGE_GIF",
            "IMAGE_PNG",
            "FLASH",
            "TEXT_HTML",
            "PDF",
            "MSWORD",
            "MSEXCEL",
            "RTF",
            "AUDIO_WAV",
            "AUDIO_MP3",
            "HTML5_AD_ZIP"
          ],
          "enumDescriptions": [
            "The mime type has not been specified.",
            "The received value is not known in this version. This is a response-only value.",
            "MIME type of image/jpeg.",
            "MIME type of image/gif.",
            "MIME type of image/png.",
            "MIME type of application/x-shockwave-flash.",
            "MIME type of text/html.",
            "MIME type of application/pdf.",
            "MIME type of application/msword.",
            "MIME type of application/vnd.ms-excel.",
            "MIME type of application/rtf.",
            "MIME type of audio/wav.",
            "MIME type of audio/mp3.",
            "MIME type of application/x-html5-ad-zip."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleAdsSearchads360V0Common__ImageDimension": {
      "description": "Metadata for an image at a certain size, either original or resized.",
      "id": "GoogleAdsSearchads360V0Common__ImageDimension",
      "properties": {
        "heightPixels": {
          "description": "Height of the image.",
          "format": "int64",
          "type": "string"
        },
        "url": {
          "description": "A URL that returns the image with this height and width.",
          "type": "string"
        },
        "widthPixels": {
          "description": "Width of the image.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleAdsSearchads360V0Common__Keyword": {
      "description": "A Keyword criterion segment.",
      "id": "GoogleAdsSearchads360V0Common__Keyword",
      "properties": {
        "adGroupCriterion": {
          "description": "The AdGroupCriterion resource name.",
          "type": "string"
        },
        "info": {
          "$ref": "GoogleAdsSearchads360V0Common__KeywordInfo",
          "description": "Keyword info."
        }
      },
      "type": "object"
    },
    "GoogleAdsSearchads360V0Common__KeywordInfo": {
      "description": "A keyword criterion.",
      "id": "GoogleAdsSearchads360V0Common__KeywordInfo",
      "properties": {
        "matchType": {
          "description": "The match type of the keyword.",
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "EXACT",
            "PHRASE",
            "BROAD"
          ],
          "enumDescriptions": [
            "Not specified.",
            "Used for return value only. Represents value unknown in this version.",
            "Exact match.",
            "Phrase match.",
            "Broad match."
          ],
          "type": "string"
        },
        "text": {
          "description": "The text of the keyword (at most 80 characters and 10 words).",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleAdsSearchads360V0Common__LanguageInfo": {
      "description": "A language criterion.",
      "id": "GoogleAdsSearchads360V0Common__LanguageInfo",
      "properties": {
        "languageConstant": {
          "description": "The language constant resource name.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleAdsSearchads360V0Common__ListingGroupInfo": {
      "description": "A listing group criterion.",
      "id": "GoogleAdsSearchads360V0Common__ListingGroupInfo",
      "properties": {
        "type": {
          "description": "Type of the listing group.",
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "SUBDIVISION",
            "UNIT"
          ],
          "enumDescriptions": [
            "Not specified.",
            "Used for return value only. Represents value unknown in this version.",
            "Subdivision of products along some listing dimension. These nodes are not used by serving to target listing entries, but is purely to define the structure of the tree.",
            "Listing group unit that defines a bid."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleAdsSearchads360V0Common__LocationGroupInfo": {
      "description": "A radius around a list of locations specified through a feed.",
      "id": "GoogleAdsSearchads360V0Common__LocationGroupInfo",
      "properties": {
        "feedItemSets": {
          "description": "FeedItemSets whose FeedItems are targeted. If multiple IDs are specified, then all items that appear in at least one set are targeted. This field cannot be used with geo_target_constants. This is optional and can only be set in CREATE operations.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "geoTargetConstants": {
          "description": "Geo target constant(s) restricting the scope of the geographic area within the feed. Currently only one geo target constant is allowed.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "radius": {
          "description": "Distance in units specifying the radius around targeted locations. This is required and must be set in CREATE operations.",
          "format": "int64",
          "type": "string"
        },
        "radiusUnits": {
          "description": "Unit of the radius. Miles and meters are supported for geo target constants. Milli miles and meters are supported for feed item sets. This is required and must be set in CREATE operations.",
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "METERS",
            "MILES",
            "MILLI_MILES"
          ],
          "enumDescriptions": [
            "Not specified.",
            "Used for return value only. Represents value unknown in this version.",
            "Meters",
            "Miles",
            "Milli Miles"
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleAdsSearchads360V0Common__LocationInfo": {
      "description": "A location criterion.",
      "id": "GoogleAdsSearchads360V0Common__LocationInfo",
      "properties": {
        "geoTargetConstant": {
          "description": "The geo target constant resource name.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleAdsSearchads360V0Common__ManualCpa": {
      "description": "Manual bidding strategy that allows advertiser to set the bid per advertiser-specified action.",
      "id": "GoogleAdsSearchads360V0Common__ManualCpa",
      "properties": {},
      "type": "object"
    },
    "GoogleAdsSearchads360V0Common__ManualCpc": {
      "description": "Manual click-based bidding where user pays per click.",
      "id": "GoogleAdsSearchads360V0Common__ManualCpc",
      "properties": {
        "enhancedCpcEnabled": {
          "description": "Whether bids are to be enhanced based on conversion optimizer data.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleAdsSearchads360V0Common__ManualCpm": {
      "description": "Manual impression-based bidding where user pays per thousand impressions.",
      "id": "GoogleAdsSearchads360V0Common__ManualCpm",
      "properties": {},
      "type": "object"
    },
    "GoogleAdsSearchads360V0Common__MaximizeConversionValue": {
      "description": "An automated bidding strategy to help get the most conversion value for your campaigns while spending your budget.",
      "id": "GoogleAdsSearchads360V0Common__MaximizeConversionValue",
      "properties": {
        "cpcBidCeilingMicros": {
          "description": "Maximum bid limit that can be set by the bid strategy. The limit applies to all keywords managed by the strategy. Mutable for portfolio bidding strategies only.",
          "format": "int64",
          "type": "string"
        },
        "cpcBidFloorMicros": {
          "description": "Minimum bid limit that can be set by the bid strategy. The limit applies to all keywords managed by the strategy. Mutable for portfolio bidding strategies only.",
          "format": "int64",
          "type": "string"
        },
        "targetRoas": {
          "description": "The target return on ad spend (ROAS) option. If set, the bid strategy will maximize revenue while averaging the target return on ad spend. If the target ROAS is high, the bid strategy may not be able to spend the full budget. If the target ROAS is not set, the bid strategy will aim to achieve the highest possible ROAS for the budget.",
          "format": "double",
          "type": "number"
        }
      },
      "type": "object"
    },
    "GoogleAdsSearchads360V0Common__MaximizeConversions": {
      "description": "An automated bidding strategy to help get the most conversions for your campaigns while spending your budget.",
      "id": "GoogleAdsSearchads360V0Common__MaximizeConversions",
      "properties": {
        "cpcBidCeilingMicros": {
          "description": "Maximum bid limit that can be set by the bid strategy. The limit applies to all keywords managed by the strategy. Mutable for portfolio bidding strategies only.",
          "format": "int64",
          "type": "string"
        },
        "cpcBidFloorMicros": {
          "description": "Minimum bid limit that can be set by the bid strategy. The limit applies to all keywords managed by the strategy. Mutable for portfolio bidding strategies only.",
          "format": "int64",
          "type": "string"
        },
        "targetCpaMicros": {
          "description": "The target cost-per-action (CPA) option. This is the average amount that you would like to spend per conversion action specified in micro units of the bidding strategy's currency. If set, the bid strategy will get as many conversions as possible at or below the target cost-per-action. If the target CPA is not set, the bid strategy will aim to achieve the lowest possible CPA given the budget.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleAdsSearchads360V0Common__Metrics": {
      "description": "Metrics data.",
      "id": "GoogleAdsSearchads360V0Common__Metrics",
      "properties": {
        "absoluteTopImpressionPercentage": {
          "description": "Search absolute top impression share is the percentage of your Search ad impressions that are shown in the most prominent Search position.",
          "format": "double",
          "type": "number"
        },
        "allConversions": {
          "description": "The total number of conversions. This includes all conversions regardless of the value of include_in_conversions_metric.",
          "format": "double",
          "type": "number"
        },
        "allConversionsByConversionDate": {
          "description": "The total number of conversions. This includes all conversions regardless of the value of include_in_conversions_metric. When this column is selected with date, the values in date column means the conversion date. Details for the `by_conversion_date` columns are available at [About the \"All conversions\" column](https://support.google.com/sa360/answer/9250611).",
          "format": "double",
          "type": "number"
        },
        "allConversionsFromClickToCall": {
          "description": "The number of times people clicked the \"Call\" button to call a business during or after clicking an ad. This number doesn't include whether or not calls were connected, or the duration of any calls. This metric applies to feed items only.",
          "format": "double",
          "type": "number"
        },
        "allConversionsFromDirections": {
          "description": "The number of times people clicked a \"Get directions\" button to navigate to a business after clicking an ad. This metric applies to feed items only.",
          "format": "double",
          "type": "number"
        },
        "allConversionsFromInteractionsRate": {
          "description": "All conversions from interactions (as oppose to view through conversions) divided by the number of ad interactions.",
          "format": "double",
          "type": "number"
        },
        "allConversionsFromInteractionsValuePerInteraction": {
          "description": "The value of all conversions from interactions divided by the total number of interactions.",
          "format": "double",
          "type": "number"
        },
        "allConversionsFromMenu": {
          "description": "The number of times people clicked a link to view a business's menu after clicking an ad. This metric applies to feed items only.",
          "format": "double",
          "type": "number"
        },
        "allConversionsFromOrder": {
          "description": "The number of times people placed an order at a business after clicking an ad. This metric applies to feed items only.",
          "format": "double",
          "type": "number"
        },
        "allConversionsFromOtherEngagement": {
          "description": "The number of other conversions (for example, posting a review or saving a location for a business) that occurred after people clicked an ad. This metric applies to feed items only.",
          "format": "double",
          "type": "number"
        },
        "allConversionsFromStoreVisit": {
          "description": "Estimated number of times people visited a business after clicking an ad. This metric applies to feed items only.",
          "format": "double",
          "type": "number"
        },
        "allConversionsFromStoreWebsite": {
          "description": "The number of times that people were taken to a business's URL after clicking an ad. This metric applies to feed items only.",
          "format": "double",
          "type": "number"
        },
        "allConversionsValue": {
          "description": "The value of all conversions.",
          "format": "double",
          "type": "number"
        },
        "allConversionsValueByConversionDate": {
          "description": "The value of all conversions. When this column is selected with date, the values in date column means the conversion date. Details for the `by_conversion_date` columns are available at [About the \"All conversions\" column](https://support.google.com/sa360/answer/9250611).",
          "format": "double",
          "type": "number"
        },
        "allConversionsValuePerCost": {
          "description": "The value of all conversions divided by the total cost of ad interactions (such as clicks for text ads or views for video ads).",
          "format": "double",
          "type": "number"
        },
        "averageCartSize": {
          "description": "Average cart size is the average number of products in each order attributed to your ads. How it works: You report conversions with cart data for completed purchases on your website. Average cart size is the total number of products sold divided by the total number of orders you received. Example: You received 2 orders, the first included 3 products and the second included 2. The average cart size is 2.5 products = (3+2)/2. This metric is only available if you report conversions with cart data.",
          "format": "double",
          "type": "number"
        },
        "averageCost": {
          "description": "The average amount you pay per interaction. This amount is the total cost of your ads divided by the total number of interactions.",
          "format": "double",
          "type": "number"
        },
        "averageCpc": {
          "description": "The total cost of all clicks divided by the total number of clicks received. This metric is a monetary value and returned in the customer's currency by default. See the `metrics_currency` parameter at [PARAMETERS clause](https://developers.google.com/search-ads/reporting/query/query-structure#parameters_clause).",
          "format": "double",
          "type": "number"
        },
        "averageCpm": {
          "description": "Average cost-per-thousand impressions (CPM). This metric is a monetary value and returned in the customer's currency by default. See the `metrics_currency` parameter at [PARAMETERS clause](https://developers.google.com/search-ads/reporting/query/query-structure#parameters_clause).",
          "format": "double",
          "type": "number"
        },
        "averageImpressionFrequencyPerUser": {
          "description": "The average number of times a unique user saw your ad during the requested time period. This metric cannot be aggregated, and can only be requested for date ranges of 92 days or less. This metric is available for following campaign types - Display, Video, Discovery and App.",
          "format": "double",
          "type": "number"
        },
        "averageOrderValueMicros": {
          "description": "Average order value is the average revenue you made per order attributed to your ads. How it works: You report conversions with cart data for completed purchases on your website. Average order value is the total revenue from your orders divided by the total number of orders. Example: You received 3 orders which made $10, $15 and $20 worth of revenue. The average order value is $15 = ($10 + $15 + $20)/3. This metric is only available if you report conversions with cart data.",
          "format": "int64",
          "type": "string"
        },
        "averageQualityScore": {
          "description": "The average quality score.",
          "format": "double",
          "type": "number"
        },
        "clicks": {
          "description": "The number of clicks.",
          "format": "int64",
          "type": "string"
        },
        "clientAccountConversions": {
          "description": "The number of client account conversions. This only includes conversion actions which `include_in_client_account_conversions_metric` attribute is set to `true`. If you use conversion-based bidding, your bid strategies will optimize for these conversions.",
          "format": "double",
          "type": "number"
        },
        "clientAccountConversionsValue": {
          "description": "The value of client account conversions. This only includes conversion actions which `include_in_client_account_conversions_metric` attribute is set to `true`. If you use conversion-based bidding, your bid strategies will optimize for these conversions.",
          "format": "double",
          "type": "number"
        },
        "clientAccountCrossSellCostOfGoodsSoldMicros": {
          "description": "Client account cross-sell cost of goods sold (COGS) is the total cost of products sold as a result of advertising a different product. How it works: You report conversions with cart data for completed purchases on your website. If the ad that was interacted with before the purchase has an associated product (see Shopping Ads) then this product is considered the advertised product. Any product included in the order the customer places is a sold product. If these products don't match then this is considered cross-sell. Cross-sell cost of goods sold is the total cost of the products sold that weren't advertised. Example: Someone clicked on a Shopping ad for a hat then bought the same hat and a shirt. The hat has a cost of goods sold value of $3, the shirt has a cost of goods sold value of $5. The cross-sell cost of goods sold for this order is $5. This metric is only available if you report conversions with cart data. This metric is a monetary value and returned in the customer's currency by default. See the `metrics_currency` parameter at [PARAMETERS clause](https://developers.google.com/search-ads/reporting/query/query-structure#parameters_clause).",
          "format": "int64",
          "type": "string"
        },
        "clientAccountCrossSellGrossProfitMicros": {
          "description": "Client account cross-sell gross profit is the profit you made from products sold as a result of advertising a different product, minus cost of goods sold (COGS). How it works: You report conversions with cart data for completed purchases on your website. If the ad that was interacted with before the purchase has an associated product (see Shopping Ads) then this product is considered the advertised product. Any product included in the purchase is a sold product. If these products don't match then this is considered cross-sell. Cross-sell gross profit is the revenue you made from cross-sell attributed to your ads minus the cost of the goods sold. Example: Someone clicked on a Shopping ad for a hat then bought the same hat and a shirt. The shirt is priced $20 and has a cost of goods sold value of $5. The cross-sell gross profit of this order is $15 = $20 - $5. This metric is only available if you report conversions with cart data. This metric is a monetary value and returned in the customer's currency by default. See the `metrics_currency` parameter at [PARAMETERS clause](https://developers.google.com/search-ads/reporting/query/query-structure#parameters_clause).",
          "format": "int64",
          "type": "string"
        },
        "clientAccountCrossSellRevenueMicros": {
          "description": "Client account cross-sell revenue is the total amount you made from products sold as a result of advertising a different product. How it works: You report conversions with cart data for completed purchases on your website. If the ad that was interacted with before the purchase has an associated product (see Shopping Ads) then this product is considered the advertised product. Any product included in the order the customer places is a sold product. If these products don't match then this is considered cross-sell. Cross-sell revenue is the total value you made from cross-sell attributed to your ads. Example: Someone clicked on a Shopping ad for a hat then bought the same hat and a shirt. The hat is priced $10 and the shirt is priced $20. The cross-sell revenue of this order is $20. This metric is only available if you report conversions with cart data. This metric is a monetary value and returned in the customer's currency by default. See the `metrics_currency` parameter at [PARAMETERS clause](https://developers.google.com/search-ads/reporting/query/query-structure#parameters_clause).",
          "format": "int64",
          "type": "string"
        },
        "clientAccountCrossSellUnitsSold": {
          "description": "Client account cross-sell units sold is the total number of products sold as a result of advertising a different product. How it works: You report conversions with cart data for completed purchases on your website. If the ad that was interacted with before the purchase has an associated product (see Shopping Ads) then this product is considered the advertised product. Any product included in the order the customer places is a sold product. If these products don't match then this is considered cross-sell. Cross-sell units sold is the total number of cross-sold products from all orders attributed to your ads. Example: Someone clicked on a Shopping ad for a hat then bought the same hat, a shirt and a jacket. The cross-sell units sold in this order is 2. This metric is only available if you report conversions with cart data.",
          "format": "double",
          "type": "number"
        },
        "clientAccountLeadCostOfGoodsSoldMicros": {
          "description": "Client account lead cost of goods sold (COGS) is the total cost of products sold as a result of advertising the same product. How it works: You report conversions with cart data for completed purchases on your website. If the ad that was interacted with has an associated product (see Shopping Ads) then this product is considered the advertised product. Any product included in the order the customer places is a sold product. If the advertised and sold products match, then the cost of these goods is counted under lead cost of goods sold. Example: Someone clicked on a Shopping ad for a hat then bought the same hat and a shirt. The hat has a cost of goods sold value of $3, the shirt has a cost of goods sold value of $5. The lead cost of goods sold for this order is $3. This metric is only available if you report conversions with cart data. This metric is a monetary value and returned in the customer's currency by default. See the `metrics_currency` parameter at [PARAMETERS clause](https://developers.google.com/search-ads/reporting/query/query-structure#parameters_clause).",
          "format": "int64",
          "type": "string"
        },
        "clientAccountLeadGrossProfitMicros": {
          "description": "Client account lead gross profit is the profit you made from products sold as a result of advertising the same product, minus cost of goods sold (COGS). How it works: You report conversions with cart data for completed purchases on your website. If the ad that was interacted with before the purchase has an associated product (see Shopping Ads) then this product is considered the advertised product. Any product included in the order the customer places is a sold product. If the advertised and sold products match, then the revenue you made from these sales minus the cost of goods sold is your lead gross profit. Example: Someone clicked on a Shopping ad for a hat then bought the same hat and a shirt. The hat is priced $10 and has a cost of goods sold value of $3. The lead gross profit of this order is $7 = $10 - $3. This metric is only available if you report conversions with cart data. This metric is a monetary value and returned in the customer's currency by default. See the `metrics_currency` parameter at [PARAMETERS clause](https://developers.google.com/search-ads/reporting/query/query-structure#parameters_clause).",
          "format": "int64",
          "type": "string"
        },
        "clientAccountLeadRevenueMicros": {
          "description": "Client account lead revenue is the total amount you made from products sold as a result of advertising the same product. How it works: You report conversions with cart data for completed purchases on your website. If the ad that was interacted with before the purchase has an associated product (see Shopping Ads) then this product is considered the advertised product. Any product included in the order the customer places is a sold product. If the advertised and sold products match, then the total value you made from the sales of these products is shown under lead revenue. Example: Someone clicked on a Shopping ad for a hat then bought the same hat and a shirt. The hat is priced $10 and the shirt is priced $20. The lead revenue of this order is $10. This metric is only available if you report conversions with cart data. This metric is a monetary value and returned in the customer's currency by default. See the `metrics_currency` parameter at [PARAMETERS clause](https://developers.google.com/search-ads/reporting/query/query-structure#parameters_clause).",
          "format": "int64",
          "type": "string"
        },
        "clientAccountLeadUnitsSold": {
          "description": "Client account lead units sold is the total number of products sold as a result of advertising the same product. How it works: You report conversions with cart data for completed purchases on your website. If the ad that was interacted with before the purchase has an associated product (see Shopping Ads) then this product is considered the advertised product. Any product included in the order the customer places is a sold product. If the advertised and sold products match, then the total number of these products sold is shown under lead units sold. Example: Someone clicked on a Shopping ad for a hat then bought the same hat, a shirt and a jacket. The lead units sold in this order is 1. This metric is only available if you report conversions with cart data.",
          "format": "double",
          "type": "number"
        },
        "clientAccountViewThroughConversions": {
          "description": "The total number of view-through conversions. These happen when a customer sees an image or rich media ad, then later completes a conversion on your site without interacting with (for example, clicking on) another ad.",
          "format": "int64",
          "type": "string"
        },
        "contentBudgetLostImpressionShare": {
          "description": "The estimated percent of times that your ad was eligible to show on the Display Network but didn't because your budget was too low. Note: Content budget lost impression share is reported in the range of 0 to 0.9. Any value above 0.9 is reported as 0.9001.",
          "format": "double",
          "type": "number"
        },
        "contentImpressionShare": {
          "description": "The impressions you've received on the Display Network divided by the estimated number of impressions you were eligible to receive. Note: Content impression share is reported in the range of 0.1 to 1. Any value below 0.1 is reported as 0.0999.",
          "format": "double",
          "type": "number"
        },
        "contentRankLostImpressionShare": {
          "description": "The estimated percentage of impressions on the Display Network that your ads didn't receive due to poor Ad Rank. Note: Content rank lost impression share is reported in the range of 0 to 0.9. Any value above 0.9 is reported as 0.9001.",
          "format": "double",
          "type": "number"
        },
        "conversionCustomMetrics": {
          "description": "The conversion custom metrics.",
          "items": {
            "$ref": "GoogleAdsSearchads360V0Common__Value"
          },
          "type": "array"
        },
        "conversions": {
          "description": "The number of conversions. This only includes conversion actions which include_in_conversions_metric attribute is set to true. If you use conversion-based bidding, your bid strategies will optimize for these conversions.",
          "format": "double",
          "type": "number"
        },
        "conversionsByConversionDate": {
          "description": "The sum of conversions by conversion date for biddable conversion types. Can be fractional due to attribution modeling. When this column is selected with date, the values in the date column mean the conversion date.",
          "format": "double",
          "type": "number"
        },
        "conversionsFromInteractionsRate": {
          "description": "Average biddable conversions (from interaction) per conversion eligible interaction. Shows how often, on average, an ad interaction leads to a biddable conversion.",
          "format": "double",
          "type": "number"
        },
        "conversionsFromInteractionsValuePerInteraction": {
          "description": "The value of conversions from interactions divided by the number of ad interactions. This only includes conversion actions which `include_in_conversions_metric` attribute is set to `true`. If you use conversion-based bidding, your bid strategies will optimize for these conversions.",
          "format": "double",
          "type": "number"
        },
        "conversionsValue": {
          "description": "The sum of conversion values for the conversions included in the \"conversions\" field. This metric is useful only if you entered a value for your conversion actions.",
          "format": "double",
          "type": "number"
        },
        "conversionsValueByConversionDate": {
          "description": "The sum of biddable conversions value by conversion date. When this column is selected with date, the values in date column means the conversion date.",
          "format": "double",
          "type": "number"
        },
        "conversionsValuePerCost": {
          "description": "The value of biddable conversion divided by the total cost of conversion eligible interactions.",
          "format": "double",
          "type": "number"
        },
        "costMicros": {
          "description": "The sum of your cost-per-click (CPC) and cost-per-thousand impressions (CPM) costs during this period. This metric is a monetary value and returned in the customer's currency by default. See the `metrics_currency` parameter at [PARAMETERS clause](https://developers.google.com/search-ads/reporting/query/query-structure#parameters_clause) for more details.",
          "format": "int64",
          "type": "string"
        },
        "costOfGoodsSoldMicros": {
          "description": "Cost of goods sold (COGS) is the total cost of the products you sold in orders attributed to your ads. How it works: You can add a cost of goods sold value to every product in Merchant Center. If you report conversions with cart data, the products you sold are matched with their cost of goods sold value and this can be used to calculate the gross profit you made on each order. Example: Someone clicked on a Shopping ad for a hat then bought the same hat and a shirt. The hat has a cost of goods sold value of $3, the shirt has a cost of goods sold value of $5. The cost of goods sold for this order is $8 = $3 + $5. This metric is only available if you report conversions with cart data.",
          "format": "int64",
          "type": "string"
        },
        "costPerAllConversions": {
          "description": "The cost of ad interactions divided by all conversions.",
          "format": "double",
          "type": "number"
        },
        "costPerConversion": {
          "description": "Average conversion eligible cost per biddable conversion.",
          "format": "double",
          "type": "number"
        },
        "costPerCurrentModelAttributedConversion": {
          "description": "The cost of ad interactions divided by current model attributed conversions. This only includes conversion actions which `include_in_conversions_metric` attribute is set to `true`. If you use conversion-based bidding, your bid strategies will optimize for these conversions.",
          "format": "double",
          "type": "number"
        },
        "crossDeviceConversions": {
          "description": "Conversions from when a customer clicks on an ad on one device, then converts on a different device or browser. Cross-device conversions are already included in `all_conversions`.",
          "format": "double",
          "type": "number"
        },
        "crossDeviceConversionsByConversionDate": {
          "description": "The number of cross-device conversions by conversion date. Details for the `by_conversion_date` columns are available at [About the \"All conversions\" column](https://support.google.com/sa360/answer/9250611)",
          "format": "double",
          "type": "number"
        },
        "crossDeviceConversionsValue": {
          "description": "The sum of the value of cross-device conversions.",
          "format": "double",
          "type": "number"
        },
        "crossDeviceConversionsValueByConversionDate": {
          "description": "The sum of cross-device conversions value by conversion date. Details for the `by_conversion_date` columns are available at [About the \"All conversions\" column](https://support.google.com/sa360/answer/9250611)",
          "format": "double",
          "type": "number"
        },
        "crossSellCostOfGoodsSoldMicros": {
          "description": "Cross-sell cost of goods sold (COGS) is the total cost of products sold as a result of advertising a different product. How it works: You report conversions with cart data for completed purchases on your website. If the ad that was interacted with before the purchase has an associated product (see Shopping Ads) then this product is considered the advertised product. Any product included in the order the customer places is a sold product. If these products don't match then this is considered cross-sell. Cross-sell cost of goods sold is the total cost of the products sold that weren't advertised. Example: Someone clicked on a Shopping ad for a hat then bought the same hat and a shirt. The hat has a cost of goods sold value of $3, the shirt has a cost of goods sold value of $5. The cross-sell cost of goods sold for this order is $5. This metric is only available if you report conversions with cart data. This metric is a monetary value and returned in the customer's currency by default. See the `metrics_currency` parameter at [PARAMETERS clause](https://developers.google.com/search-ads/reporting/query/query-structure#parameters_clause).",
          "format": "int64",
          "type": "string"
        },
        "crossSellGrossProfitMicros": {
          "description": "Cross-sell gross profit is the profit you made from products sold as a result of advertising a different product, minus cost of goods sold (COGS). How it works: You report conversions with cart data for completed purchases on your website. If the ad that was interacted with before the purchase has an associated product (see Shopping Ads) then this product is considered the advertised product. Any product included in the purchase is a sold product. If these products don't match then this is considered cross-sell. Cross-sell gross profit is the revenue you made from cross-sell attributed to your ads minus the cost of the goods sold. Example: Someone clicked on a Shopping ad for a hat then bought the same hat and a shirt. The shirt is priced $20 and has a cost of goods sold value of $5. The cross-sell gross profit of this order is $15 = $20 - $5. This metric is only available if you report conversions with cart data. This metric is a monetary value and returned in the customer's currency by default. See the `metrics_currency` parameter at [PARAMETERS clause](https://developers.google.com/search-ads/reporting/query/query-structure#parameters_clause).",
          "format": "int64",
          "type": "string"
        },
        "crossSellRevenueMicros": {
          "description": "Cross-sell revenue is the total amount you made from products sold as a result of advertising a different product. How it works: You report conversions with cart data for completed purchases on your website. If the ad that was interacted with before the purchase has an associated product (see Shopping Ads) then this product is considered the advertised product. Any product included in the order the customer places is a sold product. If these products don't match then this is considered cross-sell. Cross-sell revenue is the total value you made from cross-sell attributed to your ads. Example: Someone clicked on a Shopping ad for a hat then bought the same hat and a shirt. The hat is priced $10 and the shirt is priced $20. The cross-sell revenue of this order is $20. This metric is only available if you report conversions with cart data. This metric is a monetary value and returned in the customer's currency by default. See the `metrics_currency` parameter at [PARAMETERS clause](https://developers.google.com/search-ads/reporting/query/query-structure#parameters_clause).",
          "format": "int64",
          "type": "string"
        },
        "crossSellUnitsSold": {
          "description": "Cross-sell units sold is the total number of products sold as a result of advertising a different product. How it works: You report conversions with cart data for completed purchases on your website. If the ad that was interacted with before the purchase has an associated product (see Shopping Ads) then this product is considered the advertised product. Any product included in the order the customer places is a sold product. If these products don't match then this is considered cross-sell. Cross-sell units sold is the total number of cross-sold products from all orders attributed to your ads. Example: Someone clicked on a Shopping ad for a hat then bought the same hat, a shirt and a jacket. The cross-sell units sold in this order is 2. This metric is only available if you report conversions with cart data.",
          "format": "double",
          "type": "number"
        },
        "ctr": {
          "description": "The number of clicks your ad receives (Clicks) divided by the number of times your ad is shown (Impressions).",
          "format": "double",
          "type": "number"
        },
        "generalInvalidClickRate": {
          "description": "The percentage of clicks that have been filtered out of your total number of clicks (filtered + non-filtered clicks) due to being general invalid clicks. These are clicks Google considers illegitimate that are detected through routine means of filtration (that is, known invalid data-center traffic, bots and spiders or other crawlers, irregular patterns, etc). You're not charged for them, and they don't affect your account statistics. See [Filtering invalid traffic to ensure quality](https://support.google.com/campaignmanager/answer/6076504).",
          "format": "double",
          "type": "number"
        },
        "generalInvalidClicks": {
          "description": "Number of general invalid clicks. These are a subset of your invalid clicks that are detected through routine means of filtration (such as known invalid data-center traffic, bots and spiders or other crawlers, irregular patterns, etc.). You're not charged for them, and they don't affect your account statistics. See [Filtering invalid traffic to ensure quality](https://support.google.com/campaignmanager/answer/6076504).",
          "format": "int64",
          "type": "string"
        },
        "grossProfitMargin": {
          "description": "Gross profit margin is the percentage gross profit you made from orders attributed to your ads, after taking out the cost of goods sold (COGS). How it works: You report conversions with cart data for completed purchases on your website. Gross profit margin is the gross profit you made divided by your total revenue and multiplied by 100%. Gross profit margin calculations only include products that have a cost of goods sold value in Merchant Center. Example: Someone bought a hat and a shirt in an order on your website. The hat is priced $10 and has a cost of goods sold value of $3. The shirt is priced $20 but has no cost of goods sold value. Gross profit margin for this order will only take into account the hat because it has a cost of goods sold value, so it's 70% = ($10 - $3)/$10 x 100%. This metric is only available if you report conversions with cart data.",
          "format": "double",
          "type": "number"
        },
        "grossProfitMicros": {
          "description": "Gross profit is the profit you made from orders attributed to your ads minus the cost of goods sold (COGS). How it works: Gross profit is the revenue you made from sales attributed to your ads minus cost of goods sold. Gross profit calculations only include products that have a cost of goods sold value in Merchant Center. Example: Someone clicked on a Shopping ad for a hat then bought the same hat and a shirt in an order from your website. The hat is priced $10 and the shirt is priced $20. The hat has a cost of goods sold value of $3, but the shirt has no cost of goods sold value. Gross profit for this order will only take into account the hat, so it's $7 = $10 - $3. This metric is only available if you report conversions with cart data.",
          "format": "int64",
          "type": "string"
        },
        "historicalCreativeQualityScore": {
          "description": "The creative historical quality score.",
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "BELOW_AVERAGE",
            "AVERAGE",
            "ABOVE_AVERAGE"
          ],
          "enumDescriptions": [
            "Not specified.",
            "Used for return value only. Represents value unknown in this version.",
            "Quality of the creative is below average.",
            "Quality of the creative is average.",
            "Quality of the creative is above average."
          ],
          "type": "string"
        },
        "historicalLandingPageQualityScore": {
          "description": "The quality of historical landing page experience.",
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "BELOW_AVERAGE",
            "AVERAGE",
            "ABOVE_AVERAGE"
          ],
          "enumDescriptions": [
            "Not specified.",
            "Used for return value only. Represents value unknown in this version.",
            "Quality of the creative is below average.",
            "Quality of the creative is average.",
            "Quality of the creative is above average."
          ],
          "type": "string"
        },
        "historicalQualityScore": {
          "description": "The historical quality score.",
          "format": "int64",
          "type": "string"
        },
        "historicalSearchPredictedCtr": {
          "description": "The historical search predicted click through rate (CTR).",
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "BELOW_AVERAGE",
            "AVERAGE",
            "ABOVE_AVERAGE"
          ],
          "enumDescriptions": [
            "Not specified.",
            "Used for return value only. Represents value unknown in this version.",
            "Quality of the creative is below average.",
            "Quality of the creative is average.",
            "Quality of the creative is above average."
          ],
          "type": "string"
        },
        "impressions": {
          "description": "Count of how often your ad has appeared on a search results page or website on the Google Network.",
          "format": "int64",
          "type": "string"
        },
        "interactionEventTypes": {
          "description": "The types of payable and free interactions.",
          "items": {
            "enum": [
              "UNSPECIFIED",
              "UNKNOWN",
              "CLICK",
              "ENGAGEMENT",
              "VIDEO_VIEW",
              "NONE"
            ],
            "enumDescriptions": [
              "Not specified.",
              "Used for return value only. Represents value unknown in this version.",
              "Click to site. In most cases, this interaction navigates to an external location, usually the advertiser's landing page. This is also the default InteractionEventType for click events.",
              "The user's expressed intent to engage with the ad in-place.",
              "User viewed a video ad.",
              "The default InteractionEventType for ad conversion events. This is used when an ad conversion row does NOT indicate that the free interactions (for example, the ad conversions) should be 'promoted' and reported as part of the core metrics. These are simply other (ad) conversions."
            ],
            "type": "string"
          },
          "type": "array"
        },
        "interactionRate": {
          "description": "How often people interact with your ad after it is shown to them. This is the number of interactions divided by the number of times your ad is shown.",
          "format": "double",
          "type": "number"
        },
        "interactions": {
          "description": "The number of interactions. An interaction is the main user action associated with an ad format-clicks for text and shopping ads, views for video ads, and so on.",
          "format": "int64",
          "type": "string"
        },
        "invalidClickRate": {
          "description": "The percentage of clicks filtered out of your total number of clicks (filtered + non-filtered clicks) during the reporting period.",
          "format": "double",
          "type": "number"
        },
        "invalidClicks": {
          "description": "Number of clicks Google considers illegitimate and doesn't charge you for.",
          "format": "int64",
          "type": "string"
        },
        "leadCostOfGoodsSoldMicros": {
          "description": "Lead cost of goods sold (COGS) is the total cost of products sold as a result of advertising the same product. How it works: You report conversions with cart data for completed purchases on your website. If the ad that was interacted with has an associated product (see Shopping Ads) then this product is considered the advertised product. Any product included in the order the customer places is a sold product. If the advertised and sold products match, then the cost of these goods is counted under lead cost of goods sold. Example: Someone clicked on a Shopping ad for a hat then bought the same hat and a shirt. The hat has a cost of goods sold value of $3, the shirt has a cost of goods sold value of $5. The lead cost of goods sold for this order is $3. This metric is only available if you report conversions with cart data. This metric is a monetary value and returned in the customer's currency by default. See the `metrics_currency` parameter at [PARAMETERS clause](https://developers.google.com/search-ads/reporting/query/query-structure#parameters_clause).",
          "format": "int64",
          "type": "string"
        },
        "leadGrossProfitMicros": {
          "description": "Lead gross profit is the profit you made from products sold as a result of advertising the same product, minus cost of goods sold (COGS). How it works: You report conversions with cart data for completed purchases on your website. If the ad that was interacted with before the purchase has an associated product (see Shopping Ads) then this product is considered the advertised product. Any product included in the order the customer places is a sold product. If the advertised and sold products match, then the revenue you made from these sales minus the cost of goods sold is your lead gross profit. Example: Someone clicked on a Shopping ad for a hat then bought the same hat and a shirt. The hat is priced $10 and has a cost of goods sold value of $3. The lead gross profit of this order is $7 = $10 - $3. This metric is only available if you report conversions with cart data. This metric is a monetary value and returned in the customer's currency by default. See the `metrics_currency` parameter at [PARAMETERS clause](https://developers.google.com/search-ads/reporting/query/query-structure#parameters_clause).",
          "format": "int64",
          "type": "string"
        },
        "leadRevenueMicros": {
          "description": "Lead revenue is the total amount you made from products sold as a result of advertising the same product. How it works: You report conversions with cart data for completed purchases on your website. If the ad that was interacted with before the purchase has an associated product (see Shopping Ads) then this product is considered the advertised product. Any product included in the order the customer places is a sold product. If the advertised and sold products match, then the total value you made from the sales of these products is shown under lead revenue. Example: Someone clicked on a Shopping ad for a hat then bought the same hat and a shirt. The hat is priced $10 and the shirt is priced $20. The lead revenue of this order is $10. This metric is only available if you report conversions with cart data. This metric is a monetary value and returned in the customer's currency by default. See the `metrics_currency` parameter at [PARAMETERS clause](https://developers.google.com/search-ads/reporting/query/query-structure#parameters_clause).",
          "format": "int64",
          "type": "string"
        },
        "leadUnitsSold": {
          "description": "Lead units sold is the total number of products sold as a result of advertising the same product. How it works: You report conversions with cart data for completed purchases on your website. If the ad that was interacted with before the purchase has an associated product (see Shopping Ads) then this product is considered the advertised product. Any product included in the order the customer places is a sold product. If the advertised and sold products match, then the total number of these products sold is shown under lead units sold. Example: Someone clicked on a Shopping ad for a hat then bought the same hat, a shirt and a jacket. The lead units sold in this order is 1. This metric is only available if you report conversions with cart data.",
          "format": "double",
          "type": "number"
        },
        "mobileFriendlyClicksPercentage": {
          "description": "The percentage of mobile clicks that go to a mobile-friendly page.",
          "format": "double",
          "type": "number"
        },
        "orders": {
          "description": "Orders is the total number of purchase conversions you received attributed to your ads. How it works: You report conversions with cart data for completed purchases on your website. If a conversion is attributed to previous interactions with your ads (clicks for text or Shopping ads, views for video ads etc.) it's counted as an order. Example: Someone clicked on a Shopping ad for a hat then bought the same hat and a shirt in an order on your website. Even though they bought 2 products, this would count as 1 order. This metric is only available if you report conversions with cart data.",
          "format": "double",
          "type": "number"
        },
        "rawEventConversionMetrics": {
          "description": "The raw event conversion metrics.",
          "items": {
            "$ref": "GoogleAdsSearchads360V0Common__Value"
          },
          "type": "array"
        },
        "revenueMicros": {
          "description": "Revenue is the total amount you made from orders attributed to your ads. How it works: You report conversions with cart data for completed purchases on your website. Revenue is the total value of all the orders you received attributed to your ads, minus any discount. Example: Someone clicked on a Shopping ad for a hat then bought the same hat and a shirt in an order from your website. The hat is priced $10 and the shirt is priced $20. The entire order has a $5 discount. The revenue from this order is $25 = ($10 + $20) - $5. This metric is only available if you report conversions with cart data.",
          "format": "int64",
          "type": "string"
        },
        "searchAbsoluteTopImpressionShare": {
          "description": "The percentage of the customer's Shopping or Search ad impressions that are shown in the most prominent Shopping position. See [About top and absolute top metrics](https://support.google.com/sa360/answer/9566729) for details. Any value below 0.1 is reported as 0.0999.",
          "format": "double",
          "type": "number"
        },
        "searchBudgetLostAbsoluteTopImpressionShare": {
          "description": "The number estimating how often your ad wasn't the very first ad among the top ads in the search results due to a low budget. Note: Search budget lost absolute top impression share is reported in the range of 0 to 0.9. Any value above 0.9 is reported as 0.9001.",
          "format": "double",
          "type": "number"
        },
        "searchBudgetLostImpressionShare": {
          "description": "The estimated percent of times that your ad was eligible to show on the Search Network but didn't because your budget was too low. Note: Search budget lost impression share is reported in the range of 0 to 0.9. Any value above 0.9 is reported as 0.9001.",
          "format": "double",
          "type": "number"
        },
        "searchBudgetLostTopImpressionShare": {
          "description": "The estimated percent of times that your ad didn't show adjacent to the top organic search results due to a low budget. Note: Search budget lost top impression share is reported in the range of 0 to 0.9. Any value above 0.9 is reported as 0.9001.",
          "format": "double",
          "type": "number"
        },
        "searchClickShare": {
          "description": "The number of clicks you've received on the Search Network divided by the estimated number of clicks you were eligible to receive. Note: Search click share is reported in the range of 0.1 to 1. Any value below 0.1 is reported as 0.0999.",
          "format": "double",
          "type": "number"
        },
        "searchExactMatchImpressionShare": {
          "description": "The impressions you've received divided by the estimated number of impressions you were eligible to receive on the Search Network for search terms that matched your keywords exactly (or were close variants of your keyword), regardless of your keyword match types. Note: Search exact match impression share is reported in the range of 0.1 to 1. Any value below 0.1 is reported as 0.0999.",
          "format": "double",
          "type": "number"
        },
        "searchImpressionShare": {
          "description": "The impressions you've received on the Search Network divided by the estimated number of impressions you were eligible to receive. Note: Search impression share is reported in the range of 0.1 to 1. Any value below 0.1 is reported as 0.0999.",
          "format": "double",
          "type": "number"
        },
        "searchRankLostAbsoluteTopImpressionShare": {
          "description": "The number estimating how often your ad wasn't the very first ad among the top ads in the search results due to poor Ad Rank. Note: Search rank lost absolute top impression share is reported in the range of 0 to 0.9. Any value above 0.9 is reported as 0.9001.",
          "format": "double",
          "type": "number"
        },
        "searchRankLostImpressionShare": {
          "description": "The estimated percentage of impressions on the Search Network that your ads didn't receive due to poor Ad Rank. Note: Search rank lost impression share is reported in the range of 0 to 0.9. Any value above 0.9 is reported as 0.9001.",
          "format": "double",
          "type": "number"
        },
        "searchRankLostTopImpressionShare": {
          "description": "The number estimating how often your ad didn't show adjacent to the top organic search results due to poor Ad Rank. Note: Search rank lost top impression share is reported in the range of 0 to 0.9. Any value above 0.9 is reported as 0.9001.",
          "format": "double",
          "type": "number"
        },
        "searchTopImpressionShare": {
          "description": "The impressions you've received among the top ads compared to the estimated number of impressions you were eligible to receive among the top ads. Note: Search top impression share is reported in the range of 0.1 to 1. Any value below 0.1 is reported as 0.0999. Top ads are generally above the top organic results, although they may show below the top organic results on certain queries.",
          "format": "double",
          "type": "number"
        },
        "topImpressionPercentage": {
          "description": "The percent of your ad impressions that are shown adjacent to the top organic search results.",
          "format": "double",
          "type": "number"
        },
        "uniqueUsers": {
          "description": "The number of unique users who saw your ad during the requested time period. This metric cannot be aggregated, and can only be requested for date ranges of 92 days or less. This metric is available for following campaign types - Display, Video, Discovery and App.",
          "format": "int64",
          "type": "string"
        },
        "unitsSold": {
          "description": "Units sold is the total number of products sold from orders attributed to your ads. How it works: You report conversions with cart data for completed purchases on your website. Units sold is the total number of products sold from all orders attributed to your ads. Example: Someone clicked on a Shopping ad for a hat then bought the same hat, a shirt and a jacket. The units sold in this order is 3. This metric is only available if you report conversions with cart data.",
          "format": "double",
          "type": "number"
        },
        "valuePerAllConversions": {
          "description": "The value of all conversions divided by the number of all conversions.",
          "format": "double",
          "type": "number"
        },
        "valuePerAllConversionsByConversionDate": {
          "description": "The value of all conversions divided by the number of all conversions. When this column is selected with date, the values in date column means the conversion date. Details for the `by_conversion_date` columns are available at [About the \"All conversions\" column](https://support.google.com/sa360/answer/9250611).",
          "format": "double",
          "type": "number"
        },
        "valuePerConversion": {
          "description": "The value of biddable conversion divided by the number of biddable conversions. Shows how much, on average, each of the biddable conversions is worth.",
          "format": "double",
          "type": "number"
        },
        "valuePerConversionsByConversionDate": {
          "description": "Biddable conversions value by conversion date divided by biddable conversions by conversion date. Shows how much, on average, each of the biddable conversions is worth (by conversion date). When this column is selected with date, the values in date column means the conversion date.",
          "format": "double",
          "type": "number"
        },
        "visits": {
          "description": "Clicks that Search Ads 360 has successfully recorded and forwarded to an advertiser's landing page.",
          "format": "double",
          "type": "number"
        }
      },
      "type": "object"
    },
    "GoogleAdsSearchads360V0Common__MobileAppAsset": {
      "description": "An asset representing a mobile app.",
      "id": "GoogleAdsSearchads360V0Common__MobileAppAsset",
      "properties": {
        "appId": {
          "description": "Required. A string that uniquely identifies a mobile application. It should just contain the platform native id, like \"com.android.ebay\" for Android or \"12345689\" for iOS.",
          "type": "string"
        },
        "appStore": {
          "description": "Required. The application store that distributes this specific app.",
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "APPLE_APP_STORE",
            "GOOGLE_APP_STORE"
          ],
          "enumDescriptions": [
            "Not specified.",
            "Used for return value only. Represents value unknown in this version.",
            "Mobile app vendor for Apple app store.",
            "Mobile app vendor for Google app store."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleAdsSearchads360V0Common__PercentCpc": {
      "description": "A bidding strategy where bids are a fraction of the advertised price for some good or service.",
      "id": "GoogleAdsSearchads360V0Common__PercentCpc",
      "properties": {
        "cpcBidCeilingMicros": {
          "description": "Maximum bid limit that can be set by the bid strategy. This is an optional field entered by the advertiser and specified in local micros. Note: A zero value is interpreted in the same way as having bid_ceiling undefined.",
          "format": "int64",
          "type": "string"
        },
        "enhancedCpcEnabled": {
          "description": "Adjusts the bid for each auction upward or downward, depending on the likelihood of a conversion. Individual bids may exceed cpc_bid_ceiling_micros, but the average bid amount for a campaign should not.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleAdsSearchads360V0Common__RealTimeBiddingSetting": {
      "description": "Settings for Real-Time Bidding, a feature only available for campaigns targeting the Ad Exchange network.",
      "id": "GoogleAdsSearchads360V0Common__RealTimeBiddingSetting",
      "properties": {
        "optIn": {
          "description": "Whether the campaign is opted in to real-time bidding.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleAdsSearchads360V0Common__SearchAds360ExpandedDynamicSearchAdInfo": {
      "description": "An expanded dynamic search ad.",
      "id": "GoogleAdsSearchads360V0Common__SearchAds360ExpandedDynamicSearchAdInfo",
      "properties": {
        "adTrackingId": {
          "description": "The tracking id of the ad.",
          "format": "int64",
          "type": "string"
        },
        "description1": {
          "description": "The first line of the ad's description.",
          "type": "string"
        },
        "description2": {
          "description": "The second line of the ad's description.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleAdsSearchads360V0Common__SearchAds360ExpandedTextAdInfo": {
      "description": "A Search Ads 360 expanded text ad. Expanded text ads are deprecated. Use SearchAds360ResponsiveSearchAd instead.",
      "id": "GoogleAdsSearchads360V0Common__SearchAds360ExpandedTextAdInfo",
      "properties": {
        "adTrackingId": {
          "description": "The tracking id of the ad.",
          "format": "int64",
          "type": "string"
        },
        "description1": {
          "description": "The first line of the ad's description.",
          "type": "string"
        },
        "description2": {
          "description": "The second line of the ad's description.",
          "type": "string"
        },
        "headline": {
          "description": "The headline of the ad.",
          "type": "string"
        },
        "headline2": {
          "description": "The second headline of the ad.",
          "type": "string"
        },
        "headline3": {
          "description": "The third headline of the ad.",
          "type": "string"
        },
        "path1": {
          "description": "Text appended to the auto-generated visible URL with a delimiter.",
          "type": "string"
        },
        "path2": {
          "description": "Text appended to path1 with a delimiter.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleAdsSearchads360V0Common__SearchAds360ProductAdInfo": {
      "description": "A Search Ads 360 product ad.",
      "id": "GoogleAdsSearchads360V0Common__SearchAds360ProductAdInfo",
      "properties": {},
      "type": "object"
    },
    "GoogleAdsSearchads360V0Common__SearchAds360ResponsiveSearchAdInfo": {
      "description": "A Search Ads 360 responsive search ad.",
      "id": "GoogleAdsSearchads360V0Common__SearchAds360ResponsiveSearchAdInfo",
      "properties": {
        "adTrackingId": {
          "description": "The tracking id of the ad.",
          "format": "int64",
          "type": "string"
        },
        "descriptions": {
          "description": "List of text assets for descriptions. When the ad serves the descriptions will be selected from this list.",
          "items": {
            "$ref": "GoogleAdsSearchads360V0Common__AdTextAsset"
          },
          "type": "array"
        },
        "headlines": {
          "description": "List of text assets for headlines. When the ad serves the headlines will be selected from this list.",
          "items": {
            "$ref": "GoogleAdsSearchads360V0Common__AdTextAsset"
          },
          "type": "array"
        },
        "path1": {
          "description": "Text appended to the auto-generated visible URL with a delimiter.",
          "type": "string"
        },
        "path2": {
          "description": "Text appended to path1 with a delimiter.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleAdsSearchads360V0Common__SearchAds360TextAdInfo": {
      "description": "A Search Ads 360 text ad.",
      "id": "GoogleAdsSearchads360V0Common__SearchAds360TextAdInfo",
      "properties": {
        "adTrackingId": {
          "description": "The tracking id of the ad.",
          "format": "int64",
          "type": "string"
        },
        "description1": {
          "description": "The first line of the ad's description.",
          "type": "string"
        },
        "description2": {
          "description": "The second line of the ad's description.",
          "type": "string"
        },
        "displayMobileUrl": {
          "description": "The displayed mobile URL of the ad.",
          "type": "string"
        },
        "displayUrl": {
          "description": "The displayed URL of the ad.",
          "type": "string"
        },
        "headline": {
          "description": "The headline of the ad.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleAdsSearchads360V0Common__Segments": {
      "description": "Segment only fields.",
      "id": "GoogleAdsSearchads360V0Common__Segments",
      "properties": {
        "adFormatType": {
          "description": "Ad Format type.",
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "VERTICAL_ADS_PROMOTION",
            "VERTICAL_ADS_BOOKING_LINK",
            "TEXT"
          ],
          "enumDescriptions": [
            "No value has been specified.",
            "Used for return value only. Represents value unknown in this version.",
            "An ad format that promotes a specific entity within a vertical, for example, a hotel ad in the Travel vertical on Search.",
            "An ad format for a booking link call-to-action within a vertical ad, for example a 'Book Now' link for a hotel ad.",
            "A standard text ad format. This is currently only used for ads on the Search network."
          ],
          "type": "string"
        },
        "adNetworkType": {
          "description": "Ad network type.",
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "SEARCH",
            "SEARCH_PARTNERS",
            "CONTENT",
            "YOUTUBE_SEARCH",
            "YOUTUBE_WATCH",
            "MIXED"
          ],
          "enumDescriptions": [
            "Not specified.",
            "The value is unknown in this version.",
            "Google search.",
            "Search partners.",
            "Display Network.",
            "YouTube Search.",
            "YouTube Videos",
            "Cross-network."
          ],
          "type": "string"
        },
        "assetInteractionTarget": {
          "$ref": "GoogleAdsSearchads360V0Common__AssetInteractionTarget",
          "description": "Only used with CustomerAsset, CampaignAsset and AdGroupAsset metrics. Indicates whether the interaction metrics occurred on the asset itself or a different asset or ad unit. Interactions (for example, clicks) are counted across all the parts of the served ad (for example, Ad itself and other components like Sitelinks) when they are served together. When interaction_on_this_asset is true, it means the interactions are on this specific asset and when interaction_on_this_asset is false, it means the interactions is not on this specific asset but on other parts of the served ad this asset is served with."
        },
        "conversionAction": {
          "description": "Resource name of the conversion action.",
          "type": "string"
        },
        "conversionActionCategory": {
          "description": "Conversion action category.",
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "DEFAULT",
            "PAGE_VIEW",
            "PURCHASE",
            "SIGNUP",
            "LEAD",
            "DOWNLOAD",
            "ADD_TO_CART",
            "BEGIN_CHECKOUT",
            "SUBSCRIBE_PAID",
            "PHONE_CALL_LEAD",
            "IMPORTED_LEAD",
            "SUBMIT_LEAD_FORM",
            "BOOK_APPOINTMENT",
            "REQUEST_QUOTE",
            "GET_DIRECTIONS",
            "OUTBOUND_CLICK",
            "CONTACT",
            "ENGAGEMENT",
            "STORE_VISIT",
            "STORE_SALE",
            "QUALIFIED_LEAD",
            "CONVERTED_LEAD"
          ],
          "enumDescriptions": [
            "Not specified.",
            "Used for return value only. Represents value unknown in this version.",
            "Default category.",
            "User visiting a page.",
            "Purchase, sales, or \"order placed\" event.",
            "Signup user action.",
            "Lead-generating action.",
            "Software download action (as for an app).",
[...]
