{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/doubleclicksearch": {
          "description": "View and manage your advertising data in DoubleClick Search"
        }
      }
    }
  },
  "basePath": "",
  "baseUrl": "https://searchads360.googleapis.com/",
  "batchPath": "batch",
  "canonicalName": "SA360",
  "description": "The Search Ads 360 API allows developers to automate downloading reports from Search Ads 360.",
  "discoveryVersion": "v1",
  "documentationLink": "https://developers.google.com/search-ads/reporting",
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "id": "searchads360:v23",
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://searchads360.mtls.googleapis.com/",
  "name": "searchads360",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "parameters": {
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "protocol": "rest",
  "resources": {
    "audienceInsights": {
      "methods": {
        "listInsightsEligibleDates": {
          "description": "Lists date ranges for which audience insights data can be requested. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [FieldError]() [HeaderError]() [InternalError]() [QuotaError]() [RangeError]() [RequestError]()",
          "flatPath": "v23/audienceInsights:listInsightsEligibleDates",
          "httpMethod": "POST",
          "id": "searchads360.audienceInsights.listInsightsEligibleDates",
          "parameterOrder": [],
          "parameters": {},
          "path": "v23/audienceInsights:listInsightsEligibleDates",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__ListInsightsEligibleDatesRequest"
          },
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__ListInsightsEligibleDatesResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ]
        }
      }
    },
    "customers": {
      "methods": {
        "createCustomerClient": {
          "description": "Creates a new client under manager. The new client customer is returned. List of thrown errors: [AccessInvitationError]() [AuthenticationError]() [AuthorizationError]() [CurrencyCodeError]() [HeaderError]() [InternalError]() [ManagerLinkError]() [QuotaError]() [RequestError]() [StringLengthError]() [TimeZoneError]()",
          "flatPath": "v23/customers/{customersId}:createCustomerClient",
          "httpMethod": "POST",
          "id": "searchads360.customers.createCustomerClient",
          "parameterOrder": [
            "customerId"
          ],
          "parameters": {
            "customerId": {
              "description": "Required. The ID of the Manager under whom client customer is being created.",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "path": "v23/customers/{+customerId}:createCustomerClient",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__CreateCustomerClientRequest"
          },
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__CreateCustomerClientResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ]
        },
        "generateAdGroupThemes": {
          "description": "Returns a list of suggested AdGroups and suggested modifications (text, match type) for the given keywords. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [CollectionSizeError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()",
          "flatPath": "v23/customers/{customersId}:generateAdGroupThemes",
          "httpMethod": "POST",
          "id": "searchads360.customers.generateAdGroupThemes",
          "parameterOrder": [
            "customerId"
          ],
          "parameters": {
            "customerId": {
              "description": "Required. The ID of the customer.",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "path": "v23/customers/{+customerId}:generateAdGroupThemes",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateAdGroupThemesRequest"
          },
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateAdGroupThemesResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ]
        },
        "generateAudienceCompositionInsights": {
          "description": "Returns a collection of attributes that are represented in an audience of interest, with metrics that compare each attribute's share of the audience with its share of a baseline audience. List of thrown errors: [AudienceInsightsError]() [AuthenticationError]() [AuthorizationError]() [FieldError]() [HeaderError]() [InternalError]() [QuotaError]() [RangeError]() [RequestError]()",
          "flatPath": "v23/customers/{customersId}:generateAudienceCompositionInsights",
          "httpMethod": "POST",
          "id": "searchads360.customers.generateAudienceCompositionInsights",
          "parameterOrder": [
            "customerId"
          ],
          "parameters": {
            "customerId": {
              "description": "Required. The ID of the customer.",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "path": "v23/customers/{+customerId}:generateAudienceCompositionInsights",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateAudienceCompositionInsightsRequest"
          },
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateAudienceCompositionInsightsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ]
        },
        "generateAudienceDefinition": {
          "description": "Returns a collection of audience attributes using generative AI based on the provided audience description. List of thrown errors: [AudienceInsightsError]() [AuthenticationError]() [AuthorizationError]() [FieldError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()",
          "flatPath": "v23/customers/{customersId}:generateAudienceDefinition",
          "httpMethod": "POST",
          "id": "searchads360.customers.generateAudienceDefinition",
          "parameterOrder": [
            "customerId"
          ],
          "parameters": {
            "customerId": {
              "description": "Required. The ID of the customer.",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "path": "v23/customers/{+customerId}:generateAudienceDefinition",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateAudienceDefinitionRequest"
          },
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateAudienceDefinitionResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ]
        },
        "generateAudienceOverlapInsights": {
          "description": "Returns a collection of audience attributes along with estimates of the overlap between their potential YouTube reach and that of a given input attribute. List of thrown errors: [AudienceInsightsError]() [AuthenticationError]() [AuthorizationError]() [FieldError]() [HeaderError]() [InternalError]() [QuotaError]() [RangeError]() [RequestError]()",
          "flatPath": "v23/customers/{customersId}:generateAudienceOverlapInsights",
          "httpMethod": "POST",
          "id": "searchads360.customers.generateAudienceOverlapInsights",
          "parameterOrder": [
            "customerId"
          ],
          "parameters": {
            "customerId": {
              "description": "Required. The ID of the customer.",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "path": "v23/customers/{+customerId}:generateAudienceOverlapInsights",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateAudienceOverlapInsightsRequest"
          },
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateAudienceOverlapInsightsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ]
        },
        "generateBenchmarksMetrics": {
          "description": "Returns YouTube advertisement metrics for the given client against industry benchmarks. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [BenchmarksError]() [FieldError]() [HeaderError]() [InternalError]() [QuotaError]() [RangeError]() [RequestError]()",
          "flatPath": "v23/customers/{customersId}:generateBenchmarksMetrics",
          "httpMethod": "POST",
          "id": "searchads360.customers.generateBenchmarksMetrics",
          "parameterOrder": [
            "customerId"
          ],
          "parameters": {
            "customerId": {
              "description": "Required. The ID of the customer. Supply a client customer ID to generate metrics for the customer. A manager account customer ID will not return customer metrics since it does not have any associated direct ad campaigns.",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "path": "v23/customers/{+customerId}:generateBenchmarksMetrics",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateBenchmarksMetricsRequest"
          },
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateBenchmarksMetricsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ]
        },
        "generateInsightsFinderReport": {
          "description": "Creates a saved report that can be viewed in the Insights Finder tool. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [FieldError]() [HeaderError]() [InternalError]() [QuotaError]() [RangeError]() [RequestError]()",
          "flatPath": "v23/customers/{customersId}:generateInsightsFinderReport",
          "httpMethod": "POST",
          "id": "searchads360.customers.generateInsightsFinderReport",
          "parameterOrder": [
            "customerId"
          ],
          "parameters": {
            "customerId": {
              "description": "Required. The ID of the customer.",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "path": "v23/customers/{+customerId}:generateInsightsFinderReport",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateInsightsFinderReportRequest"
          },
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateInsightsFinderReportResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ]
        },
        "generateKeywordForecastMetrics": {
          "description": "Returns metrics (such as impressions, clicks, total cost) of a keyword forecast for the given campaign. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [CollectionSizeError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()",
          "flatPath": "v23/customers/{customersId}:generateKeywordForecastMetrics",
          "httpMethod": "POST",
          "id": "searchads360.customers.generateKeywordForecastMetrics",
          "parameterOrder": [
            "customerId"
          ],
          "parameters": {
            "customerId": {
              "description": "The ID of the customer.",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "path": "v23/customers/{+customerId}:generateKeywordForecastMetrics",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateKeywordForecastMetricsRequest"
          },
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateKeywordForecastMetricsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ]
        },
        "generateKeywordHistoricalMetrics": {
          "description": "Returns a list of keyword historical metrics. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [CollectionSizeError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()",
          "flatPath": "v23/customers/{customersId}:generateKeywordHistoricalMetrics",
          "httpMethod": "POST",
          "id": "searchads360.customers.generateKeywordHistoricalMetrics",
          "parameterOrder": [
            "customerId"
          ],
          "parameters": {
            "customerId": {
              "description": "The ID of the customer with the recommendation.",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "path": "v23/customers/{+customerId}:generateKeywordHistoricalMetrics",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateKeywordHistoricalMetricsRequest"
          },
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateKeywordHistoricalMetricsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ]
        },
        "generateKeywordIdeas": {
          "description": "Returns a list of keyword ideas. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [CollectionSizeError]() [HeaderError]() [InternalError]() [KeywordPlanIdeaError]() [QuotaError]() [RequestError]()",
          "flatPath": "v23/customers/{customersId}:generateKeywordIdeas",
          "httpMethod": "POST",
          "id": "searchads360.customers.generateKeywordIdeas",
          "parameterOrder": [
            "customerId"
          ],
          "parameters": {
            "customerId": {
              "description": "The ID of the customer with the recommendation.",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "path": "v23/customers/{+customerId}:generateKeywordIdeas",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateKeywordIdeasRequest"
          },
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateKeywordIdeaResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ]
        },
        "generateReachForecast": {
          "description": "Generates a reach forecast for a given targeting / product mix. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [FieldError]() [HeaderError]() [InternalError]() [QuotaError]() [RangeError]() [ReachPlanError]() [RequestError]()",
          "flatPath": "v23/customers/{customersId}:generateReachForecast",
          "httpMethod": "POST",
          "id": "searchads360.customers.generateReachForecast",
          "parameterOrder": [
            "customerId"
          ],
          "parameters": {
            "customerId": {
              "description": "Required. The ID of the customer.",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "path": "v23/customers/{+customerId}:generateReachForecast",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateReachForecastRequest"
          },
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateReachForecastResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ]
        },
        "generateSuggestedTargetingInsights": {
          "description": "Returns a collection of targeting insights (e.g. targetable audiences) that are relevant to the requested audience. List of thrown errors: [AudienceInsightsError]() [AuthenticationError]() [AuthorizationError]() [FieldError]() [HeaderError]() [InternalError]() [QuotaError]() [RangeError]() [RequestError]()",
          "flatPath": "v23/customers/{customersId}:generateSuggestedTargetingInsights",
          "httpMethod": "POST",
          "id": "searchads360.customers.generateSuggestedTargetingInsights",
          "parameterOrder": [
            "customerId"
          ],
          "parameters": {
            "customerId": {
              "description": "Required. The ID of the customer.",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "path": "v23/customers/{+customerId}:generateSuggestedTargetingInsights",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateSuggestedTargetingInsightsRequest"
          },
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateSuggestedTargetingInsightsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ]
        },
        "generateTargetingSuggestionMetrics": {
          "description": "Returns potential reach metrics for targetable audiences. This method helps answer questions like \"How many Men aged 18+ interested in Camping can be reached on YouTube?\" List of thrown errors: [AudienceInsightsError]() [AuthenticationError]() [AuthorizationError]() [FieldError]() [HeaderError]() [InternalError]() [QuotaError]() [RangeError]() [RequestError]()",
          "flatPath": "v23/customers/{customersId}:generateTargetingSuggestionMetrics",
          "httpMethod": "POST",
          "id": "searchads360.customers.generateTargetingSuggestionMetrics",
          "parameterOrder": [
            "customerId"
          ],
          "parameters": {
            "customerId": {
              "description": "Required. The ID of the customer.",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "path": "v23/customers/{+customerId}:generateTargetingSuggestionMetrics",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateTargetingSuggestionMetricsRequest"
          },
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateTargetingSuggestionMetricsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ]
        },
        "getIdentityVerification": {
          "description": "Returns Identity Verification information. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()",
          "flatPath": "v23/customers/{customersId}/getIdentityVerification",
          "httpMethod": "GET",
          "id": "searchads360.customers.getIdentityVerification",
          "parameterOrder": [
            "customerId"
          ],
          "parameters": {
            "customerId": {
              "description": "Required. The ID of the customer for whom we are requesting verification information.",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "path": "v23/customers/{+customerId}/getIdentityVerification",
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__GetIdentityVerificationResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ]
        },
        "listAccessibleCustomers": {
          "description": "Returns resource names of customers directly accessible by the user authenticating the call. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()",
          "flatPath": "v23/customers:listAccessibleCustomers",
          "httpMethod": "GET",
          "id": "searchads360.customers.listAccessibleCustomers",
          "parameterOrder": [],
          "parameters": {},
          "path": "v23/customers:listAccessibleCustomers",
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__ListAccessibleCustomersResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ]
        },
        "mutate": {
          "description": "Updates a customer. Operation statuses are returned. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [DatabaseError]() [FieldMaskError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]() [UrlFieldError]()",
          "flatPath": "v23/customers/{customersId}:mutate",
          "httpMethod": "POST",
          "id": "searchads360.customers.mutate",
          "parameterOrder": [
            "customerId"
          ],
          "parameters": {
            "customerId": {
              "description": "Required. The ID of the customer being modified.",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "path": "v23/customers/{+customerId}:mutate",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__MutateCustomerRequest"
          },
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__MutateCustomerResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ]
        },
        "removeCampaignAutomaticallyCreatedAsset": {
          "description": "Removes automatically created assets from a campaign. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [ContextError]() [FieldError]() [InternalError]() [MutateError]() [PartialFailureError]() [QuotaError]() [RequestError]()",
          "flatPath": "v23/customers/{customersId}:removeCampaignAutomaticallyCreatedAsset",
          "httpMethod": "POST",
          "id": "searchads360.customers.removeCampaignAutomaticallyCreatedAsset",
          "parameterOrder": [
            "customerId"
          ],
          "parameters": {
            "customerId": {
              "description": "Required. The ID of the customer whose assets are being removed.",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "path": "v23/customers/{+customerId}:removeCampaignAutomaticallyCreatedAsset",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__RemoveCampaignAutomaticallyCreatedAssetRequest"
          },
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__RemoveCampaignAutomaticallyCreatedAssetResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ]
        },
        "searchAudienceInsightsAttributes": {
          "description": "Searches for audience attributes that can be used to generate insights. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [FieldError]() [HeaderError]() [InternalError]() [QuotaError]() [RangeError]() [RequestError]()",
          "flatPath": "v23/customers/{customersId}:searchAudienceInsightsAttributes",
          "httpMethod": "POST",
          "id": "searchads360.customers.searchAudienceInsightsAttributes",
          "parameterOrder": [
            "customerId"
          ],
          "parameters": {
            "customerId": {
              "description": "Required. The ID of the customer.",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "path": "v23/customers/{+customerId}:searchAudienceInsightsAttributes",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__ListAudienceInsightsAttributesRequest"
          },
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__ListAudienceInsightsAttributesResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ]
        },
        "startIdentityVerification": {
          "description": "Starts Identity Verification for a given verification program type. Statuses are returned. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()",
          "flatPath": "v23/customers/{customersId}:startIdentityVerification",
          "httpMethod": "POST",
          "id": "searchads360.customers.startIdentityVerification",
          "parameterOrder": [
            "customerId"
          ],
          "parameters": {
            "customerId": {
              "description": "Required. The Id of the customer for whom we are creating this verification.",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "path": "v23/customers/{+customerId}:startIdentityVerification",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__StartIdentityVerificationRequest"
          },
          "response": {
            "$ref": "GoogleProtobuf__Empty"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ]
        },
        "suggestKeywordThemes": {
          "description": "Suggests keyword themes to advertise on.",
          "flatPath": "v23/customers/{customersId}:suggestKeywordThemes",
          "httpMethod": "POST",
          "id": "searchads360.customers.suggestKeywordThemes",
          "parameterOrder": [
            "customerId"
          ],
          "parameters": {
            "customerId": {
              "description": "Required. The ID of the customer.",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "path": "v23/customers/{+customerId}:suggestKeywordThemes",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__SuggestKeywordThemesRequest"
          },
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__SuggestKeywordThemesResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ]
        },
        "suggestSmartCampaignAd": {
          "description": "Suggests a Smart campaign ad compatible with the Ad family of resources, based on data points such as targeting and the business to advertise.",
          "flatPath": "v23/customers/{customersId}:suggestSmartCampaignAd",
          "httpMethod": "POST",
          "id": "searchads360.customers.suggestSmartCampaignAd",
          "parameterOrder": [
            "customerId"
          ],
          "parameters": {
            "customerId": {
              "description": "Required. The ID of the customer.",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "path": "v23/customers/{+customerId}:suggestSmartCampaignAd",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__SuggestSmartCampaignAdRequest"
          },
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__SuggestSmartCampaignAdResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ]
        },
        "suggestSmartCampaignBudgetOptions": {
          "description": "Returns BudgetOption suggestions.",
          "flatPath": "v23/customers/{customersId}:suggestSmartCampaignBudgetOptions",
          "httpMethod": "POST",
          "id": "searchads360.customers.suggestSmartCampaignBudgetOptions",
          "parameterOrder": [
            "customerId"
          ],
          "parameters": {
            "customerId": {
              "description": "Required. The ID of the customer whose budget options are to be suggested.",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "path": "v23/customers/{+customerId}:suggestSmartCampaignBudgetOptions",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__SuggestSmartCampaignBudgetOptionsRequest"
          },
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__SuggestSmartCampaignBudgetOptionsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ]
        },
        "suggestTravelAssets": {
          "description": "Returns Travel Asset suggestions. Asset suggestions are returned on a best-effort basis. There are no guarantees that all possible asset types will be returned for any given hotel property.",
          "flatPath": "v23/customers/{customersId}:suggestTravelAssets",
          "httpMethod": "POST",
          "id": "searchads360.customers.suggestTravelAssets",
          "parameterOrder": [
            "customerId"
          ],
          "parameters": {
            "customerId": {
              "description": "Required. The ID of the customer.",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "path": "v23/customers/{+customerId}:suggestTravelAssets",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__SuggestTravelAssetsRequest"
          },
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__SuggestTravelAssetsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ]
        },
        "uploadCallConversions": {
          "description": "Processes the given call conversions. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [HeaderError]() [InternalError]() [PartialFailureError]() [QuotaError]() [RequestError]()",
          "flatPath": "v23/customers/{customersId}:uploadCallConversions",
          "httpMethod": "POST",
          "id": "searchads360.customers.uploadCallConversions",
          "parameterOrder": [
            "customerId"
          ],
          "parameters": {
            "customerId": {
              "description": "Required. The ID of the customer performing the upload.",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "path": "v23/customers/{+customerId}:uploadCallConversions",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__UploadCallConversionsRequest"
          },
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__UploadCallConversionsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ]
        },
        "uploadClickConversions": {
          "description": "Processes the given click conversions. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [ConversionUploadError]() [HeaderError]() [InternalError]() [PartialFailureError]() [QuotaError]() [RequestError]()",
          "flatPath": "v23/customers/{customersId}:uploadClickConversions",
          "httpMethod": "POST",
          "id": "searchads360.customers.uploadClickConversions",
          "parameterOrder": [
            "customerId"
          ],
          "parameters": {
            "customerId": {
              "description": "Required. The ID of the customer performing the upload.",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "path": "v23/customers/{+customerId}:uploadClickConversions",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__UploadClickConversionsRequest"
          },
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__UploadClickConversionsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ]
        },
        "uploadConversionAdjustments": {
          "description": "Processes the given conversion adjustments. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [HeaderError]() [InternalError]() [PartialFailureError]() [QuotaError]() [RequestError]()",
          "flatPath": "v23/customers/{customersId}:uploadConversionAdjustments",
          "httpMethod": "POST",
          "id": "searchads360.customers.uploadConversionAdjustments",
          "parameterOrder": [
            "customerId"
          ],
          "parameters": {
            "customerId": {
              "description": "Required. The ID of the customer performing the upload.",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "path": "v23/customers/{+customerId}:uploadConversionAdjustments",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__UploadConversionAdjustmentsRequest"
          },
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__UploadConversionAdjustmentsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ]
        },
        "uploadUserData": {
          "description": "Uploads the given user data. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [CollectionSizeError]() [FieldError]() [HeaderError]() [InternalError]() [MutateError]() [OfflineUserDataJobError]() [QuotaError]() [RequestError]() [UserDataError]()",
          "flatPath": "v23/customers/{customersId}:uploadUserData",
          "httpMethod": "POST",
          "id": "searchads360.customers.uploadUserData",
          "parameterOrder": [
            "customerId"
          ],
          "parameters": {
            "customerId": {
              "description": "Required. The ID of the customer for which to update the user data.",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "path": "v23/customers/{+customerId}:uploadUserData",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__UploadUserDataRequest"
          },
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__UploadUserDataResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ]
        }
      },
      "resources": {
        "AdGroupCriterionCustomizers": {
          "methods": {
            "mutate": {
              "description": "Creates, updates or removes ad group criterion customizers. Operation statuses are returned.",
              "flatPath": "v23/customers/{customersId}/AdGroupCriterionCustomizers:mutate",
              "httpMethod": "POST",
              "id": "searchads360.customers.AdGroupCriterionCustomizers.mutate",
              "parameterOrder": [
                "customerId"
              ],
              "parameters": {
                "customerId": {
                  "description": "Required. The ID of the customer whose ad group criterion customizers are being modified.",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v23/customers/{+customerId}/AdGroupCriterionCustomizers:mutate",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAdGroupCriterionCustomizersRequest"
              },
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAdGroupCriterionCustomizersResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ]
            }
          }
        },
        "CampaignGoalConfigs": {
          "methods": {
            "mutate": {
              "description": "Create or update campaign goal configs. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]() [CampaignGoalConfigError]() [GoalServicesError]()",
              "flatPath": "v23/customers/{customersId}/CampaignGoalConfigs:mutate",
              "httpMethod": "POST",
              "id": "searchads360.customers.CampaignGoalConfigs.mutate",
              "parameterOrder": [
                "customerId"
              ],
              "parameters": {
                "customerId": {
                  "description": "Required. The ID of the customer whose campaign goal configs are being modified.",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v23/customers/{+customerId}/CampaignGoalConfigs:mutate",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateCampaignGoalConfigsRequest"
              },
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateCampaignGoalConfigsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ]
            }
          }
        },
        "CustomerCustomizers": {
          "methods": {
            "mutate": {
              "description": "Creates, updates or removes customer customizers. Operation statuses are returned.",
              "flatPath": "v23/customers/{customersId}/CustomerCustomizers:mutate",
              "httpMethod": "POST",
              "id": "searchads360.customers.CustomerCustomizers.mutate",
              "parameterOrder": [
                "customerId"
              ],
              "parameters": {
                "customerId": {
                  "description": "Required. The ID of the customer whose customer customizers are being modified.",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v23/customers/{+customerId}/CustomerCustomizers:mutate",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateCustomerCustomizersRequest"
              },
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateCustomerCustomizersResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ]
            }
          }
        },
        "Goals": {
          "methods": {
            "mutate": {
              "description": "Create or update goals. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]() [GoalError]() [GoalServicesError]()",
              "flatPath": "v23/customers/{customersId}/Goals:mutate",
              "httpMethod": "POST",
              "id": "searchads360.customers.Goals.mutate",
              "parameterOrder": [
                "customerId"
              ],
              "parameters": {
                "customerId": {
                  "description": "Required. The ID of the customer whose goals are being modified.",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v23/customers/{+customerId}/Goals:mutate",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateGoalsRequest"
              },
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateGoalsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ]
            }
          }
        },
        "accountBudgetProposals": {
          "methods": {
            "mutate": {
              "description": "Creates, updates, or removes account budget proposals. Operation statuses are returned. List of thrown errors: [AccountBudgetProposalError]() [AuthenticationError]() [AuthorizationError]() [DatabaseError]() [DateError]() [FieldError]() [FieldMaskError]() [HeaderError]() [InternalError]() [MutateError]() [QuotaError]() [RequestError]() [StringLengthError]()",
              "flatPath": "v23/customers/{customersId}/accountBudgetProposals:mutate",
              "httpMethod": "POST",
              "id": "searchads360.customers.accountBudgetProposals.mutate",
              "parameterOrder": [
                "customerId"
              ],
              "parameters": {
                "customerId": {
                  "description": "Required. The ID of the customer.",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v23/customers/{+customerId}/accountBudgetProposals:mutate",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAccountBudgetProposalRequest"
              },
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAccountBudgetProposalResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ]
            }
          }
        },
        "accountLinks": {
          "methods": {
            "create": {
              "description": "Creates an account link. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [DatabaseError]() [FieldError]() [HeaderError]() [InternalError]() [MutateError]() [QuotaError]() [RequestError]() [ThirdPartyAppAnalyticsLinkError]()",
              "flatPath": "v23/customers/{customersId}/accountLinks:create",
              "httpMethod": "POST",
              "id": "searchads360.customers.accountLinks.create",
              "parameterOrder": [
                "customerId"
              ],
              "parameters": {
                "customerId": {
                  "description": "Required. The ID of the customer for which the account link is created.",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v23/customers/{+customerId}/accountLinks:create",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__CreateAccountLinkRequest"
              },
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__CreateAccountLinkResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ]
            },
            "mutate": {
              "description": "Creates or removes an account link. From V5, create is not supported through AccountLinkService.MutateAccountLink. Use AccountLinkService.CreateAccountLink instead. List of thrown errors: [AccountLinkError]() [AuthenticationError]() [AuthorizationError]() [FieldMaskError]() [HeaderError]() [InternalError]() [MutateError]() [QuotaError]() [RequestError]()",
              "flatPath": "v23/customers/{customersId}/accountLinks:mutate",
              "httpMethod": "POST",
              "id": "searchads360.customers.accountLinks.mutate",
              "parameterOrder": [
                "customerId"
              ],
              "parameters": {
                "customerId": {
                  "description": "Required. The ID of the customer being modified.",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v23/customers/{+customerId}/accountLinks:mutate",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAccountLinkRequest"
              },
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAccountLinkResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ]
            }
          }
        },
        "adGroupAdLabels": {
          "methods": {
            "mutate": {
              "description": "Creates and removes ad group ad labels. Operation statuses are returned. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [DatabaseError]() [HeaderError]() [InternalError]() [LabelError]() [MutateError]() [NewResourceCreationError]() [QuotaError]() [RequestError]()",
              "flatPath": "v23/customers/{customersId}/adGroupAdLabels:mutate",
              "httpMethod": "POST",
              "id": "searchads360.customers.adGroupAdLabels.mutate",
              "parameterOrder": [
                "customerId"
              ],
              "parameters": {
                "customerId": {
                  "description": "Required. ID of the customer whose ad group ad labels are being modified.",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v23/customers/{+customerId}/adGroupAdLabels:mutate",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAdGroupAdLabelsRequest"
              },
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAdGroupAdLabelsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ]
            }
          }
        },
        "adGroupAds": {
          "methods": {
            "mutate": {
              "description": "Creates, updates, or removes ads. Operation statuses are returned. List of thrown errors: [AdCustomizerError]() [AdError]() [AdGroupAdError]() [AdSharingError]() [AdxError]() [AssetError]() [AssetLinkError]() [AuthenticationError]() [AuthorizationError]() [CollectionSizeError]() [ContextError]() [DatabaseError]() [DateError]() [DistinctError]() [FeedAttributeReferenceError]() [FieldError]() [FieldMaskError]() [FunctionError]() [FunctionParsingError]() [HeaderError]() [IdError]() [ImageError]() [InternalError]() [ListOperationError]() [MediaBundleError]() [MediaFileError]() [MutateError]() [NewResourceCreationError]() [NotEmptyError]() [NullError]() [OperationAccessDeniedError]() [OperatorError]() [PolicyFindingError]() [PolicyValidationParameterError]() [PolicyViolationError]() [QuotaError]() [RangeError]() [RequestError]() [ResourceCountLimitExceededError]() [SizeLimitError]() [StringFormatError]() [StringLengthError]() [UrlFieldError]()",
              "flatPath": "v23/customers/{customersId}/adGroupAds:mutate",
              "httpMethod": "POST",
              "id": "searchads360.customers.adGroupAds.mutate",
              "parameterOrder": [
                "customerId"
              ],
              "parameters": {
                "customerId": {
                  "description": "Required. The ID of the customer whose ads are being modified.",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v23/customers/{+customerId}/adGroupAds:mutate",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAdGroupAdsRequest"
              },
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAdGroupAdsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ]
            },
            "removeAutomaticallyCreatedAssets": {
              "description": "Remove automatically created assets from an ad. List of thrown errors: [AdError]() [AuthenticationError]() [AuthorizationError]() [AutomaticallyCreatedAssetRemovalError]() [HeaderError]() [InternalError]() [MutateError]() [QuotaError]() [RequestError]()",
              "flatPath": "v23/customers/{customersId}/adGroupAds/{adGroupAdsId}:removeAutomaticallyCreatedAssets",
              "httpMethod": "POST",
              "id": "searchads360.customers.adGroupAds.removeAutomaticallyCreatedAssets",
              "parameterOrder": [
                "adGroupAd"
              ],
              "parameters": {
                "adGroupAd": {
                  "description": "Required. The resource name of the AdGroupAd from which to remove automatically created assets.",
                  "location": "path",
                  "pattern": "^customers/[^/]+/adGroupAds/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v23/{+adGroupAd}:removeAutomaticallyCreatedAssets",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__RemoveAutomaticallyCreatedAssetsRequest"
              },
              "response": {
                "$ref": "GoogleProtobuf__Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ]
            }
          }
        },
        "adGroupAssetSets": {
          "methods": {
            "mutate": {
              "description": "Creates, or removes ad group asset sets. Operation statuses are returned.",
              "flatPath": "v23/customers/{customersId}/adGroupAssetSets:mutate",
              "httpMethod": "POST",
              "id": "searchads360.customers.adGroupAssetSets.mutate",
              "parameterOrder": [
                "customerId"
              ],
              "parameters": {
                "customerId": {
                  "description": "Required. The ID of the customer whose ad group asset sets are being modified.",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v23/customers/{+customerId}/adGroupAssetSets:mutate",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAdGroupAssetSetsRequest"
              },
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAdGroupAssetSetsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ]
            }
          }
        },
        "adGroupAssets": {
          "methods": {
            "mutate": {
              "description": "Creates, updates, or removes ad group assets. Operation statuses are returned. List of thrown errors: [AssetLinkError]() [AuthenticationError]() [AuthorizationError]() [ContextError]() [FieldError]() [HeaderError]() [InternalError]() [MutateError]() [NotAllowlistedError]() [QuotaError]() [RequestError]()",
              "flatPath": "v23/customers/{customersId}/adGroupAssets:mutate",
              "httpMethod": "POST",
              "id": "searchads360.customers.adGroupAssets.mutate",
              "parameterOrder": [
                "customerId"
              ],
              "parameters": {
                "customerId": {
                  "description": "Required. The ID of the customer whose ad group assets are being modified.",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v23/customers/{+customerId}/adGroupAssets:mutate",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAdGroupAssetsRequest"
              },
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAdGroupAssetsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ]
            }
          }
        },
        "adGroupBidModifiers": {
          "methods": {
            "mutate": {
              "description": "Creates, updates, or removes ad group bid modifiers. Operation statuses are returned. List of thrown errors: [AdGroupBidModifierError]() [AuthenticationError]() [AuthorizationError]() [ContextError]() [CriterionError]() [DatabaseError]() [DistinctError]() [FieldError]() [FieldMaskError]() [HeaderError]() [IdError]() [InternalError]() [MutateError]() [NewResourceCreationError]() [NotEmptyError]() [OperatorError]() [QuotaError]() [RangeError]() [RequestError]() [ResourceCountLimitExceededError]() [SizeLimitError]() [StringFormatError]() [StringLengthError]()",
              "flatPath": "v23/customers/{customersId}/adGroupBidModifiers:mutate",
              "httpMethod": "POST",
              "id": "searchads360.customers.adGroupBidModifiers.mutate",
              "parameterOrder": [
                "customerId"
              ],
              "parameters": {
                "customerId": {
                  "description": "Required. ID of the customer whose ad group bid modifiers are being modified.",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v23/customers/{+customerId}/adGroupBidModifiers:mutate",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAdGroupBidModifiersRequest"
              },
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAdGroupBidModifiersResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ]
            }
          }
        },
        "adGroupCriteria": {
          "methods": {
            "mutate": {
              "description": "Creates, updates, or removes criteria. Operation statuses are returned. List of thrown errors: [AdGroupCriterionError]() [AdxError]() [AuthenticationError]() [AuthorizationError]() [BiddingError]() [BiddingStrategyError]() [CollectionSizeError]() [ContextError]() [CriterionError]() [DatabaseError]() [DateError]() [DistinctError]() [FieldError]() [FieldMaskError]() [HeaderError]() [IdError]() [InternalError]() [MultiplierError]() [MutateError]() [NewResourceCreationError]() [NotEmptyError]() [NullError]() [OperationAccessDeniedError]() [OperatorError]() [PolicyViolationError]() [QuotaError]() [RangeError]() [RequestError]() [ResourceCountLimitExceededError]() [SizeLimitError]() [StringFormatError]() [StringLengthError]() [UrlFieldError]()",
              "flatPath": "v23/customers/{customersId}/adGroupCriteria:mutate",
              "httpMethod": "POST",
              "id": "searchads360.customers.adGroupCriteria.mutate",
              "parameterOrder": [
                "customerId"
              ],
              "parameters": {
                "customerId": {
                  "description": "Required. ID of the customer whose criteria are being modified.",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v23/customers/{+customerId}/adGroupCriteria:mutate",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAdGroupCriteriaRequest"
              },
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAdGroupCriteriaResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ]
            }
          }
        },
        "adGroupCriterionLabels": {
          "methods": {
            "mutate": {
              "description": "Creates and removes ad group criterion labels. Operation statuses are returned. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [DatabaseError]() [FieldError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()",
              "flatPath": "v23/customers/{customersId}/adGroupCriterionLabels:mutate",
              "httpMethod": "POST",
              "id": "searchads360.customers.adGroupCriterionLabels.mutate",
              "parameterOrder": [
                "customerId"
              ],
              "parameters": {
                "customerId": {
                  "description": "Required. ID of the customer whose ad group criterion labels are being modified.",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v23/customers/{+customerId}/adGroupCriterionLabels:mutate",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAdGroupCriterionLabelsRequest"
              },
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAdGroupCriterionLabelsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ]
            }
          }
        },
        "adGroupCustomizers": {
          "methods": {
            "mutate": {
              "description": "Creates, updates or removes ad group customizers. Operation statuses are returned.",
              "flatPath": "v23/customers/{customersId}/adGroupCustomizers:mutate",
              "httpMethod": "POST",
              "id": "searchads360.customers.adGroupCustomizers.mutate",
              "parameterOrder": [
                "customerId"
              ],
              "parameters": {
                "customerId": {
                  "description": "Required. The ID of the customer whose ad group customizers are being modified.",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v23/customers/{+customerId}/adGroupCustomizers:mutate",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAdGroupCustomizersRequest"
              },
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAdGroupCustomizersResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ]
            }
          }
        },
        "adGroupLabels": {
          "methods": {
            "mutate": {
              "description": "Creates and removes ad group labels. Operation statuses are returned. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [DatabaseError]() [FieldError]() [HeaderError]() [InternalError]() [LabelError]() [MutateError]() [NewResourceCreationError]() [QuotaError]() [RequestError]()",
              "flatPath": "v23/customers/{customersId}/adGroupLabels:mutate",
              "httpMethod": "POST",
              "id": "searchads360.customers.adGroupLabels.mutate",
              "parameterOrder": [
                "customerId"
              ],
              "parameters": {
                "customerId": {
                  "description": "Required. ID of the customer whose ad group labels are being modified.",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v23/customers/{+customerId}/adGroupLabels:mutate",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAdGroupLabelsRequest"
              },
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAdGroupLabelsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ]
            }
          }
        },
        "adGroups": {
          "methods": {
            "mutate": {
              "description": "Creates, updates, or removes ad groups. Operation statuses are returned. List of thrown errors: [AdGroupError]() [AdxError]() [AuthenticationError]() [AuthorizationError]() [BiddingError]() [BiddingStrategyError]() [DatabaseError]() [DateError]() [DistinctError]() [FieldError]() [FieldMaskError]() [HeaderError]() [IdError]() [InternalError]() [ListOperationError]() [MultiplierError]() [MutateError]() [NewResourceCreationError]() [NotEmptyError]() [NullError]() [OperationAccessDeniedError]() [OperatorError]() [QuotaError]() [RangeError]() [RequestError]() [ResourceCountLimitExceededError]() [SettingError]() [SizeLimitError]() [StringFormatError]() [StringLengthError]() [UrlFieldError]()",
              "flatPath": "v23/customers/{customersId}/adGroups:mutate",
              "httpMethod": "POST",
              "id": "searchads360.customers.adGroups.mutate",
              "parameterOrder": [
                "customerId"
              ],
              "parameters": {
                "customerId": {
                  "description": "Required. The ID of the customer whose ad groups are being modified.",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v23/customers/{+customerId}/adGroups:mutate",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAdGroupsRequest"
              },
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAdGroupsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ]
            }
          }
        },
        "adParameters": {
          "methods": {
            "mutate": {
              "description": "Creates, updates, or removes ad parameters. Operation statuses are returned. List of thrown errors: [AdParameterError]() [AuthenticationError]() [AuthorizationError]() [ContextError]() [DatabaseError]() [FieldError]() [FieldMaskError]() [HeaderError]() [InternalError]() [MutateError]() [QuotaError]() [RequestError]()",
              "flatPath": "v23/customers/{customersId}/adParameters:mutate",
              "httpMethod": "POST",
              "id": "searchads360.customers.adParameters.mutate",
              "parameterOrder": [
                "customerId"
              ],
              "parameters": {
                "customerId": {
                  "description": "Required. The ID of the customer whose ad parameters are being modified.",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v23/customers/{+customerId}/adParameters:mutate",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAdParametersRequest"
              },
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAdParametersResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ]
            }
          }
        },
        "ads": {
          "methods": {
            "mutate": {
              "description": "Updates ads. Operation statuses are returned. Updating ads is not supported for TextAd, ExpandedDynamicSearchAd, GmailAd and ImageAd. List of thrown errors: [AdCustomizerError]() [AdError]() [AdSharingError]() [AdxError]() [AssetError]() [AssetLinkError]() [AuthenticationError]() [AuthorizationError]() [CollectionSizeError]() [DatabaseError]() [DateError]() [DistinctError]() [FeedAttributeReferenceError]() [FieldError]() [FieldMaskError]() [FunctionError]() [FunctionParsingError]() [HeaderError]() [IdError]() [ImageError]() [InternalError]() [ListOperationError]() [MediaBundleError]() [MediaFileError]() [MutateError]() [NewResourceCreationError]() [NotEmptyError]() [NullError]() [OperatorError]() [PolicyFindingError]() [PolicyViolationError]() [QuotaError]() [RangeError]() [RequestError]() [SizeLimitError]() [StringFormatError]() [StringLengthError]() [UrlFieldError]()",
              "flatPath": "v23/customers/{customersId}/ads:mutate",
              "httpMethod": "POST",
              "id": "searchads360.customers.ads.mutate",
              "parameterOrder": [
                "customerId"
              ],
              "parameters": {
                "customerId": {
                  "description": "Required. The ID of the customer whose ads are being modified.",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v23/customers/{+customerId}/ads:mutate",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAdsRequest"
              },
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAdsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ]
            }
          }
        },
        "assetGroupAssets": {
          "methods": {
            "mutate": {
              "description": "Creates, updates or removes asset group assets. Operation statuses are returned.",
              "flatPath": "v23/customers/{customersId}/assetGroupAssets:mutate",
              "httpMethod": "POST",
              "id": "searchads360.customers.assetGroupAssets.mutate",
              "parameterOrder": [
                "customerId"
              ],
              "parameters": {
                "customerId": {
                  "description": "Required. The ID of the customer whose asset group assets are being modified.",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v23/customers/{+customerId}/assetGroupAssets:mutate",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAssetGroupAssetsRequest"
              },
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAssetGroupAssetsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ]
            }
          }
        },
        "assetGroupListingGroupFilters": {
          "methods": {
            "mutate": {
              "description": "Creates, updates or removes asset group listing group filters. Operation statuses are returned.",
              "flatPath": "v23/customers/{customersId}/assetGroupListingGroupFilters:mutate",
              "httpMethod": "POST",
              "id": "searchads360.customers.assetGroupListingGroupFilters.mutate",
              "parameterOrder": [
                "customerId"
              ],
              "parameters": {
                "customerId": {
                  "description": "Required. The ID of the customer whose asset group listing group filters are being modified.",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v23/customers/{+customerId}/assetGroupListingGroupFilters:mutate",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAssetGroupListingGroupFiltersRequest"
              },
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAssetGroupListingGroupFiltersResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ]
            }
          }
        },
        "assetGroupSignals": {
          "methods": {
            "mutate": {
              "description": "Creates or removes asset group signals. Operation statuses are returned.",
              "flatPath": "v23/customers/{customersId}/assetGroupSignals:mutate",
              "httpMethod": "POST",
              "id": "searchads360.customers.assetGroupSignals.mutate",
              "parameterOrder": [
                "customerId"
              ],
              "parameters": {
                "customerId": {
                  "description": "Required. The ID of the customer whose asset group signals are being modified.",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v23/customers/{+customerId}/assetGroupSignals:mutate",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAssetGroupSignalsRequest"
              },
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAssetGroupSignalsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ]
            }
          }
        },
        "assetGroups": {
          "methods": {
            "mutate": {
              "description": "Creates, updates or removes asset groups. Operation statuses are returned.",
              "flatPath": "v23/customers/{customersId}/assetGroups:mutate",
              "httpMethod": "POST",
              "id": "searchads360.customers.assetGroups.mutate",
              "parameterOrder": [
                "customerId"
              ],
              "parameters": {
                "customerId": {
                  "description": "Required. The ID of the customer whose asset groups are being modified.",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v23/customers/{+customerId}/assetGroups:mutate",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAssetGroupsRequest"
              },
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAssetGroupsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ]
            }
          }
        },
        "assetSetAssets": {
          "methods": {
            "mutate": {
              "description": "Creates, updates or removes asset set assets. Operation statuses are returned.",
              "flatPath": "v23/customers/{customersId}/assetSetAssets:mutate",
              "httpMethod": "POST",
              "id": "searchads360.customers.assetSetAssets.mutate",
              "parameterOrder": [
                "customerId"
              ],
              "parameters": {
                "customerId": {
                  "description": "Required. The ID of the customer whose asset set assets are being modified.",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v23/customers/{+customerId}/assetSetAssets:mutate",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAssetSetAssetsRequest"
              },
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAssetSetAssetsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ]
            }
          }
        },
        "assetSets": {
          "methods": {
            "mutate": {
              "description": "Creates, updates or removes asset sets. Operation statuses are returned.",
              "flatPath": "v23/customers/{customersId}/assetSets:mutate",
              "httpMethod": "POST",
              "id": "searchads360.customers.assetSets.mutate",
              "parameterOrder": [
                "customerId"
              ],
              "parameters": {
                "customerId": {
                  "description": "Required. The ID of the customer whose asset sets are being modified.",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v23/customers/{+customerId}/assetSets:mutate",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAssetSetsRequest"
              },
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAssetSetsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ]
            }
          }
        },
        "assets": {
          "methods": {
            "mutate": {
              "description": "Creates assets. Operation statuses are returned. List of thrown errors: [AssetError]() [AuthenticationError]() [AuthorizationError]() [CollectionSizeError]() [CurrencyCodeError]() [DatabaseError]() [DateError]() [DistinctError]() [FieldError]() [FieldMaskError]() [HeaderError]() [IdError]() [InternalError]() [ListOperationError]() [MediaUploadError]() [MutateError]() [NotAllowlistedError]() [NotEmptyError]() [OperatorError]() [QuotaError]() [RangeError]() [RequestError]() [SizeLimitError]() [StringFormatError]() [StringLengthError]() [UrlFieldError]() [YoutubeVideoRegistrationError]()",
              "flatPath": "v23/customers/{customersId}/assets:mutate",
              "httpMethod": "POST",
              "id": "searchads360.customers.assets.mutate",
              "parameterOrder": [
                "customerId"
              ],
              "parameters": {
                "customerId": {
                  "description": "Required. The ID of the customer whose assets are being modified.",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v23/customers/{+customerId}/assets:mutate",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAssetsRequest"
              },
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAssetsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ]
            }
          }
        },
        "audiences": {
          "methods": {
            "mutate": {
              "description": "Creates audiences. Operation statuses are returned. List of thrown errors: [AudienceError]()",
              "flatPath": "v23/customers/{customersId}/audiences:mutate",
              "httpMethod": "POST",
              "id": "searchads360.customers.audiences.mutate",
              "parameterOrder": [
                "customerId"
              ],
              "parameters": {
                "customerId": {
                  "description": "Required. The ID of the customer whose audiences are being modified.",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v23/customers/{+customerId}/audiences:mutate",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAudiencesRequest"
              },
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAudiencesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ]
            }
          }
        },
        "batchJobs": {
          "methods": {
            "addOperations": {
              "description": "Add operations to the batch job. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [BatchJobError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]() [ResourceCountLimitExceededError]()",
              "flatPath": "v23/customers/{customersId}/batchJobs/{batchJobsId}:addOperations",
              "httpMethod": "POST",
              "id": "searchads360.customers.batchJobs.addOperations",
              "parameterOrder": [
                "resourceName"
              ],
              "parameters": {
                "resourceName": {
                  "description": "Required. The resource name of the batch job.",
                  "location": "path",
                  "pattern": "^customers/[^/]+/batchJobs/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v23/{+resourceName}:addOperations",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__AddBatchJobOperationsRequest"
              },
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__AddBatchJobOperationsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ]
            },
            "listResults": {
              "description": "Returns the results of the batch job. The job must be done. Supports standard list paging. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [BatchJobError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()",
              "flatPath": "v23/customers/{customersId}/batchJobs/{batchJobsId}:listResults",
              "httpMethod": "GET",
              "id": "searchads360.customers.batchJobs.listResults",
              "parameterOrder": [
                "resourceName"
              ],
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "Token of the page to retrieve. If not specified, the first page of results will be returned. Use the value obtained from `next_page_token` in the previous response in order to request the next page of results.",
                  "location": "query",
                  "type": "string"
                },
                "resourceName": {
                  "description": "Required. The resource name of the batch job whose results are being listed.",
                  "location": "path",
                  "pattern": "^customers/[^/]+/batchJobs/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "responseContentType": {
                  "description": "The response content type setting. Determines whether the mutable resource or just the resource name should be returned.",
                  "enum": [
                    "UNSPECIFIED",
                    "RESOURCE_NAME_ONLY",
                    "MUTABLE_RESOURCE"
                  ],
                  "enumDescriptions": [
                    "Not specified. Will return the resource name only in the response.",
                    "The mutate response will be the resource name.",
                    "The mutate response will contain the resource name and the resource with mutable fields if possible. Otherwise, only the resource name will be returned."
                  ],
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v23/{+resourceName}:listResults",
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__ListBatchJobResultsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ]
            },
            "mutate": {
              "description": "Mutates a batch job. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]() [ResourceCountLimitExceededError]()",
              "flatPath": "v23/customers/{customersId}/batchJobs:mutate",
              "httpMethod": "POST",
              "id": "searchads360.customers.batchJobs.mutate",
              "parameterOrder": [
                "customerId"
              ],
              "parameters": {
                "customerId": {
                  "description": "Required. The ID of the customer for which to create a batch job.",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v23/customers/{+customerId}/batchJobs:mutate",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateBatchJobRequest"
              },
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateBatchJobResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ]
            },
            "run": {
              "description": "Runs the batch job. The Operation.metadata field type is BatchJobMetadata. When finished, the long running operation will not contain errors or a response. Instead, use ListBatchJobResults to get the results of the job. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [BatchJobError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()",
              "flatPath": "v23/customers/{customersId}/batchJobs/{batchJobsId}:run",
              "httpMethod": "POST",
              "id": "searchads360.customers.batchJobs.run",
              "parameterOrder": [
                "resourceName"
              ],
              "parameters": {
                "resourceName": {
                  "description": "Required. The resource name of the BatchJob to run.",
                  "location": "path",
                  "pattern": "^customers/[^/]+/batchJobs/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v23/{+resourceName}:run",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__RunBatchJobRequest"
              },
              "response": {
                "$ref": "GoogleLongrunning__Operation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ]
            }
          }
        },
        "biddingDataExclusions": {
          "methods": {
            "mutate": {
              "description": "Creates, updates, or removes data exclusions. Operation statuses are returned.",
              "flatPath": "v23/customers/{customersId}/biddingDataExclusions:mutate",
              "httpMethod": "POST",
              "id": "searchads360.customers.biddingDataExclusions.mutate",
              "parameterOrder": [
                "customerId"
              ],
              "parameters": {
                "customerId": {
                  "description": "Required. ID of the customer whose data exclusions are being modified.",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v23/customers/{+customerId}/biddingDataExclusions:mutate",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateBiddingDataExclusionsRequest"
              },
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateBiddingDataExclusionsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ]
            }
          }
        },
        "biddingSeasonalityAdjustments": {
          "methods": {
            "mutate": {
              "description": "Creates, updates, or removes seasonality adjustments. Operation statuses are returned.",
              "flatPath": "v23/customers/{customersId}/biddingSeasonalityAdjustments:mutate",
              "httpMethod": "POST",
              "id": "searchads360.customers.biddingSeasonalityAdjustments.mutate",
              "parameterOrder": [
                "customerId"
              ],
              "parameters": {
                "customerId": {
                  "description": "Required. ID of the customer whose seasonality adjustments are being modified.",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v23/customers/{+customerId}/biddingSeasonalityAdjustments:mutate",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateBiddingSeasonalityAdjustmentsRequest"
              },
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateBiddingSeasonalityAdjustmentsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ]
            }
          }
        },
        "biddingStrategies": {
          "methods": {
            "mutate": {
              "description": "Creates, updates, or removes bidding strategies. Operation statuses are returned. List of thrown errors: [AdxError]() [AuthenticationError]() [AuthorizationError]() [BiddingError]() [BiddingStrategyError]() [ContextError]() [DatabaseError]() [DateError]() [DistinctError]() [FieldError]() [FieldMaskError]() [HeaderError]() [IdError]() [InternalError]() [MutateError]() [NewResourceCreationError]() [NotEmptyError]() [NullError]() [OperationAccessDeniedError]() [OperatorError]() [QuotaError]() [RangeError]() [RequestError]() [SizeLimitError]() [StringFormatError]() [StringLengthError]()",
              "flatPath": "v23/customers/{customersId}/biddingStrategies:mutate",
              "httpMethod": "POST",
              "id": "searchads360.customers.biddingStrategies.mutate",
              "parameterOrder": [
                "customerId"
              ],
              "parameters": {
                "customerId": {
                  "description": "Required. The ID of the customer whose bidding strategies are being modified.",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v23/customers/{+customerId}/biddingStrategies:mutate",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateBiddingStrategiesRequest"
              },
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateBiddingStrategiesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ]
            }
          }
        },
        "billingSetups": {
          "methods": {
            "mutate": {
              "description": "Creates a billing setup, or cancels an existing billing setup. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [BillingSetupError]() [DateError]() [FieldError]() [HeaderError]() [InternalError]() [MutateError]() [QuotaError]() [RequestError]()",
              "flatPath": "v23/customers/{customersId}/billingSetups:mutate",
              "httpMethod": "POST",
              "id": "searchads360.customers.billingSetups.mutate",
              "parameterOrder": [
                "customerId"
              ],
              "parameters": {
                "customerId": {
                  "description": "Required. Id of the customer to apply the billing setup mutate operation to.",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v23/customers/{+customerId}/billingSetups:mutate",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateBillingSetupRequest"
              },
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateBillingSetupResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ]
            }
          }
        },
        "campaignAssetSets": {
          "methods": {
            "mutate": {
              "description": "Creates, updates or removes campaign asset sets. Operation statuses are returned.",
              "flatPath": "v23/customers/{customersId}/campaignAssetSets:mutate",
              "httpMethod": "POST",
              "id": "searchads360.customers.campaignAssetSets.mutate",
              "parameterOrder": [
                "customerId"
              ],
              "parameters": {
                "customerId": {
                  "description": "Required. The ID of the customer whose campaign asset sets are being modified.",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v23/customers/{+customerId}/campaignAssetSets:mutate",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateCampaignAssetSetsRequest"
              },
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateCampaignAssetSetsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ]
            }
          }
        },
        "campaignAssets": {
          "methods": {
            "mutate": {
              "description": "Creates or removes campaign assets. Operation statuses are returned. List of thrown errors: [AssetLinkError]() [AuthenticationError]() [AuthorizationError]() [ContextError]() [DatabaseError]() [FieldError]() [HeaderError]() [InternalError]() [MutateError]() [NotAllowlistedError]() [QuotaError]() [RequestError]()",
              "flatPath": "v23/customers/{customersId}/campaignAssets:mutate",
              "httpMethod": "POST",
              "id": "searchads360.customers.campaignAssets.mutate",
              "parameterOrder": [
                "customerId"
              ],
              "parameters": {
                "customerId": {
                  "description": "Required. The ID of the customer whose campaign assets are being modified.",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v23/customers/{+customerId}/campaignAssets:mutate",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateCampaignAssetsRequest"
              },
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateCampaignAssetsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ]
            }
          }
        },
        "campaignBidModifiers": {
          "methods": {
            "mutate": {
              "description": "Creates, updates, or removes campaign bid modifiers. Operation statuses are returned. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [ContextError]() [CriterionError]() [DatabaseError]() [DateError]() [DistinctError]() [FieldError]() [HeaderError]() [IdError]() [InternalError]() [MutateError]() [NewResourceCreationError]() [NotEmptyError]() [NullError]() [OperatorError]() [QuotaError]() [RangeError]() [RequestError]() [SizeLimitError]() [StringFormatError]() [StringLengthError]()",
              "flatPath": "v23/customers/{customersId}/campaignBidModifiers:mutate",
              "httpMethod": "POST",
              "id": "searchads360.customers.campaignBidModifiers.mutate",
              "parameterOrder": [
                "customerId"
              ],
              "parameters": {
                "customerId": {
                  "description": "Required. ID of the customer whose campaign bid modifiers are being modified.",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v23/customers/{+customerId}/campaignBidModifiers:mutate",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateCampaignBidModifiersRequest"
              },
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateCampaignBidModifiersResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ]
            }
          }
        },
        "campaignBudgets": {
          "methods": {
            "mutate": {
              "description": "Creates, updates, or removes campaign budgets. Operation statuses are returned. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [CampaignBudgetError]() [DatabaseError]() [DistinctError]() [FieldError]() [FieldMaskError]() [HeaderError]() [InternalError]() [MutateError]() [NewResourceCreationError]() [OperationAccessDeniedError]() [QuotaError]() [RangeError]() [RequestError]() [ResourceCountLimitExceededError]() [StringLengthError]()",
              "flatPath": "v23/customers/{customersId}/campaignBudgets:mutate",
              "httpMethod": "POST",
              "id": "searchads360.customers.campaignBudgets.mutate",
              "parameterOrder": [
                "customerId"
              ],
              "parameters": {
                "customerId": {
                  "description": "Required. The ID of the customer whose campaign budgets are being modified.",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v23/customers/{+customerId}/campaignBudgets:mutate",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateCampaignBudgetsRequest"
              },
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateCampaignBudgetsResponse"
              },
[...]
