{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "basePath": "",
  "baseUrl": "https://securitycenter.googleapis.com/",
  "batchPath": "batch",
  "canonicalName": "Security Command Center",
  "description": "Security Command Center API provides access to temporal views of assets and findings within an organization.",
  "discoveryVersion": "v1",
  "documentationLink": "https://cloud.google.com/security-command-center",
  "endpoints": [
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://securitycenter.me-central2.rep.googleapis.com/",
      "location": "me-central2"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://securitycenter.us.rep.googleapis.com/",
      "location": "us"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://securitycenter.eu.rep.googleapis.com/",
      "location": "eu"
    }
  ],
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "id": "securitycenter:v1",
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://securitycenter.mtls.googleapis.com/",
  "name": "securitycenter",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "parameters": {
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "protocol": "rest",
  "resources": {
    "folders": {
      "resources": {
        "assets": {
          "methods": {
            "group": {
              "deprecated": true,
              "description": "",
              "flatPath": "v1/folders/{foldersId}/assets:group",
              "httpMethod": "POST",
              "id": "securitycenter.folders.assets.group",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^folders/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/{+parent}/assets:group",
              "request": {
                "$ref": "GroupAssetsRequest"
              },
              "response": {
                "$ref": "GroupAssetsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "deprecated": true,
              "description": "",
              "flatPath": "v1/folders/{foldersId}/assets",
              "httpMethod": "GET",
              "id": "securitycenter.folders.assets.list",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "compareDuration": {
                  "format": "google-duration",
                  "location": "query",
                  "type": "string"
                },
                "fieldMask": {
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string"
                },
                "filter": {
                  "location": "query",
                  "type": "string"
                },
                "orderBy": {
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "location": "path",
                  "pattern": "^folders/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "readTime": {
                  "format": "google-datetime",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v1/{+parent}/assets",
              "response": {
                "$ref": "ListAssetsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "updateSecurityMarks": {
              "description": "",
              "flatPath": "v1/folders/{foldersId}/assets/{assetsId}/securityMarks",
              "httpMethod": "PATCH",
              "id": "securitycenter.folders.assets.updateSecurityMarks",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^folders/[^/]+/assets/[^/]+/securityMarks$",
                  "required": true,
                  "type": "string"
                },
                "startTime": {
                  "format": "google-datetime",
                  "location": "query",
                  "type": "string"
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v1/{+name}",
              "request": {
                "$ref": "SecurityMarks"
              },
              "response": {
                "$ref": "SecurityMarks"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        },
        "bigQueryExports": {
          "methods": {
            "create": {
              "description": "",
              "flatPath": "v1/folders/{foldersId}/bigQueryExports",
              "httpMethod": "POST",
              "id": "securitycenter.folders.bigQueryExports.create",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "bigQueryExportId": {
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "location": "path",
                  "pattern": "^folders/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/{+parent}/bigQueryExports",
              "request": {
                "$ref": "GoogleCloudSecuritycenterV1BigQueryExport"
              },
              "response": {
                "$ref": "GoogleCloudSecuritycenterV1BigQueryExport"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "delete": {
              "description": "",
              "flatPath": "v1/folders/{foldersId}/bigQueryExports/{bigQueryExportsId}",
              "httpMethod": "DELETE",
              "id": "securitycenter.folders.bigQueryExports.delete",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^folders/[^/]+/bigQueryExports/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/{+name}",
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "get": {
              "description": "",
              "flatPath": "v1/folders/{foldersId}/bigQueryExports/{bigQueryExportsId}",
              "httpMethod": "GET",
              "id": "securitycenter.folders.bigQueryExports.get",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^folders/[^/]+/bigQueryExports/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/{+name}",
              "response": {
                "$ref": "GoogleCloudSecuritycenterV1BigQueryExport"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "description": "",
              "flatPath": "v1/folders/{foldersId}/bigQueryExports",
              "httpMethod": "GET",
              "id": "securitycenter.folders.bigQueryExports.list",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "location": "path",
                  "pattern": "^folders/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/{+parent}/bigQueryExports",
              "response": {
                "$ref": "ListBigQueryExportsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "patch": {
              "description": "",
              "flatPath": "v1/folders/{foldersId}/bigQueryExports/{bigQueryExportsId}",
              "httpMethod": "PATCH",
              "id": "securitycenter.folders.bigQueryExports.patch",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^folders/[^/]+/bigQueryExports/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v1/{+name}",
              "request": {
                "$ref": "GoogleCloudSecuritycenterV1BigQueryExport"
              },
              "response": {
                "$ref": "GoogleCloudSecuritycenterV1BigQueryExport"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        },
        "eventThreatDetectionSettings": {
          "methods": {
            "validateCustomModule": {
              "description": "",
              "flatPath": "v1/folders/{foldersId}/eventThreatDetectionSettings:validateCustomModule",
              "httpMethod": "POST",
              "id": "securitycenter.folders.eventThreatDetectionSettings.validateCustomModule",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^folders/[^/]+/eventThreatDetectionSettings$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/{+parent}:validateCustomModule",
              "request": {
                "$ref": "ValidateEventThreatDetectionCustomModuleRequest"
              },
              "response": {
                "$ref": "ValidateEventThreatDetectionCustomModuleResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          },
          "resources": {
            "customModules": {
              "methods": {
                "create": {
                  "description": "",
                  "flatPath": "v1/folders/{foldersId}/eventThreatDetectionSettings/customModules",
                  "httpMethod": "POST",
                  "id": "securitycenter.folders.eventThreatDetectionSettings.customModules.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^folders/[^/]+/eventThreatDetectionSettings$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+parent}/customModules",
                  "request": {
                    "$ref": "EventThreatDetectionCustomModule"
                  },
                  "response": {
                    "$ref": "EventThreatDetectionCustomModule"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "description": "",
                  "flatPath": "v1/folders/{foldersId}/eventThreatDetectionSettings/customModules/{customModulesId}",
                  "httpMethod": "DELETE",
                  "id": "securitycenter.folders.eventThreatDetectionSettings.customModules.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^folders/[^/]+/eventThreatDetectionSettings/customModules/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "description": "",
                  "flatPath": "v1/folders/{foldersId}/eventThreatDetectionSettings/customModules/{customModulesId}",
                  "httpMethod": "GET",
                  "id": "securitycenter.folders.eventThreatDetectionSettings.customModules.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^folders/[^/]+/eventThreatDetectionSettings/customModules/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "EventThreatDetectionCustomModule"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "description": "",
                  "flatPath": "v1/folders/{foldersId}/eventThreatDetectionSettings/customModules",
                  "httpMethod": "GET",
                  "id": "securitycenter.folders.eventThreatDetectionSettings.customModules.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "pattern": "^folders/[^/]+/eventThreatDetectionSettings$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+parent}/customModules",
                  "response": {
                    "$ref": "ListEventThreatDetectionCustomModulesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "listDescendant": {
                  "description": "",
                  "flatPath": "v1/folders/{foldersId}/eventThreatDetectionSettings/customModules:listDescendant",
                  "httpMethod": "GET",
                  "id": "securitycenter.folders.eventThreatDetectionSettings.customModules.listDescendant",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "pattern": "^folders/[^/]+/eventThreatDetectionSettings$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+parent}/customModules:listDescendant",
                  "response": {
                    "$ref": "ListDescendantEventThreatDetectionCustomModulesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "patch": {
                  "description": "",
                  "flatPath": "v1/folders/{foldersId}/eventThreatDetectionSettings/customModules/{customModulesId}",
                  "httpMethod": "PATCH",
                  "id": "securitycenter.folders.eventThreatDetectionSettings.customModules.patch",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^folders/[^/]+/eventThreatDetectionSettings/customModules/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "request": {
                    "$ref": "EventThreatDetectionCustomModule"
                  },
                  "response": {
                    "$ref": "EventThreatDetectionCustomModule"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "effectiveCustomModules": {
              "methods": {
                "get": {
                  "description": "",
                  "flatPath": "v1/folders/{foldersId}/eventThreatDetectionSettings/effectiveCustomModules/{effectiveCustomModulesId}",
                  "httpMethod": "GET",
                  "id": "securitycenter.folders.eventThreatDetectionSettings.effectiveCustomModules.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^folders/[^/]+/eventThreatDetectionSettings/effectiveCustomModules/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "EffectiveEventThreatDetectionCustomModule"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "description": "",
                  "flatPath": "v1/folders/{foldersId}/eventThreatDetectionSettings/effectiveCustomModules",
                  "httpMethod": "GET",
                  "id": "securitycenter.folders.eventThreatDetectionSettings.effectiveCustomModules.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "pattern": "^folders/[^/]+/eventThreatDetectionSettings$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+parent}/effectiveCustomModules",
                  "response": {
                    "$ref": "ListEffectiveEventThreatDetectionCustomModulesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            }
          }
        },
        "findings": {
          "methods": {
            "bulkMute": {
              "description": "",
              "flatPath": "v1/folders/{foldersId}/findings:bulkMute",
              "httpMethod": "POST",
              "id": "securitycenter.folders.findings.bulkMute",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^folders/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/{+parent}/findings:bulkMute",
              "request": {
                "$ref": "BulkMuteFindingsRequest"
              },
              "response": {
                "$ref": "Operation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        },
        "locations": {
          "resources": {
            "muteConfigs": {
              "methods": {
                "delete": {
                  "description": "",
                  "flatPath": "v1/folders/{foldersId}/locations/{locationsId}/muteConfigs/{muteConfigsId}",
                  "httpMethod": "DELETE",
                  "id": "securitycenter.folders.locations.muteConfigs.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^folders/[^/]+/locations/[^/]+/muteConfigs/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "description": "",
                  "flatPath": "v1/folders/{foldersId}/locations/{locationsId}/muteConfigs/{muteConfigsId}",
                  "httpMethod": "GET",
                  "id": "securitycenter.folders.locations.muteConfigs.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^folders/[^/]+/locations/[^/]+/muteConfigs/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleCloudSecuritycenterV1MuteConfig"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "patch": {
                  "description": "",
                  "flatPath": "v1/folders/{foldersId}/locations/{locationsId}/muteConfigs/{muteConfigsId}",
                  "httpMethod": "PATCH",
                  "id": "securitycenter.folders.locations.muteConfigs.patch",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^folders/[^/]+/locations/[^/]+/muteConfigs/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "request": {
                    "$ref": "GoogleCloudSecuritycenterV1MuteConfig"
                  },
                  "response": {
                    "$ref": "GoogleCloudSecuritycenterV1MuteConfig"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            }
          }
        },
        "muteConfigs": {
          "methods": {
            "create": {
              "description": "",
              "flatPath": "v1/folders/{foldersId}/muteConfigs",
              "httpMethod": "POST",
              "id": "securitycenter.folders.muteConfigs.create",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "muteConfigId": {
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "location": "path",
                  "pattern": "^folders/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/{+parent}/muteConfigs",
              "request": {
                "$ref": "GoogleCloudSecuritycenterV1MuteConfig"
              },
              "response": {
                "$ref": "GoogleCloudSecuritycenterV1MuteConfig"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "delete": {
              "description": "",
              "flatPath": "v1/folders/{foldersId}/muteConfigs/{muteConfigsId}",
              "httpMethod": "DELETE",
              "id": "securitycenter.folders.muteConfigs.delete",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^folders/[^/]+/muteConfigs/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/{+name}",
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "get": {
              "description": "",
              "flatPath": "v1/folders/{foldersId}/muteConfigs/{muteConfigsId}",
              "httpMethod": "GET",
              "id": "securitycenter.folders.muteConfigs.get",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^folders/[^/]+/muteConfigs/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/{+name}",
              "response": {
                "$ref": "GoogleCloudSecuritycenterV1MuteConfig"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "description": "",
              "flatPath": "v1/folders/{foldersId}/muteConfigs",
              "httpMethod": "GET",
              "id": "securitycenter.folders.muteConfigs.list",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "location": "path",
                  "pattern": "^folders/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/{+parent}/muteConfigs",
              "response": {
                "$ref": "ListMuteConfigsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "patch": {
              "description": "",
              "flatPath": "v1/folders/{foldersId}/muteConfigs/{muteConfigsId}",
              "httpMethod": "PATCH",
              "id": "securitycenter.folders.muteConfigs.patch",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^folders/[^/]+/muteConfigs/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v1/{+name}",
              "request": {
                "$ref": "GoogleCloudSecuritycenterV1MuteConfig"
              },
              "response": {
                "$ref": "GoogleCloudSecuritycenterV1MuteConfig"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        },
        "notificationConfigs": {
          "methods": {
            "create": {
              "description": "",
              "flatPath": "v1/folders/{foldersId}/notificationConfigs",
              "httpMethod": "POST",
              "id": "securitycenter.folders.notificationConfigs.create",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "configId": {
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "location": "path",
                  "pattern": "^folders/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/{+parent}/notificationConfigs",
              "request": {
                "$ref": "NotificationConfig"
              },
              "response": {
                "$ref": "NotificationConfig"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "delete": {
              "description": "",
              "flatPath": "v1/folders/{foldersId}/notificationConfigs/{notificationConfigsId}",
              "httpMethod": "DELETE",
              "id": "securitycenter.folders.notificationConfigs.delete",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^folders/[^/]+/notificationConfigs/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/{+name}",
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "get": {
              "description": "",
              "flatPath": "v1/folders/{foldersId}/notificationConfigs/{notificationConfigsId}",
              "httpMethod": "GET",
              "id": "securitycenter.folders.notificationConfigs.get",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^folders/[^/]+/notificationConfigs/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/{+name}",
              "response": {
                "$ref": "NotificationConfig"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "description": "",
              "flatPath": "v1/folders/{foldersId}/notificationConfigs",
              "httpMethod": "GET",
              "id": "securitycenter.folders.notificationConfigs.list",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "location": "path",
                  "pattern": "^folders/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/{+parent}/notificationConfigs",
              "response": {
                "$ref": "ListNotificationConfigsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "patch": {
              "description": "",
              "flatPath": "v1/folders/{foldersId}/notificationConfigs/{notificationConfigsId}",
              "httpMethod": "PATCH",
              "id": "securitycenter.folders.notificationConfigs.patch",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^folders/[^/]+/notificationConfigs/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v1/{+name}",
              "request": {
                "$ref": "NotificationConfig"
              },
              "response": {
                "$ref": "NotificationConfig"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        },
        "securityHealthAnalyticsSettings": {
          "resources": {
            "customModules": {
              "methods": {
                "create": {
                  "description": "",
                  "flatPath": "v1/folders/{foldersId}/securityHealthAnalyticsSettings/customModules",
                  "httpMethod": "POST",
                  "id": "securitycenter.folders.securityHealthAnalyticsSettings.customModules.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^folders/[^/]+/securityHealthAnalyticsSettings$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+parent}/customModules",
                  "request": {
                    "$ref": "GoogleCloudSecuritycenterV1SecurityHealthAnalyticsCustomModule"
                  },
                  "response": {
                    "$ref": "GoogleCloudSecuritycenterV1SecurityHealthAnalyticsCustomModule"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "description": "",
                  "flatPath": "v1/folders/{foldersId}/securityHealthAnalyticsSettings/customModules/{customModulesId}",
                  "httpMethod": "DELETE",
                  "id": "securitycenter.folders.securityHealthAnalyticsSettings.customModules.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^folders/[^/]+/securityHealthAnalyticsSettings/customModules/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "description": "",
                  "flatPath": "v1/folders/{foldersId}/securityHealthAnalyticsSettings/customModules/{customModulesId}",
                  "httpMethod": "GET",
                  "id": "securitycenter.folders.securityHealthAnalyticsSettings.customModules.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^folders/[^/]+/securityHealthAnalyticsSettings/customModules/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleCloudSecuritycenterV1SecurityHealthAnalyticsCustomModule"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "description": "",
                  "flatPath": "v1/folders/{foldersId}/securityHealthAnalyticsSettings/customModules",
                  "httpMethod": "GET",
                  "id": "securitycenter.folders.securityHealthAnalyticsSettings.customModules.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "pattern": "^folders/[^/]+/securityHealthAnalyticsSettings$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+parent}/customModules",
                  "response": {
                    "$ref": "ListSecurityHealthAnalyticsCustomModulesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "listDescendant": {
                  "description": "",
                  "flatPath": "v1/folders/{foldersId}/securityHealthAnalyticsSettings/customModules:listDescendant",
                  "httpMethod": "GET",
                  "id": "securitycenter.folders.securityHealthAnalyticsSettings.customModules.listDescendant",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "pattern": "^folders/[^/]+/securityHealthAnalyticsSettings$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+parent}/customModules:listDescendant",
                  "response": {
                    "$ref": "ListDescendantSecurityHealthAnalyticsCustomModulesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "patch": {
                  "description": "",
                  "flatPath": "v1/folders/{foldersId}/securityHealthAnalyticsSettings/customModules/{customModulesId}",
                  "httpMethod": "PATCH",
                  "id": "securitycenter.folders.securityHealthAnalyticsSettings.customModules.patch",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^folders/[^/]+/securityHealthAnalyticsSettings/customModules/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "request": {
                    "$ref": "GoogleCloudSecuritycenterV1SecurityHealthAnalyticsCustomModule"
                  },
                  "response": {
                    "$ref": "GoogleCloudSecuritycenterV1SecurityHealthAnalyticsCustomModule"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "simulate": {
                  "description": "",
                  "flatPath": "v1/folders/{foldersId}/securityHealthAnalyticsSettings/customModules:simulate",
                  "httpMethod": "POST",
                  "id": "securitycenter.folders.securityHealthAnalyticsSettings.customModules.simulate",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^folders/[^/]+/securityHealthAnalyticsSettings$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+parent}/customModules:simulate",
                  "request": {
                    "$ref": "SimulateSecurityHealthAnalyticsCustomModuleRequest"
                  },
                  "response": {
                    "$ref": "SimulateSecurityHealthAnalyticsCustomModuleResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "effectiveCustomModules": {
              "methods": {
                "get": {
                  "description": "",
                  "flatPath": "v1/folders/{foldersId}/securityHealthAnalyticsSettings/effectiveCustomModules/{effectiveCustomModulesId}",
                  "httpMethod": "GET",
                  "id": "securitycenter.folders.securityHealthAnalyticsSettings.effectiveCustomModules.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^folders/[^/]+/securityHealthAnalyticsSettings/effectiveCustomModules/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleCloudSecuritycenterV1EffectiveSecurityHealthAnalyticsCustomModule"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "description": "",
                  "flatPath": "v1/folders/{foldersId}/securityHealthAnalyticsSettings/effectiveCustomModules",
                  "httpMethod": "GET",
                  "id": "securitycenter.folders.securityHealthAnalyticsSettings.effectiveCustomModules.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "pattern": "^folders/[^/]+/securityHealthAnalyticsSettings$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+parent}/effectiveCustomModules",
                  "response": {
                    "$ref": "ListEffectiveSecurityHealthAnalyticsCustomModulesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            }
          }
        },
        "sources": {
          "methods": {
            "list": {
              "description": "",
              "flatPath": "v1/folders/{foldersId}/sources",
              "httpMethod": "GET",
              "id": "securitycenter.folders.sources.list",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "location": "path",
                  "pattern": "^folders/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/{+parent}/sources",
              "response": {
                "$ref": "ListSourcesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          },
          "resources": {
            "findings": {
              "methods": {
                "group": {
                  "description": "",
                  "flatPath": "v1/folders/{foldersId}/sources/{sourcesId}/findings:group",
                  "httpMethod": "POST",
                  "id": "securitycenter.folders.sources.findings.group",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^folders/[^/]+/sources/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+parent}/findings:group",
                  "request": {
                    "$ref": "GroupFindingsRequest"
                  },
                  "response": {
                    "$ref": "GroupFindingsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "description": "",
                  "flatPath": "v1/folders/{foldersId}/sources/{sourcesId}/findings",
                  "httpMethod": "GET",
                  "id": "securitycenter.folders.sources.findings.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "compareDuration": {
                      "deprecated": true,
                      "format": "google-duration",
                      "location": "query",
                      "type": "string"
                    },
                    "fieldMask": {
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string"
                    },
                    "orderBy": {
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "pattern": "^folders/[^/]+/sources/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "readTime": {
                      "deprecated": true,
                      "format": "google-datetime",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+parent}/findings",
                  "response": {
                    "$ref": "ListFindingsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "patch": {
                  "description": "",
                  "flatPath": "v1/folders/{foldersId}/sources/{sourcesId}/findings/{findingsId}",
                  "httpMethod": "PATCH",
                  "id": "securitycenter.folders.sources.findings.patch",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^folders/[^/]+/sources/[^/]+/findings/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "request": {
                    "$ref": "Finding"
                  },
                  "response": {
                    "$ref": "Finding"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "setMute": {
                  "description": "",
                  "flatPath": "v1/folders/{foldersId}/sources/{sourcesId}/findings/{findingsId}:setMute",
                  "httpMethod": "POST",
                  "id": "securitycenter.folders.sources.findings.setMute",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^folders/[^/]+/sources/[^/]+/findings/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}:setMute",
                  "request": {
                    "$ref": "SetMuteRequest"
                  },
                  "response": {
                    "$ref": "Finding"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "setState": {
                  "description": "",
                  "flatPath": "v1/folders/{foldersId}/sources/{sourcesId}/findings/{findingsId}:setState",
                  "httpMethod": "POST",
                  "id": "securitycenter.folders.sources.findings.setState",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^folders/[^/]+/sources/[^/]+/findings/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}:setState",
                  "request": {
                    "$ref": "SetFindingStateRequest"
                  },
                  "response": {
                    "$ref": "Finding"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "updateSecurityMarks": {
                  "description": "",
                  "flatPath": "v1/folders/{foldersId}/sources/{sourcesId}/findings/{findingsId}/securityMarks",
                  "httpMethod": "PATCH",
                  "id": "securitycenter.folders.sources.findings.updateSecurityMarks",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^folders/[^/]+/sources/[^/]+/findings/[^/]+/securityMarks$",
                      "required": true,
                      "type": "string"
                    },
                    "startTime": {
                      "format": "google-datetime",
                      "location": "query",
                      "type": "string"
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "request": {
                    "$ref": "SecurityMarks"
                  },
                  "response": {
                    "$ref": "SecurityMarks"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              },
              "resources": {
                "externalSystems": {
                  "methods": {
                    "patch": {
                      "description": "",
                      "flatPath": "v1/folders/{foldersId}/sources/{sourcesId}/findings/{findingsId}/externalSystems/{externalSystemsId}",
                      "httpMethod": "PATCH",
                      "id": "securitycenter.folders.sources.findings.externalSystems.patch",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^folders/[^/]+/sources/[^/]+/findings/[^/]+/externalSystems/[^/]+$",
                          "required": true,
                          "type": "string"
                        },
                        "updateMask": {
                          "format": "google-fieldmask",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "path": "v1/{+name}",
                      "request": {
                        "$ref": "GoogleCloudSecuritycenterV1ExternalSystem"
                      },
                      "response": {
                        "$ref": "GoogleCloudSecuritycenterV1ExternalSystem"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "organizations": {
      "methods": {
        "getOrganizationSettings": {
          "description": "",
          "flatPath": "v1/organizations/{organizationsId}/organizationSettings",
          "httpMethod": "GET",
          "id": "securitycenter.organizations.getOrganizationSettings",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "location": "path",
              "pattern": "^organizations/[^/]+/organizationSettings$",
              "required": true,
              "type": "string"
            }
          },
          "path": "v1/{+name}",
          "response": {
            "$ref": "OrganizationSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "updateOrganizationSettings": {
          "deprecated": true,
          "description": "",
          "flatPath": "v1/organizations/{organizationsId}/organizationSettings",
          "httpMethod": "PATCH",
          "id": "securitycenter.organizations.updateOrganizationSettings",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "location": "path",
              "pattern": "^organizations/[^/]+/organizationSettings$",
              "required": true,
              "type": "string"
            },
            "updateMask": {
              "format": "google-fieldmask",
              "location": "query",
              "type": "string"
            }
          },
          "path": "v1/{+name}",
          "request": {
            "$ref": "OrganizationSettings"
          },
          "response": {
            "$ref": "OrganizationSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        }
      },
      "resources": {
        "assets": {
          "methods": {
            "group": {
              "deprecated": true,
              "description": "",
              "flatPath": "v1/organizations/{organizationsId}/assets:group",
              "httpMethod": "POST",
              "id": "securitycenter.organizations.assets.group",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^organizations/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/{+parent}/assets:group",
              "request": {
                "$ref": "GroupAssetsRequest"
              },
              "response": {
                "$ref": "GroupAssetsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "deprecated": true,
              "description": "",
              "flatPath": "v1/organizations/{organizationsId}/assets",
              "httpMethod": "GET",
              "id": "securitycenter.organizations.assets.list",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "compareDuration": {
                  "format": "google-duration",
                  "location": "query",
                  "type": "string"
                },
                "fieldMask": {
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string"
                },
                "filter": {
                  "location": "query",
                  "type": "string"
                },
                "orderBy": {
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "location": "path",
                  "pattern": "^organizations/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "readTime": {
                  "format": "google-datetime",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v1/{+parent}/assets",
              "response": {
                "$ref": "ListAssetsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "runDiscovery": {
              "deprecated": true,
              "description": "",
              "flatPath": "v1/organizations/{organizationsId}/assets:runDiscovery",
              "httpMethod": "POST",
              "id": "securitycenter.organizations.assets.runDiscovery",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^organizations/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/{+parent}/assets:runDiscovery",
              "request": {
                "$ref": "RunAssetDiscoveryRequest"
              },
              "response": {
                "$ref": "Operation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "updateSecurityMarks": {
              "description": "",
              "flatPath": "v1/organizations/{organizationsId}/assets/{assetsId}/securityMarks",
              "httpMethod": "PATCH",
              "id": "securitycenter.organizations.assets.updateSecurityMarks",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^organizations/[^/]+/assets/[^/]+/securityMarks$",
                  "required": true,
                  "type": "string"
                },
                "startTime": {
                  "format": "google-datetime",
                  "location": "query",
                  "type": "string"
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v1/{+name}",
              "request": {
                "$ref": "SecurityMarks"
              },
              "response": {
                "$ref": "SecurityMarks"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        },
        "attackPaths": {
          "methods": {
            "list": {
              "description": "",
              "flatPath": "v1/organizations/{organizationsId}/attackPaths",
              "httpMethod": "GET",
              "id": "securitycenter.organizations.attackPaths.list",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "filter": {
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "location": "path",
                  "pattern": "^organizations/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/{+parent}/attackPaths",
              "response": {
                "$ref": "ListAttackPathsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        },
        "bigQueryExports": {
          "methods": {
            "create": {
              "description": "",
              "flatPath": "v1/organizations/{organizationsId}/bigQueryExports",
              "httpMethod": "POST",
              "id": "securitycenter.organizations.bigQueryExports.create",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "bigQueryExportId": {
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "location": "path",
                  "pattern": "^organizations/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/{+parent}/bigQueryExports",
              "request": {
                "$ref": "GoogleCloudSecuritycenterV1BigQueryExport"
              },
              "response": {
                "$ref": "GoogleCloudSecuritycenterV1BigQueryExport"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "delete": {
              "description": "",
              "flatPath": "v1/organizations/{organizationsId}/bigQueryExports/{bigQueryExportsId}",
              "httpMethod": "DELETE",
              "id": "securitycenter.organizations.bigQueryExports.delete",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^organizations/[^/]+/bigQueryExports/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/{+name}",
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "get": {
              "description": "",
              "flatPath": "v1/organizations/{organizationsId}/bigQueryExports/{bigQueryExportsId}",
              "httpMethod": "GET",
              "id": "securitycenter.organizations.bigQueryExports.get",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^organizations/[^/]+/bigQueryExports/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/{+name}",
              "response": {
                "$ref": "GoogleCloudSecuritycenterV1BigQueryExport"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "description": "",
              "flatPath": "v1/organizations/{organizationsId}/bigQueryExports",
              "httpMethod": "GET",
              "id": "securitycenter.organizations.bigQueryExports.list",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "location": "path",
                  "pattern": "^organizations/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/{+parent}/bigQueryExports",
              "response": {
                "$ref": "ListBigQueryExportsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "patch": {
              "description": "",
              "flatPath": "v1/organizations/{organizationsId}/bigQueryExports/{bigQueryExportsId}",
              "httpMethod": "PATCH",
              "id": "securitycenter.organizations.bigQueryExports.patch",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^organizations/[^/]+/bigQueryExports/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v1/{+name}",
              "request": {
                "$ref": "GoogleCloudSecuritycenterV1BigQueryExport"
              },
              "response": {
                "$ref": "GoogleCloudSecuritycenterV1BigQueryExport"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        },
        "eventThreatDetectionSettings": {
          "methods": {
            "validateCustomModule": {
              "description": "",
              "flatPath": "v1/organizations/{organizationsId}/eventThreatDetectionSettings:validateCustomModule",
              "httpMethod": "POST",
              "id": "securitycenter.organizations.eventThreatDetectionSettings.validateCustomModule",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^organizations/[^/]+/eventThreatDetectionSettings$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/{+parent}:validateCustomModule",
              "request": {
                "$ref": "ValidateEventThreatDetectionCustomModuleRequest"
              },
              "response": {
                "$ref": "ValidateEventThreatDetectionCustomModuleResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          },
          "resources": {
            "customModules": {
              "methods": {
                "create": {
                  "description": "",
                  "flatPath": "v1/organizations/{organizationsId}/eventThreatDetectionSettings/customModules",
                  "httpMethod": "POST",
                  "id": "securitycenter.organizations.eventThreatDetectionSettings.customModules.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^organizations/[^/]+/eventThreatDetectionSettings$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+parent}/customModules",
                  "request": {
                    "$ref": "EventThreatDetectionCustomModule"
                  },
                  "response": {
                    "$ref": "EventThreatDetectionCustomModule"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "description": "",
                  "flatPath": "v1/organizations/{organizationsId}/eventThreatDetectionSettings/customModules/{customModulesId}",
                  "httpMethod": "DELETE",
                  "id": "securitycenter.organizations.eventThreatDetectionSettings.customModules.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^organizations/[^/]+/eventThreatDetectionSettings/customModules/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "description": "",
                  "flatPath": "v1/organizations/{organizationsId}/eventThreatDetectionSettings/customModules/{customModulesId}",
                  "httpMethod": "GET",
                  "id": "securitycenter.organizations.eventThreatDetectionSettings.customModules.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^organizations/[^/]+/eventThreatDetectionSettings/customModules/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "EventThreatDetectionCustomModule"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "description": "",
                  "flatPath": "v1/organizations/{organizationsId}/eventThreatDetectionSettings/customModules",
                  "httpMethod": "GET",
                  "id": "securitycenter.organizations.eventThreatDetectionSettings.customModules.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "pattern": "^organizations/[^/]+/eventThreatDetectionSettings$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+parent}/customModules",
                  "response": {
                    "$ref": "ListEventThreatDetectionCustomModulesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "listDescendant": {
                  "description": "",
                  "flatPath": "v1/organizations/{organizationsId}/eventThreatDetectionSettings/customModules:listDescendant",
                  "httpMethod": "GET",
                  "id": "securitycenter.organizations.eventThreatDetectionSettings.customModules.listDescendant",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "pattern": "^organizations/[^/]+/eventThreatDetectionSettings$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+parent}/customModules:listDescendant",
                  "response": {
                    "$ref": "ListDescendantEventThreatDetectionCustomModulesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "patch": {
                  "description": "",
                  "flatPath": "v1/organizations/{organizationsId}/eventThreatDetectionSettings/customModules/{customModulesId}",
                  "httpMethod": "PATCH",
                  "id": "securitycenter.organizations.eventThreatDetectionSettings.customModules.patch",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^organizations/[^/]+/eventThreatDetectionSettings/customModules/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "request": {
                    "$ref": "EventThreatDetectionCustomModule"
                  },
                  "response": {
                    "$ref": "EventThreatDetectionCustomModule"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "effectiveCustomModules": {
              "methods": {
                "get": {
                  "description": "",
                  "flatPath": "v1/organizations/{organizationsId}/eventThreatDetectionSettings/effectiveCustomModules/{effectiveCustomModulesId}",
                  "httpMethod": "GET",
                  "id": "securitycenter.organizations.eventThreatDetectionSettings.effectiveCustomModules.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^organizations/[^/]+/eventThreatDetectionSettings/effectiveCustomModules/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "EffectiveEventThreatDetectionCustomModule"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "description": "",
                  "flatPath": "v1/organizations/{organizationsId}/eventThreatDetectionSettings/effectiveCustomModules",
                  "httpMethod": "GET",
                  "id": "securitycenter.organizations.eventThreatDetectionSettings.effectiveCustomModules.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "pattern": "^organizations/[^/]+/eventThreatDetectionSettings$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+parent}/effectiveCustomModules",
                  "response": {
                    "$ref": "ListEffectiveEventThreatDetectionCustomModulesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            }
          }
        },
        "findings": {
          "methods": {
            "bulkMute": {
              "description": "",
              "flatPath": "v1/organizations/{organizationsId}/findings:bulkMute",
              "httpMethod": "POST",
              "id": "securitycenter.organizations.findings.bulkMute",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^organizations/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/{+parent}/findings:bulkMute",
              "request": {
                "$ref": "BulkMuteFindingsRequest"
              },
              "response": {
                "$ref": "Operation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        },
        "locations": {
          "resources": {
            "muteConfigs": {
              "methods": {
                "delete": {
                  "description": "",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/muteConfigs/{muteConfigsId}",
                  "httpMethod": "DELETE",
                  "id": "securitycenter.organizations.locations.muteConfigs.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/muteConfigs/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "description": "",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/muteConfigs/{muteConfigsId}",
                  "httpMethod": "GET",
                  "id": "securitycenter.organizations.locations.muteConfigs.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/muteConfigs/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleCloudSecuritycenterV1MuteConfig"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "patch": {
                  "description": "",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/muteConfigs/{muteConfigsId}",
                  "httpMethod": "PATCH",
                  "id": "securitycenter.organizations.locations.muteConfigs.patch",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/muteConfigs/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "request": {
                    "$ref": "GoogleCloudSecuritycenterV1MuteConfig"
                  },
                  "response": {
                    "$ref": "GoogleCloudSecuritycenterV1MuteConfig"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            }
          }
        },
        "muteConfigs": {
          "methods": {
            "create": {
              "description": "",
              "flatPath": "v1/organizations/{organizationsId}/muteConfigs",
              "httpMethod": "POST",
              "id": "securitycenter.organizations.muteConfigs.create",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "muteConfigId": {
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "location": "path",
                  "pattern": "^organizations/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/{+parent}/muteConfigs",
              "request": {
                "$ref": "GoogleCloudSecuritycenterV1MuteConfig"
              },
              "response": {
                "$ref": "GoogleCloudSecuritycenterV1MuteConfig"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "delete": {
              "description": "",
              "flatPath": "v1/organizations/{organizationsId}/muteConfigs/{muteConfigsId}",
              "httpMethod": "DELETE",
              "id": "securitycenter.organizations.muteConfigs.delete",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^organizations/[^/]+/muteConfigs/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/{+name}",
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "get": {
              "description": "",
              "flatPath": "v1/organizations/{organizationsId}/muteConfigs/{muteConfigsId}",
              "httpMethod": "GET",
              "id": "securitycenter.organizations.muteConfigs.get",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^organizations/[^/]+/muteConfigs/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/{+name}",
              "response": {
                "$ref": "GoogleCloudSecuritycenterV1MuteConfig"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "description": "",
              "flatPath": "v1/organizations/{organizationsId}/muteConfigs",
              "httpMethod": "GET",
              "id": "securitycenter.organizations.muteConfigs.list",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "location": "path",
                  "pattern": "^organizations/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/{+parent}/muteConfigs",
              "response": {
                "$ref": "ListMuteConfigsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "patch": {
              "description": "",
              "flatPath": "v1/organizations/{organizationsId}/muteConfigs/{muteConfigsId}",
              "httpMethod": "PATCH",
              "id": "securitycenter.organizations.muteConfigs.patch",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^organizations/[^/]+/muteConfigs/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v1/{+name}",
              "request": {
                "$ref": "GoogleCloudSecuritycenterV1MuteConfig"
              },
              "response": {
                "$ref": "GoogleCloudSecuritycenterV1MuteConfig"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        },
        "notificationConfigs": {
          "methods": {
            "create": {
              "description": "",
              "flatPath": "v1/organizations/{organizationsId}/notificationConfigs",
              "httpMethod": "POST",
              "id": "securitycenter.organizations.notificationConfigs.create",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "configId": {
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "location": "path",
                  "pattern": "^organizations/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/{+parent}/notificationConfigs",
              "request": {
                "$ref": "NotificationConfig"
              },
              "response": {
                "$ref": "NotificationConfig"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "delete": {
              "description": "",
              "flatPath": "v1/organizations/{organizationsId}/notificationConfigs/{notificationConfigsId}",
              "httpMethod": "DELETE",
              "id": "securitycenter.organizations.notificationConfigs.delete",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^organizations/[^/]+/notificationConfigs/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/{+name}",
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "get": {
              "description": "",
              "flatPath": "v1/organizations/{organizationsId}/notificationConfigs/{notificationConfigsId}",
              "httpMethod": "GET",
              "id": "securitycenter.organizations.notificationConfigs.get",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^organizations/[^/]+/notificationConfigs/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/{+name}",
              "response": {
                "$ref": "NotificationConfig"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "description": "",
              "flatPath": "v1/organizations/{organizationsId}/notificationConfigs",
              "httpMethod": "GET",
              "id": "securitycenter.organizations.notificationConfigs.list",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "location": "path",
                  "pattern": "^organizations/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/{+parent}/notificationConfigs",
              "response": {
                "$ref": "ListNotificationConfigsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "patch": {
              "description": "",
              "flatPath": "v1/organizations/{organizationsId}/notificationConfigs/{notificationConfigsId}",
              "httpMethod": "PATCH",
              "id": "securitycenter.organizations.notificationConfigs.patch",
              "parameterOrder": [
                "name"
              ],
[...]
