{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/youtube": {
          "description": "Manage your YouTube account"
        },
        "https://www.googleapis.com/auth/youtube.channel-memberships.creator": {
          "description": "See a list of your current active channel members, their current level, and when they became a member"
        },
        "https://www.googleapis.com/auth/youtube.force-ssl": {
          "description": "See, edit, and permanently delete your YouTube videos, ratings, comments and captions"
        },
        "https://www.googleapis.com/auth/youtube.readonly": {
          "description": "View your YouTube account"
        },
        "https://www.googleapis.com/auth/youtube.upload": {
          "description": "Manage your YouTube videos"
        },
        "https://www.googleapis.com/auth/youtubepartner": {
          "description": "View and manage your assets and associated content on YouTube"
        },
        "https://www.googleapis.com/auth/youtubepartner-channel-audit": {
          "description": "View private information of your YouTube channel relevant during the audit process with a YouTube partner"
        }
      }
    }
  },
  "basePath": "",
  "baseUrl": "https://www.googleapis.com/",
  "batchPath": "batch/youtube",
  "canonicalName": "YouTube",
  "description": "The YouTube Data API v3 is an API that provides access to YouTube data, such as videos, playlists, and channels.",
  "discoveryVersion": "v1",
  "documentationLink": "https://developers.google.com/youtube/",
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "id": "youtube:v3",
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://www.mtls.googleapis.com/",
  "name": "youtube",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "parameters": {
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "protocol": "rest",
  "resources": {
    "abuseReports": {
      "methods": {
        "insert": {
          "description": "Inserts a new resource into this collection.",
          "flatPath": "youtube/v3/abuseReports",
          "httpMethod": "POST",
          "id": "youtube.abuseReports.insert",
          "parameterOrder": [
            "part"
          ],
          "parameters": {
            "part": {
              "description": "The <code><strong>part</strong></code> parameter serves two purposes in\nthis operation. It identifies the properties that the write operation will\nset as well as the properties that the API response will include.",
              "location": "query",
              "repeated": true,
              "required": true,
              "type": "string"
            }
          },
          "path": "youtube/v3/abuseReports",
          "request": {
            "$ref": "AbuseReport"
          },
          "response": {
            "$ref": "AbuseReport"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ]
        }
      }
    },
    "activities": {
      "methods": {
        "list": {
          "description": "Retrieves a list of resources, possibly filtered.",
          "flatPath": "youtube/v3/activities",
          "httpMethod": "GET",
          "id": "youtube.activities.list",
          "parameterOrder": [
            "part"
          ],
          "parameters": {
            "channelId": {
              "location": "query",
              "type": "string"
            },
            "home": {
              "location": "query",
              "type": "boolean"
            },
            "maxResults": {
              "default": "5",
              "description": "The <code><strong>maxResults</strong></code> parameter specifies the\nmaximum number of items that should be returned in the result set.",
              "format": "uint32",
              "location": "query",
              "type": "integer"
            },
            "mine": {
              "location": "query",
              "type": "boolean"
            },
            "pageToken": {
              "description": "The <code><strong>pageToken</strong></code> parameter identifies a specific\npage in the result set that should be returned. In an API response, the\n<code>nextPageToken</code> and <code>prevPageToken</code> properties\nidentify other pages that could be retrieved.",
              "location": "query",
              "type": "string"
            },
            "part": {
              "description": "The <code><strong>part</strong></code> parameter specifies a\ncomma-separated list of one or more <code>activity</code> resource\nproperties that the API response will include.<br><br>If the parameter\nidentifies a property that contains child properties, the child properties\nwill be included in the response. For example, in an <code>activity</code>\nresource, the <code>snippet</code> property contains other properties that\nidentify the type of activity, a display title for the activity, and so\nforth. If you set <code><strong>part=snippet</strong></code>, the API\nresponse will also contain all of those nested properties.",
              "location": "query",
              "repeated": true,
              "required": true,
              "type": "string"
            },
            "publishedAfter": {
              "format": "google-datetime",
              "location": "query",
              "type": "string"
            },
            "publishedBefore": {
              "format": "google-datetime",
              "location": "query",
              "type": "string"
            },
            "regionCode": {
              "location": "query",
              "type": "string"
            }
          },
          "path": "youtube/v3/activities",
          "response": {
            "$ref": "ActivityListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly"
          ]
        }
      }
    },
    "captions": {
      "methods": {
        "delete": {
          "description": "Deletes a resource.",
          "flatPath": "youtube/v3/captions",
          "httpMethod": "DELETE",
          "id": "youtube.captions.delete",
          "parameterOrder": [
            "id"
          ],
          "parameters": {
            "id": {
              "location": "query",
              "required": true,
              "type": "string"
            },
            "onBehalfOf": {
              "description": "ID of the Google+ Page for the channel that the request is be on behalf of",
              "location": "query",
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "description": "<strong>Note:</strong> This parameter is intended exclusively for YouTube\ncontent partners.<br><br>The\n<code><strong>onBehalfOfContentOwner</strong></code> parameter indicates\nthat the request's authorization credentials identify a YouTube CMS user\nwho is acting on behalf of the content owner specified in the parameter\nvalue. This parameter is intended for YouTube content partners that own and\nmanage many different YouTube channels. It allows content owners to\nauthenticate once and get access to all their video and channel data,\nwithout having to provide authentication credentials for each individual\nchannel. The actual CMS account that the user authenticates with must be\nlinked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "youtube/v3/captions",
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        },
        "download": {
          "description": "Downloads a caption track.",
          "flatPath": "youtube/v3/captions/{id}",
          "httpMethod": "GET",
          "id": "youtube.captions.download",
          "parameterOrder": [
            "id"
          ],
          "parameters": {
            "id": {
              "description": "The ID of the caption track to download, required for One Platform.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "onBehalfOf": {
              "description": "ID of the Google+ Page for the channel that the request is be on behalf of",
              "location": "query",
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "description": "<strong>Note:</strong> This parameter is intended exclusively for YouTube\ncontent partners.<br><br>The\n<code><strong>onBehalfOfContentOwner</strong></code> parameter indicates\nthat the request's authorization credentials identify a YouTube CMS user\nwho is acting on behalf of the content owner specified in the parameter\nvalue. This parameter is intended for YouTube content partners that own and\nmanage many different YouTube channels. It allows content owners to\nauthenticate once and get access to all their video and channel data,\nwithout having to provide authentication credentials for each individual\nchannel. The actual CMS account that the user authenticates with must be\nlinked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            },
            "tfmt": {
              "description": "Convert the captions into this format. Supported options are\nsbv, srt, and vtt.",
              "location": "query",
              "type": "string"
            },
            "tlang": {
              "description": "tlang is the language code; machine translate the captions into\nthis language.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "youtube/v3/captions/{id}",
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "supportsMediaDownload": true,
          "useMediaDownloadService": true
        },
        "insert": {
          "description": "Inserts a new resource into this collection.",
          "flatPath": "youtube/v3/captions",
          "httpMethod": "POST",
          "id": "youtube.captions.insert",
          "mediaUpload": {
            "accept": [
              "text/xml",
              "application/octet-stream",
              "*/*"
            ],
            "maxSize": "104857600",
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/youtube/v3/captions"
              }
            }
          },
          "parameterOrder": [
            "part"
          ],
          "parameters": {
            "onBehalfOf": {
              "description": "ID of the Google+ Page for the channel that the request is be on behalf of",
              "location": "query",
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "description": "<strong>Note:</strong> This parameter is intended exclusively for YouTube\ncontent partners.<br><br>The\n<code><strong>onBehalfOfContentOwner</strong></code> parameter indicates\nthat the request's authorization credentials identify a YouTube CMS user\nwho is acting on behalf of the content owner specified in the parameter\nvalue. This parameter is intended for YouTube content partners that own and\nmanage many different YouTube channels. It allows content owners to\nauthenticate once and get access to all their video and channel data,\nwithout having to provide authentication credentials for each individual\nchannel. The actual CMS account that the user authenticates with must be\nlinked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            },
            "part": {
              "description": "The <code><strong>part</strong></code> parameter specifies the\n<code>caption</code> resource parts that the API response will include. Set\nthe parameter value to <code>snippet</code>.",
              "location": "query",
              "repeated": true,
              "required": true,
              "type": "string"
            },
            "sync": {
              "description": "Extra parameter to allow automatically syncing the uploaded\ncaption/transcript with the audio.",
              "location": "query",
              "type": "boolean"
            }
          },
          "path": "youtube/v3/captions",
          "request": {
            "$ref": "Caption"
          },
          "response": {
            "$ref": "Caption"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "supportsMediaUpload": true
        },
        "list": {
          "description": "Retrieves a list of resources, possibly filtered.",
          "flatPath": "youtube/v3/captions",
          "httpMethod": "GET",
          "id": "youtube.captions.list",
          "parameterOrder": [
            "videoId",
            "part"
          ],
          "parameters": {
            "id": {
              "description": "Returns the captions with the given IDs for Stubby or Apiary.",
              "location": "query",
              "repeated": true,
              "type": "string"
            },
            "onBehalfOf": {
              "description": "ID of the Google+ Page for the channel that the request is on behalf of.",
              "location": "query",
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "description": "<strong>Note:</strong> This parameter is intended exclusively for YouTube\ncontent partners.<br><br>The\n<code><strong>onBehalfOfContentOwner</strong></code> parameter indicates\nthat the request's authorization credentials identify a YouTube CMS user\nwho is acting on behalf of the content owner specified in the parameter\nvalue. This parameter is intended for YouTube content partners that own and\nmanage many different YouTube channels. It allows content owners to\nauthenticate once and get access to all their video and channel data,\nwithout having to provide authentication credentials for each individual\nchannel. The actual CMS account that the user authenticates with must be\nlinked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            },
            "part": {
              "description": "The <code><strong>part</strong></code> parameter specifies a\ncomma-separated list of one or more <code>caption</code> resource parts\nthat the API response will include. The <code>part</code> names that you\ncan include in the parameter value are <code>id</code> and\n<code>snippet</code>.",
              "location": "query",
              "repeated": true,
              "required": true,
              "type": "string"
            },
            "videoId": {
              "description": "Returns the captions for the specified video.",
              "location": "query",
              "required": true,
              "type": "string"
            }
          },
          "path": "youtube/v3/captions",
          "response": {
            "$ref": "CaptionListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        },
        "update": {
          "description": "Updates an existing resource.",
          "flatPath": "youtube/v3/captions",
          "httpMethod": "PUT",
          "id": "youtube.captions.update",
          "mediaUpload": {
            "accept": [
              "text/xml",
              "application/octet-stream",
              "*/*"
            ],
            "maxSize": "104857600",
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/youtube/v3/captions"
              }
            }
          },
          "parameterOrder": [
            "part"
          ],
          "parameters": {
            "onBehalfOf": {
              "description": "ID of the Google+ Page for the channel that the request is on behalf of.",
              "location": "query",
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "description": "<strong>Note:</strong> This parameter is intended exclusively for YouTube\ncontent partners.<br><br>The\n<code><strong>onBehalfOfContentOwner</strong></code> parameter indicates\nthat the request's authorization credentials identify a YouTube CMS user\nwho is acting on behalf of the content owner specified in the parameter\nvalue. This parameter is intended for YouTube content partners that own and\nmanage many different YouTube channels. It allows content owners to\nauthenticate once and get access to all their video and channel data,\nwithout having to provide authentication credentials for each individual\nchannel. The actual CMS account that the user authenticates with must be\nlinked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            },
            "part": {
              "description": "The <code><strong>part</strong></code> parameter specifies a\ncomma-separated list of one or more <code>caption</code> resource parts\nthat the API response will include. The <code>part</code> names that you\ncan include in the parameter value are <code>id</code> and\n<code>snippet</code>.",
              "location": "query",
              "repeated": true,
              "required": true,
              "type": "string"
            },
            "sync": {
              "description": "Extra parameter to allow automatically syncing the uploaded\ncaption/transcript with the audio.",
              "location": "query",
              "type": "boolean"
            }
          },
          "path": "youtube/v3/captions",
          "request": {
            "$ref": "Caption"
          },
          "response": {
            "$ref": "Caption"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "supportsMediaUpload": true
        }
      }
    },
    "channelBanners": {
      "methods": {
        "insert": {
          "description": "Inserts a new resource into this collection.",
          "flatPath": "youtube/v3/channelBanners/insert",
          "httpMethod": "POST",
          "id": "youtube.channelBanners.insert",
          "mediaUpload": {
            "accept": [
              "image/jpeg",
              "image/png",
              "application/octet-stream"
            ],
            "maxSize": "6291456",
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/youtube/v3/channelBanners/insert"
              }
            }
          },
          "parameterOrder": [],
          "parameters": {
            "channelId": {
              "description": "Unused, channel_id is currently derived from the security context of the\nrequestor.",
              "location": "query",
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "description": "<strong>Note:</strong> This parameter is intended exclusively for YouTube\ncontent partners.<br><br>The\n<code><strong>onBehalfOfContentOwner</strong></code> parameter indicates\nthat the request's authorization credentials identify a YouTube CMS user\nwho is acting on behalf of the content owner specified in the parameter\nvalue. This parameter is intended for YouTube content partners that own and\nmanage many different YouTube channels. It allows content owners to\nauthenticate once and get access to all their video and channel data,\nwithout having to provide authentication credentials for each individual\nchannel. The actual CMS account that the user authenticates with must be\nlinked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            },
            "onBehalfOfContentOwnerChannel": {
              "description": "This parameter can only be used in a properly <a\nhref=\"/youtube/v3/guides/authentication\">authorized request</a>.\n<strong>Note:</strong> This parameter is intended exclusively for YouTube\ncontent partners.<br><br>The\n<code><strong>onBehalfOfContentOwnerChannel</strong></code> parameter\nspecifies the YouTube channel ID of the channel to which a video is being\nadded. This parameter is required when a request specifies a value for the\n<code>onBehalfOfContentOwner</code> parameter, and it can only be used in\nconjunction with that parameter. In addition, the request must be\nauthorized using a CMS account that is linked to the content owner that the\n<code>onBehalfOfContentOwner</code> parameter specifies. Finally, the\nchannel that the <code>onBehalfOfContentOwnerChannel</code> parameter value\nspecifies must be linked to the content owner that the\n<code>onBehalfOfContentOwner</code> parameter specifies.<br><br>This\nparameter is intended for YouTube content partners that own and manage many\ndifferent YouTube channels. It allows content owners to authenticate once\nand perform actions on behalf of the channel specified in the parameter\nvalue, without having to provide authentication credentials for each\nseparate channel.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "youtube/v3/channelBanners/insert",
          "request": {
            "$ref": "ChannelBannerResource"
          },
          "response": {
            "$ref": "ChannelBannerResource"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.upload"
          ],
          "supportsMediaUpload": true
        }
      }
    },
    "channelSections": {
      "methods": {
        "delete": {
          "description": "Deletes a resource.",
          "flatPath": "youtube/v3/channelSections",
          "httpMethod": "DELETE",
          "id": "youtube.channelSections.delete",
          "parameterOrder": [
            "id"
          ],
          "parameters": {
            "id": {
              "location": "query",
              "required": true,
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "description": "<strong>Note:</strong> This parameter is intended exclusively for YouTube\ncontent partners.<br><br>The\n<code><strong>onBehalfOfContentOwner</strong></code> parameter indicates\nthat the\nrequest's authorization credentials identify a YouTube CMS user who is\nacting on behalf of the content owner specified in the parameter value.\nThis parameter is intended for YouTube content partners that own and manage\nmany different YouTube channels. It allows content owners to authenticate\nonce and get access to all their video and channel data, without having to\nprovide authentication credentials for each individual channel. The CMS\naccount that the user authenticates with must be linked to the specified\nYouTube content owner.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "youtube/v3/channelSections",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        },
        "insert": {
          "description": "Inserts a new resource into this collection.",
          "flatPath": "youtube/v3/channelSections",
          "httpMethod": "POST",
          "id": "youtube.channelSections.insert",
          "parameterOrder": [
            "part"
          ],
          "parameters": {
            "onBehalfOfContentOwner": {
              "description": "<strong>Note:</strong> This parameter is intended exclusively for YouTube\ncontent partners.<br><br>The\n<code><strong>onBehalfOfContentOwner</strong></code> parameter indicates\nthat the\nrequest's authorization credentials identify a YouTube CMS user who is\nacting on behalf of the content owner specified in the parameter value.\nThis parameter is intended for YouTube content partners that own and manage\nmany different YouTube channels. It allows content owners to authenticate\nonce and get access to all their video and channel data, without having to\nprovide authentication credentials for each individual channel. The CMS\naccount that the user authenticates with must be linked to the specified\nYouTube content owner.",
              "location": "query",
              "type": "string"
            },
            "onBehalfOfContentOwnerChannel": {
              "description": "This parameter can only be used in a properly <a\nhref=\"/youtube/v3/guides/authentication\">authorized request</a>.\n<strong>Note:</strong> This parameter is intended exclusively for YouTube\ncontent partners.<br><br>The\n<code><strong>onBehalfOfContentOwnerChannel</strong></code> parameter\nspecifies the YouTube channel ID of the channel to which a video is being\nadded. This parameter is required when a request specifies a value for the\n<code>onBehalfOfContentOwner</code> parameter, and it can only be used in\nconjunction with that parameter. In addition, the request must be\nauthorized using a CMS account that is linked to the content owner that the\n<code>onBehalfOfContentOwner</code> parameter specifies. Finally, the\nchannel that the <code>onBehalfOfContentOwnerChannel</code> parameter value\nspecifies must be linked to the content owner that the\n<code>onBehalfOfContentOwner</code> parameter specifies.<br><br>This\nparameter is intended for YouTube content partners that own and manage many\ndifferent YouTube channels. It allows content owners to authenticate once\nand perform actions on behalf of the channel specified in the parameter\nvalue, without having to provide authentication credentials for each\nseparate channel.",
              "location": "query",
              "type": "string"
            },
            "part": {
              "description": "The <code><strong>part</strong></code> parameter serves two purposes in\nthis operation. It identifies the properties that the write operation will\nset as well as the properties that the API response will\ninclude.<br/><br/>The <code>part</code> names that you can include in the\nparameter value are <code>snippet</code> and <code>contentDetails</code>.",
              "location": "query",
              "repeated": true,
              "required": true,
              "type": "string"
            }
          },
          "path": "youtube/v3/channelSections",
          "request": {
            "$ref": "ChannelSection"
          },
          "response": {
            "$ref": "ChannelSection"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        },
        "list": {
          "description": "Retrieves a list of resources, possibly filtered.",
          "flatPath": "youtube/v3/channelSections",
          "httpMethod": "GET",
          "id": "youtube.channelSections.list",
          "parameterOrder": [
            "part"
          ],
          "parameters": {
            "channelId": {
              "description": "Return the ChannelSections owned by the specified channel ID.",
              "location": "query",
              "type": "string"
            },
            "hl": {
              "description": "Return content in specified language",
              "location": "query",
              "type": "string"
            },
            "id": {
              "description": "Return the ChannelSections with the given IDs for Stubby or Apiary.",
              "location": "query",
              "repeated": true,
              "type": "string"
            },
            "mine": {
              "description": "Return the ChannelSections owned by the authenticated user.",
              "location": "query",
              "type": "boolean"
            },
            "onBehalfOfContentOwner": {
              "description": "<strong>Note:</strong> This parameter is intended exclusively for YouTube\ncontent partners.<br><br>The\n<code><strong>onBehalfOfContentOwner</strong></code> parameter indicates\nthat the\nrequest's authorization credentials identify a YouTube CMS user who is\nacting on behalf of the content owner specified in the parameter value.\nThis parameter is intended for YouTube content partners that own and manage\nmany different YouTube channels. It allows content owners to authenticate\nonce and get access to all their video and channel data, without having to\nprovide authentication credentials for each individual channel. The CMS\naccount that the user authenticates with must be linked to the specified\nYouTube content owner.",
              "location": "query",
              "type": "string"
            },
            "part": {
              "description": "The <code><strong>part</strong></code> parameter specifies a\ncomma-separated list of one or more <code>channelSection</code> resource\nproperties that the API response will include. The <code>part</code> names\nthat you can include in the parameter value are <code>id</code>,\n<code>snippet</code>, and <code>contentDetails</code>.<br><br>If the\nparameter identifies a property that contains child properties, the child\nproperties will be included in the response. For example, in a\n<code>channelSection</code> resource, the <code>snippet</code> property\ncontains other properties, such as a display title for the channelSection.\nIf you set <code><strong>part=snippet</strong></code>, the API response\nwill also contain all of those nested properties.",
              "location": "query",
              "repeated": true,
              "required": true,
              "type": "string"
            }
          },
          "path": "youtube/v3/channelSections",
          "response": {
            "$ref": "ChannelSectionListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        },
        "update": {
          "description": "Updates an existing resource.",
          "flatPath": "youtube/v3/channelSections",
          "httpMethod": "PUT",
          "id": "youtube.channelSections.update",
          "parameterOrder": [
            "part"
          ],
          "parameters": {
            "onBehalfOfContentOwner": {
              "description": "<strong>Note:</strong> This parameter is intended exclusively for YouTube\ncontent partners.<br><br>The\n<code><strong>onBehalfOfContentOwner</strong></code> parameter indicates\nthat the\nrequest's authorization credentials identify a YouTube CMS user who is\nacting on behalf of the content owner specified in the parameter value.\nThis parameter is intended for YouTube content partners that own and manage\nmany different YouTube channels. It allows content owners to authenticate\nonce and get access to all their video and channel data, without having to\nprovide authentication credentials for each individual channel. The CMS\naccount that the user authenticates with must be linked to the specified\nYouTube content owner.",
              "location": "query",
              "type": "string"
            },
            "part": {
              "description": "The <code><strong>part</strong></code> parameter serves two purposes in\nthis operation. It identifies the properties that the write operation will\nset as well as the properties that the API response will\ninclude.<br/><br/>The <code>part</code> names that you can include in the\nparameter value are <code>snippet</code> and <code>contentDetails</code>.",
              "location": "query",
              "repeated": true,
              "required": true,
              "type": "string"
            }
          },
          "path": "youtube/v3/channelSections",
          "request": {
            "$ref": "ChannelSection"
          },
          "response": {
            "$ref": "ChannelSection"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        }
      }
    },
    "channels": {
      "methods": {
        "list": {
          "description": "Retrieves a list of resources, possibly filtered.",
          "flatPath": "youtube/v3/channels",
          "httpMethod": "GET",
          "id": "youtube.channels.list",
          "parameterOrder": [
            "part"
          ],
          "parameters": {
            "categoryId": {
              "description": "Return the channels within the specified guide category ID.",
              "location": "query",
              "type": "string"
            },
            "forUsername": {
              "description": "Return the channel associated with a YouTube username.",
              "location": "query",
              "type": "string"
            },
            "hl": {
              "description": "Stands for \"host language\". Specifies the localization language of the\nmetadata to be filled into snippet.localized. The field is filled with the\ndefault metadata if there is no localization in the specified language.\nThe parameter value must be a language code included in the list returned\nby the i18nLanguages.list method (e.g. en_US, es_MX).",
              "location": "query",
              "type": "string"
            },
            "id": {
              "description": "Return the channels with the specified IDs.",
              "location": "query",
              "repeated": true,
              "type": "string"
            },
            "managedByMe": {
              "description": "Return the channels managed by the authenticated user.",
              "location": "query",
              "type": "boolean"
            },
            "maxResults": {
              "default": "5",
              "description": "The <code><strong>maxResults</strong></code> parameter specifies the\nmaximum number of items that should be returned in the result set.",
              "format": "uint32",
              "location": "query",
              "type": "integer"
            },
            "mine": {
              "description": "Return the ids of channels owned by the authenticated user.",
              "location": "query",
              "type": "boolean"
            },
            "mySubscribers": {
              "description": "Return the channels subscribed to the authenticated user",
              "location": "query",
              "type": "boolean"
            },
            "onBehalfOfContentOwner": {
              "description": "<strong>Note:</strong> This parameter is intended exclusively for YouTube\ncontent partners.<br><br>The\n<code><strong>onBehalfOfContentOwner</strong></code> parameter indicates\nthat the\nrequest's authorization credentials identify a YouTube CMS user who is\nacting on behalf of the content owner specified in the parameter value.\nThis parameter is intended for YouTube content partners that own and manage\nmany different YouTube channels. It allows content owners to authenticate\nonce and get access to all their video and channel data, without having to\nprovide authentication credentials for each individual channel. The CMS\naccount that the user authenticates with must be linked to the specified\nYouTube content owner.",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "description": "The <code><strong>pageToken</strong></code> parameter identifies a specific\npage in the result set that should be returned. In an API response, the\n<code>nextPageToken</code> and <code>prevPageToken</code> properties\nidentify other pages that could be retrieved.",
              "location": "query",
              "type": "string"
            },
            "part": {
              "description": "The <code><strong>part</strong></code> parameter specifies a\ncomma-separated list of one or more <code>channel</code> resource\nproperties that the API response will include.<br><br>If the parameter\nidentifies a property that contains child properties, the child properties\nwill be included in the response. For example, in a <code>channel</code>\nresource, the <code>contentDetails</code> property contains other\nproperties, such as the <code>uploads</code> properties. As such, if you\nset <code><strong>part=contentDetails</strong></code>, the API response\nwill also contain all of those nested properties.",
              "location": "query",
              "repeated": true,
              "required": true,
              "type": "string"
            }
          },
          "path": "youtube/v3/channels",
          "response": {
            "$ref": "ChannelListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner",
            "https://www.googleapis.com/auth/youtubepartner-channel-audit"
          ]
        },
        "update": {
          "description": "Updates an existing resource.",
          "flatPath": "youtube/v3/channels",
          "httpMethod": "PUT",
          "id": "youtube.channels.update",
          "parameterOrder": [
            "part"
          ],
          "parameters": {
            "onBehalfOfContentOwner": {
              "description": "The <code><strong>onBehalfOfContentOwner</strong></code> parameter\nindicates that the authenticated user is acting on behalf of the content\nowner specified in the parameter value. This parameter is intended for\nYouTube content partners that own and manage many different YouTube\nchannels. It allows content owners to authenticate once and get access to\nall their video and channel data, without having to provide authentication\ncredentials for each individual channel. The actual CMS account that the\nuser authenticates with needs to be linked to the specified YouTube content\nowner.",
              "location": "query",
              "type": "string"
            },
            "part": {
              "description": "The <code><strong>part</strong></code> parameter serves two purposes in\nthis operation. It identifies the properties that the write operation will\nset as well as the properties that the API response will\ninclude.<br/><br/>The API currently only allows the parameter value to be\nset to either <code>brandingSettings</code> or\n<code>invideoPromotion</code>. (You cannot update both of those parts with\na single request.)<br/><br/>Note that this method overrides the existing\nvalues for all of the mutable properties that are contained in any parts\nthat the parameter value specifies.",
              "location": "query",
              "repeated": true,
              "required": true,
              "type": "string"
            }
          },
          "path": "youtube/v3/channels",
          "request": {
            "$ref": "Channel"
          },
          "response": {
            "$ref": "Channel"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        }
      }
    },
    "commentThreads": {
      "methods": {
        "insert": {
          "description": "Inserts a new resource into this collection.",
          "flatPath": "youtube/v3/commentThreads",
          "httpMethod": "POST",
          "id": "youtube.commentThreads.insert",
          "parameterOrder": [
            "part"
          ],
          "parameters": {
            "part": {
              "description": "The <code><strong>part</strong></code> parameter identifies the properties\nthat the API response will include. Set the parameter value to\n<code>snippet</code>. The <code>snippet</code> part has a quota cost of 2\nunits.",
              "location": "query",
              "repeated": true,
              "required": true,
              "type": "string"
            }
          },
          "path": "youtube/v3/commentThreads",
          "request": {
            "$ref": "CommentThread"
          },
          "response": {
            "$ref": "CommentThread"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ]
        },
        "list": {
          "description": "Retrieves a list of resources, possibly filtered.",
          "flatPath": "youtube/v3/commentThreads",
          "httpMethod": "GET",
          "id": "youtube.commentThreads.list",
          "parameterOrder": [
            "part"
          ],
          "parameters": {
            "allThreadsRelatedToChannelId": {
              "description": "Returns the comment threads of all videos of the channel and the\nchannel comments as well.",
              "location": "query",
              "type": "string"
            },
            "channelId": {
              "description": "Returns the comment threads for all the channel comments (ie does not\ninclude comments left on videos).",
              "location": "query",
              "type": "string"
            },
            "id": {
              "description": "Returns the comment threads with the given IDs for Stubby or Apiary.",
              "location": "query",
              "repeated": true,
              "type": "string"
            },
            "maxResults": {
              "default": "20",
              "description": "The <code><strong>maxResults</strong></code> parameter specifies the\nmaximum number of items that should be returned in the result set.",
              "format": "uint32",
              "location": "query",
              "type": "integer"
            },
            "moderationStatus": {
              "default": "published",
              "description": "Limits the returned comment threads to those with the specified\nmoderation status. Not compatible with the 'id' filter.\nValid values: published, heldForReview, likelySpam.",
              "enum": [
                "published",
                "heldForReview",
                "likelySpam",
                "rejected"
              ],
              "location": "query",
              "type": "string"
            },
            "order": {
              "default": "time",
              "enum": [
                "orderUnspecified",
                "time",
                "relevance"
              ],
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "description": "The <code><strong>pageToken</strong></code> parameter identifies a specific\npage in the result set that should be returned. In an API response, the\n<code>nextPageToken</code> and <code>prevPageToken</code> properties\nidentify other pages that could be retrieved.",
              "location": "query",
              "type": "string"
            },
            "part": {
              "description": "The <code><strong>part</strong></code> parameter specifies a\ncomma-separated list of one or more <code>commentThread</code> resource\nproperties that the API response will include.",
              "location": "query",
              "repeated": true,
              "required": true,
              "type": "string"
            },
            "searchTerms": {
              "description": "Limits the returned comment threads to those matching the specified\nkey words. Not compatible with the 'id' filter.",
              "location": "query",
              "type": "string"
            },
            "textFormat": {
              "default": "html",
              "description": "The requested text format for the returned comments.",
              "enum": [
                "textFormatUnspecified",
                "html",
                "plainText"
              ],
              "location": "query",
              "type": "string"
            },
            "videoId": {
              "description": "Returns the comment threads of the specified video.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "youtube/v3/commentThreads",
          "response": {
            "$ref": "CommentThreadListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ]
        },
        "update": {
          "description": "Updates an existing resource.",
          "flatPath": "youtube/v3/commentThreads",
          "httpMethod": "PUT",
          "id": "youtube.commentThreads.update",
          "parameterOrder": [
            "part"
          ],
          "parameters": {
            "part": {
              "description": "The <code><strong>part</strong></code> parameter specifies a\ncomma-separated list of <code>commentThread</code> resource properties that\nthe API response will include. You must at least include the\n<code>snippet</code> part in the parameter value since that part contains\nall of the properties that the API request can update.",
              "location": "query",
              "repeated": true,
              "required": true,
              "type": "string"
            }
          },
          "path": "youtube/v3/commentThreads",
          "request": {
            "$ref": "CommentThread"
          },
          "response": {
            "$ref": "CommentThread"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ]
        }
      }
    },
    "comments": {
      "methods": {
        "delete": {
          "description": "Deletes a resource.",
          "flatPath": "youtube/v3/comments",
          "httpMethod": "DELETE",
          "id": "youtube.comments.delete",
          "parameterOrder": [
            "id"
          ],
          "parameters": {
            "id": {
              "location": "query",
              "required": true,
              "type": "string"
            }
          },
          "path": "youtube/v3/comments",
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ]
        },
        "insert": {
          "description": "Inserts a new resource into this collection.",
          "flatPath": "youtube/v3/comments",
          "httpMethod": "POST",
          "id": "youtube.comments.insert",
          "parameterOrder": [
            "part"
          ],
          "parameters": {
            "part": {
              "description": "The <code><strong>part</strong></code> parameter identifies the properties\nthat the API response will include. Set the parameter value to\n<code>snippet</code>. The <code>snippet</code> part has a quota cost of 2\nunits.",
              "location": "query",
              "repeated": true,
              "required": true,
              "type": "string"
            }
          },
          "path": "youtube/v3/comments",
          "request": {
            "$ref": "Comment"
          },
          "response": {
            "$ref": "Comment"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ]
        },
        "list": {
          "description": "Retrieves a list of resources, possibly filtered.",
          "flatPath": "youtube/v3/comments",
          "httpMethod": "GET",
          "id": "youtube.comments.list",
          "parameterOrder": [
            "part"
          ],
          "parameters": {
            "id": {
              "description": "Returns the comments with the given IDs for One Platform.",
              "location": "query",
              "repeated": true,
              "type": "string"
            },
            "maxResults": {
              "default": "20",
              "description": "The <code><strong>maxResults</strong></code> parameter specifies the\nmaximum number of items that should be returned in the result set.",
              "format": "uint32",
              "location": "query",
              "type": "integer"
            },
            "pageToken": {
              "description": "The <code><strong>pageToken</strong></code> parameter identifies a specific\npage in the result set that should be returned. In an API response, the\n<code>nextPageToken</code> and <code>prevPageToken</code> properties\nidentify other pages that could be retrieved.",
              "location": "query",
              "type": "string"
            },
            "parentId": {
              "description": "Returns replies to the specified comment.\nNote, currently YouTube features only one level of replies (ie replies\nto top level comments). However replies to replies may be supported in\nthe future.",
              "location": "query",
              "type": "string"
            },
            "part": {
              "description": "The <code><strong>part</strong></code> parameter specifies a\ncomma-separated list of one or more <code>comment</code> resource\nproperties that the API response will include.",
              "location": "query",
              "repeated": true,
              "required": true,
              "type": "string"
            },
            "textFormat": {
              "default": "html",
              "description": "The requested text format for the returned comments.",
              "enum": [
                "textFormatUnspecified",
                "html",
                "plainText"
              ],
              "location": "query",
              "type": "string"
            }
          },
          "path": "youtube/v3/comments",
          "response": {
            "$ref": "CommentListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ]
        },
        "markAsSpam": {
          "description": "Expresses the caller's opinion that one or more comments should be flagged\nas spam.",
          "flatPath": "youtube/v3/comments/markAsSpam",
          "httpMethod": "POST",
          "id": "youtube.comments.markAsSpam",
          "parameterOrder": [
            "id"
          ],
          "parameters": {
            "id": {
              "description": "Flags the comments with the given IDs as spam in the caller's opinion.",
              "location": "query",
              "repeated": true,
              "required": true,
              "type": "string"
            }
          },
          "path": "youtube/v3/comments/markAsSpam",
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ]
        },
        "setModerationStatus": {
          "description": "Sets the moderation status of one or more comments.",
          "flatPath": "youtube/v3/comments/setModerationStatus",
          "httpMethod": "POST",
          "id": "youtube.comments.setModerationStatus",
          "parameterOrder": [
            "id",
            "moderationStatus"
          ],
          "parameters": {
            "banAuthor": {
              "default": "false",
              "description": "If set to true the author of the comment gets added to the ban list.\nThis means all future comments of the author will autmomatically be\nrejected.\nOnly valid in combination with STATUS_REJECTED.",
              "location": "query",
              "type": "boolean"
            },
            "id": {
              "description": "Modifies the moderation status of the comments with the given IDs",
              "location": "query",
              "repeated": true,
              "required": true,
              "type": "string"
            },
            "moderationStatus": {
              "description": "Specifies the requested moderation status. Note, comments can be in\nstatuses, which are not available through this call. For example, this\ncall does not allow to mark a comment as 'likely spam'.\nValid values: MODERATION_STATUS_PUBLISHED,\nMODERATION_STATUS_HELD_FOR_REVIEW, MODERATION_STATUS_REJECTED.",
              "enum": [
                "published",
                "heldForReview",
                "likelySpam",
                "rejected"
              ],
              "location": "query",
              "required": true,
              "type": "string"
            }
          },
          "path": "youtube/v3/comments/setModerationStatus",
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ]
        },
        "update": {
          "description": "Updates an existing resource.",
          "flatPath": "youtube/v3/comments",
          "httpMethod": "PUT",
          "id": "youtube.comments.update",
          "parameterOrder": [
            "part"
          ],
          "parameters": {
            "part": {
              "description": "The <code><strong>part</strong></code> parameter identifies the properties\nthat the API response will include. You must at least include the\n<code>snippet</code> part in the parameter value since that part contains\nall of the properties that the API request can update.",
              "location": "query",
              "repeated": true,
              "required": true,
              "type": "string"
            }
          },
          "path": "youtube/v3/comments",
          "request": {
            "$ref": "Comment"
          },
          "response": {
            "$ref": "Comment"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ]
        }
      }
    },
    "guideCategories": {
      "methods": {
        "list": {
          "description": "Retrieves a list of guide categories.",
          "flatPath": "youtube/v3/guideCategories",
          "httpMethod": "GET",
          "id": "youtube.guideCategories.list",
          "parameterOrder": [
            "part"
          ],
          "parameters": {
            "hl": {
              "default": "en-US",
              "location": "query",
              "type": "string"
            },
            "id": {
              "description": "Return the guide categories with the given IDs.",
              "location": "query",
              "repeated": true,
              "type": "string"
            },
            "part": {
              "description": "The <code><strong>part</strong></code> parameter specifies the\n<code>guideCategory</code> resource properties that the API response will\ninclude. Set the parameter value to <code>snippet</code>.",
              "location": "query",
              "repeated": true,
              "required": true,
              "type": "string"
            },
            "regionCode": {
              "description": "Return all categories in the given region code.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "youtube/v3/guideCategories",
          "response": {
            "$ref": "GuideCategoryListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        }
      }
    },
    "i18nLanguages": {
      "methods": {
        "list": {
          "description": "Retrieves a list of resources, possibly filtered.",
          "flatPath": "youtube/v3/i18nLanguages",
          "httpMethod": "GET",
          "id": "youtube.i18nLanguages.list",
          "parameterOrder": [
            "part"
          ],
          "parameters": {
            "hl": {
              "default": "en_US",
              "location": "query",
              "type": "string"
            },
            "part": {
              "description": "The <code><strong>part</strong></code> parameter specifies the\n<code>i18nLanguage</code> resource properties that the API response will\ninclude. Set the parameter value to <code>snippet</code>.",
              "location": "query",
              "repeated": true,
              "required": true,
              "type": "string"
            }
          },
          "path": "youtube/v3/i18nLanguages",
          "response": {
            "$ref": "I18nLanguageListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        }
      }
    },
    "i18nRegions": {
      "methods": {
        "list": {
          "description": "Retrieves a list of resources, possibly filtered.",
          "flatPath": "youtube/v3/i18nRegions",
          "httpMethod": "GET",
          "id": "youtube.i18nRegions.list",
          "parameterOrder": [
            "part"
          ],
          "parameters": {
            "hl": {
              "default": "en_US",
              "location": "query",
              "type": "string"
            },
            "part": {
              "description": "The <code><strong>part</strong></code> parameter specifies the\n<code>i18nRegion</code> resource properties that the API response will\ninclude. Set the parameter value to <code>snippet</code>.",
              "location": "query",
              "repeated": true,
              "required": true,
              "type": "string"
            }
          },
          "path": "youtube/v3/i18nRegions",
          "response": {
            "$ref": "I18nRegionListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        }
      }
    },
    "liveBroadcasts": {
      "methods": {
        "bind": {
          "description": "Bind a broadcast to a stream.",
          "flatPath": "youtube/v3/liveBroadcasts/bind",
          "httpMethod": "POST",
          "id": "youtube.liveBroadcasts.bind",
          "parameterOrder": [
            "id",
            "part"
          ],
          "parameters": {
            "id": {
              "description": "Broadcast to bind to the stream",
              "location": "query",
              "required": true,
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "description": "<strong>Note:</strong> This parameter is intended exclusively for YouTube\ncontent partners.<br><br>The\n<code><strong>onBehalfOfContentOwner</strong></code> parameter indicates\nthat the\nrequest's authorization credentials identify a YouTube CMS user who is\nacting on behalf of the content owner specified in the parameter value.\nThis parameter is intended for YouTube content partners that own and manage\nmany different YouTube channels. It allows content owners to authenticate\nonce and get access to all their video and channel data, without having to\nprovide authentication credentials for each individual channel. The CMS\naccount that the user authenticates with must be linked to the specified\nYouTube content owner.",
              "location": "query",
              "type": "string"
            },
            "onBehalfOfContentOwnerChannel": {
              "description": "This parameter can only be used in a properly <a\nhref=\"/youtube/v3/guides/authentication\">authorized request</a>.\n<strong>Note:</strong> This parameter is intended exclusively for YouTube\ncontent partners.<br><br>The\n<code><strong>onBehalfOfContentOwnerChannel</strong></code> parameter\nspecifies the YouTube channel ID of the channel to which a video is being\nadded. This parameter is required when a request specifies a value for the\n<code>onBehalfOfContentOwner</code> parameter, and it can only be used in\nconjunction with that parameter. In addition, the request must be\nauthorized using a CMS account that is linked to the content owner that the\n<code>onBehalfOfContentOwner</code> parameter specifies. Finally, the\nchannel that the <code>onBehalfOfContentOwnerChannel</code> parameter value\nspecifies must be linked to the content owner that the\n<code>onBehalfOfContentOwner</code> parameter specifies.<br><br>This\nparameter is intended for YouTube content partners that own and manage many\ndifferent YouTube channels. It allows content owners to authenticate once\nand perform actions on behalf of the channel specified in the parameter\nvalue, without having to provide authentication credentials for each\nseparate channel.",
              "location": "query",
              "type": "string"
            },
            "part": {
              "description": "The <code><strong>part</strong></code> parameter specifies a\ncomma-separated list of one or more <code>liveBroadcast</code> resource\nproperties that the API response will include. The <code>part</code> names\nthat you can include in the parameter value are <code>id</code>,\n<code>snippet</code>, <code>contentDetails</code>, and <code>status</code>.",
              "location": "query",
              "repeated": true,
              "required": true,
              "type": "string"
            },
            "streamId": {
              "description": "Stream to bind, if not set unbind the current one.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "youtube/v3/liveBroadcasts/bind",
          "response": {
            "$ref": "LiveBroadcast"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ]
        },
        "control": {
          "description": "Slate and recording control of the live broadcast.\nSupport actions: slate on/off, recording start/stop/pause/resume.\nDesign doc: goto/yt-api-liveBroadcast-control",
          "flatPath": "youtube/v3/liveBroadcasts/control",
          "httpMethod": "POST",
          "id": "youtube.liveBroadcasts.control",
          "parameterOrder": [
            "id",
            "part"
          ],
          "parameters": {
            "displaySlate": {
              "description": "Whether display or hide slate.",
              "location": "query",
              "type": "boolean"
            },
            "id": {
              "description": "Broadcast to operate.",
              "location": "query",
              "required": true,
              "type": "string"
            },
            "offsetTimeMs": {
              "description": "The exact time when the actions (e.g. slate on) are executed.\nIt is an offset from the first frame of the monitor stream.\nIf not set, it means \"now\" or ASAP.\nThis field should not be set if the monitor stream is disabled,\notherwise an error will be returned.",
              "format": "uint64",
              "location": "query",
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "description": "<strong>Note:</strong> This parameter is intended exclusively for YouTube\ncontent partners.<br><br>The\n<code><strong>onBehalfOfContentOwner</strong></code> parameter indicates\nthat the\nrequest's authorization credentials identify a YouTube CMS user who is\nacting on behalf of the content owner specified in the parameter value.\nThis parameter is intended for YouTube content partners that own and manage\nmany different YouTube channels. It allows content owners to authenticate\nonce and get access to all their video and channel data, without having to\nprovide authentication credentials for each individual channel. The CMS\naccount that the user authenticates with must be linked to the specified\nYouTube content owner.",
              "location": "query",
              "type": "string"
            },
            "onBehalfOfContentOwnerChannel": {
              "description": "This parameter can only be used in a properly <a\nhref=\"/youtube/v3/guides/authentication\">authorized request</a>.\n<strong>Note:</strong> This parameter is intended exclusively for YouTube\ncontent partners.<br><br>The\n<code><strong>onBehalfOfContentOwnerChannel</strong></code> parameter\nspecifies the YouTube channel ID of the channel to which a video is being\nadded. This parameter is required when a request specifies a value for the\n<code>onBehalfOfContentOwner</code> parameter, and it can only be used in\nconjunction with that parameter. In addition, the request must be\nauthorized using a CMS account that is linked to the content owner that the\n<code>onBehalfOfContentOwner</code> parameter specifies. Finally, the\nchannel that the <code>onBehalfOfContentOwnerChannel</code> parameter value\nspecifies must be linked to the content owner that the\n<code>onBehalfOfContentOwner</code> parameter specifies.<br><br>This\nparameter is intended for YouTube content partners that own and manage many\ndifferent YouTube channels. It allows content owners to authenticate once\nand perform actions on behalf of the channel specified in the parameter\nvalue, without having to provide authentication credentials for each\nseparate channel.",
              "location": "query",
              "type": "string"
            },
            "part": {
              "description": "The <code><strong>part</strong></code> parameter specifies a\ncomma-separated list of one or more <code>liveBroadcast</code> resource\nproperties that the API response will include. The <code>part</code> names\nthat you can include in the parameter value are <code>id</code>,\n<code>snippet</code>, <code>contentDetails</code>, and <code>status</code>.",
              "location": "query",
              "repeated": true,
              "required": true,
              "type": "string"
            },
            "walltime": {
              "description": "The wall clock time at which the action should be executed.\nOnly one of offset_time_ms and walltime may be set at a time.",
              "format": "google-datetime",
              "location": "query",
              "type": "string"
            }
          },
          "path": "youtube/v3/liveBroadcasts/control",
          "response": {
            "$ref": "LiveBroadcast"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ]
        },
        "delete": {
          "description": "Delete a given broadcast.",
          "flatPath": "youtube/v3/liveBroadcasts",
          "httpMethod": "DELETE",
          "id": "youtube.liveBroadcasts.delete",
          "parameterOrder": [
            "id"
          ],
          "parameters": {
            "id": {
              "description": "Broadcast to delete.",
              "location": "query",
              "required": true,
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "description": "<strong>Note:</strong> This parameter is intended exclusively for YouTube\ncontent partners.<br><br>The\n<code><strong>onBehalfOfContentOwner</strong></code> parameter indicates\nthat the\nrequest's authorization credentials identify a YouTube CMS user who is\nacting on behalf of the content owner specified in the parameter value.\nThis parameter is intended for YouTube content partners that own and manage\nmany different YouTube channels. It allows content owners to authenticate\nonce and get access to all their video and channel data, without having to\nprovide authentication credentials for each individual channel. The CMS\naccount that the user authenticates with must be linked to the specified\nYouTube content owner.",
              "location": "query",
              "type": "string"
            },
            "onBehalfOfContentOwnerChannel": {
              "description": "This parameter can only be used in a properly <a\nhref=\"/youtube/v3/guides/authentication\">authorized request</a>.\n<strong>Note:</strong> This parameter is intended exclusively for YouTube\ncontent partners.<br><br>The\n<code><strong>onBehalfOfContentOwnerChannel</strong></code> parameter\nspecifies the YouTube channel ID of the channel to which a video is being\nadded. This parameter is required when a request specifies a value for the\n<code>onBehalfOfContentOwner</code> parameter, and it can only be used in\nconjunction with that parameter. In addition, the request must be\nauthorized using a CMS account that is linked to the content owner that the\n<code>onBehalfOfContentOwner</code> parameter specifies. Finally, the\nchannel that the <code>onBehalfOfContentOwnerChannel</code> parameter value\nspecifies must be linked to the content owner that the\n<code>onBehalfOfContentOwner</code> parameter specifies.<br><br>This\nparameter is intended for YouTube content partners that own and manage many\ndifferent YouTube channels. It allows content owners to authenticate once\nand perform actions on behalf of the channel specified in the parameter\nvalue, without having to provide authentication credentials for each\nseparate channel.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "youtube/v3/liveBroadcasts",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ]
        },
        "insert": {
          "description": "Inserts a new stream for the authenticated user.",
          "flatPath": "youtube/v3/liveBroadcasts",
          "httpMethod": "POST",
          "id": "youtube.liveBroadcasts.insert",
          "parameterOrder": [
            "part"
          ],
          "parameters": {
            "onBehalfOfContentOwner": {
              "description": "<strong>Note:</strong> This parameter is intended exclusively for YouTube\ncontent partners.<br><br>The\n<code><strong>onBehalfOfContentOwner</strong></code> parameter indicates\nthat the\nrequest's authorization credentials identify a YouTube CMS user who is\nacting on behalf of the content owner specified in the parameter value.\nThis parameter is intended for YouTube content partners that own and manage\nmany different YouTube channels. It allows content owners to authenticate\nonce and get access to all their video and channel data, without having to\nprovide authentication credentials for each individual channel. The CMS\naccount that the user authenticates with must be linked to the specified\nYouTube content owner.",
              "location": "query",
              "type": "string"
            },
            "onBehalfOfContentOwnerChannel": {
              "description": "This parameter can only be used in a properly <a\nhref=\"/youtube/v3/guides/authentication\">authorized request</a>.\n<strong>Note:</strong> This parameter is intended exclusively for YouTube\ncontent partners.<br><br>The\n<code><strong>onBehalfOfContentOwnerChannel</strong></code> parameter\nspecifies the YouTube channel ID of the channel to which a video is being\nadded. This parameter is required when a request specifies a value for the\n<code>onBehalfOfContentOwner</code> parameter, and it can only be used in\nconjunction with that parameter. In addition, the request must be\nauthorized using a CMS account that is linked to the content owner that the\n<code>onBehalfOfContentOwner</code> parameter specifies. Finally, the\nchannel that the <code>onBehalfOfContentOwnerChannel</code> parameter value\nspecifies must be linked to the content owner that the\n<code>onBehalfOfContentOwner</code> parameter specifies.<br><br>This\nparameter is intended for YouTube content partners that own and manage many\ndifferent YouTube channels. It allows content owners to authenticate once\nand perform actions on behalf of the channel specified in the parameter\nvalue, without having to provide authentication credentials for each\nseparate channel.",
              "location": "query",
              "type": "string"
            },
            "part": {
              "description": "The <code><strong>part</strong></code> parameter serves two purposes in\nthis operation. It identifies the properties that the write operation will\nset as well as the properties that the API response will\ninclude.<br><br>The <code>part</code> properties that you can include in\nthe parameter value are <code>id</code>, <code>snippet</code>,\n<code>contentDetails</code>, and <code>status</code>.",
              "location": "query",
              "repeated": true,
              "required": true,
              "type": "string"
            }
          },
          "path": "youtube/v3/liveBroadcasts",
          "request": {
            "$ref": "LiveBroadcast"
          },
          "response": {
            "$ref": "LiveBroadcast"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ]
        },
        "list": {
          "description": "Retrieve the list of broadcasts associated with the given channel.",
          "flatPath": "youtube/v3/liveBroadcasts",
          "httpMethod": "GET",
          "id": "youtube.liveBroadcasts.list",
          "parameterOrder": [
            "part"
          ],
          "parameters": {
            "broadcastStatus": {
              "description": "Return broadcasts with a certain status, e.g. active broadcasts.",
              "enum": [
                "broadcastStatusFilterUnspecified",
                "all",
                "active",
                "upcoming",
                "completed"
              ],
              "location": "query",
              "type": "string"
            },
            "broadcastType": {
              "default": "event",
              "description": "Return only broadcasts with the selected type.",
              "enum": [
                "broadcastTypeFilterUnspecified",
                "all",
                "event",
                "persistent"
              ],
              "location": "query",
              "type": "string"
            },
            "id": {
              "description": "Return broadcasts with the given ids from Stubby or Apiary.",
              "location": "query",
              "repeated": true,
              "type": "string"
            },
            "maxResults": {
              "default": "5",
              "description": "The <code><strong>maxResults</strong></code> parameter specifies the\nmaximum number of items that should be returned in the result set.",
              "format": "uint32",
              "location": "query",
              "type": "integer"
            },
            "mine": {
              "location": "query",
              "type": "boolean"
            },
            "onBehalfOfContentOwner": {
              "description": "<strong>Note:</strong> This parameter is intended exclusively for YouTube\ncontent partners.<br><br>The\n<code><strong>onBehalfOfContentOwner</strong></code> parameter indicates\nthat the\nrequest's authorization credentials identify a YouTube CMS user who is\nacting on behalf of the content owner specified in the parameter value.\nThis parameter is intended for YouTube content partners that own and manage\nmany different YouTube channels. It allows content owners to authenticate\nonce and get access to all their video and channel data, without having to\nprovide authentication credentials for each individual channel. The CMS\naccount that the user authenticates with must be linked to the specified\nYouTube content owner.",
              "location": "query",
              "type": "string"
            },
            "onBehalfOfContentOwnerChannel": {
              "description": "This parameter can only be used in a properly <a\nhref=\"/youtube/v3/guides/authentication\">authorized request</a>.\n<strong>Note:</strong> This parameter is intended exclusively for YouTube\ncontent partners.<br><br>The\n<code><strong>onBehalfOfContentOwnerChannel</strong></code> parameter\nspecifies the YouTube channel ID of the channel to which a video is being\nadded. This parameter is required when a request specifies a value for the\n<code>onBehalfOfContentOwner</code> parameter, and it can only be used in\nconjunction with that parameter. In addition, the request must be\nauthorized using a CMS account that is linked to the content owner that the\n<code>onBehalfOfContentOwner</code> parameter specifies. Finally, the\nchannel that the <code>onBehalfOfContentOwnerChannel</code> parameter value\nspecifies must be linked to the content owner that the\n<code>onBehalfOfContentOwner</code> parameter specifies.<br><br>This\nparameter is intended for YouTube content partners that own and manage many\ndifferent YouTube channels. It allows content owners to authenticate once\nand perform actions on behalf of the channel specified in the parameter\nvalue, without having to provide authentication credentials for each\nseparate channel.",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "description": "The <code><strong>pageToken</strong></code> parameter identifies a specific\npage in the result set that should be returned. In an API response, the\n<code>nextPageToken</code> and <code>prevPageToken</code> properties\nidentify other pages that could be retrieved.",
              "location": "query",
              "type": "string"
            },
            "part": {
              "description": "The <code><strong>part</strong></code> parameter specifies a\ncomma-separated list of one or more <code>liveBroadcast</code> resource\nproperties that the API response will include. The <code>part</code> names\nthat you can include in the parameter value are <code>id</code>,\n<code>snippet</code>, <code>contentDetails</code>, and <code>status</code>.",
              "location": "query",
              "repeated": true,
              "required": true,
              "type": "string"
            }
          },
          "path": "youtube/v3/liveBroadcasts",
          "response": {
            "$ref": "LiveBroadcastListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly"
          ]
        },
        "transition": {
          "description": "Transition a broadcast to a given status.",
          "flatPath": "youtube/v3/liveBroadcasts/transition",
          "httpMethod": "POST",
          "id": "youtube.liveBroadcasts.transition",
          "parameterOrder": [
            "id",
            "broadcastStatus",
            "part"
          ],
          "parameters": {
            "broadcastStatus": {
              "description": "The status to which the broadcast is going to transition.",
              "enum": [
                "statusUnspecified",
                "testing",
                "live",
                "complete"
              ],
              "location": "query",
              "required": true,
              "type": "string"
            },
            "id": {
              "description": "Broadcast to transition.",
              "location": "query",
              "required": true,
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "description": "<strong>Note:</strong> This parameter is intended exclusively for YouTube\ncontent partners.<br><br>The\n<code><strong>onBehalfOfContentOwner</strong></code> parameter indicates\nthat the\nrequest's authorization credentials identify a YouTube CMS user who is\nacting on behalf of the content owner specified in the parameter value.\nThis parameter is intended for YouTube content partners that own and manage\nmany different YouTube channels. It allows content owners to authenticate\nonce and get access to all their video and channel data, without having to\nprovide authentication credentials for each individual channel. The CMS\naccount that the user authenticates with must be linked to the specified\nYouTube content owner.",
              "location": "query",
              "type": "string"
            },
            "onBehalfOfContentOwnerChannel": {
              "description": "This parameter can only be used in a properly <a\nhref=\"/youtube/v3/guides/authentication\">authorized request</a>.\n<strong>Note:</strong> This parameter is intended exclusively for YouTube\ncontent partners.<br><br>The\n<code><strong>onBehalfOfContentOwnerChannel</strong></code> parameter\nspecifies the YouTube channel ID of the channel to which a video is being\nadded. This parameter is required when a request specifies a value for the\n<code>onBehalfOfContentOwner</code> parameter, and it can only be used in\nconjunction with that parameter. In addition, the request must be\nauthorized using a CMS account that is linked to the content owner that the\n<code>onBehalfOfContentOwner</code> parameter specifies. Finally, the\nchannel that the <code>onBehalfOfContentOwnerChannel</code> parameter value\nspecifies must be linked to the content owner that the\n<code>onBehalfOfContentOwner</code> parameter specifies.<br><br>This\nparameter is intended for YouTube content partners that own and manage many\ndifferent YouTube channels. It allows content owners to authenticate once\nand perform actions on behalf of the channel specified in the parameter\nvalue, without having to provide authentication credentials for each\nseparate channel.",
              "location": "query",
              "type": "string"
            },
            "part": {
              "description": "The <code><strong>part</strong></code> parameter specifies a\ncomma-separated list of one or more <code>liveBroadcast</code> resource\nproperties that the API response will include. The <code>part</code> names\nthat you can include in the parameter value are <code>id</code>,\n<code>snippet</code>, <code>contentDetails</code>, and <code>status</code>.",
              "location": "query",
              "repeated": true,
              "required": true,
              "type": "string"
            }
          },
          "path": "youtube/v3/liveBroadcasts/transition",
          "response": {
            "$ref": "LiveBroadcast"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ]
        },
        "update": {
          "description": "Updates an existing broadcast for the authenticated user.",
          "flatPath": "youtube/v3/liveBroadcasts",
          "httpMethod": "PUT",
          "id": "youtube.liveBroadcasts.update",
          "parameterOrder": [
            "part"
          ],
          "parameters": {
            "onBehalfOfContentOwner": {
              "description": "<strong>Note:</strong> This parameter is intended exclusively for YouTube\ncontent partners.<br><br>The\n<code><strong>onBehalfOfContentOwner</strong></code> parameter indicates\nthat the\nrequest's authorization credentials identify a YouTube CMS user who is\nacting on behalf of the content owner specified in the parameter value.\nThis parameter is intended for YouTube content partners that own and manage\nmany different YouTube channels. It allows content owners to authenticate\nonce and get access to all their video and channel data, without having to\nprovide authentication credentials for each individual channel. The CMS\naccount that the user authenticates with must be linked to the specified\nYouTube content owner.",
              "location": "query",
              "type": "string"
            },
            "onBehalfOfContentOwnerChannel": {
              "description": "This parameter can only be used in a properly <a\nhref=\"/youtube/v3/guides/authentication\">authorized request</a>.\n<strong>Note:</strong> This parameter is intended exclusively for YouTube\ncontent partners.<br><br>The\n<code><strong>onBehalfOfContentOwnerChannel</strong></code> parameter\nspecifies the YouTube channel ID of the channel to which a video is being\nadded. This parameter is required when a request specifies a value for the\n<code>onBehalfOfContentOwner</code> parameter, and it can only be used in\nconjunction with that parameter. In addition, the request must be\nauthorized using a CMS account that is linked to the content owner that the\n<code>onBehalfOfContentOwner</code> parameter specifies. Finally, the\nchannel that the <code>onBehalfOfContentOwnerChannel</code> parameter value\nspecifies must be linked to the content owner that the\n<code>onBehalfOfContentOwner</code> parameter specifies.<br><br>This\nparameter is intended for YouTube content partners that own and manage many\ndifferent YouTube channels. It allows content owners to authenticate once\nand perform actions on behalf of the channel specified in the parameter\nvalue, without having to provide authentication credentials for each\nseparate channel.",
              "location": "query",
              "type": "string"
            },
            "part": {
              "description": "The <code><strong>part</strong></code> parameter serves two purposes in\nthis operation. It identifies the properties that the write operation will\nset as well as the properties that the API response will\ninclude.<br><br>The <code>part</code> properties that you can include in\nthe parameter value are <code>id</code>, <code>snippet</code>,\n<code>contentDetails</code>, and <code>status</code>.<br><br>Note that this\nmethod will override the existing values for all of the mutable properties\nthat are contained in any parts that the parameter value specifies. For\nexample, a\nbroadcast's privacy status is defined in the <code>status</code> part. As\nsuch, if your request is updating a private or unlisted broadcast, and the\nrequest's <code>part</code> parameter value includes the\n<code>status</code> part, the broadcast's privacy setting will be updated\nto whatever value the request body specifies. If the request body does not\nspecify a value, the existing privacy setting will be removed and the\nbroadcast will revert to the default privacy setting.",
              "location": "query",
              "repeated": true,
              "required": true,
              "type": "string"
            }
          },
          "path": "youtube/v3/liveBroadcasts",
          "request": {
            "$ref": "LiveBroadcast"
          },
          "response": {
            "$ref": "LiveBroadcast"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ]
        }
      }
    },
    "liveChatBans": {
      "methods": {
        "delete": {
          "description": "Deletes a chat ban.",
          "flatPath": "youtube/v3/liveChat/bans",
          "httpMethod": "DELETE",
          "id": "youtube.liveChatBans.delete",
          "parameterOrder": [
            "id"
          ],
          "parameters": {
            "id": {
              "location": "query",
              "required": true,
              "type": "string"
            }
          },
          "path": "youtube/v3/liveChat/bans",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ]
        },
        "insert": {
          "description": "Inserts a new resource into this collection.",
          "flatPath": "youtube/v3/liveChat/bans",
          "httpMethod": "POST",
          "id": "youtube.liveChatBans.insert",
          "parameterOrder": [
            "part"
          ],
          "parameters": {
            "part": {
              "description": "The <code><strong>part</strong></code> parameter serves two purposes in\nthis operation. It identifies the properties that the write operation will\nset as well as the properties that the API response returns. Set the\nparameter value to <code>snippet</code>.",
              "location": "query",
              "repeated": true,
              "required": true,
              "type": "string"
            }
          },
          "path": "youtube/v3/liveChat/bans",
          "request": {
            "$ref": "LiveChatBan"
          },
          "response": {
            "$ref": "LiveChatBan"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ]
        }
      }
    },
    "liveChatMessages": {
      "methods": {
        "delete": {
          "description": "Deletes a chat message.",
          "flatPath": "youtube/v3/liveChat/messages",
          "httpMethod": "DELETE",
          "id": "youtube.liveChatMessages.delete",
          "parameterOrder": [
            "id"
          ],
          "parameters": {
            "id": {
              "location": "query",
              "required": true,
              "type": "string"
            }
          },
          "path": "youtube/v3/liveChat/messages",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ]
        },
        "insert": {
          "description": "Inserts a new resource into this collection.",
          "flatPath": "youtube/v3/liveChat/messages",
          "httpMethod": "POST",
          "id": "youtube.liveChatMessages.insert",
          "parameterOrder": [
            "part"
          ],
          "parameters": {
            "part": {
              "description": "The <code><strong>part</strong></code> parameter serves two purposes. It\nidentifies the properties that the write operation will set as well as the\nproperties that the API response will include. Set the parameter value to\n<code>snippet</code>.",
              "location": "query",
              "repeated": true,
              "required": true,
              "type": "string"
            }
          },
          "path": "youtube/v3/liveChat/messages",
          "request": {
            "$ref": "LiveChatMessage"
          },
          "response": {
            "$ref": "LiveChatMessage"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ]
        },
        "list": {
          "description": "Retrieves a list of resources, possibly filtered.",
          "flatPath": "youtube/v3/liveChat/messages",
          "httpMethod": "GET",
          "id": "youtube.liveChatMessages.list",
          "parameterOrder": [
            "liveChatId",
            "part"
          ],
          "parameters": {
            "hl": {
              "description": "Specifies the localization language in which the system messages\nshould be returned.",
              "location": "query",
              "type": "string"
            },
            "liveChatId": {
              "description": "The id of the live chat for which comments should be returned.",
              "location": "query",
              "required": true,
              "type": "string"
            },
            "maxResults": {
              "default": "500",
              "description": "The <code><strong>maxResults</strong></code> parameter specifies the\nmaximum number of items that should be returned in the result set.",
              "format": "uint32",
              "location": "query",
              "type": "integer"
            },
            "pageToken": {
              "description": "The <code><strong>pageToken</strong></code> parameter identifies a specific\npage in the result set that should be returned. In an API response, the\n<code>nextPageToken</code> property identify other pages that could be\nretrieved.",
              "location": "query",
              "type": "string"
            },
            "part": {
              "description": "The <code><strong>part</strong></code> parameter specifies the\n<code>liveChatComment</code> resource parts that the API response will\ninclude. Supported values are <code>id</code> and <code>snippet</code>.",
              "location": "query",
              "repeated": true,
              "required": true,
              "type": "string"
            },
            "profileImageSize": {
              "description": "Specifies the size of the profile image that should be\nreturned for each user.",
              "format": "uint32",
              "location": "query",
              "type": "integer"
            }
          },
          "path": "youtube/v3/liveChat/messages",
          "response": {
            "$ref": "LiveChatMessageListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly"
          ]
        }
      }
    },
    "liveChatModerators": {
      "methods": {
        "delete": {
          "description": "Deletes a chat moderator.",
          "flatPath": "youtube/v3/liveChat/moderators",
          "httpMethod": "DELETE",
          "id": "youtube.liveChatModerators.delete",
          "parameterOrder": [
            "id"
          ],
          "parameters": {
            "id": {
              "location": "query",
              "required": true,
              "type": "string"
            }
          },
          "path": "youtube/v3/liveChat/moderators",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ]
        },
        "insert": {
          "description": "Inserts a new resource into this collection.",
          "flatPath": "youtube/v3/liveChat/moderators",
          "httpMethod": "POST",
          "id": "youtube.liveChatModerators.insert",
          "parameterOrder": [
            "part"
          ],
          "parameters": {
            "part": {
              "description": "The <code><strong>part</strong></code> parameter serves two purposes in\nthis operation. It identifies the properties that the write operation will\nset as well as the properties that the API response returns. Set the\nparameter value to <code>snippet</code>.",
              "location": "query",
              "repeated": true,
              "required": true,
              "type": "string"
            }
          },
          "path": "youtube/v3/liveChat/moderators",
          "request": {
            "$ref": "LiveChatModerator"
          },
          "response": {
            "$ref": "LiveChatModerator"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ]
        },
        "list": {
          "description": "Retrieves a list of resources, possibly filtered.",
          "flatPath": "youtube/v3/liveChat/moderators",
          "httpMethod": "GET",
          "id": "youtube.liveChatModerators.list",
          "parameterOrder": [
            "liveChatId",
            "part"
          ],
          "parameters": {
            "liveChatId": {
              "description": "The id of the live chat for which moderators should be returned.",
              "location": "query",
              "required": true,
              "type": "string"
            },
            "maxResults": {
              "default": "5",
              "description": "The <code><strong>maxResults</strong></code> parameter specifies the\nmaximum number of items that should be returned in the result set.",
              "format": "uint32",
              "location": "query",
              "type": "integer"
            },
            "pageToken": {
              "description": "The <code><strong>pageToken</strong></code> parameter identifies a specific\npage in the result set that should be returned. In an API response, the\n<code>nextPageToken</code> and <code>prevPageToken</code> properties\nidentify other pages that could be retrieved.",
              "location": "query",
              "type": "string"
            },
            "part": {
[...]
