name: invalid_link
on:
  issues:
    types: [opened, reopened]

jobs:
  close:
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v4
        with:
          node-version: 18
      - run: npm install
        working-directory: ./.github/scripts
      - uses: actions/github-script@v7
        with:
          script: |
            const script = require('./.github/scripts/close-invalid-link.cjs')
            await script({github, context})
